[2018-01-09 02:25] bigdaz commented on #3870
Hmm. That means that we won't be calling `DefaultPendingDependenciesHandler.this.pendingDependencies.notPending(key)` for those dependencies, but I guess we won't need to. Thanks for the idea: I'll try it out.

[2018-01-09 07:09] forax commented on #3770
right, it only works when reading the bytecode,
you can always never patch the array back to its initial value or patch it only after all transformations.

[2018-01-09 09:01] mnonnenmacher commented on #3666
Thanks for the explanation @bigdaz. For reference there is an open bug in the Jenkins JIRA about the inconsistent org.netbeans.modules:org-netbeans-insane:RELEASE72 artifact:
https://issues.jenkins-ci.org/browse/INFRA-900

[2018-01-09 09:19] melix commented on #2869
I wouldn't recommend on reverting this change: we're intensively reworking the dependency management engine, and any custom change in that area is likely to be very complex to handle. This change was made to make the dependency engine more consistent by choosing the best matching version in both ranges.

So let's try to understand your use case. You are saying:

So say component A depends on `[3,8

[2018-01-09 09:49] #3994 closed

[2018-01-09 09:54] sonicsnes commented on #2869
In our ecosystem, minor versions of modules are released on a regular basis; 7.1, 7.2, 7.3, 7.4, .... However, on rare occasions, we must maintain two simultaneous major versions of modules, so in addition to the new 7.x releases, new 8.x releases may also be published alongside.

Most projects attempt to pull in the latest 7.x release, and thus depend on dynamic version range [7,8). However, if t

[2018-01-09 10:03] melix commented on #2869
Right, so if a project says:

* "I depend on [7,8)", and a transitive dependency pulls in `8`, then 8 is going to be selected. This behavior hasn't changed.
* "I depend on 8", and a transitive dependency pulls in `[7,8)`, then 8 is going to be selected. This behavior hasn't changed.
* "I depend on [7,8)" and a transitive dependency pulls in `7.3`, then 7.3 is going to be selected, even if 7.4 is o

[2018-01-09 12:05] d1ss0nanz opened #4000 "Checkstyle plugin side effects by copy task for checkstyle.xml"
I use a custom task to copy the checkstyle.xml file from a dependcy JAR into the config/checkstyle directory.

The checkstyle.xml is valid and when I remove the custom task from build.gradle and run checkstyleMain everything works as expected.

But with the custom task Checkstyle is behaving strange: The ImportControl module runs amok and classifies hundreds of imports as disallowed.

The same con

[2018-01-09 13:37] bigdaz commented on #4000
There's a chance that this is the same issue as #3908,  but it's hard to tell from this bug report.
Ways that you can confirm this:
1. Run your build with Gradle 4.3.1 and see if the problem remains. If so, it's a different issue.
2. Run your build with a Gradle nightly snapshot >= Jan 10. (The fix for #3908 is not in the Jan 9 nightly)

[2018-01-09 14:24] bigdaz commented on #3870
@jjohannes It looks like our pending dependencies support requires us to track all non-pending dependencies, just in case a pending dependency is seen later. This allows us to know whether we should convert the pending dependencies into hard dependencies.

[2018-01-09 14:26] melix commented on #3870
That's correct. That's because of replacements, which are (currently) handled by the conflict resolution handler. So if you see a dependency A that is _optional_, it _may_ be replaced with a dependency _B_ which is **not**. If you only take the optionality of _A_ into consideration, then you wouldn't upgrade to _B_ properly.

[2018-01-09 14:46] eskatos commented on #2560
They do work if you don't choose "One module per source set".
If you do, then you need to change `integTest` to `integTest_integTest`.

Same thing for configurations running  `org.gradle.testing.internal.util.GradlewRunner`, change `internalTesting` to `internalTesting_main`.

[2018-01-09 14:52] BPaasch opened #4002 "Unable to resolve repository dependencies from network path in Gradle 4.4"
Gradle 4.4 is unable to resolve dependencies that are located on a network share.
This works with Gradle 4.3

### Expected Behavior
Gradle should find the dependencies in the network share according to the repository definition.

### Current Behavior

Gradle fails with an exception
Could not resolve all files for configuration ':compileClasspath'.

### Context

I'm trying to build a project with d

[2018-01-09 15:44] oehme commented on #4002
@jjohannes is this something you could look into?

[2018-01-09 17:43] bmuschko commented on #2944
@merscwog I integrated the OWASP dependency check plugin in a [step of our CI pipeline](https://builds.gradle.org/viewType.html?buildTypeId=Gradle_Check_DependenciesCheck). We'll have to improve the CVSS threshold of our libraries over time. Right now it is [set to 8](https://github.com/gradle/gradle/blob/master/gradle/dependenciesCheck.gradle#L32) which is quite high.

[2018-01-09 18:43] imabaozi opened #4003 "Play plugin should allow a custom mainClass"
### Expected Behavior
In SBT, I can specify a custom mainClass instead of the default `ProdServerStart` or `NettyServer`. I would like to do the same thing in the gradle play plugin. I would expect this to be customizable for both runPlayBinary and the playBinary distribution.

### Current Behavior
Currently runPlayBinary uses `NettyServer` and the playBinary distribution uses either `ProdServerSt

[2018-01-09 21:22] sonicsnes commented on #2869
Yep, that is our current use-case.

[2018-01-10 08:14] jjohannes opened #4006 "Add information about variants to dependencies report"
- Display selected variant in dependencies report
- Display variant matching result in dependency-insight report

Start with a spike.

[2018-01-10 09:43] warrenc5 opened #4007 "Apply Plugin in Apply From can't see outer Classpath because ClassLoader Scoping"
Hi, Thanks for gradle - it's an interesting project - coming from maven and ant land etc.  I'm having some trouble with something I thought would be straight forward with plugins.

When you have a build.gradle -> apply from sub.gradle -> apply plugin -> projects.plugins.any(p-> p instanceof <T>)

Given T is the class of a plugin applied in build.gradle->apply plugin
It never matches because the Pl

[2018-01-10 09:45] warrenc5 commented on #4007
This could be the same issue which was closed in the migration to github.

https://issues.gradle.org/browse/GRADLE-726

[2018-01-10 09:50] warrenc5 commented on #4007
Looks similar/related to https://github.com/gradle/gradle/issues/3698

[2018-01-10 14:58] oehme commented on #4007
Applying a script is much like calling a library - it doesn't (and shouldn't) know about who is calling it and what classes are visible to its caller.

To make a plugin visible to all scripts (both project build scripts and script plugins), you can put the dependency into `buildSrc/build.gradle`. Dependencies in there are visible to everyone. For a more convenient solution you could upvote https:/

[2018-01-10 14:58] #4007 closed

[2018-01-10 17:04] jjohannes opened #4009 "Maybe add performance test for gradle-metadata feature preview"
_We need to discuss what exactly this should cover and if it is worthwhile at all_

For the _advanced-pom-support_ feature preview, we added a performance experiment in #3646. Maybe we want to do something similar for this flag.

However, this feature preview, in contrast to the pom-support one, only influences what we request from a repository. As currently there are no `.module` files published,

[2018-01-10 17:09] davidsusu opened #4010 "Add possibility of binary manipulation in copy tasks"
### Current Behavior

When you are copying with a copy task, you can easily manipulate text files on-the-fly with filters defined in the copy spec. However filters support only text files via the `Reader` interface. It is possible to replace tokens, process lines, etc., and you can not perform binary manipulations such as: compression, encryption, character encoding change, and so on.

### Desired

[2018-01-10 18:03] jjohannes commented on #3723
Some insights from the performance experiment on the _exclude rule_ example project.

There is a significant negative performance impact. However, the impact is already there with the current solution, where we only consume some of the dependencyManagement blocks.
So if we improve performance in general, which we should, the difference might be less significant (probably related to performances is

[2018-01-10 18:05] jjohannes commented on #3945
I added the test and ran it a few times. The results are linked here https://github.com/gradle/gradle/issues/3723. We should wait until the activation flag is merged (#3945), before we add this test to master.

[2018-01-10 19:04] d1ss0nanz commented on #4000
Ok, I'm waiting for the next nightly and will try to reproduce the issue.

[2018-01-11 00:02] idlsoft commented on #3300
FWIW `git bisect` points to https://github.com/gradle/gradle/commit/ea6c002b071495058d9a1df93b859709d35016c7

[2018-01-11 03:49] dhoer opened #4012 "AWS Java SDK libraries are too old"
Trying to publish to an s3 bucket in Canada, but get:
[code]
This is because the `aws-java-sdk-core-1.11.6.jar` is missing the Canada region that was introduced back in 2016.

Can these libraries be updated?

[2018-01-11 03:52] dhoer commented on #4012
The workaround was to create a dockerfile that downloaded version 1.11.261 and saved them as 1.11.6:

[code]

[2018-01-11 09:23] npappassl commented on #3176
Removing the cache.properties.lock file did the trick for me

[2018-01-11 10:18] d1ss0nanz commented on #4000
Problem also gone in 4.6-20180110235838+0000.

What is the schedule for Gradle 4.6?

[2018-01-11 14:01] tomwidmer commented on #3955
@ldaley Your point 1 is #2669 that I raised last year. Work stealing sounds good if you know how to do it - I assume this means that when a test worker becomes idle, it would steal some tests (or just 1 test class at a time) from another test worker. My company suffers from this issue, so they might be willing to allocate a few hours of my time to help out.

[2018-01-11 14:44] sebersole commented on #1165
As noted multiple places, it is ridiculous that the (perpetually incubating) maven-publish plugin still does not support this.  I'm going to take a stab at plugin-ifying support for this - the Gradle team can do what they want with this (or nothing)... I will have support for it

[2018-01-11 15:51] bmuschko commented on #4000
We should release the 4.6 final version in 4-6 weeks.

[2018-01-11 15:56] xykivo opened #4018 "Gradle 4.4.x fails to build native code on Win10 VS2017 - throws an exception"
When trying to build a C++ project using gradle 4.4.1 on Windows with VS 2017 15.5.3 the build fails with an exception.
vswhere.exe is installed on the system.
There seems to be some issue with VS 2017 detection.
On gradle 4.3.1 there are no build issues with VS 2015 on the same platform.

### Expected Behavior
Building a C++ project using gradle 4.4.1 on Windows10 where the only tool chain instal

[2018-01-11 16:06] #3945 closed

[2018-01-11 16:06] #3646 closed

[2018-01-11 16:37] ghale commented on #4018
@xykivo Can you provide the stacktrace for this error (i.e. `--stacktrace` command line flag)?

[2018-01-11 16:43] novaterata commented on #3982
tarTree also extracts symlinks as 0 length files

[2018-01-11 16:46] lacasseio commented on #4018
@xykivo Could you also provide which update of VS2017 are you using? From VS2017 Update 2 onward install `vswhere.exe` which is the only way we use to detect VS2017 location. Anything prior to Update 2 will require manual installation of `vswhere.exe` in the known location for the detection to work in Gradle. We will improve this in the future, but isn't a priority at the moment.

[2018-01-11 16:47] xykivo commented on #4018
This is the stack trace:

C:\Users\dsmolars\CodeAMD\test>gradlew.bat --stacktrace build

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'test'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring

[2018-01-11 16:47] xykivo commented on #4018
I will try to install vswhere

[2018-01-11 17:05] ghale commented on #4018
It looks like it may not be finding the Visual C++ installation.  Check the content of `<VS2017_install_directory>/VC/Auxiliary/Build/Microsoft.VCToolsVersion.default.txt` - this should have a version number in it.  You should be able to use that version number to find the Visual C++ install at `<VS2017_install_directory>/VC/Tools/MSVC/<version_number>`.

I think it's not finding one or the other

[2018-01-11 17:15] lacasseio opened #4019 "Discuss the implication of modeling specific `Property` and `Provider` types"
With the `Provider`/`Property` API, we modeled some specialized types: `ListProperty`, `SetProperty`, `RegularFileProperty` and `DirectoryProperty`. We also have internal API that should be public at some point: `LockableProperty`, `LockableListProperty` and `LockableSetProperty`. The question regarding if we are creating too many dimensions that we will have to support in the future. This issue i

[2018-01-11 17:16] lacasseio commented on #3925
Excellent point @ldaley. We should have a broader discussion about this as it's not the first time this is raised. Let's discuss the implication in the this issue: https://github.com/gradle/gradle/issues/4019

[2018-01-11 17:35] #3159 closed

[2018-01-11 17:38] eriwen commented on #1165
@sebersole we certainly cannot fault you for being frustrated here. I think the very least we could do is provide some guidance for your plugin and hope it gets us closer to a long-term solution— is that something you or someone from the team can provide @oehme?

[2018-01-11 18:01] xykivo commented on #4018
The <VS2017_install_directory>/VC> directory does not exist for the latest VS 2017.

The directory structure I see on my system is:
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community
C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional

I did a clean install of both community and pro version for test purposes.
I also verified this on a new clean install on a test system.
vsw

[2018-01-11 18:07] novaterata commented on #976
Why was this rejected? Please reconsider

[2018-01-11 18:09] novaterata commented on #3982
https://stackoverflow.com/questions/11866597/how-to-prevent-cmake-from-creating-a-symlink-for-shared-libraries-on-install  For reference the symlinks I have seem to be some common CMake behavior

[2018-01-11 18:17] bigdaz commented on #4000
Thanks for confirming @d1ss0nanz. Closing as a duplicate of #3908

[2018-01-11 18:17] #4000 closed

[2018-01-11 18:27] ghale commented on #4018
I think you're missing an option on your install.  See https://blogs.msdn.microsoft.com/vcblog/2016/10/07/compiler-tools-layout-in-visual-studio-15/ for a discussion of how the compiler is laid out for VS2017.  Based on your path above, I would expect the Visual C++ metadata file to be found at `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\Microsoft.VCToolsVersi

[2018-01-11 19:03] StefMa opened #4020 "When to use gradlePluginPortal() ?"
Hey guys,

I'm not sure if a github issue is correct or I would better to start that discussion on the gradle forums.
But I'll start here. Feel free to just close it 😉

I've notices that "all" bintray plugins are also available at https://repo.gradle.org/gradle/libs/
So I've wondered why the `plugins {}` closure don't work with all the plugins which are published to jcenter.
Let's take a look at [

[2018-01-11 19:07] xykivo commented on #4018
OK, seems I was missing the CLI support install option.

Thanks for the support.

[2018-01-11 19:07] #4018 closed

[2018-01-11 21:32] sebersole commented on #1165
I'm actually pretty far along already.  One problem I am hitting is described here : https://discuss.gradle.org/t/access-generatepomfilefor-publication-from-plugin-code/25426

Hopefully I get that figured out, I can push an example of what this is looking like.

[2018-01-11 22:14] sebersole commented on #1165
To clarify... I am pretty far along doing this as a completely external plugin, using nothing but `gradleApi()`.  This could be made much more concise when/if properly integrated into `MavenPublishingPlugin`

[2018-01-11 23:32] #3908 closed

[2018-01-12 03:27] ldaley commented on #4019
I think a good goal would be to not complect the value and mechanics such as `DirectoryProperty` does. `Property` would provide purely the mechanics and be effectively monadic. At the very least, this will come at the cost of syntactic sugar (i.e. you need to unpeel the provider layer to get value for anything). It would solve the explosion problem though.

It's also worth considering that Kotlin

[2018-01-12 03:56] ldaley commented on #3955
Hi @tomwidmer,

I can't see a solution that is not complex. As @oehme points out [here](https://github.com/gradle/gradle/issues/2669#issuecomment-323402672), the simple approach of just pulling one class at a time is going to reduce throughput and is likely to be a non negligible reduction. So, something more complex is needed where test workers coordinate only when they have run out of work. A vi

[2018-01-12 05:55] kurguzov opened #4024 "Gradle crashes with NPE after task completion"
When I run `./gradlew libs:apiclient:unittest libs:wsnext:unittest` Gradle falls with exception:
[code]

### Expected Behavior
No exception is thrown, task completes successfully.

### Current Behavior
Build seems to be finished without errors, but gradle itself falls with exception above, I cannot continue to next steps (due to non-zero gradle exit code)

### Context

I perform per-commit unit te

[2018-01-12 08:49] eskatos commented on #4019
👍 to what Luke said about segregating responsibilities.

We should also keep in mind that Kotlin can't override the assignment operator. The syntactic sugar required to unpeel the provider will remain necessary, just like it is with the current api.

[2018-01-12 09:30] ldaley commented on #4019
@eskatos given this on Directory:

[code]

Would it not be possible to extend `Property<Directory>` with …

[code]

?

[2018-01-12 10:09] eskatos commented on #4019
@ldaley yes, that should be possible

[code]

So that when you have some `Property<Directory>` say named `outputDir`, which is set, you could write something like:

[code]

What I meant above is that we can't overload the `=` operator to make simple assignments look nice.

For example with the current api you must write:

[code]

instead of:

[code]

Which brings another issue. For simple assignme

[2018-01-12 10:57] oehme commented on #3955
You could certainly try the simplistic blocking approach and measure it. We have performance tests for executing fast-running tests, so any regression would quickly be caught.

[2018-01-12 11:07] ldaley commented on #4019
We are never going to be able to really support simple assignments. We have already given up on that elsewhere.

I don’t think mixing Property with factories is a good idea either. But if we had to solve that, our only option that I can see would accessing the factory from thread global state.

[2018-01-12 11:32] jjohannes commented on #1165
@sebersole for your information: We will (finally) continue working on this in the next weeks. Targeting Gradle 5.0 at the latest. I can't promise any more concrete delivery date yet, but since this work is also part of a partnership contract we have to fulfil, this will be done this year.

[2018-01-12 12:15] leomekenkamp commented on #3286
Sorry for the late response: long holiday combined with some missed email. And there is the fact that this does not happen very often. Here is the stacktrace, hope you will reopen the bug and take a look at it.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':bmgstyle-selenium:taskReport'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecut

[2018-01-12 13:01] leomekenkamp commented on #3286
And we've just seen another one, slightly different:

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':taskReport'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:70)
	at or

[2018-01-12 13:22] sebersole commented on #1165
I hope you'll forgive me if I don't hold my breath ;)

Anyway, December 2018 is a loooong time away and yet still "this year" - I need this functionality much sooner.

[2018-01-12 13:33] eskatos commented on #4019
Right, factories are the third player: `Provider/Property`, the actual "property type" and its factories.

We do already have some decoration in the Groovy DSL that allows simple assignments. But yes, we given up on that for the Kotlin DSL, for now.

[2018-01-12 13:40] jjohannes commented on #1165
@sebersole that's fine of course. I just wanted to let you know. As soon as there is progress from our side, we'll update this issue.

[2018-01-12 14:31] eskatos commented on #4019
As a general comment and at the risk of stating the obvious, I think that the solution we end up choosing must be usable 100% with the Java API, even if it requires ceremony, meaning we can create DSL syntaxes in both Groovy with e.g. decorations and Kotlin with e.g. extensions.

We should also keep in mind that with Gradle 5 requiring Java 8, we'll be able to use default methods on interfaces in

[2018-01-12 14:44] sebersole commented on #1165
Understood.  Of course if I can't get these details discussed in https://discuss.gradle.org/t/access-generatepomfilefor-publication-from-plugin-code/25426 worked out, I won't be able to go much further with this anyway.

[2018-01-12 15:01] andreas-schilling commented on #2921
Stumbled upon this as well. Re-running the report without re-running the tests would be a valid reason, but then the documentation is still a bit confusing.

[2018-01-12 17:49] dhoer commented on #4012
I would love to, but searching this repo for mentions of aws-java-sdk or gradle-resources-s3 returned nothing. Can you please point me in the right direction?

Also, is there another alternative to updating the plugins on the fly, e.g., update gradle-resources-s3 version in build.gradle file?

[2018-01-12 18:19] time4tea opened #4028 "dependency resolution fails for .aar on repository requiring authentication"
This is related to building an android project but i don't believe the problem is android specific.

For a .aar file getMetaData() issues a Head request rather than usual Get.

When challenged with 401 Authenticate, it should retry the request sending relevant credentials, however it does not, so the dependency resolution fails.

Other .jar files on the same repository are successfully retrieved,

[2018-01-12 18:21] time4tea commented on #4028
Sorry forgot version.. all recent versions, including 4.4.1.

[2018-01-12 19:58] Tapchicoma opened #4030 "Interop between Kotlin DSL and Groovy for set of enums"
### Current Behaviour
I am working on a gradle plugin written in Kotlin DSL. Here is example of plugin extension setup:
[code]
And this is from `build.gradle` of a sample project that applies that plugin:
[code]
While using string in first case works ok, using string for the second extention property produces following error: `java.lang.String cannot be cast to ExtentionEnum`

Changing `Set<Extent

[2018-01-12 20:02] JLLeitschuh commented on #4030
I was under the impression you could specify some `valueOf` method in groovy and it would reflexively call that for you. Is that not the case?

[2018-01-13 01:14] cwocwo commented on #1251
Here has a solution: use Swing modal dialog.
https://www.timroes.de/2014/01/19/using-password-prompts-with-gradle-build-files/

[2018-01-13 21:28] mmuszynska commented on #2603
@vjmaiky but how?

[2018-01-13 21:46] MTMasterGaming opened #4032 "Getting error (don't exactly know what it means)"
### Expected Behavior

So I am new to gradle and I am just trying to compile something, but I have had so many issues, and I just don't know what any of this means, even after I have tried googling it. Basically I am expecting this to work, and setup and download everything, but I am getting an error when I do gradlew setupDecompWorkspace, or any gradlew command in fact.
### Current Behavior

This

[2018-01-13 22:57] jorgeduardo27 commented on #1336
Have you found a solution for this problem? I've tried a lot of things but any of them seem to work.

[2018-01-13 22:59] jorgeduardo27 commented on #1337
I Just installed android studio on my laptop and I got the same error at the moment I created my first Application and I haven't found any solutions yet.

[2018-01-14 02:23] LucasMembrane commented on #3013
I've got Gradle 4.4.1 and it happens to me, too:

Error Error initializing classpath: Could not determine java version from '9.0.1'. (Use --stacktrace to see the full trace)
[18:17 al ~/.../groovy_tuts/helloworld]$ gradle --version
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/home/al/.linuxbrew/

[2018-01-14 02:39] blindpirate commented on #4032
According to the error log:

I think this issue is related to the project (and perhaps MDK?) you're trying to compile and there's nothing we can do on Gradle's side. I suggest you to ask in the repository you're referring to.

P.S I can run `./gradlew --version` and `./gradlew build` with the repository without any error. (JDK8).

[2018-01-14 02:39] #4032 closed

[2018-01-14 05:06] jjustinic commented on #4020
In the case of the Gradle Plugin Portal, the `plugins { }` block relies on a REST service provided by the Portal to translate the plugin ID to maven coordinates. This works for any plugin published to the portal.

While artifacts are currently hosted directly by the portal, they were originally hosted on JCenter, so there is a fallback redirect for anything not found directly in the portal. This a

[2018-01-14 16:47] oehme commented on #4020
Closing as this is a question better suited for the forum. Thanks for answering @jjustinic!

Btw Gradle 4.4 no longer uses the rest protocol, but treats the portal like any other Maven repository. It looks for plugin marker poms to map from plugin id to maven coordinates. These are auto generated when you use the `java-gradle-plugin` together with `maven-publish`. This made it possible to mirror t

[2018-01-14 16:47] #4020 closed

[2018-01-14 20:38] simiyu1 commented on #2605
I have just encountered the same error... I was performing a gradle sync for two different projects but using the same build version (27.0.2). However, when one project completed its build, the other rebuild worked just fine

[2018-01-14 22:09] adammurdoch commented on #3955
I'd be keen for this issue to not turn into a "solve the universe" type issue, so that we can address the specific problem in the title in a simple way without necessarily having to fix everything. For example, we might continue to assume that we'll have a fixed number of buckets of tests and assign tests to these buckets up front. Each available worker can grab a bucket and work on it exclusively

[2018-01-14 23:29] kageiit commented on #2304
I just ran a cleanup script on "~/.gradle" to delete files not accessed recently

[code]

Some disk space usage metrics
**Before:**
[code]

**After:**
[code]

Given that gradle now has functionality to cleanup the build cache already - https://docs.gradle.org/nightly/release-notes.html#local-build-cache-directory-cleanup-is-now-time-based

[code]

Can we do something similar for the `GRADLE_USER_H

[2018-01-15 08:13] jjohannes commented on #4028
@time4tea thanks for reporting. Can you be more specific on _all recent versions_? Could you check if this works for you with older versions of Gradle? It would be very helpful to know if this a regression and, if it is, in which version it was introduced.

[2018-01-15 08:17] time4tea commented on #4028
I didn't check every single version but i looked as far back as 2.12.

Cheers! James

On 15 Jan 2018 08:13, "Jendrik Johannes" <notifications@github.com> wrote:

@time4tea <https://github.com/time4tea> thanks for reporting. Can you be
more specific on *all recent versions*? Could you check if this works for
you with older versions of Gradle? It would be very helpful to know if this
a regression an

[2018-01-15 11:40] KIC opened #4035 "Cancelling the build should kill blocking Exec tasks"
For some tasks it is difficult to notice when the user has stopped it i.e. by the use of Ctrl + c. Becasue the daemon is still running the task keps as well running in the background. But if this task is using resources or starting a server then the resources like files or ports are blocked and te task fails. The only way to actually stop the task is killing the gradle daemon using OS tools (gradl

[2018-01-15 14:24] oehme commented on #4035
Every task should work with the daemon. Working without the daemon is way too slow. What you describe is a bug - the build cancellation should be forwarded to the task that was running instead of leaving it around in a zombie state.

[2018-01-15 14:42] oehme commented on #4035
I'm closing this as a duplicate of #1128

[2018-01-15 14:43] #4035 closed

[2018-01-15 14:51] oehme commented on #3138
Closing as there was no further response to the advice above. Feel free to reopen with more details.

[2018-01-15 14:51] #3138 closed

[2018-01-15 15:15] oehme commented on #3119
This is not a dependency of the plugin (as the issue title says), but instead the plugin creates a detached configuration (which Gradle doesn't know about before applying it) and then tries to resolve that. This only worked "by accident" in earlier Gradle versions because we executed composite builds as part of dependency resolution, which was error prone and not easy to parallelize. It has never

[2018-01-15 15:15] #3119 closed

[2018-01-15 17:57] melix commented on #3820
So here's a summary of the spikes I've worked on for reporting. There are basically 4 different things:

1. adding a description to _rules_
2. adding a description to _dependencies_ and _constraints_
3. making the difference between selection by a constraint and a selection by a dependency
4. showing rich version constraints in the report

My experiments focused mostly on 1., 2. and 3. I have lear

[2018-01-15 20:47] cslee00 opened #4041 "Gradle fails to obtain AWS IAM permissions when running in AWS CodeBuild"
When running a Gradle build under AWS CodeBuild that uses Gradle's built-in AWS support it fails to obtain credentials:

[code]
Results in:
[code]

This may be related to info from here: https://docs.aws.amazon.com/codebuild/latest/userguide/troubleshooting.html#troubleshooting-versions, which indicates that AWS Java SDK 1.1.16 or higher is required to pickup credentials (Gradle 4.4.1 is using 1.1

[2018-01-15 21:31] bmuschko commented on #4041
Thanks for making us aware of the issue. I am closing this as it is a duplicate of https://github.com/gradle/gradle/issues/4012. A pull request has already been submitted: https://github.com/gradle/gradle/pull/4029.

[2018-01-15 21:31] #4041 closed

[2018-01-15 21:39] bmuschko commented on #4024
Could you please provide more information about your environment (OS, console etc.) and the runtime flags (`--parallel`, `--configure-on-demand` etc.) you are using? Can you confirm that the issue already occurs with Gradle 4.0?

[2018-01-15 21:51] bmuschko commented on #3972
Did you try the https://github.com/etiennestuder/gradle-credentials-plugin yet?

[2018-01-15 22:02] bmuschko commented on #3869
@jjohannes @bigdaz @melix Could you guys provide some insight here?

[2018-01-15 22:03] bmuschko commented on #3841
@sormuras Thanks for checking again. Did the issue occur again? If it didn't, then we might just want to close the issue.

[2018-01-15 22:05] sormuras commented on #3841
I'll re-open this issue if it pops up in the future.

[2018-01-15 22:05] #3841 closed

[2018-01-16 00:35] ldaley opened #4042 "Deprecation summary notice should be emitted before build scan link"
This is the output with 4.5rc-1:

[code]

The build scan link should be the last thing so that accessing it is predictable.

Also, we should tighten the language here. The phrase “break the build” is imprecise and we should avoid using it. Instead we should say something like:

[code]

[2018-01-16 01:46] ddimtirov opened #4043 "A corrupted repository sends the Gradle resolver in infinite loop"
### Expected Behavior
When a POM does not match its repo location, Gradle should fail the resolution with clean error message, ideally outputting a snippet showing how to use manual metadata (client module) to paper over the faulty repository.

### Current Behavior
Gradle falls in endless recursion until it exhausts the memory and then prints a huge trace of "Ivy resolver failed to initialize" err

[2018-01-16 07:43] kurguzov commented on #4024
MacOs High Sierra, 10.13.2 (17C88) on my mac, as well as on teamcity build agents in docker (Linux)
I've run both with --parallel and not (maxParallelForks = 1): it does not affect the result.

However, If I add --configure-on-demand option, the problem disappears.

[2018-01-16 08:14] melix commented on #3869
A list of version ranges is not a valid selector, so no wonder the dependency resolution engine fails. One option is to use the new `withDependencies` block to fix bad metadata. See https://github.com/gradle/gradle/blob/master/gradle/dependencies.gradle#L177-L179 for examples.

Note that this is a non documented API (documentation is planned for 4.6).

[2018-01-16 13:15] aalmiray opened #4046 "JavaDoc task does not copy "doc-files" subdirectories"
### Expected Behavior
Given the following project layout

    .
    ├── build.gradle
    └── src
        └── main
            ├── java
            │   └── com
            │       └── acme
            │           └── Main.java
            └── javadoc
                ├── com
                │   └── acme
                │       └── doc-files
                │           └── javarockstar.gif

[2018-01-16 14:51] hallatech commented on #3138
Thanks, I had to step away from this for quite awhile.
Yes we are sharing the gradle cache between the host and the VM, but mostly to allow us to share the cache over time between many VMs to reduce the time to redownload all dependencies and gradle itself. This has actually worked fine for years and still works in a Docker environment using the host's gradel cache as a shared volume in 1 or more

[2018-01-16 14:51] hallatech commented on #3138
I'll review this when getting back to the upgrade task. Thanks again.

[2018-01-16 16:17] #3870 closed

[2018-01-16 16:42] #2402 closed

[2018-01-16 16:50] jjohannes opened #4049 "Document Gradle module metadata"
- valid values for public attributes - org.gradle.usage and org.gradle.status
- ...

[2018-01-16 17:32] eskatos opened #4050 "DomainObjectCollection#withType type parameter should be less restrictive"
### Current Behavior

[DomainObjectCollection.java](https://github.com/gradle/gradle/blob/b0032a8a355379e5868b22d660f8be5cf857168e/subprojects/core-api/src/main/java/org/gradle/api/DomainObjectCollection.java#L34)
[code]

`<S extends T>` prevents from querying the collection by a type shared by actual elements of the collection that is out of the type hierarchy of `T`.

For example, using the `tas

[2018-01-16 17:39] mac-pro opened #4051 "Add option for max daemons"
### Expected Behavior

Would you please add option for setting max daemon instances? For example in `gradle.properties`:

[code]

So when Gradle tries to start new daemon, it should check current active daemons and proceed to next step, which can be configured as well:

- `org.gradle.max-daemon-response`: can be `wait` (wait for a free slot to be available) or `break` (stop the build).

### Curren

[2018-01-16 22:48] dforsl commented on #2939
Hi! Are there any plans for this? Truly looking forward to intra-project parallelism for java and scala!

[2018-01-16 23:02] domcc opened #4053 "Project dependencies failing to resolve correctly in v4+ works in 3.5"
### Expected Behavior
We have a multi project gradle build setup. We can add additional projects into the multi project setup by cloning a repo into the multi project setup.
mymultiproject
--- submultiproject
----- subProj1
----- subProj2 (Has compile project reference to ":submultiproject:subProj1")
----- subProj3 (Has compile project reference to ":submultiproject:subProj1" and ":submultiproject

[2018-01-16 23:37] bigdaz commented on #4043
Thanks for reporting @ddimtirov. Unfortunately,  I can't reproduce this failure using the second set of instructions you provided. Here's my attempt: https://github.com/bigdaz/gradle-4043

When I execute `gradle -g home resolve`, the build works fine.

Can you please confirm that you can see this failure using a simple file repository?

[2018-01-16 23:39] big-guy commented on #4053
@domcc Thanks for noticing the broken link.  I've fixed it.  Could you try creating a build scan with Gradle 3.5 and Gradle 4.5-rc-1 and sharing it?

Could you share any of your configuration for subProj1 and subProj2?

[2018-01-17 00:44] liutikas opened #4055 "Composite build bug for layered projects"
Gradle composite builds have a bug for layered projects.

### Expected Behavior
Composite builds allow to use the same composite dependency from multiple projects

### Current Behavior
See below.

### Context
We are trying to break down our builds into multiple composite builds. We are hitting an issue where we want to use and resolve the same project in multiple configurations.

### Steps to Repr

[2018-01-17 00:50] devishree90 opened #4056 "How to access cache key for any gradle task?"
I'm working on gradle based play project and really interested in building something for metrics around cache misses/hits over any specific gradle task.

Does gradle provide any api to access cache key for Task objects?

**Context**
Currently, I can't establish association of cache keys & tasks. I'm trying to build something for metrics around cache misses/hits for any specific gradle task

[2018-01-17 02:51] blindpirate commented on #4056
I'm afraid there's no explicit API to fulfill your demand. However, you can get some of these information from the log, e.g. `UP-TO-DATE`/`NO-SOURCE`. If you run Gradle with `--info`/`--debug` you can get even more information about cache miss/hit and why they're missed (which property of the task is out-of-date). Please let me know if I didn't make myself clear.

[2018-01-17 03:35] bigdaz commented on #3951
Thanks for the comprehensive report @sonicsnes. Your repo made it easy for me to reproduce this issue, and confirm that it is a regression from Gradle `4.3.1` -> `4.4`.

[2018-01-17 03:41] big-guy commented on #4055
This is working as designed.  Resolving dependencies at configuration time is problematic in general (even without composite builds in the mix).  In this particular case, when evaluating projectA, we haven't evaluated projectB yet, so we don't know which publications are available (and don't do the dependency substitution).  Since projectA doesn't have any repositories defined, there's no place to

[2018-01-17 03:41] #4055 closed

[2018-01-17 03:57] big-guy commented on #4056
It's not directly the same thing, but you can [export data](https://docs.gradle.com/enterprise/export-api/) out of build scans and visualize it the way you want.  This is what Sam talks about in this Gradle Summit talk:
https://www.youtube.com/watch?v=jXJvX0F5hTs

[2018-01-17 03:57] #4056 closed

[2018-01-17 04:01] blindpirate commented on #4055
Thanks for reporting, that's kind of expected behavior.

When you run `gradle tasks` in `projectA`, `projectA/settings.gradle` will be evaluated so Gradle knows, "oh, I should use projectB to substitute the dependencies projectA requires". When you run `gradle tasks` in root project, `projectA/settings.gradle` won't be evaludated so Gradle can't know that substitution. In your case, why not use su

[2018-01-17 08:05] domcc commented on #4053
I have managed to reproduce the problem in a cut down project. I will post the demo application as soon as i can. I now know the cause so will try and cut it down further.
Basically in the example i posted above. It project1 has defined a task like shown below then it causes the failure i have reported:
[code]
It looks like this causes the project1/build.gradle file to be run at which point it doe

[2018-01-17 08:12] oehme commented on #4051
Could you elaborate why you are seeing too many daemons and why your machine can't handle them?

Gradle only starts a new daemon if projects use different Gradle versions or incompatible JVM args or other daemons are currently busy.

Also, you can adjust the memory settings of the daemon to match what your project needs. For smaller projects you can go as low as 128MB heap.

[2018-01-17 12:58] mac-pro commented on #4051
Hi @oehme

My machine has an Intel i5 with 2 cores, 6 GiB of RAM. I run a worker program 24/7 which takes 20% CPU usage. So I have 80% left for Gradle daemons and normal tasks.

I give each Gradle daemon 1.5 GiB of RAM to work. I tried lower values, but the build often crashed with `OutOfMemoryError` (if I remember correctly, it's a long time ago), of it just hung up. 1.5 GiB is the smallest value

[2018-01-17 14:27] oehme commented on #4051
An 800 module build probably needs more than 1.5GB of RAM. Please analyse it using [build scans](scans.gradle.com) or the [Gradle profiler](https://github.com/gradle/gradle-profiler). My guess is that your machine is just spending all its time garbage collecting, which may be why the build takes so long. Fixing that might fix your other problems.

Regarding the power downs, you might want to take

[2018-01-17 14:56] mac-pro commented on #4051
Thank you I understand. I know my machine is old, that's why I have the Mac Pro avatar  :-D  (though they just released iMac Pro).

But I still love this could-be-feature. I think it sounds right, not just for my own needs.

[2018-01-17 15:01] jjohannes commented on #4002
Confirmed. Thanks for reporting @BPaasch. Running against a repository folder that does not exist reveals the issue in the error message.

**4.3.1**
[code]
**4.4.1**
[code]
One `/` is missing in 4.4.1. Also if you prefix the url with more `////` the results stay the same. There must be a change in url parsing that caused this. And we obviously miss a test case.
I will dig up the corresponding chan

[2018-01-17 15:47] oehme commented on #4051
A daemon count doesn't really say much. A single daemon with lots of work could already be too much. On the other hand even a slow system can be fine with a dozen small daemons. So if we want limits, we should instead talk about global CPU/memory limits. That might be useful, but won't help for your issue either I'm afraid. Your system is already overloaded with the 800 module build alone. Until t

[2018-01-17 15:47] #4051 closed

[2018-01-17 17:06] BPaasch commented on #4002
@jjohannes thanks for looking into this.  Will this be fixed in a 4.4.x release (perhaps 4.4.2)?

[2018-01-17 17:16] oehme commented on #4002
Not 4.4.x (4.5 is due tomorrow), but we might hold up 4.5 for this, depending on whether there is any workaround.

[2018-01-17 17:38] jjohannes commented on #4002
I found the cause: e13e45a08759242b56006f8a2b6ce46753434b2c

I have a fix ready - https://github.com/gradle/gradle/compare/jjohannes/fix-4002
But I want to add more test coverage.

This is only reproducible on Windows. I don't think there is a workaround.

[2018-01-17 18:34] eriwen commented on #4042
Wow, very nice writing on the deprecation message @ldaley. I vote we put this in a 4.5 RC2.

[2018-01-17 18:57] devishree90 opened #4061 "How to access cache keys of gradle tasks?"
I'm working on gradle based play project and really interested in building something for metrics around cache misses/hits over any specific gradle task.

Does gradle provide any api to access cache key for Task objects?

[2018-01-17 19:26] xenoterracide opened #4062 "Gradle ChangingModules caching (with kotlin?) is not invalidating properly"
I'm not sure if this is explicitly a kotlin-dsl bug or not, gradle 4.4.1, https://github.com/gradle/kotlin-dsl/issues/648

https://discuss.gradle.org/t/gradle-caching-with-kotlin-is-not-invalidating-properly/25249

### Expected Behavior

gradle should refetch changing modules when they're not set to be cached, every time, or if I have the expiration set to a minute, then after a minute.

### Curre

[2018-01-17 19:43] bigdaz commented on #4062
Based on the fact you're using the Spring Dependency Management plugin, I suspect that you're hitting https://github.com/gradle/gradle/issues/3019. You could help confirm this by [setting `cacheChangingModulesFor` in the `dependencyManagement` block](https://github.com/spring-gradle-plugins/dependency-management-plugin#configuring-the-dependency-management-resolution-strategy) _as well_.

If this

[2018-01-17 21:30] bmuschko commented on #4061
There's not a public API to retrieve that information. I am assuming you mean the build cache? You might want to look into [Gradle Enterprise](https://gradle.com/build-cache) that supports metrics in that regard.

I am going to close this issue. It's better suited as a question on the [Gradle forum](https://discuss.gradle.org/).

[2018-01-17 21:30] #4061 closed

[2018-01-17 21:32] bmuschko commented on #4053
You are iterating over the configuration `testCompile` during Gradle's configuration phase. That in turn means that the configuration needs to be resolved. I am a bit unsure why it would cause an exception. I'd try to evaluate the filtered list dependencies to a later time by passing a `Closure` to the `from` method.

[code]

[2018-01-17 21:38] lipnitsk opened #4063 "Can't build gradle from sources from behind a proxy"
See https://discuss.gradle.org/t/cant-build-gradle-from-sources-because-of-proxy/1859 and https://issues.gradle.org/browse/GRADLE-2463 for history.

From GRADLE-2463:
The problem comes in for any integration test that needs to hit the network. The user will have either setup their proxy info in ~/.gradle/gradle.properties, «gradle source»/gradle.properties or via env vars, but the integration test

[2018-01-17 21:42] lipnitsk commented on #4063
Is #2571 related to this also?

[2018-01-17 21:44] facewindu opened #4064 "Presence of several included builds affects build behaviour unexpectedly"
The attached composite build suffers from 2 issues

Issue 1: one of the test task is not executed (and it is, when removing the included builds)
Issue 2: the MultiBuildFailures exceptions doesn't report exceptions from all the included builds.

The attached project is set-up like
-  root build
    - subproject
    - other.subproject
    - nested.build (included build)
      - nested.build.subproje

[2018-01-17 21:44] trustin commented on #2039
I can reproduce this issue reliably with this project: https://github.com/line/armeria and the following command:

   ./gradlew --console rich --parallel clean check

At some point, it stops updating the progress, especially the test progress.

The problem does not show up if I remove the `--parallel` option.

[2018-01-17 21:48] bmuschko commented on #4046
I noticed that you sample project produces an issue:

[code]

Fixing the issue and looking at `build/tmp/javadoc/javadoc.options` includes the parameter `-docfilessubdirs`:

[code]

Seems like this is a bug and has been around for a while. Would you be interested in contributing a fix?

[2018-01-17 21:55] bmuschko commented on #4030
Looks like a bug to me. From my perspective the handling of a single enum value vs. `Collection` of enum values should behave consistently.

[2018-01-17 21:56] mjoberg opened #4065 "project.delete deletes in symlinkd directories on Windows 10"
If using Cygwin with the environment variable CYGWIN set to “winsymlinks:nativestrict”, symlinks start to work like on Linux. A guess is that this started to work without being priviliged in the version “Creator’s Update”, arriving in September 2017.

Now, deleting a directory with project.delete (where followSymlinks is false by default) on Windows Version 10.0.16299.125, may not work correctly.

[2018-01-17 21:59] domcc commented on #4053
@bmuschko should the entire task be put in a doLast {} block or would that be incorrect?

[2018-01-17 22:06] lipnitsk opened #4067 "Test filtering is slow with forkEvery set to 1"
See https://discuss.gradle.org/t/test-run-slow-when-running-with-test-com-example-footest/18489 for history.

The proposed solution was to potentially make a change to `org.gradle.api.internal.tasks.testing.detection.DefaultTestExecutor` to filter tests before forking the JVM. I will try to take a stab at it, so creating this issue to reference in the PR.

[2018-01-17 22:07] bmuschko commented on #4028
Would you mind putting together a little sample project that demonstrates the issue?

[2018-01-17 22:07] lipnitsk commented on #4067
Related to #3851

[2018-01-17 22:11] bmuschko commented on #4053
@domcc None of the method calls should need to go into an action. You are effectively deferring the execution with the `Closure` if you are using it to call the `from` method.

[2018-01-17 22:18] bmuschko commented on #4067
I think that's the same issue https://github.com/gradle/gradle/issues/3851. I am going to close your issue as duplicate. Looking forward to your PR!

[2018-01-17 22:18] #4067 closed

[2018-01-17 22:23] bmuschko commented on #4024
Thanks for the additional information. What version Gradle produces the stack trace you posted above? Could you maybe try to simulate the issue with a sample project? I see that you already tried but it would be super helpful to have a reproducible example.

[2018-01-17 22:59] eriwen opened #4068 "Allow user to rerun only failed tests"
### Expected Behavior
Like SBT, I'd like to optionally execute only the tests that failed. Like https://github.com/gradle/gradle/pull/2036, but also supporting the `check` task.

We might implement this on the `Test` task first to avoid the complexity of trying to implement for all ecosystems at once.

### Current Behavior
As of Gradle 4.5, Gradle always runs all tests when a `Test` task is execut

[2018-01-18 00:39] ldaley commented on #4064
@facewindu it's too late in the release cycle to change this. We are just going to have to wear the cost of adapting on our side.

[2018-01-18 01:17] #3526 closed

[2018-01-18 02:35] adammurdoch opened #10600 "GitVersionControlSpec.setUrl(String) should convert the string parameter to a URI the same way as Project.uri(String)"
All conversion methods in the DSL should behave the same way. One option for achieving this would be to remove the ad hoc conversion method and have build logic simply use `Project.uri()` instead.

[2018-01-18 02:37] adammurdoch opened #10567 "Prevent changes to VCS mappings once they have been used for dependency resolution"
We should avoid allowing inputs to dependency resolution to change after they have taken effect, as this can result in some confusing behaviour that is hard to diagnose. VCS mappings are one such input.

[2018-01-18 02:54] domcc commented on #4053
I have uploaded same project showing the problem between gradle 3.5 and gradle. 4.0.
[multiprojproblem.zip](https://github.com/gradle/gradle/files/1641435/multiprojproblem.zip)

I have resolved the issue as suggested above so its more a curiosity as to why it works in 3.5 vs 4+.

[2018-01-18 03:16] ldaley opened #4070 "Console output when compiling scripts should not contain excessive noise"
This is the kind of progress update we provide when we need to compile a build script:

[code]

There are a few problems with that:

1. The absolute path is noise
2. We are saying it twice
3. WTF is a local compilation cache? WTF is a cross build script cache? (i.e. this is irrelevant to users).

This should just be something like:

[code]

We should try to use meaningful paths, not say anything a

[2018-01-18 03:43] sebersole commented on #1165
I may end up using Bintray after all, in which case all of this work was not necessary for me :smile:

But in the meantime, here is the working code: https://github.com/sebersole/gradle-clean-room2/tree/master/buildSrc

[2018-01-18 04:58] kurguzov commented on #4024
Yes, I do understand, however without understanding the reason it is very expensive to build a sample project. Meanwhile, I can still reproduce it on my project, and if some other experiment can be helpful, I can perform it and provide you with results.

[2018-01-18 08:00] adammurdoch opened #4071 "Restore the vertical whitespace before each task header in the rich console"
The vertical whitespacing makes it easy to scan the output and quickly comprehend the output as several useful chunks. Removing the vertical whitespace leaves behind an un-parsable wall of text with some undifferentiatable bold chunks embedded in it.

### Expected Behavior

The rich console should make very clear to the user which task or operation a logging output belongs to. One effective way to

[2018-01-18 08:30] oehme commented on #4071
I think this is an unintended side-effect of this well-meaning PR https://github.com/gradle/gradle/issues/3325.

We should probably back this out for 4.5

[2018-01-18 08:36] oehme commented on #4068
Duplicate of #2644

[2018-01-18 08:36] #4068 closed

[2018-01-18 08:43] oehme commented on #4053
Remember to specify `testCompile` as an input to your task, Gradle doesn't know you're using it in the closure.

[code]

What you had before might have worked by accident before, but was definitely not supported.

[2018-01-18 08:43] #4053 closed

[2018-01-18 08:55] oehme commented on #2571
The proxy settings also need to be set in `gradle/wrapper/gradle-wrapper.properties`, so the wrapper download will use them. The `gradle.properties` are only used for the actual build that is performed by the downloaded distribution later.

The reason we don't check for gradle.properties is to keep the wrapper code simple. Otherwise it would have to understand all the different Gradle command line

[2018-01-18 09:14] oehme commented on #2571
I added some fake proxy settings to my `~/.gradle/gradle.properties` and loaded a project with the TAPI. I got a proxy error as I expected. Any other steps I might be missing?

[2018-01-18 09:27] eskatos opened #4073 "There should not be any difference in behavior when addressing tasks by type or name"
Difference in behavior between:

[code]

and

[code]

### Expected Behavior
Addressing a task by type or name and setting the `enabled` flag has the same behavior.

### Current Behavior
Addressing a task by type and setting the `enabled` flag doesn't work.
Addressing a task by name and setting the `enabled` flag works.

### Context
This was reported against `gradle/kotlin-dsl` first but it applies

[2018-01-18 09:46] oehme commented on #4073
`BootJar` extends `Jar`, so the second `withType` statement reactivates it. This is just expected behavior.

[2018-01-18 09:46] #4073 closed

[2018-01-18 09:50] oehme commented on #4063
#2571 is unrelated (and I can't reproduce it either). The tests use their own user home to be isolated, so your user home settings won't affect them.

You don't need to run the tests to build Gradle from source, `gradle install` is enough. If you do want to run the tests in your environment, I suggest you adjust the `AbstractGradleExecuter` test fixture to add the arguments you need.

I don't thin

[2018-01-18 09:50] #4063 closed

[2018-01-18 09:54] eskatos commented on #4073
Right! Thanks Stefan!

[2018-01-18 10:05] oehme commented on #4064
I'm ready to hold up 4.5 if this is a regression in this release. If the problem already existed in 4.4, then I think we should postpone the fix to 4.6.

[2018-01-18 10:43] bamboo commented on #4070
We have similar logic in the `kotlin-dsl`:
https://github.com/gradle/kotlin-dsl/blob/c233c2e4741a92c1e4fdce2a08d3b8a6b85d2d4d/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/CachingKotlinCompiler.kt#L210

[2018-01-18 10:57] nyfd commented on #3290
We're having the same error in our project (Gradle 4.4.1); downgrade to Gradle 3.5.1 helped

[2018-01-18 11:03] facewindu commented on #4064
@oehme I ran it with 4.4.1 and it shows both issues too.

[2018-01-18 12:05] rhart commented on #4061
@devishree90 this information is available per build in both [Community](https://scans.gradle.com/get-started) and [Gradle Enterprise](https://gradle.com/build-scans) build scans.  See https://scans.gradle.com/s/h2ily574bqb4g/performance/buildCache and https://gradle.com/enterprise/releases/2017.5#analyze-and-optimize-build-cache-performance

If you want metrics across all builds, then Gradle Ente

[2018-01-18 12:59] Crazyjavahacking commented on #3946
We were unable to investigate why the memory leak is happening. It just does not make much sense.

My assumption is that some code is storing strong reference to Excelsior JET Gradle plugin which stores reference to `gradle.api.Project` which stores references to spring objects.

Can you please help us with the investigation?

Links:
1. [Heap dump](https://drive.google.com/file/d/1FPMMCXFbucyTzHaK

[2018-01-18 14:09] aalmiray commented on #4046
I've pushed a fix for the issue found in `overview.html`.
I've also run the plain javadoc command against the sources, unexpectedly the results is not what it should be.

    $ javadoc -classpath '/private/tmp/gradle-javadoc-bug/build/classes/java/main:/private/tmp/gradle-javadoc-bug/build/resources/main' \
     -d '/private/tmp/gradle-javadoc-bug/build/docs/javadoc' \
     -docfilessubdirs  \

[2018-01-18 16:05] aalmiray commented on #4046
I used Java8u151 and Java8u162. What I can gather from the current investigation is that Maven performs extra work to copy `doc-files` while Gradle appears to rely on the underlying mechanism provided by the Javadoc tool.

If this is the case then "technically" Gradle is doing the right thing, simply passing all valid flags an options to the Javadoc tool. However the next effect is that Gradle und

[2018-01-18 16:17] mkobit commented on #1050
Looking at https://github.com/gradle/kotlin-dsl/issues/429 , should this also be resolved?

[2018-01-18 17:01] jjohannes commented on #4002
@BPaasch the fix will be in 4.5. We are going to release 4.5 RC2 shortly. Please give it a try to confirm that the fix works for you.

[2018-01-18 17:02] #4002 closed

[2018-01-18 17:02] eskatos opened #4075 "Consider removing Groovy methods from the Gradle Java API"
In particular `Closure` taking methods. They should use type safe signatures instead like `Action<T>`, `Spec<T>` etc..

The benefit to users is less information overload when asking for code completion, reading the docs, etc.. And make the Gradle API an example of what should be done in community plugins.

This will require a deprecation cycle.

[2018-01-18 17:15] moserp opened #4076 "Properties are no longer (4.3+) evaluated in with ivy publications block post."
### Expected Behavior
Properties used within fields/attributes in a publication block for Ivy publishing should be evaluated to their value

### Current Behavior
From 4.3 onwards a property is not evaluated, you get the value "null".  In versions 4.2.1 and before you would get the value of the property as set in gradle.properties or the ext {} block

### Steps to Reproduce (for bugs)

[code]

Befo

[2018-01-18 17:33] bamboo opened #9278 "Kotlin DSL generate extensions taking a `KClass` for methods in the buildscript API classpath taking a `java.lang.Class`"
Similar to how https://github.com/gradle/kotlin-dsl/issues/221 does it for the Gradle API.

[2018-01-18 17:45] bamboo opened #9277 "Provide convenient configuration of task extensions and conventions in Kotlin DSL"
Example with configuring the Jacoco Test Task extension:

before:

[code]

after:

[code]

[2018-01-18 17:54] lipnitsk commented on #4063
Thanks for the help, I was able to run the integration tests by adding the following to `AbstactGradleExecuter.java`:
[code]

[2018-01-18 18:28] eskatos opened #4078 "Types of build model elements contributed by init scripts conflict with types from project build scripts"
Applying a plugin `A` both from an init script and from a project build script can cause class cast exceptions when the build logic loaded in the project script classloader tries to reference any object created by plugin `A` in statically typed manner using a type defined by plugin `A` or one of its dependencies.

For example, applying the build scan plugin in both init.d and Kotlin build script f

[2018-01-18 18:37] eskatos opened #4079 "Internal types should not leak through core plugins extensions"
### Expected Behavior
No internal types are leaked through core plugins extensions.

### Current Behavior
Two extensions in Gradle built-in plugins expose internal Gradle types:

- `defaultArtifacts` has a public type of `org.gradle.api.internal.plugins.DefaultArtifactPublicationSet`
- `toolChains` has a public type of `org.gradle.nativeplatform.toolchain.internal.NativeToolChainRegistryInternal`

[2018-01-18 18:40] mkobit commented on #4075
In the same vein, please consider (at some point) removing the `Object` accepting methods. To me it has proven to be a non-stop source of confusion for myself and others I have worked with:

 - [`project.file`](https://docs.gradle.org/current/javadoc/org/gradle/api/Project.html#file-java.lang.Object-) can take 8 different types
 - [`project.files`](https://docs.gradle.org/current/javadoc/org/gradl

[2018-01-18 21:05] adammurdoch commented on #4071
It was pretty clear from the change to the functional test in that PR that this would happen. We shouldn't just change functional tests that happen to break without understanding the intent of the test and the impact of the change.

[2018-01-18 23:06] eriwen commented on #2644
I'd like to suggest that @acourtneybrown pick this up as a very nice compliment after #1310

[2018-01-19 01:32] ldaley commented on #4078
This is very likely going to be painful to resolve.

[2018-01-19 05:50] tshasc opened #4085 "Upgrade to 4.5-RC1 failed due to "Multiple input file properties with name '$1'""
I tried to upgrade Gradle from 4.3 to 4.5-RC1, I got below error when I run below command.
seems this error related to https://github.com/gradle/gradle/pull/3720, how can I fix the issue and upgrade to 4.5-RC1 successfully?

@wolfs

**Command**
./gradlew -S :proto-converter:generateProto

**Result**

[code]

[2018-01-19 06:41] domcc commented on #4053
Thanks for your help. @oshme What would be the inmpact of not adding the line
`inputs.files configurations.testCompile` ?
Would it just result in the task running for other configurations?

[2018-01-19 06:54] adammurdoch opened #4086 "Remove the build options that enable advanced POM support and Gradle metadata support"
These options should be enabled in the model of the build, that is via the DSL or APIs, and not injected from the environment. We want to try very hard to avoid a situation where something that affects the _meaning_ of the build is not defined in the build itself. Both of these features fit into this category, as they affect how Gradle interprets the inputs of the build and how consumers interpret

[2018-01-19 06:55] adammurdoch commented on #4086
"build option" here means the Gradle property and command-line flags, not the ability to enable or disable the feature.

[2018-01-19 12:15] shehabic-work opened #4087 "Is there a way to apply a plugin directly from a sub-project or module without publishing?"
### Expected Behavior

I would like to know if something like:
`classpath project(":project-or-module-name")` would be possible just like normal dependencies when referenced the same way.

### Current Behavior

Currently if you're developing a plugin, and assuming that you'll be applying the plugin in another module/project, you have to first comment out the code that applies the plugin, or point

[2018-01-19 13:17] TriPhoenix commented on #1849
For others that keep hunting this one, in our project we actually seem to have encountered this due to a JDK bug (https://bugs.openjdk.java.net/browse/JDK-8144185) which apparently has been fixed only in JDK 10, the (currently dead link) by yborovikov points to the same issue in the end IIRC.
Specifically the JDK compiler generates invalid class content that trips up asm and other code analysis to

[2018-01-19 15:26] bmuschko commented on #4087
No, that's currently not possible. You'd put your plugin into `buildSrc` instead. You can find more information [here](https://docs.gradle.org/current/userguide/custom_plugins.html).

[2018-01-19 15:26] #4087 closed

[2018-01-19 15:29] blindpirate commented on #3946
@Crazyjavahacking I've downloaded your heap dump, thanks for reporting. After some check, I think it's normal for such a big project (seems 560+ subprojects) to cost 800MB memory. I didn't see anything particularly abnormal. Have you tried to set a larger `Xmx` in your `gradle.properties`? Or maybe you could provide us with more details of your project in case there's anything I missed.

[2018-01-19 15:36] Crazyjavahacking commented on #3946
It's normal, indeed. However without applying plugins once I perform resync in IntelliJ most of the objects are freed (as of JVisualVM graphs).

And Excelsior JET Gradle plugin is not really doing anything special in terms of memory, so it should not block objects to be freed by GC.

What kind of information would be helpful for you?

[2018-01-19 15:40] bmuschko commented on #4085
Can you please provide an example project?

[2018-01-19 15:59] big-guy commented on #4087
You could also use [composite builds](https://docs.gradle.org/current/userguide/composite_builds.html) for this.  There's a sample using a composite build for plugin development: https://github.com/gradle/gradle/tree/master/subprojects/docs/src/samples/compositeBuilds/plugin-dev

The idea is that the plugin is a separate build that's just included into the other build. You don't have to go through

[2018-01-19 16:28] tshasc commented on #4085
@bmuschko
1. I will try to provide an example project.
2. The exception came from below, I wonder could u give me an example for possible inputFileProperty/propertyName so that I can check whether my code may cause the issue

 public void visitInputFileProperty(TaskInputFilePropertySpec inputFileProperty) {
        String propertyName = inputFileProperty.getPropertyName();
        if (!names.add(p

[2018-01-19 16:28] eriwen commented on #4085
@tshasc It would help us narrow the problem if you would try to reproduce this on 4.4.1 to understand if the regression exists in 4.5. Additionally, a [build scan](https://scans.gradle.com) (if you can get one) would provide lots of helpful configuration and environment information.

[2018-01-19 16:57] tshasc commented on #4085
@eriwen
in fact, I have a scan result, sorry I don't want to share everything at this moment.
but I am curious which section may help you for the investigation, I can try to provide that part

I updated to 4.4.1 and  "./gradlew -S :proto-converter:generateProto" works for me
./gradlew wrapper --gradle-version=4.4.1

Seems this is a regression?

[2018-01-19 17:10] bamboo opened #9276 "Kotlin DSL script resolver serves the right classpath for Kotlin script with arbitrary object target"
Based on a file name convention.

This is the IDE counterpart for https://github.com/gradle/kotlin-dsl/issues/659.

[2018-01-19 17:29] eriwen commented on #4085
@tshasc Thanks for the additional information.

Regarding a build scan, I understand your hesitation around IP. The "Switches" and "Infrastructure properties" and most important for tracking this down because they help us narrow down the particular configuration and environment so we can reproduce this ourselves.

My understanding is that someone from our build cache team is looking at this, so we

[2018-01-19 17:53] bamboo commented on #4019
These Kotlin extensions could be nice as well:

[code]

[2018-01-19 18:29] tshasc commented on #4085
@eriwen below are the two sections what you want, i wish it could help

1 active switch
Parallel 	On
Build Cache 	Off
Configure on demandEnables configuration on demand for multi-project builds, reducing overhead for decoupled projects. 	Off
Continue on failure 	Off
Continuous 	Off
Daemon 	Off
Dry run 	Off
Offline 	Off
Re-run tasks 	Off
Refresh dependencies 	Off

13 infrastructure properties
Opera

[2018-01-19 19:44] lptr commented on #4085
Hi @tshasc, thanks for the report, I'm taking a look now. Why do you think this is related to #3720?

[2018-01-19 19:45] lptr commented on #4085
What would also be very useful for me is if I could understand a bit more how your `:proto-converter:generateProto` task is configured.

[2018-01-19 19:49] forresthopkinsa commented on #3060
I'm running Gradle 4.4 and still encountering this problem.

[2018-01-19 19:59] lptr commented on #4085
I tried running [this example project](https://github.com/google/protobuf-gradle-plugin/tree/master/exampleProject) with Gradle 4.5-rc-1 but it works fine, so I'm guessing the issue might be triggered by something specific in your build.

[2018-01-19 19:59] warrenc5 commented on #4007
Thanks Oehme,

Just to be clear this is not a "use" issue, this is a design limitation.

My restriction is that I can only apply plugins, and unfortunately, I cannot add dependencies to the "top level" gradle.  This is not currently a use case supported by gradle.

The problem appears to be with classloader delegation for plugins (as they get a caching loader)

Thanks for the link, have upvoted.

[2018-01-19 19:59] tshasc commented on #4085
@lptr
The exception related logic was added in that PR.

how can I get "how the task is configured", what should I check?

[2018-01-19 20:00] lptr commented on #4085
Are you using the latest version of the Protobuf Gradle plugin (0.8.3)?

[2018-01-19 20:04] tshasc commented on #4085
we are using 0.8.0 now, should I upgrade that?

[2018-01-19 20:09] lptr commented on #4085
I think I found the problem, trying to reproduce now.

[2018-01-19 20:29] lptr commented on #4085
Yep, reproduction works, trying to fix.

[2018-01-19 20:55] eriwen commented on #4071
This is addressed by 5bfa724 which, and I hope you'll agree, is a good compromise.

[2018-01-19 20:55] #4071 closed

[2018-01-19 20:58] oehme commented on #4007
The delegation is working as expected, there is only one instance of each script, so it can't have a different parent each time it is applied. `apply:from` is not like a text include, but like a library call.

Why can't you add dependencies to `buildSrc`?

[2018-01-19 20:58] big-guy commented on #3060
@forresthopkinsa A stacktrace, build scan and some details about your environment (e.g., if you're using GE for the build cache or something else) would be really helpful in tracking this down.

We have tens of thousands of builds a week and don't encounter this problem, so any details would be appreciated.

[2018-01-19 21:39] forresthopkinsa commented on #3060
So, in most cases, if the build server returns a 500 error, then Gradle normally ignores it and continues on to the next repository?

I can't give a stack trace right now, because our build server isn't broken anymore, but I'm running a Composite build using the Gradle wrapper (version 4.4-all) on Ubuntu using BashOnWindows, referencing a Nexus build server (and using the Nexus Gradle plugin)

[2018-01-19 21:52] stewartbryson commented on #2016
Yeah... I have to write a lot of code to get around this. I write getters that go through the logic of which parameters to use. It's really nasty.

[2018-01-19 22:01] devishree90 opened #4093 "Expose isFromCache() method in TaskState API"
Currently, there is no way for user to identify programmatically if task used cache object or not. Gradle provides this information in logs but there is no public API. This PR exposes isFromCache() method as part of TaskState API making this info available to users.

**Use-case:**
I'm trying to build plugin,  which will provide information like what is impact on build time(broken down by tasks )wh

[2018-01-19 22:29] tshasc commented on #4085
cool, let me know when there is a formal build for the fix so that I can try again :)

[2018-01-20 00:53] devishree90 commented on #4061
Thank you @rhart & @bmuschko

[2018-01-20 00:57] big-guy commented on #4085
@tshasc Could you give this nightly a try?

`gradlew wrapper --gradle-version=4.5-20180120003357+0000`

[2018-01-20 01:05] tshasc commented on #4085
if works if I am using above version, thanks

[2018-01-20 05:49] raazvengala opened #4095 "Unable to resolve dependency for ':appname@qaDebug/compileClasspath': Failed to transform file 'design-26.0.2.aar' to match attributes {artifactType=android-exploded-aar} using transform ExtractAarTransform Failed to transform file 'design-26.0.2.aar' to match attributes {artifactType=android-exploded-aar} using transform ExtractAarTransform"
Not able to build the project after update of gradle.
Unable to resolve dependency for ':beats@qaDebug/compileClasspath': Failed to transform file 'design-26.0.2.aar' to match attributes {artifactType=android-exploded-aar} using transform ExtractAarTransform

Failed to transform file 'design-26.0.2.aar' to match attributes {artifactType=android-exploded-aar} using transform ExtractAarTransform

Un

[2018-01-20 07:24] blindpirate commented on #4095
Thanks for reporting, could you retry with higher permission (e.g. Run as administrator)? Looks like there're some permission issues:

[2018-01-20 08:00] raazvengala commented on #4095
I've installed as an administrator only. I think files are missing in c:/users/username/.gradle/transform/ ***.aar/somefilename***.**.  Please kindly check why the files are not creating in caches. This issue is coming from past 1 day due to some updation

[2018-01-20 08:08] blindpirate commented on #4095
Sorry, but could you give us more information? This issue looks like environment-specific:

- Your OS
- After which update this issue occurred? Android update or Gradle update? What's the previous version ( the version without this issue) ?
- Could you run with `--stacktrace` to get the whole stacktrace?

[2018-01-20 08:12] lptr commented on #4085
Thanks. The fix will ship in 4.5-rc-2.

[2018-01-20 08:12] #4085 closed

[2018-01-20 08:54] raazvengala commented on #4095
OS: window 7 -  64bit
Build tools version '27.0.3'
Gradle plugin version 3.0.1
Android studio : 3.0.1
Java : Version 8 Update 161

[2018-01-20 21:33] prathibhap-google opened #4100 "project.configurations.getByName('compile') doesnot work"
I use project.configurations.getByName('compile') to list all dependencies in my android project. After Upgrading to gradle 4.1 and Android Plugin 3.0.1 project.configurations.getByName('compile') does not list all dependencies.

I understand that compile is deprecated and the alternative is api/implementation. But project.configurations.getByName('api') and project.configurations.getByName('imple

[2018-01-20 21:39] forresthopkinsa commented on #3060
haha shoot I'm in the wrong place. Sorry guys

[2018-01-21 04:22] adrian-baker commented on #3290
After using composite builds successfully for several months, I'm now seeing this issue, as well as hung builds. The trigger in my case seems to be adding task dependencies across included builds.

[2018-01-21 06:21] blindpirate commented on #4100
Could you give us more information? A sample `build.gradle` would be good.

- From which version do you upgrade from?
- How do you use the `project.configurations.getByName('compile')`?

[2018-01-21 07:31] oehme commented on #4100
For general usage questions please use the Gradle forum.

The correct configurations to resolve are either compileClasspath or runtimeClasspath, depending on what you are trying to do.

[2018-01-21 07:31] #4100 closed

[2018-01-21 08:28] oehme commented on #4095
The error message says that the Android plugin cannot extract an aar into the cache directory. Make sure it is not write protected. You can try using a different Gradle user home directory to be sure (using the `-g` command line option).

[2018-01-21 14:42] denisk20 commented on #2128
I'm hitting this issue when running google app engine locally with gradle plugin. Every time I stop the server with CTRL+C I have to wait for 14 seconds for the daemon to start. When I run the same project using maven it starts almost instantly.
The most demotivating thing is that the original issue has been reported 2.5 years ago. There is still no solution however there is a shiny section in gra

[2018-01-21 15:04] Pluckerpluck commented on #2128
@denisk20 I too think it's absolutely ridiculous that this hasn't been dealt with, especially given the claims of gradles speed.

My current method of avoiding this is simply to run a command such as:

    ./gradlew build && stuffToRun

i.e. a separate out the run instruction, becuase then at least I can develop at some level of speed.

---------------

If gradle isn't going to support cancelling

[2018-01-22 01:06] bigdaz commented on #4062
@xenoterracide Any chance you can try out [my suggestion]([url](https://github.com/gradle/gradle/issues/4062#issuecomment-358420550)) above? That will help us to determine if this is a different bug or another manifestation of #3109.

[2018-01-22 02:39] perry0105 commented on #2936
Thanks @oehme @vangoleo , I had the same problem too.

[2018-01-22 08:59] youyuo opened #4103 "Creating new cache for metadata-2.23/artifact-at-url"
When I use Jenkins build my project，it get stuck in blew log。
log:
Creating new cache for metadata-2.23/module-artifacts, path /mnt/sdb/jenkins/.gradle/caches/modules-2/metadata-2.23/module-artifacts.bin, access org.gradle.cache.internal.DefaultCacheAccess@d694845
Using incremental javac compilation for :xx_core debug.
Incremental java compilation is an incubating feature.
Not using incremental ja

[2018-01-22 14:36] atreat opened #4106 "Multi-project gradle setup does not allow module's to configure different repository sources, leading to coupled projects."
[code]

Steps to Reproduce:
1. Take two modules, 'app' and 'lib'
2. Have lib setup with 'google' repository and dependency of 'com.google.android.gms:play-services-location:11.4.2' in module's build.gradle
3. Attempt to build app with `gradle app:assembleDebug` without defining 'google' repository inside the app's build.gradle (or using an `allprojects` block in the root build.gradle)

This doesn'

[2018-01-22 15:01] andrena-eike-kohnert opened #4107 "Resolution fails for packaging type "pom" if the maven repository responds with 403 for non-existing jar file"
### Expected Behavior

Given a maven repository which answers with HTTP 403 for non existing files.

When resolving a maven dependency with packaging type "pom" the resolving process should not fail.

### Current Behavior

Gradle fails the build with following output:

[code]

### Context

The maven repository which I am using is a company internal artifactory server. It is configured to answer wi

[2018-01-22 15:46] TwoStone opened #4109 "JavaCompileSpec.getCompileOptions() can no longer be used in plugins"
I've written a plugin for using the eclipse compiler for java inside of gradles JavaCompile task.
https://plugins.gradle.org/plugin/de.set.ecj

### Expected Behavior

When the plugin is applied the compilation uses the assigned toolchain.

### Current Behavior

When I upgrade a build that works with Gradle 4.2 to version 4.3 the build fails with a java.lang.NoSuchMethodError: org.gradle.api.intern

[2018-01-22 15:52] #2815 closed

[2018-01-22 16:25] oehme commented on #4106
This is working as intended. Projects should not leak repositories into other projects. If you have a repository that most/all of your projects need, defining it with an `allprojects {}` block is the way to go.

[2018-01-22 16:25] #4106 closed

[2018-01-22 17:29] swhittaker opened #4111 "Changed case in class name should lead to full compile on case-insensitive FS"
### Expected Behavior
Changing the case of a package should result in a rebuild / rename of the folder
e.g. com.foo.testMe -> com.foo.testme

### Current Behavior
When the case changes the old package name is preserved in the build\classes\java folder structure.

### Context
When an app is run in this situation, the classes in that package cannot be found. This results in a ClassNotFoundException

[2018-01-22 18:32] Nic007 opened #4112 "Clean install of gradle fails on helloworld"
### Expected Behavior
I did a fresh install of Gradle 4.4.1 with sdkman, and I expect the [example hello world](https://docs.gradle.org/current/userguide/tutorial_using_tasks.html) to succeed.

[code]

### Current Behavior

[code]

With the stacktrace option:

[code]

### Context
However the folder and the build file, gradle crash. It seems like the --version and --help work.

### Steps to Reprodu

[2018-01-22 18:40] oehme commented on #4106
It's the opposite of a leak. A is in full control where its transitive dependencies come from. For instance, it could use a more trusted repository even if B gets some of its dependencies (maybe test dependencies) from the internet.

Not sure what you mean by that. A needs B's API dependencies to compile against B and it needs B's runtime dependencies in order to run. Where else is A going to get

[2018-01-22 18:53] snapsam opened #4113 "Upgrade Gradle GCS dependency to rev116"
### Expected Behavior
Starting with https://github.com/gradle/gradle/pull/2258 Gradle has supported using a GCS bucket as a
maven repository similar to their S3 support.

Internally we've been using this since before the 4.2 release, with
much success.

### Current Behavior
However, we've noticed a failure rate in about 1 in 100 to 1 in 1,000
builds (note: a given build might make 100s of GCS requ

[2018-01-22 19:28] hungvietnguyen opened #4114 "Changes in input file properties should not cause incremental build"
### Expected Behavior
Gradle correctly reports out-of-date and removed files in incremental builds.

### Current Behavior
Gradle does not report any out-of-date or removed files in incremental builds when task inputs are configured with `task.getInputs().dir(...)`.

### Context
I want to configure task inputs to enable incremental build. Since the number of input directories may change across buil

[2018-01-22 20:17] bigdaz commented on #4107
Thanks for the report @andrena-eike-kohnert.  We've seen similar issues before with handling HTTP 401/403 (#3335 and #1880), except that instead of checking for existence of the entire module, we are checking for the optional _jar_ artifact for a Maven module with packaging == 'pom'.

The solution is likely for us to treat more status codes as meaning "probably missing" for a repository, in additi

[2018-01-22 20:27] atreat commented on #4106
Ah I guess I didn't know A would need B's API dependencies to compile against B. I thought it would only need to know the APIs it talks to in B, but if B exposes any of its dependencies APIs I can see that it would cause problems.

Thanks for the info

[2018-01-22 21:08] mrooney commented on #2571
We are seeing java.net.UnknownHostException as well with the Tooling API behind a proxy, while normal gradle invocations work and we can wget the URL in question fine. I'm wondering if the proxy implementation is using the proxy, but incompletely, and not routing the DNS / name resolution over the proxy? @oehme this would explain why you run into proxy errors (it is attempting to use the proxy), b

[2018-01-22 23:17] JLLeitschuh commented on #4050
Trying to take a crack at this problem, this seems like this would require quite a few changes to public interfaces that are public. This might be an unsolvable problem without having it be an API breaking change.

[2018-01-22 23:29] JLLeitschuh commented on #4050
There is far too much filtering code that assumes that `<S extends T>`. Breaking that fundamental assumption creates compiler errors everywhere.

[2018-01-22 23:50] thinstripe commented on #2483
This isn't working for me.  I observe the same issue as @coney.  I have tried the nightly build you suggested (4.4-20171112235945+0000) and also 4.4.1, 4.5-rc-2 - all are reproducing the same stacktrace.

[2018-01-23 08:36] sadovnikov commented on #2571
I'm not getting to the same environment until Feb 5. Will try to reproduce the bug then.

[2018-01-23 08:38] oehme commented on #2483
@thinstripe can you please provide a reproducible example project? It seems to work for both @DPUkyle and @BoykoAlex, so maybe you are hitting a different issue.

[2018-01-23 09:04] oehme commented on #4112
Thank you for the report! It seems there was a security exception on your system, but it could not be reported, because the exception type we were trying to use was not on the classpath. Looks like there is a missing test case for that scenario.

[2018-01-23 09:08] oehme commented on #4111
The case of the output folder is based on the package declaration in the class, not which source folder it came from. If you change the package declaration in the class, does it work correctly?

[2018-01-23 10:19] wolfs commented on #4075
@eskatos We already tried to deprecate `Closure` accepting methods: https://github.com/gradle/gradle/pull/677
This didn't turn out so well :(

Note that the methods accepting `Closure`s are re-added at runtime. This means that Groovy build script would get deprecation warnings whenever using one of the deprecated `Closure` taking methods on the public API, even though everything is perfectly fine.

[2018-01-23 10:28] eskatos commented on #4075
Right, the deprecation cycle should:
- allow Java API consumers (Java, Groovy, Kotlin binary plugins, Kotlin DSL scripts) to use the deprecated methods, getting deprecation warnings ;
- allow Groovy DSL consumers to use Groovy types, without deprecation warnings.

In other words, the Groovy DSL decorations should be changed/added to not delegate to the deprecated Java API methods but to their stro

[2018-01-23 10:31] wolfs commented on #4075
@eskatos Yeah. We currently don't do any compile time decoration for Groovy, so the `Closure` taking methods just don't exist statically if they are not added to the Java API. We probably should provide static extensions for Groovy, too.

[2018-01-23 10:58] lengerrong commented on #882
Dear All,

Just close your shell window(cmd.exe or powershell.exe) and reopen a new one,
the issue will gone.

I found it works  for me.

[2018-01-23 11:02] blindpirate commented on #4113
Thanks for reporting, this looks like a small change, would you like to provide a PR?

[2018-01-23 12:32] swhittaker commented on #4111
No - the class is recompiled (into build\classes\java\main\com\foo\testMe). It has the correct 'testme' package compiled in, but the parent folder is still 'testMe'.

Can easily see this behaviour by changing the case of build\classes\java\main\com\foo\testMe manually and running jar task.

[2018-01-23 13:08] basvandenbrink commented on #2182
I have similar issues with the Gradle wrapper. Setting the systemProp settings or DEFAULT_JVM_OPTS doesn't work for me, while similar settings do work for SBT and Maven.

[2018-01-23 13:41] oehme commented on #2182
Please open a new issue with reproduction instructions.

[2018-01-23 15:47] jjohannes opened #4118 "LatestModuleConflictResolver.pathTo() can get stuck during failure report generation"
This is only happening in the failure case where a conflict can not be resolved. It can be reproduced with the gradle build once we dogfooded dependency constraints (https://github.com/gradle/gradle-private/issues/1069). I suspect it is caused with some kind of (project?) dependency cycle. The stack overflow is happening here:

https://github.com/gradle/gradle/blob/2eed759e1c188adccb3ab1ec64f35ca9

[2018-01-23 15:52] oehme commented on #2304
Duplicate of #1085, please add your 👍 there :)

[2018-01-23 15:52] #2304 closed

[2018-01-23 15:53] jjohannes opened #4119 "Shorten very long conflict resolution error reports"
Somewhat related to bug https://github.com/gradle/gradle/issues/4118.

Reports can get very long showing all the different path to the module declaring the dependency/constraint in conflict. Maybe it can be shortened by just showing one path. I am attaching a long report example from the gradle build showing all possible paths to `com.google.collections:google`.

[https://app.zenhub.com/files/3023

[2018-01-23 16:09] mkobit commented on #1085
This would also be useful on cloud CI systems that allow you to do dependency caching.

For example, let's say you do the following pattern:
* Restore the most recent Gradle home with wrapper and dependency caches
* Change the Gradle version, dependency versions, or anything else that gets accumulated in Gradle home
* New things get added to Gradle home (old things are still there)
* Save new cach

[2018-01-23 16:33] Nic007 commented on #4112
Quick update: I've removed ./gradle and ./sdkman and I've re-installed the two tools with the same commands. Now it works. I really don't understand what occured...

[2018-01-23 16:43] #3820 closed

[2018-01-23 16:50] oehme commented on #4112
Interesting, so it could be caused by a broken download of Gradle. The system didn't change otherwise?

[2018-01-23 16:52] Nic007 commented on #4112
Nothing changed in the system. Another user tried the same thing on my computer and it worked first time.

[2018-01-23 16:54] oehme commented on #4112
Thanks for following up. In that case I'll close this as non-reproducible.

[2018-01-23 16:54] #4112 closed

[2018-01-23 17:15] BPaasch commented on #4002
I was able to test this using 4.5 RC2 and it works.  Thanks for fixing this.

[2018-01-23 17:45] bigdaz opened #4121 "Stabilize ExcludeRuleMergingPerformanceTest"
This test has too much noise that may hide real regressions, and makes them hard to track down when introduced. Spend some time trying things that might stabilize this test, and rebaseline if required.

[2018-01-23 17:47] bigdaz opened #4122 "Design spec for replacement/provides constraints"
Working doc: https://docs.google.com/document/d/16S-bA496Id09f52MNRg0iWHtUvqnRH9rus1Hjx4_GoI

[2018-01-23 17:57] bigdaz commented on #4119
This is also proving a problem for build scans: https://gradle.slack.com/archives/C03A0MT6S/p1516729203000601

[2018-01-23 19:09] snapsam commented on #4113
@blindpirate created here: https://github.com/gradle/gradle/pull/4123

[2018-01-23 21:04] wolfs commented on #4114
@hungvietnguyen Thank you for reporting!

I think `PathSensitivity.RELATIVE` doesn't make a difference for exposing this bug, does it? I observed the same behaviour if no path sensitivity is specified.

I think the right behaviour would be that the task is not incremental on the second run, since the number of input file properties changed. Would that be what you expect?

[2018-01-23 21:32] fragaLY commented on #3013
@LucasMembrane
Could you please update your JDK to 9.0.4 version.
Also check is your environment variable correct.

Could you please let me know if it helped you?

[2018-01-23 22:01] thinstripe commented on #2483
I have cloned coney's project and updated the gradle tooling api to version 4.4-20171112235945+0000 at https://github.com/thinstripe/tooling-api-demo.  Kindly follow the provided README.md instructions to easily reproduce the issue.

[2018-01-23 22:22] DPUkyle commented on #2483
@thinstripe your repo's wrapper is using Gradle 4.0.1. Please update to 4.4.1 and this issue goes away.

[2018-01-24 01:18] artem-zinnatullin opened #4127 "4.4.1: PMD fails with "Error while evaluating property 'targetJdk' of task pmd"."
When we run `./gradlew pmd --parallel` on our project (380+ modules), we're *sometimes* getting following error:

[code]

### Expected Behavior

PMD tasks run normally on all modules.

### Current Behavior

"Random" failure of the build.

### Context

**What's very interesting** is that the module that Gradle tries to run pmd against — `:features:pmd`. `:features:` is not a module, it's just a **f

[2018-01-24 01:31] hungvietnguyen commented on #4114
(1) You are right, I just checked again and also found that the presence of path sensitivity does not make a difference. (I was experimenting with `PathSensitivity.RELATIVE` earlier and didn't expect that this was still a bug without it, but turns out it is.)

(2) Yes that would work. The alternative is that Gradle runs incrementally with the correctly reported changed files/directories. I think b

[2018-01-24 04:50] blindpirate commented on #4113
Merged, thanks! @snapsam

[2018-01-24 04:50] #4113 closed

[2018-01-24 05:46] blindpirate commented on #4109
Well, this method's bytecode signature has been changed [here](https://github.com/gradle/gradle/commit/b66e4d0664c49215661a061ba5f5d87d77f54dbb#diff-1af661d61343a1b7ea5805edb740570b) because its return type has been changed. I'm afraid there's nothing we can do: you should use internal API at your own risk. Reflection seems to be the only ugly solution if you have to.

[2018-01-24 05:46] #4109 closed

[2018-01-24 06:00] blindpirate commented on #4103
More information please.

- Your OS/Gradle/JDK version?
- What are you doing when encountering this issue? Could you describe more detail?

[2018-01-24 06:13] blindpirate commented on #4111
I guess there's nothing we can do on Gradle's side, https://stackoverflow.com/questions/10890805/case-sensitivity-of-java-class-names

[2018-01-24 06:14] blindpirate commented on #4076
Could you use `${project.component}` as a workaround?

[2018-01-24 06:31] LucasMembrane commented on #3013
Thanks for the heads-up, but not much progress from what I could tell.  I had sort of moved on to other things,  but I updated jdk to 9.0.4 by downloading and installing the rpm, went back and installed groovy and grails, downloaded a grails example app.  Still, I got this:

[22:20 al ~/.../groovy/myapp]$ ./grailsw run-app
WARNING: An illegal reflective access operation has occurred
WARNING: Illeg

[2018-01-24 06:52] Adrodoc55 commented on #1238
This seems to be fixed in Gradle 4.4 as the default output dir for the main SourceSet is now "bin/main" and for the test SourceSet it's "bin/test". This change isn't even mentioned in the release notes, but the change of the default project output is listed: https://docs.gradle.org/4.4/release-notes.html#changes-in-the-eclipse-plugin

[2018-01-24 06:59] blindpirate commented on #4076
@moserp After some investigation, I found this is a coincidence. After `4.3` we introduced some internal property named `component` and it's searched before the outermost property `component` you defined: https://github.com/gradle/gradle/blob/f2e115c9dd1aecb51f3142ace786a1555cbcd0cc/subprojects/publish/src/main/java/org/gradle/api/publish/internal/PublicationInternal.java#L27

Sorry for the inconv

[2018-01-24 06:59] #4076 closed

[2018-01-24 07:12] blindpirate commented on #4127
Thanks for reporting, could you confirm this bug is never seen before `4.4.1`? According to your description, this looks like a incorrect task execution on a non-project directory. Can you run `gradle projects` to see if the project hierarchy is your expected structure?

[2018-01-24 07:33] oehme commented on #4111
We can do something - When we detect a case change on a case-insensitive system, we need to do a full compile.

[2018-01-24 07:43] wolfs commented on #4114
@hungvietnguyen I presume the new scenarios use relative path sensitivity?

[2018-01-24 07:47] wolfs commented on #4127
@artem-zinnatullin Note that the commit ["Make evaluating input properties lazy"](https://github.com/gradle/gradle/commit/9077925fcfaf100802828c1350b95e0a450613f0#diff-da2ddfba1af6d46b01db4f40a0ce9ea3R47) is only included in 4.5. So 4.4.1 does not include the change.

[2018-01-24 07:51] wolfs commented on #4127
@artem-zinnatullin Looking at the error message it seems like the `java` plugin has not (yet?) been applied to the project under question, but the `pmd` plugin has.

[2018-01-24 08:05] artem-zinnatullin commented on #4127
Ahh makes sense, I definitely haven't seen this before 4.4.1 though (we were on 4.4).

We indeed apply PMD through `allprojects {}` closure, I'll try to hook it after java plugin.

Another change we did recently is migrating to `java-library` plugin from `java` one, plus AGP 3.1.0-alpha08 (from 2.3.3 which we had to use due OkBuck compatibility with AGP 3.x) but I think AGP is irrelevant here.

Th

[2018-01-24 08:18] dotSp0T commented on #1319
Is there any update on this..?

[2018-01-24 08:57] oehme opened #4129 "Detect incremental annotation processors"
Incremental annotation processing requires some knowledge about what the processor does. As a first step we will distinguish three kinds of processors:

1. "Simple" processors, which have exactly one [originating element](https://docs.oracle.com/javase/7/docs/api/javax/annotation/processing/Filer.html#createSourceFile(java.lang.CharSequence,%20javax.lang.model.element.Element...)) per generated cl

[2018-01-24 09:00] oehme opened #4130 "Fail compilation if incremental annotation processor provides no originating elements"
Incremental annotation processors need to provide the originating elements for each generated element. Gradle needs this information to delete stale generated files and stale classes.

If an incremental processor uses the [Filer](https://docs.oracle.com/javase/7/docs/api/javax/annotation/processing/Filer.html#createSourceFile(java.lang.CharSequence,%20javax.lang.model.element.Element...)) API with

[2018-01-24 09:03] oehme opened #4131 "Fail compilation if incremental annotation processor reads/writes resources"
Our first iteration of incremental annotation processing will not support reading/writing resources (e.g. properties files), because our incremental Java compiler does not currently track them. For this reason, incremental processing should fail if a processor tries to read or write resources. The error message should explain the limitation to the user, ask them to get in touch with the processor

[2018-01-24 09:07] oehme opened #4132 "Delete stale sources and classes generated by incremental processors"
When a source file is changed or deleted, any source files and classes that were generated from it should be removed to avoid stale classes being left after incremental compilation.

The source->generated information is taken from the [Filer](https://docs.oracle.com/javase/7/docs/api/javax/annotation/processing/Filer.html) API and stored along the other incremental compilation state.

This feature

[2018-01-24 09:12] oehme opened #4133 "Recompile all classes in an aggregate if any class changed"
Aggregating annotation processors take multiple source elements and combine them into one generated file. For example imagine a `@Service` annotation and a processor which combines all annotated classes into a singleton `ServiceRegistry`. When any of these classes changes, the processor needs to be presented with all of them again, so it can generate a complete registry. Note that any change to an

[2018-01-24 09:14] oehme commented on #909
The generated source directory is now configurable on `CompileOptions`

[2018-01-24 09:14] #909 closed

[2018-01-24 09:17] oehme opened #4134 "Provide guidance for incremental annotation processor authors"
Expand the user guide to explain our approach to incremental annotation processing and what processor authors have to do to participate.

[2018-01-24 09:42] oehme commented on #1320
I've broken this epic down into a few initial stories. You can take a look at the [design spec](https://github.com/gradle/gradle/files/1659294/Incremental.Annotation.Processing.-.Public.Copy.pdf) to get a better idea of what use cases we plan to support and what is out of scope (for now).

[2018-01-24 09:46] oehme opened #4135 "Do a full recompilation if annotation processors are changed or removed"
When a processor is changed or removed, it may leave stale generated files around. Gradle should do a full recompilation to clean those up.

[2018-01-24 09:48] oehme opened #4136 "Fail compilation if a simple annotation processor provides multiple originating elements"
A simple processor must have exactly one source element for each generated file. If it provides more, it should register itself as an aggregating processor instead. Fail the build if such a processor is detected. The error message should ask the user to get in touch with the processor author and use `incremental=false` as a workaround.

[2018-01-24 10:11] fab1an commented on #1320
A good solution. Only one question:

before

Why not fail the compilation until incremental is switched off here as well?

[2018-01-24 10:27] oehme commented on #1320
For backwards compatibility reasons and because we want to remove the incremental flag altogether in the mid term, making incremental the default and only mode.

[2018-01-24 10:28] pbi-qfs commented on #1320
The approach sounds reasonable and well thought out. I would agree with @fab1an to fail fast instead of silent full recompile, that would be more consistent.

In addition, it would be handy if the build composer would have an option to provide the processor type information in the build file, if none is provided by the processor author, e.g. in the configurations section.

[2018-01-24 10:30] oehme commented on #1320
I thought about this too, but I'm not sure in how many cases it would work, since the processor also needs to use the originatingElements API correctly.

[2018-01-24 10:41] pbi-qfs commented on #1320
In the most simplest case, a processor (like Lombok) only modifies the one class defined by the corresponding java, and might generate additional inner classes, which can easily be associated by the $-name pattern. Taking all $-classes into account is most probably overkill, but it is a good default if the processor doesn't know about the originatingElements API, yet - it's better than a full reco

[2018-01-24 11:01] oehme commented on #1320
APT does not allow processors to change classes in-place. Lombok is operating outside the APT specification and uses internal APIs. I would not consider it a "simple case". There is also no way to generated inner classes. You might use a dollar sign as a separator, but that won't be considered an inner class by the compiler (and it won't have access to the internals of the outer class).

For any g

[2018-01-24 11:06] pbi-qfs commented on #1320
I totally agree, therefore I'm looking for a way to "approximate" a solution better than a full recompile for processors which do not know about the Gradle API, yet. Such an approximation would be the association of dollar-classes with their "main" class.

[2018-01-24 12:10] thinstripe commented on #2483
Ok that now is working for me.  Thank you!

[2018-01-24 12:31] artemyarulin commented on #3318
If you are using official Docker image with Gradle then make sure that gradle can access directory with the source
[code]
will give you the error like in an issue. It could be fixed by chaning user, just add line `USER root` before `CMD` line

[2018-01-24 12:50] melix commented on #4006
So, after multiple tries, I _think_ I have a spike that is close to what we want. To summarize, we want to:

- show the selected variant in the dependency insight report
- a selected variant consists of a display name and variant attributes
- the variant attributes constitute the _identity_ of the variant, the display name is here mostly for reporting

The initial spikes showed that adding variant

[2018-01-24 13:23] oehme commented on #1320
Most processors don't use a dollar sign (some use underscores, some just use camel case) and I really don't want to put such assumptions in, as correctness is the most important concern for Gradle. Let's first see if convincing processor authors to opt in is a problem at all. If it isn't then we've saved a bunch of time. If it is, we can start thinking about alternatives.

[2018-01-24 15:21] bmuschko commented on #3013
@LucasMembrane I am not quite sure but Grails may ship with a specific version of Gradle (or rather the Wrapper) that does not include the relevant fix. Can you run `./gradlew version` and provide the output? At this point it may be helpful if you could provide us with a sample project that reproduces the issue. Thanks.

[2018-01-24 15:21] wolfs commented on #4127
@artem-zinnatullin Thanks for checking. I will close this issue for now. If you still run into problems please re-open or create a new one.

[2018-01-24 15:21] #4127 closed

[2018-01-24 15:24] melix commented on #3554
I have spiked a cheap way to do this, leveraging the new `ComponentSelectionReason` API. I added a new type of cause, `constraint`, which is used whenever a component is selected by a constraint.

Then the dependency insight report can use that information to show that a component was constrained:

[code]

Note, however, that the addition of a cause breaks the build scan plugin.

[2018-01-24 15:49] bmuschko commented on #4093
I am trying to understand your use case. As outlines by this [blog post](https://blog.gradle.org/introducing-gradle-build-cache) task execution times will be significantly faster if you use the correct annotations. Most of the Gradle core built-in task are already equipped to support the build cache. Why don't you just give the build cache a shot?

Be aware that a build scan already provides you w

[2018-01-24 16:30] julioromano commented on #977
What is the syntax of the opt in switch in 4.5-rc-2 ?

[2018-01-24 16:36] jjohannes commented on #977
In the end, we did not make any changes for 4.5. It's still `gradle.experimentalFeatures.enable()`.

4.6 will include an "official" way to enable this. I updated the comment above.

[2018-01-24 17:12] dimitarg commented on #1989
@jarro et al, there are possible drawbacks to using a manifest classpath - based solution.

For example, if using Tomcat 7, you are bound to hit this bug:
https://bz.apache.org/bugzilla/show_bug.cgi?id=59226

In general, if your application or stack somehow relies on the results of java.net.URLClassLoader#getURLs, you will have problems, since the stuff referenced in the manifest classpath is avai

[2018-01-24 17:33] marmax commented on #3972
Hi @bmuschko,
thank you for the link. I will evaluate it further.

Anyway:
- it's a thirdparty
- it's a plugin and as a such, it cannot be used e.g. in pluginManagement DSL

I would like to see Gradle providing robust secrets management as first class citizen.
& there are IMHO two aspects which should get covered:

1) **consistent access** to "credentials" (be it even still unencrypted in ~/.gradl

[2018-01-24 19:02] hungvietnguyen commented on #4114
@wolfs To clarify, the new scenarios above also do not use any path sensitivity.

[2018-01-24 19:41] bigdaz commented on #4006
This is definitely promising. I'm happy to keep working on this. We can tweak the exact layout/format later. For example, we might want to separate out the "Not requested but found" attributes, a bit like we separate out the "Requested but not found". But I think playing around with it on real-world projects will give us a better insight.

[2018-01-24 20:55] devishree90 commented on #4093
@bmuschko - Thanks for the info. Build scans provides info on task performance for individual builds.

 My use case is to build plugin, which will provide information like what is impact on build time(broken down by tasks )when i use build-cache. I want to collect information about individual builds and  build dashboard which will give me aggregate of build/task improvement over period of time(i.e

[2018-01-24 20:59] big-guy opened #10562 "Build definition for source dependencies and composite builds"
This is a somewhat raw collection of thoughts/ideas on this (to be split further as necessary).

Sterling:
---
[code]

The big idea is to introduce a "build definition" at the DSL level that gives us a place to put configuration for a build and then modify the vcs mappings API and `includeBuild` to take that instead

one of the most cumbersome issue with the existing vcs mappings is this situation

[2018-01-24 23:19] artem-zinnatullin commented on #4127
So I've refactored `allprojects {}` closure we had for PMD to this:

[code]

Will report if it causes other problems, again thank you for fast help guys, appreciate that!

[2018-01-25 01:34] mockitoguy commented on #4093
Hey @bmuschko! Thanks for considering! What's the problem with exposing the property?

We absolutely want to use Gradle Enterprise for many reasons, including much better understanding what's cacheable or not.

Our use case is that we don't want to depend on Gradle Enterprise (3rd party) as a middle man between builds and our big data infrastructure. All builds at LinkedIn send Kafka events with b

[2018-01-25 08:17] jacobilsoe opened #4145 "NullPointerException when resolving dependencies"
Sometimes I get a NullPointerException when resolving dependencies. I have not yet been able to see any pattern in this but it happens regularly.

### Expected Behavior
There is obviously a problem resolving dependencies but I would like to get something a bit better than a NullPointerException 😄

### Current Behavior
I regularly get NullPointerExceptions when doing a `gradle build`.

Stacktrace:

[2018-01-25 09:16] melix commented on #4145
Thanks for the report. You're not the first one to report this problem, which we have been unable to reproduce so far. Do you happen to have a reproducible example of a build that does this?

Other questions:

- are you using `--parallel`?
- what plugins do you apply to your build? (we're particularly interested in plugins that influence dependency management, like the Spring Dependency Management

[2018-01-25 09:56] jacobilsoe commented on #4145
Unfortunately I do not have a reproducible example and the code base I am working on is proprietary.

Yes, I am using `--parallel` and I do not use any plugins that influence dependency management (AFAIK). I use these plugins:
[code]
A build scan is unfortunately not an option for me. I was thinking that the stacktrace might help getting closer to resolving the issue.

[2018-01-25 09:59] melix commented on #4145
Right, thanks. Unfortunately no, the NPE is totally unexpected, and the root cause is very hard to find. It _seems_ to be related to the use of `--parallel`, which is common in all reports we got. But so far nobody managed to create a reproducible example, so we've been unable to debug it.

[2018-01-25 10:52] jacobilsoe commented on #4145
OK. I can also add that we use "Nexus Repository Manager OSS 2.14.5-02" for handling artifacts.

[2018-01-25 12:22] henrik242 commented on #2862
@blindpirate Should this be reopened, with regard to #3125 ?

[2018-01-25 13:53] jacobilsoe commented on #4145
Are there other ways I can help troubleshoot this?

[2018-01-25 14:20] tomwidmer commented on #3955
@adammurdoch I agree something simple would be good. #2669 has been raised in JIRA and on forums in the past (as I've found out when trying to work out how to fix it), so I think it's important to address that issue as well.

@ldaley As long as the behaviour is opt-in (in the test task config?), I don't think scheduling overhead need be a concern for an initial implementation. Also, whole test cla

[2018-01-25 15:12] jjohannes opened #4147 "Pending dependencies should not add additional artifacts to the resolution result"
Pending dependencies (constraints or optional dependencies) are represented as additional incoming edges for a selected node in the dependency graph. For these edges, we should not calculate artifacts. If we do so, we might add additional ones.

For example, this should only give us `foo-1.1-shaded.jar` and not `foo-1.1.jar` in addition:

[code]

[2018-01-25 17:24] AlexMAS opened #4153 "GradleBuild.startParameter.includedBuilds does not work"
Hello!

I try to create a build task in my `build.gradle` like this:

[code]

And when I run `gradle buildDebug` I get an error `Could not resolve all files for configuration...` i.e. some dependencies from `component1` and `component2` weren't resolved. But if I do the same using command line:

[code]

It works fine.

What should I do to fix this problem?

### Expected Behavior

Value of `startPa

[2018-01-25 17:35] eskatos opened #4154 "Consider adding smoke tests for all official Kotlin Gradle plugins"
[`kotlin2js`](https://kotlinlang.org/docs/reference/using-gradle.html#targeting-javascript): targeting Javascript

[`dokka`](https://github.com/Kotlin/dokka): the Kotlin equivalent of `javadoc`

We already have smoke tests for the [`kotlin`](https://kotlinlang.org/docs/reference/using-gradle.html#targeting-the-jvm) (jvm) and [`kotlin-android`](https://kotlinlang.org/docs/reference/using-gradle.htm

[2018-01-25 17:59] ldaley commented on #4093
Hi @mockitoguy,

The problem with exposing it is the compatibility burden. We want to improve and enrich the task feedback in ways that may go beyond the current model. Exposing the concept of "from cache" in public API restricts our ability to move here. Gradle Enterprise is irrelevant in this consideration.

I acknowledge that we have already exposed some aspects of the outcome via TaskState, an

[2018-01-25 18:45] stmlange opened #4156 "java.lang.IndexOutOfBoundsException at org.gradle.execution.taskgraph.DefaultTaskExecutionPlan.onOrderingCycle"
Hello,
I have a somewhat complex gradle build project with multiple custom plugins and currently the gradle build keeps reliable crashing with an ``java.lang.IndexOutOfBoundsException at org.gradle.execution.taskgraph.DefaultTaskExecutionPlan.onOrderingCycle`` when invoking ``./gradlew clean build``.
I'm not quite sure on how to debug or trace this issue down so I thought I raise an issue to get m

[2018-01-25 21:06] bigdaz commented on #4145
A few things come to mind:
1. Run your build on some sort of loop, and see how frequent the issue is, and if any pattern of failures becomes apparent.
2. Run your build repeatedly _without_ `--parallel` and see if the problem occurs.
3. Start cutting things out of your build so that you end up with the bare minimum that's required to reproduce the failure. At that stage, you may be in a position t

[2018-01-25 21:52] jacobilsoe commented on #4145
I already tried running the build in a loop (2000 times) without a single failure. I have never seen it on my local machine - only on build agents now and then. So until I can reproduce it with some consistency it does not really make sense to cut things out of the build. I will try some more things.

[2018-01-26 01:13] adammurdoch opened #4160 "Deprecation message for use of classes in `org.gradle.util` package is almost never shown to the user"
The deprecation message for usage of classes such as `org.gradle.util.GradleVersion` is emitted only when the build script is compiled, rather than each time the build is run. What this means is the user sees something like this:

[code]

Unless the user knows that the deprecation warning happens to come from script compilation and how to provoke a recompile, this warning is basically never shown.

[2018-01-26 01:55] ddimtirov opened #4161 "The Gradle distribution ships outdated Gradle icons"
### Expected Behavior
Either ship up-to-date media files or remove them from the distribution.

### Current Behavior
The Gradle distribution ships outdated icon files in the `./media` subdirectory.

### Context
I was showing the layout of the Gradle distribution to a colleague and going through each directory. When we reached the media directory, he saw the icons and reacted as "wasn't the Gradle

[2018-01-26 03:16] mkobit commented on #3811
Would really like to see all of the `Provider` types have complete support and implicit task dependency calculations wherever they are used from.

Is this something scheduled or something that needs to be picked up by the community?

[2018-01-26 07:15] andrena-eike-kohnert commented on #4107
Thanks for your reply.

Maybe some day the described behaviour will also be changed on artifactory side. Artifactory has two issues related to this:

https://www.jfrog.com/jira/browse/RTFACT-13797
https://www.jfrog.com/jira/browse/RTFACT-8765

[2018-01-26 08:35] oehme commented on #4153
This is not meant to be mutated (and we should make it read-only). Please use `includeBuild` in `settings.gradle`.

[2018-01-26 08:40] oehme commented on #4156
Duplicate of #2293

[2018-01-26 08:40] #4156 closed

[2018-01-26 09:33] RedaZZ commented on #2182
Hi everyone i have the same issue oikonomopo has, why this issue was closed without being resolved?

[2018-01-26 09:45] AlexMAS commented on #4153
I've tried to find some workaround and now I have a little solution but it is not exactly what I want...

In my `settings.gradle` file I put some logic which defines how to build the project - as a composite project or not. For that I defined my own project parameter `composite`.

*settings.gradle*
[code]

So when I run:

[code]

I have the normal build and dependencies are resolved from defined r

[2018-01-26 10:13] oehme commented on #2182
The issue was resolved for @oikonomopo. If you have a similar problem, please open a new issue with a reproducible example.

[2018-01-26 10:15] oehme opened #4162 "Upgrade to AWS SDK 2.0"
Follow-up to #4029

[2018-01-26 10:19] oehme commented on #4153
I'm sorry, I misread your initial code snippet. Nested composites aren't supported at the moment and a `GradleBuild` task is treated very much like a composite itself. I don't think I have a better solution for your use case than using a property.

[2018-01-26 10:24] jjohannes commented on #4119
To reproduce this, you can build Gradle on the _dogfooding_ branch: https://github.com/gradle/gradle/tree/jjohannes/dependency-management/dogfood

Removing one of the _downgrading_ rules in `dependencies.gradle` should trigger the issue.

I think the solution is to remove duplications in a similar way we do it for the `dependencies` report. That probably also fixes  #4118.

[2018-01-26 11:27] #4006 closed

[2018-01-26 11:28] #3961 closed

[2018-01-26 11:30] #4147 closed

[2018-01-26 12:19] AlexMAS commented on #4153
Thank you for replying! Yes, I understand now why it happens. I think the solution with a property will be enough.

[2018-01-26 13:39] youyuo commented on #4103
os:Linux(amd64)
gradle:3.3
jdk:1.7
First I depend on a aar through maven server，then for test I depend on this aar local, and it will still pull aar from server and it block。

more detail log:
Creating configuration debugCompile
Creating configuration debugPublish
Creating configuration debugProvided
Creating configuration debugWearApp
Creating configuration debugAnnotationProcessor
Creating confi

[2018-01-26 13:50] stmlange commented on #2293
Hello, I recently bumped into a similar problem.
Is there any ETA when this is getting fixed?

[2018-01-26 13:52] blindpirate commented on #4103
Still not clear at all. Please do not assume we know what you're doing. A sample to reproduce this issue is good, or provide us with `build.gradle` at least. We can't understand your project with only description like

and

[2018-01-26 14:06] wolfs opened #4166 "If the task is non-incremental, not all files in a directory are reported as outOfDate"
Given an incremental Task.
If a property annotated with `@InputFiles` contains directories, then the files in the directory are not reported by `IncrementalTaskInput.outOfDate` if the inputs are non-incremental, but only the directory itself.

This is different to when the inputs are incremental, then all the files in the directory and the directory itself are reported as `outOfDate`.

For the exa

[2018-01-26 14:08] wolfs commented on #4114
@hungvietnguyen I opened https://github.com/gradle/gradle/issues/4166 for Scenario 2 which I find surprising.

With respect to scenario 1: The root directories are not considered inputs for input directories. This is why they are not reported as removed, added, etc.

Does this make sense to you?

[2018-01-26 14:25] jjohannes commented on #4119
It would also be nice if you can see the custom reasons (`because ...`) in the error report. If that's easy to do.

[2018-01-26 15:06] StefMa commented on #1842
Is there something new here?

[2018-01-26 16:02] psibre opened #4168 "Inconsistency in transitive dependency exclusion between maven-publish and com.gradle.plugin-publish plugins"
### Expected Behavior
Publishing a plugin to the Gradle Plugin Portal using the `com.gradle.plugin-publish version 0.9.9` plugin should produce the same POM as when performing a normal publish using the `maven-publish` plugin (except for the `gradle.plugin` group prefix).

### Current Behavior
Publishing a plugin with transitive dependencies excluded causes different POMs to be generated and publi

[2018-01-26 16:07] oehme commented on #4168
Duplicate of https://github.com/gradle/gradle/issues/2650. There's also a workaround there. Let me know if that helps.

[2018-01-26 16:07] #4168 closed

[2018-01-26 16:50] psibre commented on #4168
@oehme Thanks so much for your fast response! The workaround pointed me to the solution of adding an explicit `group: '*'` to the `groovy-all` dependency exclusion.

[2018-01-26 17:15] kpramesh2212 opened #4169 "Tasks with type war are not working properly"
My Gradle Version:
=====================
------------------------------------------------------------
Gradle 4.4.1
------------------------------------------------------------

Build time:   2017-12-20 15:45:23 UTC
Revision:     10ed9dc355dc39f6307cc98fbd8cea314bdd381c

Groovy:       2.4.12
Ant:          Apache Ant(TM) version 1.9.9 compiled on February 2 2017
JVM:          1.8.0_161 (Oracle Corpo

[2018-01-26 17:16] RedaZZ opened #4170 "Cordova build android failed"
Hi Everyone i have an issue building my Ionic project when executing `cordova build android` behind proxy even if the proxy settings are provided

## Expected Behavior

i've already created a ionic (v2) mobile app on my laptop which has no proxy behind and it's working fine, but now i have to migrate my project to a work computer having a proxy behind. When i build my project when with `Cordova bu

[2018-01-26 18:00] mkobit commented on #3811
I don't know if `Provider` are supposed to be allowed as task dependencies, as well but adding `consumerInject.dependsOn(producerInject.outputFile)` does not get the task dependencies correct, either.

[2018-01-26 18:40] robbie-demuth commented on #2221
Are there any updates on this? This issue mentions that #2240 need to be completed first, but that issue was closed as a duplicate of this issue. Grouping parallel output would make debugging CI builds orders of magnitude easier

[2018-01-26 18:41] bmuschko commented on #4093
I am going to close the issue and pull request for now. Please let us know if you have additional concerns.

[2018-01-26 18:41] #4093 closed

[2018-01-26 19:07] edeandrea opened #4171 "Upgrading to Gradle 4.5 causes Dokka Gradle plugin to crash"
When moving from Gradle 4.4.1 to 4.5 our projects which use the Dokka Gradle plugin crash. There is Kotlin/dokka#265 open as well on the Dokka side that describes the issue. I'm not sure where the issue lies - either with Gradle or with Dokka. In any event this will prevent upgrades to Gradle 4.5 until its resolved. I'm uploading the same sample project here as I uploaded there.

 * Build scan URL

[2018-01-26 19:28] epeee opened #4172 "Importing generated eclipse projects results in build path errors"
### Expected Behavior
Running `./gradlew eclipse` and importing the generated projects should not end up in build path errors.

### Current Behavior
Running `./gradlew eclipse` and importing the generated projects ends up in:
 _"Cannot nest 'projA/src/main/java' inside 'projA'. To enable the nesting exclude 'src/' from 'projA''"_ Build Path Problem.

### Context
It looks like this one was introduc

[2018-01-26 20:27] eriwen commented on #4171
In this case, Dokka seems to be using a Kotlin-internal API from kotlin-reflect, which was removed in Kotlin 1.2.

Kotlin minor releases are considered to be generally backward-compatible; it just so happens that Gradle 4.5 upgrades the version of Kotlin used to compile plugins to Kotlin 1.2 (which _should_ be a safe move).

In this case, I would say Kotlin and Dokka are expected to adhere to prop

[2018-01-26 22:36] xenoterracide commented on #4062
hi, sorry for taking so long to get back to you, kind of just kept slipping my mind since all this is on a hobby project.  Yes that suggestion seems to fix the problem. Tested by

B depends on A

1. executing build B
1. make change to A
1. incorporate change in B
1. build B, verify error
1. build A
1. build B again, verify error is gone, and resource has updated

[2018-01-26 22:39] bigdaz commented on #4062
Thanks for confirming. Closing as duplicate of #3109.

[2018-01-26 22:39] #4062 closed

[2018-01-27 06:55] dengzhao7053 opened #4173 "Could not find method on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler"
when i build apks, there was an error.
Error:Could not find method ileja_testDebugCompile() for arguments [DefaultProjectDependency{dependencyProject='project ':carrobotCommons'', configuration='ileja_testDebug'}] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.

### Your Environment
Android studio
buildToolsVersion "25.0.3"
distributionUrl=https\://se

[2018-01-27 09:46] chiragms commented on #882
Damn!! Wouldn't have guessed it in a million years.
Worked like a charm.
Thanks @lengerrong

[2018-01-27 11:25] oehme commented on #4173
Please use the Android issue tracker for Android related questions. My best bet is that you updated to Android 3.0 and need to adjust your build according to the [migration guide](https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html)

[2018-01-27 11:25] #4173 closed

[2018-01-27 11:39] oehme commented on #4170
Sorry I don't understand your setup. Can you please create an example on Github that shows the problem.

[2018-01-27 20:43] kashike opened #4176 "javadoc unable to find modules"
[example.zip](https://github.com/gradle/gradle/files/1670503/example.zip)

run the `build` task, you'll get:
[code]

as a temporary fix, adding the following "fixes" this:
[code]
___
[code]

[2018-01-27 20:43] emmanuj commented on #3013
It appears Grails is using 3.5 wrapper.

`#Fri Nov 27 23:09:32 CET 2015
distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/gradle-3.5-bin.zip`

[2018-01-27 21:05] emmanuj commented on #3013
You can follow the instructions [here](http://mrhaki.blogspot.com/2016/01/grails-goodness-changing-gradle-version.html) to change your gradle distribution for Grails if that's what you're looking for.

[2018-01-28 01:39] adammurdoch opened #10677 "VCS mappings should be applied to plugins declared in the buildscript plugins block"
When there are VCS mappings defined for a build, use these to resolve plugins as source dependencies in the same way that binary dependencies are resolved.

[2018-01-28 06:47] AlexMAS opened #4178 "Passing project parameters to an included build"
Hello!

I defined the dependency on tasks from included builds:

*build.gradle*
[code]

Is there a way to run `someCompositeTask` with parameters:

[code]

And get these parameters during processing `someIncludedTask`?

### Expected Behavior

Included tasks receive parameters from composite task.

### Current Behavior

Included tasks do not receive parameters from composite task.

[2018-01-28 06:56] carlspring commented on #2882
Any update on this?

[2018-01-29 00:34] blindpirate commented on #4161
Thanks @ddimtirov for your kind reminder. @eriwen could you take a look at this?

[2018-01-29 00:35] ldaley commented on #3955
@tomwidmer it shouldn't be opt-in; that's unnecessary configuration. The initial implementation has to be not be non-negligibly worse than the current behaviour.

That's not a claim that what has been proposed as the initial solution will not be good enough.

[2018-01-29 00:38] blindpirate commented on #4170
ailed: sun.security.provider.certpath.SunCertPathBuilderException: unable to fin
d valid certification path to requested target

Could you rerun the build with `--stacktrace` and provide us with the stacktrace? Also, please try to upgrade your JDK if possible.

[2018-01-29 00:38] blindpirate commented on #4170
ailed: sun.security.provider.certpath.SunCertPathBuilderException: unable to fin
d valid certification path to requested target

Could you rerun the build with `--stacktrace` and provide us with the stacktrace? Also, please try to upgrade your JDK if possible.

[2018-01-29 02:47] adammurdoch opened #10568 "Allow a plugin from one of the build's plugin repositories to be injected into a source dependency"
Currently, only a plugin from the build's buildSrc project can be injected into a source dependency. This makes it difficult to share the definition for a particular library across multiple builds. Instead, it should be possible to inject plugins from any source visible to the injecting build.

[2018-01-29 03:22] adammurdoch opened #4180 "A '.+' version selector should not override a 'prefer(x)' constraint when they don't conflict"
When a build expresses a preferred version of some component, and somewhere else in the dependency graph a '.+' selector is used, the preferred version should be used unless it conflicts with the '.+' selector.

For example, assuming versions 1.1.0 and 1.2.0 are available, the following results in version 1.2.0 being selected, even though 1.1.0 also satisfies and does not conflict with '1.+':

[co

[2018-01-29 03:29] adammurdoch opened #4181 "A `prefer(x)` dependency constraint should be ignored when it conflicts with any other constraint"
A `prefer(x)` constraint should not select a version that conflicts with any other constraint.

For example, assuming versions 1.1.0 and 1.2.0 are available, the following fails because 1.3.0 is not available:

[code]

Given these constraints, version 1.2.0 should be selected instead.

Furthermore, when strict conflict resolution enabled, the above fails due to conflicts. It should not fail and in

[2018-01-29 03:38] adammurdoch opened #4182 "Add a getter for the 'version constraints' property on `ExternalDependency`"
In general, we should provide getters for all data structures in the model. The version constraints structure of a dependency declaration is such a structure, however there is no getter for it.

### Expected Behavior

A getter is present for this structure.

### Current Behavior

No getter is present.

[2018-01-29 03:46] adammurdoch opened #4183 "Allow a dependency to both accept multiple versions in a range and also express a preferred version from this range"
A dependency constraint should carry 2 _separate_ pieces of information: the versions that it accepts, and which of these versions it recommends or prefers. However, the API treats these as the _same_ piece of information, so that expressing one overrides the other.

For example, given that version 1.1.0, 1.2.0 and 2.0.0 are available, the following selects 1.2.0:

[code]

It should instead select

[2018-01-29 03:51] adammurdoch commented on #4182
The getter on `DependencyConstraint` should return a mutable version constraint structure as well.

[2018-01-29 03:57] adammurdoch opened #4184 "DependencyConstraint should not extend from Dependency"
A dependency declaration, represented using `Dependency` represents some capability that must be present for the consumer to function. A dependency constraint applies some additional criteria to things that are otherwise present or not in the dependency graph. Or, another way to view this is that a dependency adds edges to the graph, and a dependency constraint affects which versions these edges c

[2018-01-29 04:04] adammurdoch opened #4185 "Allow the dependency constraints associated with a configuration to be queried"
In general, it should be possible to query the data structures associated with the model. The dependency constraints associated with a configuration are part of the model and should be queryable, in a similar way that the dependency declarations for a configuration can be queried.

### Expected Behavior

There is a way to query dependency constraints associated with a configuration that is consist

[2018-01-29 04:18] adammurdoch opened #4186 "Honor exactly one `prefer(x)` dependency constraint in the presence of multiple conflicting preferences"
When there are multiple conflicting `prefer(x)` dependency constraints present, these constraints are ignored. Instead, a version that matches at least one of these constraints should be selected, when they do not conflict with any other constraints. The same mechanism that is used to select a version from multiple candidates should be used, which currently happens to be to select the highest vers

[2018-01-29 08:16] melix commented on #4186
This is not specific to constraints: if multiple transitive regular dependencies have the same versions as in the example above, we select 1.2.0 too. This is a known issue, that we often refer to internally as "do best effort with ranges to select the best matching version".

[2018-01-29 08:25] RedaZZ commented on #4170
@blindpirate here is the build with stacktrace

[code]

[2018-01-29 08:34] blindpirate commented on #4170
I believe this is a certificate issue with the old maven central URL. Please try with latest Gradle version or change the maven repositories declaration. See https://github.com/gradle/gradle/pull/3464 for more details.

[2018-01-29 09:34] lptr opened #4187 "Change in output type should make task out-of-date"
When a task output changes from `file()` to `dir()` it should mark the task out-of-date.

[code]

[2018-01-29 09:34] lptr opened #9130 "Change in output type should make task out-of-date"
@lptr commented on [Mon Jan 29 2018](https://github.com/gradle/gradle/issues/4187)

When a task output changes from `file()` to `dir()` it should mark the task out-of-date.

[code]

[2018-01-29 10:36] #4119 closed

[2018-01-29 10:36] melix commented on #4118
Closed via c5ca014

[2018-01-29 10:36] #4118 closed

[2018-01-29 11:07] bamboo commented on #4171
I'd just like to share our current Kotlin upgrade policy:

From [Kotlin versions and the Gradle Kotlin DSL](https://github.com/gradle/kotlin-dsl/blob/develop/doc/getting-started/Kotlin-Versions.md).

[2018-01-29 11:53] jjohannes opened #4189 "Move preview-features.adoc content to user guide"
Makes this (or parts of it) part of the user guide:
https://github.com/gradle/gradle/blob/master/subprojects/dependency-management/preview-features.adoc

The documentation about how POMs/BOMs are supported by Gradle should be part os the user guide and linked in the corresponding 4.6 release notes sections.

[2018-01-29 12:22] edeandrea commented on #4171
Shouldn't whatever version of kotlin that the Gradle Kotlin dsl uses be invisible to the project - similar to how the Groovy version is? The fact that the Kotlin version is visible to the project seems to be the cause of this issue. This is shown by the simple fact that upgrading Gradle from 4.4.1 to 4.5 without modification to the project or it's dependencies causes it to break.

[2018-01-29 12:27] moserp commented on #4076
Using a different property name, eg componentName as suggested, resolves the issue for me.  Thanks.

[2018-01-29 14:17] oehme commented on #4171
The problem is in the dokka plugin, not in your code. The plugin needs to see the same Kotlin version as Gradle, otherwise it couldn't interact with the Gradle DSL. The same is true for Groovy. Every plugin sees the same Groovy version - the one that Gradle ships with. We just don't do breaking Groovy upgrades in minor releases. We do it for Kotlin, because we're still in 0.x.

[2018-01-29 14:20] edeandrea commented on #4171
Thank you @oehme for the explanation. So just to be clear with the outcome here - those of us who use Dokka are stuck with Gradle 4.4.1 until the Dokka folks fix their problem?

[2018-01-29 14:20] oehme commented on #4171
I'm afraid so.

[2018-01-29 14:26] edeandrea commented on #4171
Do you guys have any leverage with them? Seems from their issue tracker activity that they aren't very active.

[2018-01-29 14:26] RedaZZ commented on #4170
Hi, I've updated my gradle to the latest verion 4.5, but still have the same issue :

[code]
Both urls are accessible from the browser and i can download the .pom files [https://repo.maven.apache.org/maven2/com/android/tools/build/gradle/2.3.0/gradle-2.3.0.pom](https://repo.maven.apache.org/maven2/com/android/tools/build/gradle/2.3.0/gradle-2.3.0.pom)
and
[https://jcenter.bintray.com/com/android/t

[2018-01-29 15:00] wolfs commented on #2300
@tbroyer Regarding annotation processor arguments (`-Akey=value`): starting with Gradle 4.5 there is now some support which would allow you to model an annotation processor in a rich way: see the [userguide](https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:task_input_nested_inputs) and the new property [CompileOptions.compilerArgumentProviders](https://docs.gradle.org/current/ds

[2018-01-29 15:38] reegnz commented on #1050
Tried it with a private cache of https://plugins.gradle.org/m2/ in Artifactory, configured as a remote maven repository.
Also configured it like in the documentation of gradle:
https://docs.gradle.org/current/userguide/plugins.html#sec:custom_plugin_repositories
Works like a charm.

[2018-01-29 16:10] vehovsky commented on #947
@oehme Thank you for the info, is the any way of tracking progress on the mentioned topics? As we would also like to use composite builds, but the current limitations are blocking for us.

[2018-01-29 16:22] tbroyer commented on #2300
@wolfs I must say I have never personally had the need to pass processor args (not entirely true, but not far from reality), and never needed to use arguments in the few processors I wrote.

So, IIUC, the goal is mostly such that annotation processor authors could also provide Gradle plugins modeling the processor arguments in a typesafe (and discoverable) API that could also validate the argument

[2018-01-29 16:27] bigdaz commented on #2882
@carlspring We've made some improvements to the `maven-publish` plugin in this regard, but:

While we acknowledge this limitation in our `maven-publish` plugin, we don't currently have the capacity to schedule a fix for this.

[2018-01-29 18:10] bmuschko commented on #4189
It might work well in this section: https://docs.gradle.org/current/userguide/customizing_dependency_resolution_behavior.html

[2018-01-29 18:38] big-guy opened #4193 "`plugins {}` fails build when duplicate plugin requests are present"
The new `plugins {}` block checks for duplicate plugin requests, but this is inconsistent with the existing `buildscript` mechanism and cuts across what a user may actually want.

### Expected Behavior

Duplicate plugin requests are allowed and de-duplicated in the dependency resolution process.

### Current Behavior

Builds with duplicate plugin requests fail:
[code]
or
[code]

The message is som

[2018-01-29 18:52] hungvietnguyen commented on #4114
@wolfs This makes sense after I read the documentation at https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/TaskInputs.html#dir-java.lang.Object-: "All files found under the given directory are treated as input files for this task." However, this is a little surprising and not intuitive for users of Gradle when the paths to root directories are not considered as inputs. With `@InputFile

[2018-01-29 19:07] bmuschko commented on #4172
@donat Could you please look into this?

[2018-01-29 19:16] wolfs commented on #4114
Fixed via #4137.

[2018-01-29 19:16] #4114 closed

[2018-01-29 20:51] rbjorklin opened #4195 "gradle init on Maven project results in NullPointerException"
### Expected Behavior
Project conversion is successful.

### Current Behavior
Project conversion fails with:

    * What went wrong:
    Execution failed for task ':init'.

### Context
I wanted to compare maven & gradle build times on a dropwizard project.

### Steps to Reproduce (for bugs)

    git clone https://github.com/dropwizard/dropwizard.git
    cd dropwizard-example
    gradle init

### Y

[2018-01-29 20:55] sandeeplondhe opened #4196 "I am having a issues running the project in android studio."
I am getting this error when i tried to run the project

Error:Execution failed for task ':app:transformClassesWithDesugarForDebug'.

I am using gradle version 3.0.1
Android Studio 3.0.1

My Gradle file as follows in app folder

buildscript {
    repositories {
        maven { url 'https://maven.fabric.io/public' }
    }

    dependencies {
        classpath 'io.fabric.tools:gradle:+'
    }
}
appl

[2018-01-29 21:58] marcospereira opened #4197 "Create build init types for Play Framework"
It should be possible to create new Play Framework projects using the following command:

[code]

And for Scala projects:

[code]
To make that happen, we need two new [build init types](https://docs.gradle.org/current/userguide/build_init_plugin.html).

[2018-01-29 22:12] marcospereira opened #4198 "Support standard project layout for Play Framework projects"
When using Play Framework with sbt, it is possible to use two project layouts:

1. [Play application layout](https://www.playframework.com/documentation/2.6.x/Anatomy#The-Play-application-layout)
2. [Default sbt layout](https://www.playframework.com/documentation/2.6.x/Anatomy#Default-SBT-layout) which is similar to [Gradle's layout for Scala projects](https://docs.gradle.org/current/userguide/sca

[2018-01-30 00:09] bmuschko commented on #4196
Please open Android-related issues on the Android Issue Tracker at `https://source.android.com/source/report-bugs`.

[2018-01-30 00:09] #4196 closed

[2018-01-30 00:10] bmuschko commented on #4195
Could you please post the full stack trace (available via `-s`)?

[2018-01-30 00:36] #3295 closed

[2018-01-30 01:26] ldaley opened #4199 "buildFinished callbacks may fire before all tasks have completed in a composite build"
There is some back story @ https://github.com/gradle/gradle-private/issues/916#issuecomment-355159245 involving a non deterministic test that surfaced this problem.

### Expected Behavior

buildFinished callbacks registered with any build of a composite should not fire until all tasks of all builds have completed.

### Current Behavior

The buildFinished callbacks (and probably other similar lifec

[2018-01-30 02:27] soberich opened #4200 "Multi-project build. Can't import packages"
### Expected Behavior
one subproject can import packages from another

### Current Behavior
there is a root project (just a wrapper with no code) and several subprojects (I cleaned it up to just two projects to resolve this issue). When I work in IDEA everything inported as usual. I have a module (subproject) with db entities, and the other module (second subproject) and, of course, I put
the line

[2018-01-30 03:04] ymwang1984 commented on #3295
@blindpirate  Thanks a lot for the fix!

Is there a Gradle nightly version that we could try out? Thanks!

[2018-01-30 03:13] blindpirate commented on #3295
@ymwang1984 Tomorrow I guess, I'll let you know. :-)

[2018-01-30 04:02] bbowman commented on #3543
I'm seeing this as well.

[2018-01-30 05:13] #4012 closed

[2018-01-30 05:30] blindpirate opened #4201 "GradleRunner should not fork a long-live daemon when `withDebug(true)`"
As reported [here](https://discuss.gradle.org/t/testkit-and-worker-api-st-when-debug-is-enabled/25490?u=dpukyle), at some point between `4.0` and `4.1`, we create worker daemon process with `KeepAliveMode.DAEMON`, which we have to force kill after the build and this results in a stacktrace printed on console.

Before `4.1`, we created child process for `GradleRunner.withDebug(true)` with the follo

[2018-01-30 08:21] wreulicke opened #4202 "Overlapping pom dependency management entries can cause a wrong dependency scope in Gradle 4.5"
### Expected Behavior

I added dependency of "org.zalando:logbook-spring-boot-starter:1.5.3" into my module.
slf4j-simple and lombok is not resloved as dependencies of "logbook-spring-boot-starter" .

I seems to have no that dependency in [the module](https://search.maven.org/#artifactdetails%7Corg.zalando%7Clogbook-spring-boot-starter%7C1.5.3%7Cjar)

### Current Behavior

In gradle 4.5, just reso

[2018-01-30 08:24] wreulicke commented on #4202
Related? https://github.com/gradle/gradle/issues/4171

[2018-01-30 08:28] bronogard opened #4203 "In Gradle 4.5 the javadoc of SetProperty interface contains link to wrong factory method org.gradle.api.model.ObjectFactory#listProperty(Class)"
### Expected Behavior
When I open the javadoc of the [SetProperty](https://github.com/gradle/gradle/blob/521d1c279d81fddd42cbeab21754aaf08065e1cd/subprojects/core-api/src/main/java/org/gradle/api/provider/SetProperty.java#L26) interface I want to see a javadoc link to [ObjectFactory#setProperty](https://github.com/gradle/gradle/blob/521d1c279d81fddd42cbeab21754aaf08065e1cd/subprojects/core-api/src

[2018-01-30 08:44] jjohannes commented on #4202
@wreulicke thanks for reporting. I can reproduce this. It is a regression.

Looks like `json-path-assert:2.2.0` is somehow promoted to the `compile` scope although it is defined in `test` scope in the [parent POM](http://central.maven.org/maven2/org/zalando/logbook-parent/1.5.3/logbook-parent-1.5.3.pom).

[2018-01-30 08:51] oehme commented on #4200
Please provide a reproducible example project, either as an archive or as a Github project.

[2018-01-30 09:13] eskatos commented on #4171
The upstream issue just got assigned and lined up for the upcoming Dokka 0.9.16.

[2018-01-30 09:32] jjohannes commented on #4202
Actually the pom `org.zalando.logbook-parent:logbook-parent` linked above imports `org.springframework.boot:spring-boot-dependencies`. Which also has an entry for `json-path-assert` - without scope.

We treat entries with different scopes now separately. Before, one entry would just override the other. Which could lead to information loss, if we have two entries with different scopes. See: https:/

[2018-01-30 09:52] oehme commented on #4171
Closing since there is nothing else to do on the Gradle side.

[2018-01-30 09:52] #4171 closed

[2018-01-30 10:31] wolfs opened #4204 "Inconsistent handling of root directories between `@InputFiles` and `@InputDirectory`"
Annotation an input property which points to a directory with `@InputFiles` causes a different behavior to annotating the same property with `@InputDirectory`.
See https://github.com/gradle/gradle/issues/4114#issuecomment-361347312.

### Expected Behavior
`@InputFiles` and `@InputDirectory` only differ in validation of the input property, but have the same effect on what files are tracked as input

[2018-01-30 10:31] wolfs commented on #4114
@hungvietnguyen I opened https://github.com/gradle/gradle/issues/4204 to track the inconsistency between `@InputDirectory` and `@InputFiles`.

[2018-01-30 10:33] jbq commented on #1868
I'm facing exactly the same issue.  I can't believe it can be such a PITA to use HTTPS in a Java environment in 2018 :-|

[2018-01-30 10:36] jbq commented on #1868
Workaround: after installing Java 9 with `brew cask install java` the problem goes away.  I wonder where this might be documented.

[2018-01-30 12:41] rbjorklin commented on #4195
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':init'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:103)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:73)
        at org.gradle.api.internal.tasks.execution.OutputDirectoryCr

[2018-01-30 13:36] donat commented on #4172
This is probably related to the recent changes in the dependency resolution engine.

[2018-01-30 15:15] oehme commented on #4172
@donat Could you fix the [EclipseDependencyCreator](https://github.com/gradle/gradle/blob/master/subprojects/ide/src/main/java/org/gradle/plugins/ide/eclipse/model/internal/EclipseDependenciesCreator.java#L97)? I forgot the self-dependency check like in the [IDEA plugin](https://github.com/gradle/gradle/blob/master/subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/model/internal/IdeaDepend

[2018-01-30 16:27] #3554 closed

[2018-01-30 16:51] code-n-roll opened #4207 "Trying to run gradle wrapper from Windows' Bash, the SDK directory is being interpreted as a concatenation of Windows/Linux PATH"
### Expected Behavior

When running "./gradlew task" in a android project dir, under bash shell in windows subsystem for linux, I expect it to run the task.

### Current Behavior

 What went wrong:
A problem occurred configuring project ':app'.
 The SDK directory '/mnt/d/android/projects/projectname/D:\android\sdk' does not exist.

### Context

bash shell in windows subsystem for linux

### Steps

[2018-01-30 16:52] jjohannes opened #4208 "Spike replacement/provides constraints"
Once we have settled on an initial design: #4122

[2018-01-30 17:23] reegnz commented on #2679
A more user-friendly logic could be built with inspecting the Content-Length header of the HTTP response when downloading the file.

Calculating the percentage can be based on Received bytes/Content-Length.

Code that prints the dots:
https://github.com/gradle/gradle/blob/f001402c8b7f404c923d972f1bc524b2de7b3fcd/subprojects/wrapper/src/main/java/org/gradle/wrapper/Download.java#L71

How to get the

[2018-01-30 17:23] jjohannes commented on #4202
After investigating further, I think the change (https://github.com/gradle/gradle/commit/a82cf4ac0b40d25cb12218df669be14259f9a675) was a mistake. Even if we fix the case here, there are other cases where we would need to "merge" information from multiple dependency management entries to have the "correct" (i.e. mavens) behaviour. But that would mean that the behaviour changes for some cases.

If w

[2018-01-30 17:27] oehme commented on #932
Thanks for pointing this out, this was indeed fixed in 3.5

[2018-01-30 17:27] #932 closed

[2018-01-30 17:51] reegnz opened #4210 "Configurable distribution repository URL for Gradle wrapper download"
### Expected Behavior
I want to override the repository url for the gradle wrapper task with my custom repository URL, so that the wrapper config generated uses my mirror instead of the official distribution point.
[code]
If I want to update gradle wrapper to a new version, I want the following command to use the repo I have specified above.
[code]

### Current Behavior
I can only override the ent

[2018-01-30 17:54] sandeeplondhe commented on #2384
i am getting the same error, i tried clean and debug but no results if anyone finds any solution for this, please do let me know.

[2018-01-30 18:27] oehme commented on #4210
Can you try using:

[code]

[2018-01-30 18:28] oehme commented on #4207
Please open Android-related issues on the [Android Issue Tracker](https://source.android.com/source/report-bugs)

[2018-01-30 18:28] #4207 closed

[2018-01-30 19:19] soberich commented on #4200
My bad.
I spend one day with thу issue, but it turn out the bnd plugin were doing its thing.
The project's which I depend on `.bnd` file contained `-wab:` directive, so its classpath terned into web-project alike. So the dependent project could not reslove it.
Unforntunatevly, those kind of tools like `bnd` does not provide a lot of the debug/loging capabilities, so It is always hard to say what i

[2018-01-30 19:19] #4200 closed

[2018-01-30 20:00] DPUkyle commented on #4201
Thanks @blindpirate for creating this, and confirming that it's indeed harmless. Please let me know if I can help.

- Kyle

[2018-01-30 20:20] reegnz commented on #4210
I opened this ticket after finding this in the gradle source code:
https://github.com/gradle/gradle/blob/34750856b4ea704208f1b4872e96d13f29329718/subprojects/build-init/src/main/java/org/gradle/api/tasks/wrapper/Wrapper.java#L342

So I assume it's not as simple as that.  :(

Didn't try it out though, so I'll also verify your suggestion.

[2018-01-30 20:56] cdancy opened #4212 "Gradle 4.5 `ant` call fails with: you can only specify one of the dir and file attributes"
### Summary

When upgrading from gradle `4.3.1` to `4.5` our build fails, when calling out to an `ant` task, with:

[code]

### Expected Behavior
Things to "just work" and not fall over. Nothing changed code wise we're just testing with bumping gradle to `4.5`.

### Current Behavior
The build fails with the aforementioned `you can only specify one of the dir and file attributes` exception message.

[2018-01-30 22:06] robbie-demuth opened #4213 "Relative path sensitivity isn't accounted for in task inputs"
### Expected Behavior

Changes to relative paths of files that are used as task inputs annotated with `@PathSensitive(PathSensitivity.RELATIVE)` should cause the cache key of the task to change, thus making the task out-of-date.

### Current Behavior

Suppose I have the following task class:

[code]

And suppose I have the following directory structure:

[code]

And suppose I have the following bu

[2018-01-30 22:56] wolfs commented on #4213
@robbie-demuth Thank you for reporting!

By calling `getFiles` on the file tree, you loose the hierarchy information which is essential for relative path sensitivity. So Gradle treats each file as root file relative to itself. This is why the change is not detected.

Try using this instead:
[code]

Does this fix your problem?

[2018-01-30 22:58] wolfs commented on #4213
Even easier, why don't you annotate `getInputDir()` with `@InputDirectory @PathSensitive(PathSensitivity.RELATIVE)` and `getInputFiles()` with `@Internal`?

[2018-01-31 00:23] asarkar opened #4215 "The tooling API should provide a way to get the dependencies of the project"
The tooling API doesn't provide a way to get the dependencies of the project.

### Expected Behavior
The tooling API would provide a way to get the dependencies of the project.

### Current Behavior
The tooling API doesn't provide a way to get the dependencies of the project.

### Context
I'm trying to build a tool to track the dependencies between multiple projects.

### Steps to Reproduce (for b

[2018-01-31 00:29] robbie-demuth commented on #4213
Thanks for the quick reply, @wolfs

With respect to calling `getFiles()` on the tree, that was something I had to implement to navigate around another issue I created regarding FileTrees matching empty directories (see https://github.com/gradle/gradle/issues/3444). Do you have any insight into that issue? Based on what you said above, it sounds like what I’m encountering is intended behavior. In t

[2018-01-31 00:37] bmuschko commented on #4215
You can query the information via the `IdeaProject` or the `EclipseProject`. Please refer to the following two resources:

- https://discuss.gradle.org/t/getting-dependencies-using-gradle-tooling/17793
- https://issues.gradle.org/browse/GRADLE-2055

Let us know if you have additional questions.

[2018-01-31 00:37] #4215 closed

[2018-01-31 00:45] bmuschko commented on #4212
We upgraded the [bundled Ant version to 1.9.9](https://docs.gradle.org/4.4/release-notes.html#ant-version-upgraded-to-ant-1.9.9) with Gradle 4.4. The new version might treat a fileset differently or Ant Installer is not compatible anymore with the version you got. I can't spot the issue directly. Try changing how you define the installer task. Sounds like you can either use `file` or `dir`.

[2018-01-31 01:16] blindpirate commented on #4169
Thanks for reporting, can you provide us with a sample project? That would be great.

[2018-01-31 01:16] cdancy commented on #4212
@bmuschko yeah I did notice you guys bumped to 1.9 from 1.6. The odd part about the above snippet is that, so far as I can tell, we are ONLY defining the `file` attribute and not the `dir` as the exception message states. I tracked things down to [THIS LINE](https://github.com/apache/ant/blob/master/src/main/org/apache/tools/ant/types/AbstractFileSet.java#L242). After following the logic it would

[2018-01-31 01:39] adrian-baker opened #4216 "NullPointerException in DefaultPersistentDirectoryStore when reading/writing from build cache"
We're seeing a number of NullPointerExceptions while populating the build cache.

We're using composite builds, so I can't attach a build scan.

This is using Gradle 4.5, with both org.gradle.parallel and org.gradle.configureondemand set to true.

I don't believe the errors are impacting the results of the build, however they are likely hurting the effectiveness of the cache.

[code]

[2018-01-31 01:42] blindpirate commented on #4176
I guess you need to add `module-path` to `javadoc`:

[code]

[2018-01-31 01:42] #4176 closed

[2018-01-31 01:47] blindpirate commented on #4216
@lptr Maybe you can take a look at this.

[2018-01-31 01:55] adrian-baker commented on #4216
Actually reviewing the exceptions, it looks like the same null pointer can be hit when reading from the cache as well:

org.gradle.api.GradleException: Build cache entry 81980a57206bb7a7a0787423dfcacc53 from local build cache is invalid
        at org.gradle.caching.internal.controller.DefaultBuildCacheController.load(DefaultBuildCacheController.java:106)
        at org.gradle.caching.internal.con

[2018-01-31 02:56] adammurdoch opened #10569 "Offer a convenience to resolve source dependencies from Github"
Add a method/plugin/flag/sound/whatever to conveniently resolve a dependency as a source dependency from Github. This might, for example, just apply some convention for mapping group:module to a Github org or user + repo.

In the case where the convention doesn't work, people can instead use the regular VCS mapping DSL. We might make some changes to make this more convenient.

[2018-01-31 03:00] adammurdoch opened #10570 "Check for changes to source dependencies at the same rate as binary dependencies"
We should aim to make source dependencies and binary dependencies work the same way when it comes to checking for and incorporating upstream changes.

This might mean changing source dependency resolution so that we check for changes only as often as specified by "checkDynamicVersionsFor()" in the same way that binary dependency resolution checks for changes in remote repos. Of course, this has so

[2018-01-31 03:11] big-guy commented on #4212
Depending on how you look at it, this looks is an Ant regression or a misuse of the Ant FileSet API by the Installer task.

This looks related (from Ant 1.9.8):
[code]
https://archive.apache.org/dist/ant/RELEASE-NOTES-1.9.8.html

In the Installer task:
https://github.com/tikalk/tikal-ant-installer/blob/master/src_ext/org/tp23/antinstaller/taskdefs/Installer.java#L195-L196

Calling `setFile` twice

[2018-01-31 03:18] asarkar commented on #4215
@bmuschko that’s not the same thing. The IDEA/Eclipse modules require respective project files to be present. A Gradle project is a Gradle project regardless of an IDE; it doesn’t make sense to depend on an IDE for getting basic project information. The `GradleProject` module should expose the dependencies.

[2018-01-31 03:20] big-guy commented on #4203
Thanks @bronogard -- I've fixed the link in https://github.com/gradle/gradle/commit/04deb22ee0004e97c38977551723e1936abe23c8

[2018-01-31 03:20] #4203 closed

[2018-01-31 04:10] asarkar commented on #4215
I stand corrected. I was trying to get the `IdeaModel` that failed without the project files, but `IdeaProject` seems to work. I'll look into it and report back if I face any problems. Thanks.

That said, it is extremely confusing to get project info from the IDE projects.

[2018-01-31 05:19] wreulicke commented on #4202
@jjohannes thanks for your comments.

I see. but, I think it is wrong to add `real` dependency, when module add to dependency management in `pom.xml`.
my understand is correct?

blocking. But I can work around for few part.

In my case, my runtime dependencies was contaminated due to this issue.
So, this contamination leads to break a application because there are two slf4j implementation in my cl

[2018-01-31 05:44] wreulicke commented on #4202
I misunderstood.
This contamination is occured when there are some dependency in `<dependencyManagement>` and  dependency with other scope  in `<dependencies>`?

[2018-01-31 05:58] epeee commented on #4172
@oehme thx for the hint! I can confirm that the generated project can be imported without errors again after applying your fix (building gradle locally using fixes from https://github.com/epeee/gradle/tree/gradle-4172).
I have not checked other implementations of `IdeDependencyVisitor` though.

[2018-01-31 06:52] oehme commented on #4215
The Tooling API models are crafted to the specific needs of the tool they are used for. A generic "dependency model" would not be useful in that regard, as every tool needs different information. It would just end up being hugely complex and leaking all kinds of internal information, making it a bad candidate for the forward and backward compatibility we guarantee for tooling models. It would also

[2018-01-31 09:11] wolfs commented on #4216
@adrian-baker Thank you for the report!

I have a lot of questions for you:

Do you see those exceptions every time you run a build?
Do they happen with 4.4, too?
Could you provide a reproducible example?
Do these exceptions go away if you disable configure on demand?

[2018-01-31 09:27] jjohannes commented on #4202
To clarify: The issue can only appears if one of the `pom`s defines a dependency without scope and where a scope is added via `<dependencyManagement/>`. And where another  `<dependencyManagement/>` entry exists with a different scope.

The revert of the change above will bring us back to what we had prior to 4.5:
We always pick the "closest" dependency management entry - which is the one with test

[2018-01-31 10:41] ahmedmohiduet commented on #1128
I'm facing similar issue. On my Git Bash "gradle clean bootrun" now not responding for Ctrl+C

[2018-01-31 11:04] reegnz commented on #4210
@oehme Ok, I've tried various configurations:
[code]
Cannot use --gradle-version from CLI to upgrade version, always takes current gradle version.

Another alternative I've tried (the current one I'm using):
[code]
--gradle-version from CLI doesn't override version in build.gradle
If it were to work it would still fall back to the configured one instead of the current version (like in the previous

[2018-01-31 11:14] shwenzhang commented on #2767
@oehme , I think it is not good way to rebuild all class if contain a constant.

We can javac all the changed java classes first, then judge whether really has a constant field changed?

[2018-01-31 11:17] melix opened #4218 "Remove malformed jar deprecation"
Currently, if a jar on classpath is malformed, we issue a warning explaining that this is not going to supported as of Gradle 5.0.

However, there are multiple cases where this could be wrong:

- for newer Java releases, for which Gradle is not ready, any unrecognized class format will trigger the problem. That's why we had to reintroduce a `Java10ClassReader`
- for some use cases, putting a malfo

[2018-01-31 11:22] oehme commented on #2767
We are aware that this is not the best heuristic, but it does the job relatively well. It would be interesting to know in what kind of code base this becomes a problem. E.g. what kinds of code bases change constants all the time? Android comes to mind with its `R` classes, any others?

Note that we do have ideas on how to improve this, it just isn't the highest priority right now.

[2018-01-31 11:26] oehme commented on #4210
This could be fixed by using the new `Provider` infrastructure here instead of a plain `String`. Would you be interested in providing a pull request?

Otherwise you can always do something like this to modify the url last minute, when the version is known (pretty hacky):

[code]

[2018-01-31 11:37] reegnz commented on #4210
I am not that familiar with the provider infrastructure yet.
I'll have a look.

[2018-01-31 11:39] pflammertsma commented on #2384
@sandeeplondhe: It appears that the latest Android gradle plugin is broken. `3.1.0-beta1` is giving me this exception; downgrading to `3.1.0-alpha09` resolved it for me.

[2018-01-31 11:43] kpramesh2212 commented on #4169
@blindpirate

Thanks for taking this ticket into consideration and thanks for your time.

issue2: I am not able to remember how to reproduce this but I will update you on it

However for issue1 and issue3, I have attached a sample project
[issues.zip](https://github.com/gradle/gradle/files/1681530/issues.zip)

[2018-01-31 12:41] sandeeplondhe commented on #2384
@pflammertsma here is my gradle in app folder

[code]

and gradle in root folder,

[code]

if you know any suggestions to avoid this error please let me know.

[2018-01-31 12:42] wolfs commented on #4213
Hi @robbie-demuth.

I agree that our documentation about path sensitivity could be better. If you have a suggestion how to improve please provide an issue or a PR.

In your example then includes where `**/*`, this is why I suggested adding the input directory directly as an input. What you are saying makes sense and your solution should work.

[2018-01-31 13:11] modestukasai opened #4219 "codenarcMain and codenarcTest tasks fails in JAVA 9"
Hi,
I get bellow error. Please see [git repository](https://github.com/modestukasai/groovy-codenarc-java-9)

I am executing `.gradlew codenarcMain` or `.gradlew codenarcTest` with java 9 compiler.

`Execution failed for task ':codenarcMain'.`
`java.lang.NoClassDefFoundError: Unable to load class groovy.xml.jaxb.JaxbGroovyMethods due to missing dependency javax/xml/bind/JAXBContext`

[2018-01-31 13:19] robbie-demuth commented on #4213
@wolfs - Do you have any insight into the other issue I linked (https://github.com/gradle/gradle/issues/3444)? Also, based on what you said above, is it correct to state that relative path sensitivity only has an effect when the annotation is placed on a FileTree? It sounds like placing it on anything else would only catching renaming a file in which case, it functions like `PathSensitivity.NAME_O

[2018-01-31 14:21] big-guy commented on #4210
`Provider` is the right answer here, but the most reliable workaround for now would be:

[code]

Using `doFirst` to modify inputs is going to fail in the future and would behave incorrectly if you needed to change the URL at some point.

[2018-01-31 14:49] rkrisztian commented on #1365
I think the real problem is that the Copy task comes with an **incorrect UP-TO-DATE check configuration**. I'm using Gradle 4.3 and the following is my test project:

[code]

Then I execute the following commands:

[code]

I think it is just plain wrong to define the whole directory as an output, when in fact it should be a single file. Please correct me if I'm wrong.

[2018-01-31 15:08] cdancy commented on #4212
@big-guy that does indeed work though now my resulting jar is now missing all of the classes from the now missing ant jars. I'll play around with this a bit and see if I can come up with something before I deem this a success.

[2018-01-31 15:46] scottresnik commented on #4145
I'm also receiving NPE's resolving dependencies.  I have a ~45 multiproject build.
* This has only started happening when we moved up from gradle 4.3 to 4.4.1.
* Our project uses Nexus 2.14.x for our dependencies.
* We do not use `--parallel`.
* We also use the [Spring Dependency Management Plugin](https://github.com/spring-gradle-plugins/dependency-management-plugin)
* My build failure is caused

[2018-01-31 16:08] rkrisztian commented on #1365
One very ugly workaround would be the use of the following task, and then manually registering outputs for each copy task (warning: it uses internal classes!). I guess a more intelligent solution would calculate the output files by executing the `rename` callback for each input file, or just let the user define the outputs...

[code]

[2018-01-31 16:36] #2241 closed

[2018-01-31 16:41] wolfs commented on #3648
Fixed via https://github.com/gradle/gradle/pull/3804.

[2018-01-31 16:41] #3648 closed

[2018-01-31 16:54] wolfs commented on #4213
@robbie-demuth relative path sensitivity has an effect when the annotation is placed on a `FileTree` or a `FileCollection`. It even works on a single `File` or an `Iterable<File>`, if the files are directories. As soon as you add every file in a directory to the collection which is annotated and the collection is not a `FileTree`, then relative path sensitivity will not have the desired effect.

[2018-01-31 16:57] cesards commented on #3013
Using Gradle 4.5 fixes the problem :-) You just need to change the distribution url:

[code]

[2018-01-31 17:23] wolfs commented on #2241
This has been fixed by #4206.

We only log the input hashes when the Gradle property `org.gradle.caching.debug` is set to `true`.

[2018-01-31 17:28] scottresnik commented on #4145
Shortly after my previous post, one of the developers on my team ran into the OP's NPE locally.  Gradle failed fast trying to create the build script classpath.  In order to work around the NPE, I had to have the developer remove the ~/.gradle/caches/4.4.1 directory.  The next invocation of gradle worked.

[2018-01-31 18:02] mkobit opened #4224 "Make built-in Gradle tasks and java.lang.Object accepting methods more `Provider<>` friendly"
Gradle recently introduced the `Provider<>` types to make configuration more lazy and functional. These types are great to use in custom plugins and when composing functional pieces together. Passing around functions that produce values is a much easier way to reason about the dependency graph when you only care about inputs and outputs and not as much about the underlying dependencies. You only h

[2018-01-31 20:04] jjohannes commented on #4086
- We should not promote this as command line parameter. If someone activates this, and it works for them, it should be kept in the build until 5.0.
- We should give the possibility to enable this from the build script (if people use gradle.properties for local environment settings, it's not necessarily a file they commit to version control). We already have this possibility now by modifying start

[2018-01-31 20:07] jjohannes commented on #4184
After gaining some experiences with using constraints and discussing this wit Adam, I think we should give it another try to remove this coupling of `Dependency` and `DependencyConstraint` from the APIs.

[2018-01-31 20:51] mathiasbn commented on #1428
I have a dream... A dream of C# projects configured by gradle. A dream of never ever entering a .sln or .csproj file ever again! By autogenerating the ide files (yes I called them IDE files) instead of GUI editors.

Would that be possible. Wouldn't that be nice?

There should be a market for this. Huge xml files generated through GUIs yields conflicts and hinders the flexibilities of Gradle.

For

[2018-01-31 21:27] adrian-baker commented on #4216
It's reasonably intermittent - the trigger seems to be making a change in one of the projects in an included composite build, which triggers the issue maybe 75% of the time.

- The issue still occurs if I disable configure-on-demand
- I can't trigger it with 4.4.1
- I can't trigger it if I disable parallel

I've possibly found something that might be causing it - for our build server build, we use

[2018-01-31 21:32] adrian-baker commented on #4216
Ah, actually checking that log it's actually a different error ("Cannot lock Build cache (C:\Users\ABaker\.gradle\caches\build-cache-1) as it has already been locked by this process.").

Here's one with an actual null pointer - [really-with-null-pointer.log](https://github.com/gradle/gradle/files/1683400/really-with-null-pointer.log)

[2018-01-31 21:32] Tapchicoma commented on #4030
Another finding.

If I change:
[code]
to
[code]
and in `build.gradle` will define following:
[code]
Gradle will show following error:
[code]

With `Array` it works fine.

[2018-01-31 22:11] totorovan commented on #4160
May I take this one?

[2018-01-31 22:37] lacasseio commented on #1428
I'm with you on this @mathiasbn. However, in the short to medium term, we aren't planning to work on this story. The two possibilities are 1) you roll out your plugin, you can look the next native plugin we are rolling out which will hopefully give a better structure for new language community plugins or 2) find a sponsor for the development effort.

[2018-01-31 23:19] ldaley commented on #4224
@mkobit great issue report. 👏

Lot's of explanation of the problem in practical terms and not just a proposed solution implementation.

[2018-01-31 23:50] adammurdoch commented on #1428
I think there's some other possibilities between option 1 and option 2. We can probably find a way to work on this together in some form, if anyone is interested in doing so. At the moment, Gradle can't invest much time into the development and support for a C# integration (this may change in the future), as we are focussing on C++ first. But we can help out in certain ways because I think this is

[2018-02-01 00:36] trustin commented on #2039
Problem is solved after installing the `ncurses5-compat-libs`. Arch Linux uses ncurses 6 and it seems like Gradle doesn't work well with ncurses 6.

https://discuss.gradle.org/t/how-do-i-always-force-console-auto-in-a-gradle-properties-or-environment-variable/12039/11

[2018-02-01 02:36] blindpirate commented on #4169
Thanks.

You'd use

[code]

It's a bit complex, though. See [here](https://discuss.gradle.org/t/how-can-i-exlude-files-from-war-when-using-war-plugin-against-default-or-webappdirname-location/7366/10) for a reference.

As for issue3, I think that is just something conventional. `jar` is just a normal file container and you can put anything in it, which means a empty jar is of course ok. However, m

[2018-02-01 02:37] #4169 closed

[2018-02-01 03:34] shwenzhang commented on #2767
Thanks for replay. For a large project, recompilation of javac cost more than 30s with instant run build, this due to two reason:
1.annotation; It will be solved at 4.6 #1320
2.constant; Hundreds of people work in the project, sometime many of the classes will have constant fields. Developer may confused why building need so much time event they actually didn't change any constants.

[2018-02-01 07:48] adrian-baker commented on #3290
For the record, here's my stacktrace:

[code]

[2018-02-01 08:25] oehme commented on #2767
Note that this is only about *public* constants. In most cases you can avoid this by using static methods instead:

Replace this: `public static final int MAGIC = 23`
With this: `public static int magic() { return 23; }`

[2018-02-01 10:00] melix commented on #4145
Thanks @scottresnik , that's already useful information. So it appears that the problem can occur without `--parallel`.

Do you happen to run builds concurrently?

[2018-02-01 10:03] mkmaier commented on #3231
I have the same problem in another subproject as well, now, where we need to compile parts of the code with an older target release:

    apply plugin: 'java-library'
	sourceSets {
		legacy {
			java {
				srcDirs = ['src']
				include 'com/acme/legacy/**'
				compileClasspath += sourceSets.main.compileClasspath
			}
		}
		main {
			java {
				srcDirs = ['src']
				exclude 'com/acme/legacy/**'

[2018-02-01 10:32] jjohannes opened #4230 "Dogfood: Sort out which "plexus" dependencies are really needed in the Gradle build"
...and reduce them if possible.

See: https://github.com/gradle/gradle/pull/4167#discussion_r164325754

[2018-02-01 12:05] childnode commented on #884
I can extend this, that not just the `wrapper.jar` should be updated withing the `gradle wrapper --gradle-version=?` update run but also the `gradlew` and `gradlew.bat` files
I often see (and trapped into myself) committing the `wrapper/gradle-wrappe.properties` (and perhaps the `task wrapper(type: Wrapper){ gradleVersion = '?'}` definition but missed to update the other 2-3 artifacts

[2018-02-01 13:19] wolfs commented on #4216
I managed to reproduce the issue. It is related to us sharing the build cache configuration for composite builds starting with Gradle 4.5.
This is a regression. I'll look into a fix.

[2018-02-01 13:22] wolfs commented on #4216
You can avoid the problem if you add a task to your root build which depends on the tasks you want to execute in the composites.
This would make sure that the included builds finish before the root build.

[2018-02-01 14:01] scottresnik commented on #4145
@melix , our team does not run builds concurrently either in the CI environment or locally.

[2018-02-01 14:39] totorovan commented on #4160
May I take this one?

[2018-02-01 16:35] jjohannes commented on #4086
If we keep this only as a property, we should at least remove it from the public StartParameter API:

https://github.com/gradle/gradle/blob/master/subprojects/core-api/src/main/java/org/gradle/StartParameter.java#L870-L908

[2018-02-01 16:59] cdancy commented on #4212
Closing issue as removing the `antLib` parameter works combined with updating the produced jar with the missing libs that came from the `antLib` parameter.

[2018-02-01 17:00] #4212 closed

[2018-02-01 17:01] djinni-developer opened #4234 "Default includes for cross-compiling native iOS project cause compilation failures"
When using plugin "cpp", system includes are added to clang's compiler options, which results in failures if I try to build a native C++ library for iOS. It also fails to compile for macOS, but only if I also include the appropriate -isysroot as compiler.args.

### Expected Behavior
Since I am specifying -isysroot, I expect that it is used to figure out what the default system includes should be a

[2018-02-01 17:05] djinni-developer commented on #4234
Seems like Issue #3900 describes the same issue.

[2018-02-01 17:44] oehme opened #4237 "Free classloaders as soon as they are no longer used"
Gradle currently holds some reflection-related [data](https://github.com/gradle/gradle/blob/master/subprojects/core/src/main/java/org/gradle/api/internal/DependencyInjectingInstantiator.java#L61) in a cross-build cache, which keeps all values from the current and the previous build session. This is generally a good idea, as it means that we can avoid redoing a lot of costly reflection when no clas

[2018-02-01 18:03] dead10ck commented on #2039
@trustin you are correct, nice find! That completely fixes the output issues. So @bmuschko @big-guy I guess the real issue, then, is compatibility with ncurses 6.

[2018-02-01 18:54] oehme commented on #4237
I'm leaning towards number 3, as it provides the clearest lifecycle and very little overhead. I'm parking this for now, but will revisit for 4.7.

[2018-02-01 19:12] #3859 closed

[2018-02-01 20:14] mkobit opened #4238 "Groovy Provider<RegularFile>.map classcast exception when a lambda is provided"
### Expected Behavior

The lambda syntax should work.

### Current Behavior

A `ClassCastException` thrown.

[code]

### Context

In a buildscript trying to `map` different values into tasks using `Property` and `Provider`.

### Steps to Reproduce (for bugs)

* `gradle wrapper --gradle-version 4.5 && gradle init`
* `build.gradle` file

[code]

* `kotlintest.gradle.kts` - included for demonstration

[2018-02-01 21:40] big-guy commented on #1191
@wolfs Now that we have polymorphic inputs, can this be tackled more easily?

[2018-02-01 22:04] barbeau commented on #2826
@filol @blindpirate Does the above solution still work for you? I can't get it to work with `com.android.tools.build:gradle:3.0.1` exactly as you have written when using `gradlew assembleObaGoogleRelease` on https://github.com/CUTR-at-USF/onebusaway-android/tree/release-builds-broken.

[2018-02-01 23:08] lptr commented on #1191
I think we could handle the `CopySpec` methods that don't take a `Closure`/`Action` (like `eachFile {}` does) now, yes. We could also handle the ones _with_ the actions, but they would produce a lot of false cache misses in the typical case when the action is declared in the build script. Still, for a lot of use cases we could be doing things better.

[2018-02-02 00:06] adecker89 commented on #3876
`ivy-publish` and `maven-publish` make use of the rule engine which is going to be deprecated according to this blogpost https://blog.gradle.org/state-and-future-of-the-gradle-software-model

So if I'm reading it right, those plugins will need to be either migrated back to the current Gradle model or scrapped entirely.

[2018-02-02 00:10] ldaley commented on #4237
This came up years ago when doing the “new model” work because that involved so much reflection on user types and in a few different places. The consensus intent then was to do something like your option 3, in provide some service for storing information about a class that was aware of its loader origin and tied the lifecycle of that information to the loader.

https://github.com/gradle/gradle/blo

[2018-02-02 02:55] ldaley opened #4241 "Build path for non root builds cannot be queried until part way through the build's lifecycle"
Our data model has effectively evolved into a build invocation building a _tree_ (ish) of builds. There is a root build (i.e. the starting point for the build definition and our traditional understanding of a build), and included builds (composite build feature) and source dependencies are the child builds of the root. Each build in the tree has an identity, known as a build path, represented as a

[2018-02-02 02:56] ldaley commented on #3873
This aspect has effectively been fixed by #4227. I have raised #4241 to cover the fundamental root cause.

[2018-02-02 02:56] #3873 closed

[2018-02-02 04:26] ketan opened #4242 "java.lang.ClassCastException when compiling groovy code"
### Expected Behavior

Compilation should be successful

### Current Behavior

Got a `java.lang.ClassCastException: groovy.transform.stc.SimpleType cannot be cast to groovy.transform.stc.ClosureSignatureHint` error when compiling.

A quick breakpoint at the [affected line](https://github.com/apache/groovy/blob/GROOVY_2_4_12/src/main/org/codehaus/groovy/transform/stc/StaticTypeCheckingVisitor.java#

[2018-02-02 08:59] jjohannes commented on #4202
We have a `4.5.1` release scheduled for Monday that will include a fix for this.

PR with fix (revert): #4244

[2018-02-02 09:44] #4202 closed

[2018-02-02 11:18] jjohannes commented on #4185
Actually, dependency constraints are part of the dependency set at the moment (because they also extend Dependency) and can be accessed through that. This will change with #4184. So these two issues are best addressed together.

[2018-02-02 11:22] melix commented on #4182
To be clear, the getter is defined in `ModuleVersionSelector`, that `ExternalDependency` extends. So it's more about overloading the return type to `MutableVersionConstraint`.

[2018-02-02 12:02] oehme commented on #4172
@donat Since we're doing a patch release anyway, we should fix this there as well. The release is on Monday, so could you look into this today? If not I'll try to free up some time.

[2018-02-02 13:49] lacasseio commented on #3876
Thanks for sharing your concern @adecker89. Those plugins will be migrated to Gradle's current model. We don't have an exact ETA for this work to happen. It will be part of the work once we start phasing out the software model which isn't happening soon.

[2018-02-02 14:03] oehme commented on #828
Just a quick update: Thanks to @ajoberstar's spikes and a discussion with the JUnit team we have a good plan for how to go forward. @blindpirate is currently working on the [first step](https://github.com/gradle/gradle/pull/4116) of this plan.

1. Our first iteration will do no filtering of classes, but just pass everything to JUnit. We will use the usual round-robin algorithm to assign tests to w

[2018-02-02 14:17] oehme commented on #1037
Closing as we now have a good idea of how we want to go forward: Built-in support for JUnit 5, scheduled for Gradle 4.6. See the update on the [epic](https://github.com/gradle/gradle/issues/828#issuecomment-351431932).

[2018-02-02 14:17] #1037 closed

[2018-02-02 14:21] melix commented on #3723
So here are the results of various experiments I have made on the [cc/dependency-management/measure-advanced-pom](https://github.com/gradle/gradle/tree/cc/dependency-management/measure-advanced-pom) branch.

There are some good and bad news. There were 2 different things we wanted to understand:

a. what is the impact of enabling the "advanced POM support" by default
b. what would be the impact of

[2018-02-02 14:27] oehme opened #4250 "Support JUnit 5 Jupiter +Vintage test engines"
Enhance the test task so it can be configured to use `junitPlatform` instead of Junit 4. The implementation should have the following characteristics to make it compatible with both the JUnit Jupiter and Vintage engines (and hopefully others):

- pass all classes to JUnit, doing no up-front filtering. The test engines will decide what is a test and what isn't
- use the usual round-robin algorithm

[2018-02-02 14:29] wreulicke commented on #4202
@jjohannes thanks to your quickly help. 👍

[2018-02-02 14:33] oehme opened #4251 "Support junitPlatform tagging/filtering"
Provide a DSL so users can filter tests based on tags.

[2018-02-02 14:34] oehme opened #4252 "Support other class-based test engines in junitPlatform"
Building on #4250, support other class-based engines as well. If they already work, add some test coverage to prove it.

[2018-02-02 14:57] big-guy commented on #4212
Thanks @cdancy -- I raised https://bz.apache.org/bugzilla/show_bug.cgi?id=62071 and it looks like they're going to improve the error message for Ant 1.9.10.  The Installer task would still not work when setting `antLib` because they Ant will still prohibit you from calling `setFile` twice with different arguments.

[2018-02-02 15:19] oehme commented on #3295
@ymwang1984 please let us know if this fixes the issue for you

[2018-02-02 15:29] oehme commented on #3318
My best guess is that you are trying to share the Gradle user home between different containers, which is not supported.

[2018-02-02 15:33] oehme commented on #4053
No, it would mean your task doesn't notice changes to the configuration, so it wouldn't run at all.

[2018-02-02 16:02] JLLeitschuh commented on #828
For number 1:

How will you support tests that require static state (not a great way to write tests but its a use case that needs to be considered). For example, a webserver to be spun up. If Junit 5 tests are being split into multiple workers, do these workers have isolated classloaders? Will there be a way of specifying that all tests should be run in the same worker?

Please excuse me if I'm to

[2018-02-02 16:06] mkobit commented on #4238
I don't know if this is a Groovy problem or a Gradle issue. I would expect the SAM type `Transformer` to allow for that `Closure` to be provided (like how it works in the Kotlin script).

[2018-02-02 16:14] oehme commented on #828
@JLLeitschuh A worker is a separate process, so completely isolated. The number of workers per test task is controlled by `Test.maxParallelForks`.

[2018-02-02 16:30] iceyang1989 commented on #2304
thks.

[2018-02-02 16:44] ymwang1984 commented on #3295
@oehme

We are still verifying. Initial feedback is good as a few front-end devs said the re-deploy is much faster with asset change only. Please give us one more week to thoroughly test it. Thanks a lot!

[2018-02-02 17:41] DanielThomas opened #4253 "StaticVersionComparator unsafe in TreeMap/TreeSet"
We use this code internally in a project, and noticed that the last `return` causes versions that have the same parts, but different separators to be considered equal:

https://github.com/gradle/gradle/blob/d0247e9f637d7974381473168c91f3cbdfc40520/subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/ivyservice/ivyresolve/strategy/StaticVersionComparator.java#L84

That

[2018-02-02 17:44] lptr commented on #3980
As soon as we use the imported project, all compilation will be delegated to Gradle. Since we don't have incremental Groovy compilation support in Gradle today, this would make working with tests very painful. Implementing incremental Groovy compilation is not a requirement for the import itself to function, but to do any meaningful work on the codebase would be close to impossible without it.

[2018-02-02 17:47] adecker89 commented on #3876
So I assume that removing the `@Incubating` tag could hinder such a migration.

[2018-02-02 18:36] bamboo opened #9232 "Review all occurrences of `@LeaksFileHandles` in the `kotlin-dsl*`subprojects"
And re-evaluate the need for the annotations in each test.

[2018-02-02 20:19] lacasseio commented on #3876
That could be a reason but it will most likely happen in a backward compatible way or on a major version boundary if we can't keep backward compatibilities. We are having a lot of discussions internally regarding "essentially stable `@Incubating`" and ways forward to de-incubate plugins and APIs.

[2018-02-02 22:24] mathiasbn commented on #1428
Wauw two Gradle team responses. I would love to say I'm your Dev for the job, but...
I'm coming from Java/kotlin resently, so I'm not that knowledgeable in .net (only suffering)
I've been using Gradle for years, but never been really into the machine room. Only created plugins and wrapped/decorated others plugins.

Maybe I will look into the c++ plugin and/or the msbuild-plugin

Thanks for respond

[2018-02-03 05:07] pratikpparikh opened #4257 "Gradle 3.5 Pick's up dependency version number rather then project version"
I have the project.version which is usually used when I do the build  and it generates the artifact appended by the project.verion something like "hibernate-validator-${project.version}.jar".  With the latest version, it is picking up version specified in plugin configuration.

[2018-02-03 08:14] oehme commented on #4257
Please attach a reproducible example project, including expected and actual behavior.

[2018-02-03 18:48] hmortensen opened #4259 "v4.5 Can not compile Sass: Failed to apply plugin [id 'com.github.robfletcher.compass']"
Upgraded from gradle 4.4 to 4.5

### Expected Behavior
Command: gradlew tasks (or any other task)
Build succeeds with SASS compilation working.
Reversion to 4.4 and the problem goes away.

### Current Behavior
Command: gradlew tasks (or any other task)
Operation halts with following error message appears
* What went wrong:
A problem occurred evaluating project ':webapp'.

### Context
Spring MVC Ja

[2018-02-03 19:11] hmortensen commented on #4259
Gradle  Info   :
------------------------------------------------------------
Gradle 4.5
------------------------------------------------------------

Build time:   2018-01-24 17:04:52 UTC
Revision:     77d0ec90636f43669dc794ca17ef80dd65457bec

Groovy:       2.4.12
Ant:          Apache Ant(TM) version 1.9.9 compiled on February 2 2017
JVM:          1.8.0_161 (Oracle Corporation 25.161-b12)
OS:

[2018-02-04 01:25] adammurdoch opened #10673 "Dependency on upstream branch should be honored by consumers that use a binary repository"
Split out of gradle/gradle-native#417. When a component A declares a dependency on a particular branch of some component B, that information should be included in the published metadata for component A so that consumers of A can honor this requirement.

Binary dependency resolution should also honor a dependency on an branch when the dependency is not or cannot be built from source.

[2018-02-04 15:40] #4172 closed

[2018-02-04 16:21] n0mer commented on #1464
cross-reference: https://www.digitalocean.com/community/questions/maven-repository-on-digitalocean-spaces-any-luck - custom s3 endpoint for DigitalOcean spaces

[2018-02-04 16:21] mbuccini commented on #1464
I think this is a great undocumented feature that could be made a bit better just by having the possibility to set the property in gradle.properties, as you mentioned (not a big deal without, though).

[2018-02-04 16:58] hmortensen commented on #4259
[compass.dump.gz](https://github.com/gradle/gradle/files/1693052/compass.dump.gz)

[2018-02-04 17:15] oehme commented on #4259
The https://github.com/johnrengelman/gradle-processes plugin is using internal APIs. There is already a bug report for the plugin [here](https://github.com/johnrengelman/gradle-processes/issues/9). Please let the plugin author know that you are affected by this.

[2018-02-04 17:15] #4259 closed

[2018-02-04 19:43] bigdaz commented on #4064
Regarding "Issue #1", I don't think this line makes sense:
[code]
This is because `:build` is an _absolute path_, so will always reference the `build` task from the root project. So `subprojects*.task(':build')` is asking for the build task of the root project of each subproject (and the root project is always the same for all subprojects).

It's safe to remove that line from the root `build.gradl

[2018-02-04 19:44] bigdaz commented on #4064
I think that these reported issues can be explained due to improper handling of `--continue` and parallel-by-default execution in a composite build. So when a failure occurs in an included build task, other tasks that have been scheduled do not get correctly executed, or if executed the failures may not be correctly collected and reported.

See #2520. It seems that composite-build support for `--c

[2018-02-04 21:21] adammurdoch commented on #1428
I would start with a super simple 'c# application' plugin, that just takes some C# source with no dependencies and builds an executable from it. It would just need a single compile task. Then, we can grow it from there, eg by adding a library plugin, adding some basic dependency management, integrate with the c++ plugins and the visual studio plugin, and so on.

I wouldn't try to duplicate the c++

[2018-02-04 21:26] bigdaz opened #4261 "Component metadata rules should not leak between projects in a multi-project build"
Due to incorrect in-memory caching on resolved component metadata, it is possible for a component metadata rule defined in one subproject to impact the resolved component metadata in a separate project.

This problem is closely related to the invalid in-memory caching of component metadata that causes #3019.

[2018-02-05 03:21] trustin commented on #2039
According to https://github.com/adammurdoch/native-platform, ncurses 6 support has been included in 0.13 already. However, Gradle uses native-platform 0.14 already. Probably we should file a bug there?

[2018-02-05 03:36] ldaley commented on #4064
@bigdaz in that case, should this be closed as a duplicate of #2520?

[2018-02-05 03:37] blindpirate commented on #4219
You can `--add-modules` according to [this post](https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j), or use following workaround:

[code]

[2018-02-05 03:37] #4219 closed

[2018-02-05 08:06] wolfs commented on #4216
@adrian-baker I fixed this via #4249. We are going to do a 4.5.1 release. Could you try out a release snapshot to see if the issue is fixed for you: [4.5.1-20180202223039+0000](https://services.gradle.org/distributions-snapshots/gradle-4.5.1-20180202223039+0000-bin.zip).

[2018-02-05 08:06] #4216 closed

[2018-02-05 09:25] melix commented on #3723
I'm doing some more measurements on top of the `cc/dep[endency-management/perf-improvements` branch. I'll post some results here as I go.

First, with advanced POM support enabled, `CachingDependencySubstitutionApplicator` represents about a fourth of the `visitOutgoingDependencies` cost, which is pretty high knowing that in most cases if we're lucky, there's no substitution at all:

![selection_1

[2018-02-05 11:37] #3656 closed

[2018-02-05 11:55] rubin55 commented on #3839
Your example in the description:

[code]

Gives the following error:

[code]

When I look at Output.java, I see a get/set Path but no output field; what am I missing?

[2018-02-05 14:04] robbie-demuth commented on #3444
@wolfs - Do you have any insight into this issue? Working around the behavior described here is the reason I had to open https://github.com/gradle/gradle/issues/4213

[2018-02-05 15:02] melix commented on #3723
This [flame graph](https://builds.gradle.org/repository/download/Gradle_Util_Performance_AdHocPerformanceScenarioLinux/10791817:id/results/performance/build/test-results-performanceAdhocTest.zip%21/flames/honestprofiler_resolve_large_dependency_graph-4.6-20180205133308_0000.svg) is the latest of all. It involves:

- "advanced" POM support enabled, including mapping to variants
- does **not** consi

[2018-02-05 15:56] melix commented on #3723
Another discovery that can help performance: the `ExternalDependencyDescriptor#getMetadataForConfigurations` method is called, on the test project, 20% of times with the very same arguments as the last call. Since what happens in there is expensive, it means we have a cheap way to improve performance by caching the result of the call there. I have made such an experiment [here](https://builds.grad

[2018-02-05 16:00] oehme commented on #4064
I suggest we add this as a limitation to the documentation and add a warning to the console to inform the user that this is not expected to work. Would that be an acceptable outcome from your side as well @ldaley?

[2018-02-05 17:06] bmuschko commented on #4095
I am going to close this issue as we proposed a solution but haven't heard back. Feel free to reopen if you need further assistance.

[2018-02-05 17:06] #4095 closed

[2018-02-05 17:52] bigdaz commented on #3723
I'd be reluctant to add another layer of caching for `ExternalDependencyDescriptor#getMetadataForConfigurations` without first optimizing the hell out of the things that it's doing. I'm sure given some effort we can find inefficiencies that will buy us some time.

Every time we add another layer of caching, things get a bit more complicated...

[2018-02-05 18:07] melix commented on #3723
Note that by "caching" here I only mean "avoid recomputing", so it's local. But yeah, I agree with you.

[2018-02-05 19:03] mockitoguy commented on #4093
Thank you guys for considering! We respect the decision.

[2018-02-05 20:35] yetanotherion opened #4269 "Dependency exclude rule on a both direct and transitive dependency is discarded"
When a dependency of a project appears both as
- direct dependency (written explicitly)
- transitive dependency of another direct dependency

The only way to exclude any of the transitive dependencies of the directAndTransitive
dependency consists at putting a global exclude.

### Expected Behavior
A local exclude in either the
- directAndTransitiveDependency or
- directDependency
filters the jar.