[2017-09-06 13:41] bmuschko commented on #778
@oehme I am pretty sure this is still an issue. It's originating from Jansi though (see issue above).

[2017-09-06 13:48] oehme commented on #1295
Instead of using project properties with dots, I'd recommend using camel case, which looks much more idiomatic in a Groovy/Kotlin environment. With that approach, no additional magic is required.

[2017-09-06 13:48] #1295 closed

[2017-09-06 13:49] oehme commented on #1216
Closing as there was no further activity.

[2017-09-06 13:49] #1216 closed

[2017-09-06 13:51] oehme commented on #1297
Duplicate of #1050

[2017-09-06 13:51] #1297 closed

[2017-09-06 13:53] oehme commented on #931
Duplicate of #1232

[2017-09-06 13:53] #931 closed

[2017-09-06 14:31] avonengel commented on #1583
I do not remember why we used `findByPath`, but it had something to do with multi-project builds. I worked around this by using `findByName`, as you also suggested. Seems to be solved, as I didn't hear of any further problems with this since then (shortly after I created this ticket).

I don't have an immediate problem with this, but it probably remains unsolved - I didn't try again with Gradle 4.

[2017-09-06 14:56] bmuschko commented on #868
Reopened as other conditions need to be taken under consideration e.g. https://github.com/gradle/gradle/issues/2853.

[2017-09-06 14:59] oehme commented on #1583
I'm glad you found a solution already. I'll leave this ticket open as a reminder for us to remove this confusing method.

[2017-09-06 15:15] oehme commented on #1013
We need to discourage users from reaching into sibling projects in general. The above example is a special case that works without configure-on-demand, but most cases of reaching into sibling projects will break no matter if configure-on-demand is used or not.

[2017-09-06 15:17] #2786 closed

[2017-09-06 15:24] oehme commented on #923
Circular references are forbidden for good reasons: You couldn't compile the `domain` module without having compiled the `validation`, but you also can't compile the `validation` module without the `domain` module. This just means that the architecture is broken. Either the two need to be merged or they need better isolation, like a service loader mechanism.

[2017-09-06 15:24] #923 closed

[2017-09-06 15:26] oehme commented on #917
This has been fixed as part of the work on #821

[2017-09-06 15:26] #917 closed

[2017-09-06 15:29] oehme commented on #875
Closing, as this is an Android-specific issue which is better answered on the Android bug tracker.

[2017-09-06 15:29] #875 closed

[2017-09-06 15:31] oehme commented on #787
How does the project root directory as a source folder even make sense? Maybe we should just detect and forbid that instead?

[2017-09-06 15:31] JLLeitschuh commented on #1370
Would you also be able to configure the `buildSrc` plugins via this method?

It would be nice to be able to centralize configuring repository mirrors for companies that use mirroring technology. Having to reuse the same logic three places (your buildSrc project, your normal build `buildscript` blocks and your normal `repositories` configuration for resolving java dependencies).

[2017-09-06 15:43] oehme commented on #1370
I don't think so, because `buildSrc` is another, isolated build, similar to a composite build. In fact, we plan to replace `buildSrc` with composite builds completely.

You can avoid most of the duplication though by writing a small script that configures your company mirror both as plugin repository and as the repository for all project dependencies. Then you would apply that script at the top of

[2017-09-06 16:22] bmuschko opened #2880 "Polishing of Gradle build options"
Addresses outstanding review comments from https://github.com/gradle/gradle/pull/2784

More specifically:

- [x] [Document "disabled" boolean options](https://github.com/gradle/gradle/pull/2784#pullrequestreview-60680831) that didn't exist before.
- [x] Mention new "disabled" boolean options in release notes.
- [x] Treat the [build scan option](https://github.com/gradle/gradle/pull/2784#discussion

[2017-09-06 16:29] pjr87 opened #2881 "Gradle provided samples broken. webApplication/customized shows contents of war file, not actual webapp."
I am attempting to build a web application using the samples provided by Gradle with the latest stable version. The samples I am referring to are in the "samples/webApplication" folder with gretty plugin. Quickstart sample works properly displaying the "Hello Gradle" as expected. The customized sample doesn't display this and instead displays the contents of the war file in the browser.  I have se

[2017-09-06 16:53] carlspring opened #2882 "Deploying timestamped snapshots to Maven 2 repositories does not produce/update the maven-metadata.xml files properly"
Hi,

I have originally posted this on [Stackoverflow](https://stackoverflow.com/questions/46078608/how-to-deploy-a-snapshot-artifact-to-a-maven-repository-and-produce-valid-maven), but I am becoming more and more convinced that this looks like a bug in Gradle.

I have the following `build.gradle` script:

[code]

When I execute the following, the build and deployment succeeds:

[code]

The produce

[2017-09-06 17:03] oehme commented on #2880
Can you list the outstanding work on this issue? This makes it easier to pick this story up later.

[2017-09-06 18:21] bmuschko commented on #2880
@oehme Done. I think we should probably get it done now after merging the change.

[2017-09-06 18:55] wolfs commented on #1040
The message should be gone. Closing.

[2017-09-06 18:55] #1040 closed

[2017-09-06 19:10] Alex-Vol commented on #2865
Although not immediately affecting my plugin operation the same issue seems to have come up in the DefaultMavenPublication class. The explicit ordering algorithm for compile/runtime prohibits the use of other custom Usage implementations.

In my mind Usage == Configuration and restricting this to compile/runtime is not going to get multi-variant builds where a compile-linux-debug artifact must dep

[2017-09-06 20:12] #1946 closed

[2017-09-06 21:19] adammurdoch opened #2883 "Allow `@Input` to be used with task properties of type `Provider<T>`"
`Provider<T>` and `PropertyState<T>` are intended to be used by plugin authors to allow a task to accept an input whose value is not known until later. However, the `@Input` annotation does not work well with task properties that have these types. For such a property, on task execution Gradle attempts to serialize the provider implementation, instead of snapshotting the current value of the provid

[2017-09-06 21:26] adammurdoch opened #2884 "Task property validation should validate the declared type T for properties of type `Provider<T>`"
The `Provider` interface is intended to be used by task implementations to support properties whose values are not known until later. However, when a task property has type `Property<T>`, then validation is applied to the `Property` interface, rather than type `T`.

### Expected Behavior

Given a task property of type `Property<T>` or one of its subtypes, validate type `T` rather than the `Propert

[2017-09-07 00:36] adammurdoch opened #2885 "Provide a way for build logic to provide additional build options to the build user"
Build scripts and plugins often accept external configuration settings or options that are provided by the user or the environment as command-line options or Gradle or system properties. However, there are several issues that make this awkward:

- The settings are not discoverable by the user or by tooling.
- The settings are applied inconsistently, as the build logic is responsible for locating t

[2017-09-07 01:27] jaredsburrows commented on #1834
@oehme Yay!

[2017-09-07 03:46] ben-manes commented on #1297
That does not appear to be a duplicate.

This task highlights that the Gradle Plugin Portal is __not__ a compliant m2 repository. It has stale metadata and rejects required HTTP requests used for querying. This has nothing to do with whether some dependencies use the plugin marker artifacts format as coordinates in the buildscript syntax fail as well. As stated in that issue, users are currently p

[2017-09-07 05:43] ldaley commented on #2868
We might be underestimating how much of an optimisation this can be.

On a, relatively small, 58 project build that is optimised for CoD, it can save .8s.

CoD on: https://e.grdev.net/s/55lctfezzmmzi/performance/build
CoD off: https://e.grdev.net/s/c2dx5qbwibaom/performance/build

This is a warmed up daemon with runs of both CoD on and off (i.e. cache is warmed with all projects).

There is practi

[2017-09-07 06:44] ldaley commented on #2868
One place where you particularly feel this is when executing individual tests in idea.

[2017-09-07 07:01] oehme commented on #2868
It would be interesting to see why this small project takes comparatiely long to configure. For reference - 1s is about what it takes to fully configure our 500-project performance test build. Did you run some experiments with JProfiler?

[2017-09-07 07:03] oehme commented on #1297
The other issue includes making version listing work, otherwise the feature expressed in the title wouldn't be complete. I've adjusted the description to reflect that.

[2017-09-07 07:06] oehme commented on #2880
Yes, it's just easier for the reviewer to double-check that the follow-up PR contains everything we wanted.

[2017-09-07 07:06] ben-manes commented on #1297
Thanks!

[2017-09-07 07:08] Ihsahn commented on #2429
There are other scenarios where we would like to use offline instrumentation (eg my team reports that Jacoco has serious cpu and time impact on running integration tests, so I would rather instrument and run coverage report task on demand, not on each run)

[2017-09-07 07:16] oehme commented on #2883
I don't understand this part. Why can't they expose the `Provider<T>` without marking it as `@Input`? Sure ,they have to add one more method that is marked `@Input` which calls `provider.get()`. But they don't have to duplicate everything from the provider if I understand the problem correctly.

[2017-09-07 07:57] dstepanov commented on #2827
Looks like the fix didn't help, after abort we got 199 failures:

[code]

[2017-09-07 07:58] tkrzeminski commented on #2827
@wolfs fix worked for one day, today we started getting errors `Cannot find snapshot for id: XXXXX` again.

[code]

[2017-09-07 08:13] wolfs commented on #2827
:(
What task types did fail, any ideas? For the aborted build: what was running when the build was aborted? Could you give me some more information about the failing tasks:
- number of input properties
- number of output properties
- number of files in each of those properties
- parallelism of your build (`--max-workers`)

How often are your builds aborted? Does the problem occur every time after

[2017-09-07 08:32] abuechler commented on #2875
@oehme What I found confusing is that this [bug](https://github.com/gradle/gradle/issues/977) (now re-labeled as feature) regarding the resolution of maven dependencies is described as a the correct/desired behavior in the java-library documentation. Anyway thanks for the explanation!

[2017-09-07 08:41] oehme commented on #2875
The documentation of the java-library plugin states that `api` dependencies will be exposed to clients, which is correct and desired.

The other issue you linked is about the fact that `implementation`/`runtime` dependencies currently get leaked if you go through a Maven repository. That is undesired and will be fixed.

[2017-09-07 10:36] tkrzeminski commented on #2827
@wolfs after wiping out `.gradle` directory all PullRequest job builds come back to normal.

We have agreed with @dstepanov  to disable `Cancel outdated jobs` option in Jenkins `Stash Pull Requests Builder` job configuration.

[2017-09-07 10:39] dstepanov commented on #2827
There is no information regarding which tasks did fail. Build is running in parallel, I would't trust text output, probably tests tasks failed somehow.

Sorry I have no idea how to check it

Default settings and I think we have 32 core AWS instance running it.

I have found some cases when build was aborted and node had successful build after so it must be sporadically.

[2017-09-07 11:26] ldaley commented on #2868
I'm not arguing for the status quo.

It's unreasonable to expect users to optimise for CoD now as we provide no help. Nothing about that is set in stone though.

If we can make things fast enough without CoD then all the better. FWIW I'm skeptical about this though without an alternative.

No I don't know why it takes 1s. My only thought is that it might be, ironically, that more scripts are execu

[2017-09-07 13:51] wolfs commented on #2827
@dstepanov @tkrzeminski Could you also please double check that you the build that failed used the right nightly version (`4.2-20170905145457+0000`)?

[2017-09-07 14:00] petehayes commented on #2854
Hi - I work with nkumarom and we continue to see this error popping on Gradle 3.5 - always when generating the test html report.  We are running gradle in parallel mode.

One question I have is if there is any parallelism in the test report generation?  I looked through the code a bit and I see some queuing of tasks during the report generation and was wondering if there is some multi-threaded cod

[2017-09-07 14:03] tkrzeminski commented on #2827
@wolfs yes, I can see this version number in notification message:
`To honour the JVM settings for this build a new JVM will be forked. Please consider using the daemon: https://docs.gradle.org/4.2-20170905145457+0000/userguide/gradle_daemon.html`

Additionaly for remote URL, we specify used Gradle version seen in log message:
`Build cache configuration. Globally enabled: true. Extra settings. Loc

[2017-09-07 14:15] john3300 opened #2888 "Change in projectsLoaded execution starting in 4.0"
Submitting this issue as requested by Stefan Oehme in the original forum post for this:
https://discuss.gradle.org/t/change-in-projectsloaded-execution-starting-in-4-0/23993

### Expected Behavior

Here's the output from running the sample code below with 3.5:
[code]
### Current Behavior

And here's the output from running it with 4.0. Notice how the debug statements stop after projectsLoaded.
[co

[2017-09-07 15:40] justinjc commented on #2421
Thanks @bickelj.

@jameskleeh you can try adding a snippet like [this highlighted section](https://github.com/uber-java/tally/blob/2cea75ecc2f896dfd5e32b94bff71f211c8bde56/ci/before_install.sh#L6-L12) to your `before_install` phase.

[2017-09-07 15:47] gavra0 opened #2889 "Deduplicate artifacts in ArtifactCollection"
Gradle version: 4.1

Have the following build.gradle and libs/obj-0.2.1.jar in the the project directory:
[code]

This will print obj-0.2.1.jar twice, although it refers to the same file. It would be great if the returned `ArtifactCollection` would remove the duplicates, as it already can tell there are 2 artifacts that point to the same file.

[2017-09-07 15:59] filol commented on #2826
I have the same error. There is the stacktrace :

* What went wrong:
Failed to create component for 'dialog' reason: java.awt.HeadlessException

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
java.lang.RuntimeException: Failed to create component for 'dialog' reason: java.awt.HeadlessException
	at build_5h7tcexao8tvdyyf1xu960lcz$_run_closure1$_closure6.doCall(C:\

[2017-09-07 16:01] oehme commented on #2889
@gavra0 could you give us some more info how this is impacting you?

[2017-09-07 16:16] wolfs commented on #2827
@dstepanov @tkrzeminski I built another nightly were I removed the code which I think is responsible for the Exceptions. It would be awesome if you could try this out again: `4.2-20170907155256+0000`. If the exceptions stop appearing with this build, then I can think about some "proper" solutions and at least I found the root cause. Thank you for your continued support to get to the root of this n

[2017-09-07 17:01] gavra0 commented on #2889
This has a nasty side-effect that if your dependencies are like the ones I've described, we will dex the same jar twice, and dex merging will fail because of duplicate classes.

We use internally use `ArtifactCollection.getArtifacts()` because we need to track where the dependency is coming from (local/external jar, project dependency). Typically we would iterate over the set, and add do some proc

[2017-09-07 17:02] kotsi commented on #2854
Hi,

I also work with nkumaron and we are seeing a very similar problem in another Windows-based environment, running a standalone Hudson - so no pipelines et al - and in both cases, the two environments are doing virtually the same thing: attempting to build a branch, and run unit tests, though they pop in different places. However, it appears that both problems appear during test execution:

[2017-09-07 17:20] SamehMahmoud commented on #2826
Same here

[2017-09-07 20:05] lacasseio opened #2891 "Users can apply script hosted on HTTP server using query parameters"
Some HTTP server depends on the query parameter values to serve the right file.

### Expected Behavior
`apply from: 'http://localhost/some/path/file.gradle?h=some;query=value'` call to the `localhost` server with the path `some/path/file.gradle` as well as with the query parameters `h=some;query=value`.

### Current Behavior
The applying URI is model inside `ExternalResourceName` which drop the qu

[2017-09-07 20:38] goldyliang commented on #1278
For me, I am using  maven-publish, and the solution above does not work. Eventually, I got it work with below:

apply plugin: 'maven-publish'

publishing {
	publications {
			pluginDist(MavenPublication) {
					from components.java
			}
	}
}

jar {
	doFirst {
		tasks['generatePomFileForPluginDistPublication'].execute()
	}

	into("META-INF/maven/$project.group/$project.name") {
		from "$projectDir/

[2017-09-07 21:06] lacasseio commented on #2891
Branch [dl/apply-from-with-query-string](https://github.com/gradle/gradle/tree/dl/apply-from-with-query-string) contains an integration test exposing the issue.

[2017-09-07 21:20] lacasseio commented on #2891
The integration test is now in master: https://github.com/gradle/gradle/commit/9bc33a9fd10a2d1aae16ac7b13b0b62370d51da2

[2017-09-07 22:55] blindpirate commented on #2854
@kotsi @petehayes please try the latest `4.2-rc-1` to see if the situation is improved. I'll raise a discussion internally about it.

[2017-09-07 23:07] blindpirate commented on #2826
@SamehMahmoud I slightly formatted your stacktrace. I'm not an expert in awt, but looks like it has nothing to do with Gradle. Could you take a look at [this](https://www.ibm.com/developerworks/community/blogs/738b7897-cd38-4f24-9f05-48dd69116837/entry/how_to_resolve_java_exceptions_java_awt_headlessexception7?lang=zh) and figure out the reason of this issue?

[2017-09-08 00:35] blindpirate commented on #2881
Looks like displaying "hello Gradle" is what `webApplication/quickstart` does, not the `webApplication/customized`. I'm not sure, @wolfs could you take a look at this? It would be quick.

[2017-09-08 02:13] ZakTaccardi opened #2893 "Support incremental builds within buildSrc itself"
I have a field in my `buildSrc` folder.

[code]

### Expected Behavior
When bumping the `versionTail` to `"3"`, gradle should build this incrementally.
- it does not affect the public API of the `buildSrc` output, so gradle should be able to build this incrementally

### Current Behavior
Redeploying my android app after bumping the private static field (NOT INCREMENTAL):
[code]

When I do not make

[2017-09-08 02:14] blindpirate commented on #2882
Thanks for reporting and I've confirmed this behaviour.  Looks like at some point between `2.12` and `2.13` this behaviour had been changed according to your description and [this post](https://discuss.gradle.org/t/gradle-3-1-seems-to-default-to-maven-metadata-legacy-true/20362/4).

Since I'm not an expert on Maven, I have a question, what's the purpose of `<snapshotVersions>` tag and what's the i

[2017-09-08 02:21] blindpirate commented on #2893
Duplicate of #2767

[2017-09-08 02:22] blindpirate commented on #2893
This is expected, because we don't analyze the source code, so we don't know that the constant didn't change. We only have finer grained detection for bytecode changes on the classpath.

Possible workarounds:

- Make that constant private and expose a static method instead
- Put it in a class that changes less often

[2017-09-08 02:25] big-guy commented on #2893
@blindpirate This is something else.

@ZakTaccardi I think I don't quite understand your example.  `versionTail` is a static field used by a plugin in `buildSrc`?  The build script uses the output of `buildSrc` as a runtime dependency, so even though the API did not change, the implementation did and that can invalidate task execution.

[2017-09-08 02:27] blindpirate commented on #2893
Oops, my fault, reopened. Thanks @big-guy .

[2017-09-08 02:41] danielsun1106 opened #2895 "Support downloading gradle-x.x-bin.zip file via multi-thread"
Downloading gradle-x.x-bin.zip is quite slow, how about improving via multi-thread?

### Expected Behavior
Downloading gradle-x.x-bin.zip file via multi-thread

### Current Behavior
Downloading gradle-x.x-bin.zip file via single-thread
[code]

### Context
download gradle-x.x-bin.zip via download tools(e.g. Thunder) by myself and place the zip file to some directory like `C:\Users\Daniel\.gradle\wr

[2017-09-08 02:54] blindpirate commented on #2895
Given that you're in China, I think, on Gradle side, the correct way to solve this problem is improving CDN.

[2017-09-08 03:21] big-guy commented on #2854
@kotsi @nkumarom when the build fails, could you check if the particular directory (and its parents) in the error exists and what the permissions are for it?

Could you also check if the docker container has enough disk space and inodes? (`df -i`)  This sort of looks like a file permission or filesystem wonkiness. The parent directories should be all created well before we execute anything inside

[2017-09-08 03:26] #2895 closed

[2017-09-08 03:28] petehayes commented on #2854
Thanks.  I will add those checks in on failure of this process to see if we
get some more diagnostics.

On Thu, Sep 7, 2017 at 11:21 PM Sterling Greene <notifications@github.com>
wrote:

[2017-09-08 03:29] blindpirate opened #2896 "Improve markdown rendering support"
In https://github.com/gradle/gradle/commit/73d54c86eca92ae26decccd774f49bfc2b01c314 we can see our markdown render can't process `**1.1.4-3**` correctly and we have to use `<b>1.1.4-3</b>` as a workaround. Since `pegdown` is deprecated, we should use something else instead.

[2017-09-08 03:54] mpetranech opened #2897 "cordova build errors"
I'm trying to run the "cordova build" command, but it errors out on me.
Here are the errors and other info:

Error: cmd: Command failed with exit code 1 Error output:
FAILURE: Build failed with an exception.

* What went wrong:
Unable to start the daemon process.
This problem might be caused by incorrect configuration of the daemon.
For example, an unrecognized jvm option is used.
Please refer to

[2017-09-08 04:09] blindpirate commented on #2897
Looks like you set jvm args somewhere with 20GB heap memory request, that is huge! Try to decrease that with [docs here](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_configuration_properties).

[2017-09-08 04:09] eric-grab commented on #2340
Where did the `outputFileName ` variable come from @tianzhijiexian ? Did you mean `outputFile ` from this line?
[code]

[2017-09-08 04:22] mpetranech commented on #2897
I'll try and thanks. You are great!
Mike

On Thu, Sep 7, 2017 at 11:09 PM, Bo Zhang <notifications@github.com> wrote:

[2017-09-08 05:25] filol commented on #2826
@blindpirate I think you fail your mention and you talk to me. I will look your link but I use the same code that the report and I if I downgrade grade it's working

[2017-09-08 05:27] blindpirate commented on #2826
@filol Oh yes, sorry. Could you provide us a simple reproducible sample to help us dig into this? That would be great.

[2017-09-08 07:41] oehme commented on #2889
Thanks for the info. Is this blocking you or do you have a workaround?

[2017-09-08 07:48] eskatos commented on #1425
The `--recompile-scripts` flag does work correctly for the Kotlin DSL when using the daemon, see [kotlin-dsl/../ScriptCache.kt](https://github.com/gradle/kotlin-dsl/blob/develop/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt#L49). So I guess this bug only affects the Groovy DSL.

We've been using this flag during development of the Kotlin DSL. Doing `rm -rf` on the whole scrip

[2017-09-08 07:58] oehme commented on #1425
For what use case?

[2017-09-08 08:14] gavra0 commented on #2889
At the moment, we advise against using fileTree to specify dependencies. Plan is not to hold the stable release for this, but it would be great to have this for the plugin 3.1 :)

[2017-09-08 08:44] eskatos commented on #1425
@oehme debugging the Kotlin DSL implementation, when working on script compilation, so not really a "valid use case". We can definitely live without it.

[2017-09-08 09:05] oehme commented on #2889
Could you keep a set of "seen" files to work around this?

[2017-09-08 09:17] dreis2211 commented on #2779
Hey,

I also noted that we run into a similar issue frequently (but not reproducible) when fetching metadata. In those cases we seem to be hanging in the SSL handshake infinitely.

[code]

I looked at your initial implementation in #2757 and I think we miss exactly that case of SSL handshakes, which is described here. https://issues.apache.org/jira/browse/HTTPCLIENT-1478?focusedCommentId=15998229&

[2017-09-08 09:23] tkrzeminski commented on #2827
thx @wolfs, we have started using new nightly build, but `build aborts` will be enabled on Monday.

[2017-09-08 10:34] gavra0 commented on #2889
At this point for 3.0 it might be a bit too late for that change, and so far, there was a single bug report hitting this issue. However, we will consider doing that for 3.1 in case this does not get fixed by then.

[2017-09-08 11:32] carlspring commented on #2882
Hi,

Thanks for getting back to me!

In Maven snapshots work like this...

(A bit of history, for a clearer picture) **In Maven 2.x there were two types of snapshots:**
* Timestamped (otherwise known as unique versions) - where `1.0-SNAPSHOT` would actually be represented by `1.0-20170908.100515-1`. There would be no physical file called `foo-1.0-SNAPSHOT.jar`, but `foo-1.0-20170908.100515-1.jar`,

[2017-09-08 12:11] blindpirate commented on #2882
Sure. Thanks for your extremely detailed response! We'll dig into this!

[2017-09-08 12:16] carlspring commented on #2882
Thanks! Let me know, if you need any help with further explanations. I will do my best to help with that!

Unfortunately, I am not as familiar with the Gradle codebase, as I am with Maven, so I don't think I'll be able to prepare a pull for this myself, but feel free to ask, if you have any questions on how this should work.

[2017-09-08 13:39] #2897 closed

[2017-09-08 13:41] oehme commented on #2888
I haven't investigated why this no longer works yet, but you don't have to wrap this in a projectsLoaded hook, because the rootProject hook is already lazy:

[2017-09-08 14:45] carlspring commented on #2882
In addition, I have also tried this with the `maven-publish` plugin and the result is the same.

[2017-09-08 14:47] bmuschko commented on #2891
I discussed this with @big-guy. He will identify whether it is a blocker for 4.2 and a implement a potential fix if it is cheap to do.

[2017-09-08 15:03] bmuschko commented on #2779
@dreis2211 Thanks for the pointer. I am going to look into it and consider it in the implementation.

[2017-09-08 16:10] JLLeitschuh commented on #1809
The `FindBugsReports::getText` method should probably be deprecated as it is non working.
In Gradle Kotlin Script this method exists but is, as such, invalid.

[2017-09-08 17:32] john3300 commented on #2888
Removing the projectsLoaded hook eliminates this issue for me.  Obviously there is still some problem happening here, but this is an acceptable workaround for my purposes.  I'll leave it up to you if you want to close this or keep investigating it.  Thanks Stefan!

[2017-09-08 22:00] #2880 closed

[2017-09-08 22:06] bmuschko commented on #2744
The issue is now unblocked with the Gradle build options infrastructure in place.

[2017-09-08 23:11] ZakTaccardi commented on #2893
@big-guy no, not used by a plugin. for example, I have a method from a class in `buildSrc` that gives me a `versionName` (Required in Android projects).

the version name varies based on the environment, which I have represented as an enum in the `buildSrc` folder. below is what I would call from my `build.gradle` script.

[code]
I can provide a better example next time I'm at my computer, too.

[2017-09-08 23:14] robinverduijn opened #2903 "gradlew wrapper script fails on system with non-Bash /bin/sh shell"
### Expected Behavior
The `gradlew` wrapper script should run itself with a shell capable of running the syntax used in the wrapper script.

### Current Behavior
If you run `gradlew` on a system where `/bin/sh` is not a valid (Bash?) shell, it will fail with an error quite like the following:

[code]

This happens for instance on some older Solaris systems (such as SunOS 5.10), or on machines with

[2017-09-08 23:25] eriwen commented on #1319
Thanks for the info, Adam. I've gone ahead and unblocked this. Should we just close #1338 then?

[2017-09-09 10:51] filol commented on #2826
I just created an empty project and I added the code you that you will find in the build.gradle https://github.com/filol/MyApplication

[2017-09-09 10:52] hameno commented on #1792
Yes, please. Also add something to prevent nested included builds (which currently do not work)

[2017-09-09 10:58] hameno commented on #1093
Please make this a priority. android gradle plugin 3.0 seems unlikely to support this because it is blocked by gradle (https://www.reddit.com/r/androiddev/comments/6yyiug/android_studio_30_beta_5_is_now_available/dmrmy9r/). It would really help us with our large project if we could use this feature for Android.

[2017-09-09 11:14] blindpirate commented on #2826
@filol Thanks a lot! Just to clarify, how can I trigger this issue with your sample? Looks like you didn't define any task in `build.gradle`.

[2017-09-09 11:17] filol commented on #2826
@blindpirate you just need do Make Project with android studio result with a crash.
![image](https://user-images.githubusercontent.com/9217516/30239617-2ad2a618-9561-11e7-98fd-7cbce3f22ca3.png)

[2017-09-09 12:35] blindpirate commented on #2826
Try to add `System.setProperty("java.awt.headless", "false");` at this line: https://github.com/filol/MyApplication/blob/master/app/build.gradle#L4

Kill all gradle daemons on your machine and retry. I reproduced your issue and solve it via this approach.

[2017-09-09 12:41] #2826 closed

[2017-09-09 12:51] filol commented on #2826
Thanks, it works for me, I had already tried to do this but I did not killer the daemon

[2017-09-09 13:24] blindpirate commented on #2882
I've dug into this a bit and here's my discovery:

This behavior in Gradle is consistent (I've tried `2.7`,`2.12`,`2.13`,`3.5`). This is because of a property `maven.metadata.legacy` [here](https://github.com/gradle/gradle/commit/39f0e9f17c8034bfeb48994d506ba2c670051a3c#diff-c13268acae35a4462161328a8205a2abR56). If I modify it to `true`, the result metadata would have `snapshotVersions` tags.

How

[2017-09-09 14:09] carlspring commented on #2882
Hi,

Thanks for further investigating this!

I would like to point out that Maven 2.x has been [EOL-ed](https://maven.apache.org/maven-2.x-eol.html) in November 2009. The fact the Maven repositories across the various repository managers is called "Maven 2" is irrelevant. As Maven 2.x has been EOL-ed, it would only make sense to support the current format.

Basically, Gradle claims to be interoper

[2017-09-09 14:18] blindpirate commented on #2882
I totally understand you and thank you for your kind advice. I'll try to change `maven.metadata.legacy` to `false` and see if it cause any issues.

@adammurdoch What do you think?

[2017-09-09 22:07] ylemoigne opened #2906 "gradlew can't be runned on bash in windows subsystem for linux (WSL)"
### Expected Behavior
When running `./gradlew tasks` in a project dir, under the ubuntu bash shell in windows subsystem for linux, I expect it to run the task.

### Current Behavior
[code]

### Context
ubuntu bash shell in windows subsystem

### Steps to Reproduce (for bugs)
Install windows creator fall update through insider program
Install windows subsystem for linux
Install ubuntu bash shell th

[2017-09-09 22:22] ylemoigne commented on #2906
Ok, it's not you.... It's git....
When `git` checkout is configured with  `core.autocrlf=true`, it replace gradlew carriage return with CRLF.
Therefore, the script wont run.

[2017-09-09 22:22] #2906 closed

[2017-09-09 23:17] bimargulies-google commented on #1697
In general, some of us want to have a proxy maven repo for all of our builds.  We also want to share open source projects. So it's important to be able to factor out all repository locations, including plugin management.

[2017-09-10 08:15] eskatos commented on #1697
Plugin resolution management (repositories, versions pinning etc..) should be done in `settings.gradle`, see https://docs.gradle.org/current/userguide/plugins.html#sec:plugin_management

[2017-09-10 08:39] jsotuyod commented on #2862
PR submitted for PMD 6.0.0 - https://github.com/pmd/pmd/pull/615 👍

[2017-09-10 09:05] sinall opened #2907 "The input line is too long on Windows using gradle distZip"
Cmd.exe raise '**The input line is too long**' when running the bat file generated by '**gradle distZip**'.

### Expected Behavior

The bat file could be run without error.

### Current Behavior

### Context

I'm not able to run the application built by 'gradle distZip'.
There is also a topic here: https://issues.gradle.org/browse/GRADLE-2992

### Steps to Reproduce (for bugs)

1.  Create a projec

[2017-09-10 15:33] bimargulies commented on #1323
Having to edit each buildscript does not resolve the issue here. The need is to download an arbitrary complex build from github and run it using a repository manager as the repository without having to patch each and every .gradle file.

[2017-09-10 16:06] JacisNonsense opened #2909 "Cannot create companion GCC Cross-toolchain without default platforms"
### Expected Behavior

Toolchains (specifically GCC) should not automatically inherit all platforms ability to build.

[code]
The `gcc` toolchain should only support x86 and x64 targets, while the `xgcc` toolchain should only support xaarch64 targets.

### Current Behavior

Both `gcc` and `xgcc` bind to all platform targets (x64, x86, xaarch64), as shown by `println <toolchain>.platforms`

### Con

[2017-09-10 16:40] dejan2609 commented on #2487
@bmuschko it seems that Groovy version upgrade (to 2.5) is a prerequisite:
- https://issues.apache.org/jira/browse/GROOVY-7423 **_Access to Method parameter names at runtime_**
- http://docs.groovy-lang.org/docs/groovy-2.4.11/html/documentation/tools-groovyc.html
- http://docs.groovy-lang.org/docs/groovy-2.5.0-beta-1/html/documentation/tools-groovyc.html

[2017-09-10 16:40] dejan2609 opened #2910 "Gradle 4.x build fails with Groovy version 2.5.0-beta-1"
### Behavior
Gradle 4.x (i.e. master branch) project build fails after Groovy version is being updated from **2.4.11** to **2.5.0-beta-1**

### Context
 - **Note:** I guess that Groovy version upgrade (from **_2.4.x_** to _**2.5.y**_) is/will be scheduled for **_Gradle 5.0_**
- **Related to / blocks this issue:** #2487 **_No support for Java8 parameter name reflection_**
- **Possibly related Groov

[2017-09-10 16:44] bimargulies-google commented on #1697
Settings.gradle is still per-project, is it not? I don't see any mention of ~/.gradle in that page.
Also, I see
[code]

Artifactory's capability to redirect repositories (equivalent of Maven mirrorOf>*<) is a plugin.

[2017-09-10 16:54] bimargulies-google commented on #1322
One example use of this, I think: configuring a plugin that redirects all repository access through a local Maven repository like Nexus or Artifactory.

[2017-09-10 17:01] eskatos commented on #1697
@bimargulies-google, `settings.gradle` file is *per build* and is evaluated before any project, see https://docs.gradle.org/current/userguide/build_lifecycle.html#sec:settings_file

[2017-09-10 17:14] bimargulies-google commented on #1697
I figured out that I mean to be commenting on https://github.com/gradle/gradle/issues/1323, so I want to delete these comments here.

[2017-09-10 18:41] sschuberth commented on #1697
Just to be clear, my original post is not about plugin resolution management, I just want to be able to use properties (for whatever purpose) as part of the `plugins` closure.

[2017-09-11 02:14] ldaley commented on #2868
Isn't this cart before horse? Shouldn't we be more confident about the situation before even deprecating, which is basically a commitment to removing?

[2017-09-11 03:40] #1793 closed

[2017-09-11 06:28] tianzhijiexian commented on #2340
classpath 'com.android.tools.build:gradle:3.0.0-beta5'

gradle4.1

@eric-grab

[2017-09-11 07:53] douo opened #2914 "newer version testImplementation dependency can't not overlay older implementation dependency properly"
### Steps to Reproduce (for bugs)

1. add dependencies

[code]
2.  write some test code

[code]
3. run the test and will throw a  exception:

[code]

### Why

google/auto-service has depend on google/guava:19.0 and google/truth has depend on google/guava:22.0-android

Run `gradle dependencies`  we can see gradle resolve these conflict properly.

[code]

[code]

But Android Studio is not, after run

[2017-09-11 08:09] oehme commented on #1792
Closing for the reason given before - the necessary APIs are there and if someone wants to provide a stronger convention (e.g. include only if exists and not nested), this can be done with a plugin.

[2017-09-11 08:09] #1792 closed

[2017-09-11 08:10] oehme commented on #2888
We'll definitely investigate, since this change in behavior was unintended. But I'm glad it works for you!

[2017-09-11 09:37] pioterj opened #2915 "Can't enter password to system command in 4.2-RC1"
Can't pass a password to a system command in 4.2-RC1.

### Expected Behavior
Password can be entered. It worked in 4.1 and before.

### Current Behavior
Entered characters are ignored.

### Context
In the specific example below I'm automating adding a private key to the authentication agent using `ssh-add`.

### Steps to Reproduce (for bugs)
- Create the following build script

[code]
- Generate a

[2017-09-11 09:48] pioterj opened #2916 "Console output mangled when a system command asks for password"
Console output mangled when a system command asks for password.

See also https://github.com/gradle/gradle/issues/2915.

### Expected Behavior
Single progress bar is displayed in the console at all times.

### Current Behavior
Multiple progress bars are displayed. It doesn't work properly in 4.0, 4.1 and 4.2-RC1.

### Context
In the specific example below I'm automating adding a private key to the

[2017-09-11 13:11] vjmaiky commented on #2603
i managed to resolve my problem; thanks anyway.

[2017-09-11 13:11] #2603 closed

[2017-09-11 13:15] wolfs commented on #2827
@tkrzeminski @dstepanov While we are waiting to see if the new snapshot works, can you provide me some more information about your environment:
- What OS are you using?
- On filesystem (ext4, btrfs) is the workspace of the project you are building? Is it the same FS as the rest of the machine?

[2017-09-11 13:21] bmuschko opened #2917 "Unify error messages for Gradle build options"
### Expected Behavior

Error message for for invalid values for command line options and Gradle properties are created in `BuildOption.Origin.handleInvalidValue`. An optional parameter can be added to provide a hint about the proper value to the end user.

### Current Behavior

Error message for invalid values for command line options and Gradle properties emit custom messages that are created in

[2017-09-11 13:25] tkrzeminski commented on #2827
@wolfs our configuration for this PR job uses one Jenkins master server with dedicated slaves. On slave we have installed `Centos 7` on `xfs` root partition and dedicated `/tmp` with `ext3` fs

[2017-09-11 13:35] wolfs commented on #2827
I guess the project workspace is then on `xfs`, right?

[2017-09-11 13:39] tkrzeminski commented on #2827
Yes

[2017-09-11 13:59] oehme commented on #2891
Fixed by fa5740022c9c2e5c4f67fbc193ad8f8c60e9c5c2

[2017-09-11 14:14] bmuschko commented on #2915
I am going to start investigating.

[2017-09-11 16:11] lacasseio opened #2919 "Provide a way to skip a task when an input file does not exist"
### Expected Behavior
Suppose the following task implementation:
[code]
If we call `setFile(...)` to a non existing file, the incremental snapshot should ignore the input.

### Current Behavior
Under those conditions, the incremental snapshot will fail as the `@Optional` annotation only works for `null` values.

### Context
`InstallExecutable` and `GeneratorTask` are two examples that need to [wor

[2017-09-11 16:50] oehme commented on #2919
To me it feels like "no input specified" and "specified input doesn't exist" are two different cases and  there might be reasons that a user would want that to fail. The workaround (if !exists return null) also seems pretty simple. So I'm not sure whether a new feature is needed.

[2017-09-11 17:11] oehme commented on #2914
We can make this a bit better (see #994), but generally this can always happen, because we can't stop IDEA from computing `test classpath = RUNTIME + TEST`. So you can always end up with this situation if you have different versions on your runtime and test classpath.

You can [force](https://docs.gradle.org/current/userguide/dependency_management.html#sec:finetuning_the_dependency_resolution_proc

[2017-09-11 17:11] #2914 closed

[2017-09-11 17:17] oehme commented on #2893
Your build logic has a runtime dependency on the code in `buildSrc`, so every detail matters, not just the API. The only way to make that incremental would be to track every change to any class in buildSrc and do full runtime instrumentation of your build logic to see when those classes are used. This is prohibitively expensive, so to keep things simple we consider every task out of date if its cl

[2017-09-11 17:17] #2893 closed

[2017-09-11 17:19] oehme commented on #2907
Duplicate of #1989

[2017-09-11 17:19] #2907 closed

[2017-09-11 19:34] bmuschko commented on #2915
Looks like [this change](https://github.com/gradle/gradle/commit/c59686a1ce8a3d3f7be6896dfba924be83ea6fc1) created the broken behavior and seems to be related to the deployment API. @big-guy is having a deeper look. I believe it's some deeper change in the API. I think the commit mentioned above is only hooking it up.

[2017-09-11 19:56] bmuschko commented on #2917
This is a relative small change. @blindpirate feel free to tackle it but only if you run out of work we had lined up for the sprint. Otherwise we'll prioritize with the next sprint.

[2017-09-11 20:03] bmuschko commented on #2865
The classes `SoftwareComponentInternal`, `Usage` and `UsageContext` are all internal APIs. I'd avoid it if you can. You can follow a [similar discussion plus proposed alternative solutions here](https://github.com/gradle/gradle/issues/1361).

[2017-09-11 20:03] bendavidpaz opened #2921 "JacocoTestReport task dependent on compile not test"
The JacocoTestReport task executes as expected when test task has previously been executed. However, just running JacocoTestReport on a clean environment, executes compile but does not execute test compile and test.  The console report `JaCoCoTestReport SKIPPED`.   This behavior is a bit unclear. Please clarify in documentation at [(https://docs.gradle.org/current/userguide/jacoco_plugin.html)]

#

[2017-09-11 20:44] #2915 closed

[2017-09-11 21:09] jugutier commented on #968
Just came across this issue, running:

MacOS Sierra: 10.12.6
Java: 1.8
Gradle: 3.3

I was in the middle of building when the computer shut down because the battery died. Went back and docked at my desk, so moved the USB port in the phone to a hub I have, not sure if that had anything to do.

Trace:

[code]

[2017-09-11 21:41] big-guy opened #2925 "Script plugins applied from http/https with query strings are not cached"
In Gradle 4.2, we introduced caching to remote build scripts:
[code]

Before Gradle 4.2, `http://example.com/external.gradle` would be downloaded on every build and if `example.com` was unreachable, the build would fail.

With Gradle 4.2-rc-1, this introduced a regression when the URI contained a query string (the build would fail:
[code]

To fix the regression, we just fallback to our old behavio

[2017-09-12 00:48] #1425 closed

[2017-09-12 06:22] adammurdoch commented on #2919
We're missing an equivalent to `@SkipWhenEmpty` for tasks that have a single source file, rather than a collection of source files. If the source file doesn't exist, we should do something like:

1. Don't run the task's actions.
2. Set the task's outcome to 'not required'
3. Remove the outputs from previous executions of the task.
4. Whatever behaviour/reporting/logging/metrics we later add for `@

[2017-09-12 08:25] Vampire commented on #1295
@oehme the problem is, that you don't always have it under your control. And if you look again at my example, it is even your own code (Gradle Inc.'s) that requires an environment variable with dots. Actually for Java properties files it is quite common to have dots in the keys and rather alien to have camel-case.

[2017-09-12 08:25] yuliayuliayulia opened #2927 "Error:Could not create an instance of Tooling API implementation using the specified Gradle distribution 'https://services.gradle.org/distributions/gradle-3.3-all.zip'"
I am a new user of Android Studio and just had it installed on WIndows 64 bit laptop, where in was never used before. When I start the Android Studio application and create a new project the following Error message appears:
Error:Could not create an instance of Tooling API implementation using the specified Gradle distribution 'https://services.gradle.org/distributions/gradle-3.3-all.zip'.

I woul

[2017-09-12 08:42] blindpirate commented on #2927
Thanks for reporting. However, we need more detailed messages:

- What's your environment? OS/JDK/Android Studio version, etc.
- Could you describe the detailed steps to reproduce this issue?
- Could you give us more detailed error message (e.g. stacktrace)? You can click the error in Android Studio to get it.

[2017-09-12 09:45] oehme commented on #1295
Thanks for following up. I think a good approach would be to handle this as part of #2885. The proposal there is to model such options more strongly and this could include explicitly specifying the name of the environment variable. Then it could be different from the system property, e.g. using underscores instead of dots.

[2017-09-12 09:47] oehme commented on #2885
As mentioned in #1295, using dots in environment variables can cause various problems. It would be a nice addition to this API if it also supported a different notation for the environment variable than for the system property. E.g. we could default to using underscores for this new API instead of using the property name 1:1 like we currently do for project properties.

[2017-09-12 10:10] Vampire commented on #1295
Well, this is surely a good idea. But it only works for stuff that uses this facility. There could be other pieces of code that require dotted env variables and refuse to change. ;-)

[2017-09-12 12:14] tkrzeminski commented on #2827
@wolfs So far we have a few job executions build as successful after being canceled in previous runs. Builds were run on exactly the same Jenkins slave instance.

[2017-09-12 12:42] oehme commented on #1295
Sure, but for those you already correctly identified the workaround. The whole environment variable mapping is just a convenience and I don't think it is worth the effort to make it more elaborate.

[2017-09-12 13:13] wolfs commented on #2862
@jsotuyod Could you somehow extend Pmd's API so you could actually use the data from Gradle which files changed since the last execution? Using [`IncrementalTaskInputs`](https://docs.gradle.org/current/userguide/custom_tasks.html#sec:implementing_an_incremental_task) would probably help a lot, maybe even making the use of the Pmd analysis cache superfluous when using Gradle. WDYT?

[2017-09-12 13:53] jsotuyod commented on #2862
@wolfs doing so would be too Gradle-specific. We built the feature to support all platforms making use of PMD and intend to support it and extend it as necessary for everyone. PRs are welcomed, but we have no concrete plans on building this ourselves in the short term.

Non the less, as far as I can tell, the current implementation should have no issue with the gradle-build cache, and shall there

[2017-09-12 14:18] wolfs commented on #2862
@jsotuyod What I was referring to was that it could be possible to provide a list of changes to the PMD API (which is currently the Ant task from the Gradle viewpoint), instead of PMD trying to guess the changes. This way the Gradle plugin wouldn't need to use the analysis cache but could rely on the already calculated information for incremental builds instead.

[2017-09-12 14:32] jsotuyod commented on #2862
@wolfs I know. But again, doing so would mean moving change detection to the tools, which none other than Gradle do (specially not changes to pmd version, auxclasspath, etc.), hence the gradle-specific part.

Moreover, even if they did, different tools would use different implementations, which would lead to different behaviors. We'd rather provide a single tested implementation where, using PMD-s

[2017-09-12 15:13] dimitarg commented on #2657
Here is a public repo reproducing the problem also:
https://github.com/dimitarg/bootstrap-test

Bumped into it, too.

[2017-09-12 15:14] dimitarg commented on #2657
I really hate to be the guy "this blocks me I'm losing money blah blah", but I am. Is there a workaround, however hacky?

[2017-09-12 16:13] zhaobingfeng opened #2931 "How to customize the version sorting rules of dependency"
Our company has a lot of internal use of the library, the version format is like "**deug1.0.2**" and "**release1.0.0**", the number is the actual version number, prefix that developed version or official version.
When a project relies on a library of "**debug1.0.2**" and "**release1.0.0**", the last effect is "**release1.0.0**" instead of the "**debug1.0.2**" we want because the Gradle default col

[2017-09-12 16:24] nkumarom commented on #2854
We can rule out the inode cause and disk space cause. I ran a build with only 100 free inode but ample of disk space left. The build failed with some different stacktrace.

**Caused by: org.gradle.api.UncheckedIOException: java.io.FileNotFoundException: /opt/prpc-platform/buildSrc/build/test-results/test/binary/results.bin (No space left on device)**
        at org.gradle.api.internal.tasks.testin

[2017-09-12 16:31] gavra0 commented on #1224
We are hitting this with Gradle 4.1, as we have tasks that have dynamic inputs (transform tasks).

The issues seems to be that `TaskUpToDateState.rebuildChanges` does not account for `InputFilesTaskStateChanges` that might contain `DescriptiveChange` (https://github.com/gradle/gradle/blob/a191d29a511bcac0165a68afbe50c4a17ec35a56/subprojects/core/src/main/java/org/gradle/api/internal/changedetectio

[2017-09-12 16:42] oehme commented on #2931
The problem you are facing is what we call "variant aware dependency resolution". We are currently implementing support for that in our native plugins (C/C++) and will later provide the same capabilities for the Java ecosystem.

"debug1.0.2" and "release1.0.2" are not different versions, but two variants of the same version. So version sorting is not the solution here. Instead you will be able to

[2017-09-12 16:46] oehme commented on #2827
@wolfs I'll unassign this from 4.2, since we probably won't block the release on this issue. If it does come up again, let's continue the investigation with the 4.3 nightlies.

[2017-09-12 17:16] gavra0 opened #2932 "Specify standard output and error output of the worker action"
Gradle: 4.1

When launching some job in the worker action in the Android plugin for Gradle, we sometimes need to process the raw output, and to report the issues in a more meaningful way. If the processing happens in the daemon process, we would typically create new output and error stream, and process them afterwards. However, with the worker actions there is no way for us to grab these these out

[2017-09-12 17:17] Alex-Vol commented on #2865
I am trying to solve a multiple variant problem that cannot be restricted in the compile/runtime dimensions alone as Java artifacts do. With native artifacts it is desirable to produce debug/release and windows/macos/linux variants from a single build.gradle configurations. With sufficient time and cross compilation toolchains it would even be possible to do this from a single build execution. In

[2017-09-12 17:25] Alex-Vol commented on #2865
I am also perplexed by the need to sort compile before runtime for the needs of publications. It seems arbitrary to enforce such a processing order in the code. What is the motivation of this sorting implementation?

Allowing the natural ordering would accomplish the same just by coincidence but that is not relevant to the greater question about sorting.

[2017-09-12 17:35] Alex-Vol commented on #2865
I see the suggestion for the shadow plugin as a possible alternative to getting the ivy.xml generated instead of relying on the SoftwareComponent and the "IvyPublication.from(SoftwareComponent)". It puts the onus of constructing the ivy.xml entirely on my handler which I have done already for other reasons.

That may be where I end up to solve the immediate problem but I have to add my vote for op

[2017-09-12 18:18] eriwen commented on #1660
Can this now be closed @oehme and @jochenberger?

[2017-09-12 20:14] Vampire commented on #1295
Ok, that is a statement I can live with. :smiley:

[2017-09-12 20:18] carlspring commented on #2882
Hi!

Is there any update on this?

[2017-09-12 20:26] wolfs commented on #968
@jugutier: That might be related to #2827. I think this should be fixed in 4.2 - but I am not 100% sure. So you experienced this problem with 3.3?
I guess you cannot reproduce the problem, right?

[2017-09-12 20:33] jugutier commented on #968
I couldn't reproduce it after rebooting the computer, running the gradle
clean task and invalidating caches and restart. Yes, experienced in gradle
3.3.

Will certainly let you know if it comes up again.

On Tue, Sep 12, 2017 at 4:26 PM Stefan Wolf <notifications@github.com>
wrote:

[2017-09-13 05:03] adammurdoch commented on #2885
Nice idea. This would also allow us to later avoid having to mutate the environment variables of the daemon process.

[2017-09-13 06:39] wolfs commented on #2881
@pjr87 Thank you very much for reporting. After looking a bit more at the sample, it seems like http://localhost:8080/customized/hello yields `Hello Gradle`. I guess that is expected, given that the sample also shows how to include custom files in the war. I am closing this issue. Please re-open if you do not agree with my assessment.

[2017-09-13 06:39] #2881 closed

[2017-09-13 07:15] oehme commented on #2891
This has been merged

[2017-09-13 07:15] #2891 closed

[2017-09-13 07:23] oehme commented on #1660
@jochenberger did you give 4.2 a go?

[2017-09-13 07:25] oehme commented on #1295
Cool :) Just one more idea: You could encapsulate one of your proposed mapping schemes in a plugin that your projects can use. You'd apply that plugin as the first one in your project and it should work just like the built-in mapping.

[2017-09-13 07:39] jochenberger commented on #1660
Yes, but it didn't seem to improve in that particular area. I haven't had a chance to perform any thorough tests yet. If you're positive that `getEntries()` is fast enough to be called on each `visit()`, we can close this. I can always reopen if I find out anything new.

[2017-09-13 07:48] oehme commented on #1660
I'm not sure they are fast enough, but their overhead would have been completely masked by the repeated copying that we did before. So I'm curious why performance wouldn't improve. It should do a lot less file IO now.

[2017-09-13 07:53] Leo-Lei opened #2936 "Strange "Could not get unknown property 'projectConfiguration' for DefaultProjectDependency" error in multi-project in gradle 4.1"
I have a project contains two modules, api and service.
The service depends on the api module.
`dependencies {
    compile project(':api')
}
`
But I get below warning:
`Could not get unknown property 'projectConfiguration' for DefaultProjectDependency`
And the service module can not access the classes in api.

The Gradle version is 4.1. And I also test the Gradle 2.14.1. It works fine in Gradle 2.

[2017-09-13 08:00] jochenberger commented on #1660
I only did some profiling with 4.1 and my build spent a lot of time in `org.apache.commons.compress.archivers.zip.ZipFile.readCentralDirectoryEntry(Map<ZipArchiveEntry, NameAndComment>)`. And that is called from the `ZipFile` constructor. In 4.2 (RC), the constructor is still called on every `visit`, so I guess that it hasn't improved in that regard. But I will need to do more tests. Unfortunately

[2017-09-13 08:07] oehme commented on #1660
Understood. If your build was bottlenecked by that, then that won't have changed in 4.2. How big is the zip in question?

[2017-09-13 08:10] oehme commented on #2936
From the provided information I can only assume you are trying to import a new Gradle project into an older version of IntelliJ IDEA. Please upgrade to the latest version.

If that doesn't fix the issue, please provide a reproducible example project and instructions how to reproduce the problem.

[2017-09-13 08:10] #2936 closed

[2017-09-13 08:16] yuliayuliayulia commented on #2927
Thank you for looking into it.

1. Windows 7 Professional. Android Studio version 2.3.3

2. I create a new project and the error message appears right away. If I try to import a project it still appears.

3.  log:

9/13/2017
10:10 AM	Gradle sync started

10:10 AM	Gradle sync failed: Could not create an instance of Tooling API implementation using the specified Gradle distribution 'https://services

[2017-09-13 09:06] Vampire commented on #1295
Yeah, that's the alternative for not copy & pasting the translator-code of course. Maybe I make a released plugin out of it then. :-) @oehme I think the problem with dots could / should be added to Gradle docs. Do you think at such a paragraph such a 3rd party plugin could berecommended as workaround, or is that a no-go in the Gradle docs?

[2017-09-13 09:13] jochenberger commented on #1660
20 MB, about 215MB uncompressed, 14459 files

[2017-09-13 09:42] blindpirate commented on #2927
Could you click the `Show Log` to get more details? There's little information in your description.

[2017-09-13 09:52] Leo-Lei commented on #2936
Thanks, oehme, you are right. I update the IDEA to latest version, and it works fine now. Thanks a lot.

[2017-09-13 10:15] oehme commented on #1295
I'm not sure what our approach is there, @eriwen probably has an opinion on this.

[2017-09-13 10:38] rbrindl commented on #1096
Are there any thoughts on this?
We also would like to have timeouts which end a test task "orderly", i.e. publishing everything it has up to now (like junit reports and profiling).
In contrast to #2476 we want this on the Test-task level, not on single tests.

The motivation for this is that our CI system would kill the build if it runs into a (CI imposed) timeout.
This leaves us with no informati

[2017-09-13 10:44] grolfcry commented on #1420
I have same issue on copy operation in multi module project with parallel execution (about 30%-40% of builds)

[2017-09-13 11:14] #2931 closed

[2017-09-13 11:57] jochenberger commented on #2824
It may be a little late to chime in, but I also have a build that is almost not runnable with the daemon enabled. During configure time, the CPU usage stays at about 600% for most several minutes (a lot of it seems to be spent in `CacheAccessWorker`). When disabling the deamon, the configure step finishes in less than a minute.

[2017-09-13 12:46] wolfs commented on #1224
Here is the task from the comment above:

[code]

[2017-09-13 12:57] wolfs commented on #2827
@dstepanov @tkrzeminski Looks like the problem didn't occur any more. Could you give 4.2 RC2 a spin? My hope would be that it should also be fixed.

[2017-09-13 16:59] yuliayuliayulia commented on #2927
[idea.txt](https://github.com/gradle/gradle/files/1300172/idea.txt)

[2017-09-13 17:19] meierjan commented on #1320
Any progress? I agree with/can just quote @stephanenicolas from the old issue tracker:

I wonder why this is not having a much higher priority because I think this is an issue for many (many) developer - or am I forgetting something?

[2017-09-13 20:00] eriwen commented on #1295
I'm happy for the docs to link to external plugins. It is best to put suggestions like this in goal-oriented docs, for example, tutorials for setting up cloud CI. Such a thing doesn't exist in the official docs that I know of, but they _really_ should; the docs need some more love.

[2017-09-13 23:08] blindpirate commented on #2882
@oehme What do you think about this?

[2017-09-14 07:33] oehme commented on #1320
We are working together with the Google and Groupon teams, but the work is still at an [early stage](https://github.com/gradle/incap). We plan to have a first milestone for simple processors like AutoValue and Butterknife late October.

There are only so many things we can tackle at once. I understand that this is probably the biggest issue for you. But I hope you understand that there are other b

[2017-09-14 07:44] oehme commented on #2882
@blindpirate I don't have the history on this change. Can you `git blame` that line and ask someone who was involved?

[2017-09-14 07:48] blindpirate commented on #2882
@oehme Sure, thanks!

[2017-09-14 07:51] oehme commented on #2657
I'm not aware of a workaround. Since this seems to be a regression in 3.4, I'll move this up in the backlog for investigation.

[2017-09-14 08:22] eskatos opened #2939 "Make Java compilation parallel by default"
Java compilation should leverage the Worker API to become parallel by default.

### Expected Behavior
Java compilation is parallel by default, including intra-project.

### Current Behavior
Java compilation is not parallel by default, it can be parallelized using `--parallel` but not intra-project.

### Context
The existing infrastructure for Java compilation is also used in Gradle for Groovy and

[2017-09-14 08:30] cspurk opened #2940 "`CopySpec.eachFile(…)` Action not Applied to Copied Directories"
### Expected Behavior

The action given to [`CopySpec.eachFile(…)`](https://docs.gradle.org/current/javadoc/org/gradle/api/file/CopySpec.html#eachFile(groovy.lang.Closure)) should also be applied to each copied directory – at least when [`includeEmptyDirs == true`](https://docs.gradle.org/current/javadoc/org/gradle/api/file/CopySpec.html#eachFile(groovy.lang.Closure)).

### Current Behavior

The a

[2017-09-14 09:05] blindpirate commented on #2888
Potentially related to #2794 , investigating.

[2017-09-14 09:34] augi opened #2942 "Allow to set logger for project in ProjectBuilder"
It's recommended to use `ProjectBuilder` class when testing a custom Gradle plugin but there is no way how to set logger of the created Project. It seems that it uses `NoOpLogger` by default and so the developer of a Gradle plugin doesn't have any way how to see output of the project execution.

### Expected Behavior
It's possible to set logger of a new project when working with `ProjectBuilder`.

[2017-09-14 10:32] chrisr3 commented on #2657
I first encountered this issue using Gradle 3.4.1 and did not test any earlier versions. This bug could easily have been present already.

[2017-09-14 11:04] merscwog opened #2944 "Update third party dependencies to fix potential vulnerabilities"
When a security scan is run against Gradle 4.1 itself, there are several dependencies that have security CVEs associated with the versions used.  Most of the third party libraries have newer versions that have fixes, and below are a few examples:

- bcprov-jdkon is 1.51 and the latest version is 1.58 (many security issues addressed in later versions)
- beanshell, bsh is 2.0b4 and the latest is ver

[2017-09-14 11:19] akarnokd commented on #937
I've encountered the same issue with 4.2-RC2 after upgrading from 4.0.1 in [one of my projects](https://github.com/akarnokd/Reactive4JavaFlow).

If I run

`./gradlew clean jmh -Pjmh="ShakespearePlaysScrabbleWithFolyamOpt"`

the generated jar file gets locked by one of the daemons and the next time I try to execute the same command line, it fails with access denied.

[2017-09-14 11:24] Mashnin commented on #937
For me, this was [Hugo plugin](https://github.com/JakeWharton/hugo), which locked the files. I used [File Leak Detector](http://file-leak-detector.kohsuke.org/) to figure this out.

[2017-09-14 12:40] blindpirate commented on #2888
@oehme It's a very interesting issue! I can't wait to share my discovery.

This issue only occurs in `4.0` and `4.1`, but doesn't occur in `4.2`. Looks weird? Let's see this line first:

https://github.com/gradle/gradle/blob/f2a436204a281916b0388c113e7856b246654e38/subprojects/core/src/main/java/org/gradle/invocation/DefaultGradle.java#L212

When invoking `rootProject()`, the project loading statu

[2017-09-14 13:10] lptr opened #2947 "FileCollection.singleFile alternative to track dependency"
### Expected Behavior

Given this:

[code]

I would expect Gradle to discover that `copyTask` depends on `mergeTask`, and for `copyTask` to find the output created by `mergeTask`.

This could be achieved by adding an alternative to `FileCollection.singleFile` that would return a `RegularFile` built by `mergeTask`. This would fix both the too eager evaluation of `mergeTask.outputs.files.singleFile`

[2017-09-14 13:16] oehme commented on #2888
Thank you for this detailed analysis @blindpirate! With this information it should be relatively easy to fix. Let's consider this for the next sprint.

[2017-09-14 14:16] lptr commented on #2552
@big-guy's workaround sounds like the way to go to make this work for you.

However, Gradle should not just hang when encountering such a file, and instead fail with a proper error message that lets you discover what the problem is.

[2017-09-14 15:43] oehme commented on #2927
@yuliayuliayulia it looks like the downloaded Gradle distribution is broken. I'm not sure how your system ended up in this situation. Try deleting `~/.gradle/wrapper/dists`.

[2017-09-14 15:56] oehme commented on #1166
I agree with Eric on this one. Let's make docs part of upcoming Maven interop stories.

[2017-09-14 15:56] #1166 closed

[2017-09-14 15:58] oehme commented on #1244
This is unlikely to be a problem in Gradle itself, since the error is coming from the SSL layer. If there is evidence that this is actually a Gradle problem, please don't hesitate to follow up with more details here.

[2017-09-14 15:58] #1244 closed

[2017-09-14 16:00] oehme commented on #1337
I'm afraid that there is not enough information to say what was the issue here. Please feel free to reopen if this is still happening to you.

[2017-09-14 16:00] #1337 closed

[2017-09-14 16:00] #2708 closed

[2017-09-14 16:02] oehme commented on #750
I'm going to close this issue, as there is not enough information to reproduce. Please don't hesistate to follow up with more information if this is still an issue.

[2017-09-14 16:02] #750 closed

[2017-09-14 16:31] helderfalcao commented on #1283
bmuschko, I'm using gradle to run my UI tests(espresso), and they are unstable because of the environment, device, service. And we always have some problem. Retry cold be a better way to handle this unexpected behaviors. What you think?

[2017-09-14 18:19] robinverduijn commented on #2552
Thanks for the feedback! I appreciate it.

The workaround won't work on named pipes in the destination folder, though, and that's where my particular problem is.

For the broader issue in this ticket, if Gradle failed whenever a named pipe was encountered then I'd still be not much closer to having things work properly. Our current workaround is to delete any named pipes from the output folder bef

[2017-09-14 21:15] lptr commented on #2552
I think that'd be overly specific. What we could do instead is to do something like `sync.outputs.upToDateWhen { false }` to prevent Gradle from snapshotting the outputs at all. This is not the case currently, and we _will_ snapshot the outputs even if `upToDateWhen()` is `false`, but this can be changed. I haven't thought this through completely yet, and if it's not a possibility, we can add a se

[2017-09-14 22:05] robinverduijn commented on #2552
Our application uses Amazon's Kinesis, and under certain circumstances when a clean shutdown is not possible, Kinesis leaves a named pipe around on the filesystem. We know we don't need those pipes since the next startup would use a different one, and the old one is defunct since the process behind it would no longer be running anyway.

The named pipe is always under a folder in the destination we

[2017-09-14 23:05] kozayur opened #2949 "Generate warnings on dependency conflicts without failing the build."
### Expected Behavior

Gradle dependency management allows you to check conflicts in dependencies and fail the build when conflicts are found. It is done through `failOnVersionConflict()` in `resolutionStrategy`. I want to check the conflicts and have warning messages in the log. Although, I don't want my build to fail because of the conflicts.

### Current Behavior

If the conflicts are checked a

[2017-09-15 06:51] lptr commented on #2552
Right, we would be basically killing the sync nature of `Sync` by not snapshotting outputs. Another way to deal with this would be to acknowledge that sometimes we know there are files on disk we explicitly want to prevent from snapshotting. We already have a way to declare files to be ignored when snapshotting runtime classpath inputs:

[code]

We have plans to extend this behavior for other inpu

[2017-09-15 08:12] tkrzeminski commented on #2827
@wolfs just to be sure, is this fix included in `2.4 RC2`, not in the `4.3 RC1` ?

[2017-09-15 09:37] CoXier opened #2953 "Error:Unable to instantiate SingleSpaceSeparatorCheck"
I am using gralde plugin `checkstyle`. Here is my script:

[code]
Gradle project refresh failed.

I think the error occurs because of `checkstyle.xml` with `SingleSpaceSeparator`.

[code]

**Gradle Version** : 3.3
**OS** : Max OS

[2017-09-15 09:47] wolfs commented on #2827
@tkrzeminski I included a fix into `4.2 RC2`, which is somewhat different to the latest snapshot you tried. The snapshot which worked for you does not remove any old file snapshots from the `.gradle` directory, so the `.gradle` directory would just grow and be too big after a certain amount of time. It was to make sure that the removal of the snapshots caused the issue and not something else. In o

[2017-09-15 09:53] tkrzeminski commented on #2827
@wolfs thanks for explaining me that. We will replace `4.2-20170907155256+0000` with `4.2 RC2` version quickly.

[2017-09-15 10:08] CoXier commented on #2953
[code]
works for me

[2017-09-15 10:08] #2953 closed

[2017-09-15 15:21] oehme commented on #2868
So far we are not aware of a project in the wild (not maintained by Gradle) that is benefiting from CoD. The deprecation (if worded carefully) would allow us to find these projects and either improve their situation for the full configuration case enough for them to be satisfied or undo the deprecation if it turns out that CoD is the only way for them to be productive.

I'm open to other ways we c

[2017-09-15 15:35] oehme commented on #2944
Thank you for bringing this up. Those all look like things that we only use internally, so as long as our tests pass, these upgrades are a good idea.

[2017-09-15 15:36] big-guy commented on #2953
[code]

Please do not do this.  This means if someone runs `gradle tasks`, you'll also try to execute checkstyle.  If you try to import your project into Eclipse/IntelliJ, it'll run checkstyle every time the IDE interacts with Gradle. This is almost guaranteed to break things and not do what you want.

[2017-09-15 15:36] #733 closed

[2017-09-15 15:42] CoXier commented on #2953
I want to apply the gradle plugin into my project in order that every one can keep code style each time when they `gradle assembleDebug` or `gradle tasks`(it's very strict, I know).

[2017-09-15 15:56] big-guy commented on #2953
If you want to always run checkstyle when someone runs `assembleDebug`, you can do something like:

`assembleDebug.dependsOn tasks.withType(Checkstyle)`

Keep in mind that this breaks the meaning of "assembleDebug" (which isn't meant to test things).

I don't think it's helpful to run checkstyle when you run `gradle tasks` (this just lists the tasks that are available to run).

I would encourage y

[2017-09-15 16:01] oehme commented on #2596
I'm going to close this issue. Please reopen it if it appears again.

[2017-09-15 16:01] #2596 closed

[2017-09-15 16:50] #1069 closed

[2017-09-15 16:51] oehme commented on #1069
Closing as this was likely a situational problem. CI is green.

[2017-09-15 16:55] oehme commented on #1083
There is no difference between using `subprojects {}` or `configure(someListOfProjects)`. If you are still facing this issue, please attach a zipped up example project.

[2017-09-15 16:55] #1083 closed

[2017-09-15 17:00] oehme commented on #1120
This is working as expected. If the metadata of a module is found in a repository, the artifact is expected to be in that repository as well. Otherwise a failed deployment in repo1 could lead Gradle to fall through to repo2, which might not have the same security level etc.

[2017-09-15 17:00] #1120 closed

[2017-09-15 17:02] oehme commented on #1212
Closing as it is not even clear whether this is an Eclipse, Jansi or Gradle issue. If it turns out to be a problem in Gradle, please reopen with more details.

[2017-09-15 17:02] #1212 closed

[2017-09-15 17:05] oehme commented on #1272
Closing as there was not enough information to reproduce. Please feel free to reopen with a reproducible example project - in this case ideally as a docker image.

[2017-09-15 17:10] oehme commented on #1282
Can you try using `idea.module.inheritOutputDirs = true`? That will tell IDEA to use separate output dirs so it doesn't conflict with Gradle.

[2017-09-15 17:15] oehme commented on #1435
Closing as there has been no further insight here. Feel free to add more details if this is actually an issue caused by Gradle (as opposed to a JRE issue for instance).

[2017-09-15 17:15] #1435 closed

[2017-09-15 17:25] oehme commented on #1574
Closing as there is not enough information to give advice. Most likely a build script or plugin is eagerly resolving dependencies at configuration time, thus preventing further configuration. See #2298

[2017-09-15 17:25] #1574 closed

[2017-09-15 17:28] oehme commented on #1608
@Vampire can you verify whether this is still the case in 4.1? I changed this code a while ago to only run right before the task is executed instead of using `afterEvaluate`.

[2017-09-15 17:29] oehme commented on #1624
Your `Jar` task needs to define a `classifier`, otherwise you are overwriting the main `Jar` accidentally. We should fail on this earlier to make that clear to the user.

[2017-09-15 17:30] oehme commented on #1624
Duplicate of https://github.com/gradle/gradle/issues/2299

[2017-09-15 17:30] #1624 closed

[2017-09-15 19:42] sdfelts commented on #1461
The final JDK 9 build (b181) defaults to having all packages opened.  All of these workarounds are no longer needed.  However, a warning is still printed during the gradle code execution and it should be fixed.

[2017-09-15 19:45] sdfelts commented on #890
Although all packages are opened in the final build 181 of JDK 9, this  warning still occurs.
We get thousands of them when we build our product.

[2017-09-15 19:49] sdfelts commented on #1095
The final JDK 9 build (b181) defaults to having all packages opened. All workarounds to use --add-opens are no longer needed. However, a warning is still printed during the gradle code execution and it should be fixed.
 The warning in worker.org.gradle.internal.reflect.JavaMethod
 is tracked by #890

[2017-09-15 20:01] oehme commented on #1461
Thank you for verifying, let's continue on that other issue then.

[2017-09-15 20:01] #1461 closed

[2017-09-15 22:31] lacasseio opened #2955 "Task `@InputFile` of type `Provider<File>` should behave like a normal `File` type"
`Provider<File>`, most often `RegularFileVar`, can be used as file inputs and should behave like a normal `File` type.

### Expected Behavior
Given the following build script:
[code]

Executing `customTask` throw `InvalidUserDataException` with the message `No value has been specified for property 'input'.`

### Current Behavior
Currently, it throws `IllegalStateException` with the message `No val

[2017-09-15 23:48] john-auden commented on #1420
@grolfcry Please use code snippet proposed by @big-guy. It worked for me.

[2017-09-15 23:58] blackdrag commented on #1461
while the jdk9 specific problem here got solved by jdk9 diverging from the originally planed logic - I still cannot set the jvm arguments of the gradle compiler daemon. I have not tested with Gradle 4.1 though.

[2017-09-16 11:22] sormuras commented on #890
JUnit 5 tracks Illegal Reflective Access warnings here: https://github.com/junit-team/junit5/issues/1063

Most of them originate from the Groovy runtime used in Gradle: "Gradle 4.1 with Groovy groovy-all-2.4.11.jar"

[2017-09-16 12:47] oehme commented on #1461
The compiler daemons are configured via the options on the compile task. If that doesn't work, can you attach a small example that shows the problem?

[2017-09-17 09:17] alsutton commented on #711
The problem is triggered by the call in [MavenDeployAction](https://github.com/gradle/gradle/blob/489f72ee3076b4e5bbeef90512c7af5126f68a51/subprojects/maven/src/main/java/org/gradle/api/publication/maven/internal/action/MavenDeployAction.java#L69), which is a calls through to [Aether](https://github.com/sonatype/sonatype-aether/blob/50983e14b99ff694cbb150612352c621b3d7d695/aether-impl/src/main/jav

[2017-09-17 12:04] binkley commented on #2485
I find the same behavior for Cygwin, setting `--console=auto` does not produce rich output.  Setting `--console=rich` explicitly does.

[2017-09-17 16:27] xz64 commented on #2323
Hi @bmuschko , I'd like to work on this feature. This is my first time changing code inside gradle code. I have implemented the feature but still need to add tests / documentation.

Can you help me out with a few things?

- How do I run one specific integration test from the command line?
- Can I submit a WIP pull request for a code review of the feature (before having written any tests)? I can ad

[2017-09-17 17:10] Apertum commented on #1128
I have similar issues. A red square button in Idea or NetBeans for stopping application is not make stop of app immediately. I Have to wait about 10 sec. Inconvenient. I haven't solved it yourself.

[2017-09-17 17:40] fab1an commented on #1128
I worked around that by putting the start in a shellscript like `./gradlew
build && java -jar ...`
Then call that script in IDEA and terminate it with the button.

[2017-09-17 18:16] sskorol commented on #2720
@oehme @eljobe I've applied Alan Bateman suggestion from one of SO answers, and came up with the following configuration:
[code]
Apart from module patching, we also need to specify a set of `--add-opens` commands for granting access to different test packages. Wondering if it could be handled automatically by Gradle?

Full configuration, which works with Java 9: https://github.com/sskorol/test-dat

[2017-09-18 00:58] #2744 closed

[2017-09-18 02:45] blindpirate opened #2962 "Refactor subprojects/code-quality/integTest"
This is current layout:

[code]

We should put these test files in different packages like `pmd/checkstyle/codenarc/findbugs`, etc.

[2017-09-18 06:34] ldaley commented on #2868
I don't think it would be hard to make it easy or safe if we actually tried. We'd need some new constructs and ways of preventing undeclared access, but these are doable things.

Which is reasonably common. When I have my IDE execute a test through Gradle (or any concrete task) for that matter this is the case. I'm not arguing that investing in CoD should be done at the expense of making the confi

[2017-09-18 09:55] alsutton commented on #711
It looks like the [Maven project have switched to a different library](https://maven.apache.org/aether.html) This could be an option if someone has the time.

[2017-09-18 11:14] sschuberth commented on #998
Mind sharing such commands as I'm actually trying to convince Scala people to use `gradle` instead of `sbt`, but the lacking feature they regularly complain about is missing native cross-compilation support in the Scala plugin?

[2017-09-18 12:30] oehme commented on #2720
Well, we could automatically open everything to JUnit/TestNG, but I don't see how we would automate this for other frameworks unless those frameworks publish some kind of metadata saying "I'm a testing framework doing fancy classloader things".

[2017-09-18 13:03] oehme commented on #2868
The bigger issue is that we'd need new constructs for cross-configuration and publishing things other than artifacts between projects.

We did come up with a few ideas to tackle this (and other similar decisions), so we'll do a softer deprecation. We will:

- remove calls to action like "try out CoD" from the user/performance guide
- write a blog post/tweet explaining our intent to remove it, aski

[2017-09-18 13:06] oehme commented on #2962
@blindpirate for small chores/refactorings like these, please just go ahead and do them. We only need issues if there is a bigger piece of work or if something needs more discussion.

[2017-09-18 13:12] blindpirate commented on #2962
Good to know, thanks!

[2017-09-18 13:20] #2962 closed

[2017-09-18 13:27] sskorol commented on #2720
@oehme what about adding some property or even interface (depending on meta-data complexity) to the `test` task's scope, so that other test frameworks could easily provide required info?

By default, this option could be enabled for TestNG / JUnit (or implemented in case of an interface).

I'm not familiar with Gradle internals / architecture, so unfortunately can't give more detailed thoughts on

[2017-09-18 13:44] shashidhar502 opened #2967 "Gradle build failed with build.gradle not found"
As we have a limitation of 240 characters
we are creating substitution drive for the project and then invoking gradle commands on it
when we invoke gradlew command
we are getting following error
Build file 'A:\ProjectLocation\build.gradle' does not exist.

But when we check the physical location the file exists
And the issue is reproduced 1 out of 50 machines

when we run gradlew --stop before the

[2017-09-18 13:45] eljobe opened #10590 "Support BuildOperations for VCS systems"
We need to help users understand the time spent resolving source dependencies from version control systems. This means we need to generate BuildOperations which keep track of the time spent cloning, updating, and building these source dependencies so that Gradle Enterprise can get to the data.

[2017-09-18 13:52] eljobe opened #10563 "Improve performance for build with source dependencies"
One of the most expensive parts of using an external source dependency is cloning the full history of the repository locally before building it. One way to mitigate this would be to ensure that we only clone each repository which backs any external source dependency once. We may need to keep several working trees updated at various different commits in the repository, but if we only have one copy

[2017-09-18 15:30] oehme commented on #2967
Without a reproducible example I don't think we'll be able to help here. Given the fact that it fails on "1 out of 50" machines makes it seem like a problem in the setup of those machines.

You could debug Gradle using `-Dorg.gradle.debug=true` and see why this happens on some of the machines. Maybe this way you will find some more details that will help us fix the issue.

[2017-09-18 15:30] #2967 closed

[2017-09-18 15:47] ducrohet opened #2968 "TaskInputFilePropertyBuilder should allow setting @[Runtime]Classpath"
In the Android plugin we have a task that handle inputs dynamically. This is our Transform task that gets fed inputs from a pipeline so the number of inputs depends on the transform itself, and the task is generic.

We use to merge all these inputs into a single FileCollection and returning this in an `@InputFiles` annotated getter but this doesn't work when enabling the task for caching.

For cac

[2017-09-18 16:08] oehme commented on #2865
This has been fixed on master, please try the nightly build tomorrow. We needed a fix for this for our own native publishing efforts. Keep an eye on the release notes for that, you might not need your own plugin anymore after this is implemented. Opening up publishing for extension is another step we plan after that.

[2017-09-18 16:08] #2865 closed

[2017-09-18 16:10] oehme commented on #2968
I think the runtime API should have all the same capabilities that the annotation based API has. @lptr is that your opinion as well?

[2017-09-18 16:17] EronWright commented on #998
@sschuberth I think the suggestion is to invoke the gradle command separately for each Scala version that you're targeting, setting a project property like `scalaVersion` each time.   You might be able to use the `GradleBuild` task to construct a master build script ([ref](https://docs.gradle.org/current/userguide/organizing_build_logic.html#sec:external_build)).

[2017-09-18 16:23] wolfs commented on #2968
@ducrohet You already can do `getInputs().files(stream.getAsFileTree()).withSnapshotter(ClasspathSnapshotter.class)` by calling `TaskFilePropertyBuilderInternal.withSnapshotter`. That is an internal API. We should add these capabilities to the public API as well.

[2017-09-18 16:29] Alex-Vol commented on #2865
Thank you for the update @oehme. I have been monitoring the development of the native publishing with great anticipation. I can see that you are on the path of solving many of the requirements I have already in my own custom plugin. It will not be drop in compatible with our home grown plugin but as long as I can achieve parity with what we had I plan to completely replace the usage of our plugin

[2017-09-18 16:32] ducrohet commented on #2968
Is that internal API fairly stable? We're ok to use it for a little bit if we know that a public API is coming soon (4.3/4.4)

[2017-09-18 16:35] Alex-Vol commented on #2727
I am very excited to see this on the board. I have implemented a private plugin that makes such a feature for Ivy publishing. I intend to substitute the usage of my private implementation with this when I upgrade to version 4.3. I will try to follow the development of the 4.3 release candidates to validate this feature with our current multi module project.

[2017-09-18 20:47] mark-vieira commented on #2619
This problem is actually more than just os-specific path separators. The only way to configure this option is to provide an absolute path string which means you'll get cache misses even on the same OS if the JARs you're pointing to live in different locations.

[2017-09-18 22:36] cescoferraro opened #2969 "NettyServer.main is deprecated. Please start your Play server with the play.core.server.ProdServerStart$.main."
### Expected Behavior
Use play.core.server.ProdServerStart$.main to avoid the warning

### Current Behavior
using  play.core.server.NettyServer.main

### Context

I am not sure but I think here its the line
https://github.com/gradle/gradle/blob/714be7950eeb0356c94a1b95eeb0cdc8e9b660aa/subprojects/platform-play/src/main/java/org/gradle/play/plugins/PlayDistributionPlugin.java#L147

### Steps to Rep

[2017-09-19 00:41] bemnet4u commented on #1283
+1 Having ability to do this in gradle is great cause we can benefit from the standard report generated by gradle...similar to how maven allows this.

[2017-09-19 06:15] blindpirate commented on #1224
This issue can be reproduced as follows:

[code]

The reason is `InputFilesTaskStateChanges` contains input file properties change, which isn't treated as "properties change" here:

https://github.com/gradle/gradle/blob/da1fa8d15a5762f3ea693562615686251c2bbbc8/subprojects/core/src/main/java/org/gradle/api/internal/changedetection/rules/TaskUpToDateState.java#L54

and

https://github.com/gradle/gra

[2017-09-19 08:17] hansschtedke commented on #1868
Upgrading to newer java (1.8.0_144) worked for me with SNI.

[2017-09-19 09:55] shashidhar502 commented on #2967
please find the stacktrace

A:\Sample2>gradlew clean -b build.gradle --stacktrace

FAILURE: Build failed with an exception.

* What went wrong:
Build file 'A:\Sample2\build.gradle' does not exist.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.InvalidUserDataException: Build file 'A:\Sample2\build.gradle' does not exist.
        at org.gradle.init

[2017-09-19 10:06] shashidhar502 commented on #2967
As per stackoverflow suggestion
its better to use
file.getAbsoluteFile().exists() for file check
https://stackoverflow.com/questions/919918/file-exists-returns-false-when-file-exists

check attached image of your code

![image](https://user-images.githubusercontent.com/4785725/30587276-33307ba4-9d50-11e7-8702-abfa6f091322.png)

[2017-09-19 10:28] oehme commented on #2967
The path that Gradle prints points to the correct file, so I assume there is something else going on, like missing permissions.

[2017-09-19 13:34] sschuberth commented on #998
I fear that's already asking too much from `sbt` fans. Should I file cross-compilation support as a separate feature request?

[2017-09-19 13:54] oehme commented on #2629
@adammurdoch How about 4.3? Are we happier with the APIs by now? Or should we further postpone documenting them?

[2017-09-19 13:59] oehme commented on #1369
I've adjusted the title of this to refer to the actual problem. Assigning a `repository` to a `dependency` might not be the best solution. There are alternatives like remembering that a certain module was absent from a repository and not checking it again when we want to see if there is a new version.

[2017-09-19 14:10] oehme opened #2970 "Honor optional constraints in incoming POMs"
When a Maven dependency is marked as `optional`, its version should be taken into account during version resolution if some other module adds a hard dependency on it.

[2017-09-19 14:15] #2888 closed

[2017-09-19 14:31] gigaga commented on #842
+1. I have the same problem...

[2017-09-19 14:45] nedtwigg commented on #1369
For my usecase, I care less about the performance problem, and more about being able to assign a specific dependency to a specific repository for correctness reasons.

Example story:

- a jar from mavencentral has a bug / needs a feature
- I modify the jar to suit my needs
- I publish it to our local 3rd party repo under a new version
- at some point in the future, a new jar with the same version

[2017-09-19 15:02] jgriff commented on #1369
@netwigg The way I've handled your use case in the past is to deploy your "fixed/hacked" artifact under an expressly different GAV coordinate.  It may just be that the version is overtly different (i.e. "1.0.1" --> "1.0.1.MYCOMPANY_PATCH").

Another way is to prepend the groupId or artifactId with yours.  Back in the day, SpringSource did this with their OSGi Enterprise Bundle Repository.  They to

[2017-09-19 16:07] oehme commented on #1369
Publishing it under a different group is a very good approach. You can use a substitution rule to tell Gradle to replace any appearance of the original with your modified one. Then you don't rely on repository order for correctness.

[2017-09-19 18:24] JLLeitschuh opened #2972 "Project::setDefaultTasks should take list of Object instead of String"
### Expected Behavior
`setDefaultTasks` should have the same signature as `dependsOn` which takes a `Set<Object>`.

### Current Behavior
`setDefaultTasks` takes a `List<String>`

### Context
You can't pass references to `Task`s directly into `setDefaultTasks`, instead you must map to the tasks name.

### Example
Gradle Kotlin DSL example
[code]

### Your Environment

The `fixures` subproject that

[2017-09-19 19:55] lptr commented on #2968
I don't think we want to open up the `withSnapshotter()` API. It doesn't make sense to open it up without allowing users to declare their own snapshotters, and that would be way too complex. We have better ways to deal with this I think.

We have a goal in Gradle 4.3 to bring the annotation API (`@InputFile`) and the runtime API (`task.inputs.file(...)`) closer together. Adding runtime API capabil

[2017-09-19 20:51] ducrohet commented on #2968
Would those be considered different inputs in this case? ie if `getComplexInputs()` is annotated with `@PathSensitivity.RELATIVE` and a file from one input move into another input with the same relative path, will it be seen as a `REMOVED` and `ADDED`?

If that's the case then yes it would work for us. There's a bit more layers of encapsulated objects than we'd like for this but this is fine.

I d

[2017-09-19 21:53] dchesterman opened #2973 "Methods not found from Groovy Extension Module in buildscript classpath"
### Expected Behavior
When I utilize a Groovy extension module (http://groovy-lang.org/metaprogramming.html#_extension_modules) in the compiled project (compile scope) any extra methods are found as expected. However if I include the module in the buildscript dependencies classpath, the methods are not found. I would expect the extension module methods be found in both scenarios.

[2017-09-20 01:49] bemnet4u commented on #2319
Any update on this? I now now seeing a case where tests with Enclosed runner are not run anymore.

[2017-09-20 02:57] meggie3 opened #2976 "Gradle SDK integration with Unity"
Hello, at first we thought to develop Android SDK in the traditional way, however, the multdex  problem causes missing third-party library. Therefore, we have developed the SDK with Gradle but while integrating with Unity, Unity does not support the SDK which is developed with Gradle.

Unity version: 4.7

Is there any good solution for this?

The error log is as follows:

CommandInvokationFailure:

[2017-09-20 03:22] adammurdoch commented on #2629
My plan is to do something for 4.3, including some docs.

[2017-09-20 04:29] dchesterman commented on #2973
Not sure if this is related : https://github.com/groovy/groovy-core/commit/99b68038f2b082f177558bdc6c10f5ff52d536f1

[2017-09-20 05:12] scphantm commented on #1061
Well, this just stopped me dead in my tracks.  I have one project with 20 subprojects publishing about 35 plugins.  I was hoping to move to the plugins block because people are screwing up the buildscript block left and right.  looks like that won't happen now.  And code is far too integrated to consider breaking it up into multiple projects (as of now)

Any idea when publishing will get on the ra

[2017-09-20 07:46] oehme commented on #2968
@lptr Why does `withSnapshotter` only make sense if it is user-extensible? It feels to me like a reasonable addition even if the set of annotations you can pass there is fixed for now. Also long term we should consider opening up the snapshotter API to allow languages like Kotlin to do their own compile avoidance. So why not take a first step in that direction?

[2017-09-20 07:50] Raniz85 opened #2980 "Documentation of the Java Plugin should favour the implementation configuration over compile"
The [4.1 documentation for the Java Plugin](https://docs.gradle.org/4.1/userguide/java_plugin.html#sec:java_plugin_and_dependency_management) lists the following configurations:

Name | Extends | Used by tasks | Meaning
-----|---------|---------------|--------
compile | - | - | Compile time dependencies
compileOnly | - | - | Compile time only dependencies, not used at runtime
compileClasspath | co

[2017-09-20 10:04] carlolf commented on #1624
Hi Stefan,
I tried with a ` classifier`. But this does no solve my problem. I want to upload this special jar now qualified with a classifier. But it does not get uploaded by the puplish task. Instead, publish uploads the 'normal' jar - this is not wanted. See the closure above.
I have no idea how I can solve this case if the publish closure does not work.

[2017-09-20 10:58] tjoneslo commented on #2771
To close the loop here. We upgraded to Gradle 4.1 and the problem has not re-occured.

[2017-09-20 11:15] carlolf commented on #1624
Ah, now I got it! I had to set the `classifier` qualifiying the `artifact `level.

One problem I need to solve: how to exclude the normal jar from uploading? Is there a skip statement?

[2017-09-20 11:52] Rocks360 commented on #1868
@hansschtedke  Worked for me too. (macOS). But only from the terminal. With STS it's not working!

[2017-09-20 13:34] lptr commented on #2968
We've discussed this with @adammurdoch and @wolfs yesterday, and agreed to implement a simpler solution first. This will most probably be opening up `withSnapshotter()`, but we won't be opening up any APIs to implement your own snapshotters at this point.

[2017-09-20 14:39] oehme commented on #1624
Calling `artifacts = [...]` should overwrite which artifacts are published. If that doesn't work, could you create a small example project showing the problem?

[2017-09-20 15:18] oehme commented on #2976
Hey @meggie3, for Android related issues, please see the [Android Issue Tracker](https://source.android.com/source/report-bugs)

[2017-09-20 15:18] #2976 closed

[2017-09-20 15:26] oehme commented on #2586
@napstr the memory recordings you posted show that the JVM is sticking to the memory limits you specified. You might want to check meta space usage (which you didn't limit). There could potentially be a third party plugin with a classloader leak causing the memory usage to grow over time.

I'm going to close this issue since it is not actionable from our side without more information. If you find

[2017-09-20 15:26] #2586 closed

[2017-09-20 15:31] oehme commented on #2483
The TAPI currently doesn't support being packaged in a jar containing other jars. Would you be interested to improve this with a pull request?

[2017-09-20 15:34] oehme commented on #2421
I'm going to close this since we are deprecating Java 7 support and there exists a workaround for this problem.

[2017-09-20 15:34] #2421 closed

[2017-09-20 15:36] mkobit commented on #2970
Nice! The JUnit 5 project just ran into this in https://github.com/junit-team/junit5/issues/1065

[2017-09-20 15:37] oehme commented on #2367
@vladsoroka Since the "Delegate build to Gradle" option was mentioned here: Calling `cleanClasses` has no effect, since `classes` is just a lifecycle task that depends on the actual compile tasks. I think the simplest thing would be to call `clean` when the user clicks "Rebuild Project".

[2017-09-20 15:40] oehme commented on #2338
`output.dir` is for adding resource directories. There is currently no public equivalent for registering a classes directory.

[2017-09-20 15:43] oehme commented on #2269
This would be a breaking change. The configuration closure is just a convenience, tasks can also be added and then configured later, there should be no difference between the two.

However, we could consider adding a different overload that takes mandatory constructor parameters for the task, so that they have to be set before any `matching {}` and similar methods are called. This would also be us

[2017-09-20 15:49] oehme opened #2983 "Allow constructor arguments for tasks and other domain objects"
Right now domain object containers allow exactly one argument at creation time - the name of the object. After that is set, the `whenAdded` callbacks are invoked. However, for many use cases there are some other mandatory properties without which the added object makes no sense and `whenAdded` callbacks would see an insufficiently initialized object.

We could allow providing constructor arguments

[2017-09-20 15:49] oehme commented on #2983
@ducrohet FYI ☝️

[2017-09-20 15:50] oehme commented on #2269
I created #2983 to track my proposed alternative, since other users have asked for that one too. I'm going to close this request, since we are not going to change how the configuration closures work.

[2017-09-20 15:50] #2269 closed

[2017-09-20 16:00] iwan-aucamp-cs commented on #1737
related gradle/gradle#1397

[2017-09-20 16:31] oehme commented on #2099
The line `files("libs1")` doesn't really work. That's telling Gradle to put the directory "libs1" on the classpath, which Java doesn't support. What you probably wanted was `fileTree("libs1")`, which gives you all the jars *inside* libs1.

The incorrect part is that Gradle added the libs directly under the distribution `libs` directory. Instead the whole dir should have been added. But still Java

[2017-09-20 17:05] oehme commented on #2074
Closing in favor of #2885

[2017-09-20 17:05] #2074 closed

[2017-09-20 17:07] oehme commented on #1974
This might be due to our misunderstanding of the resource filter API. I had assumed that "name" is a human-readable name for the filter, but found out that Eclipse would just throw exceptions whenever I give it a value. Thanks for clarifying that.

Would you be interested in fixing this with a PR?

[2017-09-20 17:11] oehme commented on #1948
This is due to these tasks being added by the rule engine and not Gradle's traditional configuration model. We are slowly deprecating the rule engine and will fix this problem as we go.

[2017-09-20 17:13] oehme commented on #1890
Neither of these behaviors are normal or expected for Gradle. Please provide an example project showing the problem, so we can investigate.

[2017-09-20 17:13] #1890 closed

[2017-09-20 17:19] oehme commented on #1812
This is a limitation in how we currently treat BOMs (we only apply them to the direct dependencies of a module). Instead, we should add the management section of the BOM as constraints on the module that imports that BOM.

[2017-09-20 17:36] oehme commented on #1657
I'm closing this since there is no reproducible example. Please provide one if you'd like us to investigate.

[2017-09-20 17:36] #1657 closed

[2017-09-20 17:39] oehme commented on #1671
The `default` configuration is no longer used for Java projects, please use `apiElements` or `runtimeElements` as appropriate.

Also, your customJar task needs a classifier, otherwise it will override the original jar, breaking incremental builds.

[2017-09-20 17:39] #1671 closed

[2017-09-20 17:46] oehme commented on #1253
Duplicate of #867

[2017-09-20 17:47] oehme commented on #2970
@mkobit that will be covered by #867, which depends on this one.

[2017-09-20 19:14] Vampire commented on #1974
@oehme I guess if it would be just the DSL for the name, I would have done it, not sure about the merging and filling in beforeMerged and whenMerged.

The main problem is, that I have a workaround. I did create this configuration even before this DSL. I mainly create PRs for stuff that really bugs me and for which I don't have a workaround, or that are easy to fix. :-)

[2017-09-20 19:28] ilya-g commented on #1671
The documentation doesn't state that, see https://docs.gradle.org/current/userguide/java_plugin.html#sec:java_plugin_and_dependency_management

No, the `customJar` artifact doesn't need a classifer, because I want to produce an artifact that would otherwise be produced by the standard Jar task. In order not to overwrite the latter I've disabled the standard Jar task (`jar.enabled false`)

[2017-09-20 19:59] bemnet4u opened #2985 "Gradle not able to filter tests in inner class using categories"
I have a test class that looks like this
[code]
Now when I try to run the test like gw test it is not able to filter the tests.

My gradle test task has something like this

[code]

### Expected Behavior
Able to filter tests based on categories even for nested classes.

### Current Behavior
no test is run

### Steps to Reproduce (for bugs)
See above.

### Your Environment

[2017-09-21 01:26] meggie3 commented on #2976
Hey Oehme, but it is also related to Gradle, right? @oehme

[2017-09-21 04:51] #1348 closed

[2017-09-21 05:10] oehme commented on #2976
You referred to a problem with dexing, which is handled by the Android plugin, not Gradle itself.

[2017-09-21 08:09] Jamlee commented on #1271
spring-framework have this bug too.

[2017-09-21 08:32] Vampire commented on #1348
@bmuschko, @eriwen and @blondierte, documentation is just half of the necessary changes. The original JIRA issue actually was about the missing way to disable the excludes for a task and merely mentioned that documentation is also missing. There is still no way to disable them for one task, is there? And if, it is not mentioned in the newly added documentation.

[2017-09-21 08:44] blindpirate opened #2986 "Disable default exclusion when include explicitly"
Originally discussed in #1348

Since there's no way to disable default exclusion explicitly, I propose some change in inclusion and exclusion mechanism:

- If user doesn't specify `include` and `exclude` explicitly, the default exclusion should be applied
- If user specifies some `include` which contains files excluded by default exclusion, these files should be "liberated", e.g. could be seen by

[2017-09-21 08:46] blindpirate commented on #1348
@Vampire Thanks for pointing out, I don't want to put a workaround in the documentation, and we haven't made any decision about how to disable it. I've created #2986 to propose and track the following update.

And I would appreciate hearing your opinion in @2986 .

[2017-09-21 11:19] thiaguten opened #2987 "Problem accessing the web via a proxy Gradle 4.2"
After upgrading to gradle 4.2 I am not able to access the web via proxy to download dependencies.
My proxy settings are described in the gradle.properties in my gradle user home.
When I go back to Gradle 4.1 everything works fine again.

Error:

[code]

[2017-09-21 12:54] oehme commented on #2987
The message above is not about downloading dependencies. It's about downloading Gradle itself.

Can please you check if you get the same problem with 4.1 if you tell Gradle to use a fresh user home? `gradlew --gradle-user-home test-home help`.

[2017-09-21 13:10] koppor commented on #1667
I followed the getting started steps at https://about.sonarcloud.io/get-started/:

![grafik](https://user-images.githubusercontent.com/1366654/30697120-295457e2-9ede-11e7-84c8-8ec7c6fadbcb.png)

- Gradle 4.1

[code]

[2017-09-21 13:12] koppor commented on #1667
OK, this is fixed with plugin version 2.5 (which is the latest version according to https://plugins.gradle.org/plugin/org.sonarqube).

So, "just" the page https://about.sonarcloud.io/get-started/ should be updated...

[2017-09-21 13:34] wolfs commented on #2827
@tkrzeminski Did you already have a chance to try out `4.2 RC2`? Note that `4.2` has already been released, so you can switch to that version, too.

[2017-09-21 13:47] dstepanov commented on #2827
@wolfs We have switched to 4.2 today, everything looks fine, I think we can close the issue.

[2017-09-21 13:55] #2827 closed

[2017-09-21 13:56] wolfs commented on #2827
Thanks @dstepanov! Please re-open if it happens again.

[2017-09-21 14:24] eriwen commented on #711
@alsutton Thank you for the thorough investigation. Introducing hacks to silently drop specific exceptions is something we try to avoid, so switching to a different library is an option.

I'd wager this wouldn't quite make it to the top of our priority queue for some time, so I'd love to see a PR for this.

[2017-09-21 14:29] thiaguten commented on #2987
@oehme

After resetting my Gradle home and executing the command you requested everything worked correctly in versions 4.1 and 4.2 of Gradle. It was probably some instability in the company network. I believe you can close this issue. Thank you for your help.

[code]

[2017-09-21 14:29] #2987 closed

[2017-09-21 14:34] oehme commented on #2987
Thank you for verifying!

[2017-09-21 16:46] kknd22 opened #2990 "play 2.6.5 support"
I noticed that play 2.6.0 is listed as support -  does it work for 2.6.5?

[2017-09-21 17:13] #2990 closed

[2017-09-21 17:18] kknd22 opened #2991 "gradle 4.2 - play 2.6, scala version 2.12 not supported?"
in gradle 4.2, it starts to support play 2.6. However, we encounter the following:

does it mean scala 2.12 is not supported?
Thanks

-cl

[2017-09-21 17:48] jaredsburrows commented on #2939
This is a great idea. I believe this will benefit new users to Gradle. This will greatly help new users and projects with build speed.

[2017-09-21 19:42] Shorttail opened #2992 "Gradle 4.2 fails with Zulu JDK 9"
### Expected Behavior
Gradle runs under the Zulu JDK ~~and under Oracle JDK~~.

### Current Behavior
Gradle crashes with the following error:

[code]

### Context
I just installed Zulu ~~and Oracle JDK~~ and tried to run Gradle.

### Steps to Reproduce (for bugs)
Install Zulu from https://www.azul.com/downloads/zulu/ ~~or Oracle JDK from http://www.oracle.com/technetwork/java/javase/downloads/jdk9

[2017-09-21 21:17] nathan-hughes opened #2993 "Gradle cannot use TLSv1.2 for HTTPS with IBM Java/JDK/JRE"
DefaultSslContextFactory doesn't really call the default provider, it calls the first provider of "TLS" to do SSL connections.

The problem is that the SSLContext is initialized to use "TLS". It seems like the same provider provides TLS, TLSv1.1 and TLSv1. support in Sun Java. In IBM Java, TLS in one provider, but TLSv1.2 and maybe TLSv1.1 is in another. Gradle should respect the default chosen by

[2017-09-21 23:23] blindpirate commented on #2992
Thanks for reporting. Looks like the version number format has been changed and Gradle can't foresee it.

[2017-09-22 00:19] #2843 closed

[2017-09-22 00:54] blindpirate commented on #2992
@Shorttail Could you please double-check it? In my investigation, this issue does occur with zulu 9, but not with Oracle JDK 9.

[code]
Only zulu9 has changed version format to `9.0.0.15`, Oracle JDK's version format `9` is still supported by Gradle.

And I've run Gradle with Oracle JDK9, looks like it's OK.

[2017-09-22 01:06] Shorttail commented on #2992
You are correct, I am mistaken. Gradle 4.2 does start on Oracle JDK 9.

[2017-09-22 01:07] blindpirate commented on #2992
Thanks, we'll support zulu 9 soon.

[2017-09-22 01:23] blindpirate opened #2995 "Upgrade to Groovy 2.4.12 for full Java 9 compatibility"
### Expected Behavior

Gradle supports Oracle JDK 9 fully.

### Current Behavior

Gradle doesn't support Oracle JDK 9 fully.

### Context

JDK 9 final has been released, however, looks like Gradle isn't fully compatible with it.

This is due to the usage of new [ElementType.MODULE](http://download.java.net/java/jdk9/docs/api/java/lang/annotation/ElementType.html#MODULE). [Groovy 2.4.12](https://gi

[2017-09-22 01:32] rschiu opened #2996 "Track Java source-to-class mapping more precisely"
When incremental compilation is enabled, there can be issue if the inner class is in a separate source file.

This issue could arise when annotation processor is used to generate source files.  Most likely due to the use of Kotlin, where kapt is separate from Java's apt.

In the project, there are two source files, HelloWorld.java and HelloWorld$$InnerClass.java.  Running a clean compile will crea

[2017-09-22 02:34] blindpirate commented on #2995
It's due to the usage of new [ElementType.MODULE](http://download.java.net/java/jdk9/docs/api/java/lang/annotation/ElementType.html#MODULE)

[2017-09-22 07:08] Espingo opened #2997 "gradle.properties not discovered when using -b switch"
### Expected Behavior
If I set `org.gradle.daemon=false` in the _gradle.properties_ in the project build directory and set
a _GRADLE_USER_HOME_ to the none default value. I expect that gradle start without dameon

### Current Behavior
Today, the org.gradle.daemon set to false seems to not take into account in this context.

### Steps to Reproduce (for bugs)
(On Linux)
[code]
The properties seems t

[2017-09-22 08:10] cpoulsen-dezide opened #2998 "Unable to apply remote (http) script from init.d after upgrade to 4.2"
We apply some repository setup scripts from our git server to have a consistent setup and minimize duplication. This works in versions prior to 4.2, but fails after upgrading the wrapper.

Error output from 4.2 wrapper below:

[code]

The script file is available and the error goes away if I revert back to 4.1 or 4.0

[2017-09-22 08:18] blindpirate commented on #2998
Looks like a known bug. Could you please try to remove `~/.gradle/caches/modules-2/metadata-2.24/artifact-at-url.bin` and try with `4.2` again?

[2017-09-22 08:53] vkokurin commented on #2991
U have also a problem starting with play 2.6, but scala 2.11 just by running gradle playRun:

By looking into PlayRunAdapterV26X I see that it just extends PlayRunAdapterV24X which calls that mainDevHttpMode with reflections while using wrong arguments.

[2017-09-22 09:26] vkokurin opened #2999 "gradle 4.2 - play 2.6.x - scala 2.11"
I have a problem starting with play 2.6, but scala 2.11 just by running gradle playRun:

By looking into PlayRunAdapterV26X I see that it just extends PlayRunAdapterV24X which calls that mainDevHttpMode with reflections while using wrong arguments.

In change logs its written that there is a support to 2.6.x play versions, but I cannot just run the server. Maybe I am doing smthg wrong?

[2017-09-22 09:30] oehme commented on #2998
@cpoulsen-dezide Please provide the full stacktrace, otherwise it is hard to tell where the problem is coming from.

[2017-09-22 09:51] cpoulsen-dezide commented on #2998
[code]

[2017-09-22 10:01] oehme commented on #2998
I've tried to reproduce this by referencing [a script on github](https://raw.githubusercontent.com/gradle/gradle/master/gradle/fix-GRADLE-2492.gradle) from an init script. That works on my machine.

Can you reproduce this with a project that you can share? If not, do the `--info` or `--debug` logs provide more information about the "missing" resource?

[2017-09-22 10:12] cpoulsen-dezide commented on #2998
I tried deleting the file as suggested earlier, that makes the build run once:

[code]

[2017-09-22 10:16] cpoulsen-dezide commented on #2998
A log from running `gradlew clean --debug > debug-log.txt`: [debug-log.txt](https://github.com/gradle/gradle/files/1324156/debug-log.txt)

[2017-09-22 10:22] oehme commented on #2998
For completeness can you also include the log of the first, successful build?

[2017-09-22 10:26] oehme commented on #2997
Please attach a full reproducible example project, otherwise it is hard to tell what the problem is.

[2017-09-22 10:34] oehme commented on #2998
Can you try sending a HEAD request to http://git/dezide/gradle-shared/raw/master/init.d/include-shared-scripts.gradle ? Gradle's new URL caching (since 4.2) requires HEAD requests to work. Let's rule out a misconfigured server as a cause.

[2017-09-22 10:57] cpoulsen-dezide commented on #2998
It seems that the HEAD command is not working:

[code]
I'm on my way out of the door right now, but I'll try to get our git server to behave on Monday.

It seems like the issue is related to the use of HEAD. Did this behavior change since 4.1?

[2017-09-22 11:08] oehme commented on #2998
Yes, we use HEAD requests now to determine if a resource is still up-to-date. That's not fully compatible with what we did before (doing a GET on every build, which was expensive). We'll discuss internally if there is a way to make it efficient and backwards compatible. We'll keep you updated.

[2017-09-22 11:42] Espingo commented on #2997
Unzip the attached file and follow steps describe in 687.steps.txt
[687.zip](https://github.com/gradle/gradle/files/1324358/687.zip)

[2017-09-22 12:10] oehme commented on #2998
We discussed this and think that the git server is misconfigured. It answers 200 on a GET request, but 404 on a HEAD request, which is inconsistent.

So far we assume that this is an uncommon scenario. If other users encounter this as well, we might insert some additional fallback behavior.

[2017-09-22 12:11] #2998 closed

[2017-09-22 13:34] saksmt opened #3003 "`uploadArchives` task tries to publish generated POM twice"
`uploadArchives` task tries to publish generated POM (maybe not only POM) twice

### Expected Behavior
It should publish artifacts only once

### Current Behavior
It dies on second attempt due to 409 (Conflict)

### Context
Just trying to publish my project to corporate artifactory

### Steps to Reproduce (for bugs)

#### As sample project

[Link](https://github.com/saksmt/gradle-publish-issue-300

[2017-09-22 13:43] bellingard commented on #1667
@koppor And this is now fixed on https://about.sonarcloud.io/get-started/

Thanks for your feedback.

[2017-09-22 13:56] oehme commented on #2996
This is not an inner class. Inner classes must be defined in the same source file. It just so happens that the produced class file has the same name as an inner class would have. This can be fixed in at least two ways:

1. An annotation processor should **never** create classes with such names, because they will clash with **real** inner classes written by the user.
2. If source locations are atta

[2017-09-22 14:13] oehme commented on #2985
I think we generally have problems with `@Enclosed`. See also https://github.com/gradle/gradle/issues/2320 and https://github.com/gradle/gradle/issues/2319

[2017-09-22 14:49] oehme commented on #2997
Thanks for the thorough explanation, I can reproduce the problem. We try to read `gradle.properties` before the exact project directory is known. This is because we try to read the properties before we read the command line configuration, because the command line should take precedence over the properties.

In order to fix this, we'd need to split this up into three steps - First properly discover

[2017-09-22 15:00] aalmiray commented on #1095
Sadly that's not the case in my experience. Running Gradle 4.2 with Java 9 results in an error

    * Where:
    Build file '/Users/aalmiray/dev/github/griffon/build.gradle' line: 305

    * What went wrong:
    A problem occurred evaluating root project 'griffon'.

Neither settings `JDK_JAVA_OPTIONS="--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens

[2017-09-22 15:17] sdfelts commented on #1095
This is a case where the classes are hidden by default.
You will need to run with  JDK_JAVA_OPTIONS="--add-modules java.xml.bind"

Also see
https://discuss.gradle.org/t/gradle-does-not-honor-add-modules-jvm-argument-in-jdk9/20403

[2017-09-22 15:46] mdekstrand opened #3005 "Expand PropertyState DSL support"
### Expected Behavior
Changing from a classical property to a `PropertyState`-based property in an extension or task implementation should not break build scripts.

### Current Behavior
1.  When changing a property `foo` from `T` to `PropertyState<T>`, the old non-assignment property syntax no longer works:

[code]

    The `foo = value` syntax still works.

2. When `foo` has type `PropertyState<S

[2017-09-22 16:43] jaredsburrows opened #3006 "Android testing broken since Gradle 4.2"
Based on this reddit post: https://www.reddit.com/r/androiddev/comments/71c1sz/gradle_42_released/ and https://issuetracker.google.com/issues/65869429.

Gradle 4.2 broke espresso/instrumentation tests for Android Gradle Plugin.

### Expected Behavior
The tests should run.

### Current Behavior
[code]

### Steps to Reproduce (for bugs)

`./gradlew connectedDebugAndroidTest`

### Your Environment
Gr

[2017-09-22 17:06] rschiu commented on #2996
The key issue is that the incremental compilation and clean build is different.  If we decide to go with 1., then the code should have never compiled in the first place.
This is from our user, so I am not sure how feasible it is for them to modify the annotation processor.

[2017-09-22 18:07] BeneStem commented on #2995
Groovy 2.4.12 seems to have the same problem:

[code]

[2017-09-22 23:00] big-guy opened #3008 "Improve documentation for Settings.include and link this in the name deprecation"
### Expected Behavior

settings.gradle:
[code]
There shouldn't be a deprecation warning about using a `/` in subproject names because Gradle never sees those names in practice.

### Current Behavior

There's a deprecation warning per subproject.

### Context

We added a deprecation message for projects that used discouraged characters (#2775), but this check is applied too early.

We should also c

[2017-09-22 23:07] bmuschko commented on #2319
@bemnet4u No progress has been made. We'd welcome a contribution from the community.

[2017-09-22 23:41] bmuschko commented on #2999
Could you please provide reproducible sample project?

[2017-09-22 23:43] bmuschko commented on #3003
Thanks for providing code snippets. Could you please provide a sample project on GitHub that can directly execute?

[2017-09-22 23:45] bmuschko commented on #3006
Might be a good enhancement to `org.gradle.smoketests.AndroidPluginsSmokeTest`. Would you be interested in contributing?

[2017-09-22 23:45] jaredsburrows commented on #3006
Yes I would!

On Sep 22, 2017 4:45 PM, "Benjamin Muschko" <notifications@github.com>
wrote:

[2017-09-23 00:29] blindpirate commented on #2995
@BeneStem Thanks for reporting. That's just warning. Groovy uses too much reflection and Java 9 is much more restrictive concerning reflective access to non-public fields/methods. However, there's still something we can try to remove this warning.

Reference: https://blog.codefx.org/java/java-9-migration-guide/#Illegal-Access-To-Internal-APIs

[2017-09-23 00:47] jaredsburrows commented on #3006
Currently 4.1 works well, I have an example test project here: https://github.com/jaredsburrows/android-gif-example.

I am not sure whether or not to consider this apart of core or not.

 I can reproduce the error in this project/branch that is apart of that repo in a PR here: https://github.com/jaredsburrows/android-gif-example/pull/41.

[2017-09-23 01:00] jaredsburrows commented on #3006
@bmuschko It looks like Xavier marked this issue as fixed in the Android tracker: https://issuetracker.google.com/issues/65869429. Maybe this was an AGP problem?

I still think that we should have some integration tests for this.

[2017-09-23 05:00] oehme commented on #3008
The deprecation is still valid here I think, `include` was never meant to be called with slashes. Users should do it the other way round:

[code]

We need to improve the documentation for that.

[2017-09-23 06:33] oehme commented on #3006
We definitely should update our tests to check against the latest agp versions.

[2017-09-23 06:43] oehme commented on #3008
The missing documentation for this might be reason enough for 4.2.1.

[2017-09-23 11:32] SteffenL commented on #3006
Is Gradle 4.2 supposed to be compatible with AGP 2.3.x or only AGP 3.x?

I am asking because I got this issue with AGP 2.3.2 (also tried 2.3.3) after updating Gradle from 3.5 to 4.2.

[2017-09-23 13:53] grv87 commented on #1481
`CodeNarcReports` interface still doesn't have `console` property. Could you add it so this report could be configured (enabled/disabled)?

[2017-09-23 16:09] bmuschko commented on #1481
@grv87 Did you try that with Gradle 4.1? That's the version that includes the feature. Please see https://github.com/gradle/gradle/pull/2170 for some usage patterns. Please provide a reproducible code example if that doesn't work for you.

[2017-09-23 16:13] aalmiray commented on #3008
@oehme I disagree with your conclusion, your proposal works _if_ all projects are specified by hand, but will fail when contextual information is required, such as

    ['common', 'full', 'light', 'docs'].each { name ->
        File subdir = new File(rootDir, name)
        subdir.eachDir { dir ->
            File buildFile = new File(dir, "${dir.name}.gradle")
            if (buildFile.exists()) {

[2017-09-23 16:15] bmuschko commented on #2843
@blindpirate Can you please add the milestone so we know later what version of Gradle introduced the fix?

[2017-09-23 19:08] Siedlerchr commented on #1506
It is advisable to use Locale.ROOT for case sensitive work:
https://garygregory.wordpress.com/2015/11/03/java-lowercase-conversion-turkey/

[2017-09-23 22:22] oehme commented on #3008
@aalmiray instead of calling include with the wrong name and correcting it later you can call it with the name you want and set the project dir. This works in a more dynamic case like yours too:
[code]

[2017-09-24 00:02] blindpirate commented on #2843
@bmuschko No problem!

[2017-09-24 00:56] blindpirate commented on #2843
@bmuschko  Looks like fixed issues are rendered via `https://services.gradle.org/fixed-issues/4.2`, and not written in `notes.md`. I'm wondering where should I write this issue down?

[2017-09-24 01:14] carlspring commented on #2882
@blindpirate ,

Any update? :)

[2017-09-24 01:17] blindpirate commented on #2882
@carlspring Not yet. I'm waiting for @bigdaz 's brilliant opinion on this. @bigdaz I'd like to hear your opinion on this when you're back from your vacation.

[2017-09-24 01:27] carlspring commented on #2882
Okay, thanks for the update @blindpirate ! :)

[2017-09-24 02:52] adammurdoch opened #3009 "Allow variant attributes to be matched across build boundaries"
Variant attributes are strongly typed key-value pairs and form the basis of the variant aware dependency resolution used by the Java library, Android and C++ plugins. When the attribute values cannot be matched correctly, these plugins are unable to resolve dependencies, rendering them basically useless in this situation.

Currently, attribute value matching is unable to match values across ClassL

[2017-09-24 02:52] adammurdoch commented on #3009
This is required by https://github.com/gradle/gradle-native/issues/143

[2017-09-24 02:53] adammurdoch commented on #1093
One issue that blocks this is #3009. There may be others after that one is fixed.

[2017-09-24 02:54] adammurdoch commented on #3009
This is required by https://github.com/gradle/gradle/issues/1093

[2017-09-24 03:59] blindpirate opened #3010 "Working with JEP 223: New Version-String Scheme"
### Expected Behavior

Working with JEP 223, a new version schema introduced by JDK 9.

### Current Behavior

Handle the `java.version` roughly.

### Context

See [JEP 223](http://openjdk.java.net/jeps/223) for more details.

[2017-09-24 04:32] grv87 commented on #1481
@bmuschko, I'm with 4.2 now.

Code:
[code]

[2017-09-24 05:40] blindpirate commented on #1481
@grv87 There's something wrong with current implementation. I've confirmed this issue. The message is mistakenly outputted with `info` level, so if you run with `--info` you should see the message.

We'll investigate this.

[2017-09-24 11:44] aalmiray commented on #3008
I suppose so. `settings.gradle` now looks like this https://github.com/griffon/griffon/commit/3d50bf1c95d8c3e6b0c3145e5447ce56d70c7e65

[2017-09-24 12:06] renatoathaydes commented on #2421
My `openjdk7` build is failing on Travis CI due to the problem fixed in the latest commit https://github.com/eseifert/gral/commit/6ca80bf2cbcaa1cd5c6851e1b5ba055c82356cd5.

Is there a Gradle version I can use that will already work or you guys will release that change soon?

[2017-09-25 04:05] hltj opened #3012 "Gradle 4.1/4.2 cannot build lombok-processor required code with JDK 9"
### Expected Behavior

Should work as Gradle 3.5 to 4.0.2 when building lombok-processor required code with JDK 9.

### Current Behavior

Fail to build lombok-processor required code with JDK 9 using Gradle 4.1/4.2, while the Gradle 3.5 to 4.0.2 works fine.
Here is a example output of failure during building my demonstration project https://github.com/hltj/java9demo/tree/master/lombok :
[code]

##

[2017-09-25 05:13] automenta opened #3013 "Could not determine java version from '9.0.0.15'"
when trying "azul zulu" jdk9:

[code]

if this cant be fixed maybe the error message could at least indicate **why the version string even matters** if it even does.

[code]

### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

 * Build scan URL:

[2017-09-25 05:25] blindpirate commented on #3013
Duplicate with #2992 .

[2017-09-25 05:25] #3013 closed

[2017-09-25 06:24] Espingo commented on #2997
Ok I try to do my first pull-request for this project ;-)

[2017-09-25 07:03] jjohannes commented on #2824
@jochenberger This sounds like a general daemon or configuration problem. Unrelated to whether you run it on CI or locally. Can you open a separate issue for this with an example of how to reproduce the issue?

[2017-09-25 07:12] jochenberger commented on #2824
@jjohannes It was a memory issue. The build in question is quite huge and the daemon was mostly struggling with GC. Raising `Xmx` to 4g helped a lot.

[2017-09-25 08:25] nberthet commented on #2999
Hi @bmuschko, I confirm having the same issue.

It looks like the updated plugin works just fine with Play < 2.6, but as soon as you set the platform to 2.6 the server cannot be started. A method signature was changed, and it is not reflected in PlayRunAdapterV26X as pointed out by @vkokurin

To reproduce, just create an empty project:
[code]

Then, `gradlew runPlay` while fail and throw the excep

[2017-09-25 08:30] nberthet commented on #2999
For reference - https://github.com/playframework/playframework/commit/7bf7571c6997761baff79a0e89b08f9f5525b08f#diff-58bf6474fbdd7970aeb1630b24c9f7e2

[2017-09-25 08:56] wolfs commented on #2740
We just converted the last chapters: #2989.
@eriwen Please have a look if there is something left to do for the conversion. We can start planning out the next steps how to continue improving our documentation toolchain..

[2017-09-25 09:32] #1224 closed

[2017-09-25 10:28] oehme commented on #3012
This probably happens because we have a custom file manager on Java 9 and lombok tries to access file manager internals. Maybe we can adjust our file manager so the lombok hacks work again. Or lombok can add a specific hack for Gradle.

Cc @eljobe since you worked on this.

[2017-09-25 12:44] frankbenoit opened #3015 "Need to delete .gradle, otherwise terminates with main-class not found"
I start gradle 4.0.1 over the wrapper.
And i get the message the main class org.gradle.wrapper.GradleWrapperMain is not found.
But in fact the jre and classpath are perfectly ok, and the referred gradle-wrapper.jar contains this class.

When i delete the ".gradle" folder, it works for one build. Before the next call, i need again to delete this folder.

Currently i don't  know how to get more info

[2017-09-25 12:48] vkokurin commented on #2999
@nberthet yes I have exactly same configuration.

[2017-09-25 13:18] frankbenoit commented on #3015
When it is in this state, even deleting the whole content of the ".gradle" does not help.
But if the empty directory ".gradle" is removed, then it is running again.

[2017-09-25 13:18] frankbenoit commented on #3015
Same behavior with Gradle 4.2

[2017-09-25 14:27] bmuschko commented on #3015
Is this only happening on your machine? Could you please ask one of your co-workers? I suspect some environment issue.

[2017-09-25 14:35] dlew commented on #2996
Here's another report of the issue from a slightly different angle: https://issuetracker.google.com/issues/66698564

The issue here is that if there's an inner class that uses annotation processing to generate another class, that generated class gets deleted. For example:

1. Start with inner class "Foo$Bar"
1. Annotation processor generates a new class using the pattern "<ClassName>_Generated".
1

[2017-09-25 15:15] bmuschko commented on #2843
@blindpirate Never mind about the release notes. For some reason I thought this was a PR.

[2017-09-25 15:32] bmuschko commented on #1481
@blindpirate Can you create an issue for it?

[2017-09-25 15:42] saksmt commented on #3003
@bmuschko, Sorry for long reply (weekend after all 😄  ). Here is sample project where this bug reproduces: [click](https://github.com/saksmt/gradle-publish-issue-3003)

[2017-09-25 17:32] kknd22 commented on #2999
I encountered a similar issue - BTW, is there a bare bone sample project to illustration gradle 4.2 play 2.6.5(x) actually works?

-cl

[2017-09-25 18:38] bmuschko opened #3017 "Auto-applied plugins can be registered and retrieved centrally"
### Expected Behavior

Gradle can register and resolve auto-applied plugins centrally. Decoupled parts of the system e.g. the Kotlin DSL can look up information about registered plugins e.g. the version.

A potential implementation could look as such:

[code]

### Current Behavior

Versions for auto-applied plugins are hard-coded. The registration and resolution is not centralized.

### Context

A

[2017-09-25 18:40] frankbenoit commented on #3015
yes, this is plausible.
I have had this on another PC as well, but now it is only at one still behaving like that.
Other co-workers never saw this.

My trials are so far:

 - modify the gradlew.bat to give one explicit JRE installation.
 - limit the PATH to only windows/sys32

What else can i try?
Can I somehow force the wrapper to give more info?

[2017-09-25 19:54] oehme commented on #2996
Incremental compilation is turned off automatically when annotation processors are used. So either processor detection is broken or the class is somehow generated **before** java compilation.

[2017-09-25 19:55] marcospereira commented on #2991
This is possibly a duplicate of #2999.

[2017-09-25 19:57] marcospereira commented on #2999
Hi, @bmuschko.

This is a reproducer: https://github.com/marcospereira/play-java-starter-example

See more info at this specific commit:

https://github.com/marcospereira/play-java-starter-example/commit/d9cb6fab92a83bc12a73463e83f65ae9b415fc10

Best.

[2017-09-25 20:09] rschiu commented on #2996
Yes, this is annotation processor for Kotlin, which was run before java compilation.  So is the recommendation for the Kotlin plugin to manually turn off incremental compilation when kapt is used?

[2017-09-25 20:32] oehme commented on #2996
I'm a bit confused, since the example above shows a Java class. Does Kotlin run Java annotation processing?

Does this still happen with the latest Kotlin plugin version?

Turning off Java incremental compile in that case is a feasible workaround until this issue is fixed.

[2017-09-25 20:49] big-guy commented on #2642
@oehme So I just went through the 3-day training class where we are using the command-line all the time to demonstrate different things.  Some of the labs/demos have tasks that don't print anything out, so to demonstrate concepts and get people used to Gradle, we ended up resorting to `--console=plain` a lot.

When running with the rich console, the result looks a lot like this:

Going to the buil

[2017-09-25 20:53] aalmiray commented on #2642
Also, sometimes a task is marked as UP-TO-DATE but you expected it do some work. You can't tell if the task ran or not with the rich console, but you can with the old behavior | verbose mode.

[2017-09-25 20:57] big-guy commented on #3008
@oehme I shouldn't have tried to write this before jumping on a plane :)

I think it would be OK if we produced a deprecation warning about `/` that said you should be using a different API (e.g., `void includeSubproject(File projectDir)` or something that makes it easy to use relative paths) vs the current non-actionable "your name contains deprecated characters".

[2017-09-25 21:02] big-guy commented on #2642
Unfortunately, you couldn't always really tell with the old behavior either (or --console=plain now) when running with --parallel.  It was common for people to see a task listed twice and think it executed twice or only catch the first instance of a task in the output and think a UP-TO-DATE task was executed.

There's where showing a task's header whenever it does work would make that pretty defin

[2017-09-25 21:12] rjernst commented on #730
@eriwen This is really not solved by the worker api. That assumes all tasks can/should be converted to use the worker api. But, for example, wrapping an existing ant task which forks multiple processes, and wanting to update the gradle status for those processes is not covered. It also does not cover running a complex testing script through a vagrant virtual machine with exec. As a custom task des

[2017-09-25 21:55] DanielThomas opened #3019 "First configuration to resolve determines effective dynamic version cache policy"
When a dynamic version is first resolved, that version list cached for the duration of the build. However, if the first configuration to resolve doesn't carry the desired `cacheDynamicVersionsFor` setting (as is the case for detached configurations), that will lead to stale dependencies being selected.

### Expected Behavior
The individual cache TTL is honored.

### Current Behavior
The cache TTL

[2017-09-25 21:56] bmuschko commented on #3008
@oehme At the moment I am bit on the fence whether we need a patch release just for documenting this. If everything goes well then we'll release the 4.3-RC1 in 3 weeks. I'd be happy to improve documentation with that version. My gut feeling is that the user base running into this issue is rather small. Plus it's only a deprecation - nothing should _break_ at the moment.

[2017-09-25 23:54] blindpirate opened #3021 "Logs are mistakenly outputted in INFO level"
### Expected Behavior

Codenarc task's `console` output should be rendered as `QUITE`.

### Current Behavior

Now it's rendered as `INFO`

### Context

If we create an alone `codenarc` task and enable its console output, the output is mistakenly in `INFO` level. However, this issue doesn't occur in codenarc tasks configured by `codenarc` plugin.

### Steps to Reproduce (for bugs)

- Clone https://

[2017-09-26 00:53] blindpirate commented on #1481
@bmuschko Sure. It's in #3021 now.

[2017-09-26 01:13] adammurdoch opened #3022 "Allow included builds to define variant attribute rules that function in a composite build"
An important feature of variant aware dependency resolution is that a plugin can define rules that describe when a particular attribute value is compatible with some other value, and how to select the best match from amongst several candidate values. When these rules do not work, dependency resolution is basically broken for these plugins.

Currently, there are some cases where these rules do not

[2017-09-26 01:17] adammurdoch commented on #3009
Fixes for this feature in general are in master, so that matching works for attributes with types defined by the plugin, such as custom enums or `Named` types. It also works when the consuming project defines some attribute matching rules. However, matching is still broken when the _producing_ project defines any additional attribute matching or disambiguation rules. Split out #3022 to fix this ca

[2017-09-26 01:17] #3009 closed

[2017-09-26 01:19] adammurdoch commented on #1093
Attribute matching should now be fixed enough to unblock this.

[2017-09-26 01:38] adammurdoch commented on #1093
Android plugin 3.0.0-beta1 seems to work fine in a composite build now, for a pretty basic app and library.

[2017-09-26 03:02] laurelcc commented on #3015
我遇到了这个同样的问题，在我反复尝试删除项目.gradle文件和本机的.gradle之后同步，仍然无法解决。才开始我怀疑idea的工程文件问题，后来我尝试修改项目gradle目录为3.1版本，再更新gradle命令指定为3.1之后，项目竟然又跑起来了。唉，害苦我了

[2017-09-26 03:06] bmuschko commented on #3015
Can you provide a reproducible example?

[2017-09-26 04:19] big-guy opened #3024 "Document reason for why a task is skipped with onlyIf"
### Expected Behavior

Build author can provide more context as to why a task is skipped.

### Current Behavior

When a task is skipped, but no reason is available.

### Context

For task output caching, we added a `cacheIf(String, Spec)` and `doNotCacheIf(String, Spec)`.  This allows plugins/build authors to specify a reason a task is not cacheable/is cacheable.

`onlyIf` is a similar API, but pr

[2017-09-26 04:59] #2917 closed

[2017-09-26 13:26] wolfs opened #3026 "Remove `AbstractOptions`"
Now that we do not support using `Ant` for compilation any more, we can remove [`AbstractOptions`](https://github.com/gradle/gradle/blob/8a7b8ea7bfd2c38689c8fa339c66485f610c10a9/subprojects/language-jvm/src/main/java/org/gradle/api/tasks/compile/AbstractOptions.java).
I guess we would need to deprecate the class soon to be able to remove it (or replace it with an empty class) for Gradle 5.0.

[2017-09-26 13:53] marcospereira commented on #2999
Also, see #3018 for a (possible) fix.

[2017-09-26 14:16] janjoerke opened #3027 "Gradle 4.2 throws java.lang.StringIndexOutOfBoundsException launching projects in disk root directory"
### Expected Behavior
Gradle should be able to run gradle projects independent of their location on disk.

### Current Behavior
When launching projects in the disk root directory, the name of the directory is an empty string, which causes a StringIndexOutOfBoundsException in org/gradle/util/NameValidator.java.

### Context
Native legacy projects may have severe requirements on paths length, consid

[2017-09-26 14:18] bmuschko opened #3028 "Introduce `Provider` concept in tasks exposed by Gradle core"
### Expected Behavior

Convention mapping is completely removed from code base. `Provider` concept is used instead.

### Current Behavior

Gradle core tasks still use convention mapping. `Provider` is only used in the `jacoco` plugin.

### Context

External plugins can avoid using convention mapping when configuring Gradle core tasks.

[2017-09-26 14:19] bmuschko commented on #3027
Please provide a reproducible example. Thanks!

[2017-09-26 14:24] bmuschko commented on #2991
@marcospereira Thanks, this looks like a duplicate. Closing this issue.

[2017-09-26 14:24] #2991 closed

[2017-09-26 14:26] janjoerke commented on #3027
Example: Launch Gradle 4.2 in the root of a drive. More is not necessary to trigger the exception.

[2017-09-26 14:32] lptr commented on #2619
This is now fixed as #3002 and will ship in Gradle 4.3.

[2017-09-26 14:32] #2619 closed

[2017-09-26 14:32] bmuschko commented on #3027
Is this behavior you are just seeing with 4.2 and not 4.1? When exactly did this start to break for you?

[2017-09-26 14:32] lptr commented on #2755
This is now merged as #3002 and will ship with Gradle 4.3.

[2017-09-26 14:32] #2755 closed

[2017-09-26 14:42] janjoerke commented on #3027
The error was not present in 4.1 and only started to occur after switching to 4.2.

org.gradle.api.reflect.ObjectInstantiationException: Could not create an instance of type org.gradle.initialization.DefaultSettings_Decorated.
        at org.gradle.internal.reflect.DirectInstantiator.newInstance(DirectInstantiator.java:53)
        at org.gradle.api.internal.ClassGeneratorBackedInstantiator.newInst

[2017-09-26 14:47] jjohannes commented on #3027
This should not throw an exception, but it should yield a deprecation warning as well. Something like
_The project name can not be empty_

@janjoerke
You should be able to fix this in your project, by setting the project name in your _settings.gradle_:
`rootProject.name = 'someName'`

[2017-09-26 14:48] kknd22 opened #3029 "playBinary - gradle 4.2 play 2.6 - using the wrong main class"
`gradle dist` generates `playBinary `, which contains at line 165
[code]
which causes the following error when run  `playBinary `:
`Could not find or load main class play.core.server.NettyServer
`

Looks like the correct class should be: `play.core.server.ProdServerStart`

Should this just a be simple fix?
Thanks

-cl

[2017-09-26 14:50] bmuschko commented on #3029
Is this potentially a duplicate of https://github.com/gradle/gradle/issues/2999?

[2017-09-26 14:53] bmuschko commented on #3015
Given that it seems to work when deleting the Gradle user home directory did you try to set a different Gradle user home directory? Maybe try a shorter path?

[2017-09-26 14:58] kknd22 commented on #3029
it is possible - but I checked
https://github.com/playframework/playframework/commit/7bf7571c6997761baff79a0e89b08f9f5525b08f#diff-58bf6474fbdd7970aeb1630b24c9f7e2

and did not see the fix - maybe it should go in with the same fix?

did and a quick search:
https://github.com/gradle/gradle/search?utf8=%E2%9C%93&q=play.core.server.NettyServer&type=

shows only 3 files might need to be updated...

-c

[2017-09-26 15:28] tbroyer commented on #2421
@renatoathaydes It's not a "Gradle" issue per se, that could be fixed with code in a new release. It's a problem between JVMs and Gradle, Inc. servers (`services.gradle.org` and `plugins.gradle.org`), that can only be solved by JVM (what you did in your Travis build) or server configuration changes (that's not going to happen because it decreases security, and it's managed by a third party).

[2017-09-26 17:11] marcospereira commented on #3029
@bmuschko this does not look like a duplicate to me. #2999 is about the dev mode while this is related the prod server (and packaging the application).

@kknd22 after #3018 you won't need to change `org.gradle.play.internal.run.DefaultVersionedPlayRunAdapter` because in #3018 I'm overriding `runDevHttpServer` to adapt it to Play.

[2017-09-26 19:15] kknd22 commented on #3029
@marcospereira what you said is correct for the
`org.gradle.play.internal.run.DefaultVersionedPlayRunAdapter `

looks like the other two files still need to be updated :
`org/gradle/play/plugins/PlayDistributionPluginTest.groovy`  and `org/gradle/play/plugins/PlayDistributionPlugin.java`

[2017-09-26 21:21] marcospereira commented on #3029
@kknd22 I'm not too familiar with Gradle code base, but shouldn't `org/gradle/play/plugins/PlayDistributionPlugin.java` be somehow extensible to support distinct versions of Play?

While using `play.core.server.NettyServer` won't work for Play 2.6, it could be ok to older versions.

WDYT?

[2017-09-26 22:41] nberthet commented on #3029
@kknd22 I noticed the issue as well, as a workaround, you can manually change the main class for the start script, in your build.gradle:
[code]

[2017-09-27 00:00] bmuschko commented on #3026
@wolfs Can you provide more context around "Now that we do not support using Ant for compilation any more"? I see that all compilation option classes for any language extends from `AbstractOptions` at the moment.

[2017-09-27 00:02] bmuschko commented on #3021
I think that it should rather use `QUIET`. `LIFECYCLE` is usually used for events that happen during the Gradle life cycle (more like progress information).

[2017-09-27 00:06] bmuschko commented on #2942
I don't think this is a statement that we'd usually would sign off. If you want to test a plugin on a functional level then TestKit is the right tooling. I don't think we'll invest into `ProjectBuilder` anytime soon as TestKit provides all of the capabilities needed to effectively test a plugin. I am going to close this issue.

[2017-09-27 00:06] #2942 closed

[2017-09-27 00:08] bmuschko commented on #2896
I think we should fully move to AsciiDoc. We already do that for the user guide. There's no good reason to stick with Markdown for the release notes.

[2017-09-27 00:29] blindpirate commented on #3021
Yes, I've corrected it.

[2017-09-27 00:43] bmuschko commented on #2659
@asarkar Thanks for providing the code example. I can reproduce the issue. Question still stands from my end: Why exactly are you setting a different user directory for the test JVM? Just trying to understand the use case as the provided code example doesn't actually use the system property.

@Godin Thanks for the good discussion and additional pointers.

I looked through the history of the file `

[2017-09-27 00:56] adammurdoch commented on #3028
The C++ and Swift plugins also make heavy use of `Provider` and friends.

[2017-09-27 01:00] adammurdoch commented on #3017
The "why" isn't particularly clear in the description. What would this feature let us do? Who would use it? Why would they want to?

[2017-09-27 01:03] bmuschko commented on #3017
@adammurdoch For more context see https://github.com/gradle/gradle/pull/2832#discussion_r137201181.

[2017-09-27 02:17] big-guy commented on #3021
That doesn't sound right.  That means we'd print the output from Codenarc even when you run with `-q` (we usually hide everything with `-q` except errors).

This block seems suspicious:
https://github.com/gradle/gradle/blob/ee9a435d0670256ffc082155b1603d6487c34ed3/subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/internal/CodeNarcInvoker.groovy#L51-L64

Whatever `setLifecycle

[2017-09-27 02:26] big-guy commented on #2659
This is very similar to what we do for Zinc compilation (we need to generate a jar file before we can do any Scala compilation).  We should/could do the same for JaCoCo.  Maybe even using an `ArtifactTransform`?

👎  on any configuration.  This should just work.

[2017-09-27 02:32] blindpirate commented on #3021
@big-guy Yes, you're right, that's exactly where this issue happens. Thanks for your brilliant advice.

[2017-09-27 04:37] JacisNonsense commented on #2909
I've done a bit more digging and found a workable solution for the time being.

Subclassing `AbstractGccCompatibleToolChain` identically to the implementation of `GccToolChain`, and adding the following lines in the constructor will 'unset' the default x86 and x64 architectures added by the `AbstractGccCompatibleToolChain` constructor through reflection.
[code]

Perhaps it may be worthwhile to add

[2017-09-27 05:08] blindpirate commented on #2896
That would be excellent.

[2017-09-27 05:08] #2896 closed

[2017-09-27 05:33] laurelcc commented on #3015
之前碰到过两种情况：第一种，在idea的Run和Debug模式下，直接报“无法找到可供运行的主类”错误；第二种，在Debug模式下报“找不到org.springframework.boot”的相关引用类。环境情况是之前版本是3.1，在另外一台机子上更新到了4.2，然后这两个版本之间总有一个是有问题的，在我尝试了删除项目内的.gradle和mac上的/usr/local/bin下的.gradle都没有解决。索性将gradle环境安装回3.1又正常了

[2017-09-27 05:41] asarkar commented on #2659
@bmuschko

I believe I've answered this question before, but perhaps didn't do a good job at it. The reason is fairly simple - we use Spring framework that allows any configuration to be overridden from command line. Since we don't know what properties the user may choose to override, we copy all system properties to Gradle `bootRun` job. AFAIK, most frameworks allow the same type of configuration

[2017-09-27 07:21] eskatos commented on #2612
Thanks for the report @flstaats

Fixed in a65ae89

Closing

[2017-09-27 07:21] #2612 closed

[2017-09-27 07:39] dieterstueken opened #3035 "Support forked compilation with Java 9"
### Expected Behavior
Compiling  the samples on [building-java-9-modules](https://github.com/gradle-guides/building-java-9-modules) should work with gradle 4.2.0 and a forked Java 9 compiler, too.
### Current Behavior
Running with `options.fork = true` fails with

### Context
Running gradle with Java9 (build 9+181) directly uses the internal [JdkJavaCompiler](https://github.com/gradle/gradle/blob/

[2017-09-27 07:52] wolfs commented on #3026
@bmuschko You are right, all the `CompileOptions` are subclasses of `AbstractOptions`. Some time ago, we still supported compiling `Scala` or `Groovy` by using the `Ant` tasks. This is not the case any more. If I understand correctly, `AbstractOptions` only provide utility methods for returning the properties of the concrete `Options` subclasses in a `Map` which can be used for the `Ant` task - at

[2017-09-27 08:28] wolfs opened #9098 "Provide a built-in way to test relocatability"

[2017-09-27 09:37] sweiler opened #3038 "S3 Encryption on PUT"
We want to use the AWS S3 Resource subproject to put our artifacts into an S3 bucket. For this, we want to use S3's server-side encryption. This is currently not supported by the resources-s3 subproject.

### Expected Behavior
We propose to have an option to activate server-side encryption and to specify an optional key id to use. This is only relevant for the PUT action, because S3 automatically

[2017-09-27 12:51] avonengel commented on #947
@oehme Any news on this? Our project makes heavy use of Spring's dependency-management plugin, and we would like to use composite builds to simplify our development cycle.

Are there any known workarounds we can use to test and debug locally with included builds?

[2017-09-27 13:29] kknd22 commented on #3029
@marcospereira you are right - a new "switch for 2.6.x" needed for the 2.6 case but leave the thing as is for backward compatibility. Maybe a similar approach as `PlayRunAdapterV26X.java` ...

[2017-09-27 13:30] kknd22 commented on #3029
@nberthet thanks I will give it a try....

[2017-09-27 13:37] marcospereira commented on #3029
@bmuschko any directions on how to approach this? I can submit a pull request later, but first I prefer to have a clear direction of how to solve this problem (since I'm familiar with Gradle code).

@nberthet nice workaround. 👍

[2017-09-27 13:41] oehme commented on #947
We are currently working towards dependency constraints as well as BOM support directly in Gradle. I'll keep this issue updated.

To provide a little more background: Resolution rules were not meant as recommenders of versions, but to correct wrong metadata (e.g. version ranges that were too strict). Instead we intend to model constraints such as a 'recommended' version or a 'platform that belongs

[2017-09-27 16:13] ketan opened #3043 "Incorrect cache behavior when file name contains special characters"
### Expected Behavior

### Current Behavior

I've turned on caching for some tasks that generate dirnames with special characters, and it seems that the gradle cache is escaping the characters (perhaps using URL encoder?)

### Steps to Reproduce (for bugs)

Create the following files:

* `build.gradle`

[code]
* `foo.sh` (creates a bunch of files with special chars)
[code]
* run the following:
[co

[2017-09-27 19:00] prrace commented on #2454
I've looked at the code for how this was fixed :
https://github.com/gradle/gradle/commit/500485df3a1898d4637bfa42b73e356941b4af91#diff-b1bd5823f786153a225f410abe7798b4
and it appears that new developments mean it will need to be updated.
I can file a new bug but I hope the author of this fix will see this as well.

There is a proposal in JDK-land to
(1) Have "Major" releases every 6 months.
See ht

[2017-09-27 19:11] robinverduijn commented on #2903
Updated my PR to rework the wrapper script to use shell syntax that works on older non-POSIX shells as well, rather than changing it to specify `bash`

[2017-09-27 19:15] melix commented on #2454
Thanks @prrace . I'm well aware of this proposal (and hope that the yy.x pattern will not be accepted as it will remove all visibility of major "platform changes", but it's another story). I also reckon we need to change parsing (as I discussed, coincidentally, this morning with @pioterj ). However as I understand the plan is also to upgrade the class format with each release, which also means tha

[2017-09-27 19:28] kknd22 commented on #3029
@bmuschko we are in mid of doing the gradle 4.2, play 2.6, scala 2.12 upgrade - if this patch works it would be great

[2017-09-27 19:43] prrace commented on #2454
Hmm .. updating the class file version is not something I'd realised was intended for every one
of these releases. It may be inevitable depending on what was added, but I don't know whether
it will be required regardless .. however even if it happens only 50% of the time it is an issue.
And if you are manipulating, even just parsing, the class files I suppose that may be an issue.

And there's a p

[2017-09-27 19:48] melix commented on #2454
of these releases. It may be inevitable depending on what was added, but I don't know whether
it will be required regardless .. however even if it happens only 50% of the time it is an issue.
And if you are manipulating, even just parsing, the class files I suppose that may be an issue.

Yes, see https://twitter.com/JoroRoss/status/905507900537401344

updated before the new JDK version is released

[2017-09-27 22:38] nberthet commented on #3029
Same here, gradle 4.2, play 2.6, sticking to scala 2.11 due to dependencies, my projects are in kotlin anyway ;)

[2017-09-28 00:08] bmuschko commented on #3029
Thanks for chiming in on the conversation. We'll try to prioritize a fix soon. Will keep you in the loop.

[2017-09-28 00:22] bmuschko commented on #2659
I guess in this case we don't actually need to modify the JAR file. We just have to put it into a know location.

I believe there might always be the potential for a too long path on Windows.

[2017-09-28 01:58] jaredsburrows commented on #3006
@bmuschko @oehme Where is the `.travis.yml` file? How are you all updating the SDK for tests?

[2017-09-28 02:29] omsn commented on #1369
The problem with the GAV changes is that they propagate to projects which consume your project as 4th party dependencies but those consumer projects might not have access to the same repositories you have. You care where the libs in your distribution build come from but you don't care / control where consumer projects get them from.

[2017-09-28 02:42] omsn commented on #1369
Another use case for this which I think is fairly common at companies and which shows that this is not only about performance: as per company policy 3rd parties have to pulled from a certain "approved" repository which is basically the same as Maven central but has some additional stuff like a virus scanner or something.

[2017-09-28 03:20] asarkar commented on #2659
Windows is not a real OS. Breaking a tool so that it works on Windows is like stop producing Ferrari engines because they don't work for Hondas.
I like the suggestion of putting the agent in `~/.jacoco` or something along that lines. The home directory is well-defined for all OS, and the path to it is unlikely to be very long, no matter the username.

[2017-09-28 06:15] oehme commented on #1369
I don't understand the two points above. Can you please elaborate how the original proposal of "repositories on dependencies" would have solved them?

If you modify a lib, but don't give consumers access to the repo containing that modified version, these consumers can't work. They can't just use the unmodified version, since that's not going to work correctly with your project. But if they really

[2017-09-28 07:52] lptr commented on #3043
Thanks for reporting. Looks like we have a problem handling spaces in cached file names since 4.2.

[2017-09-28 07:53] ketan commented on #3043
I don't believe this is limited to just spaces — in my case the pound character `#` is also escaped. I don't know if there are other chars are escaped as well.

[2017-09-28 08:16] lptr commented on #3043
Indeed, the problem seems to be caused by any character that is escaped in URIs: spaces, percent signs etc.

[2017-09-28 08:36] janjoerke commented on #3027
@jjohannes
Thanks for the tip, bud sadly org.gradle.util.NameValidator and org.gradle.initialization.DefaultSettings do not take into account the name of the project.

Until fixed i we will use a forked version of gradle 4.2.

[2017-09-28 10:27] vlotarev opened #3046 "Generate correct Eclipse execution environment for Java 9"
Everywhere in Gradle version number for Java 9 is **1.9** (got from JavaVersion enumeration) though should be just **9** (version scheme was changed). This produces problems in Eclipse plugin, for example. By default Gradle generates wrong Eclipse artifacts.

[2017-09-28 11:47] omsn commented on #1369
How exactly can you validate that no other repo is used today? Usually, the repo which has to be used for policy reasons does not contain *all* dependencies of your project. For example, due to otherwise too much maintenance effort, the repo which has to be used for policy reasons only contains the dependencies you redistribute (runtime dependencies). However, your project might also have test dep

[2017-09-28 11:48] blindpirate commented on #3046
Related to #3010 .

[2017-09-28 11:51] blindpirate commented on #3046
@vlotarev Could you please provide us with some examples to reproduce the issue so that we could test our new version mechanism after we fix this?

[2017-09-28 11:58] jjohannes commented on #3027
Thanks for the heads up @janjoerke. I will check in and work on a fix. We are considering doing a 4.2.1 fix release and include the fix.

[2017-09-28 12:01] vlotarev commented on #3046
It's easy. For example, apply eclipse plugin and execute eclipse task.  Than look into .classpath - you should see entry like
`<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-9/"/>`

Currently `JavaSE-1.9` is generated.

Also you may look into .settings/org.eclipse.jdt.core.prefs file. All properties like `or

[2017-09-28 12:02] blindpirate commented on #3046
@vlotarev Thanks!

[2017-09-28 12:18] oehme commented on #1369
You can add a task to the build that goes through the repositories and fails if any non-trusted one is used. This could be part of a plugin that every project is required to use.

Plugins, compile only dependencies etc. can all compromise the code that you deliver. Compromised testing libraries could help an attacker hide such issues. Checking only the jars you redistribute doesn't mean the distri

[2017-09-28 12:24] nallar commented on #1428
As a workaround/temporary solution, [gradle-msbuild-plugin](https://github.com/Ullink/gradle-msbuild-plugin) allows easier delegating to msbuild, although this means there's no proper sense of source sets and other concepts normally used in gradle.

[2017-09-28 12:55] omsn commented on #1369
Doesn't solve anything for the case I described since what is considered "trusted" depends on the artifact/configuration.

Let's not discuss whether such policies make sense or not. Fact is such policies exist and developers have to deal with them.

I don't really get this point. Goal is to fail the build if certain dependencies aren't pulled from a trusted repository. The fact that the build fail

[2017-09-28 13:06] dforrest88 commented on #851
This issue is causing a lot of pain for me as well. We're trying to not rely on build node dependencies and thus running all of our gradle tasks inside of docker containers. Given that we also have several gradle utilities that we use to execute fine-grained build and environment tasks with a high degree of parallelism, each task takes significantly longer than it should because it has to fetch al

[2017-09-28 13:10] oehme commented on #1369
So what does a green build tell you in this case? It could be implementing the policy (and no bad dependencies were used) or it might not be implementing the policy (and it might use bad dependencies). It's green either way.

That's because it went into a technical proposal too early. The context section mentions the actual problem - I add a repo just for a single dependency and everything else ge

[2017-09-28 13:13] MarkehMe commented on #1369
I think it's all about what the original **Expected Behavior** stated:

[2017-09-28 13:27] oehme opened #3049 "Reduce overhead of having many repositories"
Forked off from #1369.

Many times a repository is only added to provide a small subset of the project's dependencies. Yet Gradle will still check all repositories for dynamic dependencies or when a dependency can't be found further up in the list.

The current approach is very basic and could be improved e.g. by remembering that a certain module was completely absent from a repository and never c

[2017-09-28 13:27] oehme commented on #1369
I've forked out the performance aspect into its own issues and reworded this issue to not propose a technical solution, but talk about use cases instead.

[2017-09-28 13:38] oehme commented on #3046
@blindpirate this is unrelated to #3010. This is about the naming scheme of so-called "execution environments" that Eclipse uses.

[2017-09-28 13:48] mkobit commented on #1003
Same problem exists in IntelliJ (at least for `gradleApi()`) with Intellij 2017.2.5 and Gradle 4.2

[2017-09-28 14:24] oehme commented on #2992
We need to cherry-pick this to `release`

[2017-09-28 14:52] eriwen commented on #2740
Closing as complete. Thanks @lptr and @wolfs!

[2017-09-28 14:52] #2740 closed

[2017-09-28 14:55] bmuschko commented on #2740
Nice work, @lptr and @wolfs. I think we should also convert the release notes to AsciiDoc. Do you know of any technical reason that would block the migration?

[2017-09-28 15:10] lptr commented on #2740
I believe @eriwen has some more complex plan to improve on our release notes. Might not be worth moving to Asciidoc before that. (Although we could use the line number markers when explaining new features.)

[2017-09-28 15:16] jjohannes commented on #2992
Picked to release for `4.2.1`: https://github.com/gradle/gradle/commit/d9c35cf9d74c102641fcfe0bb7bf622791a96caf

[2017-09-28 15:51] oehme commented on #3038
I think this is a good idea. Would you be interested in working on this?

[2017-09-28 15:55] eriwen commented on #2740
I haven't quite figured out yet what exactly what we want to do with release notes. I'd only suggest a switch to asciidoc in the short term if it's easy to implement and we don't lose any functionality.

Don't forget we still have the DSL reference in Docbook as well.

[2017-09-28 16:12] wemu commented on #1050
does the kotlin dsl have that old way of specifying plugins? it seems to rely on the new dsl. for example the [multi-kotlin-project](https://github.com/gradle/kotlin-dsl/tree/master/samples/multi-kotlin-project) suddenly jumps to https://plugins.gradle.org/api/gradle/4.2/plugin/use/org.jetbrains.kotlin.jvm/1.1.4-3 -- passing by all repositories and proxy settings we have to do (authenticated http(

[2017-09-28 16:32] lptr commented on #3043
PR merged.

[2017-09-28 16:32] #3043 closed

[2017-09-28 17:07] bmuschko commented on #3006
@jaredsburrows Thanks for providing the sample project. Is there a way to reproduce the issue without having to connect an Android device?

Which Travis file are you referring to? We are running the Android smoke tests on TeamCity.

I believe that is done in the infrastructure of the agents but I'd have to check.

[2017-09-28 19:14] big-guy opened #10591 "Revisit VcsMappings DSL for Kotlin users"
The current syntax is a bit cumbersome with Kotlin:

https://github.com/gradle/gradle/pull/3034/files#r141385658

In Groovy:
[code]

In Kotlin (note the parentheses block):
[code]

[2017-09-28 21:00] iwarapter opened #3050 "Unable to resolve published plugins from the gradle plugin portal"
### Expected Behavior
The plugin should resolve.

### Current Behavior
[code]

### Context
Unable to build without the plugin, others with the issue [also.](https://github.com/iwarapter/gradle-openshift-plugin/issues/3)

### Steps to Reproduce (for bugs)
[code]

[2017-09-28 21:20] big-guy commented on #3050
I believe you're being bitten by this: https://discuss.gradle.org/t/plugin-authors-please-use-the-latest-plugin-publish-plugin-others-may-result-in-a-broken-upload/23573

The plugin you're using to publish is using an older version of the plugin-publish plugin:
https://github.com/iwarapter/gradle-plugin-plugin/blob/master/build.gradle#L14

[2017-09-28 21:21] #3050 closed

[2017-09-28 21:24] iwarapter commented on #3050
Ah OK i'll update my plugins to get with the times 👍

[2017-09-28 22:16] bmuschko commented on #3006
This is what I believe is happening:

When running the example project I get the following stack trace:

[code]

The stack trace indicates that the class `AllTestResults` cannot be initialized. I couldn't find the Android source code online so I had to download the sources from the repository:

[code]

The line 60 in `TestReport` creates a new instance of `AllTestResults`:

    AllTestResults mode

[2017-09-28 22:51] blindpirate commented on #2992
Thanks @jjohannes !

[2017-09-28 23:23] dead10ck commented on #2039
Turns out the problem with debug logging was specific to a conflict with multiple SLF4J bindings in my project.

However, @bmuschko is there any news on the rich console output issue? Were you able to test this on a Linux box?

[2017-09-28 23:42] #2992 closed

[2017-09-28 23:59] alexey-tsvetkov opened #3051 "Weird values in IncrementalTaskInputs when class is removed"
When a Kotlin class in `main` source set is removed, a `compileTestKotlin` task receives an instance of `IncrementalTaskInputs` containing "changes" of library dependencies (e.g. "guava.jar").

### Steps to reproduce

I have created a simple project to reproduce the issue: [alexey-tsvetkov/gradle-weird-changed-files
](https://github.com/alexey-tsvetkov/gradle-weird-changed-files)

Since no publish

[2017-09-29 01:07] alexey-tsvetkov commented on #3051
Ok, it seems that the issue is known https://github.com/gradle/gradle/issues/1931

[2017-09-29 01:45] adammurdoch commented on #3017
The context didn't really help, I'm afraid. What's the goal of this feature? There's a whole bunch of "what" here but no "why".

[2017-09-29 01:49] alexey-tsvetkov commented on #1931
I think this issue should be mentioned in the docs with a big warning sign.

[2017-09-29 03:46] donhuvy commented on #2995
I am using Windows 10 x64 pro. same error
[code]

[2017-09-29 05:03] blindpirate commented on #2995
@donhuvy @BeneStem Thanks for reporting. Actually this warning is on Groovy side and there's not much we can do. You can add the following arguments to `java` bootstrap script or `JAVA_OPTS` to suppress this warning:

[code]

[2017-09-29 07:13] oehme commented on #2642
Reopening since the verbose mode in its current form is missing the status (up-to-date/skipped etc.)

[2017-09-29 07:30] eskatos commented on #3017
@adammurdoch it would allow service providers like the Kotlin DSL to use the same blessed versions of auto-applied plugins. In particular the Kotlin DSL provides a [type-safe accessor to apply the build scan plugin](https://github.com/gradle/kotlin-dsl/blob/410c7fa9fdd12316cb60c81e32235dfaba748c59/provider/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt#L22-L32) in the fo

[2017-09-29 07:32] oehme commented on #2995
The upgrade was done: https://github.com/gradle/gradle/commit/7873630d89d2a210245abdd16f8879976ed96872
If the full pipeline is green, this can be closed.

[2017-09-29 07:37] oehme commented on #3006
The Android team fixed it for 3.0, but 2.3 remains broken. I suggest we restore the old DurationFormatter class, add `@Deprecated` and remove it in Gradle 5.0. This would be an easy fix and would allow Android 2.3 users (the vast majority) to enjoy Gradle 4.2.

[2017-09-29 07:46] oehme commented on #3051
Duplicate of #1931

[2017-09-29 07:46] #3051 closed

[2017-09-29 07:49] oehme commented on #1931
Yes, this is indeed a serious limitation. @melix can you point @alexey-tsvetkov at how we mitigated this for incremental Java compilation? Somehow we must have worked around this, since it works for the Java case.

[2017-09-29 08:06] donhuvy commented on #2995
I am sorry. Please help me a little,
I am using Gralde 4.2 with JDK 9 Official
"C:\tools\gradle-4.2\bin\gradle.bat"

In file **%GRADLE_HOME%\bin\gradle.bat**
I try to add
`set DEFAULT_JVM_OPTS="--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED"`
but error
[code]
How to set **DEFAULT_JVM_OPTS** in correct way?

[2017-09-29 08:13] oehme commented on #2995
@donhuvy please use `org.gradle.jvmargs` in your `gradle.properties` file to influence the JVM arguments for the Gradle daemon. Changing the JVM_OPTS will only influence the client VM that handles console output.

[2017-09-29 08:18] blindpirate commented on #2995
@oehme No, this warning is outputted by bootstrap JVM, we must set JVM_OPTS to suppress JDK 9 warning.
@donhuvy Without quote please:
[code]

[2017-09-29 08:18] oehme commented on #2869
This has been merged.

[2017-09-29 08:18] #2869 closed

[2017-09-29 08:29] melix commented on #1931
Details are in the [linked pull request](https://github.com/gradle/gradle/pull/2094). Basically the incremental compiler ignores the inputs and computes its own alignment. This strategy could be used for incremental task inputs too, but we didn't proceed (higher priorities) given that there could be an impact on performance.

[2017-09-29 09:30] donhuvy commented on #2995
still error
![error](https://user-images.githubusercontent.com/1328316/31009982-7d4eacca-a533-11e7-9f62-243733608f31.jpg)

[2017-09-29 09:32] blindpirate commented on #2995
@donhuvy

![image](https://user-images.githubusercontent.com/12689835/31010083-41a171ee-a4cf-11e7-9029-a03da89ff7d0.png)

[2017-09-29 10:17] nerro opened #3053 "Broken console output configuration via gradle.properties"
I want to use `console` plain in all my gradle projects. So I added `org.gradle.console=plain` to `~/.gradle/gradle.properties`. But I have rich output instead of. Setting this property in project directory (gradle.properties) doesn't work too, only command-line parameter `--console=plain` works.

### Expected Behavior
Console output depending on `org.gradle.console` property defined in `gradle.pr

[2017-09-29 10:23] jjohannes commented on #3027
There was indeed a bug that project names are validated too early. PR to fix this and the handling of empty names in general: #3054

[2017-09-29 10:41] rajsharma5 opened #3055 "Authentication scheme 'all'(Authentication) is not supported by protocol 'file'"
I am getting the error while try to connect to Artifactory to resolve dependencies. Following is my code-

[code]

And my gradle.properties-
#Proxy details
systemProp.http.proxyHost = xxx.xxx.xxx
systemProp.http.proxyPort = 8080
systemProp.http.nonProxyHosts=xxx.xxx.xxx|xxx.xxx.xxx
systemProp.https.proxyHost = xxx.xxx.xxx
systemProp.https.proxyPort = 8080
systemProp.https.nonProxyHosts=xxx.xxx.xxx

[2017-09-29 11:50] oehme commented on #3055
[code]

This is a String literal, you are literally telling Gradle that your artifactory URL is ${artifactoryContextUrl}, which Gradle interprets as a file.

What you wanted is

[code]

[2017-09-29 11:50] #3055 closed

[2017-09-29 12:13] oehme commented on #3053
Duplicate of https://github.com/gradle/gradle/issues/2744, this is only available in the upcoming Gradle 4.3

[2017-09-29 12:13] #3053 closed

[2017-09-29 12:23] oehme commented on #3006
@bmuschko I'll take this one over so you'll have more time for #2832 and #2837

[2017-09-29 12:27] nerro commented on #3053
oh, my bad. thx for info.

[2017-09-29 12:40] bmuschko commented on #3006
@oehme I already started to refactor existing Android smoke tests and set up unit/instrumentation tests in this branch `bm/android-smoke-tests`. You can continue to commit to that branch.

[2017-09-29 12:46] jjohannes commented on #3008
PR that adds hint to deprecation warnings and more documentation about `include`: #3056

[2017-09-29 12:49] jjohannes commented on #2995
The groovy update has been performed in https://github.com/gradle/gradle/commit/7873630d89d2a210245abdd16f8879976ed96872

Successful build pipeline including the change: https://builds.gradle.org/viewLog.html?buildId=8439477&buildTypeId=Gradle_Check_Stage_ReleaseAccept_Trigger&tab=buildResultsDiv

[2017-09-29 13:23] oehme commented on #2995
A test showing that the problem no longer happens would be great.

[2017-09-29 13:30] grv87 commented on #3021
It would be good if rule violations were logged as errors.

[2017-09-29 14:26] jaredsburrows commented on #3006
Sadly "android tests" and not "unit tests" have to run on a device or an emulator.

Sorry, I just assumed Travis.

If I update the build tools/sdk, will it break your current build? I just want to make sure if we upgrade to the latest release, the build server is ready.

[2017-09-29 14:34] jaredsburrows commented on #3006
Awesome. Just now catching up on this thread, it looks like @bmuschko is going to go ahead and update the existing smoke tests?

[2017-09-29 14:34] rajsharma5 commented on #3055
thank you Oehme.

[2017-09-29 14:39] oehme commented on #3006
Yes, the tests have been adjusted together with the fix, see the linked Pull Request.

[2017-09-29 14:41] bmuschko commented on #3006
@jaredsburrows I think there's more we can do to cover unit and instrumented testing. Feel free to have a look at my branch and create a PR to improve even more.

[2017-09-29 14:43] jaredsburrows commented on #3006
Thanks @oehme and @bmuschko.

If I were to add on to @bmuschko's branch, should I wait for both of your PRs to be merged in to master first?

[2017-09-29 14:45] bmuschko commented on #3006
@jaredsburrows I'd wait for [@oehme's PR](https://github.com/gradle/gradle/pull/3057) to be merged. After that you can create a new PR. I'd just copy/paste the changes you think are useful from my branch.

[2017-09-29 14:45] jaredsburrows commented on #3006
Sounds great, thanks!

[2017-09-29 15:00] bmuschko commented on #2995
@oehme Let me know if there's anything else to be done after investigating the test coverage.

[2017-09-29 15:39] oehme commented on #2995
I thought about this a bit more and there was nothing wrong in our *usage* of Groovy, just in Groovy itself. So we'd be testing Groovy, which is not our test suites' job.

[2017-09-29 15:39] #2995 closed

[2017-09-29 15:42] eskatos commented on #3017
The only thing really needed is a stable internal mechanism for the Kotlin DSL to get the blessed build scan plugin version from Gradle. Could simply be a constant, could also be a classpath resource following a convention we agree on, or a service with a single method/implementation (`SortedMap<PluginId, ModuleVersionIdentifier> getPlugins()`) ; any of these would be enough to unblock this for 4.

[2017-09-29 15:43] oehme commented on #3006
The fix has been merged into release.

[2017-09-29 15:43] #3006 closed

[2017-09-29 16:27] lptr commented on #2968
PR has been merged, this will ship in Gradle 4.3.

[2017-09-29 16:27] #2968 closed

[2017-09-29 18:57] danroberts opened #3060 "Build cache server error while falling over: org.apache.http.ConnectionClosedException: Premature end of Content-Length delimited message body"
### Expected Behavior

If the build cache server is in the process of failing/falling over, and the request for the cached item fails, the build step should continue without using the build cache, as it does when the server is completely offline.

### Current Behavior

If the build cache server is slow the respond, the build step fails.

### Context

Our gradle enterprise shared build cache server

[2017-09-29 19:17] big-guy commented on #3060
Which version of Gradle are you using?

[2017-09-29 20:32] danroberts commented on #3060
Pardon the omission -- version is 4.0.2

[2017-09-29 20:49] KidDaedalus commented on #3060
We also encountered builds failing when our Gradle Enterprise server was in the process of crashing. Similarly on build tool 4.0.2. We observed the failures with a custom task we made cachable. We did not observe any failures in built-in cachable tasks like javaCompile/checkstyle/test.

[2017-09-29 21:17] danroberts commented on #3060
@KidDaedalus this is also my scenario -- this is a custom task that I marked cacheable, built-in cacheable tasks were succeeding.

[2017-09-29 21:48] big-guy commented on #3060
This isn't the same issue, but it's a similar kind of failure that was fixed in 4.1:
https://github.com/gradle/gradle/issues/2434

We've made it so if we fail to understand the result from the remote build cache, we just continue on as if we didn't get a hit.  I think this change would prevent this problem for you.

Could you give 4.1/4.2 a try?

[2017-09-29 22:59] philgebhardt commented on #2827
I started seeing these failures on `gradle-4.2` today. Debug output shows the failure consistently occurs right after `Snapshotting property destinationDir (OUTPUT) for task ':compileJava'`.

**More detailed output**:
[code]

**Command (with stacktrace)**:
[code]

[2017-09-29 23:54] bmuschko commented on #2827
@lptr @wolfs Is this something we might be able to fix with 4.2.1 with the information provided?

[2017-09-30 22:53] plotters commented on #722
Are there plans to implement something like this?

`./gradlew` build --add-modules=java.activation`

This would be great in cases migration to java 9 modules is not yet feasible to make the project compile

[2017-10-02 06:30] wolfs commented on #2827
@bmuschko We have a fix for this on master. See https://github.com/gradle/gradle/pull/3036. We decided not to include the fix in 4.2.1 since the underlying problem (using two caches instead of one) was already present in 2.x. If you feel strongly about including the fix in 4.2.1 please comment accordingly.

[2017-10-02 06:49] #3027 closed

[2017-10-02 09:18] cornergraf opened #3063 "DefaultArtifactHandler is useless, and Documentation does not say so!"
## The Problem
I have a project that builds an RPM through the ant RPM task, obviously this project does not use the java plugin because it does nothing java specific. I wanted to declare the output of my custom RPM task as an artifact, but I kept getting error messages, and only after several attempts did I realize that the culprit was the DefaultArtifactHandler, which apparently doesn't do anyth

[2017-10-02 09:30] saksmt commented on #3003
Any progress on this?

[2017-10-02 10:16] cornergraf opened #3064 "Improve documentation for publishing custom artifacts"
I am trying to publish my custom RPM artifact, but the documentation is really unclear about how this should be done.

### Current Gradle Script
This is what I have so far:

[code]

### What I need help with
I am unsure how I should reference the custom RPM artifact in the publications closure. Using the artifact name ('our-software-rpm') does not work, using the name of the task (rpmArtifact) doe

[2017-10-02 10:39] oehme commented on #3063
Duplicate of #3064

[2017-10-02 10:39] #3063 closed

[2017-10-02 10:53] oehme commented on #3064
The [JavaDoc](https://docs.gradle.org/current/javadoc/org/gradle/api/publish/maven/MavenPublication.html#artifact(java.lang.Object)) lists all the things that are accepted by a `MavenPublication`. Among them is the `PublishArtifact` that `ArtifactHandler#add()` returns. E.g. something like this should work:

[code]

[2017-10-02 11:29] #3008 closed

[2017-10-02 13:27] bmuschko commented on #2827
@wolfs Thanks for the info. Can you please add a milestone to https://github.com/gradle/gradle/pull/3036?

[2017-10-02 14:06] ChristianCiach opened #3065 "Cannot fetch artifact 'javax.ws.rs:javax.ws.rs-api:2.1' from Maven"
The maven artifact `javax.ws.rs-api` with version 2.1 uses POM profiles in an exotic way to set the property `${packaging.type}` which is used to set the packaging-type (usually JAR or BUNDLE).

As you can see, even the Download-button at mvnrepository.com is broken:
https://mvnrepository.com/artifact/javax.ws.rs/javax.ws.rs-api/2.1

Nonetheless, the POM file seems to be valid and Oracle (the auth

[2017-10-02 14:57] #2642 closed

[2017-10-02 15:00] #868 closed

[2017-10-02 16:06] Vampire commented on #2214
@bmuschko finally I got around to try and in 4.2 it still is not working, but it depends on the concrete property in question. e. g. setting `foo` works in both, setting `java.awt.headless` does not work in both. (Both meaning 3.5 and 4.2)

[2017-10-02 16:25] oehme commented on #3065
Maven doesn't support this either, it just ignores the fact that it doesn't know what that packaging type means and goes looking for a 'jar' by default. This is probably what we should do as well.

Would you be interested in sending a pull request?

Also, since this POM is broken, even by Maven standards, I encourage you and all other Jax-RS users to ask Oracle for a proper POM in the next patch r

[2017-10-02 18:13] crizo23 commented on #3065
@ChristianCiach I see you're active in the Swagger group as well. As of the jersey-swagger-2.x-rc2 release I'm seeing the same jax-rs issue. Would it be useful to log an issue in the swagger-api/swagger-core github repository issue tracker here? https://github.com/swagger-api/swagger-core

[2017-10-02 19:21] ChristianCiach commented on #3065
Actually, I encountered this issues while trying to use Swagger 2 RC2. I don't think it would be much use to log an issue there, as it is absolutely not their fault.

[2017-10-02 19:36] ChristianCiach commented on #3065
Are you sure about this? I am no maven expert, but according to my research POM supports variable substitution based on conditional profiles.

The stripped down POM of javax.ws.rs-api looks like this:

[code]
As you can see, `packaging.type` is set to "bundle" when jdk version is < 9. This is surely a very unusual way to determine the packaging type. But broken? I am not too sure about that...

[2017-10-02 19:41] ChristianCiach commented on #3065
I encounter this issue in a work-related project, so I would rather not spend my spare time on that. Also, at work we are stuck using Gradle >= 2.14 and it doesn't seem like this branch of Gradle is still supported. Looks like I am stuck here :(

[2017-10-02 21:03] szpak commented on #2827
@wolfs Can that [problem](https://discuss.gradle.org/t/gradle-re-execute-tasks-due-to-alleged-jar-dependency-change/23115/13?u=marcin) with cache be related?

[2017-10-02 21:10] wolfs commented on #2827
@szpak No, the two problems shouldn't be related. This one is about not being able to load the task history (which does not influence the build cache key), while the other one is about having a different dependency ordering for a task - which only affects the current task execution and nothing from the task history.

[2017-10-02 21:21] szpak commented on #2827
Ok. #3036 mentions 2 caches and that's why asked about that. Thanks for explanation @wolfs.

[2017-10-03 00:09] JLLeitschuh opened #3068 "Status of composite build support for native libraries"
Searching the issues this doesn't seem to be something anyone has discussed in any open or closed issues.

Is there a plan to support this in the future? Are there specific work items that need to be undertaken for this to work? What limitations cause this to not work?

[2017-10-03 01:15] big-guy commented on #3068
We're going to talk about it more soon as a follow up to the post [State and future of the Gradle Software Model](https://blog.gradle.org/state-and-future-of-the-gradle-software-model), but we've been doing some work on this (and other native related things) in master.  [A sample of composite builds working](https://github.com/gradle/native-samples/tree/master/cpp/composite-build).

[2017-10-03 01:15] #3068 closed

[2017-10-03 07:41] oehme commented on #3065
Even if it replaces the variable during resolution, it would end up with the unknown packaging type 'bundle'. The Maven bundle plugin has special logic which removes the bundle packaging from the published pom. But that doesn't work on the consumer side, only when publishing. So Maven consumers of this pom will see the unknown 'bundle'  type and default to 'jar'. I tried a pom with packaging type

[2017-10-03 12:14] ewirch opened #3072 "continuousBuild.adoc references JDK-8145981 as a persisting problem, but the issue is closed as fixed"
The page says:

However, JDK-8145981 is closed as "fixed" since 2015-12-30.

[2017-10-03 18:57] hungvietnguyen opened #3073 "@Optional doesn't work correctly in combination with @OutputFile/@OutputFiles, @OutputDirectory/@OutputDirectories"
For incremental builds, the `@Optional` annotation works correctly when used together with `@Input` but not with `@InputFile/@InputDirectory/@OutputFile/@OutputDirectory`. In those cases, changing a property (from a null value to a non-null value and vice versa, or even from a non-null value to another non-null value), the task is still UP-TO-DATE.

Steps to reproduce:

1. Use the build.gradle fil

[2017-10-03 19:00] big-guy commented on #3073
Which version of Gradle are you using?

[2017-10-03 19:02] hungvietnguyen commented on #3073
I'm using Gradle 4.1. (Sorry, should have mentioned that.)

[2017-10-03 20:36] hungvietnguyen commented on #3073
Note that this bug appears only after the property is assigned to a null value (step 2 above). Before that, @Optional works just fine: changing a non-null value to another non-null value triggers re-run. (In the above example, if step 2 is skipped, step 3 and 4 will work just fine.) After the property is set to null, then changing it from any value to any other value will never trigger a re-run.

[2017-10-03 22:04] aaroncline commented on #851
Similar to @RMsiemens, I'm looking at using a multi-stage Docker build on Gitlab Runners to build Java apps and a subsequent application container.  I also plan to use Gitlab Runners to run CI tests on commits and merged in Docker containers.  I want to do this to more easily offer multiple Java versions to our dev teams.

I would appreciate a gradle cache sharing solution allowing me to have a co

[2017-10-03 22:16] #2837 closed

[2017-10-03 22:56] bmuschko commented on #3072
The issue might be closed for a specific version of the JDK. However, if the user runs the build with an older version than the fix version then there's still the possibility of this side effect occurring. I'd rather keep that in the documentation.

[2017-10-03 22:56] #3072 closed

[2017-10-03 23:16] bmuschko commented on #3005
My personal take on this issue is the following:

1. If you want to support a GString type then the plugin will need to expose a (additional) method that takes a `GString`. Alternatively, the plugin could expose a method that takes an `Object` and then the implementation handles it based on the passed in type.
2. `GString` is a Groovy-type which means if you build a plugin that depends on the type

[2017-10-03 23:24] bmuschko commented on #2910
That would very likely be the case.

I don't think we are planning to integrate a beta. We'd wait for the final.

The classes that fail with a compilation error are internal test classes only. They wouldn't even affect the distribution of Gradle.

[2017-10-03 23:31] bmuschko commented on #2659
Unfortunately, we cannot change the OS landscape in organizations. To-date Gradle has more users on Windows than on any other OS.

[2017-10-04 00:05] big-guy commented on #2659
I think this warning from the JVM applies:
https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html

I think this is one of the "unexpected side effects" where the current working directory (`user.dir`) is not the same as the process's working directory and that breaks things.

[2017-10-04 02:49] mdekstrand commented on #851
Another use case for this is using Gradle for automation in an HPC environment, particularly with different tasks that the user may want to run in parallel in a computing cluster.

These clusters typically have high-performance networked file systems.

Right now, wrangling Gradle to work on HPC systems is not easy.

[2017-10-04 04:48] big-guy opened #10564 "Support multiple separate versions of a source dependency in a single build"

[2017-10-04 04:48] big-guy opened #10592 "Standardize API/DSL for specifying component selection rules and VCS mapping rules"

[2017-10-04 04:48] big-guy opened #10593 "Build out release documentation for how to use source dependencies"
- User guide chapter
- Links to our samples
- Add JVM sample
- Make sure DSL covers our new types
- Need to make sure this isn't perceived as a native-only feature, this works for the JVM too

[2017-10-04 07:38] lptr commented on #3073
I can confirm this breaks with `@OutputFile`. `@InputFile` works fine, though:

[code]

I've added tests here: https://github.com/gradle/gradle/commit/67c74c048a29b5b595d34354452392539c8ff3e0

[2017-10-04 07:56] ChristianCiach commented on #3065
@oehme
If I were to sending a PR, how do you propose to fix this?

The `POMReader` already falls back to `jar` if there is no `packaging`-element. In this case, there is one, just with the evil value of `${packaging.type}`.

If we should fallback to "jar" in this case, it begs the question what the valid packaging-types are. Do you think we should fall back to "jar" if the parsed packaging type is

[2017-10-04 08:35] eskatos commented on #2528
So, the path forward is twofold:
- plugin resolution doing dependency resolution, always, to get across composites
- composites exposing all publications from included build's projects to allow plugin marker artifacts to be resolved

On the plugin resolution side, things are quite messy.

Only the ivy and maven plugin repositories support is wired to the dependency resolution services. The Gradle

[2017-10-04 10:07] oehme commented on #3065
I think that would break 'war' packaging. One backwards compatible way would be to always try the jar if a custom one isn't found. Or be even more specific and only handle the case where the packaging type contains `${` and is thus known to be incorrect.

[2017-10-04 10:34] ChristianCiach commented on #3065
The second approach would be extremely easy to implement and should be just "good enough" for this special case.

In the long run I would like to see the possiblity to somehow manually define POM-variables inside the gradle files, like this in `build.gradle`:

[code]

(I am not too sure about the syntax here. I know next to nothing about Groovy.)

This could be used to workaround similar issues in

[2017-10-04 12:17] oehme opened #3075 "Build scan team should be able to test license prompt"
The build scan plugin uses TestKit for testing. There is currently no way to provide input to the build via TestKit, so the scan plugin can't test the new license functionality.

The added API can be internal for 4.3. We can tackle a public counterpart in 4.4, together with the other "user input" stories.

[2017-10-04 12:26] oehme opened #3076 "Component metadata rules"
Component metadata rules can currently only adjust the `status` and `statusScheme` of a component. Often the dependency metadata is also wrong, e.g. a version range is too strict or a hard dependency should actually be an optional one.

Today users can work around some of these use cases with dependency resolution rules. But these rules only give access to one dependency at a time and provide no c

[2017-10-04 12:30] oehme opened #3077 "Deprecate --no-rebuild"
This option was introduced very early in Gradle's life when up-to-date checking was still rather expensive. This is no longer the case. Removing this option removes a bit of complexity and avoids confusion on the user side as to when they might want to use it.

[2017-10-04 13:54] mkobit commented on #2528
This would be really useful for iterating on plugins quickly when bugs are reported. Another use case would be for backwards compatibility testing with consumers. We already have TestKit for running against multiple versions and known test cases, but being able to to also rebuild against consumers easily would allow for earlier detection of problems.

I don't know if `--include-build` implies orde

[2017-10-04 14:40] bonelli opened #3078 "gradle init on Maven project results in StackOverflow"
### Expected Behavior

`gradle init` invoked on the root project of my Maven multimodule should complete without errors or fail with meaningful output

### Current Behavior

`gradle init` invoked on the root project of my Maven multimodule will fail with a StackOverflow
[code]

### Context

We have a modestly big multimodules Maven - Java/Spring project, with some (10ish) levels of pom projects. M

[2017-10-04 15:03] hungvietnguyen commented on #3073
Yeah, I just checked again and can also confirm that @InputFile/@InputFiles works, but @OutputFile/@OutputFiles, @InputDirectory, @OutputDirectory/@OutputDirectories don't work.

[2017-10-04 15:22] oehme commented on #3076
We should break this down further, it is currently hard to estimate.

[2017-10-04 15:32] oehme opened #3080 "Upgrade smoke test versions"

[2017-10-04 15:35] oehme commented on #3046
@donat could you fix this before 4.3 RC1 early next week? Currently importing Java 9 projects into Eclipse fails because of this. The name of the execution environment doesn't match the pattern we use anymore.

[2017-10-04 15:40] oehme opened #3081 "Don't ask for user input on non-interactive console"
__Current behavior:__

Currently, we do not detect if the console is interactive. We simply try to request user input. If it's not supported on the low level then we return `null`.

__Desired behavior:__

- The use of `UserInputHandler` should detect if the console supports interactive mode.
- If the console is not interactive then the question is not rendered and no user input is requested.

__Im

[2017-10-04 17:53] big-guy opened #9099 "gradle/gradle: some integration tests rely on Javadoc comments"
This isn't really a build-cache specific issue, but it's something that's special with the gradle/gradle build that I found recently. I'm not sure how we want to handle/fix it.

We have integration tests like `AutoTestedSamplesCoreIntegrationTest` that extract build logic from Javadoc comments and check that they're syntactically correct.  Since we don't track the source code as an input to our in

[2017-10-04 18:37] bmuschko opened #3083 "Deprecation warning about `org.gradle.util` package needs to point to location of use"
It's almost impossible to find the use of that package in the script. The usage can be located in the main build script or any of the applied script plugins. I had trouble finding all occurrences in the Gradle build. I suspect to be an issue for Gradle users as well.

For example:

[code]

Optimally, we should point to the actual file and line in the error message. Also, implicitly importing the c

[2017-10-04 19:35] eljobe commented on #3083
👍 on "internal" vs. "private"

[2017-10-04 19:36] big-guy commented on #3083
I know it would be really annoying to do, but could we just move all the classes in `org.gradle.util` into `org.gradle.util.internal` and create new classes that wrap calls to the old classes and emit deprecation warnings?

[2017-10-04 21:27] crizo23 commented on #3065
With some testing I was able to get jax-rs 2.1 resolved from gradle, but I can't explain why. When using our internal Apache Archiva repository (which fails with packaging-type issue), it attempts to get it from:
`http://ourInternalServer:80/#artifact~internal/javax.ws.rs/javax.ws.rs-api/2.1`
On the Archiva info tab, it lists "Packaging: bundle" (related?)

When I point point one of these reposito

[2017-10-05 00:30] rschiu commented on #2996
Yes, this happens with the latest Kotlin plugin.  Kotlin is running the Java annotation processor because the processor is specified through the kapt configuration from the 'kotlin-kapt' plugin.