[2021-07-13 12:17] mlopatkin commented on #8959
I suspect that you've been hit by https://youtrack.jetbrains.com/issue/KT-31127. This issue should be fixed in Kotlin 1.3.50 and upgrading the Kotlin version in your reproducer makes the issue go away.

I'm closing this issue now because:
1. apparently the problem has been solved in the newer Kotlin plugin.
2. the issue is in the Kotlin plugin which is developed separately from the core Gradle so

[2021-07-13 12:17] #8959 closed

[2021-07-13 12:45] mlopatkin commented on #10483
The interesting thing here is that the updated PATH variable is visible to the daemon but it isn't considered when starting a native process:
[code]

[code]

[2021-07-13 12:59] quentinflahaut commented on #14578
It could be great to be able to use this path also:  <project>/gradle/wrapper/init.gradle
It is very painful to publish our custom gradle wrapper only for packaging a /init.d/init.gradle

[2021-07-13 13:14] yuxuedanqing commented on #2342
I also encountered the same problem,But i don't know how to solve it.

[2021-07-13 13:34] kemuri-9 opened #17697 "Add support to ModularitySpec for fixed module mode"
Currently `ModularitySpec` only has two modes of operation which affects how `JavaModuleDetector` is utilized:
"Not a module" and "Scan for a module-info file, and **only if it exists** -> execute as a module"

There is no way to specify "Do not scan, execute as a module"

As to why this is necessary is for one style of testing modules in module mode:
Such tests are written without a module-info b

[2021-07-13 13:52] jlprat commented on #16527
Closing this in favor of https://github.com/apache/kafka/pull/11025

[2021-07-13 14:53] kldMohammed commented on #7481
i freed some space and it solved

[2021-07-13 15:24] mlopatkin commented on #10483
We do all we can to update the PATH variable (and other environment variables) in the daemon, we even update the native storage with `setenv`. However, JDK doesn't use this environment when starting a child process, it has [its own cache](https://github.com/openjdk/jdk11u/blob/master/src/java.base/unix/native/libjava/childproc.h#L129) for this purposes. The reason for this seems to be the lack of

[2021-07-13 18:31] herriojr opened #17701 "Compilation Freezes on compileDebugUnitTestKotlin"
### Expected Behavior
It should successfully compile or fail, not freeze up.

### Current Behavior
It seems to freeze on compilation

### Context

This is an Android application, however, I don't believe this is something Android-specific. Someone modified a class and added arguments to its constructor. They forgot to add these arguments to the tests. Instead of compilation of the tests failing, i

[2021-07-13 20:23] xenoterracide opened #17703 "npm version specification syntax for java dependencies"
So, I'm not sure if the js version for gradle has this, it might. I'd like to use the  styles defined here https://docs.npmjs.com/about-semantic-versioning#using-semantic-versioning-to-specify-update-types-your-package-can-accept

specifically

[code]

I can see having *just* the number be problematic. So my understanding is that these would be semver compliant, and should not potentially pick up

[2021-07-13 21:08] big-guy opened #17704 "Misleading error when using map on output property inside a task's action"
Given:
[code]

`gradle mytask` fails with an error.

### Expected Behavior
Since `outputDirectory` is an output for the task being executed, this should not be an error. The task is not consuming the output of itself.

### Current Behavior
`gradle mytask` fails with:

### Context

Reported by Cedric: https://gradle-community.slack.com/archives/CA745PZHN/p1625653281217800

The easiest workaround is

[2021-07-13 21:09] liutikas opened #17705 "Deprecate TaskContainer#create"
Deprecate TaskContainer#create

### Expected Behavior
Everyone should be using TaskContainer#register

### Current Behavior
Users can use TaskContainer#create without any warnings

### Context
Creating tasks is more costly than registering, but we do not nudge plugin or app developers towards registering tasks.

### Steps to Reproduce
N/A

### Your Environment
N/A

[2021-07-13 21:47] #14563 closed

[2021-07-13 23:07] DanielThomas opened #17708 "User home systemProp properties not reflected when using the tooling API"
System properties set in `gradle.properties` aren't reflected when using the tooling API.

### Expected Behavior
`systemProp` properties in `GRADLE_USER_HOME/gradle.properties` should be reflected when using the tooling API.

### Current Behavior
They are not, meaning it's not possible to configure system properties globally.

### Context
We have conditional logic in an init script `initscript` bl

[2021-07-14 07:06] tellisnz-shift commented on #14704
should

[code]

control the caching for this or is there another way to set the dynamic version cache for plugins?

[2021-07-14 07:37] netvl commented on #12351
BTW, same is true for `DirectoryProperty` as well (cannot be used with `@Input`).

[2021-07-14 07:51] #17619 closed

[2021-07-14 08:45] ljacomet commented on #17703
There is no plan on supporting this syntax in Gradle.

[2021-07-14 08:45] #17703 closed

[2021-07-14 08:54] mlopatkin commented on #17697
It isn't exactly clear what are you trying to achieve. We have covered a similar issue in [the documentation](https://docs.gradle.org/current/userguide/java_testing.html#sec:java_testing_modular_patching). If this isn't suitable for you than can you please share an example project that shows what are you trying to do (assuming that the feature you're asking for exists)?

[2021-07-14 09:02] Vampire commented on #1151
Still happens with the given reproducer in Gradle 7.1.1, please reopen.

[2021-07-14 09:03] mlopatkin commented on #17028
@NaromKuoch could you please provide a reproducer?

[2021-07-14 09:05] ljacomet commented on #16568
@gradle/execution This is again a file system related issue which shows up in Gradle 6.5 when the native libraries were updated. Could you take a look?

[2021-07-14 09:52] kemuri-9 commented on #17697
yes I read that documentation. The issue i have is with the requirement on having a module-info.java in the test source.
the requirement gradle has on the test module-info.java is arbitrary and induces additional maintenance work.
I am requesting for a way to gradle to execute "module mode" without an associated module-info.java.

Does this make sense?

[2021-07-14 10:29] jfresen commented on #14693
I have the same problem. In my case it's caused when my login session of my corporate network where the cache is hosted has expired. The expired single sign on cookie is rejected, followed by almost the same stacktrace as @fkorotkov posted (differs only in the compression method: `java.util.zip.ZipException: Not in GZIP format`)

[2021-07-14 10:46] wolfs commented on #16568
@abs0 Thank you for reporting. Does the problem also happen with Java 8?

[2021-07-14 11:21] wolfs commented on #16568
@abs0 Some more context: Gradle uses some native integration for supported operating systems for stating files or manipulating the environment. This native integration supports FreeBSD but not NetBSD. You can find the OS detection here: https://github.com/gradle/native-platform/blob/197f81c5b76659cf6a7a8a0a16ef825ff6ab703a/native-platform/src/main/java/net/rubygrapefruit/platform/internal/Platform

[2021-07-14 11:48] wolfs commented on #16568
@abs0 And finally, it would be great if you could share the Daemon log file. You can find this in the `/home/abs/.gradle/daemon/<gradle-version>/daemon-<PID>.out.log`.

[2021-07-14 12:04] mlopatkin commented on #17701
@herriojr could you please try to capture thread dumps of the Gradle daemon and the Kotlin compiler daemon when the freezing happens?

You can get PIDs of processes with `jps -l` - you'll see something like
[code]
Then you can capture thread dumps with `jstack -l -e PID > PID.txt` for each PID from the previous step. `KotlinCompileDaemon` and `GradleDaemon` are of interest.

Without this informati

[2021-07-14 12:22] kemuri-9 commented on #17697
Hmm, my request may not make sense as Gradle is following a convention that tests will have their own module-info and `main` is patched into `test` in these scenarios.
But for the scenarios I've been working with it's actually the reverse case: `test` is patched into `main`.
This is likely a byproduct of different tools utilizing different conventions, as there is not quite any decent standard for

[2021-07-14 12:41] eaaltonen commented on #10483
Interesting indeed.

It looks like the Windows Processthreadsapi.h does have a call with similar functionality, `CreateProcessA( ..., LPVOID lpEnvironment, ...)

* https://docs.microsoft.com/en-us/windows/win32/procthread/environment-variables
* https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessa

I think that would leave two ways to pursue this

[2021-07-14 12:59] mlopatkin commented on #12608
We've fixed the issue for custom`PublishArtifact` instances for now but this approach is still not recommended and Gradle may start to issue a warning soon if a custom implementation is used. I'm closing this issue as a duplicate of #17273.

The reasoning applies to `MavenArtifact` as well. Why do you need to implement your own MavenArtifact?

[2021-07-14 12:59] #12608 closed

[2021-07-14 14:30] xenoterracide commented on #17703
:'(

[2021-07-14 14:44] AnastasiaRainMaker commented on #17689
Google replied on their issue tracker https://issuetracker.google.com/issues/193452960

[2021-07-14 14:44] #17689 closed

[2021-07-14 14:58] ljacomet commented on #17329
I will be closing this as there is no plan to change the versioning scheme or the different ways it appears in tools.

[2021-07-14 14:58] #17329 closed

[2021-07-14 15:01] ljacomet commented on #12904
Effectively closing as duplicate

[2021-07-14 15:01] #12904 closed

[2021-07-14 15:33] jjohannes commented on #14704
Plugin resolution is done on the `classpath` configuration in the _buidlscript_ scope. This should work I think:

[code]

[2021-07-14 16:05] herriojr commented on #17701
@mlopatkin yes, I'll get it today, I just had no idea how to obtain useful information in this case, thanks for the help!

[2021-07-14 16:18] mlopatkin commented on #15662
Thank you for your interest in Gradle!

This issue will be closed as a duplicate of #17275. Please see the reasoning there.

[2021-07-14 16:18] #15662 closed

[2021-07-14 16:24] liutikas commented on #17705
Once we do this, it might also make sense to follow up with deprecating `TaskCollection#getByName` and other non-lazy accessors to the tasks.

[2021-07-14 16:31] mlopatkin commented on #12678
Closing stale issue (now really closing).

[2021-07-14 16:31] #12678 closed

[2021-07-14 16:56] herriojr commented on #17701
I've attached the requested files.

[39156.txt](https://github.com/gradle/gradle/files/6817735/39156.txt)
[93916.txt](https://github.com/gradle/gradle/files/6817736/93916.txt)
[93934.txt](https://github.com/gradle/gradle/files/6817737/93934.txt)
[94029.txt](https://github.com/gradle/gradle/files/6817738/94029.txt)

[2021-07-14 17:16] herriojr commented on #17701
Also, unfortuantely, it is not fixed w/ kotlin 1.5.21

[2021-07-14 17:41] mlopatkin commented on #889
tl;dr - the workaround available now is to either use public properties or explicitly annotate only the getter with `@get:` syntax.

This is an interesting corner case. The `internal` visibility seems to be the culprit there. If the property is public or if it is annotated as `@get:Internal` then everything works fine. By default, Kotlin generates a backing private field named `foo` and a getter f

[2021-07-14 18:03] mlopatkin commented on #17701
Thanks for the update! I don't see any blockings so the issue seems to be related to https://youtrack.jetbrains.com/issue/KT-47545. We cannot do much on the Gradle side because the issue is in the Kotlin compiler.

[2021-07-14 18:03] #17701 closed

[2021-07-14 18:16] herriojr commented on #17701
@mlopatkin awesome, thanks for the help! I'll go bug them instead :P

[2021-07-14 21:54] #17433 closed

[2021-07-14 22:51] ducrohet commented on #16919
Hi, any update on when this might land? We're trying to land our new model but this cannot work with this bug.

We have a work around for test fixtures for Java library but it cannot work for test fixtures in android library projects.

thanks!

[2021-07-15 04:02] Kushmere commented on #13629
I am using Gradle 7.1.1 and java version 16.0.1 and I just run into this issue when starting a react native app

[2021-07-15 05:53] sumitblore commented on #17516
I fixed this issue by adding 'plugin-under-test-metadata.properties' file in my src/resources folder as I noticed classpath is reading from src folder.

[2021-07-15 07:26] Ryan-Shz opened #17720 "resolutionStrategy.dependencySubstitution substitute module with project error"
I tried to replace the remote aar with the local project, so i added the following code to the root project's build.gradle:
[code]
but when compiling I got the following error:
[code]

I tried many ways but still can't solve it. any help would be very much appreciated!

[2021-07-15 08:37] mlopatkin commented on #17720
The issue #15533 is probably related to this one if not a duplicate.

[2021-07-15 08:47] mlopatkin commented on #16512
As stated in the linked issue, the current approach of using a bleeding-edge version of Gradle to build Gradle is not well suited for Debian packaging and it is unlikely that we change this approach. We also don't have the capacity to support the patched Debian version.

[2021-07-15 08:47] #16512 closed

[2021-07-15 08:53] ljacomet commented on #16503
Looks like `org.dom4j:dom4j:2.1.3` was published [with Gradle Module Metadata](https://repo.maven.apache.org/maven2/org/dom4j/dom4j/2.1.3/) and there the dependencies are declared which means they are not optional as far as Gradle is concerned. When such metadata is present, the POM file is ignored.

If you believe that is a mistake, open an issue against the `dom4j` project about this.

Gradle be

[2021-07-15 08:53] #16503 closed

[2021-07-15 09:43] souravdasslg commented on #13629
Same.

[2021-07-15 10:52] christopher-cudennec opened #17722 "Configuration of test plugin not passed on to subprojects"
We are currently testing the migration from Gradle 6 to 7 and I'm having issues with one of our multi module projects. The project's main module already did common configuration for all submodules, specifically it enabled JUnit 5 for testing. After using the same setup with Gradle 7 no tests are executed. It only works when I add the test configuration to each submodule.

If you also use Jacoco an

[2021-07-15 12:19] xenoterracide opened #17723 "use version catalog accessors with exclude"
I want to be able to simply provide an exclude with a version catalog accessor

this is what I'm asking for

[code]

this works as an existing workaround

[code]

[2021-07-15 14:24] wolfs commented on #17621
@melix Thank you for reporting. I was able to reproduce the issue in a smaller test case. I understand what is going on: The build script adds a file dependency to a library in another build, and later that build is included as well. I think we can't make this work with the strict validation we have right now when starting to watch things, so I think we need to be more lenient there. See https://g

[2021-07-15 16:00] MasterGaeX opened #17727 "Outdated Gradle Version problem"
### Context

I created a new Fabric project for MC 1.17.1 and when I opened it in VSCode, it showed two errors (the other problem got resolved), and one of them was that I was using an outdated version of Gradle (3.6) and that Gradle 7 or higher was required. I installed Gradle 7.1.1 and I verified it in cmd.exe and in the VSCode's console. But still the problem remains. I restarted the PC, recrea

[2021-07-15 17:09] beatbrot opened #17729 "Unable to pass a list of dependencies to `implementation` when using Kotlin build script."
Kotlin build script does not allow list of maps as arguments of the methods `implementation`, `compile`, etc.. This is, however, possible with a Groovy build script

### Expected Behavior
It is possible to pass a `List<Map<String,String>>` as dependency for each Configuration when using Kotlin build scripts, just like it is possible with Groovy build scripts.

### Current Behavior
The following er

[2021-07-15 17:15] beatbrot commented on #17727
Would be interesting how you created the gradle project.

Maybe you are (accidently) using [the gradle wrapper](https://docs.gradle.org/current/userguide/gradle_wrapper.html) that downloads & runs a way older version of gradle just for your project.

[2021-07-15 18:07] #17572 closed

[2021-07-15 18:49] mlopatkin commented on #17697
Thanks for the update, now I understand your use case better. The current style isn't set in stone but this area is unlikely to get attention in the short term.

[2021-07-15 18:58] MasterGaeX commented on #17727
I used [this script](https://github.com/ExtraCrafTX/GeneratorFabricMod) to create the skeleton of the project

[2021-07-15 19:31] xenoterracide commented on #15089
@elect86 you can, but not in the alignment

[code]

[2021-07-15 19:41] #16211 closed

[2021-07-15 20:07] #17644 closed

[2021-07-15 20:21] xenoterracide opened #17731 "ComponentMetadataRule downloading pom's for defined version"
even when defining a version (unlike #15089) version alignment is downloading poms of the defined version,

### Expected Behavior

if using version alignment the pom from the version being aligned should not be downloaded

### Current Behavior

[code]

### Context

### Steps to Reproduce

a `buildSrc` plugin

[code]

the actual subproject that is causing the problem

[code]

here's a link to the c

[2021-07-15 21:39] #16055 closed

[2021-07-16 03:17] Ryan-Shz commented on #17720
@mlopatkin so is this a known issue? Is there any idea to solve it?

[2021-07-16 06:13] GunoH opened #17738 "copy / archive tasks include redundant directories"
This issue was originally reported here: https://issues.gradle.org/browse/GRADLE-1830
All credits for the report go to Szczepan Faber.

When `eachFile` is used to manipulate file 'path' then often redundant empty folders are created.

Example:

[code]

Expected:
[code]

Actual:
[code]
E.g. redundant empty folder dir1. includeEmptyDirs flag does not have any effect on the case.
This happens with Gr

[2021-07-16 06:32] adarshrc commented on #8431
same problem here !

how to resolve it ?

[2021-07-16 06:40] sebeard commented on #17627
@donat Thanks for looking into this.

I'm unsure what reproducer you would like. I've already created a project that can reproduce it with the steps for doing so. Do you mean another self contained one with the convention scripts in?

In regards to the ideas;
-  I assume you mean no `mavenLocal()` in the reproducer project?
- Good point on the credentials side. This is because my packages when rel

[2021-07-16 07:06] melix commented on #17729
You can use [version catalog bundles](https://docs.gradle.org/current/userguide/platforms.html#sec:dependency-bundles) for this.

[2021-07-16 07:07] melix commented on #17723
Makes sense :+1: (but think twice before adding excludes ;))

[2021-07-16 07:10] beatbrot commented on #17729
Yes, I already mentioned this in my initial post.

Version catalogues are, however, still in preview. In addition to that, I think the Kotlin DSL still should support everything the Groovy DSL did. This would dramatically ease the migration from Groovy to Kotlin DSL.

[2021-07-16 08:06] mlopatkin commented on #17727
@MasterGaeX could you please attach the project you've created to this issue in an archive?

[2021-07-16 08:07] donat commented on #17627
The project probably can reproduce the issue, it's just that I ran out of time trying to figure out what do I need to add to my env-vars, mavenLocal(), etc.

That's correct.

That's fine, creating a GH access token to download dependencies is no big deal.

[2021-07-16 08:09] MasterGaeX commented on #17727
[TEST.zip](https://github.com/gradle/gradle/files/6828991/TEST.zip)
This is the project

[2021-07-16 08:17] mlopatkin commented on #17727
Are you sure that the error mentions 3.6 and not 6.3? The latter is the one that is set in the gradle wrapper.

You can upgrade the Gradle version by running the following command in the root folder of the project
[code]

It seems that the GeneratorFabricMod script you're using is the one what generates the build with gradle 6.3 so I suggest to report this issue to the maintainer of the script. Ac

[2021-07-16 08:17] #17727 closed

[2021-07-16 08:37] mlopatkin commented on #17729
Thank you for your interest in Gradle!

This issue will be closed as a duplicate of #7649. Please add your +1's to that issue.

[2021-07-16 08:37] #17729 closed

[2021-07-16 08:38] ljacomet commented on #17731
Unless I totally misunderstand what you see, it is perfectly normal that during dependency resolution metadata files for seen versions are required even when the version does not appear in the final result.

[2021-07-16 08:40] mlopatkin commented on #17722
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

This issue will be closed after 7 days, unless you can provide more information.

[2021-07-16 08:46] mlopatkin commented on #16347
@SchrodingerZhu could you please provide a sample project that demonstrates what you are trying to achieve? With some simple annotation processor for java being set up.

[2021-07-16 08:52] MasterGaeX commented on #17727
Yeah, it was 6.3, I didn't notice when I was writing the post. Anyway, it still doesn't work.
![Immagine 2021-07-16 104756](https://user-images.githubusercontent.com/81831281/125920404-192cf4ef-f321-4f34-b0f2-ff9830dc785d.png)
This is what happens if I run it in cmd.exe in the root folder.
And it doesn't recognize the command in the VSCode console

[2021-07-16 08:53] mlopatkin commented on #16341
The wrapper task can be configured in the build script so it is highly unlikely that we'll be able to change the current behavior. The workaround is to update `wrapper.properties` manually.

[2021-07-16 08:53] #16341 closed

[2021-07-16 08:57] mlopatkin commented on #16310
Closing because of reasons stated in https://github.com/gradle/gradle/issues/16310#issuecomment-785945980

[2021-07-16 08:57] #16310 closed

[2021-07-16 08:57] msiemens commented on #13797
I had the same issue with a multi-project build with Kotlin where I followed the example in https://docs.gradle.org/current/samples/sample_building_kotlin_applications_multi_project.html#review_the_project_files (see `buildSrc/src/main/kotlin/demo.kotlin-common-conventions.gradle.kts` there):

[code]

This resulted in the same error as above:

[code]

Removing the `constraint` section made it work

[2021-07-16 09:13] J-TIGGER opened #17744 "gradle7.x is not compatible with org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.0.0-RC1"
### Title
gradle7.x is not compatible with org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.0.0-RC1

### Context
gradle 6.x can compile normally ：
![image](https://user-images.githubusercontent.com/52161906/125923597-42349f09-b50f-4390-b2d6-2dde54d093a1.png)

but gradle 7.x cannot compile normally :
![image](https://user-images.githubusercontent.com/52161906/125924009-bb310863-19fd-44

[2021-07-16 09:30] nskvortsov commented on #15405
IIRC, expected behavior is "Calling ProjectConnection.notifyDaemonsAboutChangedPaths() does not start Gradle distribution download". Not sure about actual behavior.

[2021-07-16 09:32] nskvortsov commented on #8431
@adarshrc please upgrade your Gradle wrapper to at least version 3.0 (or better to 4.8.1, as error message suggests)

[2021-07-16 09:33] MasterGaeX commented on #17727
I looked at [this page](https://docs.gradle.org/current/userguide/gradle_wrapper.html) and now it works
`gradle wrapper --gradle-version 7.1.1 --distribution-type all`

[2021-07-16 09:38] nskvortsov opened #17745 "Gradle TAPI passes all client JVM system properties to build process"
When a Gradle Tooling API client launches a task or builds a model, all system properties of the client's JVM are passed to the build evaluation process, including forked JVM executions (tests or any JavaExec).

### Expected Behavior
TAPI client can control what system properties are set in the Gradle build.

### Current Behavior
TAPI client has no control over set of system properties being passe

[2021-07-16 09:56] ljacomet commented on #17301
The evolution of ephemeral CI puts some pressure indeed on the way Gradle caches dependency downloads. The solution of providing a repository mirror is not always practical for these setups.
The introduction of the read-only cache layer was made to provide a solution to this problem. The layer can be populated regularly, made available to the CI agents in general and downloads are then limited to

[2021-07-16 10:00] oehme opened #17746 "Performance regression for multi-stage incremental annotation processors"
The changes in https://github.com/gradle/gradle/commit/5f6aa44665389f1e703bb24d788ad5ee305404db fixed a couple of problems with additions/deletions when using aggregating processors. However, this change also broke the performance of multi-stage processors like Micronaut. That particular processor does all the costly dependency injection logic in an isolating processor and then only writes a servi

[2021-07-16 10:01] oehme commented on #17746
@graemerocher @melix FYI

[2021-07-16 10:03] ljacomet commented on #11321
@henryju If you can craft a reproducer, please file an issue.
`org.sonarsource.dotnet:sonar-csharp-plugin:8.23-SNAPSHOT@jar` is actually an artifact dependency that should not even look at metadata.

[2021-07-16 10:04] christopher-cudennec commented on #17722
Hello Mikhail,

I was able to reproduce the error with the following basic setup: https://github.com/christopher-cudennec/gradle-7-bug

I noticed that it's possible to solve the problem if you also apply the "java" plugin in the root project.
Curious what you think about it 🙂

Cheers,

Christopher

[2021-07-16 10:04] ljacomet commented on #13984
@SheliakLyr Sorry for taking so long to get back to you.
If you are still interested, a contribution to fix this issue would be most welcome. Ideally we would like to not drop support for older Zinc version but as commented by Ismael having compilation produce the correct output is the first goal.

[2021-07-16 11:05] mlopatkin commented on #17722
I've checked your reproducer and it doesn't seem to work with Gradle 6.8 either. The `subprojects` configuration is applied to the subprojects before their own configuration, so instead of configuring the `test` task of the subproject (which doesn't exist because `java` plugin isn't applied yet) the block configures the `test` task of the root project.

I can suggest a few workarounds (though not

[2021-07-16 12:43] Fiouz commented on #12600
It seems that `Project.getStatus()` does not affect the `org.gradle.status` attribute of a Maven publication; instead, the value is inferred from the "`MavenProjectIdentity`" version:
https://github.com/gradle/gradle/blob/774525a055494e0ece39f522ac7ad17498ce032c/subprojects/maven/src/main/java/org/gradle/api/publish/maven/internal/publication/DefaultMavenPublication.java#L789-L793

https://github.

[2021-07-16 14:13] andreya108 commented on #11779
Are there any workarounds except rewriting all KTS files to Groovy?

[2021-07-16 14:18] henryju commented on #11321
I created a reproducer here: https://github.com/henryju/repro_gradle_11321
Simply install the Maven project:
[code]
and then try to build the Gradle project:
[code]

[code]

I don't have file `/home/julien/.m2/repository/org/sonarsource/repro-gradle-dep/1.0-SNAPSHOT/maven-metadata.xml` but I have `/home/julien/.m2/repository/org/sonarsource/repro-gradle-dep/1.0-SNAPSHOT/maven-metadata-local.xml`:

[2021-07-16 15:34] xenoterracide commented on #17723
of course, but this particular exclude is recommended by the spring data neo4j docs ;) they just did it in maven.

[2021-07-16 15:38] the-loudspeaker commented on #16512
Can you suggest a way for us to be able to build gradle offline? Even basic gradle functionality to be able to just build itself would be enough.

[2021-07-16 16:51] pkubowicz opened #17749 "Broken sample: Reporting code coverage with JaCoCo (aggregation)"
### Expected Behavior
I can use sample from https://docs.gradle.org/7.1.1/samples/sample_jvm_multi_project_with_code_coverage.html to aggregate JaCoCo reports. The report contains only my sources.

### Current Behavior
The code from this sample includes all compile dependencies, including open-source libraries.

### Context
My code is organized into several subprojects. Often classes are not teste

[2021-07-16 18:24] Siedlerchr commented on #16857
The latest nightly compiles: https://github.com/JabRef/jabref/pull/7862
` ./gradlew wrapper --gradle-version=7.2-20210715231856+0000 `

[2021-07-16 18:28] xeruf opened #17750 "Provide a concise output format"
When running `gradle` through a script, I would like to receive concise output in case of errors.

### Current Behavior
I can use the `--quiet` flag, but if there is an error, I get this monstrosity:
[code]

### Expected Behavior
Either implicitly with the `--quiet` flag or with an additional `--concise` flag shorten the output on error to something like this:
[code]

### Context
As an avid gradle

[2021-07-16 20:56] kevinrushforth commented on #16857
I was able to build [openjdk/jfx](https://github.com/openjdk/jfx) with the latest nightly build of gradle `7.2-20210715231856+0000` and the latest JDK 17 ea build, `17-ea+31-2664`.

[2021-07-17 01:04] Fiouz commented on #17708
Works fine for me in Gradle 7.1, which addressed #6825.

[2021-07-17 03:17] #12835 closed

[2021-07-17 07:55] Majlanky opened #17752 "executionHistory.bin ruins other builds"
Hello,

I have an issue. I discovered the issue on my project, but I am able to reproduce it even on empty Spring boot project, generated on initializr.
Issues is very simple but very blocking. In empty project that do not contain any gradle output (.gradle and build dir), I can run any gradle task (I am using `./gradlew assemble` or `gradle assemble`) without any issue. Problem is with the other

[2021-07-17 08:43] wolfs commented on #17752
Any chance your project directory is on a FAT file system?

[2021-07-17 09:08] infahash commented on #14958
@NotNotMarshall
(☞ﾟヮﾟ)☞ Step 5 worked great. Thanks for sharing.
saved lot of time I used to restart pc because can't find the reason

[2021-07-17 10:15] oehme commented on #13766
@lptr did you have some time to think about this?

[2021-07-17 10:42] gmazzo commented on #12126
@martinbonnin Did you got an answer on this? I have two outgoing variants, one has one extra attribute and the consumer is asking for it. Yet, both seem to be considered for resolution and I got this error. Even if the second says MISSING 🤔

[2021-07-17 11:10] Majlanky commented on #17752
It is exFAT.

[2021-07-17 11:54] yschimke commented on #16857
I'm getting a kapt failure https://github.com/square/okhttp/pull/6697/checks?check_run_id=3092889438

[code]

Getting a stacktrace now.

[2021-07-17 12:30] hemantsb commented on #10020
Got it working by replacing `Jcenter()` with `mavenCentral()`.
<img width="578" alt="Screenshot 2021-07-17 at 5 54 59 PM" src="https://user-images.githubusercontent.com/38025210/126036911-396f6d87-2424-4ac8-b4e5-3260d6bb62d3.png">

[2021-07-17 14:10] ngagejason commented on #13629
I was having a very similar issue trying to start Gremlin on windows. I installed Java 11 alongside Java 16, and modified the ".bat" file to read:

"C:\Program Files\Java\jdk-11.0.11\bin\java" %JAVA_OPTIONS% %JAVA_ARGS% -cp "%......

Seems to be working after that.

[2021-07-17 14:24] elect86 opened #17754 "In a multi variant kotlin library, all the variants get compiled for jdk8"
As titled, I'm trying to produce multiple variants out of the same (kotlin) library: specifically jdk8 and jdk11. But when I publish to a local folder repository, both are compiled for jdk8, no matter what `kotlinOption.jvmTarget` or `.jdkHome` specify

`build.gradle.kts` [here](https://github.com/kotlin-graphics/kotlin-unsigned/blob/jdk9variant/build.gradle.kts)

If I print `jvmTarget` and `jdkHo

[2021-07-17 16:00] wolfs commented on #17551
I was able to reproduce the problem. It seems like the stat from native platform does not work on exfat and always throws an exception - causing the stat to return missing file: https://github.com/gradle/gradle/blob/30cab53062b32ad61d48031c4faec6756bd115da/subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/services/NativePlatformBackedFileMetadataAccessor.java#L39-L4

[2021-07-17 16:02] wolfs commented on #17752
That means that this issue is a duplicate of https://github.com/gradle/gradle/issues/17551 and will be closed as such.

#4329 is something else.

[2021-07-17 16:02] #17752 closed

[2021-07-18 06:17] climategadgets commented on #17461
Update: this bug is confirmed to appear on Raspberry Pi 4 with 4GB RAM (I originally thought that it was related to tight memory, but 4GB should be sufficient, it looks rather a platform or JVM issue). Here's the signature:

[code]

[2021-07-18 09:02] superRaptor911 commented on #13629
you may be using ./gradlew assembleRelease
use gradle assembleRelease

[2021-07-18 09:41] #864 closed

[2021-07-18 15:01] itaranto opened #17756 "Support XDG Base Directory Specification"
Please support the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) on Linux/*nix systems.

Right now gradle dumps everything user related to `~/.gradle` which is **not** nice for several reasons.

If you think that splitting this data between cache, config and user data is not feasible to do right now, **at the bare minimum** put eve

[2021-07-19 00:30] Vampire opened #17759 "`CppApplicationInitIntegrationTest` and `CppLibraryInitIntegrationTest` are not executable without installed toolchain"
The mentioned tests fail with `No tool chain is available to build C++ for host operating system 'Windows 10' architecture 'x86-64'` message.
Maybe they should be conditionally skipped if no toolchain is available on the system running the tests.

[2021-07-19 00:56] ileasile opened #17760 "Gradle plugin sources are not published to Plugin Portal when `maven-publish` plugin is applied"
I'm writing a Gradle plugin, using `java-gradle-plugin` and `com.gradle.plugin-publish` plugins as described in [the instruction](https://docs.gradle.org/current/userguide/publishing_gradle_plugins.html). When I trigger `publishPlugins` task, everything works fine, and it publishes javadoc and sources jars, i.e.:
[code]

But when I apply `maven-publish` plugin in order to setup a local repository

[2021-07-19 01:21] ileasile commented on #17760
Even adding this to the publishing extension configuration doesn't fix the issue
[code]

Though, it has been possibly working, judging by this 2-year old example: https://github.com/marcphilipp/gradle-sandbox/blob/85e934d13b413df2fccd752591f631128e7e7734/plugin-maven-publish/build.gradle#L23-L44

[2021-07-19 01:39] ileasile commented on #17760
By the way, it is very likely that the problem in `com.gradle.plugin-publish`, but I was unable to find its sources on the internet. Are they closed?
The last available sources are here: https://plugins.gradle.org/m2/com/gradle/publish/plugin-publish-plugin/0.9.1/
Sources of this plugin are not published since v. `0.9.2` - and I'm not sure it was done by intention

[2021-07-19 05:24] christopher-cudennec commented on #17722
Hi Mikhail!

Thanks for also looking into the issue. Seems like the error was on my side when refactoring the modules to use the "java-library" plugin instead of the plain "java" plugin.

Apologies for creating the issue! Keep up the great support!

Christopher

[2021-07-19 05:24] #17722 closed

[2021-07-19 07:13] JirkaKrivanek commented on #15830
Happens to me too :(

[2021-07-19 08:46] mlopatkin commented on #17756
This request makes sense. If you or someone is willing to make a PR for this then it will likely be accepted.

[2021-07-19 08:49] mlopatkin commented on #17754
Thank you for your interest in Gradle!

This is an issue with the Kotlin Gradle Plugin which is developed by Jetbrains and cannot be addressed in the core of the Gradle Build Tool.

Please open such Kotlin-related issues on the Kotlin Issue Tracker at https://youtrack.jetbrains.com/issues/KT

[2021-07-19 08:49] #17754 closed

[2021-07-19 08:56] mlopatkin commented on #17750
This request is unlikely to get attention from us because of the limited bandwidth of the team. Would you or someone else from the community be interested in providing a PR implementing this?

[2021-07-19 08:58] mlopatkin commented on #17749
@gradle/core could you please take a look at this?

[2021-07-19 09:09] mlopatkin commented on #17744
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it. It would be great to also see the version of the IDEA you're using.

The issue might be caused b

[2021-07-19 09:31] J-TIGGER commented on #17744
@mlopatkin
Thank you for taking the time to help me solve this problem, I am now ready to upgrade the gradle in the project to 7.x, please help me to solve this problem.

My IDEA version is IntelliJ IDEA 2021.1.1 (Ultimate Edition), and I have reproduced this problem in other IDEA versions.

The following pictures are the error messages suggested by IDEA :
![image](https://user-images.githubuserco

[2021-07-19 11:40] bluemonkmn commented on #16777
This may be responsible for errors I'm struggling with in trying to set up a new Unreal Quest2 development environment documented at https://stackoverflow.com/questions/68430609/unable-to-set-up-new-unreal-quest-2-development-environment

[2021-07-19 12:05] chrisr3 opened #17765 "Gradle 6.9 - 7.1.1 do not always recognise new build dependencies added from Configuration.withDependencies."
Summary: I add a `ProjectDependency` to a configuration via a `withDependencies` handler. This dependency references a "consumable" artifact from another sub-project. However, Gradle does not recognise that this artifact also needs to be built first.

I have created an example project using Gradle 7.1.1, but don't seem to be able to upload it here. Basically, I have two sub-projects, `foo-project`

[2021-07-19 12:21] #17551 closed

[2021-07-19 12:35] rieske commented on #16857
This will be related as well: https://youtrack.jetbrains.com/issue/KT-47152

[2021-07-19 12:36] elect86 commented on #17754
[Done](https://youtrack.jetbrains.com/issue/KT-47788)

Thanks for pointing me that

[2021-07-19 13:09] Vampire commented on #17765
The example project can also be found attached to https://discuss.gradle.org/t/projectdependency-added-by-configuration-withdependencies-has-no-builddependencies/40516/5 and an interesting detail is, if you add a directroy `baz`, inside an empty file `settings.gradle`, and in the top-level `setting.gradle` the line `includeBuild 'baz'`, then it also works as expected.

At least this difference in

[2021-07-19 13:29] chrisr3 commented on #17765
Yes, silly me. By the time I'd remembered I'd done that, you'd beaten me to it :facepalm:.

[2021-07-19 14:20] mlopatkin commented on #17744
This type of issues doesn't typically affect your ability to build things though it may be annoying to no have autocomplete and other goodies when editing Gradle files. You may consider switching to [Kotlin DSL](https://docs.gradle.org/current/userguide/kotlin_dsl.html) as a workaround but there are certain trade-offs. Kotlin, being a statically typed language, typically makes it easier for the ID

[2021-07-19 14:20] #17744 closed

[2021-07-19 15:07] wolfs commented on #17551
@DimaCrafter Can you try out if `7.2-20210719134544+0000` fixes your problems?

[2021-07-19 15:08] wolfs commented on #17612
I fixed something regarding the FAT file system in Gradle 7.2, see https://github.com/gradle/gradle/issues/17551. Can you try out `7.2-20210719134544+0000` to see if it fixes your problems?

[2021-07-19 16:54] ljacomet commented on #17760
@ileasile The `plugin-publish` plugin is closed source, more for historical reasons than anything.

Can you try using the following in your project and let us know if it works then?
[code]

[2021-07-19 16:56] ljacomet commented on #17731
Closing as there is nothing unexpected or wrong here. Note that some of the downloads may not happen depending on the order in which the graph is processed.

[2021-07-19 16:56] #17731 closed

[2021-07-19 17:01] ljacomet commented on #17575
Thanks for raising the issue and the contribution proposal.
Given this focuses on the wrapper download, I would recommend going with properties to be defined in `gradle-wrapper.properties`. I wonder if it makes sense to have a different properties there or if a single would be enough.
As for the name, since the properties are scope limited, a simple name sounds like the best approach. Something li

[2021-07-19 17:03] ljacomet commented on #17499
Closing as without a reproducer this will not be investigated.

[2021-07-19 17:03] #17499 closed

[2021-07-19 17:04] StrangeNoises commented on #16092
Waking this up because the original problem as described seems to have gotten a bit lost, and it's exactly my problem:

I want to maven-publish to sftp but I'd rather not a: enable password logins and b: put my password in plaintext on the system anywhere. I want it to use private keys, through ssh-agent.

It seems like this, specifically, sftp transport to use ssh pubkey auth through ssh-agent, i

[2021-07-19 17:20] autonomousapps opened #17767 "Script performance regression (+10s) when adding a buildscript block"
### Expected Behavior
Adding a `buildscript` block to a script should not cause a major build performance regression.

### Current Behavior
If I add a `buildscript` block to a script, then I can observe in a build scan that configuration time for that script increases by 10s.

### Context

I first noticed this when trying to understand why configuration times had blossomed from roughly 47s to 67s

[2021-07-19 17:39] DimaCrafter commented on #17551
Now it creates a new class after second build, but all builds prints this error:

[code]

[Full log of first build](https://github.com/gradle/gradle/files/6842877/build.log)

[2021-07-19 17:42] ileasile commented on #17760
Whoa, it worked! Thanks, @ljacomet.
But it was somewhat misleading, maybe behavior should be unified here.

[2021-07-19 18:23] wolfs commented on #17551
If you run with `--no-watch-fs` everything works fine?

[2021-07-19 19:08] netvl opened #17769 "Allow filtering published component variants per publication"
It would be great if the `maven-publish` plugin allowed filtering which variants of a component should be published in a particular publication, to allow defining multiple publications publishing parts of the same component.

### Expected Behavior

Something along the following lines:
[code]

### Current Behavior

Currently it is only possible to disable publishing of a variant completely, like
[c

[2021-07-19 22:59] DanielThomas commented on #17708
Oh that's hilarious: Martin is on my team. Same issue, I must have missed this in the release notes.

[2021-07-19 22:59] #17708 closed

[2021-07-19 23:30] Marcono1234 opened #17772 "Add userguide section for Maven artifact relocation"
### Expected Behavior
Extend ["Maven Publish Plugin" userguide](https://docs.gradle.org/current/userguide/publishing_maven.html) to describe Maven artifact relocation (see [Maven "Guide to relocation"](https://maven.apache.org/guides/mini/guide-relocation.html)).

### Current Behavior
Artifact relocation is not documented.

### Context
Maven artifact relocation seems to be a little-known feature,

[2021-07-20 07:02] CsCherrYY opened #17773 "Get semantic information from build script"
Hello,

I'm looking for a way to get the semantic information (or compilation information) from a build script. For example, given a part of `build.gradle` script:
[code]
for symbol `dependencies`, it will be the method call `dependencies()` of interface `org.gradle.api.Project` in execution. For symbol `gradleApi()`, it will call `gradleApi()` in `org.gradle.api.artifacts.dsl.DependencyHandler`.

[2021-07-20 07:16] jptrn opened #17774 "Unit Testing Gradle Plugins: Dependency Resolution fails due to race condition"
Our unit tests for a Gradle plugin involve creating a Gradle project using `ProjectBuilder` and then resolving the dependencies of a given configuration with `configurations.<...>.resolvedConfiguration.resolvedArtifacts`.

When the same dependency is added twice in different configurations, the resolution will occasionally fail due to what looks like a race condition:

[code]

Gradle will determin

[2021-07-20 07:30] blindpirate commented on #17773
Please take a look at https://groovy-lang.org/closures.html#_delegation_strategy

The gradle build script is simply a Groovy file which complies with Groovy `Closure` delegation strategy.

[2021-07-20 07:30] #17773 closed

[2021-07-20 07:55] iNikem commented on #15214
Is `org.gradle.kotlin.dsl.precompiled.accessors.strict` property documented somewhere?

[2021-07-20 08:39] mlopatkin commented on #17772
Thank you for the suggestion! If you want to contribute a PR then please go ahead.

[2021-07-20 09:24] vpavic commented on #5201
Could this be reopened?

I'm aware of #12550 being still open, but IMO even with some kind of welcome message opt-out being supported, Gradle as a tool should be smart enough to figure out it runs in an environment where welcome message quite likely isn't of value.

For example, I believe that the presence of one of the following environment variables could be considered a strong enough indicator

[2021-07-20 10:23] RPAraujo opened #17778 "Gradle stops working on macos catalina after multiple executions"
When running ./gradlew in my terminal, after an arbitrary number of executions gradle stops working.

[code]

Running `./gradlew --status` we can see that all daemons are in unknown state.

[code]

this is a **non recoverable** state, only restarting the computer can we run gradle again

### Expected Behavior
Gradle should be able to run multiple times without breaking

### Current Behavior
It see

[2021-07-20 12:29] mlopatkin commented on #16064
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

This issue will be closed after 7 days, unless you can provide more information.

[2021-07-20 14:02] mlopatkin commented on #12645
Closing as a duplicate of #17329 as it states that we aren't planning to change the versioning scheme any time soon.

[2021-07-20 14:02] #12645 closed

[2021-07-20 14:39] donat commented on #17767
That sounds about right. I think there's no caching involved when you modify the classpath of the build script.

What are you trying to achieve here? Judging from the sample, you want to use `commons-collections` in your scripts. For me, this is a good indicator that the build script's content should be refactored to a (binary, or maybe a precompiled script) plugin.

[2021-07-20 15:43] #10492 closed

[2021-07-20 17:48] gavra0 opened #17783 "Cannot create service of type DefaultBuildEventsListenerRegistry"
Context: https://issuetracker.google.com/193859160

Using the [MyApplication.zip](https://github.com/gradle/gradle/files/6850261/MyApplication.zip) and running `cd buildSrc && gw test`, this fails with `Caused by: org.gradle.internal.service.ServiceCreationException: Cannot create service of type DefaultBuildEventsListenerRegistry using DefaultBuildEventsListenerRegistry constructor as required se

[2021-07-20 17:56] autonomousapps commented on #17767
This was the result of an intermediate step towards the long-term goal of having binary plugins, as you suggest. We had a bunch of stuff in buildSrc (which, as you know, is on every classpath by default). We moved that to an included build, which is no longer on the classpath by default. As such, we had to add `buildscript` blocks to some of our scripts so they would still work. These scripts are

[2021-07-20 19:19] bingranl opened #17784 "Circular dependency between tasks"
Hi Gradle folks, when building a project with some particular setup, the build fails with "Circular dependency between the following tasks". Note this issue is not specific to Android project.

The structure of this project is:

root
 -----A:lib (has a dependency on B:lib)
 -----B:lib

And one important thing of this setup is both of them has same group and version.

[code]

### Context

AGP has a

[2021-07-20 22:49] bamboo opened #17785 "Ensure `JavaToolchain` API compatibility with the configuration cache"
See https://docs.gradle.org/current/userguide/toolchains.html#sec:plugins

Current (flaky) failure: https://ge.gradle.org/s/aafw7c5ygmkt4/tests/:smoke-test:gradleBuildSmokeTest/org.gradle.smoketests.GradleBuildConfigurationCacheSmokeTest/can%20run%20Gradle%20unit%20tests%20with%20configuration%20cache%20enabled?top-execution=1

[2021-07-20 23:59] big-guy commented on #17767
The `buildscript` block gets compiled and evaluated separately as if it were another build script. Is the +10s regression happening on every configure or only on first use?

If you're just adding some non-plugin dependencies temporarily to the build script classpath, you could also do this only in the root (with `buildscript {}`) and let all of the children inherit the extra jar.

[2021-07-21 00:39] blindpirate commented on #17784
You need to keep `A:lib` and `B:lib` have different names, because a module is uniquely identified by `group:name:version`. In your project, both `A:lib` and `B:lib` has same `a.b.c:lib:1.0`, so they're recognized as same module, i.e. "circular dependency". This is expected behavior.

Workaround:

in settings.gradle:

[code]
in A/lib/build.gradle:

[code]

[2021-07-21 00:39] #17784 closed

[2021-07-21 02:17] #9932 closed

[2021-07-21 06:00] autonomousapps commented on #17767
The +10s configure seems to happen on every build. This is based on
running a benchmark with gradle profiler and looking at the final build
scan (of 10 runs). 

Regarding adding to the root, I tried that and it didn't work. I will
try again tomorrow to be certain. 

I can share a fair amount of information through private channels if
this seems an interesting problem. 

On July 20, 2021, GitHub **

[2021-07-21 06:14] wolfs commented on #17551
@DimaCrafter Can you try out the nightly `7.2-20210720234250+0000`? This one now disables file system watching on FAT automatically, so you shouldn't have the above warning.

[2021-07-21 08:20] mlopatkin commented on #17784
The issues #847 and #16986 have more context about this issue. We are considering adding a warning for duplicate project names to the Gradle core but there is no particular timeline for this.

[2021-07-21 08:56] mlopatkin commented on #17778
This might be related to #12232

[2021-07-21 11:25] rompic commented on #16816
@big-guy any update? shall i create a new issue?

[2021-07-21 11:43] anthonymonori opened #17792 "ScriptHandlerScope with configuration does not support version catalogs (MinimalExternalModuleDependency)"
### Expected Behavior
Can use MinimalExternalModuleDependency with configured (exclude or any other api) DependencyHandler in `buildscript` block (in Kotlin DSL)

### Current Behavior
Follow error is given when trying to configure:
[code]

### Context
Tried with Gradle version v7.1.1, but reading the code neither v7.2 rc will fix this for now.

Cannot migrate over to using `MinimalExternalModuleDe

[2021-07-21 12:46] devjaw commented on #1747
I got this from the log :
`[DEBUG] [org.gradle.internal.remote.internal.inet.InetAddresses] Is this a loopback interface? false`

it works after turn off the hotspot !!!!!!

[2021-07-21 14:34] DimaCrafter commented on #17551
Same error with same log's contents, but works fine with `--no-watch-fs`.

[2021-07-21 15:17] kemuri-9 commented on #17697
OK, thanks for checking at least.
If a direction is made on this and help is needed on implementing it, then I may be able to help out. I have some time here and there, but not that much overall.

[2021-07-21 15:59] RPAraujo commented on #17778
I managed to get this execution log today:
[code]

Also since this seems to be related with acquiring ports, I'm running Docker on this computer. Dunno if it's relevant or not

[2021-07-21 16:56] #17465 closed

[2021-07-21 17:36] DPUkyle commented on #1055
I just lost a few hours to this too :)

[2021-07-22 05:49] eskatos commented on #14624
One option to implement this would be to start over once CC is stored on first build, with the potential side effect of releasing the memory used by heavyweight configuration objects such as `Configuration` instances.

[2021-07-22 08:23] ChenJunXu commented on #15363
@brianreinhold @esiek

I found a solution. File -> project structure，switch annother jdk location，click "apply"，and then resume origin jdk location, and click "apply".

It work for me and  mine friends.

[2021-07-22 08:29] brianreinhold commented on #15363
@ChenJunXu Need to try that should it happen again. I just switched to OpenJDK and that solved it. Perhaps that is a manifestation of your solution!

[2021-07-22 08:31] wolfs opened #17802 "Incremental annotation processing does not find dependent classes with `proc:only`"
When doing incremental annotation processing with `proc:only`, compilation may fail because of some missing classes.

For example when you have a class `MyImmutable` which depends on `SupportType`, and then you only change `MyImmutable`, then `SupportType` is not passed to the Java compiler by incremental annotation processing, so it fails:

[code]

This did break in Gradle 7.1, and works with Gra

[2021-07-22 08:32] lptr opened #17803 "Gradle init is destructive even when cancelled"
There are a couple intertwined issues about running `gradle init`:

1) even if you hit `Ctrl+C`, some files will be created in the current directory,
2) accidentally running `gradle init` in your home directory leads to disappointing results (even if you hit `Ctrl+C` to cancel):
  - you get files like `gradlew.bat` in your user home
  - your `~/.gradle` directory will be deleted, with all the loca

[2021-07-22 08:32] wolfs commented on #17802
@oehme Can you take a look at this bug?

[2021-07-22 08:33] lptr commented on #17803
Some things we could do to avoid these problems:

- only create files once the user has finished and agreed to create the new project,
- check if there's a `.gradle` directory already in the current folder, and warn/fail,
- display the path where the new project will be created,
- keep Gradle's user configuration files and local state according to the XDG spec (see #17756) to prevent them being re

[2021-07-22 08:45] mlopatkin commented on #16213
This is somewhat related to the #16431

[2021-07-22 08:46] mlopatkin commented on #15868
This is somewhat related to the #16431

[2021-07-22 09:09] dgeissl commented on #16603
As I see it the problem is not about 2 jacoco agents writing to one file (as they are configured to append data and this is working as without problems). So writing 2 different files won't fix the problem at hand.

What I've observed is that the test task think's it is finished and then the output caching starts to zip the exec file, but only after that started the testing Gradle VM is terminated

[2021-07-22 10:12] eskatos commented on #13461
See https://github.com/gradle/gradle/pull/17403 and https://github.com/gradle/gradle/pull/17782

[2021-07-22 10:12] eskatos commented on #13460
See https://github.com/gradle/gradle/pull/17399

[2021-07-22 10:14] oehme commented on #17802
Yep, will do.

[2021-07-22 10:14] #13460 closed

[2021-07-22 10:14] #13461 closed

[2021-07-22 10:33] gmazzo commented on #16603
To simplify, the problem is that the `GradleRunner` lives longer than the `Test` task itself, and when you enable jacoco for it, it modifies the output `.exec` file while the Build Cache process is generating the cache bundle.

[2021-07-22 11:10] Vampire opened #17805 "Linux to Windows path transformation in bash wrapper and start scripts are erroneous"
If you use the bash wrapper script, within msys environment, for example `C:\Program Files\Git\usr\bin\bash.exe -l -i` from Git for Windows, the translation of paths does not work properly. Most probably it is the same for Cygwin, but I didn't test it, but it is the same code path.

If you for example do `./gradlew -p /bin`, then you get `./gradlew: line 152: Files/Git/usr/bin: No such file or dir

[2021-07-22 12:04] Vampire opened #17806 "bash wrapper and start scripts are veeery slow (20 s) on Cygwin with mounted network drives that are available right at the root directory"
The shell scripts do for the Cygwin path translation to find path arguments to be translated the command `find -L / -maxdepth 1 -mindepth 1 -type d`.
This should list all top-level directories to find absolute paths in the arguments.

The problem is, if you
- have mapped network drives (we have 11+ at work)
- maybe are additionally connected via VPN
- have the drives available at `/...` via symlin

[2021-07-22 12:46] Vampire opened #17807 "Linux to Windows path transformation in bash wrapper and start scripts do not work with a cygdrive mount at root"
This is related to #17805, but a different detail.

If you use a cygdrive mount at the root directory, the path transformation logic does not work properly for drives.
If you want to have things like `/c`, `/d` and so on available in Cygwin, there are two possibilities.
You can either keept the default mount line in `/etc/fstab` (something like `none /cygdrive cygdrive binary 0 0` and then add sym

[2021-07-22 13:29] andi5 commented on #15266
Hi, I just want to add that redefining **bright white** as something _non-white_ unfortunately makes problems in other terminal applications.

[2021-07-22 15:21] mbwhite commented on #17236
In case it helps. I believe I hit exactly this problem, and the solution that seems to work for me is

[code]

Order of these is important! `task sourcesJar` must come first, and you must also have `withSourcesJar()`

[2021-07-22 15:46] donat commented on #12232
It seems relatively simple to fix Gradle to not spam the memory with daemons in the presented networking configuration. I'm looking into this.

[2021-07-22 15:51] donat commented on #12232
@charlesritchea @d-boyadzhiev Any further investigation will require a stable reproducer environment. Would you be willing to help me setting up a virtual machine with a networking configuration that simulates your environment? I'm thinking of a Vagrant setup with an Ubuntu base box.

[2021-07-22 16:29] mlopatkin commented on #16182
If I understand correctly, `com.safelogic.cryptocomply.jcajce.provider.CryptoComplyFipsProvider` is a proprietary implementation of the Java crypto API. I don't have access to it, so I cannot reproduce the issue locally with 100% confidence. However, I suspect a potential misconfiguration. The provider `SunJSSE CCJ` syntax requires a provider with the name `CCJ` to be specified before (I. e. with

[2021-07-22 16:29] #16182 closed

[2021-07-22 16:56] Vampire commented on #8749
I was under the impression I had seen this fixed, but I right now cannot reproduce the fixed behavior neither with Gradle DSL nor Kotlin DSL.
I still get the faulty behavior. :-(

[2021-07-22 18:07] donat opened #17810 "IDE project sync has memory leak in ProtocolToModelAdapter"
After investigating a real-life memory dump, it seems like that `ProtocolToModelAdapter$ViewGraphDetails` contains an ever-increasing map.

![image (1)](https://user-images.githubusercontent.com/419883/126687317-eb81d5ec-977f-4800-b92e-709ede251299.png)

The `views` field contains almost a million entries taking up 2.3 GB retained heap size. Looking at the Gradle source code it seems like the map

[2021-07-22 18:45] autonomousapps commented on #17810
Since I don't know much about how this works, I have a naive question. Is this specific to IDE sync, or would it affect any TAPI build? For example, I think I'm seeing memory usage increase on each build when using gradle-profiler, which uses TAPI by default.

[2021-07-22 18:48] icnahom commented on #14958
Step 5 disables the internet shared to devices.

[2021-07-22 19:00] donat commented on #17810
This is a general TAPI problem, so your assumption might be valid.

[2021-07-22 19:05] oehme commented on #8749
Did you try with a basic project to make sure nothing else is re-assigning the field?

[2021-07-22 19:33] cederom opened #17811 "FreeBSD / *BSD support"
### Expected Behavior
I can run AndroidStudio 4.2 for Linux on FreeBSD. FreeBSD has nice built in Linux ELF emulation. Android Studio works fine on FreeBSD. Gradle is essential part of Android Studio, so I would like to see it working also on the FreeBSD with OpenJDK15.

### Current Behavior
At the moment Gradle does not work properly because it does not seem to recognise FreeBSD platform. Probabl

[2021-07-22 19:34] autonomousapps commented on #17810
For what it's worth, I searched in a non-sync heap dump (generated during a gradle profiler run) for ProtocolToModelAdapter, and didn't find anything. I did find other TAPI classes, but didn't dig in yet to see if anything was suspicious.

[2021-07-22 19:38] th-jtullgren commented on #10531
This still happens in 7+

[2021-07-22 19:39] big-guy opened #17812 "Gradle sometimes deadlocks at the start of task execution"
### Expected Behavior

Gradle should either detect & fail or avoid the deadlock situation.

### Current Behavior

Gradle deadlocks at the start of task execution.

### Context

This was raised in the context of a Kotlin/Android build, but I think something similar could happen with any task behaving this way.

Periodically, builds just hang and never fail or seem to get started (execution is at 0%

[2021-07-22 19:47] big-guy commented on #17812
I've reproduced this on master, but I assume it goes back several versions.

[2021-07-22 19:51] ZacSweers commented on #17812
Filed the KGP issue for kapt here https://youtrack.jetbrains.com/issue/KT-47853

[2021-07-22 19:53] big-guy commented on #17806
@Vampire could you try generating gradlew/start scripts with the 7.2 nightly? You can still keep using an older version of Gradle, just update the scripts.

These scripts were revamped and that find was removed.

[2021-07-22 19:56] big-guy commented on #17805
@Vampire could you check this again with 7.2? https://github.com/gradle/gradle/issues/17806#issuecomment-885190533

[2021-07-22 19:56] big-guy commented on #17807
@Vampire could you check this again with 7.2? https://github.com/gradle/gradle/issues/17806#issuecomment-885190533

[2021-07-22 20:21] Vampire commented on #8749
Yes

[2021-07-22 20:46] mathjeff opened #17813 "More docs about configuration caching, esp. with build services"
I've found some documentation about configuration caching at https://medium.com/androiddevelopers/configuration-caching-deep-dive-bcb304698070 and https://docs.gradle.org/current/userguide/configuration_cache.html#config_cache:requirements:use_project_during_execution which make it easy enough for me to migrate simpler apis to use Gradle's configuration caching.

However, it's hard for me to know

[2021-07-22 20:47] mathjeff commented on #17813
My current understanding of the way that configuration caching works is:

1. When configuration caching is enabled, most user-provided configuration logic doesn't execute; instead, the results of that logic get cached by Gradle and the results get reused.
2. Accessing a Project instance at task execution time is disallowed when configuration caching is enabled
3. Build configuration logic can decl

[2021-07-22 21:30] oehme commented on #8749
I checked and the [integration with the Java plugin](https://github.com/gradle/gradle/blob/master/subprojects/ide/src/main/java/org/gradle/plugins/ide/idea/IdeaPlugin.java#L376) is causing that issue. That wasn't covered by my unit test, which only uses the plain IDEA plugin.

[2021-07-22 23:26] Vampire commented on #17807
Nice, without the listing and instead just checking whether it is there it works much better, thanks.

[2021-07-22 23:26] #17807 closed

[2021-07-22 23:28] Vampire commented on #17806
I had a look at the changes and as the problematic find is gone, I assume it will be fast now.
I'll let the colleague test it that had the problem as I'm not using Cygwin anymore.
I'll close it for now and reopen it if there should still be the issue, but I don't think so, thanks.

[2021-07-22 23:28] #17806 closed

[2021-07-22 23:33] Vampire commented on #17805
The spaces work properly now, thanks.

What still is to be thought about is, why for msys the path translations are done at all, as msys does it already and there the user is even able to enable or disable the behavior.

Is it better that the script does the translation always, no matter how the user has set the MSYS environment variable, or is it better to let msys do the translation and let the

[2021-07-22 23:40] Vampire opened #17815 "Root level files get not path-translated for Cygwin (and msys) in the generated shell scripts"
The generated shell scripts in 7.1.1 and also the revamped ones in 7.2-20210722005157+0000 only translate paths from Linux notation to Windows notation if they are absolute and starting with an existing directory.

While it might be questionable why only _existing_ directories are translated, it is probably the most common case.
But if you have a root level file as argument like `/LICENSE.txt`, th

[2021-07-22 23:46] Vampire opened #17816 "GRADLE_CYGPATTERN should be injected into the template adjusted to the built application like GRADLE_OPTS"
The `unixStartScript.txt` template directly uses the variable `GRADLE_CYGPATTERN` which is meant to be supplied by the user of the script for adding patterns that should be sent through `cygpath`.

For the Gradle wrapper script this is perfectly fine, but the same template is also used for other applications built using the `application` plugin. And there the variable name should probably better b

[2021-07-22 23:54] ducrohet commented on #16919
This is not completely correct.
While this work for the case where there are capabilities (e.g. test-fixtures), for the case where there isn't any (ie just a normal dependency), the `ResolvedArtifactResult` shows an empty list. However `ResolvedDependencyResult.resolvedVariant` always contains a capability, even if it's just (`"build-name"`, `"project-name"`, `"unspecified"`).

This means the 2 AP

[2021-07-23 01:00] blindpirate commented on #17811
Thank you for your interest in Gradle!

This is an issue with the Android Gradle Plugin which is developed by Google and cannot be addressed in the core of the Gradle Build Tool.

Please open such Android-related issues on the Android Issue Tracker at https://source.android.com/source/report-bugs

[2021-07-23 01:00] #17811 closed

[2021-07-23 02:52] ducrohet commented on #16919
I've now done a bit more test and it looks like if the artifacts gotten via the `ArtifactCollection` have been process through an `ArtifactTransform`, the capabilities are lost.

I've created an [updated version](https://github.com/gradle/gradle/files/6866336/resolved-variant-capabilities.zip) of the repro case where I added an android-app sub-project that depends on a published android library th

[2021-07-23 06:12] jhyry-gcpud commented on #7746
I was facing this issue and after flailing, I finally realized it was the wrapper process that was causing this.
After modifying gradlew.bat default JVM opts to have more memory and use a more efficient Collector, this stopped happening.

[2021-07-23 07:50] ljacomet commented on #16919
Thanks for testing out the fix!
We will be looking into these additional reports.

[2021-07-23 08:21] adammurdoch commented on #17810
Is the heap dump from the Gradle daemon or the IDE? This type is used in both places.

[2021-07-23 08:29] mlopatkin commented on #17815
@big-guy could you please take a look at this as well, as you were touching the relevant bits recently?

[2021-07-23 08:29] mlopatkin commented on #17816
@big-guy could you please take a look at this as well, as you were touching the relevant bits recently?

[2021-07-23 08:39] ilor opened #17820 "Gradle sometimes deadlocking after desugaring enabled in Android project"
We've had a relatively stable Android Gradle build start randomly getting stuck after we've enabled desugaring in its config. Specifically, this was on Linux with Gradle 6.5.1 and com.android.tools.build:gradle:4.1.3 and the issue stated appearing after adding `coreLibraryDesugaringEnabled true ... coreLibraryDesugaring 'com.android.tools:desugar_jdk_libs:1.1.5'` to the project. This may be relate

[2021-07-23 08:39] ljacomet commented on #16134
@gradle/configuration-cache Could you take a look? These are currently available on `Project` but that would mean they cannot be used always.
It looks like the internal `FileOperations` service offers them though. Maybe it needs a public counterpart?

[2021-07-23 08:48] eskatos opened #17821 "Configuration cache should report a problem when variable declared with unsupported type is captured by a lambda"
For example:

[code]

Capturing `Configuration` instances is unsupported. With the above no problems are reported but the build reusing the configuration cache fails with `Caused by: java.lang.ClassCastException: class org.gradle.api.internal.file.DefaultFileCollectionFactory$ResolvingFileCollection cannot be cast to class org.gradle.api.
artifacts.Configuration`.

The Kotlin lambda capturing `fil

[2021-07-23 08:49] donat commented on #17810
It is from a Gradle daemon.

[2021-07-23 09:07] mlopatkin commented on #16107
This is unlikely to get implemented because accessors are generated before we look into the build script so we cannot extract information from it. We can imagine an API for plugin to say "generate accessors A, B, C, I'll provide some of them later depending on the exact configuration" but this leaves us to decide what the accessor should do if, for example, the A thing isn't provided. The plugin a

[2021-07-23 09:07] #16107 closed

[2021-07-23 09:45] BugsBunnyBR opened #17822 "Way to group dependencies with the same version when using VersionCatalogs"
I would like to have a way to specify a group of dependencies in a way that they share the same version, so it would be less verbose than the current way.

### Expected Behavior
If we could have something like this, it would be less verbose.
[code]

[code]
### Current Behavior

[code]
I need to set `versionRef('groovy')` for every dependency.

### Context
Having to declare dozens (or even hundreds

[2021-07-23 10:03] Fachher opened #17824 "Stop gradle build when "gradle detects a problem""
Hi,

### Expected Behavior

I want to have the ability to break the build if gradle detects a problem. Something like ./gradlew --break-on-problems. As these problems could be serious.

### Current Behavior
Quietly logged and mostly overseen.

[code]

### Context
Incorrect results being produced will be overseen

[2021-07-23 10:09] Vampire commented on #17806
Works perfectly fine now.
Still a bit slow if you actually have one of the mapped network drives as path (2 seconds) but as long as you do not reference any path or reference only local paths, it works perfectly fine now regarding speed.

[2021-07-23 10:19] blindpirate commented on #17824
You need to clarify what is "problem". If you mean break on any warning output, you can customize logging and abort the build upon any warning logs, or any specific texts. https://docs.gradle.org/current/userguide/logging.html

[2021-07-23 10:38] Fachher commented on #17824
Whenever gradle logs "Gradle detected a problem with the following", the build should be terminated. I want it to be reliable. Not that the gradle team change the wording and then my logchecker does not work anymore.

[2021-07-23 10:58] blindpirate commented on #17824
I see, I'm reopening it, but I don't thing it would be implemented in a short term.

[2021-07-23 12:00] obecker commented on #17824
There is already `--warning-mode fail` that does what is requested.

[2021-07-23 12:07] cesar1000 opened #17825 "Provide standard mechanism to declare a dependency on the Kotlin DSL plugin"
### Expected Behavior
Gradle should offer a standard mechanism for declaring a dependency with the Kotlin DSL plugin. So if my plugin contains a convention that references the plugin like this:

[code]

My request is to enable something like `implementation(gradleKotlinDslPlugin())` to declare this dependency.

### Current Behavior
As it is, the plugin dependency and its version are not available

[2021-07-23 12:48] cesar1000 opened #17826 "Allow declaring init scripts in a default location in source control"
### Expected Behavior
I'd like to be able to declare init scripts in a fixed location within my source control repository. For example, I'd like for Gradle to execute Gradle scripts in `GIT_REPO/gradle/init.d` automatically.

### Current Behavior
Gradle currently only looks for init scripts under `USER_HOME` and `GRADLE_HOME`. This makes it hard to enable automatic execution of versioned init scri

[2021-07-23 13:33] mlopatkin commented on #15938
Judging from the https://github.com/gmazzo/gradle-buildconfig-plugin/issues/10 I assume that the plugin was the culprit and the issue is now resolved, so I'm closing the issue.

[2021-07-23 13:33] #15938 closed

[2021-07-23 13:45] Fachher commented on #17824
Build will fail if in case of using deprecated method which will be removed in next version.

[2021-07-23 13:45] #17824 closed

[2021-07-23 13:56] mlopatkin commented on #13118
Thank you for your interest in Gradle!

This issue will be closed as a duplicate of #7496. Please add your +1's to that issue.

[2021-07-23 13:56] #13118 closed

[2021-07-23 14:25] mlopatkin commented on #15880
#11031 is related: we don't support TaskReferences in many places where tasks are accepted.

[2021-07-23 14:57] mlopatkin commented on #15224
We track the endless creation of daemons in unusual network configurations in #12232. Please add your votes/reproducers there.

[2021-07-23 14:57] #15224 closed

[2021-07-23 15:08] mlopatkin commented on #15343
This issue should be fixed in 7.0 by 83f43237865ce216bdfc4204a9cb99e6eaaa9616. Please check with the recent Gradle version. Feel free to reply if the issue is still reproducible, I'll reopen it then.

You can run without the daemon but this is a complicated task and this mode is being phased out, so I suggest not to pursue that.

[2021-07-23 15:08] #15343 closed

[2021-07-23 15:43] mlopatkin commented on #15380
This might be a relevant issue: #16748

[2021-07-23 16:12] mlopatkin commented on #14528
Could you please check Gradle 7+? There were changes in this area, in particular, the reachability check was removed.

[2021-07-23 16:45] HvB commented on #898
The workaround has just one drawback: eclipse doesn't regenerate _ressource.pref_ on _"Refresh Gradle Project"_ or when _"Automatic Project Synchronization"_ is enabled.
So I made a slightly modified version of the script as a custom task:

[code]
as the workaround, the task uses `compileJava.options.encoding` to define the project encoding, however, when a _"Refresh Gradle Project"_ is triggered,

[2021-07-23 16:46] mlopatkin commented on #15100
@IgorJoin could you please clarify a bit how exactly are you starting a debug session?  Are you using IDEA's GUI to start debugging?
![image](https://user-images.githubusercontent.com/7620037/126813870-8bb00877-433c-4c6e-ba2c-669a0d6fdf09.png)
I see that in this case IDEA is trying to debug a Gradle process instead of the process you're trying to launch. In the first case, it is smart enough to sw

[2021-07-23 17:41] hiljusti commented on #11184
Is this something that could be reopened? I also have the same exact use case Christian laid out. There's a similar (but less configurable) [example plugin](https://docs.gradle.org/7.1.1/userguide/init_scripts.html#sec:init_script_plugins) in gradle docs.

I'd be interested in putting together a contribution sometime in the next few months

[2021-07-23 18:06] autonomousapps commented on #15820
I ran into this but from a slightly different angle. Consider the following
[code]
Both the main build and buildSrc's build.gradle referenced a property with `providers.gradleProperty('mavenRepoUrl')`, and this property is defined in `gradle.properties`. When building with configuration cache, on the second time, I get this warning

I was able to resolve this problem by symlinking gradle.propertie

[2021-07-23 18:44] allen-ziegenfus commented on #3525
another workaround is to restore the symbolic links afterwards:

[code]

[2021-07-24 01:15] TLATER commented on #10588
See the linked issue. I'd very much like to be able to do gradle offline build for nix packaging purposes.

Any chance this could be reopened?

[2021-07-24 11:09] Fiouz opened #17829 "Inconsistent task selector behavior in multi-projects build"
### Expected Behavior

I expect Gradle to honor the task selector documentation regarding multi-project builds, so that I can execute multiple tasks that share the same name, by only specifying the unqualified task name.

https://docs.gradle.org/7.1.1/userguide/command_line_interface.html#executing_tasks_in_multi_project_builds

https://docs.gradle.org/7.1.1/userguide/intro_multi_project_builds.ht

[2021-07-24 14:19] xtexChooser commented on #17612
Please wait, I am going to test

[2021-07-24 14:23] xtexChooser commented on #17612
Yes, I works!

[2021-07-24 14:23] #17612 closed

[2021-07-24 14:23] xtexChooser commented on #17612
Thanks

[2021-07-24 18:21] goughy000 commented on #17575
Thanks kindly for your feedback @ljacomet, I went for the option of having a single `networkTimeout` and have raised PR #17830 for this change :)

[2021-07-25 00:54] Anatolii opened #17831 "Build fails when kotlin-dsl plugin is used and src/main/resources/init.gradle.kts file exists"
### Expected Behavior
When project contains <project dir>/src/main/resources/init.gradle.kts file, and `kotlin-dsl` plugin is used, the build should not fail

### Current Behavior
Build fails on Gradle versions from 6.8 and up, with following message in logs:

### Context
I have tests where I want to re-use an init script. I have a library which is providing the file and then test project depends

[2021-07-25 14:22] Vampire commented on #11184
The "repositories is not ExtensionAware so it doesn't work" is not correct, so this issues as described and as the title says is already present in Gradle. `RepositoryHandler` like almost all classes instantiated by Gradle, no matter whether Gradle ones or ones from 3rd party plugins, does implement `ExtensionAware` automatically, no matter whether it declares it explicitly in its source file or n

[2021-07-25 15:09] igorwojda opened #17832 "Improve reporting when the artifact resolution fails"
Now

If dependency will be rejected by such config:
[code]

then log does not show the real reason for dependency being not found:

[code]

The `google()` repo (containing the rejected dependency) is ignored and not displayed in the log. This gives the wrong impression that dependency lookup did not happened for this repo, while in reality it happened but this dep was rejected due to config - erro

[2021-07-25 18:14] iurysza commented on #15718
@gnarea I was able to work around this by using `useGpgCmd()`.
You need to point your keyring file to the appropriate envvar. You can get one with:
[code]
Then, you should create add a `SIGNING_KEY_RING_FILE` env var pointing to `path/to/keyring.gpg`
You should also provide the `SIGNING_KEY_ID` and `SIGNING_PASSWORD` env vars.

Still,  the problem remains when using the `useInMemoryPgpKeys`, which

[2021-07-25 19:24] iurysza commented on #15718
I was able to successfully sign with the `useInMemoryPgpKeys` method.
The issue is related to the `keyId` format.

Here's what I did:
[code]
Then you should **escape the output** and add it to your gradle.properties file, like so:
[code]
Then, you need to set your signing.keyId on the same file, but **only the last 8 characters**!
[code]
This did the trick! Previously, I was using the whole `keyId

[2021-07-25 21:30] adammurdoch commented on #17810
A large number of entries in a map does not necessarily mean this is a leak. The Studio model is enormous on this large build and could easily contain millions of objects in the graph. I think we'd need more data that this is, in fact, a leak.

The entries in the map are retained only by a decorated object, so will be discarded when the decorated object is discarded by the (Studio provided) build

[2021-07-26 00:54] 0eN commented on #16996
If you're on windows 10 desable Wi-Fi Hotspot, it's some Network Interface issue!

[2021-07-26 00:54] autonomousapps commented on #17810
Let me know if I can get you more information. Please include precise instructions if so (for example, run multiple syncs on the same daemon and get a heap dump before/after each one, etc).

[2021-07-26 01:55] ldaley opened #17833 "Exceptions thrown by user code in Kotlin scripts is ignored during IDEA sync"
In my case, I wanted to have the build fail-fast if a critical condition was not met. I added logic to `settings.gradle.kts` to throw an exception if the condition was not met. This worked, except for when performing “sync” in IDEA. There, the exception was silently thrown.

### Expected Behavior

The exception should have caused the build to fail fast, as it does when performing any other kind of

[2021-07-26 03:37] sdroselius commented on #13891
Why do you consider this a "bad" practice, if I may honestly ask?

[2021-07-26 03:43] sdroselius commented on #13891
Not just Eclipse.

Can you please clarify your objection to a project upon which other non-owning projects might depend?

[2021-07-26 03:57] sdroselius commented on #13891
_In many places we already assume that the root directory includes all the source code for the project. And it's a good assumption,_

No, that's an awful, ridiculous, harmful assumption.

Who's in charge of Gradle these days?

Because I'm a compass-point from telling my students it's a failed hot mess.

[2021-07-26 05:35] sdroselius commented on #13891
When you say "should", you make it a moral issue.

WTF is your actual problem, good respected sir?

[2021-07-26 08:13] hussainsherwani commented on #8489
@ljacomet  still facing the same issue in Gradle 6.9 . for me before it was working fine today I am getting this issue while I didn't change anything this

[2021-07-26 09:17] ljacomet commented on #17826
While the request has some appeal for a given use case, it also raises a number of questions:
* Is this a generic feature regardless of the source control system?
* How do you explain that it will not work when using `git export` or sending a disconnected archive copy?
* How does this behave in the face of Git subtrees and worktrees?
* How to make sure this does not get abused when all files are e

[2021-07-26 10:28] pshakhov commented on #6843
We also need this feature too - progress bar for tasks is most annoying, for projects with many subprojects output is very messy.

[2021-07-26 10:51] pioterj commented on #13891
@sdroselius Please follow our code of conduct at https://gradle.org/conduct/ if you want to participate in discussions in this issue tracker.

[2021-07-26 11:30] josemlechon commented on #12453
Happening too in 6.7.1 . Is there a reliable solution?

[2021-07-26 13:05] rinilnath commented on #5454
hi , I am using the gradle 7.1.1 and i still face this issue while connecting to the corporate Nexus URL. Despite having the correct proxy setting configurations (.properties) in place.
Any way we can fix this by work around ? If , no should i degrade to lower version of gradle ?
Need some work around on this please, till this issue is closed from Gradle end.

[2021-07-26 14:10] #15961 closed

[2021-07-26 14:48] bamboo commented on #17821
Do we already report it for arbitrary bean fields?

[2021-07-26 18:43] bamboo commented on #17833
I suspect this might be related to the Kotlin DSL model builder's leniency, https://github.com/gradle/gradle/blob/3f46045c68ec2db839c0b5c7239590f68a00dedf/subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinDslProviderMode.kt#L28-L29.

[2021-07-26 19:07] sdroselius commented on #13891
My apologies, comments deleted.

[2021-07-26 19:49] ccanning opened #17839 "Better Error reporting for name mismatch in catalog dependencies"
In my version catalog using lbs.versions.toml, I have:

[code]

In my build.gradle.kts, I have

[code]

and here is the error:

[code]

It would be very nice if it alluded to the fact that there is a name mismatch or if any searches related this error to the naming comvention: SprinGbootLibraryAccessors translates into sprin-gboot* in the [libraries] section.

[2021-07-27 02:57] cesar1000 commented on #17826
Thanks @ljacomet. My goal with this issue is to document a requirement for Gradle build initialization that is frequently encountered in a corporate environment: applying internal-only configuration from source control without polluting build scripts. A bunch of us are running into this (Twitter, Spotify, Square...) and can only resort to deploying and managing init scripts out of source control.

[2021-07-27 05:10] ALikhachev commented on #13490
https://github.com/avast/gradle-docker-compose-plugin/issues/307

[2021-07-27 07:06] #16064 closed

[2021-07-27 08:09] eskatos commented on #17821
@bamboo yes

[2021-07-27 08:40] mlopatkin commented on #15944
This was an intentional change in 6.0 and it is documented:
https://docs.gradle.org/current/userguide/upgrading_version_5.html#changes_to_build_and_task_names_in_composite_builds

[2021-07-27 08:40] #15944 closed

[2021-07-27 10:45] xeruf commented on #17750
Maybe, but I also have quite a backlog of contributions ^^ how about adding a help-wanted label?

[2021-07-27 12:28] paplorinc commented on #13957
I've spent 2 days investigating it, here's a short summary:
* I've experimented with injecting the latest serializer (actually just `ExceptionPlaceholder` where the`stackTrace` field is adjusted) in legacy Gradle versions - serialization works, but it overrides too much (inclusion is parent package based)
* Talked with Donat and Sterling - they've recommended e.g. https://gradle.slack.com/archives

[2021-07-27 13:00] lptr commented on #13891
We'd like to push towards a model where the file system area underneath the project root directory is treated specially: during a build this area should be mutated exclusively by Gradle and the tools that are invoked as part of the build. Enforcing this separation of scope between Gradle-owned vs everything else allows us to safely optimize execution.

We also offer the option to split your build

[2021-07-27 13:18] ArvinB commented on #17626
Question: Will Gradle 7.2 be GA'd and released soon?

[2021-07-27 13:34] shuttsy opened #17844 "6.8 upgrade to 7.1.1 downgrades to 6.5.1"
Attempting to upgrade an existing Java project that is on grade 6.8 to 7.1.1 by running the following command:

./gradlew wrapper --gradle-version=7.1.1

results in a BUILD SUCCESSFUL output but the project has been downgraded to 6.5.1.

### Expected Behavior
distributionUrl in gradle-wrapper.properties amended to
distributionUrl=https\://services.gradle.org/distributions/gradle-7.1.1-bin.zip
OR
B

[2021-07-27 13:59] mlopatkin commented on #15977
It seems that Java is not able to understand Unicode characters in the command-line arguments. This is related to the default encoding of the non-Unicode software setting:
![image](https://user-images.githubusercontent.com/7620037/127163353-ceaddc14-5275-457e-8e9a-878a3a05727f.png)
If I change this setting from "Russian (Russia)" to "English (USA)" then the reproducer starts to work but projects w

[2021-07-27 13:59] #15977 closed

[2021-07-27 14:00] mlopatkin commented on #14708
#15977 turned out to be Windows-specific, so I'm reopening this one instead.

[2021-07-27 14:26] abs0 commented on #16568
Tested a './gradlew hello' with a build.gradle as below, with logs from 6.4.1 and 7.1.1:

Is there an option to bypass the native integration on a supported platform to run a test to cross check?

Thanks

[code]

[7.1.1-daemon.out.log](https://github.com/gradle/gradle/files/6886233/7.1.1-daemon.out.log)
[6.4.1-daemon.out.log](https://github.com/gradle/gradle/files/6886234/6.4.1-daemon.out.log)

[2021-07-27 14:34] abs0 commented on #16568
Matching log from openjdk8, gradle 7.1.1

[7.1.1-openjdk8-daemon.out.log](https://github.com/gradle/gradle/files/6886344/7.1.1-openjdk8-daemon.out.log)

[2021-07-27 14:42] #17844 closed

[2021-07-27 15:19] shuttsy commented on #17844
Unknown to me, someone had overridden the distributionUrl for the wrapper task and hardcoded to 6.5.1

[2021-07-27 15:19] samloba commented on #16996
thank you very much. This solve my problem with react-native (win10)

[2021-07-27 15:30] lptr commented on #13766
Sorry, no. There are many competing priorities now and I am not sure we'll get to this in the foreseeable future.

[2021-07-27 16:11] dcabasson opened #17848 "Excluded dependencies are visualized in dependency resolution results when required by another dependency"
### Expected Behavior

Given dependency declarations such as:

[code]

and the module `com.company:foo:1.0` declaring a dependency on `com.company:bar:1.0`,

Gradle's expressed model of the dependency graph should not indicate that `com.company:foo:1.0` depends on `com.company:bar:1.0` in the graph.

This affects at least:

1. The gradle `dependencies` task and related tasks
2. The [ResolutionResu

[2021-07-27 16:19] dcabasson commented on #17848
reproducer:
[gradle-17848.zip](https://github.com/gradle/gradle/files/6887183/gradle-17848.zip)

[2021-07-27 17:20] novasbc opened #17849 "Provide override for enforcedPlatform(Provider<MinimalExternalModuleDependency>) similar to platform"
We would like for an override to exist for `enforcedPlatform(Provider<MinimalExternalModuleDependency>)` similar to the incubating method already present for [platform](https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.dsl.DependencyHandler.html#org.gradle.api.artifacts.dsl.DependencyHandler:platform(org.gradle.api.provider.Provider))

### Expected Behavior

`org.gradle.api.artifacts.ds

[2021-07-27 17:30] utsav0209 commented on #10527
@martinbonnin I am facing a similar issue with sonarqube. Have you found any workaround or root cause for this?

[2021-07-27 17:40] hiljusti commented on #11184
Thanks @Vampire !

Maybe my struggles are because I've been trying to test this out in an init script instead of a plugin? Also I'm trying to apply this both to the "buildscript" closure and the build itself.

I've tried something similar but with Kotlin init script -> Groovy build script, I continue ending up with errors like this:

[code]

I'll try it out with a plugin when I can make some time

[2021-07-27 17:40] martinbonnin commented on #10527
@utsav0209 I ended up increasing the Java heap and metaspace:

https://github.com/apollographql/apollo-android/blob/59bc9ca38ea9bc4b9fbe2b01ba8f4d38340c260a/apollo-gradle-plugin/src/test/kotlin/com/apollographql/apollo3/gradle/util/TestUtils.kt#L31

[2021-07-27 18:02] ZacSweers commented on #17826
Toss Slack in that list :). We maintain a separate `bootstrap` script in the repo that we ask developers to periodically run to setup/optimize their local environments

[2021-07-27 18:54] autonomousapps commented on #17826
Please add Square to this list as well. Here's our current primary use-case:

Every one of my increasingly large number of `settings.gradle` scripts has this block at the top
[code]
or something like it, often even more (thanks to included builds, a Gradle best practice!). It's starting to really annoy my reviewers. This boilerplate cannot be eliminated except by use of init scripts.

[2021-07-27 21:32] Vampire commented on #11184
Well, doing it for Groovy consumption in an init script works perfectly well:
[code]
The problem is, for Kotlin you cannot provide the extension function inside a `*.kotlin.kts` file, but you need to have it in a regular `*.kt` file that then is part of the class path of the build script just as I descibed above.

[2021-07-27 22:57] #17626 closed

[2021-07-27 23:11] big-guy commented on #17805
@Vampire This may be a relatively new addition (7.1): https://github.com/gradle/gradle/pull/17241

The special casing of msys has always been there, but we started treating more operating systems (reported by uname) as MSYS because people reported this as broken. MSYS was treated the same as MINGW.

Is it possible that MSYS's automatic translation only works for certain cases, but fails for someth

[2021-07-28 06:39] ICHx commented on #13279
Make it for all possible usages

[code]

[2021-07-28 06:48] adammurdoch commented on #17803
This PR removes the deleting of the `.gradle` directory (plus some other stuff): https://github.com/gradle/gradle/pull/17853

btw, running `gradle init` in your home directory was actually the only Gradle invocation that would not delete the `~/.gradle` directory. Instead, it would happen on any other invocation, for example when running `gradle` or `gradle help` or `gradle build`.

[2021-07-28 07:53] NielsDoucet opened #17855 "Capability resolution isn't always applied as expected"
When applying the [logging-capabilities plugin](https://github.com/ljacomet/logging-capabilities) and enforcing logback, it still allows slf4j-simple to be on the runtime classpath, alongside logback.
Some other module's metadata is preventing the capability resolution to function as expected.

### Expected Behavior

Only logback should be on the runtime classpath, due to the conflict resolution p

[2021-07-28 08:53] augi opened #17858 "TaskProvider serialization support for Configuration cache"
I'm trying to adapt [Gradle Docker Compose plugin](https://github.com/avast/gradle-docker-compose-plugin/) to the [Configuration cache](https://docs.gradle.org/7.1.1/userguide/configuration_cache.html) feature.

We have an extension that defines _regular_ properties set by users and read by tasks, and also few `TaskProvider` instances that are useful for users, mainly to setup correct dependencies

[2021-07-28 08:57] brainbytes42 opened #17859 "Source Dependency for GitHub doesn't work + no recent Documentation"
### Expected Behavior
Following this gradle-blog's post introducing [source dependencies](https://blog.gradle.org/introducing-source-dependencies), I tried to include a project from GitHub as a dependency. I need to use the latest commit, not the latest release, so I can't use the published artifact but need the latest snapshot.

I expected to have the latest code from head checked oud and compile

[2021-07-28 09:03] mlopatkin commented on #17859
The build you're referring to is not a Gradle build but a Maven build. Using Maven builds as a source dependency (or included build) is not supported.

[2021-07-28 09:03] #17859 closed

[2021-07-28 09:21] martinbonnin commented on #1835
@lacasseio pointed out to me that Nokee redistributes artifacts for each version of the Gradle API: https://docs.nokee.dev/manual/gradle-plugin-development.html#sec:gradle-dev-redistributed-gradle-api

The following works for me:

[code]

[2021-07-28 09:55] rieske commented on #16857
This is also related (Kapt does not work on Java 17): https://youtrack.jetbrains.com/issue/KT-47583
This prevents Gradle's Android plugin smoke tests from running on Java 17.

[2021-07-28 13:29] lptr opened #17865 "Renaming and recreating the project directory causes Gradle to lose track of changes on Windows"
In one build we've seen Gradle fail to compile a subproject (`:build-agent-maven-test-distribution:compileJava`) because it ended up compiling against an outdated version of classes for one of the dependency subprojects (`:test-distribution-client`).

This is a serious issue as it affects build reliability. Here's the result of a very long investigation about how that happened:

* We ended up with

[2021-07-28 13:37] lptr commented on #17865
One thing we could easily do to prevent this specific problem of Swabra renaming the watched directory is to prevent renaming. We can do it by removing `FILE_SHARE_DELETE` from the flags we give when we open the watched directory. This would prevent the watched directory from being deleted or renamed.

https://github.com/gradle/native-platform/blob/0f0b4440a027fe795a6d7304c498243b15f4fc8e/file-eve

[2021-07-28 13:46] lptr commented on #17865
We could also reach out to JetBrains to make Swabra delete the checkout directory in a better way.

[2021-07-28 14:17] solvingj commented on #12049
+1 i need this

[2021-07-28 14:50] soulskill commented on #16777
Gradle `7.1.1` seems to have fixed this issue.

[2021-07-28 14:53] lptr commented on #17865
Yet another option, just to have everything on the table, is to somehow not enable FSW on CI by default. This would obviously require Gradle to be aware somehow whether we are running on CI or not.

[2021-07-28 15:57] big-guy commented on #17816
I decided to just remove this (https://github.com/gradle/gradle/pull/17854) since we handle detecting paths in a different way now.

[2021-07-28 15:57] #17816 closed

[2021-07-28 15:57] big-guy commented on #17815
I believe this is fixed in https://github.com/gradle/gradle/pull/17854

[2021-07-28 15:57] #17815 closed

[2021-07-28 17:17] wolfs commented on #16568
I still don't know what is going on :( I somewhat expect that [NioFileMetadataAccessor](https://github.com/gradle/gradle/blob/30cab53062b32ad61d48031c4faec6756bd115da/subprojects/native/src/main/java/org/gradle/internal/nativeintegration/filesystem/jdk7/NioFileMetadataAccessor.java#L31) is broken somehow on NetBSD. Which is strange, because it works on other operating systems.

I wonder if you cou

[2021-07-28 18:33] lptr commented on #13766
Let ma add a bit more context here. We value the work done by contributors highly, and appreciate the features we gain this way, like your improvements around incremental compilation that we've integrated recently. These external contributions have been dominating our workload recently, and we now need to focus on some fundamental infrastructural work before we can get back to them. The plan is to

[2021-07-28 18:51] lptr commented on #17865
There's another thing we can do: we could (perhaps at the start of the build, or every ten minutes etc.) check if our watchers still point to where they are supposed to. We keep hold of a file handle that we can use to retrieve the full path of the watched directory, and match it against the registered location.

We could do something like `FileWatcher.stopWatchingMovedLocations()` that would stop

[2021-07-28 19:38] mcumings commented on #12376
This had me thinking my build was stuck.  The only indicator I had that progress was being made was the percentage complete bar and some very occasional console output.

One idea:  console mode `auto` could take this into account and automatically transition back to `plain` behavior if worker count exceeds available render height

[2021-07-28 19:38] lptr commented on #17865
We could also go crazy, and check the current location of the watched directory against the registered path every time we receive notifications. This would slow things down to some degree, though probably not in any significant way. It's a less leaky solution than checking the location at arbitrary times, and it does not require changing the `native-platfomr` file watching APIs. It also doesn't re

[2021-07-28 20:37] rspido opened #17870 "War plugin's providedRuntime configuration does not inherit runtime dependencies defined in a java-platform bom on Gradle 7"
Until Gradle 6, it was possible to declare version-less dependencies in configuration providedRuntime for dependencies that are declared as runtime dependencies in a platform bom.
It no longer works on Gradle 7.1.1

### Expected Behavior
Dependency versions to be resolved as before

### Current Behavior
Gradle 7.1.1 cannot resolve the versions. It fails with the following error:

[code]

### Steps

[2021-07-28 20:41] rspido commented on #17870
The root cause of this issue might be https://github.com/gradle/gradle/issues/17415

[2021-07-29 08:25] lyntree opened #17873 "BuildSessionServices.createFileHasher()."
Hello,

It all started last week when I went into my code to integrate Firebase Auth & Firebase Core for a new feature for my client. Amongst trying to create the build to even run it on the simulator Gradle Broke...

So I tried upgrading **Gradle Wrapper from 5.3.0 up to 7**, let's just say that didn't work... after realising that this morning I have removed 7 via brew and installed 6.90 minimum

[2021-07-29 08:36] wolfs commented on #17865
This has the problem of not detecting if somebody only moves the project directory, but doesn't delete/modify any files in it. Gradle would keep thinking that it watches the location of the project directory, but it actually doesn't.

[2021-07-29 08:46] lptr commented on #17865
It looks like other file watchers like Watchman also allow for `FILE_SHARE_DELETE`. This is another reason not to forbid it.

[2021-07-29 08:49] lptr commented on #17865
Yet another option would be to change the API of file watching in `native-platform`, exposing more of the underlying infrastructure. Specifically, we could expose each `WatchPoint`, and let them report relative paths on Windows at least. This way at least `native-platform` would stay consistent when watched directories have been moved around. It would still require some sort of way for Gradle to c

[2021-07-29 08:53] lptr commented on #17865
I think I'd like to do the following:

- have an API for the Windows-specific watcher where it specifically returns the current mapping from original path -> current path
- Gradle should call this new API and unregister any paths and drop VFS where the current path is different to the original
- optional: let `native-platform` reports the (absolute) paths correctly after a directory has been moved

[2021-07-29 09:14] matejdro opened #17874 "Version catalogs do not work in resolutionStrategy"
### Expected Behavior

In `myproject/settings.gradle.kts`:

[code]

In `myproject/gradle/libs.versions.toml`:

[code]

In myproject/build.gradle.kts:

[code]

From what I understand, version catalog should be in-place replacement for string library representation and should work anywhere, even in resolutionStrategy.

### Current Behavior

Build fails with following exception:

[code]

### Context

[2021-07-29 09:34] jbartok commented on #17803
Thank you, I will look into reverting the changes of this PR.

[2021-07-29 09:37] mlopatkin commented on #14708
Fixed in #16055.

[2021-07-29 09:37] #14708 closed

[2021-07-29 09:52] lptr commented on #17865
I have filed https://youtrack.jetbrains.com/issue/TW-72497 to fix the short names thing with Swabra. The rename+delete thing is not something they should fix I think.

[2021-07-29 11:56] theAkito commented on #14889
Adding the following to my `build.gradle.kts` file fixed this unnecessary issue:

[code]

The solution from the previous comment only works for obsolete `build.gradle` files.

[2021-07-29 11:58] leonard84 opened #17877 "Tests hang due to deadlock between OutputEventRenderer and ThrottlingOutputEventListener"
### Expected Behavior

Tests complete normally

### Current Behavior

Gradle hangs forever executing tests.

### Context

This occurs only when parallel execution is enabled.

Here a two example deadlocks:
[deadlock.txt](https://github.com/gradle/gradle/files/6900281/deadlock.txt)
[deadlock2.txt](https://github.com/gradle/gradle/files/6900282/deadlock2.txt)

### Steps to Reproduce

Checkout https:

[2021-07-29 13:55] JadeWu233 opened #17878 "About Gradle Enterprise function of buildScanPublished（）"
<!---
Hi,gradle is a great build tool. I would like to express my sincere thanks.
Today, I encountered some problems in the process of using it. I need to collect the build-scan information after compiling, but at this time I fail to visit the URL of build-scan.

### Expected Behavior
I need to get the Build-scan information immediately after the compilation is complete.I use the BuildScanPublishe

[2021-07-29 14:17] IgorJoin commented on #15100
@mlopatkin answering your question: I used the built-in debug from IntelliJ, that is, clicking on the build.gradle file and selecting debug as. The key point of this problem is the 'doLast' option in the script. Why, when it is present, the debug behaves like it is not debugging the java process (ignoring breakpoint)? Just out of curiosity, I had to use Cucumber's JUnit runner framework [here](htt

[2021-07-29 16:37] romulof commented on #12374
Please don't use exit code 2 as it is used by Bash as script failure.
If you're running Gradle inside some automation script that has, for instance, a syntax error, it will output exit code 2 which will be confusing.

[2021-07-29 16:38] mathjeff opened #17879 "Easy way to prevent changes in buildSrc from invalidating tasks defined by plugins"
AndroidX would like it to be the case that when we make changes to buildSrc, those changes don't automatically invalidate compileKotlin tasks (which are coming from an external kotlin plugin) unless those changes affect task inputs.

In particular, we would like the classes in buildSrc to not automatically be on the classpath of compileKotlin tasks and not automatically have the ability to modify

[2021-07-29 16:42] mathjeff commented on #17879
Also interesting is that https://r.android.com/1749367 accomplishes this specifically for AndroidX by splitting our buildSrc plugins into two groups: those that must be on the classpath (which can invalidate compileKotlin tasks) and those which do not need to be (which do not automatically invalidate tasks when changed; they are created in other classloaders by intermediate .gradle scripts, and th

[2021-07-29 16:48] Vampire commented on #17805
Actually I don't see why it shouldn't work except if disabled using environment variable:
[code]
But I'm also no msys expert, so I might be wrong as well.

How about keeping the `cygpath` logic in the script template also for msys,
but allowing to disable it on demand with some environment variable like `<the built program>_NO_PATHCONV` or `<the built program>_ARG_CONV_EXCL="*"`?
In the MSYS from

[2021-07-29 17:29] ljacomet commented on #17826
Hey folks,

I want to clarify my answer which was somewhat besides the point since I picked on the example instead of focusing on the use case.

The use case makes sense and it would be great to have a good solution for it. We would need to clarify what should be the responsibility of Gradle vs. the general setup of a dev environment inside a company. I am currently not convinced that the solution

[2021-07-29 18:29] gavra0 opened #17880 "[Configuration cache] Using convention mapping with archiveName on Jar task causes failure"
Original issue: https://issuetracker.google.com/193558867

With
[code]
running `./gradlew jar --configuration-cache && ./gradlew jar --configuration-cache ` fails with
[code]

This started failing with Gradle 7.1. Although this does not actually do anything, it is used in the [Kotlin MPP plugin](https://github.com/JetBrains/kotlin/blob/cdbd0eb93267491643b716457e1134c7bd31d91f/libraries/tools/kotli

[2021-07-29 18:59] tyates-indeed commented on #15509
Are there plans to backport this fix to Gradle 6.x?

[2021-07-29 19:37] lptr commented on #15509
It is available in Gradle 6.9: https://docs.gradle.org/6.9/release-notes.html#native-support-for-apple-silicon

[2021-07-29 20:49] liutikas opened #17882 "Make MinimalExternalModuleDependency#toString work"
Consider:
[code]
and `gradle/libs.versions.toml`
[code]

### Expected Behavior
`MinimalExternalModuleDependency.toString()` returns `com.android.tools.metalava:metalava:1.0.0-alpha04`

### Current Behavior
`MinimalExternalModuleDependency.toString()` returns `org.gradle.api.internal.artifacts.dependencies.DefaultMinimalDependency@5e055771`, so we have to write our own getDependencyAsString functio

[2021-07-29 21:54] liutikas opened #17883 "Add lazy/provider API for setting Task#setDescription"
### Expected Behavior
`Task` has provider API for task description

### Current Behavior
Today `Task` only has [`setDescription(String)`](https://docs.gradle.org/current/javadoc/org/gradle/api/Task.html#setDescription-java.lang.String-) API

### Context
In our project task descriptions often combine various inputs (e.g. destination where the value will be written out)

[2021-07-30 00:39] ghidra1 commented on #17660
In defining `defaultPlatformDefinitions` the class `org.gradle.nativeplatform.platform.internal.NativePlatforms` attempts lookup of `armv8` architecture which will fail and return a `DefaultArchitecture` without the other aliases. The `org.gradle.nativeplatform.platform.internal.Architectures` class should update its 64-bit ARM `KnownArchitecture` construction to include `armv8`:
`
new KnownArchit

[2021-07-30 00:45] ghidra1 commented on #17660
It would also seem appropriate to change `org.gradle.nativeplatform.platform.internal.ArchitectureInternal` to add an `isArm64()` method and avoid the ambiguity with the `isArm()` method.

[2021-07-30 01:12] #17880 closed

[2021-07-30 06:10] matejdro opened #17890 "Add separate idle timeout for last daemon"
### Current Behavior

`org.gradle.daemon.idletimeout` is the same if there is 1 daemon running or if there are 10 daemons running

### Expected Behavior

Provide two timeout options:

* When daemon is the only daemon running on the machine (last daemon)
* When there are other daemons still running

### Context

I'm currently working on a project that creates very memory intensive gradle daemons -

[2021-07-30 06:32] matejdro commented on #14741
I'm also in a similar position when juggling different projects.

* Projects are shared with different people, so we are forced to use gradle wrapper (that way everyone uses same gradle version). For the same reason we are sometimes forced to use different versions of Gradle (project A updates, but project B did not update yet)
* Does Android Studio also auto-close daemons? I do not remember that

[2021-07-30 08:13] remcomokveld opened #17892 "TestKit functionality to validate lazy task configuration"
To make it easier for plugin developers to validate their plugin's behavior it would be nice to have something available in the TestKit that allows validating that no task configuration.

### Context
At this point, plugin authors can write a test with a gradle file like below to
[code]
Then run `help` and ensure that the output of the test runner does not contain any lines that start with `task-co

[2021-07-30 08:37] ljacomet commented on #17890
It could be nice indeed to have shorter timeouts for daemons when there are compatible ones running.

[2021-07-30 08:44] #17878 closed

[2021-07-30 08:49] davidburstromspotify opened #17893 "PMD regression in auxclasspath generation in Gradle 7.2-rc-1"
The auxclasspath for the `test` source set no longer contains the `main` output, which leads to type resolution issues when the test classes reference the production classes (which they typically do).

### Current Behavior

Running `pmdTest --debug` in Gradle 7.1.1 prints
[code]

whereas running the same in Gradle 7.2-rc-1 prints only

[code]

### Context

I want to have accurate PMD analysis and

[2021-07-30 09:11] SalahAdDin commented on #15538
It does still not work with the official release.

[2021-07-30 09:11] SalahAdDin commented on #16641
I have the same problem with the official release.

[2021-07-30 09:24] dreis2211 commented on #16857
@rieske Do you have any possible solution for the ProjectBuilder problem already?

[2021-07-30 09:33] WangJie0822 commented on #17831
I had the same problem with my project when upgrade Gradle to version 6.8 or later:

* Error log:
[code]
* gradle --debug
[code]

[2021-07-30 09:36] blindpirate commented on #17831
@WangJie0822 Your error is a different one, it's clearly said in debug log, you got blocked by GFW.

[2021-07-30 09:56] JervNorsk commented on #15726
Yes, I need it

[2021-07-30 10:53] SalahAdDin commented on #16641
I have the same problem with the official release.

I solved it by downgrading the SDK version, but it should be not required since getting old versions from the official Java website requires to login there while the last one does not need it.

[2021-07-30 11:18] #13732 closed

[2021-07-30 11:43] chrisr3 commented on #6881
Interesting. I have tried creating a detached configuration that extends from another detached configuration, both from the same configuration container. The first configuration contains a dependency without a `version`, and the second contains a relevant `platform` dependency. My hope was that I could resolve the first configuration and then examine the `ResolveConfiguration`'s only `firstLevelMo

[2021-07-30 12:02] CrazySage opened #17897 "Gradle spends lots of time in Waiting\Aquiring\Releasing lock on daemon addresses registry."
During gradle build with cmake on jenkins there are some heavy freezes from 20secs to 1.5min with following messages in loop:

[2021-07-02T10:28:12.542Z] 2021-07-02T13:28:11.775+0300 [LIFECYCLE] [org.gradle.cache.internal.DefaultFileLockManager]
[2021-07-02T10:28:12.542Z] 2021-07-02T13:28:11.775+0300 [DEBUG] [org.gradle.cache.internal.DefaultFileLockManager] Waiting to acquire shared lock on daemo

[2021-07-30 13:28] cederom commented on #17811
Thank you @blindpirate :-) I have reported according to your hints: https://issuetracker.google.com/issues/195035561

[2021-07-30 14:52] emmanuelguerin opened #17905 "Random errors or build hanging forever with task outputs derived from a configuration"
Our company has a complex multi project build with custom plugins built in house. In some instances, the build seems
to hang after completing a task and waiting indefinitely, not running any more tasks.
We also have had some random failures:
[code]

### Expected Behavior
The build finishes (with error or not) and a message that explains what to change in the configuration if necessary.

### Curren

[2021-07-30 15:00] emmanuelguerin commented on #17905
I did some debugging and found the following strange behaviour:
- one execution worker reached the selectNext method of the execution plan and considers the taskWithProblem. The other workers seem to properly wait using the lock in DefaultResourceLockCoordinationService.withStateLock.
- that worker then attempts to resolveMutations on the node.
- This reaches the `DefaultConfiguration.resolveToSta

[2021-07-30 15:31] DanySK commented on #14347
It is working correctly with the Tooling API. @big-guy, you framed the issue correctly.

[2021-07-30 15:31] #14347 closed

[2021-07-30 16:04] leonard84 commented on #14517
Just ran into this issue, maybe we could display a more helpful error message. It was actually rather simple to change the `apply from` to another convention plugin.

[2021-07-30 17:25] andreimarcut commented on #16779
It's still happening on a Gradle configuration version of 7.0.0 and \`kotlin-dsl\` with kotlin-gradle-plugin version 1.5.10
[code]

[2021-07-30 18:29] mlopatkin commented on #17877
To clarify: it is the test worker process that hangs. The issue is reproducible. So far it seems that we misconfigure the logging subsystem for the embedded integration test and we have a cycle: ThrottlingOutputEventListener tries to flush everything into OutputEventRenderer, but the former is also added as a formatter to the latter. Logging is somehow configured differently if the parallel test e

[2021-07-30 19:04] li-wjohnson opened #17907 "Provider.map { null } does not drop implicit task dependency"
Gradle 7.1

Example:

[code]

Even though `t1.map { null }` clearly returns null, the task dependency is still added: both task1 and task2 are run. I assume this is because `t1.map { <anything> }` has an implicit dependency on `t1`. Is this expected?

[2021-07-30 19:07] li-wjohnson commented on #17907
This is a contrived example -- I'm trying to have a conditional dependency on task1, based on the return value of some provider. Ideally I'm looking for:
[code]
without eagerly evaluating `someProvider`. I had tried
```t2.dependsOn(t1.map { t -> if (someProvider.isPresent) null else t })```
but that didn't work because of this issue.

[2021-07-30 19:41] scott-pollom commented on #16976
PS - We're taking a different approach for AGP's packaging task because forcing the task to run non-incrementally caused too much of a performance regression, so I don't think we need this feature after all.

[2021-07-30 22:28] counter-reverse commented on #13020
I am still on this issue. Do not loose hope.

[2021-07-30 22:30] big-guy commented on #16231
dupe https://github.com/gradle/gradle/issues/16292

[2021-07-30 22:30] #16231 closed

[2021-07-30 22:32] big-guy commented on #16292
![image](https://user-images.githubusercontent.com/5387972/127717892-f921ae4c-5ca8-4935-8f7b-5c318962d1ca.png)

We've deployed a fix that sorts versions in a more expected way.

[2021-07-30 22:32] #16292 closed

[2021-07-31 05:49] #17812 closed

[2021-07-31 07:08] lyntree commented on #17873
Does anyone know how to sort this?

[2021-07-31 08:24] DevAmma237 commented on #16996
I also disabled the Hotspot and it works. Thanks

[2021-07-31 12:54] LongshotTeam opened #17908 "java.io.IOException: The pipe is being closed -"
file or directory 'C:\Users\cdora\Desktop\swm-common-userinterfaceclient-entitlementorderservice\src\test\resources', not found
Skipping task ':processTestResources' as it has no source files and no previous output files.
:processTestResources (Thread[Execution worker for ':',5,main]) completed. Took 0.0 secs.
:testClasses (Thread[Execution worker for ':',5,main]) started.

Skipping task ':testCla

[2021-07-31 12:56] LongshotTeam commented on #17908
![image](https://user-images.githubusercontent.com/40361258/127740609-d1b988df-c723-4303-8850-5dcdf06bedb8.png)

[2021-08-01 10:10] JadeWu233 opened #17912 "a "error" about build-scan buildScanPublished interface"
Hi,First of all thanks for your gradle tool.

When I was using buildscan, I wanted to access the website to get information immediately after publishing, so I called back the buildScanPublished interface. And I set UploadingBackground to false.
The documentation of buildScanPublished stated that the upload of the build information should be completed at this time, but my visit has been in the Uplo

[2021-08-01 15:59] anticafe commented on #16777
I'm using Gradle Wrapper 7.1.1 and still get that issue.

Note: I'm also using Ktlint Gradle plugin: `id "org.jlleitschuh.gradle.ktlint" version "9.4.1"`

[2021-08-02 08:42] mlopatkin commented on #17908
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

This issue will be closed after 7 days, unless you can provide more information.

The stack tra

[2021-08-02 09:34] runningcode opened #17914 "`gradle.settingsEvaluated` and other callbacks should fire even when registered after being fired"
`settingsEvaluated` callbacks and other callbacks like `afterEvaluate` should fire even when they are registered after the original callback was fired. This can lead to surprising behavior in builds when the callbacks do not fire as expected.

The below example will not print anything if added to a project's `build.gradle` file.
[code]

Another alternative would be to have a warning displayed that

[2021-08-02 09:37] leonard84 commented on #17914
One thing to Keep in mind, that this could also lead to some unexpected effects, as the code would run later that one might think. That might not be an issue if you only want to read from the settings object, but if you modify stuff, this could have weird effects.

[2021-08-02 10:35] ldaley commented on #17912
Hello @JadeWu233.

The documentation is outdated and incorrect. There is currently no way to be notified when the the uploading has completed from the plugin.

You will need to poll/retry the link given until the upload has completed.

[2021-08-02 10:36] Vampire opened #17916 "Path sensitivity `NONE` in incremental task causes same file to be added then removed"
If you have an incremental task with an input with path sensitivity `NONE` and run that task incrementally, you get two changes in `inputChanges.getFileChanges(inputWithoutPathSensitivity).forEach { ... }`, first an `ADDED` for the changed file, then a `REMOVED` for the same file.

This can of course be appropriate, as I defined I'm not interested in the file path, just in the content.
But it neve

[2021-08-02 10:41] lptr commented on #17914
If we decide to not allow these late registrations, then I think we should fail. A deprecation warning might be an intermediate step, though.

[2021-08-02 12:18] thuytrinh commented on #16777
@anticafe [ktlint-gradle v10.1.0](https://github.com/JLLeitschuh/ktlint-gradle/releases/tag/v10.1.0) + Gradle v7.1.1 resolved this issue for me.

[2021-08-02 14:36] vandanagoyal-ak commented on #16820
@hrstoyanov  how did you fix it?

[2021-08-02 14:55] emmanuelguerin commented on #17905
It seems this is the same as #17013

[2021-08-02 15:21] carlosame opened #17919 "`clean` task does not remove `buildSrc/build`"
### Expected Behavior
When I execute `gradle clean`, the `$projectDir/build` directory is removed and I'd expect that `buildSrc/build` was removed as well.

### Current Behavior
`buildSrc/build` is not removed.

### Context
When releasing software, I typically execute a few release tasks then `./gradlew clean` and `rm -fr .gradle */.gradle`, previous to packaging the directory. But I have to `rm -

[2021-08-02 15:39] oehme commented on #13766
Okay, thanks for letting me know!

[2021-08-02 16:26] lptr commented on #17865
PR to add the necessary functionality in `native-platform`: https://github.com/gradle/native-platform/pull/290

[2021-08-02 20:39] ylemoigne commented on #17236
For anyone coming here and using kotlin multiplatform, the plugin trigger the issue if `withJava()` is used : https://youtrack.jetbrains.com/issue/KT-46978

The official gradle response to this issue is very disapointing. It's ok to don't fix it as plugin should not do what they are doing.
But showing some level of empathy for your users would be greatly appreciated.

Actually we have a message wi

[2021-08-03 00:25] Fiouz commented on #17533
An alternative is to not [unbox](https://docs.gradle.org/current/javadoc/org/gradle/api/provider/Provider.html#get--) the `TaskProvider`:
[code]

It has the advantage of not triggering eager realization of `foo`, in case `bar` is not executed (e.g. `gradle :help --task=bar`).

[2021-08-03 04:15] diksha opened #17921 "Gradle build daemon disappeared unexpectedly (it may have been killed or may have crashed) for ubuntu:20.04"
[code]

This happens only when using gradle 7.0.1 or 7.1.1
Works fine with gradle 6.8.3

[2021-08-03 07:25] Vampire commented on #17533
The eager realization of `foo` is not relevant at all. `foo` was just there for the sake of a concise self-contained example. In a more real example you have a property of type `DirectoryProperty` that someone sets from the outside with a `DirectoryProperty` and then in the inside you want to use `file`.

[2021-08-03 07:26] runningcode commented on #15825
Here's a build scan of the failure: https://scans.gradle.com/s/xlvvnnzdoulfa/failure

[2021-08-03 09:07] Tapchicoma opened #17923 "BuildTask to expose task output"
### Expected Behavior

`org.gradle.testkit.runner.BuildTask` exposes related task build output, so it will be easier to make assertions for the specific task.

### Current Behavior

Currently, I need to use hand-crafter brittle regexps to parse whole build output to get specific task output. Also this regexps depends on log level used in the build.

### Context

Simplify writing test for custom Gr

[2021-08-03 09:59] lyntree commented on #17873
I'm going to close this as managed to move pass this issue, not sure what fixed it

[2021-08-03 09:59] #17873 closed

[2021-08-03 10:07] ElHyperion commented on #15538
Agreed, since the newest Dart update I cannot compile anymore, with JDK 16 nor 8

[2021-08-03 10:41] codeagarwal opened #17924 "Compiling Issue with Flutter Code."
### This is Bug in Android Studio Arctic Fox version 2020.3.1

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':path_provider:compileDebugJavaWithJavac'.
java.lang.IllegalAccessError: class org.gradle.internal.compiler.java.ClassNameCollector (in unnamed module @0x6353cddf) cannot access class com.sun.tools.javac.code.Symbol$TypeSymbol (in module jdk.compile

[2021-08-03 10:50] mlopatkin commented on #17924
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it. In particular: what version of Java, Gradle, and Android Gradle Plugin are you using? Does your

[2021-08-03 11:00] donat opened #17926 "Disallow usages locale-dependent toLowerCase() and toUpperCase() calls in the codebase"
Gradle had several regressions because the source code contains several calls to `String.toLowerCase()` and `String.toUpperCase()` which is locale-specific. An Archunit-based approach was implemented in #17657, but there's an ongoing debate whether that's the right approach. A couple of ways we can go about it:
- Reopen and merge #17657
- Set up IntelliJ inspection rules
- Introduce Spotbugs (and

[2021-08-03 11:07] herrbert74 commented on #9270
It works in Groovy, so what kind of black magic is used there, that cannot be used in Kotlin DSL?

[2021-08-03 11:22] runningcode commented on #9270
@herrbert74 Groovy is a dynamic language. Kotlin is not.

[2021-08-03 11:24] mlopatkin commented on #17921
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

Does the failure happen every time you run the build?
I have two ideas of what is going wrong:

[2021-08-03 11:45] mlopatkin commented on #17914
@gradle/execution would you like to take over this issue?

[2021-08-03 12:23] donat commented on #12232
I've recreated the scenario in Ubuntu virtual machine. After I executed

    iptables -t nat -A POSTROUTING -j MASQUERADE

then an empty Gradle 5.6.4 build was working, but switching to 6.0 exhibited the daemon connection issue. Something must have changed in the daemon connection code between the two releases.

[2021-08-03 12:40] leonard84 opened #17927 "JavaLauncher should also set JAVA_HOME environment variable for forked processes"
### Expected Behavior

When using toolchains to run tests with a specific JDK I'd expect that the `JAVA_HOME` is set to the toolchain jdk as well.

### Current Behavior

`JAVA_HOME` is not changed, leading to potential inconsistent behavior if the test itself forks processes relying on the correct JDK being set via `JAVA_HOME`.

### Context

#### Simple test
[code]

[code]

#### Cross version test

[2021-08-03 12:57] mlopatkin commented on #17919
Thank you for your interest in Gradle!

This is quite hard to implement because the main build needs `buildSrc/build` contents during configuration/execution and the `clean` task isn't special in this regard. So removing it may cause unexpected errors because of missing classes albeit in some corner cases. Another aspect is that in a significant amount of `clean` usages keeping `buildSrc/build` is

[2021-08-03 12:57] #17919 closed

[2021-08-03 13:03] FallenChromium commented on #15538
I got it working after I've deleted Java 16 from my package manager (Arch Linux -> pacman) and reinstalled jdk11-openjdk and jre11-openjdk. I hope it will help someone

[2021-08-03 13:22] Fiouz commented on #17829
@mlopatkin, seeing that you removed the _a:bug_ label and added the _a:documentation_ label instead, it seems the Gradle position on the reported behavioral inconsistency is an intended design that will not change.

😕 I was initially hoping for a more streamlined experience where the "special treatment" of reporting task names to be dropped (and documentation updated accordingly), to make it easie

[2021-08-03 15:02] bamboo commented on #16180
Fixed in Gradle 7.1 by b2e583c2f1e558225219da82e4f9bcb75745aeee.

[2021-08-03 15:05] manueljordan commented on #4329
I had this situation in two machines MacOS and Windows due the following: I used for each laptop a pendrive it with the purpose to save space in the main hard disk about the repository content (the same case applies for an external HDD/SSD connected how a secondary drive).

**Solution**

Format the secondary device with the same _format type_ as the main hard disk has and **problem solved!**. I am

[2021-08-03 15:19] Vampire commented on #17754
Just as reference here too, it is not a Kotlin plugin issue, just a bad build script.

I've had a quick look, what did you expect?
You have the `main` source set, and create additionally the `jdk8` and `jdk11` source sets.
You configure `jdk8` and `jdk11` source sets to your likings.
Then you only create a feature variant for `jdk8`.
So when you publish, the `main` variant and the `jdk8` variant a

[2021-08-03 15:24] anticafe commented on #16777
Thanks @thuytrinh the combination of **ktlint-gradle v10.1.0 + Gradle v7.1.1** work for me.

[2021-08-03 15:24] bamboo commented on #15825
Fixed in 7.2-RC1 via 058aa78ef811d60995e11def055600f5ad7888f7.

[2021-08-03 15:24] #15825 closed

[2021-08-03 15:26] manueljordan commented on #4329
Hello @oehme - I did realize that for network it is locked. Is there an official documentation to solve this?

Thanks in advance

[2021-08-03 15:35] manueljordan opened #17932 "Clarify in the docs what filesystem types are supported"
### Expected Behavior

Indicate through the official documentation that a possible cause of locking is for the special scenario when a secondary hard disk exists that is used how repository for Gradle **but** it has a different _format type_ than the main hard disk.

### Current Behavior

It does not exist

### Context

The solution is here:

* https://github.com/gradle/gradle/issues/4329#issuecom

[2021-08-03 15:47] mlopatkin commented on #17905
The issue looks very similar indeed but I defer to the experts in this area. @gradle/execution could you please take a look at this?

[2021-08-03 16:13] cmacfarl commented on #6644
The JavaExec documentation should also be updated.  https://docs.gradle.org/current/dsl/org.gradle.api.tasks.JavaExec.html

It took me an embarrassingly long time to determine why ```args = [ '--foo bar' ]``` failed so miserably from gradle when ```--foo bar``` worked just fine from a bash shell.

[2021-08-03 16:13] wolfs commented on #17905
Yeah, I think this issue is a duplicate of #17013 and will be closed as such.

[2021-08-03 16:13] #17905 closed

[2021-08-03 16:16] li-wjohnson opened #17933 "Items added by NamedDomainObjectCollection#addLater are not consistently realized"
Trying to fetch items by name after using `addLater` does not work.

Similar to #8649.

[code]

### Expected Behavior
Should print "Book(1)"

### Current Behavior

### Context
addLater javadocs say:
"Adds an element to this collection, given a Provider that will provide the element when required."
I'm not sure what "when required" means -- I would expect that trying to get something from the conta

[2021-08-03 16:16] SalahAdDin commented on #15538
@FallenChromium it is a provisional solution, but it should be compatible with JDK 16.

[2021-08-03 16:29] dubinsky commented on #16527
Major build tool ignores a major update to a major programming language it used to support.
Months go by without any word from Gradle developers.
Is this a resources problem? Or a policy decision?

For me, sbt was [never an option](http://dub.podval.org/2011/11/08/sbt-why.html),
and going back to Maven at this point would be extremely painful,
but I need to be able to use Scala 3 one way or the ot

[2021-08-03 18:34] gavra0 opened #17936 "Could not load the value of field `transformer` of `TransformBackedProvider` bean found in field `file` of `ZipTreeSpec`"
With
[code]
and Gradle 7.1+, running `gw copyJar --configuration-cache` twice fails with
[code]
This passes with Gralde 7.0.

[2021-08-03 19:45] mathjeff commented on #15117
Some more context: having this spliced output also makes it more difficult for automated systems to parse the output, determine what's unexpected and worth showing to the user (in the case of a build failure) or flagging as unrecognized (in the case of a build success), https://github.com/gradle/gradle/issues/13090

[2021-08-03 21:12] MavenRain commented on #16527
100% agree with this . . . this is a huge miss on the Gradle side

[2021-08-04 03:17] kenshin171 commented on #16665
[code]

is this technically workable? appending the extension to the `version.ref`?

[2021-08-04 03:47] #17534 closed

[2021-08-04 04:01] JvmName commented on #16665
@kenshin171 good idea! Unfortunately that doesn't work because Gradle appends the `@aar` when constructing the maven repo URL, like so:

```https://maven.fullstory.com/com/fullstory/instrumentation-full/1.16.2@aar/instrumentation-full-1.16.2@aar.pom```

[2021-08-04 05:21] nikitph commented on #14528
unreachable local address on loopback interface /127.0.0.1

Is there an update on this?

[2021-08-04 05:51] iNikem opened #17940 "Unexpected behaviour of java toolchain detection"
I have installed AdoptOpenJDK Java 16 with J9 VM. Gradle can detect it correctly:

[code]
For demonstration purpose I disable auto-detect and download.

In my Gradle build script I specified that I want a java toolchain for java16, without specifying vendor nor implementation. Reading [Gradle manual](https://docs.gradle.org/current/userguide/toolchains.html#selecting_toolchains_by_their_virtual_ma

[2021-08-04 06:02] anuraaga commented on #17940
Just for some context / 2 cents, if Gradle behaved as per the manual and automagically matched "any implementation", then we may have accidentally run a test intended for J9 with Hotspot in our build. So the greater determinism of the current behavior seems good to me and I think updating the docs would be safer than changing the behavior.

[2021-08-04 07:08] #17936 closed

[2021-08-04 07:59] mlopatkin commented on #17940
Currently, you have to specify J9 as an implementation explicitly in the toolchain spec to be able to use it. @ljacomet, could you please shed some light on why we decided to go this way?

@anuraaga isn't it vice versa? If you have J9-specific tests, you should have an appropriate implementation selector in the toolchain spec for them. OTOH, if Gradle changes its behavior as described then tests t

[2021-08-04 08:05] anuraaga commented on #17940
@mlopatkin Ah sorry, I guess it's a bit tricky. In our build, we have tests for both Java 8 and 15 running on GitHub Actions. GitHub Actions runner includes Java 8 by default but not Java 15. So we updated the build configuration such that we ended up with

- Java 8 GitHub runner, including Java 8 Hotspot that is the default of the actions runner and Java 8 J9 which we downloaded explicitly
- Java

[2021-08-04 08:13] mlopatkin commented on #14528
@nikitph could you please share daemon logs (usually located in `$GRADLE_USER_HOME/daemon/<gradle_version>/daemon-<PID>.out.log` where `<PID>` is a PID of the daemon process)?

[2021-08-04 08:39] ElHyperion commented on #15538
@FallenChromium I just restarted with JAVA_HOME set to JDK 15 and it works! You can find the **jdk15-adoptopenjdk** package in AUR if you're on Arch (Manjaro here). Weird that it required a system restart, I thought restarting Code would help, but apparently not...

[2021-08-04 09:34] mlopatkin commented on #17932
@manueljordan, I'm not sure that the problem is about the "format" of the secondary being different but more about it being unsupported. For example, if you have NTFS primary drive and exFAT secondary then you'll have problems with secondary (as indicated in the linked issue). The problems will go away when you reformat secondary as NTFS but this only means that NTFS works while exFAT does not.

C

[2021-08-04 10:21] codeagarwal commented on #17924
You can check the Code Repo below. H ere is the complete source code.

[Here is the REPOSITORY which includes the code.](https://github.com/codeagarwal/flutter_30_days/tree/Day20)

Please help me with this error. I'm facing this Error after **Arctic Fox 2020.3.1** Update of Android Studio.

[2021-08-04 10:38] filippor commented on #1400
The approach I  use on https://github.com/filippor/p2Gradle is to take advantage that a dependency cam be a task with ConfigurableFileCollection output so a dependency can be declared with a function that create a task
example:
dependencies {
   api p2.bundles('org.eclipse.core.resources:[3.13,3.14)')
}

[2021-08-04 11:47] mlopatkin commented on #15726
Unfortunately, we don't have the bandwidth to tackle this issue now. You can try to use some browser extension to show the docs in the dark mode.

[2021-08-04 11:53] pjgg opened #17942 "exclusiveContent looks that are not applied"
Based on [Gradle 7.0 doc](https://docs.gradle.org/current/userguide/dependency_management.html#declaring_content_exclusively_found_in_one_repository) looks that now is possible declare an exclusive repository content, for example:

[code]

However, I still get the following log trace:

[code]

Please find on this link a reproducer: https://github.com/pjgg/gradle-exclusiveContent-reproducer
You can

[2021-08-04 13:25] #15663 closed

[2021-08-04 13:29] manueljordan commented on #17932
Thanks for the explanation, I see, but then consider to indicate (if it does not exist) in the official documentation what are the type formats that supports Gradle. - in my case FAT32 was not supported. Was mandatory to format in NTFS and "OS X Extended (Journaled)" each drive

[2021-08-04 14:06] mlopatkin commented on #17924
Thanks for the reproducer. I suspect that your flutter build is using too recent JDK (like JDK 16). You can confirm it by running `flutter doctor -v`:
[code]

The safe bet is probably to use the JDK 11 embedded into the Android Studio. The Gradle build tool supports JDK 16 since version 6.9, so you can try to upgrade the Gradle version in your build (flutter uses 6.7 by default) but this approach

[2021-08-04 14:06] #17924 closed

[2021-08-04 15:30] mlopatkin commented on #17908
Actually, disregard that. This is the symptom of the worker process dying unexpectedly. The real issue is likely
[code]

It is strange to have such issue in the test run so it is impossible to proceed without a reproducer.

[2021-08-04 15:43] #17893 closed

[2021-08-04 16:15] mlopatkin commented on #15665
I believe the IOException is a red herring there. The actual problem is that the worker process failed to start because of
[code]

This error indicates that the worker process failed to start. Unfortunately, it is hard to say what went wrong without a reproducer. There are multiple potential reasons for that failure, e. g. corrupted data in `$GRADLE_USER_HOME` folder. See https://github.com/gradle

[2021-08-04 16:46] mlopatkin commented on #17927
I'm unsure that we should do that. Messing up with environment variables may surprise the users and often not in a good way. IMO, explicit (leaving the choice to set up the variable to the user) is better than implicit.

I'm all for making the lazy configuration of the `environment` easier though. If this is implemented then setting up `JAVA_HOME` will require less boilerplate and the need of doin

[2021-08-04 18:41] lptr commented on #17865
This is now fixed on `release` via https://github.com/gradle/gradle/pull/17922.

[2021-08-04 18:41] #17865 closed

[2021-08-04 20:38] Stingray42 commented on #7033
Why is this closed?

[2021-08-04 20:42] Stingray42 commented on #7033
Why is this closed?

[2021-08-04 23:43] rpalcolea opened #17946 "Toolchains: support custom path for downloaded JDKs"
When using the auto download mechanism to provision a JDK, Gradle will download and store them under `$GRADLE_HOME/jdks`.

While this is great, it would be ideal to allow users to configure the download location.

Scenarios that this could potentially help:

* Shared infrastructure: For example, running multiple builds at the same time on Jenkins where each executor has its own `GRADLE_HOME`, resu

[2021-08-04 23:49] itsnagaraj commented on #3525
@nhoughto I tried your suggestion of `tar`ing the tar using the command `tar -chzf build/node_modules.tar node_modules`. When I uncompress it manually I dont see the symbolic links created. Is there a special flag to uncompress?

[2021-08-05 01:09] nhoughto commented on #3525
just doing this `tar -cf ${tarredYarnDependencies} node_modules`

[2021-08-05 01:16] pinxiong commented on #15665
@mlopatkin I don't have the previous environment to reproduce this issue because it has been over for a long time, and I have chosen another way to meet my needs.

[2021-08-05 01:28] itsnagaraj commented on #3525
Thanks @nhoughto the above didnt work for npm. The symlinks were not preserved. I was able to get it to work `tar -cpzf` and `tar -xzpf`. The task setup was also quite tricky as mentioned

`inputs.file(file("${projectDir}/package.json")).withPathSensitivity(PathSensitivity.RELATIVE).ignoreEmptyDirectories()
    inputs.file(file("${projectDir}/package-lock.json")).withPathSensitivity(PathSensitivit

[2021-08-05 01:35] nhoughto commented on #3525
interesting, we use `yarn install` maybe yarn and npm are different?

[2021-08-05 01:50] asarkar commented on #16683
Hi, any plans to do this?

[2021-08-05 02:09] asarkar commented on #16345
As a plugin author, I support @ZacSweers on this ticket. I don't want to be told by Gradle what Kotlin version to use. My order of preference is 1, 3, 4, 2.

[2021-08-05 02:15] asarkar commented on #16110
How do you do that, by editing `gradlew` script and removing `DEFAULT_JVM_OPTS`?

[2021-08-05 02:23] rocketraman commented on #16110
Yes, set it to an empty value.

[2021-08-05 06:09] wolfs opened #17949 "Gradle's up-to-date checks do not work on Windows FAT drives (Backport to 6.x)"
This is a backport of https://github.com/gradle/gradle/issues/17551.

### Expected Behavior
Gradle should produce new class files to `build/classes/java` directory.

### Current Behavior
1. `gradle build` creates `.gradle` and `build` directories;
2. I change output string in main class;
3. Second build only just removes previously compiled files.

### Context

I created new Java project with Grad

[2021-08-05 06:12] wolfs commented on #17949
Fixed by https://github.com/gradle/gradle/pull/17941.

[2021-08-05 06:12] #17949 closed

[2021-08-05 07:39] lptr opened #17950 "Backport to 6.9: Renaming and recreating the project directory causes Gradle to lose track of changes on Windows"
Backport the fix for https://github.com/gradle/gradle/issues/17865 to the 6.9.x stream.

This means backporting https://github.com/gradle/gradle/pull/17922.

---
cc: @gradle/execution

[2021-08-05 07:50] mlopatkin commented on #15665
Thanks, that is understandable. Sorry, we didn't get to this issue in time.

[2021-08-05 07:50] #15665 closed

[2021-08-05 09:31] leonard84 commented on #17927
I understand, that changing the `JAVA_HOME` automatically might be disruptive.

Maybe, gradle could then offer a `ToolchainEnvironmentProvider` that would set the `JAVA_HOME` from the `Toolchain`/`JavaLauncher`, so that it would be as easy as just adding it to the task, without everyone having to come up with their own solution.

[2021-08-05 11:15] evpaassen opened #17955 "Gradle 7 is very slow on Windows when there are disconnected network drives"
### Expected Behavior
When a build is completed, Gradle completes within a reasonable amount of time.

### Current Behavior
When a build is completed on a Windows 10 system and there are disconnected network drives (smb shares mounted to a drive letter), Gradle takes 30s to 60s extra to complete, after it has printed 'BUILD SUCCEEDED'. The progress indicator just shows 'Idle' all this time.

**Gra

[2021-08-05 11:21] CommanderTvis opened #17956 "`kotlinx` function for adding plugins and dependencies"
### Expected Behavior
 Add functions `kotlinx` to add dependencies in group `org.jetbrains.kotlinx` to the `kotlin-dsl` plugin.

Possible use:

1. Adding dependencies by https://github.com/Kotlin
[code]
2. Adding plugins by https://github.com/Kotlin
[code]

### Current Behavior

Dependencies are added as usual:
1. Adding dependencies by https://github.com/Kotlin
[code]
2. Adding plugins by https:/

[2021-08-05 12:13] wolfs commented on #17955
@evpaassen Can you try running the build with `--no-watch-fs` and see if it is faster?

[2021-08-05 12:22] evpaassen commented on #17955
With `--no-watch-fs` Gradle completes instantly after the task has been completed (4s in my case). Just like Gradle 6.9 used to do.

[2021-08-05 14:12] poseidon-mysugr commented on #16774
Thank you so much @cesar1000 and @davidburstrom, I don't think I would've figured this out on my own... For future reference, in groovy, the same thing can be accomplished using:

[code]

[2021-08-05 14:53] gildor commented on #17956
Because stable versions catalog feature is coming, and will be recommended solution for dependency declarations, those shortcuts become bad practice and do not add any value

Also it will be inconsistent with kotlin() shortcut, which allows omit dependency version, but it cannot be done for kotlinx

[2021-08-05 14:59] gchallen commented on #7018
I'm new to this issue, but a bit confused about the status. Using Gradle 6.8.3, setting `org.gradle.cache.cleanup=false` in `$GRADLE_USER_HOME/gradle.properties` does not fix the issue. In our case we have essentially a CI build running in a container without network access, and so it starts to fail 30 days later when Gradle starts pruning the cache. I really need a way to disable this behavior.

[2021-08-05 15:24] codeagarwal commented on #17924
Thanks for your guidance, but I'm still facing the same issue. Can you please guide me again to solve this issue.

[2021-08-05 15:28] codeagarwal commented on #17924
Please help me with this. I'm requesting you to help me sort this error, it lags me for some important projects.

please help me.

[2021-08-05 15:28] mlopatkin commented on #17924
I'm sorry but this isn't a support forum. I suggest you try Stackoverflow or more specialized Flutter resources.

[2021-08-05 15:30] codeagarwal commented on #17924
but the issue is related to gradle.

[2021-08-05 15:37] mlopatkin commented on #17924
You are using a combination of Gradle and JDK that isn't supported. You can either update Gradle version to at least 6.9 (that may break something if Flutter doesn't support a newer version) or downgrade the JDK Flutter uses (I don't know how to do that, maybe uninstall all but the JDK embedded into Android Studio). For the former you can try to do something along the lines of
https://github.com/g

[2021-08-05 16:07] mlopatkin commented on #17942
I've checked and it is just logs being slightly misleading - the log entry mentions all available repositories; the filtering is applied later.

[2021-08-05 16:20] martinbonnin opened #17960 "Add Single Page release notes"
The current release notes (https://docs.gradle.org/current/release-notes.html) are super detailed and very welcome to check what changed in a particular version but it's much more complicated to lookup a version where a certain feature or behaviour change was introduced.

It would be nice to have a one-page release notes document where we could search for keywords without going back and forth betw

[2021-08-05 16:23] twwwt opened #17961 "Overzealous assumption of a dependency among two tasks if they work on the same directory."
### Expected Behavior
It there are two tasks, say `A` and `B`, where task `A` produces *output* into a directory `d` and where task `B` uses `d` as an input, Gradle should not necessarily assume task `B` would depend on `A`. Assuming such a dependency merely on the fact that a directory is the output of some task and also the input of another task is overzealous.

For instance, if in fact it is *k

[2021-08-05 16:23] li-wjohnson opened #17962 "@Nested inputs cause NamedDomainObjectContainer exceptions to be ignored"
For some reason, a task with a `@Nested` input that comes from a NamedDomainObjectContainer that throws an exception, causes that exception to be ignored.

[code]

### Expected Behavior
`books` should fail -- An exception raised during configuration of an NamedDomainObjectContainer object should always be propagated.

### Current Behavior
The exception is silently ignored -- `books` prints "1".

T

[2021-08-05 16:28] naqaden commented on #7018
After wrestling with this problem for weeks, I also resorted to touch, automated daily when I'm not at my machine. I have to use old versions of Gradle for some projects so this is the only catch-all solution I've found.

[2021-08-05 16:44] Vampire opened #17963 "Accept plugin declarations from version catalog also as libraries"
In some situations you need some plugin as plugin but also as dependency, for example when using the plugin also in some precompiled script plugins build.
Or you develop a Gradle plugin that depends on plugin X but also uses plugin X in the same version for its own build.
It would be nice if you would not have to list the plugin, respectively its library coordinates twice in the version catalog, b

[2021-08-05 16:55] #17942 closed

[2021-08-05 17:32] #17772 closed

[2021-08-05 20:43] attix-zhang opened #17964 "The exclude won't be able to exclude rewritten dependency"
Even if I add an exclude rule to exclude "com.google.guava:guava", if other dependencies are rewritten to "com.google.guava:guava", I will still get it in the dependency graph.

Take the following project for example:
[code]

I already added an exclude rule: `exclude group: "com.google.guava", module: "guava"`

However, I still get guava in my dependency graph
### Expected Behavior

If I exclude a

[2021-08-05 21:24] CommanderTvis commented on #17956
Version catalogs don't cover `plugins` use case, do they?

[2021-08-05 21:41] wetted commented on #16665
I still wish the catalog feature would add support for something like (given a `native64` configuration) `native64("${libs.foo}:native@zip")` so we can resolve artifacts with specific classifiers irrespective of the jar (i.e. unclassified) artifact. Without that support it's rather kludgy to manage classified artifacts with regard to version catalogs, and defeats the reason for using one.

[2021-08-05 21:43] cortinico commented on #16774
Is this something that should be fixed in Gradle or should be documented at least somewhere?
Also by any chance someone managed to try if the issue is still happening on AGP 7.x?

[2021-08-05 22:43] carterkozak opened #17966 "Support TestReport stdout/stderr modification and filtering"
I have a large set of services I'm testing which are built to produce structured logging (currently JSON, however the format itself isn't terribly relevant) which is fantastic for computers, but substantially less so for humans debugging test failures.
This means the "Standard Output" and "Standard Error" tabs in the generated html report aren't useful to humans unless they copy data elsewhere, an

[2021-08-05 22:51] rpalcolea commented on #17927
This is interesting folks. Wondering how a build that uses different JDKs across projects, for example I have a server app that runs on JDK 16 vs a library that uses JDK 8 would look like with environment manipulation.

[2021-08-06 01:45] gildor commented on #17956
It does in Gradle 7.2: https://docs.gradle.org/7.2-rc-2/release-notes.html

[2021-08-06 01:59] CommanderTvis commented on #17956
Wow, then I'm not personally interested in these functions.

[2021-08-06 02:01] #17956 closed

[2021-08-06 02:13] #17553 closed

[2021-08-06 06:56] davidburstrom commented on #16774
This still happens in Gradle 7.2-rc-2 and AGP 7.x, yes.

[2021-08-06 06:58] davidburstromspotify commented on #17893
I can confirm that this solves the issues in my use case. Thank you!

[2021-08-06 07:01] UmaMtwo commented on #13891
Hi @lptr,

let's assume I have two projects which share a common lib and the projects and lib are in separate repositories. How would you set up the project structure?

[2021-08-06 08:30] wolfs commented on #17961
Thank you for reporting!

Looking at the [documentation of the minifier plugin](https://github.com/gradle-webtools/gradle-minify-plugin#minimal-configuration), it actually suggest you use different input and output dirs:
[code]

So for your use-case, you are defining the src and dst dirs to be the same? Something like
[code]

In general, Gradle doesn't really handle the case well when the input an

[2021-08-06 11:10] rsvoboda commented on #17942
It's a bit misleading, maybe there should be another log entry to say that filtering was applied.

[2021-08-06 11:59] Vampire opened #17967 ""only id(String) method calls allowed in plugins {} script block" is not correct"
I copied this `plugins` block:
[code]
from a Kotlin DSL file to a Groovy DSL file.

Of course this did fail as it has to be `id 'java'` for Groovy DSL.

The point is, that the error message said

And that is now fake-news, so the error message should either also mention `alias` or use a different wording.

### Expected Behavior
No fake-news in error message

### Current Behavior
Fake-news in error

[2021-08-06 12:14] Vampire opened #17968 "Provide a way to use plugin definition from version catalog without version"
If you apply a plugin to root project, it is part of the class path.
If you then also apply it to a subproject, it must not contain a version definition or Gradle errors out.
Same if you have a plugin as dependency in `buildSrc` and then want to use that plugin in the main build.
Currently (Gradle 7.2-rc-2) this is not really well supported with version catalogs.

- you cannot define a plugin with

[2021-08-06 14:58] leonard84 commented on #17927
@rpalcolea this would only apply to forked processes, as you can't change the environment of the running gradle process.

[2021-08-06 16:49] robvadai commented on #17236
@ylemoigne I completely agree.

Gradle guys, the issue is if Gradle gets too overwhelming to use it'll loose popularity. I don't want that, I love to use Gradle for many years now but this is a warning sign. Please make sure releases are user friendly.

I had genuine duplicate files in my repo (`log4j.properties` in different test directories) and my solution was:

[code]

[2021-08-07 01:42] transentia opened #17970 "Documentation for 'TestLogging.exceptionFormat' is incomplete"
This is a Trivial-ish documentation issue.

### Current Behavior
https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.logging.TestLogging.html#org.gradle.api.tasks.testing.logging.TestLogging:exceptionFormat

[code]

My build.gradle has:

[code]

I see that exceptionFormat STILL affects what is shown, even though I am not specifying 'showStackTraces' anywhere.

I GUESS this means that

[2021-08-07 10:37] CommanderTvis opened #17971 "Script can't be compiled if `gradlePlugin.plugins {}` is used"
### Expected Behavior
The script containing `gradlePlugin.plugins {}` can be compiled successfully.

### Current Behavior
It fails with exception:
[code]

### Steps to Reproduce

Try to compile the following script with Gradle 7.1.1:
[code]

[2021-08-07 15:48] danielsun1106 commented on #16857
FYI. The upcoming groovy 4.0.0 beta-1 will support Java16+(including Java17). All tests are green now:
https://app.travis-ci.com/github/apache/groovy/builds/234763056

[2021-08-07 22:19] s50600822 opened #17972 "java.io.IOException: Input/output error"
### Expected Behavior
Able to build  git@github.com:Kotlin/full-stack-web-jetbrains-night-sample.git
If not able to build print a sensible reason
Look at the title of this issue, does it make sense?

### Current Behavior
Build fail, with `java.io.IOException: Input/output error`

### Steps to Reproduce
[code]

### Your Environment
[code]

[2021-08-08 04:40] kenshin171 commented on #17968
for kotlin DSL this is what (hack) i did
[code]

[2021-08-08 06:14] Vampire commented on #17968
Ah, that's much better of course, and should also work with Groovy DSL, thanks.

But I'm keeping this open for the consideration to be able to declare without version in the catalog right away.

[2021-08-08 09:17] lackovic commented on #17236
I had limited time to troubleshoot my issue mentioned above so eventually I had to rollback to version 6.

A possible workaround (not tested by me yet), suggested by [this comment](https://discuss.gradle.org/t/gradle-7-fail-for-duplicates-in-copy-specs-has-no-duplicates-in-project/39834/8), is to add the following to the `build.gradle`:

[code]

[2021-08-08 15:01] milya77 commented on #12820
this plugin also stopped working https://github.com/stempler/bnd-platform
with the same error

[2021-08-08 20:24] baczus opened #17973 "Inconsistency of downloading dependency when extension and classifier are defined"
### Expected Behavior

Gradle searches dependency in all defined repositories and declared dependency should be downloaded.

### Current Behavior

Declared dependency is not found.

### Context

When we define extension and classifier in dependency, it is searched only in the repository in which pom was found.

### Steps to Reproduce

I prepared the example Gradle Kotlin project: https://github.co

[2021-08-08 22:47] chriscottingham commented on #13891
I would like to second @UmaMtwo.

As stated earlier, Eclipse does not support a strict hierarchy well.  Are you going to simply exclude Eclipse users from using future generations of gradle?

In eclipse, if I want my project to rely on something I check out from github, I will check out that project as another project in the workspace, which makes it a sibling of the project which will rely on it.

[2021-08-09 03:22] flutterq2 commented on #8571
[[Solved] Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081
](https://exerror.com/error-command-failed-gradlew-bat-appinstalldebug-preactnativedevserverport8081/)

[2021-08-09 04:17] Shawlaw commented on #17970
Yes, the default value of `showStackTraces` is true in the class `DefaultTestLogging`, you can see it [here](https://github.com/gradle/gradle/blob/d5a5beb36ff72629bc563da2c43345288be16ffe/subprojects/testing-base/src/main/java/org/gradle/api/internal/tasks/testing/logging/DefaultTestLogging.java#L37).

[2021-08-09 05:43] mickyp commented on #13891
I have a similar situation regarding @UmaMtwo  and @chriscottingham. I need the project structure to make sure they are workable in Eclipse.

[2021-08-09 05:54] anilkumarmyla opened #17974 "Documentation: Incorrect instructions to increase inotify limits"
Documentation at  the end of this page https://docs.gradle.org/current/userguide/gradle_daemon.html shows instructions to increase inotify limits as

[code]

Which I assume are incorrect. Could have been either
`sudo sysctl -w fs.inotify.max_user_watches=524288`
or
`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf`
followed by reloading sysctl

Let me know if it needs to be c

[2021-08-09 07:01] wolfs commented on #17974
@anilkumarmyla Thank you for spotting this! We would be happy to receive a PR from you.

[2021-08-09 09:36] mrothe-ai opened #17977 "gradle wrapper task fails if local distribution is higher than wrapper distribution"
Executing  `gradle wrapper --gradle-version 6.8` with a local gradle distribution of version 7.1 fails if the configuration of the project contains deprecated features for version 7.

### Expected Behavior

gradle wrapper task should execute successfully
command: `gradle wrapper --gradle-version 6.8`

### Current Behavior

gradle wrapper task fails as the configuration for the project contains dep

[2021-08-09 09:41] donat commented on #12232
@charlesritchea @GroverChouT @ak5 @d-boyadzhiev @uncleTan Could you please try one thing? If you start the problematic build, the daemon log shows a similar message:

    2021-03-11T11:40:51.283+0200 [ERROR] [org.gradle.internal.remote.internal.inet.TcpIncomingConnector] Cannot accept connection from remote address /172.16.0.1

Try exposing the IP address to Gradle via the OPENSHIFT_IP environment

[2021-08-09 10:10] oehme commented on #17802
That's expected and unrelated to annotation processing. `SupportType` is not affected by changes to `MyImmutable`, so why would we recompile it? The classes dir is added to the compile classpath by the incremental compiler, so that previously compiled, unaffected classes are visible.

This example project uses a separate folder for just the classes created by annotation processing. As such, none o

[2021-08-09 10:21] #17974 closed

[2021-08-09 11:11] mlopatkin commented on #17977
The `wrapper` task is just a Gradle task and can be configured in the `build.gradle` files (for example, setting a custom distribution URL). Therefore Gradle has to configure the build to be able to execute the task. If the build configuration is incompatible with the current version of Gradle then it fails. Currently, we don't have plans to revisit this behavior.

[2021-08-09 11:11] #17977 closed

[2021-08-09 11:14] mlopatkin commented on #17972
What kind of file system does `/mnt/z/dev/code/full-stack-web-jetbrains-night-sample/` have? There are known issues with locking for NFS/Samba shares or exFAT drives.

[2021-08-09 11:28] dpeger opened #17978 "Malicious test causes gradle build to succeed despite test failure"
Currently it is possible to write a Java unit test case (with TestNG - not sure if JUnit is also affected) that will make all other test cases skip and will result in a successful build. Despite the lack of execution of the skipped tests this might be used to poison build caches or add malicious code to repositories that rely on gradle build status.

I only managed to reproduce the problem using J

[2021-08-09 11:49] mlopatkin commented on #17973
@ljacomet could you please take a look at this?

[2021-08-09 12:01] mlopatkin commented on #17962
@gradle/execution could you please take a look at this?

[2021-08-09 12:11] martinbonnin commented on #16345
@eygraber FWIW, you can compile a Gradle plugin with Kotlin 1.5 without the warning by using `dev.gradleplugins:gradle-api:7.1.1` instead of `gradleApi()` in your dependencies. Something like:

[code]

`dev.gradleplugins:gradle-api:7.1.1` artifacts are [redistributed by Nokee](https://docs.nokee.dev/manual/gradle-plugin-development.html#sec:gradle-dev-redistributed-gradle-api) (see also [this issu

[2021-08-09 12:19] twwwt commented on #17961
Yes, indeed. However, the fact that the same directory *should* not be used doesn't mean it *must* not be used. I consider this a perfectly fine use case (provided on *knows* that this will not create conflicts that might result in arbitrary effects). Second, this aspect is actually just a side aspect and it is specific to the plugin. It should not be used to divert attention from the real problem

[2021-08-09 12:54] twwwt commented on #17961
Unrelated to this issue, the idea just jumped into my mind that a "Gradle Linter" should do such things. Having such a tool would be cool. I know that Build Scans already go into this direction but still, I think this would be a great extension to Gradle. Also, this would allow to better separate concerns. I guess many of the checks that are currently implemented in Gradle could be moved into such

[2021-08-09 13:07] gavra0 opened #17979 "File watching not detecting changed files - Docker running Windows 2019 server"
Android Studio CI runs Gradle performance tests on Docker containers with Windows 2019 server. The docker image used is `mcr.microsoft.com/windows/servercore:ltsc2019`.

After updating to Gradle `7.2.-rc1` tests for incremental builds started failing as the changed files were not detected, causing tasks to be up-to-date (when they should run). Disabling file watching with `org.gradle.vfs.watch=fal

[2021-08-09 13:18] mlopatkin commented on #17971
This issue is specific to the Kotlin DSL and cannot be reproduced with Groovy DSL (though the stacktrace already suggests that).
In the meantime, some workarounds exist. First, it is possible to use block syntax to configure the plugin
[code]

Another option is to use backticks:
[code]

[2021-08-09 13:28] donat commented on #17979
Gradle 7.2-rc-2 contains some changes that might fix your use-case: https://github.com/gradle/gradle/pull/17922
Could you check your build with that version?

[2021-08-09 13:32] gavra0 commented on #17979
Once we upgrade to 7.2-rc-2 we can try to re-enable file watching in those tests. However, after talking with Lorant, I'm pretty confident that these fixes do not work for us, as we modify a single source file in-place.

[2021-08-09 13:35] mlopatkin commented on #17897
The fact that increased heap size helped a bit suggests that the issue was (at least partially) in the insufficient memory. You can verify that by running `jstat -gc <pid of the daemon process> 5s` that will dump GC statistics of the Gradle daemon every 5 seconds. Increasing values of FGC/FGCT (full GC count/full GC time) columns indicate a lack of available memory.

As for the end-build hanging -

[2021-08-09 13:43] donat commented on #17979
@gradle/execution please take a look

[2021-08-09 14:07] wolfs commented on #17962
I checked out what is happening here. The underlying problem here seems to be that the registration exception is only thrown the first time the element is realized. For example, this would not throw an exception:
[code]

Since `@Nested` evaluates the contents of the `books` container, the exception is only thrown there. Now, for nested inputs which throw an exception, we don't fail the build but i

[2021-08-09 14:10] wolfs commented on #17962
One other thing is that the domain object container should also rethrow the creation exception when evaluating the container again.

[2021-08-09 14:14] ZacSweers commented on #16345
The higher one won't be selected because Gradle always forces the version it uses internally

[2021-08-09 14:20] martinbonnin commented on #16345
@ZacSweers it won't change anything at runtime (when executing the build) but I'm pretty sure it will remove the warning when compiling the plugin.

A plugin build is actually pretty similar to any other Kotlin lib build. I found out the only reason it output warning was because `java-gradle-plugin` was forcing `api(gradleApi())`. Not 100% what's that doing behind the scene but it seems like it fo

[2021-08-09 14:21] Cypher121 opened #17981 "Missing documentation for pre-compiled script plugins targeting settings"
### Expected Behavior

Documentation at [Custom Plugins: Precompiled Script Plugins](https://docs.gradle.org/7.1/userguide/custom_plugins.html#sec:precompiled_plugins) should explain how to target different plugin-aware objects with the script.

### Current Behavior

Only project plugins are mentioned.

### Context

Precompiled plugins for settings are available via the magic .settings.gradle.kts

[2021-08-09 14:47] martinbonnin commented on #15020
Related issue: https://github.com/gradle/gradle/issues/16345

[2021-08-09 15:15] wolfs commented on #17962
I tried out if failing for `@Nested` properties at task graph building time would be easy to do. Though it seems like this changes the behaviour quite a bit, especially for tasks which use toolchains: https://github.com/gradle/gradle/pull/17982

The simpler fix for this would be to have the domain object controller rethrowing the creating exception.

[2021-08-09 22:52] ducrohet commented on #16919
I have found another case where this is broken. The issue stems from using an `AttributeCompatibilityRule`, a task that has an `ArtifactCollection` field and configuration caching. I've prepared a repro project [here].(https://github.com/gradle/gradle/files/6957812/resolved-variant-capabilities-v2.zip)

Running `dumpViaConfigCache` will normally display:
[code]

However, if running with `--configu

[2021-08-09 23:11] ducrohet commented on #16919
Actually this has nothing to do with `AttributeCompatibilityRule`. You can simply remove the compat rule, and make the query be just `"aar"` and run it twice with config caching and it'll fail too.

[2021-08-10 06:44] sschuberth commented on #2508
BTW, this issue seems to duplicate https://github.com/gradle/gradle/issues/1368 which also suggests that "A native implementation could be a approach to the problem".

[2021-08-10 07:28] Vampire commented on #2508
Not really a duplicate, is it?
This issue is about being able to use Gradle without an installed JVM.
That issue is about a global command that uses the wrapper definition of the current project, no matter where you are.

[2021-08-10 07:48] jgmy opened #17985 "ANDROID_SDK_ROOT is ignored. only sdk.dir at local.properties is used"
This is probably old but it made me get a headache and I don't find it on the solved bugs

I installed gradle and android-sdk in an arm64 debian console.
I tried to compile an android project.
build failed with "can't find ANDROID SDK, set ANDROID_SDK_ROOT or sdk.dir on local.properties"

### Expected Behavior
Should work once ANDROID_SDK_ROOT is set

### Current Behavior
Failed.
Failed after
  AN

[2021-08-10 07:51] donat opened #17986 "Version catalog should allow users to configure libraries with plugin suffix"
There are cases where a library is a plugin but not used in the context of the plugins block. The version catalog does not allow libraries with `plugin` suffix, so build authors need to come with [ugly workarounds](https://android-review.googlesource.com/c/platform/frameworks/support/+/1788592/5/gradle/libs.versions.toml).

[2021-08-10 08:09] donat commented on #17985
Thank you for your interest in Gradle!

Your issue appears to be a question about how to use Gradle. Your question might be better answered on our forums or StackOverflow. We have several resources on [help.gradle.org](https://help.gradle.org) that you should check out first.

If you think you have come across a Gradle bug, please file a new issue describing the problem and how to reproduce it.

I

[2021-08-10 08:09] #17985 closed

[2021-08-10 08:12] sschuberth commented on #2508
On a second look it seems you're right; I was confused by the [statement in that issue](https://github.com/gradle/gradle/issues/1368#issue-206251304) to solve it via "a native implementation".

[2021-08-10 08:37] mlopatkin commented on #17921
There is not enough information for the issue to be actionable.

[2021-08-10 08:43] chrisr3 opened #17987 "Gradle's withJavadocJar() includes unlicensed yuidoc-ember-theme 1.1.2 artifact."
When Gradle 7.x generates a Javadoc jar via
[code]
the `-javadoc` jar contains JQuery. NexusIQ hates this because it contains `yuidoc-ember-theme 1.1.2`, which has no licence.

### Expected Behavior
Gradle should not bundle unlicensed software inside its generated artifacts.

### Current Behavior
NexusIQ complains that:
License-None | Source license not available; no declaration available | Found

[2021-08-10 08:58] cvmocanu commented on #9210
If you implement a sandbox, please allow us to turn it off to optimize the build times, since having sandbox will have a non-zero execution time.

[2021-08-10 09:30] pioterj commented on #16345
@melix You posted a great explanation of this issue and why it currently works this way on the Android Study Group Slack. Would you mind pasting it here?

[2021-08-10 10:09] paplorinc commented on #13957
Reverting @oehme's fix temporarily on `master` (to make absolutely sure the tests are failing) and replacing the `ExceptionReplacingObject(Output|Input)Stream`s where the `StackTraceElement` is serialized to a `Map` and back (via an instrumentation agent through a premain, applying to the affected daemon and client JVMs) makes the tests pass on every version since `2.6`:
<img src="https://user-ima

[2021-08-10 10:33] sajjad4u opened #17989 "startParameter.setExcludedTaskNames(['test']) not working on 6.8 and 6.8+ versions"
I have a main project and 2 subprojects and It is  build  programmatically with task in build.gradle in main project (myproject) and tht same was working till the gradle version 6.7.1 but in later versions like 6.8+ the skip test task seems not working as it is running the compileTestJava in subprojects.

**Project Structure**
[code]
**build.gradle (myproject)**
[code]

[2021-08-10 12:01] osama-raddad commented on #6693
I am straggling  with this issue for the last two days do you have any work around at-least?

[2021-08-10 13:01] GooDiVer commented on #8750
I advice you try to kill all gradle daemons. Works for me.
Execute  in command line: `./gradlew --stop`

[2021-08-10 14:11] melix commented on #16345
_I cannot speak for the Gradle team anymore, but this is the answer I gave to this question in a private group. It's adapted from a conversation so please bare with me with the layout. I will let the Gradle team answer/comment on the rest :)_

You cannot change the version of Kotlin that Gradle uses. It's a "runtime": Kotlin build scripts have to be compiled, so Gradle has to come with one version

[2021-08-10 14:22] tresat commented on #15655
Verified this happens as described.

[2021-08-10 14:22] emartynov commented on #16345
Gradle just runs on the specified JDK. Why not allow something similar for the Kotlin?

It will give some freedom for the consumer to use, play, fix report things that are not compatible. He/she can do something proactive.

However, that would open the box of the Pandore - why not do similar for Groovy (I don't know what other runtime dependencies Gradle needs).

[2021-08-10 14:47] LouisCAD commented on #16345
What we want is the ability to specify the Kotlin stdlib version in `gradle.properties` or in a shebang in `settings.gradle[.kts]`.

That's all we need to unblock use of libraries that follow the Kotlin train from within Gradle plugins that are not using isolated workers.

That wouldn't require to upgrade dependencies on the compiler within Gradle since newer stdlibs are a superset of the older on

[2021-08-10 16:11] #17908 closed

[2021-08-10 16:34] victorchoy commented on #15966
How do you sovle the problem finally ? @sellmair Thanks

And I find same question here http://5.9.10.113/61788634/gradle-artifacts-do-not-execute-the-builtby-task-when-the-configuration-is-resol

[2021-08-10 16:37] victorchoy commented on #15966
How do add actifactView as an input ? Could you give a demo ?  @wolfs  Thanks.

[2021-08-10 16:44] Adrodoc commented on #15711
Is there any update on this? Why was it removed from the Milestone?

[2021-08-10 16:51] Adrodoc commented on #15711
A workaround is to use a Closure:
[code]
Or wrap the provider in a Closure:
[code]

[2021-08-10 16:59] melix commented on #16345
It breaks the principle of isolation: a user shouldn't have to know what version of Kotlin to use to build a project. It may be that a transitive dependency uses a higher version and you wouldn't notice. This isn't, IMHO, a viable solution.

[2021-08-10 16:59] Vampire commented on #15664
The problem seems to lie in `org.gradle.plugin.use.internal.DefaultPluginRequestApplicator#applyPlugins(org.gradle.plugin.management.internal.PluginRequests, org.gradle.api.internal.initialization.ScriptHandlerInternal, org.gradle.api.internal.plugins.PluginManagerInternal, org.gradle.api.internal.initialization.ClassLoaderScope)`.

It separates plugins into two categories, `legacyActualPluginIds`

[2021-08-10 17:19] ZacSweers commented on #16345
We do that today with java versions but Gradle doesn't impose a specific version. Many plugins use guava and users accept that they may need to address transitive version mismatches. Yet, kotlin must abide by different rules because Gradle uses it internally. I think that's pretty unfortunate.

A good example of this is happening right now with Gradle 7.2 - it updates the embedded kotlin version t

[2021-08-10 17:40] Vampire commented on #15664
I didn't add a test yet, but this change should fix the problem: https://github.com/gradle/gradle/compare/master...Vampire:fix-plugin-application-order

[2021-08-10 19:14] Vampire commented on #8749
Prepared a PR for it at https://github.com/gradle/gradle/pull/17993

[2021-08-10 19:48] LouisCAD commented on #16345
I'm going to use these words against that statement itself:
Kotlin libraries and their developers shouldn't have to know what Kotlin version to use just to make sure that they can be used in Gradle plugins.

IMHO, this is a tradeoff, and as a user, I'd prefer to give up that "principle of isolation" when opting-in to the latest Kotlin stdlib version in my Gradle project, so I can use recent librar

[2021-08-10 20:43] melix commented on #16345
I heartfully disagree with this: as a user, I want to apply a plugin and I don't care what language it's written in. Forcing me to put a Kotlin version so that the plugin works is counter-intuitive. As a plugin author, *you* care, but users shouldn't.

[2021-08-10 20:48] dimsuz commented on #16345
Some users (or many?) write mini-plugins in buildSrc, in kotlin. So they still end up having to care.

Also I guess those of us who are also using gradle to build Kotlin projects, suffer from this issue more, because you have to work with different kotlin versions in one project. If I'm not mistaken most of us here who are in favor of this issue are exactly from this category of users.

[2021-08-10 21:43] Mahoney commented on #16345
Yes, there are two distinct use cases here:
* writing plugins for general purpose reuse
* writing plugins only for use in the current build

In the latter case it _might_  make sense to be able to tell Gradle what version of Kotlin to include so that you can write your plugins in the same version as the actual source.

Worth noticing, however, that you'd be quite likely to run into issues with 3rd

[2021-08-11 03:12] ZacSweers commented on #16345
This, again, exists with any dependency or major java release.

It's also a frankly nonsensical argument to use kotlin as an example of that as it guarantees backward compatibility across its minor versions and there's no inkling of a Kotlin 2.0 coming any time soon. Let's keep to realistic examples.

[2021-08-11 03:43] adammurdoch commented on #16919
Should be fixed now, via https://github.com/gradle/gradle/pull/17994

[2021-08-11 04:14] execptionerror commented on #11905
[[Already Solved] Allow insecure protocols android Gradle](https://exerror.com/allow-insecure-protocols-android-gradle/)

[2021-08-11 04:14] execptionerror commented on #11779
[[Already Solved] Allow insecure protocols android Gradle](https://exerror.com/allow-insecure-protocols-android-gradle/)

[2021-08-11 04:59] #16919 closed

[2021-08-11 06:20] jeremysmitherman commented on #7496
If the PR from 2018 is closed with the comment saying we can use workarounds, can we get one for using bootRun instead of tests?

[2021-08-11 07:11] JiongBull commented on #14132
Gradle version: 7.0.2
Android Gradle Plugin: 7.0.0

it still does't work

[2021-08-11 08:54] mlopatkin commented on #10387
I don't see `set JAVA_HOME="%~dp0.."` in the Gradle start script. It doesn't make sense there because there is no bundled JVM in the application built by Gradle's `application` plugin. I suppose the issue is specific to the badass-runtime-plugin because this plugin actually bundles Java runtime into the application and it is reasonable to set up `JAVA_HOME` this way. The badass-runtime-plugin is a

[2021-08-11 08:54] #10387 closed

[2021-08-11 09:10] szpak opened #17996 "Ability to select only non-SNAPSHOT versions with version range"
### Expected Behavior

As an application developer I am able to select only non-snapshot versions when using a version range for a given dependency (i.e. filter out SNAPSHOT versions from the selection).

### Current Behavior

Based on [documentation](https://docs.gradle.org/current/userguide/single_versions.html) it doesn't seem to be possible to exclude SNAPSHOT versions  using a version range (

[2021-08-11 12:11] Vampire commented on #9383
Closing as I guess you don't want to investigate or test further

[2021-08-11 12:11] #9383 closed

[2021-08-11 12:49] jbartok commented on #17987
@chrisr3 could you pls. attach an example JAR which manifests this problem? Turns out it's not as simple to reproduce, as it should be...

[2021-08-11 12:58] chrisr3 commented on #17987
[cordapp-configuration-javadoc.zip](https://github.com/gradle/gradle/files/6968521/cordapp-configuration-javadoc.zip)
I've had to rename this `.jar` to `.zip` toget GitHub to accept it for upload.

[2021-08-11 13:44] Vampire commented on #17987
That's not really a Gradle topic.
The standard doclet included in Java did change in Java 9.
Before no jquery was included.
With Java 9 this was majorly rewritten to for example have the nice search functionality in the upper right corner which uses jquery.
It is the same whether you use plain JavaDoc tool or when running it through Gradle.
What I wonder is, what file does it actually complain abo

[2021-08-11 13:52] donat commented on #15629
The fundamental problem with your example is that you are trying to add a task dependency too late. The `doFirst` is executed after the task graph configuration is finished and the tasks are being executed. You can probably model the use-case better with [task predicates](https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:using_a_predicate) and [finalizer tasks](https://docs.gradl

[2021-08-11 13:52] #15629 closed

[2021-08-11 14:07] chrisr3 commented on #17987
I have no idea which file NexusIQ is actually complaining about. It is entirely possible that the _contents_ of `yuidoc-ember-theme` has been embedded into something, and that NexusIQ has recognised it.

[2021-08-11 14:52] renatoathaydes commented on #16345
We have some of our own plugins written in Kotlin and as we upgrade Gradle, things tend to break because we enforce a policy of no version conflict in the classpath.

We end up doing this in all Kotlin projects:

[code]

It's ugly but fixes the conflicts.

[2021-08-11 15:14] #8520 closed

[2021-08-11 15:47] ducrohet opened #18000 "API discrepancy around getting Build identifier"
In AGP we are trying to figure out the unique ID of a build in order to properly populate our dependency model.

We are approaching this from 3 different angles:

1. while processing the dependency graph of a project.
`ProjectComponentIdentifier` returns `org.gradle.api.artifacts.component.BuildIdentifier` which only provides a `name` for the build that contributed the project.

2. While building

[2021-08-11 16:17] #17600 closed

[2021-08-11 16:23] LouisCAD commented on #16345
@renatoathaydes Looks like you do this in a Groovy script. settings.gradle, build.gradle, or an init script?

That gets me thinking that an init script could do the job of forcing a recent Kotlin stdlib to ensure compatibility with libraries. It could even be exported as a plugin (`Plugin<Gradle>`).

[2021-08-11 16:49] runningcode opened #18002 "Please document Kotlin language compatibility with Gradle Build tool versions."
In order to reduce confusion we should document the expected language compatibility with Gradle and Kotlin.

[2021-08-11 17:04] tgodzik commented on #16527
Together with @MarcinAman we've managed to get something working here: https://github.com/gradle/gradle/pull/18001

I am running some final tests on it, but it seems that Gradle should be able to compile Scala 3 after this is merged. I would appreciate any feedback or help to figure out if anything is missing (especially test wise.)

[2021-08-11 17:17] jlprat commented on #16527
Thanks a lot @tgodzik

[2021-08-11 17:51] dolansete commented on #16996
Just what I needed, thank you!

[2021-08-11 18:07] autonomousapps commented on #17810
Did we decide this isn't a leak?

[2021-08-11 19:03] ZacSweers commented on #18002
Please ensure you document runtime vs source compatibility. Gradle bundling 1.5 may not allow for Kotlin 1.5 language features to be used. That said, Kotlin 1.5 supports running older Kotlin code (backward compatibility is guaranteed), so I don't understand what "1.4-compatible" means as Kotlin guarantees it anyway

[2021-08-11 19:06] ZacSweers commented on #16345
@renatoathaydes I believe you're talking about something unrelated to this issue. The build itself will still be forced to use the version Gradle embeds, there's no current way to force this resolution to another version (or else this issue wouldn't exist!). You can write a Gradle plugin in whatever language you want, that doesn't change the fact that it's forced to the runtime of whatever Kotlin

[2021-08-11 19:09] #17200 closed

[2021-08-11 19:39] msgilligan opened #18004 "Add Temurin to `JvmVendorSpec`"
Add **Temurin** to `JvmVendorSpec`. Given that Temurin effectively replaces `AdoptOpenJDK`, there needs to be a way to specify that Temurin is the desired vendor.

[2021-08-11 19:42] liutikas commented on #3170
Any updates here? It would be great to be able to resolve this issue without having to work around it. It is especially problematic now due to configuration caching, as that means you can no longer access `project` within `pom.withXml`

[2021-08-11 20:47] renatoathaydes commented on #16345
@LouisCAD `build.gradle` for every project using Kotlin.

@ZacSweers I believe it's the same issue because when I add a plugin to the buildScript classpath, it introduces a conflict with what I believe is Gradle's built-in Kotlin (which breaks our build as we use a strict strategy that forces us to resolve versions "manually"  - this may be harder than it needs to be, but it's current policy due t

[2021-08-11 21:07] cortinico commented on #16345
Seconding this. As a plugin author there is little to no guidance on how to properly setup a Gradle plugin written in Kotlin to offer the higher compatibility to our users.

Would be great if the Gradle team could include the:
- Version of the embedded Kotlin
- suggested api/language language
In this page for every release: https://docs.gradle.org/7.1.1/userguide/compatibility.html

[2021-08-11 22:30] asarkar opened #18006 "Allow project-wide opt-in for insecure URLs"
Gradle 7 blocks insecure URIs, so the following no longer works:
[code]

The workaround is to opt-in for each and every URL.
[code]
But this is not practical for anything more than a handful of projects.

### Expected Behavior
Provide `org.gradle.allow-insecure-protocol=true` to be set in the gradle.properties or elsewhere for a project wide opt-in.

### Current Behavior
Opt-in required for each a

[2021-08-11 23:05] ephemient commented on #16345
For what it's worth, this seems to work for me to create an artifact compatible with Gradle's embedded Kotlin version, even in a project using a greater version of the Kotlin plugin:
[code]

[2021-08-12 05:01] ice1000 commented on #16857
Does that mean gradle 7.2 will support Java 17?

[2021-08-12 07:11] beyondckw opened #18012 "oom build with gradle 6.7.1"
STEPS TO REPRODUCE:
1.update agp from 4.0.1 to 4.2.2
2.run bundleRelease or bundleDebug
3.then build failure

Studio Build: Arctic Fox 2020.3.1
Version of Gradle Plugin: 4.2.2
Version of Gradle: 6.7.1
Version of Java: 8 or 11
OS: mac/linux

[code]

[2021-08-12 08:04] #14972 closed

[2021-08-12 08:36] jbartok commented on #17987
@Vampire thank you. @chrisr3 we will close this issue, because it doesn't really seem to be Gradle related. If you still have reason to think otherwise, pls. feel free to open a new one and link to this and we'll see what we can do about it.

[2021-08-12 08:36] #17987 closed

[2021-08-12 08:41] Mahoney commented on #16345
Dependency, yes. But the kotlin stdlib is a rather large dependency.

I don't think I've ever experienced an issue with binary compatibility in the java stdlib in Java 1.3 - 11. Not sure whether it's still as stable now.

https://kotlinlang.org/docs/compatibility-guide-15.html#gradually-change-the-return-type-of-collection-min-and-max-functions-to-non-nullable suggests that with the Kotlin 1.6 std

[2021-08-12 09:16] gildor commented on #16345
It will be binary compatible change, reintroduced API will just have different JVM name

Is it somehow different in Kotlin? All stable Kotlin versions are binary compatible (excluding experimental APIs)

[2021-08-12 10:33] lptr commented on #9210
A sandbox would be an opt-in feature if we implement it. It's not on our immediate roadmap, though.

[2021-08-12 10:34] lptr commented on #17979
There's no specific fix in `7.2-rc-2`. I'm on this.

[2021-08-12 11:18] lptr commented on #18002
FTR, we keep track of dependency versions internally here: https://docs.google.com/spreadsheets/d/1Q4j7nkwx0CnUsFVnnaBJMFNd0BUroswWR-wA_ZrFh1w/

[2021-08-12 11:19] lptr commented on #18002
We should consider making all of this information public for releases, including Java and Android plugin versions.

[2021-08-12 11:52] donat commented on #15619
@lepapareil Sorry for the late reply. Is this still a problem, or have you solved it?

[2021-08-12 11:53] Furetur opened #18013 "Depending on a Git repository with a git submodule throws an NPE"
I reproduce the issue with 2 simple repositories: a [library](https://github.com/Furetur/simplelib) and an [application](https://github.com/Furetur/this-project-breaks-gradle) that depends on that _library_.

* I'm trying to add the _library_ that is a Git repository as a dependency to my _application_ with

[code]
* The _library_ has 1 git submodule. The submodule does not contain any code, only

[2021-08-12 12:03] robstoll opened #18014 "javaCompile.source replacedBy stableSources but there isn't such a property in 7.1.1"
### Expected Behavior
Better pointers in deprecated messages

### Current Behavior
I don't know if stableSources was not added as planned or if the message should be improved

### Steps to Reproduce
See deprecated warning for JavaCompile.source

### Your Environment
gradle 7.1.1

[2021-08-12 13:02] lptr commented on #17979
I tried to reproduced this, and started an instance via:

[code]

Then I cloned `https://github.com/gradle/native-platform`, bumped it to use `7.2-rc-2` and ran `assemble` then changed a file using:

[code]

The event has been properly triggered:

[code]

Rebuilding indeed caused the changes to be detectd:

[code]

So I couldn't simply reproduce this. :(

[2021-08-12 13:09] lptr commented on #17979
`:file-events:compileJava` executed after some changes:

https://ge.gradle.org/s/emavvn4l42hao/timeline?details=jau7xjgddmty6&outcome=SUCCESS

[2021-08-12 15:12] donat commented on #15611
Hi @xenoterracide! Thanks for the suggestion. I think this would be a nice feature. At the same time, given the current priorities of the Gradle team, there's little chance this story will get any attention on our side.

Also, Gradle has already too many features. If anything we should make it slimmer and offer better integration with extensions IMHO.

I think the implementation has a better place

[2021-08-12 15:12] #15611 closed

[2021-08-12 15:20] asarkar commented on #18006
@tresat That doesn’t solve the problem with applying the scripts. Please reopen.
I’m not seeing reopen button, perhaps it’s reserved for maintainers only. In the future, if you’re waiting for feedback, please actually wait for feedback before closing.

[2021-08-12 15:24] xenoterracide commented on #15611
I actually generally agree with this sentiment. I think that Gradle might be better off to move all of its core plugins into external plugins. External plugins that are still maintained by the Gradle team but not downloaded as part of the distribution. In part to make core gradle a lot lighter. Not that I really think the plugins are what's taking up a lot of space. It also might make the distinct

[2021-08-12 16:02] mlopatkin opened #18016 "Non-default pluginSourceSet is ignored"
It is possible to use non-main sourceSet as a `gradlePlugin.pluginSourceSet` for binary plugins or precompiled script plugin in Groovy or Kotlin.
[code]

However, only plugin descriptors are generated while sources aren't compiled.

### Expected Behavior
Plugin sources in a custom source set should be compiled and the binaries bundled into the resulting jar

### Current Behavior
Plugin sources in

[2021-08-12 17:34] kvainer opened #18017 ""Strictly" dependency not that strict"
I have a library that depends on a particular version of a dependency, so I use strictly to say I must have that version. Then I have an app that also depends on that dependency, but it wants a different version.

Here's an (abridged) example:
[code]

The way I interpret strictly is to mean "I must have this version, no other version is acceptable for me". When the lib says it _strictly_ wants ver

[2021-08-12 18:25] bjornbugge commented on #6860
Is there any update on this issue?  We have run into this problem as well.

[2021-08-12 20:32] Cyrill opened #18018 "Gradle 7.1 throws a NullPointerException if launched on JRE on Windows"
The build was triggered on a TFS server (Windows)
`C:\Windows\system32\cmd.exe /D /S /C "C:\agent\_work\694\s\gradlew.bat --debug --stacktrace build"`

It turned out that by mistake JRE was used instead of JDK:
[code]

The build failed with just a NullPointerException:
[code]
I had to add `--stacktrace` parameter to see what the cause was

### Expected Behavior
Gradle should emit a meaningful mess

[2021-08-12 21:10] gavra0 opened #18019 "Dependency constrains on subprojects beaking artifact transforms with dependencies"
Original issue: https://issuetracker.google.com/195441712

Using [dependency_constraints.zip](https://github.com/gradle/gradle/files/6978557/dependency_constraints.zip) project and running `./gradlew clean && ./gradlew :module011:assembleDebug --max-workers 16` causes flaky behaviour (it seems to be more frequent with clean and assembleDebug run in the same invocation) . In the top-level `build.gr

[2021-08-13 01:11] andrewegel opened #18022 "Gradle 7.0.2 no longer will deploy to S3 buckets with a dot and digit and throws NPE"
## Context

Our organization has been using gradle through the years to build a Java/Scala project. We have proprietary build scripts and staging S3 buckets we use for deploying maven artifacts.

We recently attempted to deploy a release using gradle to an s3 bucket that would follow the pattern `${BUCKET_NAME}-${VERSION_WITH_DOTS}`

This was working up till 7.0.2 (Before we were using `6.8.1`). I

[2021-08-13 06:56] jbartok commented on #17996
@szpak We can't really propose a nicer solution atm. The only advice we can give is to maybe reimplement your solution as a plugin and publish it on the [plugin portal](https://plugins.gradle.org/), so it becomes reusable.

[2021-08-13 08:40] #17996 closed

[2021-08-13 08:46] Mahoney commented on #16345
Cool, if Kotlin are guaranteeing backwards binary compatibility then I withdraw my comment.

Does anyone have a link to an explicit statement of that guarantee? My googling is letting me down.

[2021-08-13 08:47] Kolyall opened #18024 "Do not break builds if CC instrumentation cannot parse class file if it is actually a resource named like class"
gradle version: 'com.android.tools.build:gradle:7.0.0'

### Steps to Reproduce
Sync project

### Your Environment
[code]
Error:
[code]

[2021-08-13 08:50] Kolyall commented on #18024
In result only file:
`aspectjtools-1.8.10.jar.lock.lock`
is created at the folder
![Screenshot from 2021-08-13 11-49-01](https://user-images.githubusercontent.com/3495165/129331257-997fb043-0e44-4fc7-a32d-a1a959e96ee8.png)

[2021-08-13 09:34] mlopatkin commented on #18024
The `aspectjtools-1.8.10` contains a `org/aspectj/org/eclipse/jdt/internal/compiler/parser/UpdateParserFiles.class` which isn't a valid JVM class file but some binary data. Gradle's bytecode instrumentation should be more resilient for this kind of errors.

The immediate solution might be to use a newer aspectjtools version, e. g. `1.9.0`, which doesn't contain malformed classes.

[2021-08-13 09:38] mlopatkin commented on #18024
The reproducer (build.gradle):
[code]

[2021-08-13 10:15] LouisCAD commented on #16345
@Mahoney

https://kotlinlang.org/docs/components-stability.html#stability-of-subcomponents

https://kotlinlang.org/docs/language-committee-guidelines.html

[2021-08-13 10:47] Kolyall commented on #18024
Thanks!

[2021-08-13 11:08] mlopatkin commented on #18024
I'd like to keep this issue open for a while so we can track potential fixes around the instrumentation code.

[2021-08-13 11:43] mlopatkin commented on #18019
@gradle/execution could you please take a look?

[2021-08-13 12:17] trecloux opened #18027 "Toolchain: AdoptOpenJDK vendor rebranded to "Eclipse Foundation""
### Expected Behavior
When using toolchain with vendor spec `JvmVendorSpec.ADOPTOPENJDK`, gradle should use local JDK or download and install it.

### Current Behavior
Gradle does not use my local JDK and untar downloaded JDK for each module

### Context
It looks like AdoptOpenJDK vendor is now "Eclipse Foundation", gradle compares vendor for my local JDK and for previously downloaded one and unpa

[2021-08-13 13:23] mlopatkin commented on #18013
One interesting thing is that the first invocation of `./gradlew build` after checking out works, only consecutive ones fail.

Unfortunately, source dependencies are not in the focus so the issue is unlikely to be addressed in the short or medium term.

[2021-08-13 14:13] tresat commented on #18006
@asarkar I'm sorry, I see I failed to address the application of script plugins from insecure URLs in my original reply.  I've discussed this matter with my colleagues, and unfortunately we are not going to be able to make the change you suggested.

It is intentional that you must individually opt-in to **each** usage of an insecure URL.  We do not want to enable the scenario where a global flag i