[2022-08-03 19:27] appdirect-kasidit commented on #20026
Workaround that I found for now is
[code]

[2022-08-03 19:47] jeantil opened #21435 "Gradle 7.4+ regression: configure on demand breaks project artifacts resolution for targeted builds"
### Context

We enabled configure on demand in our mono-repo build for performance reasons.  Despite our use of kotlin dsl this worked fin with gradle 7.3.3. Upon upgrading to gradle 7.5 broke our build reverting back to 7.3.3 makes it work again.
I provide a reasonably minimized project which demonstrates the issue.
Changing the gradlew wrapper properties to any version above 7.3.3 reproduces the

[2022-08-03 20:18] chachako opened #21436 "[KTS] Pre-release classes were found in dependencies. Remove them from the classpath, recompile with a release compiler or use '-Xskip-prerelease-check' to suppress errors"
The previously written **Gradle plugin** suddenly stopped working after recompiling (I'm not sure what happened during this period).

This is a confusing bug report. I have tried many methods, including cleaning the project and deleting the `.gradle` folder in the project and user home, compiling with the command line, and using the new Gradle and the old Kotlin Gradle plugin. However, none of the

[2022-08-03 21:52] Omico commented on #21381
Great! after I dig into the Gradle Enterprise plugin binary. I found the workaround is to create these extensions by myself under `org.gradle.kotlin.dsl`.

[2022-08-03 21:59] Omico commented on #11210
As a workaround, we can also create these extensions by ourselves under `org.gradle.kotlin.dsl`. See https://github.com/Omico/gradle-issue-missing-kotlin-dsl-in-settings/commit/96b2d3ad9883bd33cd8c93d084e328d8eb1790be

[2022-08-03 22:49] tiembo commented on #21415
[Here's](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:buildSrc/private/src/main/kotlin/androidx/build/dackka/GenerateMetadataTask.kt;l=60) where we're using it as part of the AndroidX build.

[2022-08-04 00:59] jimshowalter commented on #21325
We get the same error with the latest snapshot. We don't use shadow.

[2022-08-04 09:28] melix commented on #847
I don't know if there are "plans to solve it", but I can explain why it works like this. Basically, Gradle supports conflict resolution between a project and its published binary equivalent. For example, you can have a project which depends on a different, published, version of itself. There are users who depend on this behavior, which is also tweakable (for example, to always prefer the project d

[2022-08-04 09:47] swapnilgaikwad1507 commented on #12440
@Hasham24
Hey did you find any solution?
I am also facing the same issue in AppCenter while building it for Android.

[2022-08-04 09:56] Hasham24 commented on #12440
@swapnilgaikwad1507 yes I just change the ndk version to this "21.4.7075529". I found no other solution.

[2022-08-04 09:59] swapnilgaikwad1507 commented on #12440
Where exactly did you change the version?

[2022-08-04 10:04] Hasham24 commented on #12440
I just go android/app/buildgradle and update the ndk version. if you don't found there then just look at the android/buildgradle.

[2022-08-04 10:05] swapnilgaikwad1507 commented on #12440
@Hasham24  If you don't mind, could you please post your gradle file here.

[2022-08-04 10:07] Hasham24 commented on #12440
I can't you can approach me on LinkedIn. I share the link to my profile.
https://www.linkedin.com/in/ahmad-hasham-6a70a5104/

[2022-08-04 10:22] gavra0 commented on #18587
Can we please reopen the issue as it is pretty easy to run into race condition, given the API that exposes `registration` and encourages patterns such as `registrations.getByName(...)`? Can we consider deprecating that API and exposing `getByName()` on the `BuildServiceRegistry` directly? //cc @adammurdoch

[2022-08-04 11:24] h0tk3y commented on #20145
Hey @sellmair,
Thanks for the update!

Given that the configuration `kotlinKlibCommonizerClasspath` in the root project is created by the Kotlin plugin, I think it should be OK for the plugin to also apply the `jvm-ecosystem` plugin to the root project. That's the way to say that the plugin wants dependency resolution to follow the Gradle's built-in JVM-specific schemas & strategies. As of now, it

[2022-08-04 11:26] wolfs commented on #21379
When querying a file tree you may get a different order of files. Though when declaring a file tree (or any file collection) as an input, that may not matter. Depending on the type of input normalization you put on the input file collection the order may or may not matter. Currently, only the `@Classpath` and `CompileClasspath` take the order of files on the input file collection into account, and

[2022-08-04 11:30] sellmair commented on #20145
Good point. Maybe we can schedule a Meeting to finally resolve this issue?
We potentially can avoid running this commonizer task in the rootProject all together?

The untraditional requirement for this task:
This should only run once for the whole build, collecting all requirements of all multiplatform projects within this build.

Are there any other options to perform such 'action'?

[2022-08-04 11:32] h0tk3y commented on #20145
A [shared build service](https://docs.gradle.org/current/userguide/build_services.html) should likely be a good fit.

[2022-08-04 11:53] gavra0 commented on #20145
Please do note that if this **must** run only once, build services do not have such guarantee ( see https://github.com/gradle/gradle/issues/18586). If this is only a performance optimization, and there could be multiple `kotlinKlibCommonizerClasspath`, build services are indeed a good fit.

[2022-08-04 11:57] tresat opened #21439 "Remove Remnants of Upload Task"
Finalization of work on #21421, should we decide to use the alternate solution #21440

Once the [Spring Dependency Management](https://plugins.gradle.org/plugin/io.spring.dependency-management) plugin releases a version > `1.0.12.RELEASE` it will no longer require the presence of an `org.gradle.api.tasks.Upload` class to be present.  This task is currently an empty shell, where the only `@TaskActi

[2022-08-04 12:26] ljacomet commented on #21399
@tcfurrer Any chance you could provide a minimal reproducer that illustrates the problem?

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue-reproducer

[2022-08-04 12:53] carlosame commented on #21399
FWIW the [css4j-dist](https://github.com/css4j/css4j-dist) project is affected by this. With Gradle 7.5:

[code]

But if you run `mergedJavadoc` with the wrapper (7.4.2 currently) it works.

[2022-08-04 13:01] Meijuh opened #21441 "Support getting first-order plugins"
### Expected Behavior
I would like to see the `PluginManager` having the feature to give me all "first-order" plugins. I.e. the plugins that were applied by a project itself, and not by external plugins.

### Current Behavior
Currently the `PluginManager` only provides me the option to get all plugins: first-order (those applied by the project itself) and higher-order (those applied by external pl

[2022-08-04 14:54] ljacomet commented on #21400
Fix has been merged

[2022-08-04 14:54] #21400 closed

[2022-08-04 15:05] nniesen commented on #8489
Run your build with `--stacktrace`. The stacktrace messaging is pretty good now at indicating which dependency is causing issues for dependency resolution. Usually the cause I see is some dependency with a broken reference or one containing an unresolved version that's causing a cycle.

[2022-08-04 17:07] tcfurrer commented on #21399
@ljacomet Yes I can work today on providing a minimal reproducer using that template.

[2022-08-04 17:27] ljacomet commented on #21399
@tcfurrer See the #21442 which is a minimal fix. If you can confirm it works on your project, that would be great. I no longer need a minimal reproducer as I was able to craft a test.

[2022-08-04 17:35] tcfurrer commented on #21399
Minimal reproducer is here, nonetheless: https://github.com/tcfurrer/gradle-issue-reproducer-21399

[2022-08-04 18:07] bingranl commented on #20461
Can you share what version this fix would be included? (e.g. 7.6-rc1, 7.6-rc2 .... )

[2022-08-04 18:16] tcfurrer commented on #21399
I grabbed the build artifacts from #21442 and tried them on my original full project. Fix looks good there.

[2022-08-04 19:17] jimgoog commented on #21088
I managed to get my machine into the failing state.

Ran `./gradlew :benchmark:benchmark-common:dependencies --no-daemon --stacktrace --info --stacktrace --debug --scan &> gradle-issue-21088.log` to get a log file:
[gradle-issue-21088.log](https://github.com/gradle/gradle/files/9262677/gradle-issue-21088.log)

Deleting ~/.gradle/ didn't seem to resolve the issue, but moving the output directory di

[2022-08-04 20:04] liutikas opened #21443 "Make UnzipTransform public API"
Make `org.gradle.api.internal.artifacts.transform.UnzipTransform` public API. It is a generally useful TransformAction (e.g. [usage by Paparazzi plugin](https://github.com/cashapp/paparazzi/blob/master/paparazzi/paparazzi-gradle-plugin/src/main/java/app/cash/paparazzi/gradle/PaparazziPlugin.kt#L224) as it just end up being copied by dozens of plugins https://cs.github.com/?scopeName=All+repos&scop

[2022-08-05 01:16] Kitanotori opened #21445 "No way to quiet --write-locks"
### Expected Behavior
`./gradlew dependencies -q --write-locks` should not output dependency info in case of no errors (i.e., only generate lockfiles)

### Current Behavior
`./gradlew dependencies -q --write-locks` outputs all dependency info even if no errors.

### Context
In case of non-trivial projects, the output of --write-locks is quite long and thus causes inconvenience.

[2022-08-05 01:42] abstratt commented on #20461
7.6-rc1 (or any nightlies from now on)

[2022-08-05 07:48] mustafaakin commented on #6843
It'd be lovely to have this feature. Maven also has this and we use it as following in our pipelines: `mvn verify --batch-mode -Dstyle.color=always --no-transfer-progress`

[2022-08-05 08:56] ljacomet commented on #21436
The problem is that you are using a library in your plugin that seems to have been compiled with a pre-release Kotlin compiler - `libs.square.kotlinpoet`. And you expose types from this library into your plugin DSL.
So while you can make your plugin compilation succeed by passing the flag, it will fail when you attempt to use the plugin and its DSL with kotlinpoet types in a project buildscript.

[2022-08-05 08:56] ljacomet commented on #21435
Confirmed to be broken with 7.4

[2022-08-05 09:49] MagnusMG opened #21450 "Missing documentation for ANTLR plugin"
The documentation of the ANTLR plugin (https://docs.gradle.org/current/userguide/antlr_plugin.html) is incomplete. When I tried to find a way of specifying where the generated java files would end up, all I could find was the general property `arguments` in `generateGrammarSource`. In the ANTLR documentation (https://github.com/antlr/antlr4/blob/master/doc/tool-options.md) it is said that the opti

[2022-08-05 10:04] ljacomet commented on #21399
We decided to  fix this by reverting the fix for #19726 which has a number of issues. See #21446.

[2022-08-05 10:06] ljacomet commented on #19726
Re-opening as the fix has unfortunate consequences and will be reverted. You will have to keep applying the workaround described above in 7.5.1 and above until we find a proper fix for this.

[2022-08-05 10:09] ljacomet commented on #21325
Moving this out of Gradle 7.5.1, as we have other fixes for the patch release that we want published and are unable to provide a fix here for now.

Those affected will have to stay with Gradle 7.4.2 for now.

[2022-08-05 11:14] aSemy commented on #20151
Can you link directly to the documented alternatives? The link you provided isn't very clear. I eventually end up at the bottom of this page https://docs.gradle.org/current/userguide/build_services.html#operation_listener, but the description isn't clear.

What is that supposed to mean? What's a `BuildEventsListenerRegistry`?

[2022-08-05 12:01] wolfs commented on #21368
This may be solved by #21314

[2022-08-05 12:48] bubbleguuum opened #21452 "Android project fails to build with 7.5 due to "Incompatible because this component declares a component, as well as attribute 'artifactType' with value 'orbit' and the consumer needed a component, as well as attribute 'artifactType' with value 'android-classes-jar'""
[code]

A large Android project that used to build fine with 7.4.2 fails to build with 7.5 (and latest gradle master as of the date of this report), resulting in:

[code]

I believe this is caused by `org.eclipse.jetty.orbit:javax.servlet:2.5.0.v201103041518` using `<packaging>orbit</packaging>` in its [pom](https://repo1.maven.org/maven2/org/eclipse/jetty/orbit/javax.servlet/2.5.0.v201103041518/j

[2022-08-05 13:01] abstratt opened #21454 "Deprecate and remove :model task"
The model task fails if tried with configuration cache enabled.

[code]

[code]

[2022-08-05 13:05] abstratt commented on #21454
Might use an approach similar to #21419. However, #15023 suggests we may dropping this task altogether currently marked for deprecation).

[2022-08-05 14:04] bamboo commented on #21454
Software model is out of scope for the configuration cache.

[2022-08-05 14:14] abstratt commented on #21454
Just

`notCompatibleWithConfigurationCache("Software model is out of scope for the configuration cache");`

then?

[2022-08-05 14:16] bamboo commented on #21454
Almost but not quite due to `notCompatibleWithConfigurationCache` semantics.

[2022-08-05 14:38] bamboo commented on #17813
This is now part of the Stable Configuration Cache milestone.

[2022-08-05 15:06] ljacomet commented on #21399
Revert has been merged, behavior in 7.5.1 will match 7.4.2

[2022-08-05 15:06] #21399 closed

[2022-08-05 15:36] abstratt commented on #21454
Which semantics, Rodrigo? Not failing a build in case of CC problems? Or preventing the cache entry from being saved? The latter would be what we were after, the former not so much, but maybe harmless?

[2022-08-05 16:06] elect86 opened #21455 "Exception occurred applying catalog setting plugin (with composite build)"
I developed a catolog setting plugin and after adding this in the consumer project I get an exception

### Expected Behavior
There should be no exception

### Current Behavior

### Context
This blocks me from using the plugin.
I was trying to use the catalog feature and testing first locally via a composite build.

### Steps to Reproduce
- clone consumer at the `catalog` [branch](https://github.co

[2022-08-05 16:36] liutikas opened #21456 "Add ability to get named Task file inputs and outputs"
Gradle Task class has `getInputs()` that returns [TaskInputs](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/TaskInputs.html). This is a really helpful tool to quickly amend tasks with new property and file inputs. For the properties, you add new ones and also get them back by name, however the same is not true for file inputs - you can add new file inputs, but there is no way to get

[2022-08-05 17:19] bingranl commented on #20461
Thanks @abstratt

[2022-08-05 17:19] #20461 closed

[2022-08-05 18:38] alanv commented on #20011
For module metadata, I believe this stems from `SoftwareComponentVariant` using an unordered `Set` to represent dependencies, constraints, excludes, etc. which are then transferred to an ordered `List` in `ModuleMetadataSpec.LocalVariant` before being written to JSON in `GradleModuleMetadataWriter`.

For XML, we have found that _very_ few XML libraries preserve array ordering when writing to a fil

[2022-08-05 18:58] vlsi commented on #20011
I wonder how good (bad?) would it be to completely ban `HashSet`, `HashMap`, and use `Linked*` variants by default.

See:
* https://github.com/google/error-prone/issues/3230
* https://github.com/policeman-tools/forbidden-apis/issues/199

[2022-08-05 20:39] cogitaria-admin opened #21458 "Gradle generated incorrect build/scripts/app and build/scripts/app.bat"
The generated "app" script sets CLASSPATH=$APP_HOME/lib/app.jar:...

There is no **/lib** folder so it throws ClassNotFoundException but there a **/libs** folder was generated. Adding an "s" fixes the script. Same typo is in the distribution/app.tar and app.zip.

### Expected Behavior

Generated build/scripts need to have correct CLASSPATH with **libs** rather than **lib** folder.

### Current Beh

[2022-08-05 21:50] big-guy commented on #21458
I don't believe this is the case.

Here's the directory structure for the application project generated by `gradle init` with 7.5:

*lib* is the correct path.

[2022-08-05 23:09] jiridanek commented on #5431
It's not so bad, there is a helper `KotlinClosure2` in Kotlin DSL to produce the Groovy closure:

[code]

[2022-08-05 23:35] Marcono1234 commented on #19726
Thanks nonetheless for trying to fix this!

`exclude(...)` also seems to work when `--module-source-path` is used (at least for the above provided sample project); maybe that is a helpful workaround as well, but it will probably not be a good solution either.

Apparently for `--module-source-path` you also have to pay close attention to how your module is named. The path `/*/src/main/java` shown i

[2022-08-06 05:31] aseemsavio commented on #20372
Is there a roadmap available for when we get to have support for JDK 19? If someone could share, that would be awesome!

[2022-08-06 08:10] wangxuyang518 opened #21461 "org.gradle.unsafe.configuration-cache-problems error"
env：

classpath 'com.android.tools.build:gradle:4.2.2'

distributionUrl=https\://services.gradle.org/distributions/gradle-6.9-bin.zip

when i run   ‘gradle --configuration-cache --info’

[code]

[2022-08-06 10:26] chachako commented on #21436
So while you can make your plugin compilation succeed by passing the flag, it will fail when you attempt to use the plugin and its DSL with kotlinpoet types in a project buildscript.

In fact, I didn't use the members of the kotlinpoet library, but compiled it myself, but obviously, it failed.

And I also tried the fork Gradle source code and added the flag to the [KotlinCompiler](https://github.c

[2022-08-06 10:32] chachako commented on #21436
And I would like to add that in the process, I also found that this error would also occur if `context-receivers` was enabled for the plugin, even if I used **Gradle version 7.6** that supports **Kotlin 1.7** (but this is not the reason why I first encountered this problem).

[2022-08-06 10:42] robingenz opened #21462 "Gradle 7: Linter does not recognize dependency from subpackage"
### Expected Behavior

When linting a project which references a dependency of a sub-package in the `AndroidManifest.xml`, the error `Unresolved class ...` should not appear.

### Current Behavior

I get the following error when linting a project which references a dependency of a sub-package in the [`AndroidManifest.xml`](https://github.com/robingenz/capacitor-firebase-authentication-demo/blob/c3

[2022-08-06 12:16] ccjernigan opened #21463 "Don't clear `distributionSha256Sum` when updating Gradle wrapper"
When updating Gradle, configuring the correct Gradle SHA is difficult because the SHA gets cleared automatically.

### Expected Behavior
`distributionSha256Sum` is not affected by updating the Gradle wrapper.

### Current Behavior
`distributionSha256Sum` is removed from gradle-wrapper.properties when generating an updated wrapper.

### Context
When updating to new versions of Gradle, I have to do

[2022-08-06 13:51] zogmn opened #21464 "Gradle's failure to load *.module file may cause a failing build"
### Description

It seems that in some cases Gradle does not respect `published-with-gradle-metadata` in POM file, and therefore fails to load module file, thus missing some necessary dependencies, and resulting in unstable or failing build.

### Example

In a project I am working on we have a dependency to `io.insert-koin:koin-android:3.2.0`, which, in absence of ~/.m2/repository will result with

[2022-08-06 15:19] CoXier commented on #21458
@big-guy
Can I ask you a question about how do you generate above file three output/

[2022-08-06 17:25] DaveJarvis opened #21465 "Cannot extract contents of Renjin 3.5 beta76 archive"
# Environment

[code]

# Replicate

[code]

# Expected

No error.

# Actual

[code]

# Regression

Is this a regression? The same `gradle.build` file works with Gradle 7.3.

Both `jar` and `zip` commands can open the file successfully.

[code]

# Stacktrace

[code]

[2022-08-06 18:38] vlsi commented on #21463
Does this duplicate https://github.com/gradle/gradle/issues/12412?

[2022-08-06 19:33] ccjernigan commented on #21463
No, this is a separate issue. This issue is that the `distributionSha256Sum` is known and I have set it, but Gradle clears it.  That other issue is about inserting the `distributionSha256Sum` automatically which requires a very different implementation.

[2022-08-06 19:42] vlsi commented on #21463
Well, you mention wrapper update, and you want to keep sha256. Do you suggest the subsequent executions should fail?

[2022-08-06 19:44] ccjernigan commented on #21463
If the sha256 is wrong, it should fail.

[2022-08-06 21:34] liutikas commented on #20011
All the Gradle writers (json and xml) could presort these sets before writing them out. That seems to be like a workable solution that is minimal cost/change.

[2022-08-07 03:02] albert-flex opened #21466 "do build or compileTestJava action Failed"
### Expected Behavior
No Error. Build Or CompileTestJava Successfully.

### Current Behavior
Report That Module Name Error.
there has the error info following:
[code]

### Context
I wanna run Module Test with module-info.java in test correctly.
that is ok when no javafx dependency in module, while now is error with javafx depdency.

### Steps to Reproduce
My Repository:
https://github.com/albert-f

[2022-08-07 09:26] natros opened #21467 "Configuration cache fails for gradle 7.5.1 with "Unexpected group requested""
When I execute the command twice I get an exception with gradle 7.5.1. Works with 7.5.

The attached project was generated using gradle init

The first time works
[code]

The second time, fails.
[code]

[code]

It depends on the order in which the `:build-logic:classes :build-logic:testClasses` is in the command line.

I'm calling every compile task on the command line, because that's how IntelliJ

[2022-08-07 17:07] HEdingfield commented on #21409
Thanks for this suggested fix, I was running into the same issue and this worked for me. Do you think it makes sense to change [this file](https://github.com/checkstyle/checkstyle/blob/checkstyle-10.2/src/main/resources/google_checks.xml) in the `checkstyle` repo to include this? And maybe the `sun_checks.xml` one as well?

[2022-08-07 17:25] asodja commented on #21409
Maybe it would be worth adding at least a comment above the problematic line, something like: for Gradle use ${config_loc}/checkstyle-suppressions.xml or something like that.

[2022-08-08 08:13] HEdingfield commented on #21409
I filed an issue [here](https://github.com/checkstyle/checkstyle/issues/12043), but I'm out of my depth in responding to their questions... can anyone from the Grade team able to chime in over there? It's still unclear to me if the fix lies with the Gradle team or the Checkstyle team.

[2022-08-08 13:08] sellmair commented on #20145
Proposal:
Let's go with a two step plan:

Step 1:
As long as we did not implement this commonizer task as shared build service, we already break project isolation. Therefore we can apply the java-base plugin also. This can be shipped in 1.8.0 and will unblock this issue.

Step 2:
Implement this as shared build service in Kotlin 1.8.20 (or 1.9.0).

Is this okay for everyone?

- [ ] @h0tk3y
- [ ] @d

[2022-08-08 13:14] dsavvinov commented on #20145
Seems like an acceptable option for now 👍

[2022-08-08 13:25] bamboo commented on #21454
I meant problems would still be reported with `notCompatibleWithConfigurationCache` and that's undesirable.

[2022-08-08 15:02] h0tk3y commented on #20145
You mean the `jvm-ecosystem` plugin, right? LGTM, then.

[2022-08-08 15:04] ianbrandt commented on #884
I was about to file an issue that the wrapper task needs to be run twice after updating its configuration, but it appears that might be the same as this issue. Let me know otherwise if I should file this as a separate issue:

### Steps to Reproduce

1. Update the `Wrapper` task configuration to a newer version of Gradle:
[code]
2. Run `gradlew wrapper`.

### Expected Behavior

The './gradle/wrappe

[2022-08-08 15:16] bric3 opened #21474 "Declare test fixture dependencies with jvm test suite plugin"
Suppose you'd like to use both `java-test-fixtures` `jvm-test-suite`, I'd like to be able to declare in the suites the dependencies for the fixtures, but `JvmComponentDependencies` does not declare generic method to enter dependencies for such a configuration like it's possible with `DependencyHandlerScope`.

### Expected Behavior

Rather that "expected behavior", I was think the test suite approa

[2022-08-08 15:25] sellmair commented on #20145
Since everyone agree:
I will create post the commit in kotlin.git/master and the corresponding YT issue here tomorrow.
You can expect this to be in Kotlin 1.8

[2022-08-08 15:27] tresat commented on #21474
Thanks for the feedback, we thought the same thing!  Support for using fixtures in suites is [coming very soon in Gradle 7.6](https://github.com/gradle/gradle/pull/21049), along with some other improvements to the `JvmComponentDependencies`.  I'm going to close this until an RC for 7.6 is available and you have a chance to check it out.  Go ahead and reopen if you have thoughts on any further impr

[2022-08-08 15:48] aSemy commented on #20151
Okay I think I've figured it out. Here's a 'minimal' example you can copy into a `build.gradle.kts`.

[code]

In the logs I can see the printed message

[code]

[2022-08-08 17:46] bric3 commented on #21474
Ah cool thanks @tresat

[2022-08-08 19:37] bric3 commented on #21474
@tresat The PR https://github.com/gradle/gradle/pull/21049 doesn't seem exactly the same, eg it allows to enter `testFixture` dependencies.

But not the dependency of a `testFixture` like `testFixtureApi` or `testFixtureAnnotationProcessor‘

[2022-08-08 19:48] tresat commented on #21474
Unifying fixtures and suites in this way isn't something we've discussed.  Currently the `testing` block is only used for configuring tests for the current project, not for something like fixtures which are really not intended for verifying the current project but are rather meant to be exported to other projects.  We want to make it easy to declare a test fixture dependency upon project A within

[2022-08-08 22:38] mateuszkwiecinski commented on #14631
Happens in 7.5.1 as well. The workaround is to kill the daemon using `./gradlew --stop`

In my case, I tried to invoke `ExecOperations.exec` to run `python` but I kept getting `Syntax Error` as the deamon was up before my pipeline managed to install _proper_ python version

[2022-08-09 02:51] big-guy commented on #21458
@CoXier it's just [tree](https://linux.die.net/man/1/tree)

[2022-08-09 03:29] CoXier commented on #21458
Thanks a lot.

[2022-08-09 07:06] bric3 commented on #21474
@tresat Indeed that came to mind as well. What I have in mind is that the `jvm-test-suites` plugin organize most stuff under `testing.suites`, and of course fixture don't quite belong there.

[code]

I was thinking more about fixture declarations could fit within the `testing` "scope".

[code]

[2022-08-09 07:49] sellmair commented on #20145
Ticket to track implementing the task as build service:
https://youtrack.jetbrains.com/issue/KT-53527/Implement-NativeDistributionCommonizerTask-as-shared-build-service

[2022-08-09 11:09] tresat commented on #21474
I figured you weren't expecting the fixtures setup to be contained directly within the `suites` block.  I'll bring this idea up as we continue to iterate on the design of test suites.

[2022-08-09 12:39] david-kariuki commented on #4605
We need a solution for this.

[2022-08-09 15:15] sellmair commented on #20145
Pushed the corresponding fix to master.
This will be shipped in Kotlin 1.8

Thank you folks, a lot.
Quite a hard one! Let's hope for the best 👍

[2022-08-09 17:09] bamboo opened #21485 "Report usages of commonly used APIs for cross project access when isolated projects is enabled"
Add some more problems for some common APIs:

On `Project`

- [x] `Project.rootProject`
- [x] `Project.parent`
- [x] `Project.allprojects` (the getter)
- [x] `Project.subprojects` (the getter)
- [x] `Project.project()`
- [x] `Project.findProject()`
- [x] `Project.childProjects`
- [x] `Project.getAllProjects()` (both the keys and values)
- [x] `Project.getTasksByName()`
- [x] `Project.properties` a

[2022-08-09 17:32] Spikhalskiy commented on #20026
Confirm that the workaround posted by @appdirect-kasidit works.

It will include sources from all the modules though, even if the module is not configured as
[code]
leading to some modules ending up in the final report with 0 code coverage.

[2022-08-09 17:33] abstratt commented on #16702
Fixed for 7.6 in https://github.com/gradle/gradle/pull/20757.

[2022-08-09 17:33] #16702 closed

[2022-08-09 17:40] abstratt commented on #17470
Fixed for 7.6 in https://github.com/gradle/gradle/pull/20757.

[2022-08-09 17:40] #17470 closed

[2022-08-09 23:41] eygraber commented on #21412
I did that, and it worked for a bit, but after adding a number of `with` functions to my code the issue started happening again. Removing the `with` fixed it.

[2022-08-10 00:23] blindpirate commented on #4178
For people googled this:

![image](https://user-images.githubusercontent.com/12689835/183783906-f4da7d3c-8ff4-4c35-a421-fd62266974e0.png)

[code]

[2022-08-10 02:52] DanielThomas opened #21490 "withDependencies allows project dependencies to be added to the DependencySet after the task graph is ready"
One of our teams building a plugin got taken surprise when they didn't realise they'd race the task graph by using `withDependencies` to add project dependencies.

### Expected Behavior
Project dependencies should not be able to be added to configurations after configuration time.

### Current Behavior
The configuration resolves successfully but without the dependency does not have the artifacts f

[2022-08-10 07:35] zoldater opened #21492 "Deprecation message after migration to 7.4.2 with 'org.gradle.parallel'"
Valid reproducer of the issue could be found at https://youtrack.jetbrains.com/issue/KTIJ-21619
The problem looks similar to https://github.com/gradle/gradle/issues/17039 expect of the project structure.

### Expected Behavior

Gradle Sync in Intellij IDEA should finish without any issues.

### Current Behavior
Deprecation message appears: `Resolution of the configuration :build-logic:base-plugins

[2022-08-10 08:09] jjohannes commented on #21492
Note: The problem also exists with Gradle `6.9.2`. I don't know of any Gradle version that, in combination with latest IDEA, does not have this problem.

[2022-08-10 08:30] tudortimi opened #21493 "Add possibility to override Gradle plugin portal URL using user property"
For users behind a corporate firewall, it's not possible to access the plugin portal directly. It's possible to configure the repositories used for the "current" project, but if that project includes other builds (in my case via source dependencies), then those builds can't be told to use a different URL for the plugin portal.

### Expected Behavior
The user should be able to specify the plugin po

[2022-08-10 12:21] wolfs commented on #21085
We discussed this, and it is still important to track the implementation of the nested element for certain use-cases. I think especially when some methods on the types are not `getters` or when some `getters` are annotated with `@Internal` then the implementation can matter, since there is more an input than just the raw data.

[2022-08-10 12:21] #21085 closed

[2022-08-10 12:43] joffrey-bion commented on #12283
@big-guy I have personal secrets that are only relevant to one specific project. I certainly won't check them in, so the project's `gradle.properties` is out of the question, but I don't want *all* gradle builds on my machine in *any* project to access those secrets either.

What is the proper approach for this use case, if not a git-ignored `local.properties`?

[2022-08-10 16:27] ephemient commented on #12283
If it isn't doable inside Gradle, it's still possible outside of Gradle. One could use [direnv](https://direnv.net/) with
[code]
for example.

[2022-08-10 16:30] joffrey-bion commented on #12283
True, but the question is about what is worth supporting in Gradle itself. If there is a good case for it, and common enough, it probably has its place.

Also, I dev on windows, so `direnv` cannot really help me 😆

[2022-08-10 17:05] ingokegel commented on #20151
@aSemy Thank you!

I have tried this too, but `BuildEventsListenerRegistry.onTaskCompletion` is only for tasks, not for the entire build. There would have to be a method ` BuildEventsListenerRegistry.onProjectCompletion`, then it would work.

@eskatos Can you add something like the above for Gradle 7.6 or explain if there is a different way to notify the build service that the entire build has com

[2022-08-10 19:53] vlsi commented on #11816
Note: Scorecard has an exception for gradle-wrapper.jar https://github.com/ossf/scorecard/pull/2039, so having gradle-wrapper.jar in the repository does not violate Scorecard

[2022-08-10 21:23] abstratt commented on #21056
Fixed for 7.6 RC1.

[2022-08-11 00:45] gavvvr opened #21498 "jacoco-report-aggregation ignores the 2nd submodule with the same name and group"
I am not 100% sure this is a bug, but it's something which confused me today and I've spent ~1 hour to realize what is wrong.

### Expected Behavior

Aggregated report to contain data from __both modules__ (coverage for Model1 and Model2 classes in my example)

### Current Behavior

Aggregated report silently builds aggregated info __only from one module__. There is no warning or error.

### Conte

[2022-08-11 06:44] mattiasflodin commented on #1120
This also happens if the DNS name doesn't resolve. How do I set up repositories so that one is a fallback for the other?

[2022-08-11 08:39] HackToday commented on #11065
if environment proxy variables be honored would be better, right now, seems need pass to program like  `-Dhttp.proxyHost`  etc.

[2022-08-11 08:41] Omico commented on #21492
I am still facing the same issue in 7.5.1 with Intellij IDEA 2022.2.

[2022-08-11 11:46] mdedetrich opened #21502 "gradle-scala plugin overrides isolated gradle provisioner scala version in spotless"
### Expected Behavior
When using gradle + gradle-scala and specifying the scala version with `-PscalaVersion=2.12` along with spotless-scala (https://github.com/diffplug/spotless) with scalafmt 3.5.8, there shouldn't be any problems and it should check/format the code fine.

### Current Behavior
Currently if you use spotless scala along with scalafmt 3.5.8 + scala 2.12 to see if the code is format

[2022-08-11 12:14] Toldry commented on #20026
Note also that the workaround posted by @appdirect-kasidit works under the assumption that the project that generates the report is the parent project of the projects that are covered by the report.

If that is note the case (e.g. [Gradle's example project](https://docs.gradle.org/current/samples/sample_jvm_multi_project_with_code_coverage_standalone.html)), the projects can be manually listed:

[

[2022-08-11 14:29] mdedetrich commented on #21502
@tgodzik Since you have worked on the gradle-scala plugin in the past and also with scalafmt I believe you may have some idea/context on this.

[2022-08-11 15:11] DPUkyle opened #21503 "Migrate `groovy.util.AntBuilder` → `groovy.ant.AntBuilder`"
Groovy 3 made accommodations for consolidating split packages across libraries, in case they go full modular in the future. This also prepares us for the Groovy 4 upgrade.

See [Groovy 3 release notes](http://groovy-lang.org/releasenotes/groovy-3.0.html#Groovy3.0releasenotes-Splitpackages) and [Groovy 4 release notes](https://groovy-lang.org/releasenotes/groovy-4.0.html#Groovy4.0-split-package-ren

[2022-08-11 16:27] mlopatkin opened #21505 "application.defaultJvmArgs aren't applied when running from the configuration cache"
The application plugin's `run` command doesn't respect `defaultJvmArgs` set in the build file when the build reuses the configuration cache.

A simple build file:
[code]
### Expected Behavior
`defaultJvmArgs` should be applied to the started JVM regardless of the configuration cache status.

### Current Behavior
`defaultJvmArgs` are only applied if the configuration cache isn't reused.

[app-plugi

[2022-08-11 16:37] mlopatkin commented on #21505
This might or might be not related to #15239.

[2022-08-11 18:41] #21503 closed

[2022-08-11 19:45] Vampire opened #21507 "Transitive test dependencies leak into the production classpath"
Having this `pom.xml`:
[code]
`mvn dependency:tree` shows:
[code]
On the other hand, having a build script with:
[code]
`./gradlew dependencies --configuration=compileClasspath` shows:
[code]

The JUnit dependency should not be there.

[2022-08-11 20:00] Vampire commented on #15266
.

[2022-08-11 21:38] DPUkyle opened #21509 "Default to latest version of CodeNarc tool"
At time of writing, CodeNarc v3.1.0 is the most recent.

One complication - for Groovy 4 compatibility, the CodeNarc team published an alternate release using the same version number but different coordinates:

The CodeNarc plugin should not assume that `localGroovy()` will be compatible with the version of the tool in use.

I've opened CodeNarc/CodeNarc#711 to ask the CodeNarc team to consider pu

[2022-08-11 22:24] #15875 closed

[2022-08-12 04:15] rocketraman commented on #16110
Not stale

[2022-08-12 04:28] ryanmkurtz commented on #17660
Bump

[2022-08-12 07:38] netvl commented on #17769
Still relevant.

[2022-08-12 07:54] lptr commented on #1015
Still an issue.

[2022-08-12 07:55] lptr commented on #861
Still an issue.

[2022-08-12 08:56] gavra0 commented on #15533
The bug is still relevant.

[2022-08-12 09:20] tgodzik commented on #21502
I am not familiar with Spotless, though the issue here seems that it's using a specific Scalafmt version released for 2.12 instead of using the one for the current Scala version. I also relies quite heavily on reflection, which might also cause other problems.

Scalafmt should work well both with Scala 2.13 and 2.12 (probably any Scala version) with the API that we already use in Metals:
https://g

[2022-08-12 09:33] mdedetrich commented on #21502
@tgodzik Thanks for the reply

So this seems to be the case, if you look at https://github.com/diffplug/spotless/blob/0fd20bb80c6c426d20e0a3157c3c2b89317032da/lib/src/main/java/com/diffplug/spotless/scala/ScalaFmtStep.java the Scala version happens to be hardcoded depending on what version of Scalafmt you are using, so if you happen to use Scalafmt 3.x it will just always pick Scala

Design wise t

[2022-08-12 10:17] vlsi commented on #16562
This is still relevant

[2022-08-12 10:17] vlsi commented on #9763
I think this is still relevant

[2022-08-12 10:18] vlsi commented on #12351
I think this is still relevant

[2022-08-12 10:19] runningcode commented on #15757
@oehme can this be closed?

[2022-08-12 10:22] vlsi commented on #10133
I think this is still relevant

[2022-08-12 10:22] vlsi commented on #10132
I think this is still relevant

[2022-08-12 12:34] lptr commented on #17704
I guess we still want this.

[2022-08-12 14:00] bubbleguuum commented on #21452
Any news on this ? It also happens on v7.5.1. It worked fine on v7.4.2 and below.

[2022-08-12 14:07] oehme commented on #15757
Yep

[2022-08-12 15:13] tresat opened #21515 "Add Upgrade Guide notes on Deprecations/Removals"
Related to #17151 - need to add Upgrade Guide notes for all the deprecations and removals.

However, merging all these is annoying enough as is, so I'll wait until they're all (or at least most of them are) merged first.  This ticket is to ensure I don't forget to do this.

[2022-08-12 15:28] ducrohet commented on #9823
This is still relevant.

[2022-08-12 15:59] tresat commented on #21439
We are using the alternate, empty task solution.  This ticket is a reminder for Gradle 9.0 that we'll need to followup and purge that task.  Once a newer release of the Spring Boot plugin is available, the PR for this can be created to prove that the removals can be done, and then it can just sit.

[2022-08-12 16:30] sockeqwe commented on #20460
Is`./gradlew buildEnvironment` what you are looking for, isn't it?

[2022-08-12 16:52] brandon1024 commented on #20460
Negative; `buildEnvironment` lists the depenencies of the build script.

From the [docs](https://docs.gradle.org/current/userguide/command_line_interface.html):

[2022-08-12 17:05] mcumings opened #21517 "Init scripts need access to `ProviderFactory` to allow for configuration cache- safe logic branches"
With the configuration cache enabled, configuration cache hits result in a lack of init script execution. As a result, any branching logic contained within the init script will fail to be re-evaluated unless:
- The logic happens to be based upon an input that would be detected as changed via other means (e.g., command line changes)
-  The init script file content itself changes

I don't see any wa

[2022-08-12 17:16] mcumings commented on #21517
One clarification: `gradle.rootProject { providers... }` can be used but in my understanding this is a deferred invocation versus direct/inline.

[2022-08-12 19:43] klpitshah commented on #13639
i am still facing this with gradle 6.9. although, I'm facing this issue only in my local system. It's working fine in was.
some observations I've made :
As soon as i trigger gradle refresh from intellij, 2 bins get created in `/private/var/folders`. after some time both of them get deleted and the moment they get deleted, i see this build error that
`Problems reading data from Binary store in /pri

[2022-08-12 21:47] DavidOpDeBeeck opened #21519 "Add support for preview features in PmdExtension"
Currently it is not possible to run the PMD task on code that uses java preview features and is compiled using `--enable-preview`. The PMD task will not fail, but will also not run the rules on those classes. The following error is displayed:  `Error during type resolution of field '{redacted}' in class {redacted} due to: java.lang.UnsupportedClassVersionError: Preview features are not enabled for

[2022-08-13 01:14] pfurbacher opened #21522 "Broken link to processResources on the Java Plugin doc page"
Navigate to [The Java Plugin](https://docs.gradle.org/current/userguide/java_plugin.html#sec:java_tasks).

Scroll down to "processResources" entry.

Press the link [ProcessResources](https://docs.gradle.org/current/dsl/org.gradle.language.jvm.tasks.ProcessResources.html)

Result: "This page does not exist."

[2022-08-13 14:41] DavidOpDeBeeck commented on #21519
Or maybe make the source language fully customizable by defining a `languageName` and a `languageVersion`? The language name can default to `java`, but defining a default for the version is not possible I think.

[2022-08-13 21:00] zoobert opened #21523 "Problem with Gradle wrapped stacktrace for tests in Gradle 7.2 and later"
There seems to be a problem in how Gradle wrapped stack traces for tests in Gradle 7.2 and beyond. They seem to include the "class loader" portion of the `StackTraceElement` when using the local application class loader, which results in stack traces that an IDE cannot handle.

[code]

### Expected Behavior
The output of a stacktrace by Gradle test runners should look identical to what is generate

[2022-08-14 12:24] SerVB commented on #17491
Still actual

[2022-08-14 12:25] SerVB commented on #17490
Still actual

[2022-08-14 16:27] HEdingfield commented on #21409
@mveach posted some helpful info on their investigation into this issue here: https://github.com/checkstyle/checkstyle/issues/12043#issuecomment-1213474092

Would someone working on the Gradle project be able to parse this and potentially post a fix for this, or is there a separate Gradle Checkstyle plugin in which to post this?

[2022-08-14 19:21] davispuh opened #21524 "Checkstyle task fails when using Unicode $HOME"
Basically my home path is `/home/Dāvis` and checkstyle fails with it.

### Expected Behavior
Build to succeed.

### Current Behavior
Compile steps itself succeeds but checkstyle task fails.

### Context
Building package which has checkstyle enabled from my own user account.

### Steps to Reproduce

Have a user with Unicode $HOME path.

[code]

Then I get different error if I try
[code]

### Your E

[2022-08-14 19:36] DenWav opened #21525 "Can't inject project services into artifact transforms"
When attempting to inject a service into an artifact transform as you would with a task, such as:
[code]

### Expected Behavior
I would expect services to be available to artifact transforms in the same manner as they are to tasks.

### Current Behavior
Gradle will throw an error about not being able to find said service:
[code]

### Context
I have an artifact transform which looks at files in the

[2022-08-14 22:22] TheMrMilchmann opened #21526 "Gradle fails to pull in transitive dependency with classifier"
Gradle is currently failing to resolve a transitive dependency with a classifier.

The transitive dependency declaration from the POM:
[code]

and Gradle's `.module` file:
[code]

### Expected Behavior

Gradle should resolve transitive dependencies with classifiers just fine.

### Current Behavior

[code]

Gradle fails with the error message included above. Instinctively, I would assume that Gradl

[2022-08-15 08:22] 2nex commented on #16568
am also facing this challenge
Could not load compiled classes for settings file 'C:\Users\user\Desktop\top2\flutter_application\android\settings.gradle' from cache.

[2022-08-15 08:25] 2nex commented on #15917
am facing this challenge
Could not load compiled classes for settings file 'C:\Users\user\Desktop\top2\flutter_application\android\settings.gradle' from cache.

[2022-08-15 10:30] mateuszkwiecinski commented on #21116
I think I'm observing the same, in multiple projects, on multiple environments.
Happens on `7.5.1` but not on `7.4.2`

Build scan: https://gradle.com/s/d4njl74ts5fz2

Sample failure:
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/36954793/184620083-1edb48c7-69eb-459f-b5fd-3c574d6f791f.png">

[2022-08-15 12:13] asodja commented on #21409
Hi @HEdingfield, thanks for investigating the issue.

Original issue was for the case where `google_checks.xml` was copy/pasted to a project, so modifying it to use `${config_loc}` is not problem.

I think I am missing some context here. So if I understand correctly your case is different, when you use [google_checks.xml](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/goog

[2022-08-15 14:58] big-guy commented on #21524
@davispuh did this work with 7.4.2?

The output from `--version` indicates that this isn't a distribution from https://gradle.org/releases/
Could you try this with 7.5.1 installed from gradle.org?

[2022-08-15 15:14] big-guy commented on #21525
This is intentional. To make sure that the artifact transform runs at the right time, Gradle needs to know what the inputs to the artifact transform are.  Arbitrary access to the project layout would defeat that.

Take a look at the `ClassRelocator` further down that page in the documentation.  You can use some of the same input annotations as a task to mark inputs to the transform.

[2022-08-15 15:14] #21525 closed

[2022-08-15 15:30] big-guy opened #21529 "Add support for JDK19"
Everything appears to be working:
https://builds.gradle.org/viewLog.html?buildId=54959159&buildTypeId=Gradle_Experimental_Check_Stage_ReadyforNightly_Trigger

- Update compatibility.adoc to say Gradle can run with JDK19
- Add something to release-features.txt
- Add something to release notes
- Update CI configuration to allow tests to run with JDK19 on master/release
- Look at the current matrix o

[2022-08-15 15:31] big-guy commented on #21529
bah, I didn't see #20372

[2022-08-15 15:31] #21529 closed

[2022-08-15 15:32] big-guy commented on #20372
Testing with the latest 7.6 with Java 19, everything appears to be working:
[builds.gradle.org/viewLog.html?buildId=54959159&buildTypeId=Gradle_Experimental_Check_Stage_ReadyforNightly_Trigger](https://builds.gradle.org/viewLog.html?buildId=54959159&buildTypeId=Gradle_Experimental_Check_Stage_ReadyforNightly_Trigger)

what's left to do:
- Update compatibility.adoc to say Gradle can run with JDK19

[2022-08-15 17:36] vlushn commented on #13401
Agree with the comments above - this would be useful to have.

[2022-08-16 00:34] tresat opened #21533 "Remove @Deprecated TestReport.setDestination(File) method"
This removal has been postponed to Gradle 9.0.

[2022-08-16 02:03] CristianGM commented on #8261
Shut up stalebot

[2022-08-16 03:09] yeikel commented on #14885
We are experiencing this problem with what seems to be this same problem

Example :

[code]

[2022-08-16 03:23] yfei-z commented on #15383
Seems the type unsafe API works
[code]

[2022-08-16 10:34] aSemy opened #21537 "Type-safe Gradle feature preview flags"
Gradle has several feature flags

https://github.com/gradle/gradle/blob/e8b440fdbc12b9806daa0efb5872b246bf27ff3e/subprojects/core/src/main/java/org/gradle/api/internal/FeaturePreviews.java#L27-L38

### Current Behavior

Using them in `settings.gradle.kts` requires copy and pasting strings.

[code]

It's also not easy to find what flags are available. Googling for 'gradle feature flags' or 'gradle

[2022-08-16 12:50] CRogers commented on #19010
This would be incredibly useful for us (I'm on the Gradle team of a build company that uses Gradle in 1000s of projects). We sometimes have builds randomly taking 1hr+ that then do not send a buildscan - it's very hard to diagnose what's causing it to be slow.

[2022-08-16 15:34] yawkat opened #21539 "Groovy compilation is missing transitive implementation dependencies"
### Expected Behavior

On the groovy compile classpath, transitive implementation dependencies of a direct dependency should be present.

### Current Behavior

Transitive implementation dependencies are missing. This leads to a compilation error if the direct dependency has a groovy ASTTransformer that requires the transitive dependency.

### Context

In micronaut, we have an annotation processor

[2022-08-16 16:19] octylFractal commented on #11519
There is still work to be done before the ARQ can be deprecated, but currently we plan to deprecate it in 8.x, and remove it in 9.0. This is not a guarantee, however.

[2022-08-16 16:54] abelom commented on #21310
I've noticed that cause mentions ``to _unnamed_ module`` while --add-exports use explicit module name not the ALL-UNNAMED

Any chance that ALL-UNNAMED would work better?

On the other hand you are trying to name your module wonder why is error message referring as unnamed?

[2022-08-16 17:02] benco03 opened #21541 "test-report-aggregation plugin should support aggregation of JUnit XML results"
The test-report-aggregation plugin does an excellent job at combining HTML results, but it would also be useful if it could collect XML results into a single directory.

### Expected Behavior
Test Report Aggregation aggregates both HTML and XML Junit reports

### Current Behavior
Test Report Aggregation plugin only supports HTML

### Context
The use case for this is that CI systems such as CircleC

[2022-08-16 17:13] mlopatkin opened #21542 "StackOverflowError in FinalizerGroup.isCanCancel when handling build failure."
Run task `e` of the following build file:
[code]

### Expected Behavior
Build fails because of the RuntimeException only.

### Current Behavior
Build fails with RuntimeException and StackOverflowError:
[code]

### Steps to Reproduce
`./gradlew e`
### Your Environment

Build scan URL: https://scans.gradle.com/s/3f3f6q5p2grig

This build works as expected in Gradle 7.5 and 7.4.

[2022-08-16 17:56] Goooler commented on #19595
Use zulu with:
[code]
but:
[code]

[2022-08-16 20:09] sskrla opened #21544 "Version Catalog TOML: Version Reference Support for strictly, required, etc."
### Expected Behavior
When defining a version catalog with TOML, it would be helpful to allow version restrictions to also use `ref`. For example, a project may require that Zookeeper strictly adhere to a specific version due to the service deployment.

[code]

### Current Behavior
Gradle will complain that:  `org.tomlj.TomlInvalidTypeException: Value of 'strictly' is a table`. And indeed, the par

[2022-08-17 04:36] Goooler commented on #19595
Still blocking https://github.com/gradle/gradle/issues/19140.

[2022-08-17 05:26] charleskorn opened #21547 "Test task tries to create report files with file names that are too long"
### Expected Behavior

Test reports (both HTML and XML) are always created, even if the class name is too long

### Current Behavior

If the length of the test report's file name exceeds the operating system's limit ([255 characters on macOS](https://apple.stackexchange.com/a/86617), and [the same for most Linux file systems](https://serverfault.com/a/9548)), then the test task fails with an error

[2022-08-17 07:41] jbartok commented on #21465
Confirmed that it works in Gradle `7.3.3`, fails in more recent versions.

Root cause:
[code]

[2022-08-17 07:56] jbartok commented on #21466
Actual failure in English:

[code]

[2022-08-17 08:36] jbartok commented on #21452
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue

[2022-08-17 08:41] jbartok commented on #21455
You are most likely generating a catalog with the name `kotlin` which conflicts with the extensions from the Kotlin plugin. There should be a deprecation warning in your build about catalog names not ending in `Lib`.

[2022-08-17 08:41] #21455 closed

[2022-08-17 08:45] #21458 closed

[2022-08-17 08:47] jbartok commented on #21461
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue

[2022-08-17 08:49] jbartok commented on #21462
Thank you for your interest in Gradle!

This is an issue with the Android Gradle Plugin which is developed by Google and cannot be addressed in the core of the Gradle Build Tool.

Please open such Android-related issues on the Android Issue Tracker at https://source.android.com/source/report-bugs

[2022-08-17 08:49] #21462 closed

[2022-08-17 08:55] jbartok commented on #21464
Pls. check out the following section of the documentation: https://docs.gradle.org/current/userguide/declaring_repositories.html#sec:case-for-maven-local

In short: since your Maven local repo doesn't have the module file, Gradle will only use the pom.

[2022-08-17 08:55] #21464 closed

[2022-08-17 09:00] jbartok commented on #21465
Seems like our ZipSlip check is incorrect, because `..` in this case is just a part of the name (bad idea, but valid).

[2022-08-17 09:32] wolfs commented on #12351
Does this PR fix this: https://github.com/gradle/gradle/pull/21153 ?

[2022-08-17 09:32] #21335 closed

[2022-08-17 09:37] jbartok commented on #21450
Pls. note that the documentation you need is there, just not on the main manual page. Usually, we would expect people to discover these properties by looking at the DSL, particularly at the details of the
[AntlrTask](https://docs.gradle.org/current/dsl/org.gradle.api.plugins.antlr.AntlrTask.html), which is linked from the plugin's page.

[2022-08-17 09:37] #21450 closed

[2022-08-17 09:53] MagnusMG commented on #21450
Ah! AntlrTask is some kind of superclass for generateGrammarSource  and the other tasks! Probably obvious for people more used to Gradle...

Thanks. Sorry for bothering you.

[2022-08-17 10:48] szpak commented on #12351
@wolfs The error should be much better with #21153, so I think it does. @vlsi WDYT about covered cases?

[2022-08-17 11:02] vlsi commented on #12351
Indeed, #21153 resolved this

[2022-08-17 11:35] #12351 closed

[2022-08-17 13:06] Vampire commented on #21328
Hey @jbartok & @donat sorry for not responding earlier.
But I'm not sure what info you are missing.
The full info necessary to reproduce is part of the original comment.
Just take the snippet and paste it to any settings script.
Then try to execute any task.
The result will be the mentioned:
[code]
This message is what is highly misleading, as `from` **was** only called a single time.
And where it

[2022-08-17 14:24] alllex opened #21551 "Document integration of Scala plugin with toolchains and problems with `target` flag"
In the current toolchain docs it says that toolchains work with Scala:
https://docs.gradle.org/current/userguide/toolchains.html#sec:consuming

However, there is a problem with the `target` flag of the Scala compiler, that has been discussed here:
https://github.com/gradle/gradle/issues/19456#issuecomment-1004460716

As such, toolchains do not work with Scala as smoothly as expected and these comp

[2022-08-17 15:44] tresat opened #21553 "Remove @Deprecated JacocoMerge for Gradle 8.0"

[2022-08-17 15:45] DaveJarvis commented on #21465
In particular:

https://github.com/gradle/gradle/pull/19592/commits/38c00e48bbad598910d6b3cb50d68b406d5f1432#diff-99b7c47adc4fd245b2e9c50847bd7660785d5e9342202cddc7740d974ccb3328R45

https://github.com/gradle/gradle/pull/19592/commits/38c00e48bbad598910d6b3cb50d68b406d5f1432#diff-0987d9713a5f12119c6b9df6f367319f3aeb5a0c4863a8e1c998b357b6cf80dbR44

https://github.com/gradle/gradle/pull/19592/commit

[2022-08-17 18:39] octylFractal opened #21557 "Documentation doesn't support linkplain"
I used `{@linkplain}` to specify some Javadoc formatting, but our DSL documentation tool can't handle it: https://docs.gradle.org/7.5.1/dsl/org.gradle.api.tasks.diagnostics.DependencyInsightReportTask.html#org.gradle.api.tasks.diagnostics.DependencyInsightReportTask:showingAllVariants.

Support for this tag should be added.

[2022-08-17 19:57] anma opened #21558 "Wrong documentation URL in error message"
### Expected Behavior
If a plugin cannot be found, the error message should refer to the list of core plugins at https://docs.gradle.org/7.5.1/userguide/plugin_reference.html.

### Current Behavior
The error message refers to https://docs.gradle.org/7.5.1/userguide/standard_plugins.html, which does not exist.

### Context

I used a wrong plugin ID and tried to follow the reference to the documenta

[2022-08-17 20:05] octylFractal commented on #21557
Secondary feature: `{@link}`/`{@linkplain}` should use the text separately from the link. e.g. in https://github.com/gradle/gradle/blob/master/subprojects/core-api/src/main/java/org/gradle/api/plugins/PluginAware.java#L29 it renders the reference instead of the "plugin manager" text: https://docs.gradle.org/current/dsl/org.gradle.api.plugins.PluginAware.html#org.gradle.api.plugins.PluginAware

[2022-08-17 21:30] Lothrazar commented on #2818
So the simple walkaround is just to never use the Copy task.  ok great

[2022-08-17 22:21] DPUkyle opened #21559 "chore: move JUnit and TestNG "dummy" tests to textFixtures"
Some "dummy" test classes like `ABrokenJunit3TestClass` and `ATestNGClass` are under the unit test suite source root, and require exclusions to prevent from executing.

This will move the classes to the existing `testFixtures` folder to make them available on the test runtime classpath, but no longer showing up in test statistics.

[2022-08-17 23:55] DPUkyle opened #21561 "`-U` short-form for `--refresh-dependencies`"
A user has requested a short-form command-line option for `--refresh-dependencies` and suggested `-U` based on Maven's similar (but not equivalent) [option](https://books.sonatype.com/mvnref-book/reference/running-sect-options.html) `--update-snapshots`.

At a glance, this would involve a change to `StartParameterBuildOptions$RefreshDependenciesOption` [here](https://github.com/gradle/gradle/blob/

[2022-08-18 07:28] adammurdoch commented on #21323
This PR has some initial improvements: https://github.com/gradle/gradle/pull/21564

| Number of workers | Before | After |
|--------------------|--------|------|
| 4                               | 22.8s   | 19.3s |
| 8                               | 24.8s   | 20.0s |
| 16                             | 26.6s   | 22.2s |
| 32.                           | 28.5s    | 23.8s |

[2022-08-18 12:05] qlql489 opened #21568 "high version gradle can't find version through BOM in child dependency"
zeue-core is a java jar , part of it's  bom like this
[code]
i use  java-platform build  com.wb.zeus:zeus-root
it constraints   api 'cglib:cglib:3.3.0'
another project testSub  implementation zeus-core like
[code]
use gradlew 4.10.1 ,it can build success,but when user gradlew 6.9.1,build error:
[code]

### Expected Behavior
use new gradle version,project can implement com.wb.zeus:zeus-core  not im

[2022-08-18 15:34] xenoterracide commented on #18528
I have this in the settings file and it still appears to be doing it in 7.5.1

[code]

[code]

[code]

[2022-08-18 15:36] xenoterracide commented on #18528
I looked for all references of repositories in my repo and updated them.

[2022-08-18 15:40] xenoterracide commented on #15619
also experiencing this in 7.5.1

[2022-08-18 17:04] liutikas commented on #21323
Would tomorrow's nightly have this fix for us to try out?

[2022-08-18 17:14] hungvietnguyen opened #21573 "`PathSensitivity.RELATIVE` does not ignore order of `InputArtifactDependencies`"
### Context

When building Android projects having dynamic features, during the dexing step, the Android Gradle plugin may request Gradle to transform the same [`InputArtifact`](https://docs.gradle.org/current/javadoc/org/gradle/api/artifacts/transform/InputArtifact.html) multiple times, and we expect that only the first transform does the actual work, and subsequent transforms should be UP-TO-DAT

[2022-08-18 17:38] xenoterracide commented on #15619
For some reason intellij isn't recognizing this property... not sure why. I put in a support request on that.

[2022-08-18 17:43] EarthCitizen commented on #15619
@xenoterracide Have you already tried the following?
`buildSrc/settings.gradle.kts`:
[code]

`settings.gradle.kts`:
[code]

[2022-08-18 17:45] esfomeado commented on #15383
Doesn't work for me.

It says that we cannot find `LibrariesForLibs`.

Any ideas?

[2022-08-18 17:51] xenoterracide commented on #15619
yes, I've done lots of that, all of mine have been replaced like that. Only thing that worked for the cli that I could find was the property.

[code]

[2022-08-18 18:00] EarthCitizen commented on #15619
@xenoterracide That is required to be able to have Kotlin DSL in `buildSrc`.

[2022-08-18 18:08] xenoterracide commented on #15619
yes, I'm aware of that. It works after setting the property, but not in intellij. Since I'm on the most recent version of gradle I thought I should weigh in.

[2022-08-18 18:10] EarthCitizen commented on #15619
@xenoterracide Does it work in 7.4.x?

[2022-08-18 18:28] mweber03 commented on #20071
I'm seeing this same issue after switching from 7.42 to 7.5.1. I think should be reopened.

[2022-08-18 18:28] xenoterracide commented on #15619
no, it doesn't work in 7.4.x, it only works with the property on the cli.

[code]

[2022-08-18 18:47] Vampire opened #21574 "Unclear error message when declaring a constraint on a platform"
I tried in Gradle 7.5.1 to declare this:
[code]
The result of this is
[code]
So it complains, that the attribute is inconsistent because it is consistent / the same for the dependency and constraint?
This is highly confusing / unclear imho.
Maybe the message can somehow be improved to better explain what the problem is.
I guess the constraint should just be without attribute, but that's not clear

[2022-08-18 20:35] TWiStErRob commented on #15383
Follow the original post... https://github.com/gradle/gradle/issues/15383#issuecomment-779893192, https://github.com/gradle/gradle/issues/15383#issuecomment-1193076271 is just a handy alias for the hack.

[2022-08-18 23:24] Elonnn commented on #14889
Me as well. I fixed it by deleting the unwanted GradleProjectSettings in the `gradle.xml` file under `.idea` folder in the root.

[2022-08-18 23:39] hakanai opened #21577 "Unicode text in page footer mangled during javadoc generation"
### Expected Behavior

If I configure Javadoc like this:

[code]

And then run this build on Windows where the default platform encoding is likely not UTF-8, I should get a viewable Ⓒ character in the resulting page footers.

### Current Behavior

Option 1. If you're on a machine where the default platform encoding is windows-1252 or another one which _can_ encode the Ⓒ symbol, Gradle writes the j

[2022-08-18 23:59] hakanai commented on #21577
As for a proper fix, perhaps the `encoding` setting provided to Javadoc should be used both when generating javadoc.options and when running javadoc? It's hard to say.

[2022-08-19 02:18] #21559 closed

[2022-08-19 04:59] hakanai commented on #18556
I have seen this same error in our real build, running on macOS. It happens very frequently when there are network outages.

The odd things to note:
1. Error message says the plugin is not in the "org.gradle" namespace, but _clearly it is_.
2. Network outages should not even affect looking up built-plugins.

Cause for this reported issue and our issue are probably different, but I wouldn't be surp

[2022-08-19 07:27] jjohannes commented on #9264
This also makes the new _JVM Test Suites_ feature rather ugly to use in Kotlin DSL. I should be able to write this:

`suites.getByName<JvmTestSuite>("test").useJUnitJupiter()`

like this:

`suites.test.useJUnitJupiter()`

[2022-08-19 08:35] jbartok commented on #21466
This looks like an error in your project setup, not in Gradle. You need to fix your module definitions, based on the errors provided by the compiler.

[2022-08-19 08:35] #21466 closed

[2022-08-19 08:39] jbartok commented on #21493
We'll look into it, your request seems completely justified. In the meantime try using `org.gradle.internal.plugins.portal.url.override` to override the URL.

[2022-08-19 11:41] albert-flex commented on #21466
Had you have a look at the demo project？ there is no big different about setup between these two projects.
Ok If you think that is not gradle's error, forget this issue then.

| |
***@***.***
|
|
***@***.***
|

---- Replied Message ----
| From | József ***@***.***> |
| Date | 08/19/2022 16:35 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [gradle/gradle] do build or compi

[2022-08-19 12:01] wolfs commented on #21573
@hungvietnguyen How do you know `classes.jar` didn't change? Note that when changing from `@Classpath` to `@PathSensitivity(RELATIVE)` that timestamps and order in jar files matters again. So when the recreated JAR files contain different timestamps, or are not byte-for-byte equivalent, then Gradle will consider them changed.

[2022-08-19 12:04] aSemy commented on #12523
Hi, does [BuildEventsListenerRegistry](https://docs.gradle.org/current/javadoc/org/gradle/build/event/BuildEventsListenerRegistry.html) sound like what you want?

Example here: https://github.com/gradle/gradle/issues/20151#issuecomment-1208299165

https://docs.gradle.org/current/userguide/build_services.html#operation_listener

[2022-08-19 13:07] TWiStErRob commented on #18971
@ljacomet what are your thoughts on the above? I understand implementation might be low priority, but please express opinion at least and you might get a contribution. 🤞🏻

[2022-08-19 14:13] Romanow88 commented on #12523
Hi, no, this does not really what is needed. Here is a scenario:

I execute a gradle test task in IDEA and see the executed tests in the IDEA UI as a tree (in addition to seeing the task execute in the console). This works because the Java test task has access to some APIs to which it can post test events, and these events then are picked up by IDEA.

I would like to have access to such an API so

[2022-08-19 14:32] aSemy commented on #12523
What data do you want to send from the Gradle task to the IDE? I've not used it, but the BuildEventsListenerRegistry can at least send whether a test passed/failed/skipped.

The current way that IntelliJ listens to Java task events and sends XML updates to the IDE requires breaking Gradle's [incremental build](https://docs.gradle.org/7.5.1/userguide/more_about_tasks.html#sec:up_to_date_checks), wh

[2022-08-19 14:40] Vampire opened #21583 "Better example for version alignment done in consumer other than Jackson"
Since Jackson now publishes proper GMM with version alignment information, it is a bad example for the docs.
It is more confusing why you should use manual version alignment while it simply works with Jackson.
This confused me a few days ago and also another community member I've seen in the last days being confused by this.

Imho a better example should be chosen that does not have the version al

[2022-08-19 17:08] hungvietnguyen commented on #21573
`classes.jar` is published from `project :lib`, so it it produced only once.

To confirm that, I printed more details on the `InputArtifact`:
[code]

and got the following log:
[code]

As we can see, `classes.jar` is unchanged, but the transform for it happened twice.

[2022-08-19 17:17] hythloda commented on #13472
[Is this resolved in Gradle 7.5? ](https://docs.gradle.org/7.5.1/release-notes.html#:~:text=plugin%20is%20now%20compatible)

[2022-08-19 17:22] mcumings commented on #19252
I just ran into this when attempting to provide Android Gradle Plugin configuration using task outputs (https://issuetracker.google.com/issues/242017150).  It looks like `TaskProvider.map` and `TaskProvider.flatMap` are evaluated during config cache key generation, at which point the outputs have not yet been created.

I've uploaded a repro project with a few scenarios in case it helps with furthe

[2022-08-19 18:05] bamboo commented on #13472
Yes, it is! Thanks, @hythloda.

[2022-08-19 18:05] #13472 closed

[2022-08-19 21:00] big-guy commented on #21498
@gavvvr Your assessment is right.  Ultimately, when resolving dependencies, Gradle looks at group+name, so projects that have the same group and name appear to be "the same module" to the dependency resolution engine. You can see this in the build scan: https://scans.gradle.com/s/csq4so7exssg6/dependencies?focusedDependency=WzAsMyw0MSxbMCwzLFs0MV1dXQ&toggled=W1swXSxbMV0sWzAsM10sWzAsMyxbNDFdXV0

Th

[2022-08-19 21:16] ethanent commented on #11816
Yes, but this was out of necessity. The exception isn't an endorsement of how Gradle currently functions, just an acknowledgement.

[2022-08-19 21:52] Romanow88 commented on #12523
BuildEventsListenerRegistry needs to get the information about what tests were executed from somewhere. There is currently, as far a I know, no way for a custom task (e.g. a custom task that executes something like `yarn run jest`) to provide the data about tests that were executed to the underlying Gradle infra, so the BuildEventsListenerRegistry will not get these events, which is the problem.

[2022-08-19 23:14] big-guy opened #21591 "NullPointerException when using convention mapping and a Property for the same name"
@tresat was removing some APIs for 8.0 in https://github.com/gradle/gradle/pull/17123

One of the tests affected was in `ConfigurationCacheConventionMappingIntegrationTest`:
https://github.com/gradle/gradle/blob/2b14de7de061f508d3db11a223400f5b7b2c4cc0/subprojects/configuration-cache/src/integTest/groovy/org/gradle/configurationcache/ConfigurationCacheConventionMappingIntegrationTest.groovy

This

[2022-08-20 09:59] StokeMasterJack commented on #13369
This is still happening for me.
![image](https://user-images.githubusercontent.com/123349/185740400-a2e56be6-8ca4-4cc7-a88a-988406bc09bb.png)

[2022-08-20 12:48] aSemy commented on #12523
Okay, clear! Thanks for explaining. So to summarise: there's [TestListener](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/testing/TestListener.html) (though it's [slated for removal in 8.0](https://docs.gradle.org/current/userguide/upgrading_version_7.html#task_execution_events)) for listening to test results, but you need to publish events, and there's no docs or public API for tha

[2022-08-20 16:00] Kantis opened #21593 "Defining a version catalog alias starting with `extensions` fails"
Creating a version catalog alias that starts with `extensions` fails with the message:
[code]
### Steps to reproduce:
Add
[code]
to `gradle/libs.versions.toml` then try to build

### Expected behaviour:

Gradle should not throw an exception and alias should be created

### Env

Gradle version 7.5 using Kotlin scripts

[2022-08-20 17:29] bubbleguuum commented on #21452
I tried to make a simple (Android) project to reproduce this issue but failed.
It only happens in my rather complicated Android app.

It is caused by the `org.eclipse.jetty.orbit:javax.servlet:2.5.0.v201103041518` dependency of my project having `<packaging>orbit</packaging>` instead of the more usual `jar` packaging.
In Gradle 7.4.2 it does not cause a problem, but it does starting with 7.5.0 wit

[2022-08-21 06:29] aSemy opened #21594 "Update docs for adhoc-task property builder runtime API to describe equivalent for all annotations"
It seems like several of the annotations can't be described using the runtime API.

* `@Classpath`
* `@CompileClasspath`
* `@LocalState`
* `@Nested` (already documented as unavailable)
* `@ReplacedBy`
* `@Internal`

### Expected Behaviour

The docs are updated

* Unavailable annotations are documented
* Examples for all available annotations are provided

### Current Behaviour

I am confused by th

[2022-08-22 07:01] gildor commented on #15383
@esfomeado Have you added `implementation(files(libs.javaClass.superclass.protectionDomain.codeSource.location))` to buildSrc/gradle.properties? Also make sure that your catalog called `libs`

[2022-08-22 07:15] alllex opened #21598 "Java toolchains caching uses mutable objects as keys"
`JavaToolchainQueryService` uses values of `JavaToolchainSpec` directly as keys for caching the resolved toolchain. However, at least `DefaultToolchainSpec` is based on a set of mutable `Property` fields. This could potentially lead to corruption of the cache if the toolchain specs are mutated externally.

[2022-08-22 07:46] ljacomet commented on #21498
The root cause for this is #847

[2022-08-22 07:54] LikeTheSalad opened #21599 "Add support to Shared Build Services to receive tasks outputs"
There is one task, that I believe uses the Worker API to have many instances running in parallel, that I don’t create and don’t have control over, but it has an API that allows me to run my code as part of its execution, so this task is in between Gradle’s APIs and my code, but I need some other tasks to run prior to my code, which is in a Build Service so that it can be reused across all the inst

[2022-08-22 07:55] ljacomet commented on #20579
Done through #20580

[2022-08-22 07:55] #20579 closed

[2022-08-22 07:55] ljacomet commented on #13274
Done through #20580

[2022-08-22 07:55] #13274 closed

[2022-08-22 08:45] jbartok commented on #21328
Probably the solution here should be that if an explicit "from" exists, then the implicit convention is ignored.

[2022-08-22 08:47] jbartok commented on #21490
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue

[2022-08-22 08:50] ljacomet commented on #21502
A full reproducer would help if anything needs to change in Gradle itself.

[2022-08-22 08:57] jbartok commented on #21507
Likely cause is the combination of the two Maven declaration blocks:

[code]

[code]

[2022-08-22 09:01] jbartok commented on #21526
Observation (hint for the bug):
[code]
is missing the extension from the URL.

[2022-08-22 09:02] jbartok commented on #21568
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue

[2022-08-22 09:10] ljacomet commented on #21111
Change is merged

[2022-08-22 09:10] #21111 closed

[2022-08-22 09:19] mdedetrich commented on #21502
I had another look at this during the weekend and I think that it makes more sense to wait until Gradle provides classloader isolation in their plugins by default, i.e.

https://docs.gradle.org/current/userguide/designing_gradle_plugins.html

Another solution for the gradle-scala plugin itself would be to manually implement classloader isolation but I assume that would be a large amount of work. @

[2022-08-22 12:42] Serverfrog commented on #7042
Just for reference (and i found it while searching a solution for it), it was already reported also in the old Jira https://issues.gradle.org/browse/GRADLE-3473

[2022-08-22 14:19] HvB commented on #17681
There is still a pending pull request for this bug awaiting review...

[2022-08-22 15:06] wolfs commented on #13274
@ljacomet Isn't #20580 only about Scala compilation? This is about all compiler daemons.

[2022-08-22 15:09] Vampire commented on #21328
That would also be a viable solution, yes.

[2022-08-22 17:10] xenoterracide commented on #18249
why isn't this fixed yet? I actually had no luck using -all with intellij

[2022-08-22 17:15] kelemen commented on #18249
@xenoterracide One thing you have to consider is that after you change it to "-all", you have to kill all daemons, because otherwise Gradle only checks the version (which is the same for all and bin), and will just reuse the "-bin" version.

[2022-08-22 17:22] xenoterracide commented on #18249
either way you may not want all, all the time, because CI doesn't need things like source and javadoc

[2022-08-22 20:05] #21421 closed

[2022-08-22 21:56] #21553 closed

[2022-08-22 22:59] Romanow88 commented on #12523
I fiddled around with trying to extend the AbstractTestTask, but did not get it working, as it's a tightly coupled to the JVM impl.

Let me spend some time trying to wire something up with the `ListenerManager`

[2022-08-22 23:01] cdsap opened #21610 "Include klib extension as KNOWN_ZIP_EXTENSIONS for java normalization"
Projects using Kotlin Multiplatform generate `klib` binaries. Kotlin/Native libraries are zip files containing a predefined directory structure and should benefit from runtime classpath normalizations.

https://kotlinlang.org/docs/native-libraries.html#library-format

### Expected Behavior
Gradle applies runtime classpath normalizations on klib extensions allowing cache hits on tasks using these e

[2022-08-22 23:19] adammurdoch commented on #21542
Fixed via https://github.com/gradle/gradle/pull/21581

[2022-08-23 00:32] yogurtearl opened #21612 "Character encoding issue in `gradle/verification-keyring.keys`"
Gradle 7.5.1

The owner of this key 👇  has a `ö` in their name
https://keyserver.ubuntu.com/pks/lookup?search=F067A2FD751AE3E4&fingerprint=on&op=index

When gradle does `--export-keys` it changes the `ö` to an `?` in the `gradle/verification-keyring.keys` file.
My guess is there is a character encoding issue.

To reproduce, add this dependency, and then do `--write-verification-metadata pgp,sha512

[2022-08-23 00:58] DanielThomas commented on #21490
Reproducer is here https://github.com/DanielThomas/gradle-issue-21490. The workaround is to configure regular project dependencies so they exist when the task graph is created. `withDependencies` should fail on any attempt of mutation that would not have the desired effect.

[2022-08-23 08:35] #21056 closed

[2022-08-23 08:35] #21591 closed

[2022-08-23 08:59] jskov-jyskebank-dk opened #21616 "Toolchain probing cannot cope with warnings from java"
### Expected Behavior

Gradle should be able to handle "java -version" output that contains warnings:

[code]

### Current Behavior

Gradle (7.5.1) `javaToolchains` task fails with:

[code]

### Context

This happens when we run Podman containers on OpenShift - Podman runs as non-root. And Gradle inside of this.
So this is a two-layer deep container context (on top of core OS).

Lots of interestin

[2022-08-23 09:54] #17324 closed

[2022-08-23 14:45] payneChen opened #21624 "Could not set system property in the new Checkstyle task and finally failed by NPE when using "ENTITY" feature in configuration files"
### Expected Behavior
[code]
### Current Behavior
No way to set system property since new checkstyle task would create new processes on its own, finally checkstyle would fail when using "ENTITY" feature.

--

### Context & Steps to Reproduce
Here is the example:
https://checkstyle.sourceforge.io/config_system_properties.html#Enable_External_DTD_load

When setting up checkstyle configuration xml fi

[2022-08-23 15:51] hegyibalint opened #21627 "[Test issue] Stale detection should leave this untouched"
To be closed/deleted after testing

[2022-08-23 15:57] hegyibalint commented on #21627
Works as expected

[2022-08-23 15:57] #21627 closed

[2022-08-23 16:34] Omico opened #21630 "Shows inconsistent issue between root build and included builds"
Build scan shows `The build cache configuration of the root build differs from the build cache configuration of the early evaluated ':build-logic', ':initialization' included builds. It is recommended to keep them consistent`

Reproduce project: https://github.com/Omico/androidx-navigation-route-ksp

Build cache configuration located https://github.com/Omico/androidx-navigation-route-ksp/blob/4e8c

[2022-08-23 16:53] xenoterracide commented on #15619
Here's a stripped copy of my repo that doesn't work with intellij, url sanitized

[iw-pm-backend.tar.gz](https://github.com/gradle/gradle/files/9405535/iw-pm-backend.tar.gz)

this is the original, but it's been heavily modified, the only really relevant difference is that it doesn't rely on an internal server.

[2022-08-23 16:54] xenoterracide commented on #15619
https://github.com/xenoterracide/iw-pm-backend oops, forgot second link https://github.com/xenoterracide/iw-pm-backend

[2022-08-23 19:45] #21252 closed

[2022-08-23 20:35] Jarvvski commented on #15190
is there any traction on this?

[2022-08-24 02:07] #21314 closed

[2022-08-24 02:07] #21368 closed

[2022-08-24 04:02] RicardoJiang commented on #18386
same question

[2022-08-24 05:18] yogurtearl opened #21637 "`buildSrc/test` loads `LibrariesForLibs` twice from 2 different classloaders."
When using to the work-around posted here:
https://github.com/gradle/gradle/issues/15383#issuecomment-779893192

i.e.
./buildSrc/build.gradle.kts
[code]

./buildSrc/settings.gradle.kts
[code]

./buildSrc/src/main/kotlin/foo.gradle.kts
[code]

./build.gradle.kts
[code]
./gradle/libs.versions.toml
[code]

./settings.gradle.kts
[code]

When that workaround is used with tests in `buildSrc/test`, then

[2022-08-24 05:19] yogurtearl commented on #15383
The workaround in https://github.com/gradle/gradle/issues/15383#issuecomment-779893192 works for me in general, but it causes classloading issues in `buildSrc/test`: https://github.com/gradle/gradle/issues/21637

[2022-08-24 05:59] SidB3 commented on #21544
Version catalogs support rich version constraints

`[versions]
zookeeper = "strictly = 3.5.7"

[libraries]
zookeeper = { module = "org.apache.zookeeper:zookeeper", version.ref = "zookeeper" }
zookeeper-jute = { module = "org.apache.zookeeper:zookeeper-jute", version.ref = "zookeeper" }`

[2022-08-24 07:12] LikeTheSalad opened #21638 "Gradle doesn't get POM dependency from plugin"
I have a [Gradle plugin](https://github.com/LikeTheSalad/android-stem) for which I recently released a new version, 2.2.0, and for this version I manually built its POM dependencies, because I started to use the Shadow plugin to include some of my subprojects into the main artifact. The thing is that, there's one subproject called `common-tools` that isn't added to the fat jar, so I added it to th

[2022-08-24 07:35] TWiStErRob commented on #16636
@melix is this subprojects anti-pattern documented somewhere in detail? (even a blog)

[2022-08-24 09:09] mlopatkin opened #21640 "Snippet "snippet-maven-publish-conditional-publishing" is not compatible with the configuration cache"
The filtering code for the tasks is not compatible with the configuration cache. The evaluation of `onlyIf` clauses fails:
[code]

Build scan URL:
https://ge.gradle.org/s/whlsysck4qbjq/tests/:docs:docsTest/org.gradle.docs.samples.Bucket2SnippetsTest/snippet-maven-publish-conditional-publishing_kotlin_publishingMavenConditionally.sample?top-execution=1
https://ge.gradle.org/s/whlsysck4qbjq/tests/:d

[2022-08-24 09:22] mlopatkin opened #21642 "Sample "credentials-handling/publishing-credentials" is not compatible with the configuration cache"
[code]

The value of `PublishToMavenRepository.getRepository` is not available upon restoring from the configuration cache, as the underlying field is transient.

Build scan URL:
* https://ge.gradle.org/s/whlsysck4qbjq/tests/:docs:docsTest/org.gradle.docs.samples.SamplesTest/publishing-credentials_kotlin_publishCommandLineCredentials.sample?top-execution=1
* https://ge.gradle.org/s/whlsysck4qbjq/t

[2022-08-24 09:23] mlopatkin commented on #21642
This could be related to #21640, as the latter also struggles with a discarded repository.

[2022-08-24 10:46] asodja opened #21644 "Incremental compilation after failure issues when all classes are not removed"
We got some reports from GE and also internally that after added incremental compilation after failure feature there are issues with Groovy incremental compilation. It would be good if we add an option to opt-out of this feature just in case. Or maybe even to opt-in for Groovy.

The report was, that when a super class is changed, then sometimes exception like is thrown:
[code]
Note: original class

[2022-08-24 11:01] #10066 closed

[2022-08-24 11:14] stefan-pavlovic-ded commented on #15383
Would it make sense to enable accessibility in other direction? So that you can add .toml file in buildSrc and make it possible to reference declarations from there in main build. This would make sense even for published plugins, since it would allow you to use versions for some dependencies recommended by the author.

[2022-08-24 12:20] asodja commented on #21624
Thanks for the report and sorry you are having trouble with Gradle 7.5.1.

Could you maybe try if it works if you pass a property as a [config property](https://docs.gradle.org/current/dsl/org.gradle.api.plugins.quality.CheckstyleExtension.html#org.gradle.api.plugins.quality.CheckstyleExtension:configProperties)?

Something like:
[code]

[2022-08-24 14:01] asodja opened #21646 "Use Java 11 for performance tests"
New AGP versions require Java11, maybe it would be good to use Java11 for all tests, so we don't need to special handle AGP tests.

[2022-08-24 14:31] tresat opened #21647 "Remove @Deprecated methods from DefaultDomainObjectSet, DefaultSourceDirectorySetFactory and SourceDirectorySetFactory"

[2022-08-24 14:38] errael commented on #15942
Add `frgaal`, https://github.com/eppleton/frgaal, to the list of compilers that doesn't work with Gradle 7. Noting that here so a search picks it up.

[2022-08-24 14:41] wolfs opened #21648 "Convert work validation warnings from 7.x into errors"
For Gradle 8.0 we should convert all work validations warnings introduced in the Gradle 7.x line into errors. These are the warnings I found:

## Before bumping to 8.0

- [x] https://github.com/gradle/gradle/pull/21793
- [x] https://github.com/gradle/gradle/pull/21628
- [x] https://github.com/gradle/gradle/pull/21645
- [x] https://github.com/gradle/gradle/pull/21737
- [x] https://github.com/gradle

[2022-08-24 14:57] jakobmagiera commented on #17609
I think this issue is not a feature request but a bug. Simply put, gradle does not support non-modularized JARs properly. Here is a minimal project to reproduce this:
### build.gradle.kts
[code]

### module-info.java

[code]

Now run `./gradlew compileJava` and you will get:

[code]

If you run it with `--debug` you will see that the wiremock jar is put on the classpath but not on the module-path.

[2022-08-24 15:21] tresat opened #21650 "Remove @Deprecated JacocoPluginExtension.ReportsDir"

[2022-08-24 15:28] ahamana opened #21651 "[Question] About ProviderFactory#gradleProperty method"
Can we get properties from "gradle.properties" of a sub-project through the ProviderFactory#gradleProperty method?

### Current Behavior
[code]

[code]

### Steps to Reproduce
[root.zip](https://github.com/gradle/gradle/files/9417388/root.zip)

### Your Environment
Gradle: 7.5.1

[2022-08-24 15:58] tresat opened #21653 "Remove @Deprecated DependencyInsightReportTask.setLegacyShowSinglePathToDependency"

[2022-08-24 15:58] octylFractal commented on #19192
Edited title to reflect the actual notation used here, as it isn't Map notation but Kotlin's named arguments.

[2022-08-24 16:14] alllex commented on #12972
I think it's this change that introduced different behavior:
https://github.com/gradle/gradle/commit/ec6681873be40392d415b1e822ddaf0f304b13d5#diff-acd0c9c9cb69fc3c944be33befdde036f5f448a58517dd1b140fb25ac9a0a225R341-R344

[2022-08-24 16:21] octylFractal commented on #19192
Closing as this was done as part of #21209.

[2022-08-24 16:21] #19192 closed

[2022-08-24 17:00] mlopatkin opened #21656 "Snippet "snippet-tutorial-extra-properties" is not compatible with the configuration cache"
The snippet enumerates sourceSets at execution time. SourceSets are only available through the project which isn't available at execution time

Build scan URL:
* https://ge.gradle.org/s/wkszl3ueqiln2/tests/:docs:docsTest/org.gradle.docs.samples.Bucket1SnippetsTest/snippet-tutorial-extra-properties_groovy_extraProperties.sample?top-execution=1
* https://ge.gradle.org/s/wkszl3ueqiln2/tests/:docs:doc

[2022-08-24 17:20] #21647 closed

[2022-08-24 17:54] donat commented on #21259
So IIUC the problem was with the third-party library. I'm closing the issues as "not Gradle", but let me know if we should continue investigating.

[2022-08-24 17:54] #21259 closed

[2022-08-24 17:57] donat commented on #21310
Closing as stale. If there's a stable reproducer, we'll reopen the issue.

[2022-08-24 17:57] #21310 closed

[2022-08-24 18:50] tresat opened #21657 "Remove @Deprecated Groovydoc.IncludePrivate"

[2022-08-24 19:25] tresat opened #21659 "Remove @Deprecated AbstractCompile.setDestinationDir"

[2022-08-24 19:51] tresat opened #21661 "Remove @Deprecated methods from DependencySubstitutions"

[2022-08-24 19:52] tresat commented on #16782
CompileOptions removal: https://github.com/gradle/gradle/pull/17105
AbstractCompile removal: https://github.com/gradle/gradle/pull/21660
DependencySubstitutions removal: https://github.com/gradle/gradle/issues/21661

As these deprecated methods are already removed/being addressed by other 8.0 issues, I'm closing this issue.

[2022-08-24 19:52] #16782 closed

[2022-08-24 20:31] adammurdoch commented on #21325
Should be fixed via https://github.com/gradle/gradle/pull/21643

[2022-08-25 01:11] payneChen commented on #21624
I have tried but it does not help, looks `configProperties` is mostly used for the properties in https://checkstyle.org/config.html, but not for https://checkstyle.org/config_system_properties.html.

[2022-08-25 04:32] #17892 closed

[2022-08-25 04:32] #17883 closed

[2022-08-25 04:32] #17879 closed

[2022-08-25 07:24] PossibleReference opened #21666 "Could not create service of type PluginResolutionStrategyInternal using BuildScopeServices.createPluginResolutionStrategy()"
Error Could not create service of type PluginResolutionStrategyInternal using BuildScopeServices.createPluginResolutionStrategy() is received.

### Expected Behavior

The gradle workspace should be decompiled.
### Current Behavior

Could not create service of type PluginResolutionStrategyInternal using BuildScopeServices.createPluginResolutionStrategy()
### Context

Trying to decompile the workspa

[2022-08-25 08:23] gavra0 commented on #18019
This is still a problem, please don't close this issue.

[2022-08-25 09:11] lptr opened #21668 "Deprecate default `AbstractFileCollection` constructor and nag about its use"
In Gradle 6.3 we've introduced a new `PatternSet` factory that must be passed to the constructor of `AbstractFileCollection` (and thus those of all its subclasses). We should stop using the default constructor that was kept for backwards compatibility.

Unfortunately, a number of internal subtypes still rely on the default constructor. These should be refactored to use the constructor that takes a

[2022-08-25 09:41] Ribesg commented on #10483
I encountered this issue too. I have to disable the daemon.

[2022-08-25 09:56] asodja commented on #21624
We will have to add this option then, I don't think we can workaround it anyway with 7.5 :/.

[2022-08-25 10:03] TimvdLippe opened #21671 "Configuration cache report misses implicit usages of project methods, resulting to a crash when reusing the cache"
### Expected Behavior
The configuration cache report includes the violation of the (implicit) runtime usage of `project`. If there are implicit usages of the `project` methods, the report should list them and the build should fail.

### Current Behavior
Gradle doesn't warn you on the first invocation. On the second invocation with the configuration cache, it fails as it can't find the `exec` metho

[2022-08-25 12:21] Gozdeee1 commented on #18386
Same here

[2022-08-25 13:31] #21650 closed

[2022-08-25 14:27] hythloda opened #21676 "Gradle Daemon Information"
This is a really good thread with a nice answer https://discuss.gradle.org/t/confusion-about-gradle-daemon-vs-workers-and-jvm-settings/30803/2

I agree adding more to the page https://docs.gradle.org/current/userguide/gradle_daemon.htm might be nice.

[2022-08-25 15:20] Tapchicoma commented on #15289
Should be fixed in Kotlin 1.8.0 via https://youtrack.jetbrains.com/issue/KT-41642/TaskDependencyResolveException-Could-not-determine-the-dependencies-when-trying-to-apply-stdlib

[2022-08-25 17:12] bamboo commented on #21671
Related to #20126.

[2022-08-25 17:19] wolfs commented on #21573
I checked your dependencies, and this is the diff:
[code]

So one variant is using collection-1.2.0.jar while the other one is using collection-1.0.0.jar. You can also see this in your printouts above. So not only the order is different, the contents are as well.

I'll close this issue now, please comment if you have a similar problem or a different reproducer.

[2022-08-25 17:19] #21573 closed

[2022-08-25 19:45] tresat opened #21679 "Remove @Deprecated JvmPluginsHelper.configureDocumentationVariantWithArtifact method"

[2022-08-25 19:57] tresat opened #21681 "Remove @Deprecated methods from TestReport"

[2022-08-25 20:08] bamboo commented on #18016
Still relevant.

[2022-08-25 20:20] #21653 closed

[2022-08-25 20:50] tresat opened #21683 "Remove @Deprecated VersionCatalog methods"
### Expected Behavior

### Current Behavior

### Context

[2022-08-26 01:40] #21610 closed

[2022-08-26 01:58] hakanai opened #21686 "wrapper task not found when referenced from a plugin applied from a precompiled script plugin"
### Expected Behavior

If I have a precompiled script plugin like this:

[code]

It should be possible to generate the precompiled script plugin accessors for this plugin.

### Current Behavior

The build succeeds, **but** the `:generatePrecompiledScriptPluginAccessors` task fails with:

[code]

### Context
When applying some external plugin where we disagree with their defaults, we like to make o

[2022-08-26 02:52] #21657 closed

[2022-08-26 03:15] ganadist commented on #21116
I have an similar issue.
After updated Gradle 7.5.1, whenever gradle failed build, I can get 2 errors on gradle scan.
One is actual error, and the other is `StackOverflowError`
[code]

[2022-08-26 05:19] yogurtearl opened #21687 "Gradle has trouble downloading some keys."
When using `--write-verification-metadata pgp,sha512 --export-keys`, for some keys, gradle consistently fails to download them.

Gradle give this message:
[code]

**Expected**
Gradle reliable downloads all keys (assuming it can connect to the key server)

**Actual**
Even when gradle can connect to the keyserver just fine, it seems to be caching some state that says "don't ever try to download thes

[2022-08-26 05:45] remcomokveld commented on #17968
How do y'all use `withoutVersion()`? I'm getting this error

Looking at the [source](https://github.com/gradle/gradle/blob/master/subprojects/dependency-management/src/main/java/org/gradle/api/internal/catalog/DefaultVersionCatalogBuilder.java) the method exists for `DefaultLibraryAliasBuilder` but not for `DefaultPluginAliasBuilder`

[2022-08-26 06:17] payneChen commented on #21624
Thanks, is it possible to be fixed in new patch and release like 7.5.2 in one or two week? Since we are preparing and trying to pick up one new gradle version for the half year usage, if the answer is no, we may roll back to 7.4.2.

Regards
Payne

[2022-08-26 07:28] #21666 closed, assigned to nobody

[2022-08-26 07:41] Vampire commented on #17968
We don't

[2022-08-26 08:38] remcomokveld commented on #17968
I thought that's what you said you were doing here? https://github.com/gradle/gradle/issues/17968#issuecomment-1189078037

[2022-08-26 09:26] hungvietnguyen commented on #21250
Additional issue: As @wolfs pointed out in https://github.com/gradle/gradle/issues/21573#issuecomment-1227551837, not only the order of `InputArtifactDependencies` has changed, their versions have changed too (`collection-1.0.0.jar` vs. `collection-1.2.0.jar` at step 2 in the example above):

[code]

[2022-08-26 09:39] hungvietnguyen commented on #21573
Thanks for pointing that out Stefan! I was completely unaware that the version has changed too. Added this finding to https://github.com/gradle/gradle/issues/21250#issuecomment-1228272262.

[2022-08-26 09:55] dhs-rec opened #21690 "Build Cache Node rewrites its configuration file after start"
[NOTE: There doesn't seem to be a separate project for the Gradle build cache node, so I file the issue here. Feel free to move it to the appropriate place (in case there is one).]

We're running a local Gradle build cache node, which is completely managed by Puppet. After update from 11.0 to 13.1, Puppet started to restart the cache node on every run because of differences in the configuration, c

[2022-08-26 10:02] venkateshwarlu808 opened #21691 "but it can't be used as a project dependency because it isn't intended for consumption by other components."
HI ,

I am facing below issue .

 Could not resolve project :xxxxxxxxejb.
     Required by:
         project :xxxxxxxxxxxear

Kinldy help on this .

Venkat.

[2022-08-26 11:09] wolfs opened #21692 "Validate unknown implementation snapshots earlier"
We currently validate that implementations of units of work are known in `ValidateStep`. Though we could do the validation already when we try to create the implementation snapshot, since the build would fail anyway when trying to use an unknown implementation.
When doing this, we need to make sure that the error message still points to the right location, e.g. the task implementation or the input

[2022-08-26 12:14] lptr commented on #21692
As discussed, one downside with turning the validation error into an exception is that the user will not be able to learn about other errors and warnings until they fix this one.

The benefit of doing this is that we'll simplify the code by eliminating the need to track unknown implementations.

[2022-08-26 13:25] Vampire commented on #17968
Read on, two comments below that one for example. ;-)

[2022-08-26 13:37] JT122406 opened #21694 "18.0.2 coming up as incompatible with 7.5.1"
IntellIJ Keeps saying that JDK 18.0.2 isn't compatible with Gradle 7.5.1
(JDK 18.0.2 isn't compatible with Gradle 7.5.1. Please fix JAVA_HOME environment variable.)

### Expected Behavior

Based on 7.5/7.5.1 Change log 18.0.x should be supported no issues

### Current Behavior

JDK 18.0.2 isn't compatible with Gradle 7.5.1. Please fix JAVA_HOME environment variable.

### Context

Is just very anno

[2022-08-26 13:46] asodja commented on #21624
After some discussion: we won't release 7.5.2, since 7.6 is planned for September (🤞). So I think it makes sense for you to wait for 7.6. Would that work for you?

[2022-08-26 15:15] Marcono1234 opened #21695 "Gradle debugging suspending on startup should inform that it is waiting for debugger to attach"
### Expected Behavior
When starting Gradle with `-Dorg.gradle.debug=true` (and `-Dorg.gradle.debug.suspend=true`, the default) Gradle should inform the user on the console that it is waiting for a debugger to attacher, and should display the port number.

### Current Behavior
Gradle does not inform the user, for a user it just looks like Gradle gets stuck, for example at "> Starting Daemon".

To r

[2022-08-27 00:04] yifanyang opened #21698 "Same artifact transformed to two different jar files in cache directories in gradle 7"
We observed that our artifact `com.google.firebase:firebase-components:17.0.1-SNAPSHOT` was transformed to two different jar files in gradle cache directories, which results in duplicate classes error when building Android applications:

[code]

### Expected Behavior
Is there supposed to be only one jar file?

### Current Behavior
Two different jar files were produced, but with the same classes.

[2022-08-27 09:49] stigkj commented on #15886
@liutikas I guess "first use" is slower with Kotlin DSL as that needs to be compiled.

[2022-08-27 09:58] BadTrasher opened #21700 "How can I see the vulnerability fixing commit of the CVE-2022-31156? I wonder which file is affected by this vulnerability and how to fix it."

[2022-08-27 10:59] aSemy opened #21701 "Improve API for setting Configurations as producers or consumers"
I find it very difficult to remember how to configure Configurations as producers and consumers The existing properties, `isCanBeResolved` and `isCanBeConsumed` are vague (they seem like synonyms to me). The documentation can help - particularly [the table in this page](https://docs.gradle.org/7.5.1/userguide/declaring_dependencies.html#sec:resolvable-consumable-configs) - but finding it is always

[2022-08-27 21:58] modmuss50 opened #21703 "Support ARM64 Windows"
Hi 👋,

I am encountering a number of build failures when using Gradle on ARM64 Windows, all of the issues I have come across so far happen when Gradle tries to read the windows registry through the [native-platform](https://github.com/gradle/native-platform) library. Gradle most commonly does this when finding existing Java installations or locating the Visual Studio install path when building nat

[2022-08-28 05:19] Lothrazar commented on #20624
if anyone in future is reading this, yes its a local setup issue. the local-setup fix is to delete any old lingering folders similar to
`C:\Program Files\Eclipse Foundation\jdk-11.0.12`
in the above comments, keeping only the ones for Working jdks. (and so the root folder only has one jdk for your main java version) . in my case i had the same error but in java 17 when i installed 17.0.4.1+1 and i

[2022-08-28 15:08] SgtSilvio commented on #6619
Also looking for a workaround. I understand that solving this completely is a bigger task, but is there any way how we can set the producer task of a `Property` manually? I am thinking of something like `ConfigurableFileCollection.buildBy`.

The only way that I found is very hacky and uses multiple internal APIs:
[code]
`myNestedObject` must not be created by `ObjectFactory.newInstance` in this ca

[2022-08-28 15:36] jimshowalter commented on #21325
When will this fix be released?

[2022-08-28 17:55] Telesphoreo commented on #21325
I upgraded to `7.6-20220825090952+0000` and it's fixed now

[2022-08-28 19:01] jimshowalter commented on #21325
I mean released formally, in https://gradle.org/releases/.

[2022-08-28 22:05] anno1985 opened #21705 "Docs: "Building Java Applications Sample" explanation of build.gradle incomplete"
Not sure this is the right place to report docs issues, but the ["Building Java Applications Sample" documentation](https://docs.gradle.org/current/samples/sample_building_java_applications.html#review_the_project_files) highlights six points in its "app/build.gradle" example, but only explains five of them in the bullet point list below the code listing.

[2022-08-29 02:53] payneChen commented on #21624
Is it in the beginning of September or in the end of September? Since we are preparing the internal release which is planned in the beginning of Oct and hope the testing including new Gradle version could be done in Sep.

[2022-08-29 07:39] tomasAlabes opened #21708 "Can't exclude composite build tasks"
### Expected Behavior
We should be able to exclude a composite build task, as stated in [the docs](https://docs.gradle.org/current/userguide/composite_builds.html#interacting_with_composite_builds)

### Current Behavior

Using [gradle's sample project](https://docs.gradle.org/current/samples/sample_structuring_software_projects.html) (without touching anything):

[code]

### Context

In my own pro

[2022-08-29 08:38] ljacomet commented on #21216
The issue is effectively in the documentation, which is missing some content that is in the snippet file:

`build.gradle` should contain:
[code]

Or have the line move in the existing `allprojects`, as is done for the Kotlin version.

[2022-08-29 08:46] jbartok commented on #21630
As indicated by the message, you are configuring one of your included build and not the rest, so the configuration is inconsistent.

[2022-08-29 08:56] ljacomet commented on #21638
The problem is that you are publishing your plugin to [the Gradle plugin](https://plugins.gradle.org/m2/com/likethesalad/android/stem-plugin/2.2.0/) portal as well. And there it is published with a Gradle Module Metadata file, which is what Gradle consumes.

So all your dependency manipulations must be done on the published variants and not directly on the POM, otherwise your metadata are not cons

[2022-08-29 08:56] #21638 closed

[2022-08-29 08:58] jbartok commented on #21651
Thank you for your interest in Gradle!

Your issue appears to be a question about how to use Gradle. Your question might be better answered on our forums or StackOverflow. We have several resources on [help.gradle.org](https://help.gradle.org) that you should check out first.

If you think you have come across a Gradle bug, please file a new issue describing the problem and how to reproduce it.

I

[2022-08-29 08:58] #21651 closed

[2022-08-29 09:01] jbartok commented on #21690
Are you talking about the OS build-cache node (https://hub.docker.com/r/gradle/build-cache-node/) or something else?

[2022-08-29 09:02] dhs-rec commented on #21690
Yes, but running locally, from the JAR file.

[2022-08-29 09:26] dhs-rec commented on #21690
As described [here](https://docs.gradle.com/build-cache-node/#jar).

[2022-08-29 11:31] mlopatkin opened #21710 "No configuration cache-compatible alternative to Project.configure is available"
The `Project` class has a family of methods that allow simpler configuration of arbitrary objects:
* [`configure​(Object object, Closure configureClosure)`](https://docs.gradle.org/current/javadoc/org/gradle/api/Project.html#configure-java.lang.Object-groovy.lang.Closure-)
* [`configure​(Iterable<?> objects, Closure configureClosure)`](https://docs.gradle.org/current/javadoc/org/gradle/api/Project

[2022-08-29 11:41] mlopatkin opened #21711 "Snippet "snippet-tutorial-configure-object-using-script" is not compatible with the configuration cache"
The snippet fails because it uses `Project.apply` to configure an object at execution time.

Build scan URL: https://ge.gradle.org/s/wkszl3ueqiln2/tests/:docs:docsTest/org.gradle.docs.samples.Bucket1SnippetsTest/snippet-tutorial-configure-object-using-script_groovy_configureObjectUsingScript.sample?top-execution=1

[2022-08-29 12:46] ljacomet opened #21712 "Off-by-one error on Windows path length checks"
`LongCommandLineDetectionUtil` has an off-by-one error for Windows checks.

The Windows documentation says:

So the value of 32,767 encoded in Java is wrong, as the Java String _will not include_ the terminating line character.

The value should be updated to account for this, by using 32,766.

[2022-08-29 13:14] Just-some-one commented on #21216
thanks @ljacomet  for clarification and have a nice day :)

[2022-08-29 14:03] mlopatkin opened #21714 "Snippet "snippet-groovy-compilation-avoidance" is not compatible with the configuration cache"
The snippet works fine without CC but with CC the compilation fails when running from cache:
[code]

Build scan URL:
* https://ge.gradle.org/s/wkszl3ueqiln2/tests/:docs:docsTest/org.gradle.docs.samples.Bucket3SnippetsTest/snippet-groovy-compilation-avoidance_groovy_groovyCompilationAvoidance.sample?top-execution=1
* https://ge.gradle.org/s/wkszl3ueqiln2/tests/:docs:docsTest/org.gradle.docs.samples

[2022-08-29 14:07] vlsi opened #21715 "sigstore: API for signing Gradle Module Metadata file"
### Expected Behavior

There should be a way to publish signature for publications, including Gradle Module Metadata file.

Currently, the recommended approach is to share output artifacts via "outgoing configuration", however, Gradle attempts to mention all the artifacts within `.module` file, so there's no way to "sign" `.module` file itself.

### Current Behavior

Suppose we publish `test-app`

[2022-08-29 15:11] mlopatkin opened #21717 "Snippet "snippet-java-toolchain-filters" is not compatible with the configuration cache"
The snippet references the unavailable toolchain (IBM Semeru OpenJ9) but has no sources. Without CC, the toolchain is never actually resolved and everything works. With CC enabled, it tries to resolve and cache the toolchain, and fails to do that, with rather cryptic error message.

The snippet itself is fine, it is the environment that isn't really suitable, so the actual fix is not obvious.

Bui

[2022-08-29 15:34] Omico commented on #21630
@jbartok This script, `initialization.settings.gradle.kts` is applied as a settings plugin for each other project.
See https://github.com/Omico/androidx-navigation-route-ksp/blob/4e8c1be50159789b5fe8b21a2a67c6e9bece1876/build-logic/settings.gradle.kts#L14
https://github.com/Omico/androidx-navigation-route-ksp/blob/4e8c1be50159789b5fe8b21a2a67c6e9bece1876/settings.gradle.kts#L20
If we add it manual

[2022-08-29 15:35] mlopatkin opened #21718 "Snippet "snippet-init-scripts-configuration-injection" and "snippet-init-scripts-plugins" are not compatible with the configuration cache"
The snippets contain a "showRepos" task that iterates over the defined repositories at the execution time. This information is not available when running from the cache.

It is possible to store the repository data in some `List<String>` variables, but the code is included into the doc pages, where it seems artificial.

Build scan URL:
* https://ge.gradle.org/s/wkszl3ueqiln2/tests/:docs:docsTest/o

[2022-08-29 15:38] #21679 closed

[2022-08-29 20:27] #21681 closed

[2022-08-29 20:37] tresat opened #21724 "Remove @Deprecated DefaultDependencyHandler.doAdd(Conf, Obj, Closure)"

[2022-08-30 00:23] adammurdoch commented on #21325
@jimshowalter the fix will be included in Gradle 7.6, which is due to be released soon.

@Telesphoreo thanks for trying out the fix and letting us know the result.

[2022-08-30 04:55] vlsi opened #21729 "sigstore: publication.allPublishableArtifacts { ... } does not allow capturing artifacts and signing them"
### Expected Behavior

There should be an API to capture all the publishable artifacts, so they could be signed, etc.
Ideally, it should be possible to add new artifacts within `allPublishableArtifacts { ... }`.

### Current Behavior

I tried `(publication as PublicationInternal<*>).allPublishableArtifacts { ... }` and adding a signature artifact to a outgoing configuration, however, there are two

[2022-08-30 06:01] ddivin-sc opened #21730 "Sub modules are not included in the project if these modules end with the same name"
I have the following multiproject structure

[code]

app depends on the following submoudles

[code]

I get the following compilation error when I can trying to build subproject

[code]

But If I swap these sub modules dependencies in the application build script

[code]

I get another compilation error

[code]

I have the following assumption: if two or more submodules are included with the same

[2022-08-30 06:03] jbartok commented on #20468
Update: the above PR bumps the vulnerable Google libraries we have in the distribution and should make it into Gradle 7.6, our next release.

[2022-08-30 07:21] adammurdoch commented on #21323
Some more improvements in this PR: https://github.com/gradle/gradle/pull/21688

| Number of workers | 7.4.2 | 7.5.1 | Before | After |
| 4 | 81.0s | 14.8s | 13.9s | 12.7s |
| 8 | 93.7s | 15.2s | 13.5s | 12.2s |
| 16 | 100.0s | 16.6s | 14.2s | 13.2s |
| 32 | 107.0s | 17.9s | 15.1s | 13.6s |

[2022-08-30 08:03] #19842 closed

[2022-08-30 08:09] #21325 closed

[2022-08-30 09:09] bamboo commented on #21323
The accumulated improvements against 7.4.2 are really impressive!

[2022-08-30 09:18] rnhmjoj commented on #1338
Now, if only the metadata directory were reproducible we could just save `$GRADLE_USER_HOME/caches/modules-2` and actually use it as inputs for offline reproducible builds...

diffoscope of modules-2 [here](https://gist.github.com/rnhmjoj/76bee115702ea3e091c9ccf4e0b8f04c/raw).

[2022-08-30 09:21] gavra0 commented on #21698
Adding another piece of information, adding this snippet
[code]

and running `./gradlew mytask` prints multiple jars for `firebase-components` artifact, suggesting there is indeed an issue in the de-duplication of selected artifacts.

[2022-08-30 11:41] thahnen opened #21733 "Dependency handling: Extend exclude method to support version catalog notation"
### Expected Behavior

The notation used to provide dependencies from version catalog can also be used in exclusion rules (transitive dependencies). Therefore working with dependencies, the dependency catalog and exclusion rules would be more streamlined and intuitive.

For solution ideas see down below! Here a quick example of how I imagine it from the outside. We have a version catalog with entr

[2022-08-30 11:45] jbartok commented on #21616
I can confirm that this problem happens due to the interaction of two things:

1. the JVM in question, in the environment it's running in, prints some warning messages to standard output (the JVM running, in this case, is a process started by Gradle in order to [probe a Java installation, by running its `bin/java`](https://github.com/gradle/gradle/blob/7f8686925b7299e6350b96b1d90ac9bb4ae1d00c/subp

[2022-08-30 11:51] jbartok commented on #21616
Actually, you don't have a way of getting that JVM property to the right process... Will try to find another way.

[2022-08-30 12:01] thahnen commented on #21733
Edit: Ahh I was send this link to [DefaultConfiguration.java](https://github.com/gradle/gradle/blob/380ca9da4a4d7d311b8ed9ba551000496d88b260/subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java#L1041-L1047). This might be the Java / Groovy DSL implementation but I am not 100% sure.

[2022-08-30 12:24] dgeissl commented on #18129
This is still relevant.

[2022-08-30 12:43] ljacomet commented on #21539
Thanks for your interest in Gradle and the bug report.

1. `java-library` should be applied to a `groovy` project that actually defines a Groovy library, to be consumed by other projects. The `java-library` name should have been `jvm-library` to indicate this better, but changing the name at this stage is not really an option. This is illustrated in [the Groovy library sample](https://docs.gradle.

[2022-08-30 12:50] xenoterracide commented on #17183
I ran into this again today... I'm of the opinion that grepping the lockfile should not be easier than using dependencyInsight. As a mono repo using dependency insight is extremely painful. invoking it is not intuitive to remember and most of the time requires me to look the dependency information before looking up the dependency information. I mean jesus, why can't I just write

[code]

and get b

[2022-08-30 12:58] yawkat commented on #21539
@melix can you take over this issue (and https://github.com/micronaut-projects/micronaut-core/issues/7624 ) from me, now that you're back?

[2022-08-30 13:28] JavierSegoviaCordoba commented on #18147
No stale

[2022-08-30 13:33] tresat opened #21736 "Remove @Deprecated DefaultWorkerExecutor methods"

[2022-08-30 13:40] eskatos commented on #18080
Still an issue

[2022-08-30 14:33] big-guy opened #21738 "Investigate less verbose syntax for domain object containers in Kotlin DSL"
Investigate if there are ways to support a less verbose syntax in Kotlin DSL when interacting with domain object containers.

In a domain object container, if you want to look up an element by name and configure it, you need to use `getting(...)`:
[code]
The `JvmTestSuite::class` is verbose when compared to Groovy DSL:
[code]
or
[code]

The type also comes far from the name of the element. We have

[2022-08-30 15:22] mlopatkin opened #21742 "Configuration cache should report Task.getProject access inside Task.onlyIf, TaskOutputs.cacheIf, and TasksOutputs.upToDateWhen predicates"
Currently, the configuration cache forbids calling `Task.getProject`, but at execution time only. This means that the restriction only applies to code inside task actions (`@TaskAction` and `doFirst`/`doLast` callbacks). The motivation is that the returned `Project` is not completely functional when restoring the build from the cache entry. However, task actions aren't the only user code that is e

[2022-08-30 15:27] tresat opened #21743 "AntlrPlugin.apply to become an error"
And the configuration to become resolvable only.

[2022-08-30 15:39] Pytry commented on #20330
It's happening in 7.5.1 as well. I notice that it does not happen if I leave out the jmockit javaagent parameter to the JVM for the test task, but leave in the gradle dependency on jmockit.

[2022-08-30 16:08] mlopatkin commented on #21742
The same logic actually applies to `TaskOutputs.cacheIf` and `TaskOutputs.upToDateWhen` predicates, though the reproducer is more involved, especially for the `cacheIf`.

[2022-08-30 16:12] xenoterracide opened #21745 "gradle dependencies --write-locks is not idempotent"
### Expected Behavior

--write-locks should be idempotent, meaning the results shouldn't differ (unless a dynamic version changes)

### Current Behavior

[code]

may not result in the same output without deleting the lockfiles

### Context

### Steps to Reproduce

create and lock a significant number of dependencies, change significantly them, locks might be different if you delete them. I ran wri

[2022-08-30 18:52] asodja commented on #21624
Sorry for late reply. From still opened issues it seems like the second part of September.

[2022-08-30 19:06] tresat opened #21747 "Update Test.useTestFramework to throw error upon improper usage"
We want to ensure that removing this does not worsen the error message people will get who are currently ignoring the warning.

It's okay to now require `useJUnit()` calls prior to setting options, IFF we can ensure that the message provides clear guidance.

[2022-08-30 19:33] bingranl commented on #20709
@bamboo Can you share if this is a nightly version that I can try to verify the fix? Thanks!

[2022-08-30 20:17] abstratt opened #21748 "<task> --rerun fails on configuration cache hit"
### Expected Behavior

No error produced when using the --rerun option with configuration cache enabled.

### Current Behavior

Running a Gradle task with the new  `--rerun` option will break on a configuration cache hit.

### Context

The new `--rerun` option implemented in 7.6 (by yours truly) was not tested with configuration cache enabled, but it clearly does not work.

This seems similar to #

[2022-08-30 22:32] bamboo commented on #20709
@bingranl `./gradlew wrapper --gradle-version 7.6-20220822144040+0000` should do it.

[2022-08-31 00:13] rschmitt opened #21752 "Add `ConfigurableFileCollection#convention` method"
### Expected Behavior

The `Property<T>` interface defines two methods named `convention`, defined as follows:

[code]

These methods are highly useful for plugin development: they allow the plugin developer to specify a clear default value for a given property, and they allow the user to override this value without first having to reset it.

### Current Behavior

`ConfigurableFileCollection` has

[2022-08-31 00:55] cmacfarl opened #21753 "Javadoc task should add dependent classpaths to javadoc tool"
Given two modules A and B where A has dependencies on B, the Javadoc task for Module A will fail to generate HTML because in JDK 11 the javadoc tool fails hard and won't generate any output when there are missing symbols.   JDK 8 displayed resilient behavior in which it would generate HTML despite missing symbols.  This means that the Javadoc task, as it is presented in many Gradle example snippet

[2022-08-31 04:04] #21367 closed

[2022-08-31 04:04] #21598 closed

[2022-08-31 08:25] eskatos commented on #21293
Done in https://github.com/gradle/gradle/pull/21448 for Gradle 7.6

[2022-08-31 08:25] #21293 closed

[2022-08-31 08:36] jbartok commented on #21694
Thank you for your interest in Gradle!

This is an issue with IntelliJ IDEA’s Gradle integration, which is developed by JetBrains and cannot be addressed in the core of the Gradle Build Tool.

Please open such IntelliJ-related issues on the JetBrains Issue Tracker at https://youtrack.jetbrains.com/

[2022-08-31 08:36] #21694 closed

[2022-08-31 08:45] jbartok commented on #21700
The PR fixing this vulnerability is https://github.com/gradle/gradle/pull/20412

[2022-08-31 08:45] #21700 closed

[2022-08-31 08:47] jbartok commented on #21701
Yes, this is something we want to do, but it's quite a large change and not actually planned for the short term.

[2022-08-31 08:55] jbartok commented on #21715
Right now we are still investigating sigstore support.

[2022-08-31 08:59] jbartok commented on #21730
Duplicates #16986

[2022-08-31 08:59] #21730 closed

[2022-08-31 09:16] alllex opened #21758 "JavaCompile and Test tasks silently ignore explicit executable if it does not exist"
When resolving which toolchain to use for the java compiler in the `JavaCompile` task or for the launcher in the `Test` task, there is a priority that is given to an executable path explicitly set via fork options. However, if a user makes a mistake by providing a wrong path, then the provided value is silently ignored and the current toolchain is used to execute the work.

At the very least, the

[2022-08-31 10:23] melix commented on #20243
@ljacomet sorry to insist but we need visibility on this one. Will this really break in 8?

[2022-08-31 10:37] mk-ahmed-saucelabs commented on #9331
Experiencing the same AGP 7.2.2

[2022-08-31 10:55] agascon commented on #8750
Hi @cocorossello, would you mind to share details about your local + remote buildCache setup?

We are facing this issue in a CI environment due to several jobs running at the same time, and your approach sounds like a great solution to me.

Thanks!

[2022-08-31 11:44] tresat opened #21760 "Update AbstractCodeQualityPlugin.createConfigurations to become an error in Gradle 8"
Configurations should be resolvable only.

[2022-08-31 12:03] tresat opened #21763 "Update dependency-management deprecation warnings to errors in Gradle 8"
This includes usage in:

- DefaultDependencyConstraintSet
- DefaultDependencySet
- DefaultConfiguration
- DefaultArtifactHandler

[2022-08-31 12:28] britter commented on #21539
@ljacomet we're open to accept new plugins to GradleX, but we're still bootstrapping the project so I think it's a little to early to accept new code. We'll definitely come back to you about this.

[2022-08-31 12:41] h0tk3y opened #21766 "CCH22-Example-1: Adjust the `snippets/dependencyManagement/customizingResolution-attributeSubstitutionRule` sample for configuration cache"
The sample project located under `subprojects/docs/src/snippets/dependencyManagement/customizingResolution-attributeSubstitutionRule` does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the sample project need to be adjusted to follow the requirem

[2022-08-31 12:41] h0tk3y opened #21767 "CCH22-Example-2: Adjust the `snippets/tasks/incrementalBuild-incrementalBuildAdvanced` sample for configuration cache"
The sample project located under `subprojects/docs/src/snippets/tasks/incrementalBuild-incrementalBuildAdvanced` does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the sample project need to be adjusted to follow the requirements.
### Context
Thi

[2022-08-31 12:45] mlopatkin commented on #21766
Fixed in #21555.

[2022-08-31 12:45] mlopatkin commented on #21767
Fixed in #21555.

[2022-08-31 12:45] #21767 closed

[2022-08-31 12:49] #21743 closed

[2022-08-31 13:01] vlsi commented on #21715
@jbartok , I've implemented a draft plugin for signing artifacts via Sigstore: https://github.com/vlsi/sigstore-gradle-draft

Here's basically what I do to sign artifacts: https://github.com/vlsi/sigstore-gradle-draft/blob/53cbeb43a5b8d98b239ccb55c6b327db81484ce2/sigstore-sign-base-plugin/src/main/kotlin/dev/sigstore/sign/SigstoreSignExtension.kt#L71-L109

[2022-08-31 13:06] vlsi commented on #19748
I've implemented a draft plugin that signs artifacts and publishes a signing bundle: https://github.com/vlsi/sigstore-gradle-draft

[2022-08-31 13:08] alexander-schubert commented on #21616
The following work-around seem to be viable for Java >=9 (`-Xlog` was only introduced in Java 9, but the issue currently does not seem to exist on older versions).

**Work-around**
Set `JAVA_TOOL_OPTIONS="-Xlog:disable -Xlog:all=warning:stderr:uptime,level,tags"` in the environment where you're executing Gradle to redirect all warnings to stderr instead.

**Limitations**
Note that this also affect

[2022-08-31 13:47] nskvortsov commented on #21694
Related issue in JetBrains tracker: https://youtrack.jetbrains.com/issue/IDEA-299557

[2022-08-31 14:57] rpygithub commented on #21690
Hello Dirk,

Thank you for bringing this to our attention.

The Build Cache Node's (BCN) configuration file, be it supplied by a user or auto-generated on start-up, must be writable and can be written to by the BCN process as described in the [User Manual](https://docs.gradle.com/build-cache-node/#providing_a_config_file).

Since BCN v12, the configuration and data directory permissions checks on

[2022-08-31 14:57] #21736 closed

[2022-08-31 14:58] eskatos opened #21772 "Remove deprecated members of the internal PrecompiledScriptPluginsSupport"
See

https://github.com/gradle/gradle/blob/397f94caf617291f3eaf09bdbc72c5156e104e6f/subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/provider/PrecompiledScriptPluginsSupport.kt#L36-L58

[2022-08-31 15:29] eskatos opened #21775 "Remove deprecated NamedDomainObjectContainerExtension.invoke"
It was introduced for backwards compatibility and is kotlin-hidden anyway. Nagging was already in place, advertising the removal in 8.0.

[2022-08-31 15:34] JD10NN3 commented on #1643
Is it implemented?

[2022-08-31 15:44] ljacomet commented on #20243
Let me get a confirmation from the team about what we do in 8.0 for this.

[2022-08-31 15:53] donat commented on #17810
This is still relevant.

[2022-08-31 16:14] lacasseio commented on #21752
I tried adding `convention` concept to a cloned API of `ConfigurableFileCollection` in Nokee, and it failed spectacularly. The issue boils down to what the convention means in the file collection. We could argue that it should behave like the convention on `ListProperty` and `SetProperty`, but regardless of the convention, those properties already have an empty iterable as values. This means that

[2022-08-31 17:55] #21724 closed

[2022-08-31 21:02] #21013 closed

[2022-08-31 22:09] bingranl opened #21781 ""withVariantReselection" API broken"
### Expected Behavior

The[ "withVariantReselection" API](https://docs.gradle.org/current/javadoc/org/gradle/api/artifacts/ArtifactView.ViewConfiguration.html) should work and the [demo project](https://github.com/gradle/source-resolution-demo) should work.
### Current Behavior

The demo project doesn't work and the API is broken.
### Context

Android Gradle Plugin is trying to integrate that API

[2022-08-31 23:10] bingranl opened #21783 "dependency resolution error should be thrown in the same way regardless of whether config caching is enabled or not"
### Expected Behavior

Regardless of whether config caching is enabled or not, users should see a same error message if there is a dependency resolution failure.

For example, we expected to see the error like below when dependency resolution fails

[code]
### Current Behavior

However, with 7.6-20220822144040+0000 users would see error message like below. The error message is misleading and makes

[2022-09-01 03:22] Goooler commented on #20234
It also happened on Composing builds, see https://github.com/Goooler/ktlint/pull/33

[2022-09-01 04:41] liutikas opened #21786 "gradlew init should set parallel and caching to true"
If you create a new project using `./gradlew init`, it currently creates a project that has `org.gradle.caching=false` and `org.gradle.parallel=false` since those are the default values for Gradle. Given these are brand new projects and these newly initialized projects are compatible with both parallel execution and caching, we should just set these values in `gradle.properties`

[2022-09-01 05:40] sschuberth commented on #16915
Absolutely!

Personally, I'd appreciate a PR for even just that!

[2022-09-01 05:42] dhs-rec commented on #21690
@rpygithub, a `touch` is not the same as a complete rewrite. See above: The file is rewritten, reordering the entries. Puppet recreates the file only if its content differs, which triggers a restart. A simple touch wouldn't have that effect.

I understand that the file will be rewritten if the configuration is changed from the UI, and that's perfectly fine. However, it should NOT be done when ther

[2022-09-01 08:50] Meijuh opened #21788 "Support platform/BOM for plugin management"
I would like to see support for Maven BOMs for plugin management. As far as I can tell by reading https://docs.gradle.org/current/userguide/plugins.html this is not supported.

### Expected Behavior
I would like to be able to specify Maven BOMs in the `buildscript` (or `pluginManagement`) block. Somewhat like the following:
[code]

### Current Behavior
Currently, the `platform` function does not h

[2022-09-01 09:15] donat commented on #21137
Issue in IDEA: https://youtrack.jetbrains.com/issue/IDEA-298726

[2022-09-01 09:18] lptr commented on #21644
Let's just disable Groovy compilation as it's broken. Java seems to work fine, so let's leave that on.

[2022-09-01 10:09] eskatos opened #21790 "Remove deprecated AntlrSourceVirtualDirectory & AntlrSourceVirtualDirectoryImpl"
With Gradle 8.0 you should use the already existing `AntlrSourceDirectorySet` source set extension instead.

[2022-09-01 10:12] eskatos commented on #20416
Done in https://github.com/gradle/gradle/pull/21771 for Gradle 8.0

[2022-09-01 10:13] eskatos commented on #21775
Done in https://github.com/gradle/gradle/pull/21776 for Gradle 8.0

[2022-09-01 10:13] #21775 closed

[2022-09-01 10:17] lptr opened #21792 "De-incubate or remove ExternalPluginValidationPlugin"
the `@Incubating` type `org.gradle.plugin.devel.plugins.ExternalPluginValidationPlugin` is part of the public API, but is not documented. It is unclear how this plugin is useful to users, but it is used by some external plugins currently.

We should either de-incubate and document it, or move it to a Gradle build-only scope.

[2022-09-01 10:21] lptr commented on #21792
According to https://cs.github.com/?scopeName=All+repos&scope=&q=validate-external-gradle-plugin it is used by (apart from our smoke tests):

- @bigdaz (we know this guy): https://cs.github.com/bigdaz/gradle-plugin-verification/blob/441d4887f9592f9917d487bdd7361a7253bd8f3b/verified-plugins/validate-plugin-init.gradle?q=validate-external-gradle-plugin#L2
- Kotlin Gradle plugin: https://github.com/J

[2022-09-01 10:34] #17681 closed

[2022-09-01 11:37] asodja commented on #15496
Removed for Gradle 8.

[2022-09-01 11:37] #15496 closed

[2022-09-01 12:05] alllex opened #21794 "Turn invalid toolchain spec deprecation into error"

[2022-09-01 12:34] melix commented on #20243
Great, thank you!

[2022-09-01 13:05] eskatos opened #21796 "Report deprecation of Provider.forUseAtConfigurationTime()"
It is already soft deprecated (`@Deprecated` annotation).
This issue is about adding deprecation reporting/logging for invocations.

This issue needs to be fixed and a KGP version available with the fix before we can add the nagging.

* [KT-53823 - Kotlin Gradle Plugin uses deprecated Gradle API: Provider.forUseAtConfigurationTime()
](https://youtrack.jetbrains.com/issue/KT-53823)

This issue in t

[2022-09-01 13:09] h0tk3y opened #21798 "CCH22-1: Adjust the `snippets/artifacts/defineRepository` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/artifacts/defineRepository`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/artifacts/defineRepository) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build script in the `groovy` part of the sample pr

[2022-09-01 13:09] h0tk3y opened #21799 "CCH22-2: Adjust the `snippets/artifacts/generatedFileDependencies` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/artifacts/generatedFileDependencies`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/artifacts/generatedFileDependencies) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` an

[2022-09-01 13:09] h0tk3y opened #21800 "CCH22-3: Adjust the `snippets/buildCache/cacheable-bundle` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/buildCache/cacheable-bundle`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/buildCache/cacheable-bundle) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts

[2022-09-01 13:09] h0tk3y opened #21801 "CCH22-4: Adjust the `snippets/buildCache/cacheable-bundle-task` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/buildCache/cacheable-bundle-task`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/buildCache/cacheable-bundle-task) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kot

[2022-09-01 13:09] h0tk3y opened #21802 "CCH22-5: Adjust the `snippets/buildlifecycle/projectEvaluateEvents` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/buildlifecycle/projectEvaluateEvents`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/buildlifecycle/projectEvaluateEvents) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy`

[2022-09-01 13:09] h0tk3y opened #21803 "CCH22-6: Adjust the `snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/customizingResolution-capabilitySubstitutionRule) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.ht

[2022-09-01 13:09] h0tk3y opened #21804 "CCH22-7: Adjust the `snippets/dependencyManagement/customizingResolution-classifierSubstitutionRule` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/customizingResolution-classifierSubstitutionRule`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/customizingResolution-classifierSubstitutionRule) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.ht

[2022-09-01 13:10] h0tk3y opened #21805 "CCH22-8: Adjust the `snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/customizingResolution-conditionalSubstitutionRule) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.

[2022-09-01 13:10] h0tk3y opened #21806 "CCH22-9: Adjust the `snippets/dependencyManagement/customizingResolution-ivyMetadataRule` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/customizingResolution-ivyMetadataRule`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/customizingResolution-ivyMetadataRule) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requir

[2022-09-01 13:10] h0tk3y opened #21807 "CCH22-10: Adjust the `snippets/dependencyManagement/customizingResolution-metadataRule` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/customizingResolution-metadataRule) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements

[2022-09-01 13:10] h0tk3y opened #21808 "CCH22-11: Adjust the `snippets/dependencyManagement/definingUsingConfigurations-custom` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/definingUsingConfigurations-custom`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/definingUsingConfigurations-custom) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements

[2022-09-01 13:10] h0tk3y opened #21809 "CCH22-12: Adjust the `snippets/dependencyManagement/dependencyVerification-disablingVerification` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/dependencyVerification-disablingVerification`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/dependencyVerification-disablingVerification) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#confi

[2022-09-01 13:10] h0tk3y opened #21810 "CCH22-13: Adjust the `snippets/dependencyManagement/managingTransitiveDependencies-excludeForConfiguration` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-excludeForConfiguration`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-excludeForConfiguration) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configurat

[2022-09-01 13:10] h0tk3y opened #21811 "CCH22-14: Adjust the `snippets/dependencyManagement/managingTransitiveDependencies-excludeForDependency` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-excludeForDependency`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/dependencyManagement/managingTransitiveDependencies-excludeForDependency) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_ca

[2022-09-01 13:10] h0tk3y opened #21812 "CCH22-15: Adjust the `snippets/files/archiveNaming` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/files/archiveNaming`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/files/archiveNaming) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the sample p

[2022-09-01 13:10] h0tk3y opened #21813 "CCH22-16: Adjust the `snippets/files/archivesChangedBaseName` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/files/archivesChangedBaseName`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/files/archivesChangedBaseName) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` p

[2022-09-01 13:10] h0tk3y opened #21814 "CCH22-17: Adjust the `snippets/files/fileCollections` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/files/fileCollections`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/files/fileCollections) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the samp

[2022-09-01 13:10] h0tk3y opened #21815 "CCH22-18: Adjust the `snippets/java/crossCompilation` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/java/crossCompilation`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/java/crossCompilation) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the samp

[2022-09-01 13:10] h0tk3y opened #21816 "CCH22-19: Adjust the `snippets/java/customDirs` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/java/customDirs`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/java/customDirs) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the sample project n

[2022-09-01 13:10] h0tk3y opened #21817 "CCH22-20: Adjust the `snippets/java/fixtures` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/java/fixtures`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/java/fixtures) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the sample project need

[2022-09-01 13:11] h0tk3y opened #21818 "CCH22-21: Adjust the `snippets/kotlinDsl/multiProjectBuild` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/kotlinDsl/multiProjectBuild`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/kotlinDsl/multiProjectBuild) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build script in the `kotlin` part of the sample

[2022-09-01 13:11] h0tk3y opened #21819 "CCH22-22: Adjust the `snippets/providers/propertyConvention` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/providers/propertyConvention`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/providers/propertyConvention) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` par

[2022-09-01 13:11] h0tk3y opened #21820 "CCH22-23: Adjust the `snippets/tasks/incrementalBuild-customTaskClass` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/tasks/incrementalBuild-customTaskClass`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/tasks/incrementalBuild-customTaskClass) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groo

[2022-09-01 13:11] h0tk3y opened #21821 "CCH22-24: Adjust the `snippets/tasks/incrementalTask` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/tasks/incrementalTask`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/tasks/incrementalTask) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in the `groovy` and `kotlin` parts of the samp

[2022-09-01 13:11] h0tk3y opened #21822 "CCH22-25: Adjust the `snippets/testing/test-suite-multi-configure-each-extracted` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/testing/test-suite-multi-configure-each-extracted`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/testing/test-suite-multi-configure-each-extracted) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The buil

[2022-09-01 13:11] h0tk3y opened #21823 "CCH22-26: Adjust the `snippets/testing/test-suite-multi-configure-each` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/testing/test-suite-multi-configure-each`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/testing/test-suite-multi-configure-each) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build script in the `gro

[2022-09-01 13:11] h0tk3y opened #21824 "CCH22-27: Adjust the `snippets/testing/test-suite-multi-configure-each-matching` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/testing/test-suite-multi-configure-each-matching`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/testing/test-suite-multi-configure-each-matching) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build

[2022-09-01 13:12] h0tk3y opened #21825 "CCH22-28: Adjust the `snippets/tutorial/configureTaskUsingProjectProperty` sample for configuration cache"
The sample project located under [`subprojects/docs/src/snippets/tutorial/configureTaskUsingProjectProperty`](https://github.com/gradle/gradle/tree/master/subprojects/docs/src/snippets/tutorial/configureTaskUsingProjectProperty) does not meet [the configuration cache requirements](https://docs.gradle.org/nightly/userguide/configuration_cache.html#config_cache:requirements).

The build scripts in t

[2022-09-01 13:35] melix commented on #21539
So I took a look at this, and indeed the problem is how Gradle considers AST transformations. IMHO, the code snippet:

[code]

Should be turned into a proper plugin, so that Micronaut _can_ declare the dependencies properly as `astTransformation` instead of `compileOnly` (which they are not). I don't think such a plugin's responsibility is in the community: that should, IMHO, be a feature of the `

[2022-09-01 13:48] eskatos commented on #21772
Done in https://github.com/gradle/gradle/pull/21773 for Gradle 8.0

[2022-09-01 14:23] Abbas-Alipour commented on #19190
I had this problem and solved it by adding:

[code]
to my **build.gradle(Module)** file within the android{ } section.

[2022-09-01 14:27] mehdei commented on #19190
It's not a good solution to stop checking release build to hide the error

[2022-09-01 14:31] mehdei commented on #19190
The error caused by this line

configurations{
    all*.exclude module:'gson'
}

and the solution is excluding only the implementation ... NOT ALL
configurations {
    implementation.exclude module: 'gson'
}

[2022-09-01 14:31] Abbas-Alipour commented on #19190
So what should be done?

[2022-09-01 14:31] mehdei commented on #19190
The error caused by this line

configurations{
    all*.exclude module:'gson'
}

and the solution is excluding only the implementation ... NOT ALL
configurations {
    implementation.exclude module: 'gson' //Remove duplicate dependencies gson
}

[2022-09-01 14:32] vlsi opened #21828 "ProviderFactory.fromBuildable(buildable: Buildable): Provider<Void> for using Buildable as a regular Provider"
### Expected Behavior

There should be a way to express "dependency on `Buildable`" in user code (e.g. in domain objects).
For instance, something like `providers.fromBuildable(buildable).map { ... }...`

Sample use case is to consume `org.gradle.api.publish.PublicationArtifact` which `implements Buildable` and exposes `getFile(): File` method.
Well, of course, it would be nice if `PublicationArti

[2022-09-01 15:12] DanySK commented on #18141
I still think that this feature is pretty helpful for those writing Gradle plugins

[2022-09-01 16:47] bamboo commented on #21766
I want to work on this.

[2022-09-01 16:49] mlopatkin commented on #21766
Go ahead, good luck!

[2022-09-01 17:23] h0tk3y commented on #21799
@Vampire Alright! Assigning this issue to you.

[2022-09-01 17:30] vmmaldonadoz commented on #21814
Hi 👋 . I want to work on this

[2022-09-01 17:31] h0tk3y commented on #21814
Hi @vmmaldonadoz,
Okay, go ahead, and good luck!

[2022-09-01 17:39] Vampire commented on #21799
Thanks, PR available at #21829 :-)

[2022-09-01 17:48] vlsi commented on #20413
Another case is `Provider`.
The lack of variance in `Provider` makes Kotlin DSL weird when it comes to the configuration cache: https://github.com/gradle/gradle/pull/21555/files#r957707942

[2022-09-01 18:33] stopley commented on #21816
Hi, I'd like to work on this one

[2022-09-01 18:37] hythloda commented on #21816
Okay, go ahead, and good luck!

[2022-09-01 18:45] romulof commented on #1010
In a **failed** attempt to redirect `task.logger.info` to `task.logger.lifecycle` for a specific task, I did this:

[code]

[2022-09-01 19:10] mathjeff commented on #18569
When I change the "-M sha256" argument to "-M sha256,pgp" then I find that this no longer outputs a checksum for artifacts that are also trusted by signature. I think this means that with an argument of just "-M sha256" that Gradle doesn't currently consider pgp signatures when writing the verification metadata file.

It looks to me like the DependencyVerificationsXmlReader is updating the Depende

[2022-09-01 19:42] vlsi commented on #21828
I've been able to workaround the case via using a "private" `ConfigurableFileCollection`.
I store no files in the collection, however, I use it's `ConfigurableFileCollection#builtBy` methods to add `Buildable` dependencies.

Here's my workaround: https://github.com/vlsi/sigstore-gradle/commit/b9682e7e6a331b9e3d56696e110d3baf92749803#diff-3ffe84973b634fa46d701efd6468c52ee99d2e79e5ba0fec62306c6ec948

[2022-09-01 20:51] kno10 commented on #1643
No, AFAIK you still need to do a manual workaround yourself.
But the stupid bot auto-closes issues, and there is no "reopen" button, apparently you have to ping @bmuskalla

[2022-09-01 21:18] hborders opened #21833 "HttpBuildCacheCredentials should explicitly document that it uses HTTP Basic Auth"
### Expected Behavior
The [`HttpBuildCacheCredentials` documentation](https://docs.gradle.org/current/javadoc/org/gradle/caching/http/HttpBuildCacheCredentials.html) should explicitly state that it uses the `Authorization: Basic` header.

### Current Behavior
The [`HttpBuildCacheCredentials` documentation](https://docs.gradle.org/current/javadoc/org/gradle/caching/http/HttpBuildCacheCredentials.ht

[2022-09-01 21:34] liutikas commented on #18569
@asodja WDYT?

[2022-09-02 04:54] BenTilbrook commented on #15383
The [documentation](https://docs.gradle.org/current/userguide/platforms.html#sec:sharing-catalogs) for `7.5.1` suggests this should be fully supported:

What am I missing here? Is this a bug? An incomplete feature?

[2022-09-02 05:00] eygraber commented on #21819
I can take this one.

[2022-09-02 05:58] 3flex commented on #13468
Fixed by #21282? If not, what's still missing?

[2022-09-02 06:21] adammurdoch commented on #21708
Fixed via https://github.com/gradle/gradle/pull/21835

[2022-09-02 07:09] h0tk3y commented on #21819
@eygraber
Alright, go ahead! Good luck!

[2022-09-02 07:45] Vampire commented on #15383
No, that statement means you can use the version catalog in the build script of `buildSrc`, but not within the precompiled script plugins.

[2022-09-02 08:33] sschuberth commented on #20084
Also see https://github.com/gradle/gradle/issues/18236.

[2022-09-02 08:37] jbartok commented on #21745
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue

[2022-09-02 08:38] jbartok opened #21837 "Unable to get a Build scoped service injected in a settings plugin written as a precompiled Kotlin script"
When trying to write a Toolchain Download SPI settings plugin in Kotlin, getting the registry service injected, which is a build scoped service (recently introduced by https://github.com/gradle/gradle/pull/21082), doesn't work.

For reference, the precompiled script used was:
[code]

[2022-09-02 08:39] jbartok commented on #21752
Relates to #18352

[2022-09-02 08:48] jbartok commented on #21786
Sounds reasonable as long as the user opts in for the incubating features in the generator options.

[2022-09-02 08:51] jbartok commented on #21788
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to reproduce the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issue

[2022-09-02 08:56] jbartok commented on #21828
That's not something we should do. We should instead expose the right types on those API, like the `RegularFile` property in your example.

[2022-09-02 09:00] jbartok commented on #21837
Note to me, try:
- inline Kotlin
- inline Groovy
- precompiled Groovy

[2022-09-02 09:28] eskatos commented on #21796
This can't be done just yet as the Kotlin Gradle Plugin still uses that function
https://youtrack.jetbrains.com/issue/KT-53823/Kotlin-Gradle-Plugin-uses-deprecated-Gradle-API-ProviderforUseAtConfigurationTime

[2022-09-02 09:38] dmarin commented on #21798
I would be happy to take this one

[2022-09-02 09:44] vlsi commented on #21828
That is fine with me.
However, I thought the number of APIs that expose `Buildable` is huge, and it would take a LOT to fix all of them.

[2022-09-02 09:46] vlsi commented on #21828
For instance, what if I want to create a property based on `FileCollection` (e.g. take "task dependencies" from there), and `Provider.map` it to some other type (e.g. number of files within the collection)?

Having something to embed "task dependency" into a provider would be helpful in my point of view.
Another possibility is to add `builtBy(...)` into the Property, however, that might be too muc

[2022-09-02 10:06] mateuszkwiecinski commented on #16780
Applicable to 7.5.1 too

[2022-09-02 10:07] #15546 closed

[2022-09-02 10:19] h0tk3y commented on #21798
@dmarin
Sure, go ahead, and good luck!

[2022-09-02 10:56] SimonCJacobs commented on #20151
I just added this to my Kotlin script and it seems to be working ok. Pleased to hear of any improvements.
[code]

[2022-09-02 11:22] abstratt commented on #13468
@3flex Conditional publishing for one

[2022-09-02 11:47] Meijuh commented on #21788
I can confirm `classpath(platform(<GAV>))` works indeed. It would have helped me if this information is added to page https://docs.gradle.org/current/userguide/plugins.html, is that possible?

Also, is there a similar possibility to add a BOM for plugins to the `pluginManagement` block?

[2022-09-02 12:04] #21766 closed

[2022-09-02 12:06] eskatos commented on #21828
For `FileCollection` you can use `FileCollection#elements` which return a `Provider<Set<FileSystemLocation>>`.
See https://docs.gradle.org/current/javadoc/org/gradle/api/file/FileCollection.html#getElements--

[2022-09-02 12:28] eskatos opened #21839 "Report deprecations for deprecated members from the org.gradle.util package"
Those were softly deprecated (`@Deprecated` annotation) in Gradle 7.0 but did not report the deprecation.
Let's add the deprecation reporting in 8.0, they will be removable in 9.0.

[2022-09-02 15:17] vmmaldonadoz commented on #21814
Created https://github.com/gradle/gradle/pull/21840 for fixing the tests for these snippets.

[2022-09-02 15:23] dmarin commented on #21798
done here -> https://github.com/gradle/gradle/pull/21842

[2022-09-02 15:41] eygraber commented on #21819
PR: https://github.com/gradle/gradle/pull/21844

[2022-09-02 16:23] Pytry commented on #20330
I discovered that the reason it fails is because the "test" task is getting instantiated and configured when evaluating the testFixtures source sets; this happens even when using the on demand method of configuration  `tasks.named("test", Test){}`. This is an issue because when we setup the jmockit java agent inside the configuration of "test", the classpath for the test source-set of the same sub

[2022-09-02 17:34] bigdaz commented on #21792
My project that references this was just an experiment and I'm not at all concerned if the type is removed.

[2022-09-02 17:36] #21799 closed

[2022-09-02 18:06] liutikas commented on #21786
These are *not* incubating features. They should always be on for new projects.

[2022-09-03 00:57] liutikas opened #21848 "Gradle distribution jar is not reproducible due to fastutil minification transform"
Gradle distribution jar is not reproducible due to fastutil minification transform.

Run `JAVA_HOME=~/.sdkman/candidates/java/11.0.13-zulu/ ./gradlew :distributions-full:binDistributionZip -PfinalRelease` twice

### Expected Behavior
`lib/fastutil-*.jar` inside the gradle distribution zip is identical between the two builds

### Current Behavior
`lib/fastutil-*.jar` inside the gradle distribution

[2022-09-03 00:59] liutikas commented on #21848
`jar tvf gradle-7.5.1/lib/fastutil-8.5.2-min.jar` can be used to show the timestamps of the jar after extracting `subprojects/distributions-full/build/distributions/gradle-7.5.1-bin.zip`

[2022-09-03 09:15] mangost commented on #4329
+1
Looking for a solution.

[2022-09-03 11:42] 3flex commented on #21817
Can I claim this? I believe I have a solution for it. Thanks!

[2022-09-03 12:32] Jeffset commented on #21802
Hi! I'd like to work on this issue.

[2022-09-03 13:24] 3flex commented on #21821
I have a fix for this - can I claim this please? FYI I've also requested to claim #21817, as I saw in Slack that the restriction on claiming more than one issue at a time could be loosed a little...

[2022-09-03 15:23] SidB3 commented on #21825
I can take this

[2022-09-03 15:42] gabrielrodriguez2746 commented on #21812
I want to work in this issue 🤓

[2022-09-03 16:28] TWiStErRob commented on #5413
That's unfortunate @ljacomet. I have a feeling that the choice should be given to the users. If they use a repo where the snapshots are preserved for a very long time (e.g. the [public Sonatype SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/io/gitlab/arturbosch/detekt/detekt-gradle-plugin/main-SNAPSHOT/)), this would be a useful feature, however based on a potential assumption a

[2022-09-03 20:21] mweber03 opened #21853 "7.5+ - Eclipse cannot resolve types from projects with text fixtures"
Classes from `src/main/java` in projects containing text fixtures can no longer be resolved in Eclipse (i.e. `Xyz cannot be resolved to a type`). It works with 7.4.2, but does not work with 7.5 or 7.5.1.

### Expected Behavior
Eclipse should be able to resolve the classes, as it previously did.

### Current Behavior
The classes from `src/main/java` cannot be resolved in Eclipse.

### Context

###

[2022-09-03 20:24] mweber03 commented on #21853
Not sure if this is a Gradle or Buildship issue, so I wrote up the Issue in both: https://github.com/eclipse/buildship/issues/1201

[2022-09-04 01:53] RicardoJiang commented on #21824
I would be happy to take this one

[2022-09-04 02:40] RicardoJiang commented on #21824
Thanks, PR available at #21854

[2022-09-04 09:55] Goooler commented on #13490
Link https://github.com/cashapp/licensee.

[2022-09-04 14:39] stopley commented on #21816
PR #21855

[2022-09-04 16:11] davispuh commented on #21524
I just tried 7.4.2 and it works correctly so looks like this is regression in v7.5.

I'm using Arch Linux package, it's built from https://services.gradle.org/distributions/gradle-7.5.1-src.zip (no custom patches) so I don't think it would make any difference.

[2022-09-04 17:11] DmitryPogrebnoy commented on #21801
I would like to claim this issue. Start working on it right now 👷

[2022-09-04 19:07] TWiStErRob commented on #14152
@wolfs so is my understanding correct that this is still the case, and the only way to achieve what this code intuitively asks to delete:
[code]
is something like:
[code]
with a huge caveat, that if this is participating in a chain of tasks with dependencies and such, where the `fileTree` would be lazily deleting things, the actual viable solution won't remove those files and folders, because at t

[2022-09-04 19:19] TWiStErRob opened #21856 "Running a `Delete` typed task generates contradictory output."
### Steps to Reproduce
 1. clone [this](https://github.com/TWiStErRob/repros/tree/master/gradle/delete-up-to-date-not) project
 2. run `gradlew generateContent`
 3. then `gradlew cleanContent --info`
 4. then `gradlew cleanContent --info` (sic)

Observe:
[code]

### Expected Behavior
Something non-contradictory.

### Current Behavior
First `:cleanContent` execution shows
[code]
which is a fair poi

[2022-09-04 20:15] gabrielittner opened #21857 "Signing plugin: sign(publications) should be idempotent"
### Expected Behavior

Calling `sign(publications)` ([docs](https://docs.gradle.org/current/javadoc/org/gradle/plugins/signing/SigningExtension.html#sign-org.gradle.api.publish.Publication...-)) multiple times should work

### Current Behavior

Calling it a second time will throw an exception because the signing task already exists:
[code]

### Context

Multiple plugins follow the convention over

[2022-09-04 21:34] TWiStErRob commented on #20383
`<rant>`_Sad to see this happen the way it happened. One tool (Renovate) forces me to split my dependencies, and another (Gradle) forces me to join them... there's no winning._`</rant>`

Please please please reconsider allowing multiple files, this restriction will just yield hacks, the current conflict resolution is sufficient, but if you want, do a **straight up fail the build on any conflict**

[2022-09-05 00:35] SidB3 commented on #21825
PR - https://github.com/gradle/gradle/pull/21852

[2022-09-05 01:49] #21712 closed

[2022-09-05 05:27] roded commented on #20520
I'm experiencing a similar issue with Gradle 7.3.3 running with Java 17.
When switching Gradle to run with Java 18 the issue is resolved.

[2022-09-05 08:30] ljacomet commented on #18185
The only workaround would be to add the extra variants to the project inside the included build.

[2022-09-05 08:32] ljacomet commented on #21715
FYI we are still discussing with folks from Sonatype about what format would Maven Central expect. Will take a look at what you have been working on.

[2022-09-05 08:32] ljacomet commented on #21715
One thing that jumps immediately: I do not think the sigstore file should be a variant of the module metadata.

[2022-09-05 08:35] jbartok commented on #21786
Parallel and caching are not enabled in Gradle by default (generally speaking), so `build init` also doesn't set them by default. That is why we should put them now behind the incubating flag.

[2022-09-05 08:38] jbartok commented on #21788
Pls. give us a concrete example of what you are trying to achieve so that we can check if there is a more suitable way of doing it. Maybe a reproducer where you can expressly point out the expected vs. the current behavior.

[2022-09-05 08:40] vlsi commented on #21715
I thought it was the only "officially recommended" way to add files to the publication.

However, for verification purposes, it would be nice if there was a way to resolve "all sigstore signature bundles" in via attributes.

[2022-09-05 08:47] jbartok commented on #21857
Yes, would make sense to make signing idempotent.

[2022-09-05 08:56] jbartok commented on #21616
@jskov-jyskebank-dk I've merged in a change which should make the probing capable of ignoring the extra lines. Should be in **tomorrow's** nightly build (https://gradle.org/release-nightly/); pls. try it out, if you can

[2022-09-05 09:29] jskov-jyskebank-dk commented on #21616
Will do, thanks!

[2022-09-05 10:05] KengoTODA commented on #19849
Note for who is searching a solution for this issue:
It seems that #21060 is the PR fixing this issue, so Gradle v7.6 will solve this issue.

[2022-09-05 10:13] jjohannes commented on #21492
Is there anything planned to do about this? I had several folks wondering and asking me about this.

I would be interested in why this is an issue on the Gradle side as it only appears in IDEA. Is this somewhere in the `idea` plugin? Maybe someone can share what was discussed when this issue was moved here from IDEA issue tracker.

[2022-09-05 11:20] arashyousefy commented on #1959
Thanks, @jbinek
It was the solution.
add this after the buildscript in build.gradle in grails version 3:
plugins {
    id "com.virgo47.ClasspathJar" version "1.0.0"
}

[2022-09-05 13:16] lhstack opened #21862 "Regarding Gradle's release of snapshot versions into Nexus, the Maven project cannot detect the latest snapshot version issue"
I use Gradle project to publish snapshot version of library to Nexus, but my Maven project always cannot detect the latest snapshot code, can you tell me why, my Gradle version is 7.4, I use Maven-Publish plug-in
[code]

[2022-09-05 13:36] #21794 closed

[2022-09-05 16:17] alllex opened #21867 "Init command does not warn if the current directory is non-empty"
Many CLI applications related to creating and managing projects have a command similar to `gradle init`. From the user perspective, each tool arbitrarily chooses whether the command is going to populate the current directory or prompt about creating a new sub-directory. In case of Gradle, the current directory is used and the `init` command does not warn if the directory is not empty. Moreover, it

[2022-09-05 17:00] bamboo commented on #21817
It's yours, @3flex. Good luck!

[2022-09-05 17:02] bamboo commented on #21802
It's yours, @Jeffset. Good luck!

[2022-09-05 17:20] bamboo commented on #21824
It's yours, @RicardoJiang. Good luck!

[2022-09-05 17:22] bamboo commented on #21801
Go ahead, @DmitryPogrebnoy, it's yours. Good luck!

[2022-09-05 17:24] bamboo commented on #21825
It's yours, @SidB3. Good luck!

[2022-09-05 19:23] hythloda commented on #21812
Have fun @gabrielrodriguez2746 !

[2022-09-05 19:56] breskeby opened #21868 "dependencies task does not list dependencies declared via defaultDependencies"
When having a dependency declared via `Configuration#defaultDependencies(...)`, these dependencies are not shown when running `./gradlew dependencies`

### Expected Behavior
Dependencies declared as default dependencies are shown by the gradle dependencies task

### Current Behavior
Dependencies declared as default dependencies are not shown by the gradle dependencies task

### Context
We run into

[2022-09-05 20:25] DmitryPogrebnoy commented on #21801
Please take a look - PR: #21869

[2022-09-05 21:44] ataverasp commented on #19140
for paying customers of Zulu we need to provide credentials would this API accept credentials for auto provisioning with Zulu?

[2022-09-06 01:23] #21825 closed

[2022-09-06 01:29] Marcono1234 commented on #20520
For my case above (https://github.com/gradle/gradle/issues/20520#issuecomment-1118007534; which still occurs for Gradle 7.5.1) the issue appears to be that I am using Docker with WSL 2 and Alpine Linux as image.
Apparently Gradle detects this as regular Linux (maybe related to #19465?) and therefore downloads a regular Linux Adoptium build instead of an Alpine Linux one. Interestingly though the S

[2022-09-06 01:30] Marcono1234 opened #21872 "`JavaToolchainFactory#newInstance` silently discards original exception"
### Expected Behavior
When an issue with the configured toolchain is detected, Gradle should provide all available information about the failure.

### Current Behavior
`JavaToolchainFactory#newInstance` discards the metadata information if it is not a valid installation:
https://github.com/gradle/gradle/blob/c4e3c1a39051e97349f870da54fdd66eb8810bec/subprojects/platform-jvm/src/main/java/org/gradle

[2022-09-06 02:22] SidB3 commented on #21823
I can take this

[2022-09-06 02:35] SidB3 commented on #21823
PR - https://github.com/gradle/gradle/pull/21873

[2022-09-06 02:44] #20243 closed

[2022-09-06 02:48] 3flex commented on #21817
#21874

[2022-09-06 06:26] mavarazo commented on #2294
I currently running into same issue, I think :).
All maven repositories changed from working HTTP to HTTPS with credentials.

Builderror issued:
[code]

Running the build with debug gives not many additional informations why this plugin in not resolvable.
[code]

[2022-09-06 07:10] torresmi commented on #21822
Hi! I'd love to work on this one.

[2022-09-06 08:07] ljacomet commented on #19140
Conceptually, what we are planning is to have an SPI so that plugin authors can design their own logic for matching a toolchain spec to a URI.
Plugin configuration will allow to pass in credentials if the endpoint requires them.

Will try to share an example soon!

[2022-09-06 08:14] ljacomet commented on #21715
But as you discovered there is a cyclic dependency then.
When I think about signature, I do not see that as a "variant" of the publication, since it implicitly applies to all files of the publication - metadata and different artifacts.
So we have different options:
1. Agree on a standard for Maven style repositories - then the information is not needed inside the metadata
2. No standard - then may

[2022-09-06 08:16] simondivi commented on #19803
+1

[2022-09-06 08:20] jjohannes commented on #19803
Shouldn't the dependency to `javaparse` be shadowed in Gradle like e.g. Guava is shadowed to `org.gradle.internal.impldep.`?

[2022-09-06 08:23] #21708 closed

[2022-09-06 08:28] #21748 closed

[2022-09-06 08:31] ljacomet commented on #21837
See possible workaround in #14171

[2022-09-06 08:35] ljacomet commented on #20468
PR has been merged

[2022-09-06 08:35] #20468 closed

[2022-09-06 08:38] #21862 closed

[2022-09-06 09:59] monosoul opened #21876 "ProviderFactory: provide a way to get Gradle properties by a prefix"
### Expected Behavior
`ProviderFactory` provides a way to get all Gradle properties by prefix (has a method `Provider<Map<String, String>> gradlePropertiesPrefixedBy(String variableNamePrefix);`).

### Current Behavior
There's no way to get a map of Gradle properties with `ProviderFactory`, neither a full one, nor filtered by the prefix.

### Context

At the moment [ProviderFactory](https://github

[2022-09-06 11:54] hythloda commented on #21821
I saw your other submitted PR, so this one is ready for you to claim too.  Have fun!

[2022-09-06 13:01] Jeffset commented on #21800
Hello, I'd like to work on this

[2022-09-06 13:47] hythloda commented on #21800
Have at it!

[2022-09-06 13:57] tresat opened #21879 "Remove @Deprecated DependencyNotationParser#create method"

[2022-09-06 13:59] lptr commented on #21792
Thanks @daz. I talked to the JetBrains team, and something like this will allow them to remove the problematic integration test, too:

https://gist.github.com/lptr/4d456815e10127fa3b5bac1e5988f1cb

[2022-09-06 14:39] tresat opened #21881 "Update DefaultRepositoryHandler#deprecateJCenter deprecation to Gradle 9.0"
We aren't going to remove this yet in Gradle 8.0.  We're going to extend the deprecation until Gradle 9.0

[2022-09-06 14:49] eskatos opened #21882 "Add deprecation logging to org.gradle.util.WrapUtil.toDomainObjectSet()"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Kotlin Gradle Plugin still uses that method.

This issue has been fixed in Kotlin 1.7.20 that needs to be released before adding the nagging.

* [KT-53882 - Kotlin Gradle Plugin should not use the deprecated WrapUtil.toDomainObjectSet() function](https://youtrack.jetbrains.com/issue/KT-53882/Kotlin-Gra

[2022-09-06 14:53] tresat opened #21884 "Remove @Deprecated AbstractExternalModuleDependency#setForce method"
This might need an alternate implementation (not as simple as just deleting).  There are possibly places where we PREVENT the warning message and call rely on calling this method.

[2022-09-06 15:18] gabrielrodriguez2746 commented on #21812
Sorry I will try to upload a draft pr in around an hour, my bad. I thought I have to wait for the confirmation to start, I am on it 💪

[2022-09-06 15:28] tresat opened #21886 "Deprecate `org.gradle.api.internal.artifacts.dsl.dependencies.DependencyFactory`"
This class will be removed in Gradle 8.0, see: #21880

[2022-09-06 15:28] tresat commented on #21884
There is an `isForce` on `ExternalDependency` as well which was NOT deprecated.  It will be deprecated now for Gradle 9.0 and always return `false`.

[2022-09-06 15:30] #21823 closed

[2022-09-06 15:32] gabrielrodriguez2746 commented on #21812
Jeejeje got it, but I get why you were worried 😅

[2022-09-06 15:45] gabrielrodriguez2746 commented on #21812
I think it will take longer than an hour, I am finishing reading some documentation to work on it actively. Tomorrow morning (GMT+2) time would probably be the pr moment

[2022-09-06 17:05] molmsted98 commented on #21818
Hello, I'd like to work on this one.

[2022-09-06 17:31] abstratt commented on #21818
@molmsted98 thanks, have fun!

[2022-09-06 17:39] abstratt commented on #21812
No worries, @gabrielrodriguez2746 - you were only granted the issue yesterday anyways. Feel free to reach out if you have questions.

[2022-09-06 18:34] bamboo commented on #16753
The information is currently missing because the plugin info for the TAPI event is synthesised from the build operations representing plugin application and task registration which are only dispatched during the configuration phase.

Related code in https://github.com/gradle/gradle/blob/bdc9d9e9b444a594ff57ce7ec3a893d3fc412c88/subprojects/tooling-api-builders/src/main/java/org/gradle/tooling/inter

[2022-09-06 20:52] vlsi commented on #8688
I believe this is still relevant

[2022-09-06 21:24] bamboo commented on #21783
Hi, @bingranl. In 7.6, Gradle no longer ignores dependency resolution failures when storing the configuration state, that's so it can properly recover from those failures: https://github.com/gradle/gradle/issues/21252.

Is this currently only a problem for running tests or do you also expect the new behavior to affect users negatively?

[2022-09-06 21:25] #21816 closed

[2022-09-06 23:13] SidB3 commented on #21810
I can take this

[2022-09-06 23:31] SidB3 commented on #21810
PR - https://github.com/gradle/gradle/pull/21893

[2022-09-07 00:26] #18829 closed

[2022-09-07 01:39] #21801 closed

[2022-09-07 02:00] h4sh5 opened #21894 "JSON output of gradle dependencies"
### Expected Behavior

`gradle dependencies` should have an option to return a JSON formatted output of all dependencies.

### Current Behavior

The current tree-like output is not easy to programmatically parse/search.

### Context

I am trying to get a programmatically usable dependency graph of Gradle build files. This is important for understanding the software supply chain and producing SBOM

[2022-09-07 02:01] #21372 closed

[2022-09-07 02:17] 3flex commented on #21821
Ready for review: #21896

[2022-09-07 02:41] Omico commented on #21492
Great points! I realize that if we use IDEA, it will add some init scripts inside the `StartParameter`. These scripts add and apply some jars for classpath, which may contain some deprecations' operation on it.

[2022-09-07 03:21] stopley commented on #21805
Hi - I'd like to work on this!

[2022-09-07 05:01] demidko commented on #20372
@jesperancinha Thank you, your example helped test Project Loom in our project

[2022-09-07 06:46] eskatos commented on #21882
This has been fixed for the upcoming Kotlin 1.7.20

[2022-09-07 06:47] eskatos opened #21897 "Upgrade the embedded Kotlin to 1.7.20"
Releases
* https://github.com/JetBrains/kotlin/releases/tag/v1.7.20-Beta

Related
* https://github.com/gradle/gradle/issues/21882

[2022-09-07 07:01] eskatos opened #21898 "Add deprecation logging to org.gradle.util.GradleVersion.getNextMajor()"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Spring Dependency Management Gradle Plugin still uses that method.

This issue needs to be fixed first:

* https://github.com/spring-gradle-plugins/dependency-management-plugin/issues/338

[2022-09-07 07:08] eskatos opened #21899 "Add deprecation logging to org.gradle.util.GUtil.toWords(string)"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Android Gradle Plugin still uses that method.

This issue needs to be fixed first:

*  [ANDROID-245405989 - Android Gradle Plugin should not use the deprecated GUtil.toWords(string) function](https://issuetracker.google.com/issues/245405989) - AGP 8.0

All requirements have been met, this is actionable

[2022-09-07 07:16] Korov commented on #21547
replace the excess text with ...

[2022-09-07 07:21] jbartok commented on #21616
@jskov-jyskebank-dk, I will close this issue now, pls. re-open it if the fix doesn't solve your problem or anything else is wrong with it.

[2022-09-07 07:21] #21616 closed

[2022-09-07 07:25] charleskorn commented on #21547
That would work for me. Only issue I can foresee is that if two tests' names share the same prefix before the `...`, Gradle may overwrite the results from one test with the results from another.

[2022-09-07 08:09] jskov-jyskebank-dk commented on #21616
@jbartok noted.
I did not find time (yet), but will get around to it eventually. And I will report success/failure here for completeness.
Cheers!

[2022-09-07 08:31] eskatos opened #21900 "Add deprecation logging to org.gradle.util.GUtil.toCamelCase(string)"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Google Protobuf Gradle Plugin still uses that method.

See

* https://github.com/google/protobuf-gradle-plugin/pull/604
* [IDEA-301430 - IntelliJ IDEA should not use deprecated types from the org.gradle.util package](https://youtrack.jetbrains.com/issue/IDEA-301430/IntelliJ-IDEA-should-not-use-deprecat

[2022-09-07 08:33] eskatos opened #21901 "Add deprecation logging to org.gradle.util.ConfigureUtil.configure(closure, target)"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because both the Android Gradle Plugin and the Google Protobuf Gradle Plugin still uses that method.

A new release of the Android Gradle Plugin with the following fixes needs to happen first:

* https://issuetracker.google.com/issues/245405994

A new release of the Gradle Protobuf Plugin with the following fixes

[2022-09-07 08:40] eskatos opened #21902 "Add deprecation logging to org.gradle.util.VersionNumber"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Google Protobuf Gradle Plugin still uses that method.

A new release of the Gradle Protobuf Plugin using version 1.7.1 of the osdetector Gradle plugin with the following fixes needs to happen first:

* https://github.com/google/osdetector-gradle-plugin/issues/24

New versions of Android Studio and Inte

[2022-09-07 08:47] eskatos opened #21903 "Add deprecation logging to org.gradle.util.CollectionUtils.stringize(collection)"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Asciidoctor Gradle Plugin still uses that method via the Grolifant library.

A new release of the Asciidoctor Gradle Plugin with the following fixes needs to happen first:

* https://gitlab.com/ysb33rOrg/grolifant/-/issues/85

asciidoctor-gradle-plugin 4.0.0-alpha-1 is the first version published with

[2022-09-07 08:59] gabrielrodriguez2746 commented on #21812
@abstratt here is the pr https://github.com/gradle/gradle/pull/21905

[2022-09-07 09:03] h0tk3y commented on #21805
@stopley Okay, go ahead, and good luck!

[2022-09-07 09:06] h0tk3y commented on #21810
@SidB3 Okay, I'm assigning the issue to you! Thanks for the PR, we'll review it soon.

[2022-09-07 10:25] eskatos opened #21907 "Remove deprecated KotlinDslOptions.experimentalWarning"
Was deprecated in Gradle 7.0 and scheduled for removal in Gradle 8.0.

[2022-09-07 10:29] ljacomet commented on #18824
Given the report and the workaround, it might be simpler to _never_ add `-release` but instead keep what Gradle was doing in the past with adding `-source` and `-target`, extracted from the toolchain, when nothing else is provided.

I would recommend doing that at the time of Gradle 8 as the behaviour change might break some custom build logic.

[2022-09-07 10:39] cspurk opened #21908 "VersionMappingStrategy: Support Identifying a Variant via Multiple Attributes"
### Expected Behavior

To configure a [`VariantVersionMappingStrategy`](https://docs.gradle.org/7.5.2/javadoc/org/gradle/api/publish/VariantVersionMappingStrategy.html) via [`VersionMappingStrategy`](https://docs.gradle.org/7.5.2/javadoc/org/gradle/api/publish/VersionMappingStrategy.html) for a certain variant, it should be possible to identify the variant via _more_ than a single attribute. A sin

[2022-09-07 11:18] Korov commented on #21547
If replace the excess text with `(1)...`, `(2)...`, `(3)...`.

Resolve the duplicate prefix with an incremental number.

[2022-09-07 11:24] charleskorn commented on #21547
Sounds good to me.

[2022-09-07 11:30] #21824 closed

[2022-09-07 12:17] #21819 closed

[2022-09-07 13:11] lagergren commented on #7614
Can you tell us what's going on in this space? I had a use case that would seriously benefit from this today, and I remember that I had read something a couple of years ago that it was work in progress.

Is there an issue number or can I get status updates anywhere?

Regards,
M

[2022-09-07 14:38] eskatos opened #21912 "Add deprecation logging to org.gradle.util.GUtil.loadProperties()"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Nebula Lint Plugin and IntelliJ IDEA still use that method.

See

* https://github.com/nebula-plugins/gradle-lint-plugin/issues/378
* [IDEA-301430 - IntelliJ IDEA should not use deprecated types from the org.gradle.util package](https://youtrack.jetbrains.com/issue/IDEA-301430/IntelliJ-IDEA-should-not-

[2022-09-07 14:41] eskatos opened #21913 "Add deprecation logging to org.gradle.util.NameMatcher"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because the Nebula Dependency Lock Plugin still uses that type.

See

* https://github.com/nebula-plugins/gradle-dependency-lock-plugin/issues/243

All requirements have been met, this is actionable!

[2022-09-07 14:48] eskatos opened #21914 "Add deprecation logging to org.gradle.util.ConfigureUtil.configureByMap(props,delegate)"
This could not be done in https://github.com/gradle/gradle/pull/21843 for Gradle 7.6 because IntelliJ IDEA still uses that method.

See

  * [IDEA-301430 - IntelliJ IDEA should not use deprecated types from the org.gradle.util package](https://youtrack.jetbrains.com/issue/IDEA-301430/IntelliJ-IDEA-should-not-use-deprecated-types-from-the-orggradleutil-package) - IJ 2022.3

[2022-09-07 14:58] #20668 closed

[2022-09-07 14:59] Rolly992 commented on #21690
This would be somewhat unnecessary and potentially even harmful complication of the BCN:
1. The migration would has to be done on every restart - in contrast to only doing it once.
2. If the newer model was stored only in-memory - it would be impossible to support persisting configuration changed from the UI to the older model file. This would be harmful in spite of the fact that for BCN run as a

[2022-09-07 18:05] #21810 closed

[2022-09-07 19:26] ibaklan opened #21918 "gradle test - project tests logs are not redirected properly (and missing in TEST xml report) when using log4j-jpl under JDK-17"
### Description

During migration of our project gradle build from **JDK-11** to **JDK-17** it was observed that logs produced by our tests starts appearing in build log, and disappeared from **TEST xml reports**.
Minimal configuration to reproduce this behavior may look like:
[code]

#### More details
As one can see during debuting session, problem relates to early initialization of log4j `Consol

[2022-09-08 00:52] liutikas opened #21921 "Remove timestamps from org/gradle/build-receipt.properties"
Inside of gradle distribution zip there is lib/gradle-build-services.jar. This jar contains org/gradle/build-receipt.properties with two build timestamp inside of it. These timestamp are breaking gradle distribution reproducibility (checking out the release sha, running `./gradlew :distributions-full:binDistributionZip -PfinalRelease`).

### Expected Behavior
`./gradlew :distributions-full:binDist

[2022-09-08 01:18] liutikas commented on #21921
I was able to find that Gradle property `buildTimestamp` can override it, but that requires downloading gradle published distribution, looking inside of the jar inside of the zip. Ideally, this timestamp is not set at all, especially given that the API that returns it is deprecated and marked to be removed for 8.0.

https://cs.android.com/android-studio/gradle/+/master:subprojects/base-services/sr

[2022-09-08 02:13] wsq93 opened #21924 "How to embed some file after the jar is built?"
I try to migrate a build from Maven. Now, I want to write a script to solve this problem at once.

It's a bit like what this code does:
`jar -uf lib.jar readme.md`

However, I tried several times and failed.

Who can give me a code example? Thank you!

[2022-09-08 04:48] #21821 closed

[2022-09-08 07:21] sandys commented on #1686
hi
is this  part of any roadmap ? we would like this support as well. in most tools like micronaut, etc it is always maven that we have to use to create template and then use gradle. which is kind of a waste.

in the short term, can we write some kind of plugin to override ? so that "java-application" type gets overridden by my chosen structure ?

[2022-09-08 08:42] donat commented on #21853
This is expected. In Gradle 7.5 we improved classpath separation for Eclipse. Gradle and Buildship now rely on the `test` and the `without_test_code` classpath attributes when generating projects, source directories, and dependencies in the Eclipse workspace.

In your case, the build script declares a dependency to a project in the `implementation` and in the `testImplementation` configuration as

[2022-09-08 08:42] #21853 closed

[2022-09-08 09:20] vlsi commented on #19748
It looks like signing within regular Gradle flow would fail to meet SLSA 3 requirements:
* https://github.com/slsa-framework/slsa-github-generator/issues/763#issuecomment-1227900590
* https://slsa.dev/spec/v0.1/requirements#non-falsifiable

Even though a simple "sign via Sigstore" build step just like the current Gradle's PGP signing would make it easier for the users to adopt Sigstore signing, th

[2022-09-08 09:20] donat commented on #21492
[Reproducer project](https://github.com/gradle/gradle/files/9525553/21492.zip)

[2022-09-08 09:26] donat commented on #21492
I think the problem is on both sides. To extract structural information from the Gradle build, IDEA needs to inject custom plugins which are done via an init script. At the same time, Gradle doesn't cover all use-cases to inject plugins, so IDEA needs use workarounds for the injection which causes warnings such as the one reported in this issue.

[2022-09-08 09:26] donat commented on #21492
Related to https://github.com/gradle/gradle/issues/20898

[2022-09-08 09:55] chachako opened #21926 "The `GenerateMavenPom` task seems to be incompatible with the configuration cache"
### Current Behavior
[code]

### Context
Just want to use https://github.com/vanniktech/gradle-maven-publish-plugin to publish a plugin.

### Steps to Reproduce
Run the `:publishToMavenLocal` task

### Your Environment
- Gradle publishing plugin: com.gradle.plugin-publish:0.21.0
- Gradle version compiled from: <https://github.com/gradle/gradle/tree/release>

---

To my confusion, I see that <https

[2022-09-08 12:18] peterkelley519 commented on #11905
I switched it to use the following and it works ok in 7.x (where I had the assignment statement before)
`setAllowInsecureProtocol(true)`

[2022-09-08 13:29] #21802 closed

[2022-09-08 14:03] musketyr opened #21929 "Different Bytecode Version of Groovy Classes when using Java Toolchain for JDK 8"
### Expected Behavior
When using a Java toolchains with the version `8` to compile Groovy and Java classes then both Groovy and Java classes are compiled into appropriate bytecode version `52` (Java 8).

### Current Behavior
When using a Java toolchains with the version `8` to compile Groovy and Java classes then the resulting Groovy classes are compiled into byte code version `51` (Java 7) but th

[2022-09-08 14:30] #21798 closed

[2022-09-08 15:22] vmmaldonadoz commented on #21820
I can work on this 😄

[2022-09-08 15:27] donat opened #21930 "Provide backwards compatibility for the ToolingAPI system property isolation feature"
Follow up from https://github.com/gradle/gradle/pull/21223.

`LongRunningOperation.withSystemProperties()` should be able to configure system properties for older Gradle versions:

[2022-09-08 16:28] liutikas opened #21932 "Start including .asc signature files for jars in the distribution zip"
Gradle distribution zip includes over a hundred jars that are third-party and fetched from maven as binaries. During the bundling process, all of the .asc signatures files are dropped, making the lib/* directory only contain jars.

### Expected Behavior
Be able to verify that the external jars have not been modified and match signatures.

### Current Behavior
Signatures are missing and validation

[2022-09-08 17:14] bamboo commented on #21820
Take it away, @vmmaldonadoz!

[2022-09-08 17:57] abstratt commented on #21926
I cannot reproduce this. What I did:

[code]

Can you confirm that is what you are doing? You included a link to a third-party plugin, which is not related to Gradle's own Maven Publish plugin - see https://docs.gradle.org/current/userguide/publishing_maven.html#publishing_maven:tasks

[2022-09-08 19:06] vlsi commented on #21932
I guess it would be better start using sigstore signatures rather than invest time in PGP

[2022-09-08 19:20] #21812 closed

[2022-09-08 19:52] bamboo commented on #18186
This is still relevant.

[2022-09-08 20:05] #21817 closed

[2022-09-08 21:42] vlsi opened #21933 "com.gradle.plugin-publish adds javadocElements configuration very late, so it causes conflicts with user-defined javadocElement configuration"
### Expected Behavior

There should be a way to write Gradle plugins with Kotlin.
`com.gradle.plugin-publish` should refrain from adding configurations in `afterEvaluate`.

Frankly speaking, I would be fine if `plugin-publish` added `javadocElements` always, however, the current behaviour is surprising, it causes warnings, and it will probably cause failures with Gradle 8.0

### Current Behavior

[2022-09-08 22:41] #21814 closed

[2022-09-09 00:18] #21760 closed

[2022-09-09 03:10] OxygenCobalt commented on #2298
I use `afterEvaluate` with `preDebugBuild.spotlessApply` in order to format my automatically code as I'm building it, and I end up getting this error. How should I replace it with a method that does not resolve deps at configuration time?

[2022-09-09 03:18] liutikas commented on #21932
This is not about Gradle doing any signing. This is about copying over existing ASC files that are maven standard and exists for most of these artifacts

[2022-09-09 03:19] liutikas commented on #21932
This is not about Gradle doing any signing. This is about copying over existing ASC files that are maven standard and exists for most of these artifacts

[2022-09-09 03:19] liutikas commented on #21932
This is not about Gradle doing any signing. This is about copying over existing ASC files that are maven standard and exists for most of these artifacts

[2022-09-09 04:36] vlsi commented on #21932
PGP signatures are not Maven standard, and it is likely Central will remove .asc requirement soon.

[2022-09-09 05:27] yogurtearl opened #21942 "Run `check` of included builds when `check` is run on the build that is including them."
When code is moved to an included build, then `check` on the parent build doesn't run the tests on that newly included build any more.

If you do something like this on the includING build, it will run the `check` task on all the includED builds.
[code]

I propose that this should be the default behavior, otherwise people will likely have a tests that don't actually get executed.

[2022-09-09 05:41] dhs-rec commented on #21690
Well, if I compare the config file I used for BCN 11 with the one for BCN 13, the only difference (apart from ordering) is the version number, which changed from 4 to 5. That's it. Doesn't really look like a change to me...

[2022-09-09 08:42] jbartok commented on #21908
Sorry that you're having trouble with Gradle!

Your issue lacks information about how to illustrate the problem you're having. A reproducer project can really help us track down and fix your problem quicker.  We may also be able to suggest workarounds or ways to avoid the problem if we can reproduce it.

You can use the following as a base for your reproducer: https://github.com/gradle/gradle-issu

[2022-09-09 10:21] Meijuh commented on #21788
I would like to specify a BOM file for plugins that I can use throughout subprojects. So something like the following.
[code]
And then in any (sub)project I could do either:
[code]
or
[code]
Where in the above two snippets I do not have to specify plugin versions, as they are read from the BOM in the first snippet.

[2022-09-09 12:02] hythloda commented on #21818
@molmsted98 how's it going? Need any guidance or resources?

[2022-09-09 12:02] hythloda commented on #21822
@torresmi Have you started a PR for this issue?  Anything we can do to help?

[2022-09-09 12:28] #21209 closed

[2022-09-09 12:36] big-guy opened #21948 "Investigate how to apply DependencyAdder pattern to "modifiers""
### Expected Behavior

Ecosystems can add dependency modifier methods without having to understand all possible dependency notations.

### Current Behavior

testFixtures, platform and enforcedPlatform all require multiple methods to be implemented properly.

### Context

With `DependencyAdder`, ecosystems are not expected to implement a method for every "dependency notation".

With dependency modi

[2022-09-09 12:39] big-guy commented on #21948
FYI @octylFractal, we can talk about this more when I'm back

[2022-09-09 13:57] xenoterracide opened #21950 "No transients at compile time scope"
a scope that doesn't import transients

[code]

allows me to write

[code]

### Expected Behavior

should fail at compile time as I didn't import the correct things

### Current Behavior

compiles

### Context

I want to avoid accidental imports as developers don't often know better. I think for exporting my own modules that I can use `compileOnly` and `runtimeOnly` to avoid accidental exports...