[2018-05-03 07:26] marcphilipp commented on #5228
I've tried to reproduce the issue in a [sample project](https://github.com/marcphilipp/gradle-sandbox/tree/master/5228-publishing-composite-builds). However, it seems to work as expected:

[code]

Here's what's published to the local repo:

[code]

@nniesen @oehme Am I missing something?

[2018-05-03 07:45] oehme commented on #2476
I may have misunderstood what is possible with JUnit 5 extensions. I had assumed they would be able to "wrap" a test so that it could be started on a different thread, similar to what the Timeout rule in JUnit 4 does. Looking more closely at the extension API, this doesn't seem possible indeed. Can you give more feedback on this @marcphilipp? Is there some way @KidDaedalus could implement a cross-

[2018-05-03 08:43] wilkinsona opened #5239 "Make archive tasks use public APIs to be a better example for the community"
### Expected Behavior

Spring Boot's Gradle plugin contains a `BootJar` task that is largely similar to Gradle's `War` task. I'd like to add `getBootInf()` and `bootInf(Action<CopySpec>)` methods that are analogous to the `War` task's `getWebInf()` and `webInf(Action<CopySpec>)` methods. Those methods can be implemented without having to use internal API.

### Current Behavior

Implementing the ab

[2018-05-03 08:55] marcphilipp commented on #5193
@lavcraft Customizing the POM is already in the works in #5183.

[2018-05-03 09:07] janjoerke opened #5240 "rootProject.name in settings.gradle is ignored when using command line option --build-file"
### Expected Behavior

It should be possible to set the rootProject name, even if using a different buildscript.

### Current Behavior

When using the command line option --build-file to spcify an alternative buildscript the settings.gradle file is used, but setting the rootproject name with
`rootProject.name = 'Test'`
within settings.gradle is ignored.

### Context

### Steps to Reproduce (for bu

[2018-05-03 09:11] alexandrenavarro opened #5241 "Fix gradle init when there is a pom and the --dsl kotlin is set"
Fix gradle init when there is a pom and the --dsl kotlin is set

### Expected Behavior
When you do a gradle init --dsl kotlin on a project where there is a pom.xml, it should generate a gradle.build.kts with gradle-dsl instead of gradle.build with groovy dsl.

[2018-05-03 10:35] marcphilipp commented on #4939
As part of this issue, I want to make sure that our documentation on publishing is clearly structured and sends the message that the new Maven/Ivy Publish Plugins are the preferred way to publish artifacts.

Here's what we currently have in the User Guide sidebar:

<img width="236" alt="screen shot 2018-05-03 at 12 21 26" src="https://user-images.githubusercontent.com/214207/39571664-8f0a9198-4ecc

[2018-05-03 12:28] marcphilipp opened #5244 "Document how to use the Ivy/Maven Publish Plugins to publish a distribution"
The Distribution Plugin chapter currently documents how to use `uploadArchives` to publish a distribution. In addition, it should demonstrate how to use the Ivy/Maven Publish Plugins.

[2018-05-03 12:32] oehme commented on #4939
I think we should change the distribution plugin to use `maven-publish`. I'm not sure why that plugin is listed under `publishing artifacts` specifically, as it is about building distributions. Sure, distributions are usually published, but it's not a perfect fit.

The "publishing artifacts overview" should be split. Artifacts are still a thing, they are attached to a `Configuration`. A `Configura

[2018-05-03 13:32] #3348 closed

[2018-05-03 13:32] #3064 closed

[2018-05-03 13:39] oehme commented on #5240
This is expected, the `-b` option ignores the settings file and treats it as a single-project build.

See https://github.com/gradle/gradle/issues/3227 - we are considering to remove `-b` and `-c`

[2018-05-03 13:39] #5240 closed

[2018-05-03 13:44] oehme commented on #5237
This is the default output folder, which is only used for sources that have no more specific output (e.g. `bin/main` for main code, `bin/test` for test code). So it is normal that this folder might be empty/non-existent. I'd consider it a bug in the tomcat plugin that it can't deal with that. Could you please open a bug there?

As a workaround you could tell Gradle to create the folder for you
[co

[2018-05-03 13:44] #5237 closed

[2018-05-03 13:57] tjanu opened #5247 "dependency substitution in composite builds resolves to build/classes folder instead of jar"
### Expected Behavior

When substituting a dependency in a composite build, the dependency should be satisfied with the built jar file at all times so e.g. also resources from the dependency can be loaded during, for example, code generation steps.

### Current Behavior

When using a code generation plugin (here: org.unbroken-dome.xjc) in two projects, one depending on the other, and using depende

[2018-05-03 15:07] oehme commented on #5247
Your task is using the `compileClasspath` which is only meant for compilation. Compilation does not need resources. You can use the `runtimeClasspath` instead or even better define your own configuration specific to JAXB.

[2018-05-03 15:07] #5247 closed

[2018-05-03 15:59] blindpirate commented on #5171
Thanks for reporting. I take some time investigating this.

With `println sourceSets.main.compileClasspath.asPath` enabled, all dependencies will be resolved. So the execution order of the last `configure` statement is:

- apply plugin jacoco to asm-analysis project
- println sourceSets.main.compileClasspath.asPath
- resolve all dependencies of asm-analysis project
- because asm-analysis project d

[2018-05-03 16:04] oehme commented on #5171
You should never resolve dependencies at configuration time. To compute arguments lazily, use `[CommandlineArgumentProvider](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.JavaExec.html#org.gradle.api.tasks.JavaExec:argumentProviders)`s.

[2018-05-03 16:04] #5171 closed

[2018-05-03 16:24] hanasaki commented on #1118
still seeing this issue in gradle 4.7
note: the pom created by publishToMavenLocal is full of runtime however the pom produced with task createPom { pom ....   is correct.
1. is there a way to make publishToMavenLocal use the pom my task creates instead of the "default"?
2. in 4.7 this does not seem fixed. IMHO

[2018-05-03 16:54] oehme commented on #1118
Please make sure you are using `api`/`implementation`, not `compile/runtime` for your dependency declarations.

[2018-05-03 17:01] floscher commented on #5225
Marked as won't fix [in the OpenJDK issue tracker](https://bugs.openjdk.java.net/browse/JDK-8202525), because they say it conforms to the spec (my proposal would do that also **and** make MANIFEST.MF always a valid text file).

[2018-05-03 17:32] rgoldberg commented on #1366
The JetBrains PoC link is giving me a 404

[2018-05-03 18:31] oehme commented on #1366
Seems like the Github repo is still private. I've changed the link to the plugin portal entry instead.

[2018-05-03 19:33] #4786 closed

[2018-05-03 19:45] oehme commented on #5237
Every .classpath file has a default output directory. This directory may sometimes not exist. This has nothing to do with Gradle.

[2018-05-03 19:48] faiyat commented on #5237
This default folder is 'bin', but not bin/default.  As you suggested, the workaround solve the problem for now.  So we are not blocked.  But this bin/default is introduced by Gradle.

[2018-05-04 00:50] hungvietnguyen opened #5252 "org.gradle.tooling.events.task.TaskSuccessResult's isUpToDate() and isFromCache() are not mutually exclusive"
### Current Behavior
When using the Tooling API to detect if a task's results were retrieved from the build cache, I noticed that org.gradle.tooling.events.task.TaskSuccessResult returns both isUpToDate()=true and isFromCache()=true when the task was FROM_CACHE.

This is probably a bug as UP_TO_DATE and FROM_CACHE should be mutually exclusive.

### Your Environment
Gradle 4.6

(Sorry for the brevi

[2018-05-04 01:03] artem-zinnatullin opened #5253 "Print daemon's JAVA_HOME and JVM_ARGS in `gradle --status` output."
There is a common issue when you use Gradle from Android Studio and Terminal and end up using two Gradle daemons, one is spawned by `gradlew` from Terminal and another one is spawned by IDE.

This happens because Android Studio by default uses embedded JDK instead of system one thus Gradle can't reuse daemons:

(`File` → `Project Structure` → `SDK Location` → `JDK Location`)

<img width="406" alt=

[2018-05-04 04:26] oesolutions commented on #5223
I reviewed the module metadata spec, the descriptions in the dependency management feature previews doc, and the comments here. My use case no longer seems like a very good fit since the data I'm looking to store is not really related to dependency management.

We currently model a deliverable product as a collection of resources to be installed (dependencies pointing to installable binaries). Eac

[2018-05-04 04:48] big-guy commented on #5252
This is intentional.  Tasks that are loaded from cache are also considered up-to-date because we did not execute the task's actions.  This also helps with backwards compatibility with older TAPI clients.

I understand that this is a little confusing because we have [task outcomes](https://docs.gradle.org/current/javadoc/org/gradle/testkit/runner/TaskOutcome.html) that use similar names (FROM_CACHE

[2018-05-04 04:48] #5252 closed

[2018-05-04 05:49] marcphilipp commented on #5204
@sherbaev @Axrorxoja Does #5253 help?

[2018-05-04 06:50] regrog commented on #5178
Well, my test case shows up that even adding new classes to the plugin increases the size of `taskHistory.bin`

[2018-05-04 07:00] oehme commented on #5237
It can't be /bin if you also have /bin/main etc. But Eclipse requires you to always have a default even if it is unused, so there's nothing we can do about that. Plugins need to deal with that default entry.

[2018-05-04 07:15] oehme commented on #5253
I think that's a great idea, a PR would be very welcome.

[2018-05-04 07:15] #5094 closed

[2018-05-04 07:58] eskatos commented on #5225
Please also note that the Gradle implementation, just like all other implementations out there, has to properly *consume* such valid (but surprising) manifest files as they are produced like that by the default implementation.

One thing that could be considered is to always *produce* manifest files that do not split multi-byte characters over lines. But as I understand it, it would be more about

[2018-05-04 07:58] oehme commented on #2663
This has been merged and will be in 4.8

[2018-05-04 07:58] #2663 closed

[2018-05-04 08:03] #5244 closed

[2018-05-04 08:47] bric3 commented on #1366
@oehme Yes could you share the estimate time of availability of this new way, 3month, 1year. Or gradle 4.10, gradle 5.0, gradle 5.10, etc...

I know the gradle team is working on many topics, but this is another area that is kinda frustrating.

[2018-05-04 09:00] oehme commented on #1366
I can't share a target date yet, but the above plugin already works. @eskatos is this something that users could give a shot to provide feedback or should they wait? Is there some documentation on it?

[2018-05-04 09:09] wolfs commented on #3444
This is very similar (if not the same) as https://github.com/gradle/gradle/issues/2463.

[2018-05-04 09:14] bric3 commented on #1366
@oehme Yes could you share the estimate time of availability of this new way, 3month, 1year. Or gradle 4.10, gradle 5.0, gradle 5.10, etc...

I know the gradle team is working on many topics, but this is another area that is kinda frustrating.

[2018-05-04 09:15] bric3 commented on #1366
@oehme Is there some documentation out there, on how to use it

[2018-05-04 09:35] floscher commented on #5225
@eskatos Absolutely, my intention is for `MANIFEST.MF` files that will be created in the future to be valid text files, not binary files. That's what the patch above would have changed.

Any implementation reading manifest files must be able to read files with either variant (split or not split multibyte characters), sure. Both are allowed by the specification.

[2018-05-04 10:52] livanov commented on #3169
Doesn't work with 4.7-all

[2018-05-04 12:06] #4935 closed

[2018-05-04 12:42] marcphilipp commented on #2476
@KidDaedalus You're correct, that's currently not possible with a Jupiter Extension. There's an open issue to introduce an [additional extension point to alter the execution behavior](https://github.com/junit-team/junit5/issues/157) that provides some background on the rationale. In short, extensions should be composable and the engine should not hand over control of test execution to an extension

[2018-05-04 12:53] AnkitSinhal opened #5260 "How to get buildType/flavorDimensions on another gradle file."
Below are the codes which I am trying to get the **buildType** of AndroidStudio project.

`project.hasProperty('buildType')`
or
`project.getProperties().get('buildType')`

Both of above lines return null values. So how can I get the project **buildType** in another gradle file (like sonar.gradle or jacoco.gradle).

Also from AndroidStudio 3.0 and above supports "**flavorDimensions**" property so h

[2018-05-04 12:55] marcphilipp commented on #4783
@ashtynmo The marker artifacts are not part of the `archives` configuration. You have to use `publications 'samplePluginMarkerMaven'` (assuming your use `sample` in  `gradlePlugin { plugins { sample { ... } } }`) instead of `publishConfigs('archives')`.

[2018-05-04 13:03] ljacomet opened #5261 "Add class based component metadata rule support"
By adding a class based component metadata rule support, we give control of the lifecycle and scope of the rule to Gradle, enabling future optimizations such as caching and parallel execution.

[2018-05-04 13:04] bamboo opened #5262 "Honor nested `beforeEvaluate` requests and others"
### Current Behavior

Consider this code in `settings.gradle`:

[code]

This now prints:

[code]

And the `Inner` part is silently ignored.

### Expected Behavior

The nested requested should be honoured asynchronously and print:

[code]
### Context

Hooks such as `beforeEvaluate` and `afterEvaluate` are used in a lot of ways to work around ordering problems, and it's easy to end up nesting two of

[2018-05-04 13:04] pledbrook commented on #4939
One of my goals is to move plugin reference chapters out of the side nav and make them accessible/searchable from a Plugin Reference page. That would include the chapters:

 * Maven Plugin
 * Maven Publish Plugin
 * Ivy Publish Plugin
 * Signing Plugin

For now, I would leave them in that section of the navigation. I'm fine with the rename suggested by @oehme, although I'm not sure there is an old

[2018-05-04 13:17] oehme commented on #2476
So as a workaround you could sublclass the jupiter and vintage extensions and let your colleagues use those. Would this be acceptable for you @KidDaedalus?

[2018-05-04 13:27] oehme commented on #1320
Good news everyone, the upcoming Gradle 4.8 will contain several big improvements to incremental annotation processing:

- Processors will be able to decide [dynamically](https://github.com/gradle/gradle/issues/4915) if they are incremental or not. This was brought up by the AutoValue team, because they have an extension mechanism and so they first need to check all extensions for incrementality b

[2018-05-04 13:35] #1016 closed

[2018-05-04 13:36] #1761 closed

[2018-05-04 13:40] oehme commented on #5160
This is probably caused by https://bugs.openjdk.java.net/browse/JDK-8144185 and a duplicate of https://github.com/gradle/gradle/issues/3935. The ASM maintainers decided against a fix, because this was a JDK bug and is already fixed in the JDK.

[2018-05-04 13:41] #5160 closed

[2018-05-04 13:41] oehme commented on #3935
Also, incremental compilation shouldn't fail, but do a full recompile instead and inform the user why.

[2018-05-04 14:12] floscher commented on #5225
I just re-read the specification and found that it does really **only** allow full UTF-8 characters:

[code]

So a value for an attribute consists of a space, then zero or more **UTF8-characters** (except NUL, CR and LF) and then a newline.

I'll try to post that also to the OpenJDK bugtracker, but they didn't publish the last comment I sent them, so this one might also not show up.

[2018-05-04 14:18] marcphilipp commented on #4783
@edeandrea The reason is that the Artifactory plugin's `ProjectEvaluationListener` [applies the `defaults`](https://github.com/JFrogDev/build-info/blob/master/build-info-extractor-gradle/src/main/groovy/org/jfrog/gradle/plugin/artifactory/extractor/listener/ProjectsEvaluatedBuildListener.groovy#L62) before the `MavenPublications` have been added.

When enabling the debug logging, you see:

[code]

[2018-05-04 14:29] marcphilipp commented on #4783
FWIW here's a complete sample project:
https://github.com/marcphilipp/gradle-sandbox/tree/master/4783-artifactory-plugin-publishing

[2018-05-04 14:30] bamboo commented on #3411
Superseded by #5200.

[2018-05-04 14:30] #3411 closed

[2018-05-04 14:32] oehme commented on #3732
Is this atill planned for 4.8?

[2018-05-04 14:33] ljacomet commented on #3732
No, removed the milestone reference.

[2018-05-04 14:33] oehme commented on #5167
@ljacomet assigning you since this looks like a dependency management regression that is blocking 4.8

[2018-05-04 14:34] oehme commented on #5168
@ljacomet assigning you since this looks like a dependency management regression that is blocking 4.8

[2018-05-04 14:34] oehme commented on #4785
@ljacomet is this still planned for 4.8?

[2018-05-04 14:36] ljacomet commented on #4785
No, I cleared the milestone reference.

[2018-05-04 14:56] eriwen commented on #4939
@pledbrook we want to improve publishing documentation for Gradle 4.8 within the next week, but then further refine it for Gradle 5.0 I imagine as we work on finishing the maven-publish plugin.

We have the Dependency Management Terminology page that may be helpful for defining these terms. I personally don't care for the fact that we restrict that to dependency management. I would prefer exactly

[2018-05-04 15:53] SpamhaterAlex opened #5265 "Gradle Plugin for Cloud Foundry?"
Hi community,

I want to ask, if somebody can recommend a gradle plugin for cloud foundry?
It shall be able to do this command:
`cf push APP_NAME --docker-image [REGISTRY_HOST:PORT/]IMAGE[:TAG] [--docker-username USERNAME]`

I would be happy, if you can give me some hints.

Thank you in advance

[2018-05-04 17:51] nniesen commented on #5228
I only notice it in our projects where we're producing multiple artifacts, one from main configuration and one from testSupport configuration. I'm not able to reproduced in a stripped down version of what we're doing so I must be something in our plugin.
[maven-publish-multiple-artifacts.zip](https://github.com/gradle/gradle/files/1975411/maven-publish-multiple-artifacts.zip)

[2018-05-04 18:16] baron1405 commented on #5205
Thanks @eriwen for the detailed response! I guess old habits die hard and I go to the homepage docs link. Anything you can do the make the docs page/user manual more useful to those who want to search for a detailed item would be appreciated.

[2018-05-04 19:30] nshusa commented on #2995
Why was this closed? This still doesn't work.

[2018-05-04 19:34] oehme commented on #5265
Please use the [Gradle forum](https://discuss.gradle.org/) for questions. The issue tracker is only for bugs and feature requests for Gradle core.

[2018-05-04 19:34] #5265 closed

[2018-05-04 20:15] oehme commented on #4783
The artifactory plugin tries to access the publications immediately when you mention them, even if you just refer to them by their name. It should instead do this lazily. Also it should support passing a `DomainObjectContainer<Publication>` so that users can do convenient things like telling it to upload *all* publications without having to list each individually.

This can't be fixed on the Gradl

[2018-05-04 20:15] #4783 closed

[2018-05-04 20:55] mark-vieira commented on #1190
@lptr Hasn't this issue been effectively resolved? What's remaining to be done here?

[2018-05-04 21:02] wolfs commented on #1190
@mark-vieira You are right, we already support `Iterable`s and `Map` as well as polymorphism. Validation could still need some improvement, but that should be tracked separately.

Let's close this.

[2018-05-04 21:02] #1190 closed

[2018-05-04 22:33] JLLeitschuh opened #5269 "Support the build cache and parallel test execution with the JaCoCo plugin applied"
### Update
The wider implications of this bug is captured well here:
https://github.com/gradle/gradle/issues/5269#issuecomment-390489401

### Expected Behavior
If you use the Jacoco plugin with it's default configuration, it should not break the `Test` task's ability to be cached.

### Current Behavior
Applying the `Jacoco` plugin to your project makes the `Test` task not support caching.

https:/

[2018-05-05 00:45] raniejade opened #5273 "Generated reports for Spek using the built-in JUnit Platform support is broken."
Gradle's test infrastructure assume tests will always have the form of:
[code]
But that's not always the cause as Test frameworks implementing JUnit 5's TestEngine will not alyways have that form. Spek for example, allows you to arbitrarily nest groups.

Due to this assumption the test reports are not desirable. Given the following Spek test:
[code]

The generated html reports is:
![1](https://use

[2018-05-05 00:46] raniejade commented on #828
@oehme #5273

[2018-05-05 08:26] #5273 closed

[2018-05-05 08:29] oehme commented on #5213
It broke his build because now it doesn't just print the version, but the release notes too.

[2018-05-05 09:03] JacisNonsense opened #5274 "Allow extension of the Native Library Resolver / Locator"
I'm writing a plugin that deals with the native side of gradle, in particular, dependency management.
In order to make linking libraries provided by the plugin easier on the user-side, I'm attempting to make these libraries available through the Map notation:
`lib library: "<name>"`

After some digging, I found that the code responsible for finding these libraries is the job of the DefaultLibraryR

[2018-05-05 11:05] melix commented on #5226
It's mostly about custom snapshotting. For this we need to know which parts of the bytecode produced by the Kotlin compiler are relevant for the API.

[2018-05-05 13:38] yogurtearl commented on #5226
Would be good to have an gradle API so language plugins could describe their ABI programmatically.

[2018-05-05 16:44] oehme commented on #5239
The public API is there already, our tasks just don't use it, because the private API is slightly terser. I think this is a bad situation and we should decide to either use the public API ourselves or provide the same `addChild` API that we use for users.

Meanwhile, here is a [commit](https://github.com/gradle/gradle/commit/751e9f70038327643c87a30ae29dae3a3c5da5a8) that uses the public API in the

[2018-05-05 18:11] renatoathaydes commented on #1697
This is really annoying. It would be nice if the Gradle team stopped breaking Groovy/Kotlin semantics in their DSL (the biggest advantage of using powerful languages in the build files is exactly that you should be able to count on re-using variables and basic things like that).

Sorry for the rant :) To compensate for that, here's the workaround I ended up using, based on suggestions above:

* Pu

[2018-05-05 19:06] oehme opened #5277 "Help popular annotation processors adopt incremental processing"
Please submit PRs to update the list of annotation processors that support incremental annotation processing:

https://github.com/gradle/gradle/blob/master/subprojects/docs/src/docs/userguide/java_plugin.adoc#state-of-support-in-popular-annotation-processors

[2018-05-05 19:11] oehme commented on #1320
I've compiled a list of [popular processors](https://github.com/gradle/gradle/issues/5277) and their current state of adoption. Please express your support by giving 👍 on the issue trackers of the ones you care about. Also feel free to suggest others that we should get in touch with.

[2018-05-05 19:29] dimsuz commented on #5277
Toothpick: [Open issue](https://github.com/stephanenicolas/toothpick/issues/290)

[2018-05-05 19:35] sherbaev commented on #5204
@marcphilipp Nope ,It does not work for me .  It is still creating another daemon .

[2018-05-05 19:38] Javernaut commented on #5277
Realm: [Open issue](https://github.com/realm/realm-java/issues/5906)

[2018-05-05 19:39] goldparrot commented on #2995
Agree. Why is this closed?

 "WARNING: Please consider reporting this to the maintainers of org.codehaus.groovy.reflection.CachedClass"

Maintainers??

$ groovy -version
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/..sdkman/candidates/groovy/current/lib/groovy-2.4.15.jar) to method java.lang.Obj

[2018-05-05 22:03] lukeu opened #5278 "ClassCastException when generating Eclipse files for Gradle"
The current source-build of gradle fails to generate Eclipse projects for itself (on the command-line). Thus, it is not currently possible to follow the 'CONTRIBUTING.md' instructions to import gradle into Eclipse.

### Reproduction Steps

    git clone https://github.com/gradle/gradle.git
    cd gradle
    ./gradlew eclipse

### Observed

This `ClassCastException`:

    org.gradle.api.tasks.TaskE

[2018-05-06 06:55] oehme commented on #4939
- component: A Gradle term for a thing that you can depend on, potentially providing different variants
- module: A term inherited from Ivy. A module is the combination of organisation + name (or groupId+artifactId), without the version. I.e. it identifies a body of code over its lifetime, e.g. `com.google.guava:guava`
- module component: A component provided by a module. You get this by selecting

[2018-05-06 10:11] TWiStErRob commented on #5277
https://github.com/johncarl81/parceler
https://github.com/Raizlabs/DBFlow

[2018-05-06 13:11] kristian-elder commented on #4981
This is currently a blocker for us upgrading to Java 9+ / Jigsaw. Is any workaround possible at all, short of not using slf4j at all?

[2018-05-06 19:00] forresthopkinsa commented on #1697
@renatoathaydes This is a great solution. Will try to implement it in my work projects tomorrow.

[2018-05-07 05:43] #5149 closed

[2018-05-07 06:16] dmitrykolesnikovich opened #5282 "Can not build gradle from source code"
I try to build gradle from source code
[code]
Build fails with following message:
[code]
My environment:
[code]

[2018-05-07 07:29] technoir3 commented on #5277
Glide: [Open issue](https://github.com/bumptech/glide/issues/3072)

[2018-05-07 07:37] #4961 closed

[2018-05-07 09:42] oehme commented on #5282
This looks like a duplicate of https://github.com/gradle/kotlin-dsl/issues/858, especially since you are also on Windows. We'll have this fixed soon.

[2018-05-07 09:42] #5282 closed

[2018-05-07 09:43] vitalyster opened #5284 "Disable detached configurations?"
Gradle project configuration takes ages for me with "resolving dependencies for xxx:detachedConfiguration158" messages. Why so many configurations created? How to clean them? How to disable them? Can't find proper documentation for that.
Using Gradle 4.7 (older versions up to 4.2 at least have the same issue)
I'm using this project both with IDEA and command-line Gradle builds, so I'm not sure who

[2018-05-07 11:47] marcphilipp commented on #5228
Thanks for the info! I'm closing this issue for now. Please let us know if you manage to reproduce the issue.

[2018-05-07 11:47] #5228 closed

[2018-05-07 13:28] marcphilipp opened #5292 "Document how to publish a Maven BOM using the Maven Publish Plugin"
Publishing a BOM is an important use case for libraries that publish multiple artifacts and want to ease dependency management for their users and help them to avoid using incompatible versions.

This is a follow-up on #4941.

[2018-05-07 13:31] melix commented on #5292
Let's defer this a bit: while there are ways to publish a BOM today, this is not the way we want to model it. In particular we want to have a "platform plugin" which responsibility would be to publish a BOM when targetting Maven repositories.

[2018-05-07 13:35] marcphilipp commented on #5292
Is the "platform plugin" on the roadmap? I was wondering whether we should document the `javaLibraryPlatform` component now and mark it "experimental".

[2018-05-07 13:36] marcphilipp opened #5293 "Document how to publish a dynamic set of artifacts using the Ivy/Maven Publish Plugins"
Document how to publish a [dynamic set of artifacts](https://discuss.gradle.org/t/maven-publication-closure-is-evaluated-too-early/19911/6) in the User Guide.

This is a follow-up on #4941.

[2018-05-07 13:38] marcphilipp commented on #4941
I'm closing this epic because the most important items have been addressed. I create two follow-up issues, namely an #5292 and #5293, for two remaining items I deemed important.

[2018-05-07 13:38] #4941 closed

[2018-05-07 13:38] melix commented on #5292
It is on the roadmap, and I don't think we should release 5.0 without it. A "BOM" doesn't represent a `javaLibrary`, so `javaLibraryPlatform` is already too confusing to me.

[2018-05-07 13:40] marcphilipp commented on #5292
Ok, if you don't mind and I find the time, I might just create a short sample and add it to this issue's description for our most courageous users. 😉

[2018-05-07 15:55] gerhardol commented on #865
As I end up here on web searches: This problem still exists in Cygwin, double quotes are removed.
The 'for arg in "$@" ; do' snippet breaks the argument handling, the save() fix due to this PR is insufficient.

[2018-05-07 16:10] gerhardol opened #5300 "Cygwin gradlew: arguments cannot have double quotes"
The correction for #865 is insufficient for Cygwin. The arguments are trashed in the Cygwin specific loop.
Patch gradlew to go into the Cygwin argument cleanup, comment out the 'cygpath' commands.

### Expected Behavior

For a description and testcase, see #865 but run it in Cygwin

### Current Behavior

See #865

### Context

This makes it difficult to pass arguments with double quotes to gradlew

[2018-05-07 18:11] grv87 opened #5301 "Closure passed to TaskInputs.property is called twice"
### Expected Behavior
Closure passed to TaskInputs.property is called once.
This way it worked in Gradle 4.2.1.

### Current Behavior
Closure passed to TaskInputs.property is called twice.
This is since Gradle 4.3 RC1 and still true for 4.7.

### Context
Code in the closure is time consuming. I would like to avoid duplicate calls.
Also there could be side effects.

### Steps to Reproduce (for bugs

[2018-05-07 18:59] renatoathaydes opened #5303 "Gradle fails to run Kotlin tests when using Java 10 and jigsaw plugin"
### Expected Behavior

Gradle should run Kotlin tests as well as Java tests.

### Current Behavior

Gradle fails to run Kotlin tests with following error:

[code]

### Context

Trying to add Kotlin tests to Java 10 project.

### Steps to Reproduce (for bugs)

Create a new project directory, then add a `build.gradle` file to it with the following contents:

[code]

Create a Java module file at `src

[2018-05-08 00:18] 4n00p opened #5304 "Feature request: Provide hooks in Gradle to support customizing a fork."
I had a scenario where I had a Test task with "forkEvery 1" and I wanted to provided a different system property per JVM.
In Gradle 4.2 and 4.3.1 I was able to do this by extending Test and then overriding the copyTo method.
You can see a toy example here:
https://github.com/4n00p/mastering-gradle/blob/master/CustomCopyTo/
In this example I extend Test with MyTestTask.
If you run "gradle my_test"

[2018-05-08 01:43] ajoberstar commented on #3093
Here's a [test project](https://github.com/ajoberstar/gradle-worker-cleanup/commit/692ca1ac1259012f5fcba1e4a9b6212ad9556541) that just spins up workers and prints when they shutdown. On my laptop (Windows 10), this generally does a good job of shutting down workers, but does encounter the following error after a while. In Circle CI, this test project seemed to have no issues. Maybe I'm missing som

[2018-05-08 01:51] ajoberstar commented on #3093
Sorry to keep spamming this, with `-XX:+AlwaysPreTouch` (to reserve all memory upfront) it seems to cap the workers as I would expect. [Project](https://github.com/ajoberstar/gradle-worker-cleanup/tree/9a075465940bb74fc97279aa976bf695ec906aec) [Output](https://circleci.com/gh/ajoberstar/gradle-worker-cleanup/5).

I probably need a test project that uses TestKit instead to make sure it's not specif

[2018-05-08 02:12] Aaron1011 opened #5305 "TestWorker fails to catch SecurityException when calling System.setSecurityManager"
### Expected Behavior

When a test installs an irreplaceable `SecurityManager` (a `SecurityManager` which denies the `setSecurityManager` permission), `gradle test` should exit cleanly.

### Current Behavior

When such a `SecurityManager` is installed, Gradle's `TestWorker` attempts to remove the `SecurityManager` with `System.setSecurityManager(null)`, but triggers a `SecurityException` instead.

[2018-05-08 05:58] wilkinsona commented on #5239
Thank you, @oehme.

[2018-05-08 06:58] pledbrook commented on #4939
@oehme This demonstrates the problem :smile: Your definition of "component" seems to match the definition of "module" in [the dependency management terminology](https://docs.gradle.org/current/userguide/dependency_management_terminology.html#sub:terminology_module) chapter. Your definition of "module" sounds like a dependency coordinate to me, simply without the version.

Reading all of them toget

[2018-05-08 07:29] raniejade commented on #4252
Just FYI, I wouldn't consider Spek class-based. Once https://github.com/Kotlin/KEEP/issues/75 lands, the wrapping class may go away in favor of script files.

[2018-05-08 07:30] oehme commented on #5284
For configuration time performance issues, please provide the following information:

- a build scan by running `gradle help --scan`
- a JFR snapshot by using the [Gradle Profiler](https://github.com/gradle/gradle-profiler) running `gradle-profiler --profile jfr --warmups 10 --iterations 20 help`

Without this information we won't be able to help.

Answering your initial question: There is no way

[2018-05-08 07:32] oehme commented on #4252
Got it, in that case #4773 would be the appropriate issue.

[2018-05-08 07:36] oehme commented on #5303
This is because the experimental jigsaw plugin only adds the [java source directories](https://github.com/gradle/gradle-java-modules/blob/master/src/main/java/org/gradle/java/JigsawPlugin.java#L110) of the test sourceset as module patches. You'll have to do the same for Kotlin. Btw the jigsaw plugin has been forked by a community member into the [chainsaw](https://github.com/zyxist/chainsaw) plugi

[2018-05-08 07:36] #5303 closed

[2018-05-08 07:37] oehme commented on #5260
The extension is called `android.buildTypes`, not `buildType`.

[2018-05-08 07:37] #5260 closed

[2018-05-08 08:18] vitalyster commented on #5284
both build scan and profile snapshot (for 'help' task) does not show any performance issues and there was no these "resolving dependencies for detachedConfigurationXXX" messages

[2018-05-08 08:26] marcphilipp opened #5311 "Introduce Publishing chapter in User Guide"
As discussed and proposed in https://github.com/gradle/gradle/issues/4939#issuecomment-386595121, the User Guide should feature a chapter on Publishing that briefly introduces the new publishing plugins and mentions the original, soon to be deprecated mechanism with links to the plugin reference chapters (Ivy Publish, Maven Publish, Signing, Old Maven).

[2018-05-08 08:28] marcphilipp commented on #5311
@pledbrook I've assigned this to you and the 4.9 RC 1 milestone for now. Please figure out how to prioritize this with all the other things you have on your plate and update it as you see fit. Thanks!

[2018-05-08 08:40] zosrothko opened #5312 "Add a '-g' CLI option to switch the gradle.properties file to a alternate one"
In the same way as the CLI option `-b`or the `-c`
[code]

there is a need to choose an alternate gradle.properties file. So this issue is proposing to add the `-g` to specify a alternate gradle.properties file.
[code]

BTW and off topic, for a smoother gradle experience, I would have rename the `-s` option by `-k` and `-S` by `-K`, so that the `--settings-file` shortcut be `-s`

### Expected Behav

[2018-05-08 08:45] vitalyster commented on #5284
I did scan on 'check' target I see dozen of detached configurations on "Dependencies" page of scans.gradle.com interface, and most of them are contains Spring Boot dependencies. Indeed, problem started when I switch my Spring project to Spring Boot 2 and looks like it is the issue with their Gradle plugin

[2018-05-08 08:51] oehme commented on #5284
In that case please share the build scan with them so they can fix any potential problems.

[2018-05-08 08:51] #5284 closed

[2018-05-08 09:14] oehme commented on #5312
What's the use case behind this request?

I think we should get rid of options like `-b` and `c`, not add even more. All use cases I've heard so far would be better solved by some conditional logic in the build.

[2018-05-08 09:50] #4960 closed

[2018-05-08 09:50] #4218 closed

[2018-05-08 09:50] #4915 closed

[2018-05-08 10:34] marcphilipp commented on #2995
@aplatypus @mindthump @nshusa @goldparrot That's not an error but a warning that will eventually be resolved in Groovy for good. This issue was about making Gradle fully compatible with Java 9 and upgrading to 2.4.12 which has both been done.

[2018-05-08 10:39] lacasseio opened #10579 "Source dependencies should allow archives as version control source mappings"
### Expected Behavior

Source dependency should support source distributed as zip or tarball archives.

### Current Behavior

Source dependencies only support Git repositories.

### Context

### Steps to Reproduce (for bugs)

### Your Environment

 * Build scan URL:

[2018-05-08 10:40] zosrothko commented on #5312
For the -c, I am using 2 differents settings, one for Windows and one for Linux/OSX. It helps in settings a different build.script for Windows than for Linux/OSX as in settings.gradle.win with
[code]

Having a alternate gradle.properties is necessary because the Poco application is using external prebuild libraries for OpenSSL, MySQL, PostgreSQL, Redis and MongoDB that are located differently acco

[2018-05-08 10:49] Aaron1011 commented on #5305
Sure!

[2018-05-08 10:58] #5148 closed

[2018-05-08 11:08] renatoathaydes commented on #5303
@oehme thanks, but you might want to have a look at why the build hangs forever when this error happens (not every time, but most).

It says the build failed, but does not seem to stop running the build.

[2018-05-08 12:10] oehme commented on #5312
Using different settings files for that makes it harder for users to use the build. Instead please use conditional logic depending on the operating system.

Same goes for library locations - you can use conditional logic to determine the correct defaults and the user only adds things to their (one and only) gradle.properties when they want to overwrite something. This provides a much simpler user

[2018-05-08 12:10] #5312 closed

[2018-05-08 13:25] #4939 closed

[2018-05-08 13:30] marcphilipp commented on #1165
**In Gradle 4.8, the Ivy and Maven Publish Plugins will be stable and the preferred option for publishing artifacts.** 🎉

If you're reading this and currently using the old `Upload`-based infrastructure please migrate to the "new" plugins and let us know if there's anything that needs improvement.

[2018-05-08 13:30] #1165 closed

[2018-05-08 14:03] sebersole commented on #1165
Does 4.8 fix any of the short-comings we've been dealing with wrt
publishing?  Things like multiple artifacts for a project...

Or does it simply the "incubating" tag and not address these now
well-known/documented short-comings?

On Tue, May 8, 2018 at 8:30 AM Marc Philipp <notifications@github.com>
wrote:

[2018-05-08 14:04] hameno commented on #1165
Does signing work with the new plugins?

[2018-05-08 14:05] oehme commented on #1165
@sebersole As mentioned on the other issue, we will tackle some of the shortcomings in 4.9, but for most users the `Upload` infrastructure is no longer necessary.

@hameno Yes, absolutely.

[2018-05-08 14:07] hameno commented on #1165
@oehme Are you sure?

from: https://docs.gradle.org/current/userguide/publishing_maven.html

[2018-05-08 14:09] hameno commented on #1165
Okay, I think I'm confused, which plugin exactly should one use for publishing artifacts to a maven repository? maven, maven-publish or the old upload?

[2018-05-08 14:11] marcphilipp commented on #1165
@hameno Did you notice the version number in the top left corner of the documentation page you've linked (it says 4.7 😉)? 4.8 RC1 will be released this Friday. If you really cannot wait, feel free to download a [nightly build](https://gradle.org/nightly/).

[2018-05-08 14:13] hameno commented on #1165
@marcphilipp Sorry, did not notice that :) Looking forward to 4.8 then 👍

[2018-05-08 14:13] sebersole commented on #1165
@oehme Ok.  We'll just skip 4.8 then and wait on 4.9 to see if that bug is fixed there.

[2018-05-08 14:13] nniesen commented on #1165
Can you put deprecated on the other publishing doc pages and link to the stable one?

[2018-05-08 14:17] marcphilipp commented on #1165
We will do that eventually (see #4940). For 4.8 we've clearly marked `maven-publish` and `ivy-publish` as the preferred options but we want to fix at least multiple publications bug mentioned above (#1061) before deprecating the old publishing infrastructure.

[2018-05-08 14:32] Vampire commented on #1165
@hameno `maven` is the "old upload".
If possible I'd always use the new `maven-publish` instead.
Signing the generated publication and especially the generated POM file needed some hacky build script.
You can see how to do it properly up to 4.7 in my next to last comment on https://discuss.gradle.org/t/how-to-publish-artifacts-signatures-asc-files-using-maven-publish-plugin/7422/23?u=vampire and h

[2018-05-08 15:25] oehme commented on #5312
I don't know what you mean. You simply don't configure that when on Windows. Different settings files is never mandatory.

Again, I don't understand. How does this work currently and why can't you just replace it with some conditional logic?

https://docs.gradle.org/current/userguide/organizing_build_logic.html#sec:build_sources

[2018-05-08 16:17] oehme commented on #5304
It's not exactly what you requested, but it solves the use case you were referring to. I.e. you can start one X server per test VM, assigning a port based on the worker system property.

[2018-05-08 16:41] hameno commented on #1165
@marcphilipp Just tried the nightly. When configuring the pom with the new syntax I cannot find a way to set the parent pom. Am I missing something?

[2018-05-08 16:52] 4n00p commented on #5304
That works for some use cases, but if I have multiple Gradle executions running on the same continuous integration server, there might be collisions resulting from the value of _System.getProperty('org.gradle.test.worker')_ .  That value is just an increasing sequence of longs.

Even if that system property were unique, and there were no concern over collisions, the DISPLAY variable or test direct

[2018-05-08 17:14] hameno commented on #1165
I'd also like support for mavens settings.xml, especially credentials: https://github.com/gradle/gradle/issues/1236

[2018-05-08 17:14] Vampire commented on #1165
Use the `withXml` method or some plugin like `me.tatarka.gradle.pom`, which I use because it provides nicer syntax

[2018-05-08 17:37] sebersole commented on #1236
I have even already implemented this for the Hibernate ORM build: https://github.com/sebersole/gradle-maven-publish-auth

The logical is literally already available.  I give you full approval to reuse any parts of that code - just please get this done :)  It's something that is honestly long overdue in Gradle.  I actually wrote this plugin for Hans and Adam years ago for the same exact purpose - d

[2018-05-08 17:40] sebersole commented on #1165
@hameno As I pointed out on that issue you linked to... I already have a plugin that does this : https://github.com/sebersole/gradle-maven-publish-auth

I completely agree with you that this should be part of Gradle proper

[2018-05-08 19:00] eriwen commented on #5233
@klesniewski Thanks for reporting and probably tracking down how to fix. Would you be willing to contribute this in the form of a pull request?

[2018-05-08 19:03] eriwen commented on #5241
@eskatos is this easy or really difficult to implement? I suspect the latter, in which case I assume we should tackle this post Kotlin DSL 1.0. Do you have any info here?

[2018-05-08 19:09] eriwen commented on #5217
@bric3 you nail the expected behavior here. I hope you find this new docs subsection (coming in Gradle 4.8) helpful right now: https://docs.gradle.org/nightly/userguide/building_java_projects.html#sec:java_dependency_management_overview — if not, please let us know how it could be more helpful.

@gradle/dependency-management if you intend to work on ways improve the UX as you are building so many

[2018-05-08 19:13] eriwen commented on #5204
Use of `gradle --status` can tell us more about Daemon processes, and `--info` logging may be helpful here as it often logs why a Daemon could not be reused.

[2018-05-08 19:40] zosrothko commented on #5312
" don't know what you mean. You don't have to configure that when on Windows, you can wrap whatever logic in an if-statement depending on the platform. Different settings files are never mandatory." Since this point is out of scope of this issue, I wo'nt explain further now but later if needed.

"Again, I don't understand. How does this work currently and why can't you just replace it with some co

[2018-05-08 19:45] big-guy commented on #5167
@Vampire thanks. This looks like a real issue that we need to fix for 4.8. We'll ping you back once it's fixed/merged.

[2018-05-08 19:46] big-guy commented on #5168
@Vampire I don't think we can fix this without breaking newer versions of Intellij.  Is there anything stopping you from upgrading to a newer version of IDEA?

[2018-05-08 20:18] davidghiurco opened #5321 "major bug: gradle 4.x.x does not compile classes in big package directory tree "sourceSet has no files""
### Expected Behavior
when I run gradle compileJava, I expect my java classes to be compiled and put into the build directory.

### Current Behavior
Using gradle 4.x.x, when I run gradle compileJava with sourcesets that have a long directory tree, (note that the directory structure is 100% default compliant, meaning, sources in src/main/java, tests in src/test/java for each module) gradle says "Sk

[2018-05-08 20:55] blindpirate commented on #4912
@marcphilipp Of course I don't mind, ping me if you need any help.

[2018-05-08 21:13] mkobit opened #5322 "Gradle fails dependency retrieval if HTTP HEAD is not supported by the repository"
I would like to use Gradle's dependency resolution for arbitrary remote file targets.

### Expected Behavior

Dependency management should continue/succeed, or some plugin extension point to allow for customizing the resolution/retrieval process.

### Current Behavior

Dependency management fails

### Context

In this specific case I was trying to use Gradle's dependency management features to dow

[2018-05-08 22:59] KidDaedalus commented on #2476
After quite a bit of experimenting I couldn't get to a satisfying Junit based solution for this problem.
The VintageEngine is a thin wrapper around all of Junit4, and the bit I'd want to tweak is deep within Junit4. A custom Runner is the most natural place to add this sort of logic... but you can only use one Runner at a time and our tests have a mixture of the basic runner, the jmockit runner, a

[2018-05-08 23:49] simtel12 commented on #5277
In addition to Room's compiler, mentioned by @TWiStErRob, Lifecycle has a compiler too
https://developer.android.com/topic/libraries/architecture/lifecycle (android.arch.lifecycle:compiler)

LoganSquare: https://github.com/bluelinelabs/LoganSquare
AutoValue extensions: rharter/auto-value-gson#179, rharter/auto-value-parcel#131

[2018-05-09 04:08] xenoterracide opened #5326 "junit 5 version resolved incorrectly?"
one would think that 5.2.0 would be resolved, not 5.2.0-M1 (milestone 1)
[code]

source, here https://bitbucket.org/xenoterracide/gradle-plugin-bundle

[2018-05-09 04:46] xenoterracide opened #5327 "Feedback: composite difficulties"
this is a feedback ticket to developers about problems I've faced using composite difficulties. It may be possible to open individual tickets in regards to the issues for features if desired.

composite builds allow you to have multiple full projects as a project hierarchy, to this end my composite build is also made up of different git repositories, each which has their own gradlew, and their own

[2018-05-09 05:15] DanielThomas opened #5328 "Differentiate between IO and CPU bound workers"
In environments where the number of available CPUs are limited, such as OSS CI, portables, etc. constraining dependency resolution to the maximum number of workers based on CPU count reduces the effectiveness of parallelism significantly, but in any case artificially slows dependency resolution.

A separate pool for IO workers, that had separate limits or be unconstrained completely (i.e. a cached

[2018-05-09 07:38] klesniewski commented on #5233
Sure, I will try to make some time during the weekend.

[2018-05-09 07:48] guylabs commented on #5043
@sic-bre we released `1.13.2` of the build scan plugin which fixes that issue. Please upgrade to this version.

Thanks for reporting this bug.

[2018-05-09 07:48] #5043 closed

[2018-05-09 08:18] eskatos commented on #5241
It's definitely more involved than the regular init templates but nothing impossible. It's not lined up for Kotlin DSL 1.0 though. A PR from the community would be very welcome.

But, what is also reported above is that the `--dsl` option is silently ignored. We should fail saying that generating Kotlin DSL scripts from a Maven build isn't supported instead.

[2018-05-09 08:32] oehme commented on #1165
Agreed, the POM DSL only supports fields that actually make sense when working with Gradle. Parent POMs don't fit that bill.

[2018-05-09 08:48] eskatos commented on #5241
https://github.com/gradle/gradle/issues/3493 is the original issue about supporting conversion of Maven builds to Gradle Kotlin DSL.

I just opened https://github.com/gradle/gradle/pull/5331 to at least fail with a reasonable error message until this is implemented.

Closing this one as duplicate.

[2018-05-09 08:48] #5241 closed

[2018-05-09 08:58] oehme commented on #1165
Let's take any further discussion to the [individual issues](https://github.com/gradle/gradle/labels/in%3Apublishing-plugin) (or create one if some request doesn't exist yet) instead of using this as a bucket list.

[2018-05-09 09:09] oehme commented on #2476
Thank you for that well-weighed feedback @KidDaedalus! There is also a request to limit overall build time (https://github.com/gradle/gradle/issues/5181). Maybe even that would be enough?

[2018-05-09 09:11] oehme commented on #5312
Instead of having different gradle.properties you can:

- set project properties using environment variables, which definitely works on Travis at least
- use conditional logic in your build, either detecting the environment automatically or using something like `-Penv=travis`
- user overrides can be done in the users `~/.gradle.properties`

Overall I see no need for another switch or different bui

[2018-05-09 09:14] oehme commented on #5304
Uniqueness can be achieved by setting another system property based on the Gradle invocation. We used to do the same for our own infrastructure back when we had mutliple agents running on the same machine.

Test frameworks like JUnit already provide extension mechanisms that allow you to transparently hook in before/after the whole test suite and start/stop services for instance. I don't think we

[2018-05-09 12:17] facewindu opened #5333 "nested buildSrc and included buildSrc builds build paths don't respect the buildSrc root project name"
I expect the build path of buildSrc builds in which the root project name was changed to be updated accordingly.

### Expected Behavior
build path should respect root project name for all buildSrc builds.

### Current Behavior
build path seems hard-coded and to not respect the root project name.

### Context
N/A

### Steps to Reproduce (for bugs)
See [composite-with-buildSrc-builds.zip](https://gi

[2018-05-09 12:43] Vampire commented on #1165
@oehme

But most others do, don't they, especially as couple of them are required for publishing to Sonatype / Maven Central.
I'm talking about things like `url`, `issueManagement`, `developers`, `licenses` and so on.

[2018-05-09 12:50] oehme commented on #1165
@Vampire Yes, you'll find those on the new DSL.

[2018-05-09 13:39] childnode commented on #1845
@adamdougal in addition to @big-guy I agree that this is a different "issue" because there even can be tasks that consume parameters, so -q|--quiet is a gradle option, not a task option, so it has to be set in front of any task|target

Btt: it is indeed weired, while it is common to allow to pass values to a parameter bei either using an equal sign or seperate it by blank

@adammurdoch as you can

[2018-05-09 13:45] Vampire commented on #1165
Which new DSL?
Something that is yet to come? - When?
Or `org.gradle.api.publish.maven.MavenPom`, there I still only see `packaging` and `withXml`.

[2018-05-09 13:47] #1845 closed

[2018-05-09 13:47] adamdougal commented on #1845
Thanks for the explanation, I have raised a new issue https://github.com/gradle/gradle/issues/5098

[2018-05-09 13:47] oehme commented on #1165
@Vampire I assume you're not looking at the [nightly](https://docs.gradle.org/nightly/javadoc/org/gradle/api/publish/maven/MavenPom.html) docs.

[2018-05-09 13:54] alwyn commented on #1697
How about using a lookup table instead of the if?

[2018-05-09 13:58] oehme commented on #1436
Closing this since the issue was partly in user code and the other part seems to be caused by the shadow plugin. @johnrengelman if it turns out that the shadow plugin is triggering a bug in Gradle itself, please let me know and I'll reopen/investigate.

[2018-05-09 13:58] #1436 closed

[2018-05-09 14:06] #5020 closed

[2018-05-09 14:15] davidghiurco commented on #5321
@big-guy good catch You are correct, since when I change the directory structure to just be something bogous, without the package structure from my organization (which must have cvs), it works as expected.

This is confirmed by the fact that if I do:
`
sourceSets {
 main.java { srcDirs "src/main/java/com/here/cvs"}
}
`
then the sourceSet will be included as expected. , but if it's only "src/main/j

[2018-05-09 14:58] mkobit commented on #4468
@ajoberstar thanks, that is the closest to what I was trying to describe - the "at configuration time" part isn't  important to me, but providing a solid user experience for various `Property<>`/`Provider<>` type inputs in tasks/extensions/domain objects/wherever else is.

[2018-05-09 14:59] grv87 commented on #4292
According to my test in #5301, property closure was called once in Gradle 4.2.1, and that was changed in 4.3 RC 1.
So, it was a bug in 4.2.1, and now everything works correctly?

[2018-05-09 15:28] big-guy commented on #5321
@oehme I don't think we changed anything intentionally with this in mind, but I'm guessing it has something to do with all of the changes made around snapshotting that may have caused us to incorporate the default excludes everywhere.

[2018-05-09 16:15] DanielThomas commented on #5090
@oehme could the priority of this be reviewed please? This is seriously disruptive for those with custom distributions - we're having to manually `--stop` daemons several times a day to prevent Gradle from selecting the wrong daemon and failing builds.

[2018-05-09 16:19] Vampire commented on #1165
Ah nice, sorry, was looking in my checkout of April 20th.
Didn't expect it to having been changed **that* * recently. :-)
Though I miss `distributionManagement.downloadUrl` @marcphilipp

[2018-05-09 16:20] oehme commented on #5090
@DanielThomas It's already assigned to 4.9 and at the top of the backlog.

[2018-05-09 16:26] oehme commented on #5321
Closing as duplicate of https://github.com/gradle/gradle/issues/2986. Let's continue the discussion there.

[2018-05-09 16:26] #5321 closed

[2018-05-09 16:26] dcabasson opened #5339 "Task fails with Too many open files error"
on MacOs X

When running on a large codebase :
gradlew clean testClasses --no-build-cache -S

(I have to turn off build cache otherwise the tasks don't actually run)

I get the following error :
[code]

This is similar to #1374 but only using core gradle functions.

[2018-05-09 16:27] oehme commented on #2986
Another option would be to completely remove the default excludes. Some variations include:

- deprecate by warning the user whenever a default exclude matches something, telling them to exclude it themselves
- providing a DSL on the `Settings` level to add defaults to all fileTrees so users don't have to repeat themselves

[2018-05-09 16:28] davidghiurco commented on #5321
I will rename the issue description myself, so it's accurate for book-keeping purposes

[2018-05-09 16:33] oehme commented on #5090
@DanielThomas I don't recall you mentioning these problems before 4.7, have you experienced this with older versions? If it's a recent regression that would warrant a higher priority fix.

[2018-05-09 16:39] DanielThomas commented on #5090
@oehme I _think_ we'd occasionally seen this before, but 4.7 definitely made things much worse.

[2018-05-09 17:41] oehme commented on #5090
Okay, I can reproduce the issue. There is a test for it, but for some reason that I have yet to find the test doesn't catch this problem. The fix should be relatively easy, so I guess we can squeeze it in 4.8.

[2018-05-09 17:53] Vampire opened #5340 "distributionManagement.downloadUrl for generated POM"
It is great that you can now nicely set most POM fields without `withXml` or additional plugin.
Though I miss `distributionManagement.downloadUrl`.
It is nice to tell the user where the distribution can be downloaded besides through Maven or Gradle, as he might want to use a `shaded` JAR or download documentation or whatever.
Of course this could also be described behind the `url` field, but if th

[2018-05-09 17:56] oehme commented on #5090
[This change](https://github.com/gradle/gradle/commit/4ea452bc8ee181143b7f32b327a617b0c5d8e4dc) in 4.7 caused the problem. So this is indeed a recent problem and should go into 4.8.

[2018-05-09 17:59] oehme commented on #5090
I discovered another issue - nested builds (like `buildSrc`) currently don't inherit the gradle home from their enclosing build, leading to the same init script-finding issue. This needs to be fixed as well.

[2018-05-09 18:00] sebersole commented on #1165
Easier support for defining relocations would be nice.  We've had to hack
that together a few times now

On Wed, May 9, 2018 at 12:25 PM Marc Philipp <notifications@github.com>
wrote:

[2018-05-09 18:03] Vampire commented on #1165
@sebersole relocation is included, it's the only thing included in `distributionManagement` currently.

[2018-05-09 18:06] sebersole commented on #1165
Yep, just saw that https://docs.gradle.org/nightly/dsl/org.gradle.api.publish.maven.MavenPomDistributionManagement.html#org.gradle.api.publish.maven.MavenPomDistributionManagement:relocation(org.gradle.api.Action)

[2018-05-09 18:12] oehme commented on #5339
Sure, but that's just the symptom. It's the unlucky call that runs into the problem of too many open files. That doesn't make it the cause.

I suggest you attach the [file leak detector](https://github.com/kohsuke/file-leak-detector) to your build (using `org.gradle.jvmargs`) to see where the descriptor leak is coming from.

[2018-05-09 18:12] oehme commented on #4940
That's right, I don't expect a removal before Gradle 6.0

[2018-05-09 18:54] oehme commented on #4502
This has been fixed.

[2018-05-09 18:54] #4502 closed

[2018-05-09 18:55] oehme commented on #4422
@melix is this still planned for 4.8?

[2018-05-09 19:54] ljacomet commented on #4422
No, it has been pushed back. I have cleared the milestone.

[2018-05-09 19:58] chali opened #5343 "Dependencies task output for a composite build doesn't show expected project name"
I have a project `consumer` which is including another project `included` as a composite. Project `included` is in a directory named `included` but in `settings.gradle` I have `rootProject.name='included-project'`. `included` project has two modules `a` and `b`. `b` depends on `a`. My `consumer` project depends on `b`.

When I include project `included` in settings.gradle of `consumer` and run fol

[2018-05-09 20:04] bigdaz commented on #5343
Thanks for reporting. I've confirmed that this is a regression from 4.7.

[2018-05-09 20:05] bigdaz commented on #5343
@adammurdoch I suspect that this is related to the work you did to improve handling of `BuildIdentifier` in a composite build. Can you please take a look?

[2018-05-09 20:25] oehme commented on #1165
Yes, we didn't add the `=`-less syntax to the Provider API. From my perspective we shouldn't add it and rather remove it from the old APIs in the long term, since it's one more of those things where you can do things in different ways for no good reason :)

[2018-05-09 20:27] Vampire commented on #1165
Well, it's for readability sometimes. :-)

[2018-05-09 21:21] xaka opened #5345 "classpath used by "gradle run" is different from "gradle idea""
I've got 2 plugins applied: "idea" and "application".

For long time I've been running and debugging the code via IntelliJ IDEA and had no issues. Recently I decided to give it a shot and run outside of IDE. First step was to leverage gradle's "application" plugin that comes with "run" and other useful tasks.

When I use "run", the code crashes eventually for different reasons caused by ordering o

[2018-05-09 22:52] ymwang1984 opened #5347 "Build scan does not work with Play hot reload in Gradle 4.7"
### Expected Behavior

[Play application](https://www.playframework.com/) uses hot reload to quickly refresh the server. The command is "./gradlew runPlayBinary". Related Gradle doc [here](https://docs.gradle.org/current/userguide/play_plugin.html)

Build scan is also a key feature in Gradle Enterprise which provides insights about the build.
### Current Behavior

Starting from 4.7, build scan doe

[2018-05-09 23:16] travis-a-hoffman commented on #2995
In Java 10, this is an error, not just a warning.

[2018-05-09 23:35] oehme commented on #2995
This issue is not about Java 10. This can only be fully resolved by a major version upgrade for Groovy, which we can only do in Gradle 5.0.

[2018-05-09 23:46] ggascoigne commented on #1544
I'd vote for re-opening this as well.  We  use gradle to layout files for later installation, it is intended that some of them be read-only.  Having to force delete them before re-running a copy task because there's no way to have that copy task overwrite read-only files is very awkward.

[2018-05-10 01:03] dcabasson commented on #5339
So we have attached the file leak detector to our build and now it's working just fine.

At this point I am suspecting that it's not a leak per say, more the fact that there are a lot of file descriptors in the JVM heap that are waiting to be finalized. We are now using Java 9 so it means G1 garbage collection, which very goal is to reduce full GC. While this is good from a throughput point of vie

[2018-05-10 02:08] ldaley commented on #5333
The root cause here is that the `buildSrc` of a project must be built before evaluating that `settings.gradle` for that project, and therefore before the root project name can be known. This is so that the logic from `buildSrc` can be used in the `settings.gradle` file. This is not the first time this has caused problems.

It's hard to see how this can be fixed without changing that fundamental as

[2018-05-10 02:29] mnnyang opened #5349 "on Mac android studio: It is currently in use by another Gradle instance."
I tried various methods but could not solve it。
-------
Timeout waiting to lock file hash cache (/project-path/.gradle/4.4/fileHashes). It is currently in use by another Gradle instance.
Owner PID: unknown
Our PID: 1679
Owner Operation: unknown
Our operation:
Lock file: /project-path/.gradle/4.4/fileHashes/fileHashes.lock
------

[2018-05-10 05:13] tiliarou commented on #5052
This happens on 4.0 rc2 as well...

[2018-05-10 07:18] adammurdoch opened #5351 "Project dependencies should work in builds run using `GradleBuild` task"
The changes in https://github.com/gradle/gradle/pull/5173 completely broke dependency resolution for builds run using `GradleBuild`, so that project dependencies cannot be resolved for these builds.

### Expected Behavior

Project dependencies should work regardless of how a build is run.

### Current Behavior

Project dependencies don't work in builds run using `GradleBuild`.

[2018-05-10 07:54] oehme commented on #5339
File descriptors are released when streams and the like are closed. This shouldn't depend on GC unless some badly behaved tool is using a finalizer to close a stream.

[2018-05-10 08:53] oehme commented on #5345
Your application should never depend on classpath ordering. Gradle only guarantees that the ordering is stable across minor releases, but does not guarantee any particular order.

Also, `gradle idea` and `gradle run` use the same resolution engine. But in IDEA you have the additional complexity of different scopes, while on the command line there is one unambiguous classpath. This may explain the

[2018-05-10 08:53] #5345 closed

[2018-05-10 08:54] oehme commented on #5347
@ldaley Were there any scan-plugin related changes in 4.7 that might have caused this?

[2018-05-10 08:58] oehme commented on #5349
Please provide the full debug log (by running `gradlew assemble --debug`), otherwise we can't help you diagnose this issue.

[2018-05-10 09:15] zosrothko commented on #5312
"set project properties using environment variables, which definitely works on Travis at least".  In the gradle.properties, there are 14 properties that need to be changed to adapt the build to the current environment and no, no & no, I do not want to put a burden work on the user's poco side to setup 14 environment variables on Windows/Linux/MacOS while there is a simple, elegant, easy way to def

[2018-05-10 09:50] oehme commented on #5312
As I said, you have a whole programming language at your disposal. If you absolutely want to model this with property files, just write some code that reads a property file and use a `-P` parameter so the user can tell you which property file to use. This does not require any additions to Gradle.

[2018-05-10 10:10] ldaley commented on #5347
@oehme no, it’s the continuous build changes in Gradle (that I was unaware of)

[2018-05-10 10:12] oehme commented on #5347
Can you assign this to the right person? I think we should fix this for 4.8.

[2018-05-10 10:17] ldaley commented on #5347
Will require scan plugin changes. Like to require Gradle changes.

I will sort it out my tomorrow, latest.

[2018-05-10 10:37] nskvortsov commented on #1366
@bric3 @oehme @eskatos  JFYI the repo was made public, a documentation for first public version `v0.1` is [available](https://github.com/JetBrains/gradle-idea-ext-plugin/wiki/DSL-spec-v.-0.1)

[2018-05-10 11:32] pioterj opened #5354 "Include dependency locking in command-line interface chapter"
Command-Line Interface chapter includes a reference of all command-line options.

It should include new `--write-locks` and `--update-locks` options.

cc @eriwen

[2018-05-10 12:25] bloodknight2010 opened #5355 "Could not open terminal for stdout: could not get termcap entry"
I installed the gradle 4.7 my sabayon linux and I do step by step completed installing.But I can't run the gradle.I type in terminal gradle -v command.I got the following error.

Please help me.

[2018-05-10 14:38] bigdaz commented on #4145
@mathjeff @liutikas @jacobilsoe @scottresnik

We did some major refactoring to our dependency resolution engine for Gradle 4.7.
It would be great to know:
- Have any of you tried out this version?
- If so, has this issue persisted?

Thanks for your patience while we try to get to the bottom of this.

[2018-05-10 15:25] scottresnik commented on #4145
@bigdaz - We upgraded to 4.7 on April 25th.  I have not noticed the issue in our CI environment since.   If we see it creep up again, I'll let you know.

[2018-05-10 16:01] AlexeiVainshtein commented on #4783
Hi @oehme ,
My name is Alexei and I'm one of the developers that maintaining the Artifactory Gradle plugin.
I wanted to thank you for your suggestions and indeed we are working on fixing the issue when the evaluate is running to early. The implementation would be that in the afterEvaluate method to set the finalizedBy for all the projects but only if the configure on demand is configured, we will

[2018-05-10 16:16] oehme commented on #4783
Hey @AlexeiVainshtein,

what you referred to looks like a different issue. I'm happy to help of course, but can we discuss that one separately?

The problem here has nothing to do with your ProjectsEvaluatedBuildListener. Instead, the problem here is that your `publications()` method tries to eagerly resolve all publications, even if the user just passes Strings. The method needs to be improved in

[2018-05-10 19:05] jwgish opened #5359 "Zip task is deleting out-dated zip but not creating new one with gradle 4.7"
First execution of gradle zip creates zip file in target/distributions directory as expected.
Subsequent execution of gradle zip deletes file as outdated (in SkipEmptySourceFilesTaskExecuter code) (based on debug log), but does not recreate it, causing tasks that depend on zip to fail (such as publish).  In addition, task info output shows NO-SOURCE on subsequent zip task evaluation

### Expected

[2018-05-10 19:40] adammurdoch opened #5360 "Show warning about stable publishing feature flag at most once per build"
The warning asking people to enable the feature flag for the new publishing { } block behaviour is shown many times per build. It should be shown no more than once. I think it would be better if this message were also controlled by the `--warning-mode` command-line option.

### Expected Behavior

Show the message once per build, and in the same way that deprecations are shown.

### Current Behavio

[2018-05-10 22:52] oehme commented on #5360
See https://github.com/gradle/gradle/pull/5356

[2018-05-10 22:52] #5360 closed

[2018-05-10 23:08] errodrigues commented on #5345
I've many time faces this exact same issue and then amount of hacking needed to solve this is horrible.
Even though I certainly agree with the concept that classpath order shouldn't matter, I am very much convinced that this is wishful thinking. In many real world scenarios, especially when there's legacy stuff in the mix, it is very common to stumble upon weird modules that include fat jars inclu

[2018-05-11 02:09] aplatypus opened #5362 "Gradle Path type is NOT compatible with Java Path interface"
### Expected Behavior

- Gradle script should respect values that are _`instanceof`_**` java.nio.file.Path`**
- Specifically the type: **`org.gradle.model.Path`** shall be an _`instanceof`_**` java.nio.file.Path`**
- The Gradle `Path` type is hiding the standard Java NIO library _Path_ interface.
   - This kind of name class should be avoided.
   -  If the Gradle path type must be different, I rec

[2018-05-11 02:44] adammurdoch opened #5363 "Allow integration tests from gradle/gradle to be run from the IDE when the build under test performs Java compilation"
Given:

1. The Java compile task now outputs a deprecation warning when it discovers annotation processors on the compile classpath that will be implicitly used.
2. The Kotlin embedded compiler happens to include such an annotation processor.
3. When running an integration test from the IDE pretty much every Gradle runtime dependency is visible.
4. Unexpected deprecation messages fail a build when

[2018-05-11 02:50] assimd opened #5364 "Behavior of force flag has changed in Gradle 4.7"
Forcing a dependency version after it has been added to a _configuration_ does not work in Gradle 4.7. This mechanism used to work till Gradle 4.6.

### Expected Behavior

Given the below `build.gradle` script, I would expect conflict resolver to honor the `force` flag on `log4j:log4j:1.2.14` and resolve the dependency to `log4j:log4j:1.2.14`.

### Current Behavior

Gradle is ignoring the `force`

[2018-05-11 05:40] oehme commented on #5345
No matter which order we choose, some case would always have a problem.

The solution to competing jars is excluding the bad one, not relying on ordering.

[2018-05-11 05:47] oehme commented on #5362
Gradle's Path has nothing to do with the file system and can't be changed for a long time to come for backwards compatibility. It will eventually disappear, but until then you'll have to use an explicit import.

I recommend writing imperative login in buildSrc where this problem doesn't exist. Build scripts are for declarative logic.

[2018-05-11 05:47] #5362 closed

[2018-05-11 05:52] oehme commented on #5363
Sounds like `gradleApi` exposes too much in embedded mode.

[2018-05-11 06:56] oehme commented on #5364
@ljacomet Could you please take a look at this one and decide whether we should fix for 4.8?

[2018-05-11 06:56] oehme commented on #5359
@lptr Could you please take a look at this one and decide whether this needs a fix for 4.8?

[2018-05-11 06:57] oehme commented on #5051
Closing as there was no further follow-up.

[2018-05-11 06:57] #5051 closed

[2018-05-11 07:01] wszeboreq commented on #5230
Any chances to have it assigned to some milestone?

[2018-05-11 07:26] melix commented on #5364
I'm looking into this.

[2018-05-11 07:59] melix commented on #5364
Thanks for the reproducer, @assimd , I have a tentative fix, running the branch accept pipeline now.

[2018-05-11 08:42] wolfs commented on #5359
@jwgish Thank you for reporting! For which Gradle version does the build script still work for you? Does it work with Gradle 4.6?

[2018-05-11 09:09] ljacomet opened #5366 "Remove exception path in LockFileReaderWriter constructor"
There are cases where the `FileResolver` passed to the `LockFileReaderWriter` cannot resolve relative path.

There is currently no support for locking when that happens, but given the way objects get wired, a `LockFileReaderWriter` may be created anyway.

The goal is to remove the exceptional path from construction and instead fail later if such a setup tries to use dependency locking.

[2018-05-11 09:17] masc3d commented on #5277
Requery: [Open issue](https://github.com/requery/requery/issues/773)
Parceler: [Open issue](https://github.com/johncarl81/parceler/issues/343)

[2018-05-11 09:28] wolfs commented on #5359
@jwgish Looking at the example, the problem seems to be that you set the version of `jar` to `null` in a `doFirst`. That changes the output file of the `jar` task. The output file is used as an input to the `zip` task. The `zip` task only sees the now non-existing original output file or the `jar` task, causing the task to be marked as `NO-SOURCE` and deleting the previous output.

Why don't you j

[2018-05-11 09:28] #5359 closed

[2018-05-11 11:21] lacasseio opened #5371 "Improve `Support for nested build without a settings` deprecation warning"
### Expected Behavior

`gradle init` in an empty folder shouldn't generate deprecation warning.

### Current Behavior

[code]

### Context
Gradle 4.8

[2018-05-11 12:09] marcphilipp commented on #5371
Looks like this deprecation message was introduced as part of #3137 for 4.4.

[2018-05-11 12:09] bloodknight2010 commented on #5355
`export TERM=xterm-color`
[https://github.com/gradle/gradle/issues/4426](url)
It's working.Thanks

[2018-05-11 12:09] #5355 closed

[2018-05-11 12:29] lacasseio commented on #5274
Thanks @JacisNonsense for the feature request.

I'm assuming you are using the software model native plugin. Due to a [change of direction regarding the software model](https://blog.gradle.org/state-and-future-of-the-gradle-software-model), we are introducing [new native plugins](https://blog.gradle.org/introducing-the-new-cpp-plugins). Those new plugins use Gradle's dependency management and [can

[2018-05-11 12:29] #5274 closed

[2018-05-11 12:56] blindpirate commented on #5371
Thanks @lacasseio, I guess some ancestor directories of your init directory contain a `settings.gradle` file.

For example, run `gradle init` in childDir of

[code]
won't cause a deprecation warning, but run `gradle init` in childDir of

[code]

will cause such warning. That's expected behavior. However, if this even makes you confused, I guess we should improve the warning message to at least mak

[2018-05-11 13:00] lacasseio commented on #5371
Good point, I have a settings file in a parent directory. Given using this `settings.gradle` file is not expected in this use case, we could live with the deprecation warning wait until the next major release to have this fixed automatically.

[2018-05-11 15:03] jwgish commented on #5359
FYI -- it's working as expected (at least the way the build author expected :-)) in 3.5._

[2018-05-11 15:07] sic-bre commented on #5043
Thanks.  This is now adopted by our init.gradle script and functionality is verified.

[2018-05-11 15:19] oehme commented on #5371
It won't be fixed automatically, it'll fail in 5.0. So we definitely need to change this so that `gradle init` doesn't trigger this warning.

[2018-05-11 17:27] assimd commented on #5364
@melix, Wow, that was quick. Thanks for fixing this. I will try out the snapshot version as soon as this is released.

[2018-05-11 18:52] eskatos opened #5377 "Migrate Gradle core plugins Conventions to Extensions"
Groovy and Kotlin DSL handle Conventions differently.
In Groovy scripts, conventions are not namespaced.
In Kotlin scripts, they are and only appear on `project`.

Extensions on the other hand are treated uniformly. They are namespaces on both DSLs and can appear at any level.

Given that the Groovy and Kotlin DSLs will be maintained side by side in the long run and Conventions are going away, all

[2018-05-11 23:43] JLLeitschuh commented on #5377
You'll probably also want to help the Jetbrains team migrate the Kotlin plugin as well.
https://github.com/JetBrains/kotlin/blob/ce18c2bf26f5579f47771609c35115903451e71b/libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/KotlinPlugin.kt#L637

[2018-05-12 05:44] zosrothko commented on #5312
OK, will do this way

[2018-05-12 08:39] TWiStErRob opened #5379 "Broken link in docs despite looking correct in adoc"
### Expected Behavior

Opens https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_separation

### Current Behavior

Opens https://docs.gradle.org/current/userguide/java_plugin.html

### Context

I was just reading the docs, and got confused when navigation took me to the same page having no info on the topic that was promised.

### Steps to Reproduce (for bugs)

Go t

[2018-05-12 09:14] xenoterracide commented on #4956
converting from the apt plugin and got bitten by this with error prone, because I had, had the sources output to generated so they weren't scanned, then surprise! they are again.

[2018-05-12 10:25] oehme commented on #5090
This is fixed for 4.8

[2018-05-12 10:25] #5090 closed

[2018-05-12 13:06] bric3 commented on #1366
@nskvortsov great thanks, I'll give it a try !

[2018-05-12 14:32] stevematdavies commented on #3118
Happens with me running Java 10 on Ubuntu 18:04 Lts

[2018-05-12 16:39] eriwen commented on #5379
Should be fixed by https://github.com/gradle/gradle/commit/2ba5213ca342f208b82bff957a0d4ca17513d20e

[2018-05-12 16:40] eriwen commented on #5379
Thank you for reporting @TWiStErRob.

[2018-05-12 17:13] TWiStErRob commented on #5379
Ah, makes sense :) Thanks.

[2018-05-12 17:27] oehme commented on #2128
This has been fixed by #5249 and you'll be able to try it out once 4.8 RC1 goes out early next week.

[2018-05-12 17:27] #2128 closed

[2018-05-13 20:11] tapika commented on #2394
I want to create sub-folders - but can you provide demo how it could be done ?
Method above does not seems to work.

You can post reply over here: https://stackoverflow.com/questions/50316372/android-gradle-how-to-include-shared-object-with-specific-folder-structure
if you want.

[2018-05-13 23:41] adammurdoch commented on #5343
This is fixed now. The fix will be in 4.8.

[2018-05-13 23:41] #5343 closed

[2018-05-13 23:42] adammurdoch commented on #5351
This is fixed.

[2018-05-13 23:42] #5351 closed

[2018-05-13 23:43] adammurdoch commented on #4241
This is very slowly making progress, through refactors to fix other issues.

[2018-05-13 23:45] ldaley commented on #4241
@adammurdoch can you please indicate what you are actually working towards.

[2018-05-13 23:49] adammurdoch commented on #5167
This should be fixed now. The fix will be in 4.8.

[2018-05-13 23:49] #5167 closed

[2018-05-14 01:52] rgoldberg opened #5382 "Resolving dependency coordinates from another project in current Gradle build instead of from repository"
Please note: I do not know the Gradle code base, so I might be using terms loosely, and/or making incorrect guesses about how Gradle works.

### Current Behavior
It seems that dependencies on libraries supplied by a repository are specified using coordinates, while dependencies on libraries supplied by other projects in the same build are specified using `project(':xyz')`.

### Expected Behavior
I

[2018-05-14 05:44] marcphilipp commented on #5366
@ljacomet Can this issue be closed since #5367 has been merged?

[2018-05-14 05:47] marcphilipp commented on #5347
@ldaley What's left to do for this one? Is this a blocker for the 4.8 RC1 release?

[2018-05-14 06:35] adammurdoch commented on #5363
This has disappeared for me. Unfortunately I don't know why. I _think_ it happened when I recreated my IDEA project, for an unrelated issue.

[2018-05-14 07:04] etiennestuder commented on #5347
@marcphilipp We will release build scan plugin 1.13.3 today with a fix for this on the scans side. The corresponding BT change should be part of 4.8 RC1. Given @ldaley is not around the rest of the day, can you take care of it?

[2018-05-14 07:47] marcphilipp commented on #5347
I have verified that the changes introduced with #5369 are indeed present in `release` and `master` so they will be part of 4.8 RC1. Thus, I'm closing this issue because it will be resolved with build scan plugin 1.13.3 and there's nothing left to do in core Gradle.

[2018-05-14 07:48] marcphilipp commented on #5366
Ah, that's why it was still open. Thanks!

[2018-05-14 08:35] fdw commented on #5121
I also have this problem. Is there any way to help? Do you need more information?

[2018-05-14 09:13] Vampire commented on #5382
What you are after is the composite build feature.
If projects are in one multi-projects build, they are tightly coupled and referenced by the `project(...)` syntax.
With the composite build feature (either via commandline properties, or also via `settings.gradle`), you can replace a binary dependency (`implementation 'foo:bar:1.0.0'`) by a "sub-build" that produces those artifacts with the given

[2018-05-14 09:17] Vampire opened #5386 "JacocoReport failing strangely"
With the attached [showcase](https://github.com/gradle/gradle/files/2000063/showcase.zip) build, you see the problem.
If you call the task `jacocoTestReport` you will get the error
[code]
If you remove the `sourceSets.main.compileClasspath.asPath` line from `build.gradle`, then it works as expected.
This happens with 4.7 and also with a recent 4.8 nightly.

[2018-05-14 09:26] wilkinsona commented on #5121
Spring Boot's plugin doesn't appear in the stacktrace of the failure, but it appears that there was some code in Spring Boot's plugin that was causing Gradle to get into a state where the NPE would occur.

The bad news is that I still think there's a bug in Gradle that causes it to corrupt its internal state. The good news is that the code in Spring Boot's plugin that was triggering this bug was [

[2018-05-14 09:40] Vampire commented on #5386
From a little debugging it seems the `asPath` causes the `afterEvaluate` closures to be executed before the `JacocoPlugin` adds the configuring `afterEvaluate` closures, so they are never run.

Maybe there could at least be some check telling the user that the `afterEvaluate` will have no effect or whatever.

[2018-05-14 09:49] lavcraft commented on #5121
@wilkinsona thanks a lot!

[2018-05-14 09:59] marcphilipp commented on #5347
Reopening this issue as the default version of the build scan plugin still has to be updated.

[2018-05-14 11:26] marcphilipp commented on #5168
@ljacomet @adammurdoch Is this issue blocking the 4.8 RC1 release?

[2018-05-14 13:42] ljacomet commented on #5168
@marcphilipp: I believe this decisions is for @adammurdoch and @big-guy

[2018-05-14 15:49] guylabs commented on #5347
Plugin version `1.13.3` has been released and will be integrated in Gradle `4.8 RC1`.

[2018-05-14 15:54] mkobit commented on #2528
https://github.com/gradle/gradle/issues/2529 is also worth considering here, as I find myself frequently using the shadow plugin to relocate dependencies so that they don't impact consumers.

[2018-05-14 17:29] bigdaz opened #5396 "Regression: `Task.execute()` fails with NPE when task is constructed via `ProjectBuilder`"
`ProjectBuilder` can be used to construct task instances for unit testing. `Task.execute()` is deprecated, but should continue to function correctly until removed in a future release.

### Expected Behavior
Calling `Task.execute()` on a task instance created by `ProjectBuilder` should succeed.
This is the case for Gradle 4.7.

### Current Behavior
With Gradle 4.8 (candidate), `Task.execute` fails

[2018-05-14 17:33] bigdaz commented on #5396
@wolfs  I suspect your refactoring to extract `EventFiringTaskExecuter` was the cause of this :point_up: .

@gradle/build-tool  I've raised this against `4.8-RC-1` since it's a regression from 4.7. However, it's relatively minor and we might decide not to fix for 4.8 (or at all). I'm not sure how widespread this type of usage is.

[2018-05-14 18:11] istream-philion commented on #4195
I've got the same stack trace, with a more recent version:

$ gradle -v
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/usr/local/Cellar/gradle/4.7/libexec/lib/groovy-all-2.4.12.jar) to method java.lang.Object.finalize()
WARNING: Please consider reporting this to the maintainers of org.codehaus.gro

[2018-05-14 18:12] bigdaz opened #5397 "Dependency insight report duplicates the variant information when reporting dynamic versions"
For a dynamic version, the `dependencyInsight` report generates generates a header row for the resolved version, as well as a row for each dynamic version resolved to it. We currently display the variant details for the resolved variant for each of these rows, where it only should really apply to the header row. (We already restrict the printing of the 'description' to the header row).

e.g.
[code

[2018-05-14 18:38] big-guy commented on #5168
Unfortunately, we're not going to fix this.

At some point, we introduced a change that inadvertently broke IDEA import with composite builds.  IDEA then adapted to the change in behavior.  Going back to the original behavior (so 2016.1.4 would work) or creating an alternate way to opt into the current behavior would mean we'd break newer versions of IntelliJ.

[2018-05-14 18:38] #5168 closed

[2018-05-14 19:18] lptr commented on #5396
Huh, I didn't realize `ProjectBuilder` was public API...

[2018-05-14 19:28] rgoldberg commented on #5382
Thanks for the info. 2 follow-up questions:

A) what is the best way to share settings (like versions of third-party libraries) between independent builds in a composite build? Should I have a Mercurial repo that is a subrepo of each of my Mercurial repos? Can I somehow include one gradle file from another within the same gradle project? e.g., say the subrepo is gradle-common, and contains librari

[2018-05-14 19:29] bigdaz commented on #5396
Yeah, neither did I until I was recently chastised for not adding test coverage when I made a change!

[2018-05-14 19:53] bigdaz opened #5400 "Inconsistent API/DSL for configuring attributes on configuration/dependency"
I expect a consistent API for mutating attributes, whether that's on a configuration or on an individual dependency.

The `attributes { attribute(foo, "bar") }` syntax works everywhere.
The `attributes.attribute(foo, "bar")` syntax works for modifying a configuration, and in a component metadata rule, but is invalid for modifying dependency attributes.

This is valid and consistent:
[code]

but th

[2018-05-14 19:53] lptr commented on #5396
Maybe we should retire it in favor of TestKit tests?

[2018-05-14 20:07] bigdaz opened #5401 "Dependency insight incorrectly reports "compatible with" when using dependency attributes"
The `dependencyInsight` report is not considering dependency attributes when reporting the resolved variant. This results in incorrect reporting for variant matching.

### Expected Behavior
When a dependency attribute is specified, the same attribute on a configuration is overridden and will not impact the `dependencyInsight` report.

### Current Behavior
The `dependencyInsight` report declares th

[2018-05-14 20:19] thc202 commented on #5120
For the record, the bug report is:
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8202127
and was resolved as "not an issue".

[2018-05-14 21:17] DanielThomas opened #5402 "Gradle copies local file dependencies into cache"
I noticed that file dependencies on the buildscript classpath are copied into the cache. Is this the intended behaviour?

[code]

[2018-05-14 22:24] xenoterracide opened #5404 "Feature: Add dependency GAV aliases"
possible this is already being worked on, but I'd like in my plugins, to be able to write something like

[code]
then in any project which imports my plugin I could write

[code]

this would pull in the latest version of jsr305,  junit 5.2.x (both api and runtime), and assertj 3.9.1 (but not 4, or 3.7)

[2018-05-14 22:46] kenzierocks commented on #1108
Please see if #5405 will solve your use case. I think it should handle all of them.

[2018-05-14 23:10] xenoterracide commented on #4979
it's unfortunate, but I will have to continue using spring dependency management plugin unless this decision is reversed.... making the work done this, imho, worthless.

I do hope that gradle comes up with a convient way to make plugins act as a sort of BOM, and have created an issue around that, though maybe work is already ongoing.

[2018-05-15 07:07] ldaley commented on #5396
I think it is in our best interest to stop allowing people to put parts of the build machinery in motion with ProjectBuilder, as it only barely works and works by accident. As we change the execution mechanics, it will be more of a problem. So +1 on retiring.

However, I know from experience that there are quite some tests in the wild based on ProjectBuilder that do things like Task.execute(). We

[2018-05-15 07:30] melix commented on #5404
There are different things bundled in this feature request:

1. being able to recommend dependency versions, which can now be expressed through [dependency constraints](https://docs.gradle.org/current/userguide/managing_transitive_dependencies.html#sec:dependency_constraints)
2. A short-hand notation to include dependencies

I think 2. shouldn't be implemented, as it belongs to the "old world", wh

[2018-05-15 07:34] melix commented on #5400
I know it's inconsistent and it was an intentional design decision. Basically if we let users call `attributes.attribute(...)`, we have to make the attribute container mutable and it can leak anywhere, and we're not able to perform mutation validation anymore. This is why the javadocs for `getAttributes()` says:

I'm fine to consider changing this for the sake of consistency, but then we need to r

[2018-05-15 07:54] RyanYans commented on #2090
I think the core problem is that the Gradle Version incompatiable with Android Plugin:
see [https://developer.android.com/studio/releases/gradle-plugin](https://developer.android.com/studio/releases/gradle-plugin)

[2018-05-15 08:53] ldaley commented on #5108
@gavra0 We are unable to reproduce the results, nor find any reason as to why a number of files in `~/.gradle/build-scan-data` would blow out build times.

Have you experienced this again since?

[2018-05-15 09:17] wolfs commented on #5396
Fixed via #5406.

[2018-05-15 09:41] michgauz commented on #2384
Yes same here.
the "android.enableD8.desugaring = true" is not working on 3.1.2

[2018-05-15 10:31] gavra0 commented on #5108
@ldaley There were no issues since. Feel free to close the issue, and in case I managed to reproduce again, I'll update the bug. Thanks!

[2018-05-15 11:11] etiennestuder commented on #5108
Thanks for the feedback, @gavra0. Closing this issue now.

[2018-05-15 11:11] #5108 closed

[2018-05-15 11:54] #5396 closed

[2018-05-15 11:58] Vampire commented on #5382
Independent builds are just like you said independent.
If you want to have different version of libs in your fork, I guess the best way is to change it in the fork.
Maybe you could also create some gradle file or plugin that sets the versions you want,
or you can use dependency constraints if you want higher versions than are in the build. https://docs.gradle.org/current/userguide/userguide_single

[2018-05-15 13:04] wolfs commented on #4292
@grv87 Looks like we need to call the `Closure` for a property registered via the runtime API once more for validation in `ValidatingTaskExecuter`. That is unnecessary. We may fix this in a future Gradle release.

[2018-05-15 13:39] SchwingSK commented on #898
The default Eclipse encoding should not be used: it leads to incorrectly configured projects and files being commited with the wrong encoding.

[2018-05-15 13:45] oehme commented on #5402
It is, only the cache directory is trusted to be immutable and can thus be optimized for fast access.

[2018-05-15 13:49] bigdaz commented on #5400
One option to make it consistent is to remove the mutability of `configuration.getAttributes()`.

[2018-05-15 15:18] rgoldberg commented on #5382
Thanks again for the additional info. To clarify:

A) I want to share library versions between my own projects, not with third-party forks. If a new version is released of a library that I’m using in multiple projects, I’d like to update the version in only one place, rather than having to change versions in multiple separate projects. If I use a mercurial subrepo like the proposed `gradle-common`

[2018-05-15 15:29] xenoterracide commented on #5404
I don't fully agree with you because I'm of the opinion we should know *exactly* what our module depends on an exports. In fact it's one of the reasons I switched to gradle is I felt it was doing that better. However let me try to give a better example than a "Spring Boot Appliction". Also I don't build "Applications" I build libraries and modules and compose them into applications.

I use this mo

[2018-05-15 16:14] wolfs commented on #5269
We would love to change the default for `append` in the Jacoco plugin, but that would be a breaking change :(
So we need to wait for Gradle 5.0 to change the default to `append = false`, so caching would be enabled by default for the `Test` task with JaCoCo enabled.

[2018-05-15 16:28] wolfs commented on #5269
If you are willing to work on a solution in the JaCoCo plugin to support parallel test execution with caching and the Jacoco plugin enabled, then we would be happy to assist you in building the corresponding PR.

I think the basic approach would be to interpret `append = false` in the JaCoCo extension to mean:
- clean up the coverage file when the `Test` task starts
- pass `append = true` to the J

[2018-05-15 16:36] Vampire commented on #5382
Ah, I see.
Then yes, what you plan sounds reasonable.
Alternatively you could make a BOM with your library versions and deploy it to some repository if you have one, but I guess this not the case for you.
So the sub-repo solution might be good, and there you could either add the deps if it is all the same for your projects, or set the dependency constraints as mentioned to just suggest the version

[2018-05-15 17:05] big-guy commented on #5269
@wolfs If we're making a breaking change in 5.0, we may also just want to remove configuration options that don't make sense or make it difficult to do the right thing.

Even though there's a `JacocoMerge` task that can take multiple JaCoCo reports and generate a single execution file, some builds accomplish the same thing by using the same output file.   This could be from multiple `Test` tasks o

[2018-05-15 17:25] oehme commented on #5041
You can write `org.gradle.cache=true` to the user's home directory in the init script. Thus the only uncached build will be the very first that the user executes on a given machine. All subsequent ones will be cached by default.

[2018-05-15 17:55] madorb commented on #5205
It would be great to make that link more clearly  available as personally I find the nonlinear structure makes it very difficult for me to progressively build my knowledge base about gradle.

Some sections are simply sorted alphabetically (See under "Build Configuration Scripts") and some will refer to things as being previously mentioned... but since there is no clear logical order to consume the

[2018-05-15 18:01] madorb opened #5410 "Plugin Site reports false usage information about Plugin DSL"
Every plugin on https://plugins.gradle.org/ contains an "about the new plugin mechanism" footer which states:

I've assumed that this was in fact correct for as long as it's been there, but just today I found out that it is not as per: https://docs.gradle.org/current/userguide/plugins.html#sec:subprojects_plugins_dsl

Unless I'm missing something the plugins site documentation has been incorrect s

[2018-05-15 18:17] eriwen commented on #5205
Noted @madorb. Peter is considering how we can improve navigation, and I'd wager such a link will be much more prominent

[2018-05-15 18:28] JLLeitschuh commented on #5269
@wolfs What about simply having each worker generate their own JaCoCo report?
As the Jacoco task is today, it already supports merging multiple JaCoCo execution report outputs into one.

We do that here at Plexxi to create our uber coverage report from all of our sub-projects.

[code]

[2018-05-15 18:29] JLLeitschuh commented on #5269
Is there a `release/5.0` branch where a PR of this nature could be pointed?

[2018-05-15 18:49] sic-bre commented on #5041
The answers we have so far are:

1) Hope that every user keeps their ~/build.gradle file up to date with our "suggested" default values, this will not work in our environment.  This wasn't working for us due to the inconsistency and maintenance issues.

2) Manage every users ~/build.gradle file by overriding the value in the file from the init.gradle script.  Working for the naive users but upsett

[2018-05-15 20:42] bigdaz opened #5413 "Dependency locking does not work with unique SNAPSHOT modules"
When a module is published with unique SNAPSHOT versions, then the dependency lock is written with the timestamped version. However, this lock is not applied correctly to constrain the version when resolving. This means that when a new unique SNAPSHOT is published, resolution with the lock file will fail.

### Expected Behavior
Given a dependency on a SNAPSHOT module published with unique (timesta

[2018-05-15 21:09] vehovsky commented on #1989
That wasn't very constructive. And I'm sorry to say but not truth, it will not work work for cases I described above. Not like that anyway.

[2018-05-15 21:11] ymwang1984 commented on #5347
Hey, thanks for looking into this.

Today I tried 4.8-rc-1, I see a different error. I am using build scan version 1.10.1. Do I need to do something to make it work again?

[2018-05-15 22:53] ymwang1984 commented on #5347
More stack trace:

[2018-05-16 03:17] etiennestuder commented on #5347
Hi @ymwang1984. Please upgrade to the latest build scan plugin version which currently is 1.13.3.
https://plugins.gradle.org/plugin/com.gradle.build-scan/1.13.3

[2018-05-16 03:22] mark-vieira opened #5415 "FinalizedBy ordering rule is not enforced in Gradle 4.8-rc-1"
### Expected Behavior

When multiple tasks are `finalizedBy` the same task, the finalizer should not run until all tasks that it "finalizes" have completed (or failed). In conjunction with a multi-project build and parallel execution this should also apply to cross-project tasks. That is, if `a:foo` and `b:foo` are both `finalizedBy` `a:finalizer` then `a:finalizer` should not run before `a:foo` a

[2018-05-16 05:51] rgoldberg commented on #5382
Thanks again for all the info.  Yet another question:

It seems that I cannot just run `./gradlew build` on a composite build and have it build all included builds.  It seems that I need to add the following to the composite build's `build.gradle`:

[code]

Is this the intended behavior, or am I doing something wrong, or is this a bug, or…?

If I run a task on a composite build that isn't explicit

[2018-05-16 06:01] adammurdoch commented on #4895
It's definitely not great to have failures go missing, and not the intended behaviour at all. We'll get this fixed soon.

[2018-05-16 06:13] wolfs commented on #5415
@mark-vieira Thank you for reporting - I'll look into this right now.

[2018-05-16 06:47] wolfs commented on #5415
PR for fixing it: https://github.com/gradle/gradle/pull/5417

[2018-05-16 07:03] lptr commented on #5415
What broke this?

[2018-05-16 07:04] wolfs commented on #5415
This behaviour was broken by https://github.com/gradle/gradle/pull/5153.

[2018-05-16 07:09] wolfs commented on #5178
@regrog You are right, we still have some problems cleaning up the task history. Note that it is expected that the task history grows if there are more files as inputs/outputs (i.e. adding a source file), but it should recover the space at some point if files are only renamed/changed.

[2018-05-16 07:12] wolfs opened #9126 "Investigate different file based key value stores"
We currently use our own implementation of a file based key value store: `BTreePersistentIndexedCache`. This implementation has [some shortcomings](https://github.com/gradle/gradle/blob/19c0d62245075e9d40920b905c091199cecea15f/subprojects/persistent-cache/src/main/java/org/gradle/cache/internal/btree/BTreePersistentIndexedCache.java#L37-L47).

We should come up with some requirements for such a pe

[2018-05-16 07:37] wolfs commented on #5141
@Vampire Yeah, it would be great to see the shadow plugin in the stacktrace. The problem is that the shadow plugin does not override the method of the Gradle class - so it is called directly.
Maybe we could add the concrete class to the deprecation message? WDYT?

[2018-05-16 07:58] Vampire commented on #5141
Ah, I see, that's bad of course.
Well yeah, having a concrere culprit stated for deprecation messages generally would be a good thing I guess.

[2018-05-16 08:07] wolfs commented on #3346
@rjbell4 The problem with the size based limit was that it didn't prevent the build cache to go over that limit. It just would trim down the cache to the limit periodically (once a week initially). That means that the build cache would always be over the size limit.

We opted for a periodic cleanup, because that seems to be easier to configure. If your build cache directory grows too big with the

[2018-05-16 08:46] Vampire commented on #5382
If you need taht, then you don't actually use the included builds.
With that declaration you just make the `build` task depend on the included `build` tasks, but that does not mean you use the artifacts built by the included projects.
Maybe the included build does not declare the same group / version than with which it is published, then it cannot match them automatically of course.
The included b

[2018-05-16 08:54] ljacomet commented on #5413
Given that for Gradle, snapshots are considered as changing versions and not dynamic ones so far, I will do the following changes:
* For SNAPSHOT, lock the -SNAPSHOT version, without timestamp.
* Emit a warning when locking is used and _changing_ dependencies are part of the graph.

[2018-05-16 09:48] facewindu opened #5422 "Console output ordering problem with 4.8-rc-1"
See [this TC log](https://builds.gradle.org/viewLog.html?buildId=12911553&buildTypeId=Enterprise_Master_Components_BuildScansServer_ScansServerTestE2e_Group3&tab=buildLog&_focus=1571)  of a failed build before switching to 4.8-rc-1.

And [this one](https://builds.gradle.org/viewLog.html?buildId=12920272&tab=buildLog&buildTypeId=Enterprise_Master_Components_BuildScansServer_ScansServerTestE2e_Group

[2018-05-16 10:39] timyates opened #5424 "Gradle 4.8-rc-1 does not allow abbreviations of model rule based tasks"
I believe there has been a regression in 4.8-rc-1 WRT using abbreviations of task names from the command line when tasks are added via model rules.

If we take the [basicRuleSourcePlugin documentation sample](https://github.com/gradle/gradle/tree/c2fb47745a7a6daaff9f29fe84dedd425f53467d/subprojects/docs/src/samples/modelRules/basicRuleSourcePlugin), and [update the task name](https://github.com/gr

[2018-05-16 10:44] pun-ky opened #5425 "Plugin management does not support properly flat dir repositories"
### Expected Behavior

`useModule('file-name')` should not fail when `flatDir` repository is defined in `pluginManagement` section

### Current Behavior

`useModule('file-name')` ends with

[code]

### Context

Tried to include in build amended plugin before it being released and available at public repositories.
We tried using flat dir as directory, but with no effect. As a workaround we defined

[2018-05-16 10:58] marcphilipp commented on #5422
@ghale Are there some output related changss in 4.8?

[2018-05-16 11:02] marcphilipp commented on #5424
@oehme Could this be related to the model bridging performance improvements in #5185?

[2018-05-16 11:31] oehme commented on #5424
Most probably yes, I'll take a look.

[2018-05-16 11:50] eyalbe4 opened #5426 "AmbiguousVariantSelectionException: More than one variant of project :core matches the consumer attributes:"
Hello Gradle Team,
We are the maintainers of the Gradle Artifactory Plugin. We received [this](https://github.com/JFrogDev/build-info/issues/139) issue reported to us, in which an exception is thrown, when the plugin uses the **configuration.getResolvedArtifacts()** API.
This is the exception thrown:
[code]
We're not yet sure in which scenario this exception is thrown and what we need to do differ

[2018-05-16 12:43] wolfs commented on #5415
Fixed via https://github.com/gradle/gradle/pull/5417. The fix will be in 4.8 RC2.

[2018-05-16 12:43] #5415 closed

[2018-05-16 13:00] rgoldberg commented on #5382
FYI: I'm using the Gradle Wrapper 4.7 with the Oracle Java SDK 10.0.1+10 on macOS 10.13.4.

If I don’t add that task definition to my composite build, then running the following in my composite build’s root finishes without reporting any errors, but doesn’t ever build anything (i.e. doesn't run javac on any of my included builds, doesn't create a build directory containing class files in any of my

[2018-05-16 13:08] Vampire commented on #5382
Why do you think "must be properly resolving coordinate-specified dependencies to included builds"?
I don't see your build so I can only guess, but if you e. g. have in `my-app` a dependency on `'foo:my-util:1.0.0'` and then include the build of `my-util` and `my-util' has not declared group `foo` and name `my-util` but something else, then it will not automatically replace your binary dependency,

[2018-05-16 13:09] Vampire commented on #5382
PS: if you use Java 10 it might be a good idea to upgrade to 4.8-rc-1, at least if you start your build with it it sates that it supports Java 10, so maybe something does not work properly with 4.7, I don't know though.

[2018-05-16 13:10] oehme commented on #5424
It was caused by a refactoring in the context of lazy task configuration, since we had no coverage for this scenario. PR is here: https://github.com/gradle/gradle/pull/5428

[2018-05-16 13:25] ljacomet commented on #5413
AFAICT locking a unique SNAPSHOT would force us to treat them as dynamic versions and no longer changing ones. While this is indeed a requested change, I believe it is beyond the scope (and timing) of this issue.

[2018-05-16 13:28] bigdaz commented on #5413
Gradle already supports a dependency on a timestamped version of a SNAPSHOT, and will perform conflict resolution when a dependency on both `1.0-SNAPSHOT` and `1.0-<timestamp>` are present in the graph. So I _think_ we could lock snapshots by adding a constraint on `1.0-<timestamp>`.

[2018-05-16 13:28] ljacomet commented on #5413
Ok, let me try this then.

[2018-05-16 13:38] Vampire commented on #5382
Hm, that sounds strange then.
Are you sure they are not built?
Maybe you just don't see it because of the reduced output.
Try running your build with the `--console=verbose` argument to see what tasks actually are run.
Or try running with `--info` or `--debug` to find out what is strange.
You will never automatically have likewise-named tasks connected automatically as that would not make sense fo

[2018-05-16 13:54] oehme opened #5430 "Cache annotation processor classes"
Javac reloads annotation processors on every compilation, which wastes a lot of time in JIT. Gradle could cache classloaders to be reused on subsequent compilations to speed this up significantly.

Potential problems include processors holding static state, so this may require an opt-in. The exact lifecycle is also an open questions, i.e. when do we release a classloader so that memory can be recl

[2018-05-16 13:56] ghale commented on #5422
This is because with the plain console we print error messages on a separate stream (stderr) than other output (stdout).  In situations where the output from both streams is then joined into a single stream, we can get some interleaving.  In other words, we can ensure that we print a message to stdout and stderr in the correct order, but we can't guarantee that whatever is joining them on the othe

[2018-05-16 13:56] #5422 closed

[2018-05-16 14:00] eskatos opened #5431 "Users should be able to configure test logging using Kotlin DSL"
@eriwen commented on [Wed Apr 25 2018](https://github.com/gradle/kotlin-dsl/issues/836)

It looks like we don't have `Action` accepting overloads for [AbstractTestTask](https://github.com/gradle/gradle/blob/master/subprojects/testing-base/src/main/java/org/gradle/api/tasks/testing/AbstractTestTask.java) beforeSuite, afterSuite, beforeTest, afterTest, and onOutput methods.

### Expected Behavior
I

[2018-05-16 14:55] Vampire commented on #5382
Sure it does.
If it needs the artifact of that build, it builds the artifact of that build.
Otherwise your code that compiles against code on that artifact wouldn't be able to build.
If you want such a `build -> build` dependency, you have to create it yourself, but you can do it also automatically generically like you can include all builds you find automatically.

It just doesn't make sense for

[2018-05-16 14:58] ljacomet commented on #5413
After giving it more thought, supporting of locking unique snapshot version will not be done.

Snapshots are allowed to disappear from repositories. Frequently a repository will only server a limited number of them. And that means that pushing new snapshots could make older ones (potentially locked) disappear.

Since the main goal of dependency locking is reproducible builds this does not seem a g

[2018-05-16 15:24] rgoldberg opened #5433 "Executing a task not explicitly defined in a composite build should execute the same task on included builds"
### Current Behavior
Running a task name that is not explicitly defined in the a composite build does nothing.

e.g., running `gradle build` on a composite build does nothing unless you explicitly define `build` in the composite build.

### Expected Behavior
Executing a task that is not explicitly defined in a composite build should execute the same task on included builds.

e.g., if `build` is no

[2018-05-16 15:32] rgoldberg commented on #5433
This could alternatively be implemented by allowing:

[code]

or

[code]

and searching for the first `Pattern` to match based on order of definition.

[2018-05-16 15:34] rjbell4 commented on #3346
@wolfs I haven't seen this yet, as we are still working on completing and then rolling out our infrastructure.  But I anticipate us having a large number of large artifacts.  _You_ might not know the size of my artifacts, but _I_ do (or at least I should be able to find out), and I can therefore set our cache size to a reasonable value.  So if it's unset by default but available to be set, for exa

[2018-05-16 15:38] #5397 closed

[2018-05-16 15:38] #5401 closed

[2018-05-16 16:09] noel-yap commented on #1400
I'm thinking this feature could also be useful to be able to create a Github Release Asset repository (eg to access assets in https://github.com/nilslice/protolock/releases).

[2018-05-16 17:30] geekmug commented on #2862
In the absence of support for the build cache, PMD 6.2 added a "-no-cache" option that disables this warning (https://github.com/pmd/pmd/pull/954).

[2018-05-16 18:20] mkobit commented on #1400
@noel-yap that would definitely be helpful, I don't believe it can done today using the current APIs (see https://github.com/gradle/gradle/issues/5322 )

[2018-05-16 18:23] wilkinsona opened #5434 "Improved pom support gives unexpected importance to versions of optional dependencies"
### Expected Behavior

[code]

The optional dependency in `spring-beans` on `snakeyaml` has no effect on the version of `org.yaml:snakeyaml` that is resolved.

### Current Behavior

With improved pom support enabled, the optional dependency in `spring-beans` on `snakeyaml` causes 1.20 of `snakeyaml` to be resolved.

### Context

The current behaviour of improved pom support is problematic from a l

[2018-05-16 19:47] big-guy opened #10654 "Use decoration for all DomainObjectCollections"
In https://github.com/gradle/gradle/pull/5412, we found that the filtered task container created with `withType(Class)` _only_ was no longer decorated, so calls like `withType(JavaCompile).configureEach {}` in Groovy would be called with the wrong delegation order.

Looking at the other `DomainObjectCollection` implementations, many of them have the same sort of problem. Some of the collections ha

[2018-05-16 23:25] ajwhite commented on #1369
A good example of a problem this would solve that recently affected many users https://github.com/facebook/react-native/issues/13094#issuecomment-389568018

[2018-05-17 00:36] ldaley commented on #5422
We have to continue to provide some input to users that what they are now waiting for is the scan publishing. Batching up all the output would defeat that. We'll have to find another solution.

[2018-05-17 00:44] ldaley commented on #3244
This is now an issue for build scans, so I would like to us to reconsider priority. Build scans provide similar types of task statistics, that do consider included builds _and buildSrc_.

We should change this end of build summary to consider _all_ tasks that were run.

[2018-05-17 00:51] ldaley commented on #5422
@marcphilipp @ghale it is worth noting that the output in question here is _not_ written concurrently. Logically, the build scan plugin doesn't write to stdout until after the stderr is written earlier (i.e. after the related `println` calls have returned).

If gradle/gradle-native#670 can be done according to its title, that would indeed solve this. However, I don't really know what the conventio

[2018-05-17 01:14] ymwang1984 commented on #5347
Yes, it can work now without throwing any exceptions.

But now the build scan is disabled for reload which is a behavior change. Historically, teams in my organization used build scan to do profiling and debugging with hot reload performance issues. Now this functionality is lost. Is there any chance we could re-enable this? The current behavior is that we get one build scan for each reload.

[2018-05-17 01:16] ldaley commented on #5041
I would like to provide an alternative interpretation.

The problem with `StartParameter` is that it conflates:

1. What was requested of this invocation
2. What is Gradle's default behaviour
3. What is Gradle going to do

This is problematic when a build administrator wants to change (2), as is the case here. I think this is a perfectly reasonable request.

Ideally, `StartParameter` would _only_

[2018-05-17 04:06] dengyuhan opened #5436 "How to exclude java files in aar when generating apk?"
I quoted appcompat-v7, but I want to exclude its java file when generating the apk, how to achieve?
[code]

[2018-05-17 06:17] nkrode opened #5437 "Composite build Exception: Problems writing to Binary store"
We have a composite build of three fairly large multi-project java builds. When we first run gradle idea we usually see exceptions of kind:

Could not resolve all dependencies for configuration

Immediately running gradle idea seems to resolve the problem.  Wondering if this a known issue, we are using:

------------------------------------------------------------
Gradle 4.7
----------------------

[2018-05-17 06:27] AlexeiVainshtein commented on #4783
Hi @oehme

I just wanted to ask if you had a chance to go over what I've send previously?

Thanks

[2018-05-17 07:13] staffanf commented on #3768
@oehme I followed the advice in https://www.stefan-oehme.com/use-buildSrc to move my own plugins module dependencies to buildSrc and now I can't use --includeBuild to get the fast feedback. This removed the need for some boilerplate `buildScript` blocks which I had in several build scripts .

We use the plugins both in buildSrc for extending tasks for specific purposes and in the subprojects as-is

[2018-05-17 07:43] oehme commented on #3768
buildSrc is not yet a normal composite and thus can't take part in substitution. This is the long term goal though.

Instead of using buildSrc you can use an included build that is part of your repo and always included. Then just depend on it in your root project buildscript block. This roughly reproduces the behavior of buildSrc, but should also make including other builds work. I might write ano

[2018-05-17 07:50] oehme commented on #4783
Not yet, I'll get back to you next week.

[2018-05-17 07:51] oehme commented on #5436
Please use the Gradle forum or stackoverflow for general questions about android development.

[2018-05-17 07:51] #5436 closed

[2018-05-17 08:41] #5424 closed

[2018-05-17 11:05] AlexeiVainshtein commented on #4783
Great thanks appreciate this @oehme

[2018-05-17 14:57] #5413 closed, assigned to ljacomet

[2018-05-17 18:46] ghale commented on #5138
@diacone This has actually been broken for some time with the rich console, but the plain console simply caught up with those changes in 4.7.  I think ultimately we may want to move away from this pattern, but obviously we don't want to prevent you from solving your problems.  It would be good to understand what your use case is - what is the motivation for setting the logger here?  Are you just t

[2018-05-17 20:43] stmlange commented on #5090
Hi folks, first of all thanks for the fix and investigation!
Since it turned out to be an actual problem could this be (re)labeled with "affects-version:4.7" so it pops up as known issue in the release notes?

[2018-05-17 21:15] soberich opened #5448 "Annotation processing heavily fails builds with Gradle 4.8+ comparing to 4.7"
### Current Behavior
We are experiencing very tough time with trials to build projects with Gradle 4.8 and 4.9 which seems to behave quite differently with adding sourcefiles to existing sourceset
#### Edit
~~It is clearly due to attempt to force annotation processors incremental compilation.
(I would be happy if you say like, hey, this is all JpaModelGen fault, but unfortunately this aggressive

[2018-05-17 21:34] bigdaz commented on #3923
@sonicsnes I just tried to reproduce this issue, and it seems that we might have fortuitously fixed this with our major refactoring of the resolution engine, that occurred between 4.6 and 4.7.

[code]

Now it's entirely possible that we've just tweaked the ordering or conflict resolution, and that the problem persists. However, conflict resolution is now much simpler internally, so I'm hopeful tha

[2018-05-17 21:34] #3923 closed

[2018-05-17 21:40] bigdaz commented on #3923
Just to clarify, I'm closing this issue based on more than hope, it makes sense that the refactored resolution engine fixes this problem.

The resolution engine no longer does pairwise conflict resolution as new dependencies are discovered. Instead, we re-evaluate the entire set of dependency constraints when a new one is discovered, discarding the previous result. This made the logic much simpler

[2018-05-17 21:57] oehme commented on #5091
I've profiled this and the main problem is that we often throw away project-independent analysis. For instance, even for the simplest `buildSrc` project we go through the huge `gradleApi` jar and

- calculate a plain hash
- calculate a `@Classpath` hash
- calculate a `@CompileClasspath` hash
- analyze it for incremental compilation
- see if it contains annotation processors

The in-memory parts of

[2018-05-17 22:27] bigdaz commented on #4186
This was fixed in Gradle 4.7: when multiple `prefer` version constraints are discovered, the highest one is honoured. Gradle will attempt to find the best matching version considering all input constraints,  including version ranges.

The behaviour for `failOnVersionConflict()` has not been fixed: a `prefer(x)` constraint is strongly honored in the presence of other `prefer` constraints, causing r

[2018-05-17 22:30] #4186 closed

[2018-05-17 22:33] oehme commented on #5448
We don't force incremental compilation at all. Processors have to opt-in. If they don't, then everything should work exactly like before. I'll have a look at your example project.

[2018-05-17 22:36] oehme commented on #5448
The example doesn't compile at all, no matter which Gradle version. Can you please provide a working example?

[2018-05-17 22:39] oehme commented on #5448
The example has a syntax error in one file. I was able to fix it, but you might want to adjust it for others to try out.

[2018-05-17 22:55] schmohlio opened #5449 "Cannot create sourceset using main directory in Play applications"
Hey all,

I'm trying to create a shared library that requires Play dependencies, and can be imported into other Play projects.

The Gradle Play plugin builds into `build/playBinary/` instead of `build/`, so I'm attempting to use the main directory (`src/main/java`) as my `sourceset` in the shared project.

In order to resolve the Play dependencies in the main directory, I need to make it a `source

[2018-05-17 22:56] oehme commented on #5448
I can reproduce the issue on the command line by adding `--rerun-tasks`, which is what IntelliJ uses when you click on `rebuild project`.

[2018-05-17 23:14] oehme commented on #5448
This is unrelated to the changes to annotation processing, but caused by a change to input analysis.

@wolfs We now pass the generated source files to the compiler as "files to compile" because we collect them *before*  the stale output cleaner has run. Can you take this one over?

[2018-05-17 23:33] ameliedagenais opened #5450 "GRADLE_METADATA feature preview: task generateMetadataFileForPublication failed with NullPointerException"
### Expected Behavior
module.json file should be generated successfully

### Current Behavior
Task `generateMetadataFileForPublication` fails with this error:

[code]

And the module.json ends up being half-generated:

[code]

### Context
I've been interested to try the GRADLE_METADATA feature for a while, because I'm very interested to use the module.json metadata file. I tried a few things, incl

[2018-05-17 23:40] adammurdoch commented on #5110
This is fixed in 4.8.

[2018-05-18 00:41] adammurdoch commented on #911
@sheldonneuberger there are two problems in the description, not being able to use a `flatDir` repository and not being able to use a `fileTree` dependency. Which one of these are you running into?

[2018-05-18 01:39] ldaley commented on #5347
We will restore the Gradle 4.6 behaviour with 4.8-rc-2.

[2018-05-18 01:48] nareshl119 opened #5451 "pmd plugin:java.lang.IllegalArgumentException: Unknown Language 'xml', supported Languages are java."
### Expected Behavior

We should be able to run pmd custom rules for java and xml files.

### Current Behavior

We are getting below error while running xml custom rules with gradle.
java.lang.IllegalArgumentException: Unknown Language 'xml' for ruleXmlRuleDemo, supported Languages are java.

We also took the help from pmd team regarding this issue. Please check it here.
https://github.com/pmd/pmd

[2018-05-18 02:01] big-guy opened #5452 "pmd plugin:java.lang.IllegalArgumentException: Unknown Language 'xml', supported Languages are java"
@nareshl119 commented on [Thu May 17 2018](https://github.com/gradle/gradle-native/issues/682)

### Expected Behavior
We should be able to run pmd custom rules for java and xml files

### Current Behavior

We are getting below error while running xml custom rules with gradle.
java.lang.IllegalArgumentException: Unknown Language 'xml' for ruleXmlRuleDemo, supported Languages are java.

We also took

[2018-05-18 02:05] big-guy commented on #5452
Ah, I see you already opened #5451.  Closing this as dupe.

[2018-05-18 02:05] #5452 closed

[2018-05-18 03:42] sheldonneuberger commented on #911
@adammurdoch fileTree.

[2018-05-18 06:08] marcphilipp commented on #5450
@gradle/dependency-management Can you please take a look?

[2018-05-18 06:46] adangel commented on #5451
The missing xml language problem stems from the default dependencies, that are added for the pmd plugin: https://github.com/gradle/gradle/blob/master/subprojects/code-quality/src/main/groovy/org/gradle/api/plugins/quality/PmdPlugin.java#L175-L181
To support xml, the dependency `"net.sourceforge.pmd:pmd-xml:" + extension.getToolVersion()` needs to be added.
Currently it seems, that the gradle pmd p

[2018-05-18 07:33] #5110 closed

[2018-05-18 08:26] alexandrenavarro opened #5454 "Gradle should support dependency resolution through enterprise proxy with kerberos / activedirectory"
Hi,

I wanted to migrate from maven to gradle (4.7) in my firm. We have to use a proxy with authentication (ActiveDirectory with domain EUR) to retrieve plugins / dependencies …

    When tried this command

./gradlew -Dhttp.proxyHost=proxy-mkt.int.world.socgen -Dhttp.proxyPort=8080 -Dhttps.proxyHost=proxy-mkt.int.world.socgen -Dhttps.proxyPort=8080 -Dhttp.proxyUser=EUR/anavarro -Dhttps.proxyUser=

[2018-05-18 08:54] ldaley commented on #5347
Confirming that this is resolved for 4.8-rc-2.

[2018-05-18 08:54] #5347 closed

[2018-05-18 09:10] diacone commented on #5138
@ghale The task header (if you meant \n + the whole line) is something I don't want to be part of the output. Ideally I don't want to see anything except for task outputs.

But the ultimate goal is to be able create a structured log from the build (including stdout/stderr). So, I wouldn't have to deal with that if there is a listener/event emitor wich would provide ALL events from the build or at

[2018-05-18 10:37] oehme commented on #5451
You can create your own PMD task if you want to analyze anything else but Java. We might change the default to analyze all sources (instead of just Java) depending on how PMD responds to files with unknown extensions.

[2018-05-18 10:40] #5451 closed

[2018-05-18 10:51] soberich commented on #5448
@oehme
I have updated the issue and repo. Please see above why we add that line.

p.s.

this was copied from kotlin btw. It won't work. Only `sourceSets.main.java.srcDirs += file("$buildDir/classes/java/main")` works on groovy for us.

[2018-05-18 11:40] ghale commented on #5422
I'm not entirely sure I understand what you mean when you say a "happens-before contract", but regardless, I don't think we have any expectation in this scenario.  All we know is that we're not attached to a console, so we don't make any assumptions about what the consumer might want to do with the output.  We simply write to those streams in a particular (and determinate) order.  If the consumer

[2018-05-18 11:57] marcphilipp commented on #1085
@upcrob Thanks for spiking this on your branch! However, we need to make sure to only clean caches that are currently not in use. Thus, at least for the shared caches (like `modules-*`), we should follow the same strategy that's used by the build cache, namely cleaning up the cache when closing it.

Thus, I propose the following strategy for the shared caches like `modules`, `jar` and `transforms`

[2018-05-18 12:15] melix commented on #5450
@ameliedagenais Thanks for the report, and glad to see someone giving the new metadata format a try. The error you see is definitely unexpected. I can see different possible causes:

1. your plugin uses custom publications, using internal APIs, and something bad happens (seems unlikely, but I want to mention it)
2. there's an ordering issue somewhere, and more importantly the code that is supposed

[2018-05-18 12:27] oehme commented on #1085
Sounds good to me. We may want to provide different periods for the two main categories of caches:

- caches that store something you can easily recreate (e.g. transforms, task outputs etc)
- caches that store something that's external (e.g. dependencies, gradle distributions)

The latter probably deserves a higher default setting than the former. Imagine you go on a week of vacation and having to

[2018-05-18 12:29] melix commented on #1085
+1 to what @oehme said. I maintain several OSS projects and it's not unusual for me to reopen a project once in weeks, if not months. Something like 3 months would be more reasonable for external dependencies IMO. Note that we could have a lighter policy for dependencies which are `-SNAPSHOT`.

[2018-05-18 12:40] petergeneric opened #5458 "Gradle init from maven: ignoring dependencies declared in pom project parents of jar projects"
I'm using gradle init on https://github.com/petergeneric/stdlib and getting build failures because there are dependencies that are not getting picked up (specifically, guice/common/build.gradle does not include dependencies defined in guice/pom.xml)

### Expected Behavior
I'd expect gradle init to either generate a build.gradle with subprojects + dependencies or to put those dependencies directly

[2018-05-18 12:52] wolfs commented on #5448
The problem will be fixed in 4.8 RC2. Fixed via #5455.

[2018-05-18 12:52] #5448 closed

[2018-05-18 12:53] oehme commented on #5091
There also is a bit of the opposite going on: For instance, we seem to be storing `@CompileClasspath` snapshots in the user home, no matter for what file. So a lot of the snapshots in the user home will be project-specific ones. The same is true for compiled build scripts or Kotlin DSL accessors. They are project-specific, yet stored in the user home. Right now I don't see a clear pattern what goe

[2018-05-18 15:03] marcphilipp commented on #1085
So, a config property per cache?

- `org.gradle.caching.cleanupperiod.modules`
- `org.gradle.caching.cleanupperiod.jar`
- `org.gradle.caching.cleanupperiod.transforms`

Or some categorization?

- `org.gradle.caching.cleanupperiod.recreatable`
- `org.gradle.caching.cleanupperiod.external`

@oehme @melix Which one would you prefer? Or, do you have other ideas?

[2018-05-18 15:12] oehme commented on #1085
The latter I think.

[2018-05-18 15:30] jotel opened #5466 "With Improved pom support `transitive=false` property of dependencies is ignored"
### Expected Behavior
From the Gradle example  at [Importing version recommendations from a Maven BOM](https://docs.gradle.org/4.6/userguide/managing_transitive_dependencies.html#sec:bom_import) section , when you mark modules as non-transitive i.e.
[code]
you'd expect that only `com.google.code.gson:gson:2.8.2` and `'dom4j:dom4j:1.6.1` will be present in the compileClasspath configuration. But a

[2018-05-18 15:46] jotel opened #5467 "BOM import cannot provide version recommendations for non-transitive configurations"
### Expected Behavior
For the following settings
[code]

I'd expect that the `com.google.code.gson:gson:2.8.2 and 'dom4j:dom4j:1.6.1` will be resolved in the `foo` configuration.

### Current Behavior
Configuration can't be resolved, Gradle fails with an error `Could not resolve all files for configuration ':foo'.`

### Context
It's not posisble to use recommendations using improved pom support on

[2018-05-18 16:00] melix commented on #5467
It's an interesting case, and it actually doesn't surprise me. `foo` is not transitive, and we add a dependency on `org.springframework.boot:spring-boot-dependencies:1.5.8.RELEASE`. Because we're not transitive, we don't get the dependencies of `spring-boot-dependencies`, so we cannot suggest versions for `com.google.code.gson:gson`.

This is _kind of_ related to #4422 (we don't _inline_ dependenc

[2018-05-18 16:35] ameliedagenais commented on #5450
@melix Sorry for the confusion around the name of the task, I was trying to scrub out confidential information in the task name and just didn't replace it with anything which ended up being confusing. It would actually look more like `generateMetadataFileForMyIvyPublication`. Actually, I've been able to get a much simpler repro by digging through how our custom plugin works and hopefully that will

[2018-05-18 18:34] melix commented on #5450
That's correct, but there's a good reason for that. Ivy and Maven metadata are not "variant aware", or, at a simpler level, component aware. We don't know what you are publishing: is it a Java library? Is it test fixtures? Is it a variant with an `-all` jar? Without the proper model we can't tell. Gradle metadata models _components_, so if you don't have a component, we don't know what to do.

Eve

[2018-05-18 22:28] upcrob commented on #1085
My historical use case for making this configurable would be to help clean up shared/non-shared build server caches (as opposed to local development). Even if things end up getting re-downloaded semi-regularly, you frequently have some sort of “local” caching mechanism (e.g. Artifactory). Running a cache cleanup task (nightly, for example) on build nodes would help keep them somewhat clean and hel

[2018-05-19 12:08] denisk20 commented on #2128
@oehme this is fixed for libgdx project that I have posted above, but is still reproducible on an appengine project. I have created a small repo here for you to reproduce quickly: https://github.com/denisk20/appengine-test
Please consider re-opening.

[2018-05-19 13:32] oehme commented on #2128
@denisk20 The appengine plugin doesn't use `exec` or `javaExec`, but runs the server in a thread directly inside the daemon. This would require a more sophisticated cancellation mechanism, probably with some cooperation from that plugin. Would you mind opening a separate issue for it?

[2018-05-19 14:01] denisk20 opened #5468 "Provide public cancellation API"
This [issue](https://github.com/gradle/gradle/issues/2128) meant to fix the situation when the gradle daemon is killed by executing `CTRL+C` command in the terminal along with the underlying process itself. The fix has been merged into `4.8 rc1` however the issue still appears when running a server using gradle, for example, an instance of local google app engine.

An example project:
https://gith

[2018-05-19 14:06] denisk20 commented on #2128
@oehme I have created an issue: https://github.com/gradle/gradle/issues/5468
Still don't quite understand why killing the server which runs inside the daemon kills the daemon itself, probably my mental picture of how the process spawning works here is wrong.

[2018-05-19 14:14] oehme commented on #2128
@denisk20 The server isn't killed. You are telling Gradle to stop. Gradle cancels the build and waits for 10s. If the build doesn't stop after that the daemon kills itself. The problem are tasks that don't respond to cancellation. We've fixed this for all tasks using `exec`/`javaExec`. But the appengine task is just starting some custom thread which Gradle has no knowledge of or control over.

[2018-05-19 14:16] oehme commented on #5468
The problem here is that the appEngine task doesn't use `exec`/`javeExec` (which supports cancellation), but runs some custom thread that Gradle doesn't know about and can't control. To fix this we'll probably need a public cancellation API for plugin authors.

[2018-05-19 15:43] sksamuel commented on #4912
Hi, I'd like to add some comments to this. As one of the authors of [KotlinTest](https://github.com/kotlintest/kotlintest) which relieves very heavily on Junit5 and it's ability to arbitarily nest tests. You can use our repo as a good example of tests that have [no limit on their structure](https://github.com/kotlintest/kotlintest/blob/newconfig/kotlintest-tests/src/test/kotlin/com/sksamuel/kotlin

[2018-05-19 17:34] Aaron1011 opened #5469 "Internal task ':languageNative:integTest' fails when platform GCC lacks Objective-C support"
When GCC lacks support for compiling Objective-C code (the `cc1obj ` binary is not installed), the Objective-C related tests error with a `NullPointerException`. A stacktrace can be seen [here](https://pastebin.com/raw/pZA2HwD1)

### Expected Behavior
The `:languageNative:integTest` task should print an informative error message explaining that Objective-C support is missing from GCC, or should si

[2018-05-19 17:43] marcphilipp commented on #4912
@sksamuel Thanks for your feedback! I'm already working on this issue and #4252 and intend to remove these assumptions and report events for all nodes of the test tree to support arbitrarily nested structures. I'll make sure to add an integration test that uses KotlinTest.

[2018-05-19 18:48] ajoberstar opened #5471 "Public API for adding to SourceSetOutput.classesDirs"
### Expected Behavior

JVM language plugins need to be able to modify SourceSets similar to core Gradle plugins. Currently, there is no way to add a classesDir to the SourceSetOutput.

### Current Behavior

Currently, you need to use internals:

Either:

[code]

But the signature is [changing in 4.8](https://github.com/gradle/gradle/commit/25f870d43d48265f30d770302f7ff3191002d6a7).

Or you have to

[2018-05-19 19:16] sksamuel commented on #4912
No problem. If you need any early feedback I'm happy to help test your work.

[2018-05-20 09:06] oehme commented on #5091
1. Is now on master
2. Is in this [PR](https://github.com/gradle/gradle/pull/5463)
3. and 4. are mostly done in these two PRs: https://github.com/gradle/gradle/pull/5472, https://github.com/gradle/gradle/pull/5465

I still have to apply the same solution to the incremental compile jar analysis. But already I can see big benefits. `core:integTest` is twice as fast with the PRs above.

[2018-05-20 15:04] JLLeitschuh commented on #5269
@big-guy @w4tson The implications of this bug are a bit wider reaching than originally captured by this bug.

Gathering from what you've stated here, it seems that if you choose to have multiple workers for your tests, and you want to capture Jacoco code-coverage data, there is no way to also get build cache support.

So your options are, build cache support, or tests on multiple workers, but not

[2018-05-20 15:09] wolfs commented on #5269
@JLLeitschuh You are exactly right.

When using the java and jacoco plugins, users have the complicated and unclear choice of...

- Accepting the defaults and not being able to cache their Test execution at all.
- Reconfiguring `jacoco.append=false` so that `Test` will be cacheable. But this comes at the cost of not using parallel test execution.

It would be better if someone could have jacoco an

[2018-05-21 00:50] adammurdoch opened #10624 "Help build and plugin authors discover where a task is realized"
We should implement some initial diagnostics - something simple - to help plugin and build authors figure out which tasks are being realized, so they can rework the usage to make it lazy.

We might, for example, report on any tasks that are realized that are not then executed.

[2018-05-21 00:51] adammurdoch opened #10625 "tasks report should not realize any tasks"
Running `gradle tasks` should not realize any tasks (except the report task). Instead, we should offer ways to declare and configure tasks that can provide the information that the report needs without realizing everything.

[2018-05-21 02:56] DanielThomas commented on #5402
Cool, thanks @oehme!

[2018-05-21 02:56] #5402 closed

[2018-05-21 03:09] adammurdoch opened #5473 "Allow an included build to use file collection dependencies"
Some builds use file collection dependencies to expose certain to consumers prebuilt dependencies that cannot be resolved from some repository. This should work when such a build is included in a composite build.

### Expected Behavior

File collection dependencies should be exposed to other builds in the same composite.

### Current Behavior

File collection dependencies are discarded across buil

[2018-05-21 03:10] adammurdoch commented on #911
I've split out https://github.com/gradle/gradle/issues/5473 to cover the fix for using `FileTree`.

[2018-05-21 05:34] adammurdoch opened #5475 "Do not run a task from an include build more than once"
Currently it is possible for Gradle to run a given task more than once, when an included build is used to build some element of a build script classpath and later also used to build some production dependencies as well.

Instead, Gradle should run a given task no more than once, from any build in a composite (including `buildSrc`). This is to avoid the performance cost associated with doing this u

[2018-05-21 05:42] adammurdoch opened #5476 "Provide an API to query the dependencies of a task without leaking the state of included builds"
For reporting and validation purposes and also for exporting the Gradle model to IDEs and external build tools, it is sometimes necessary to query the dependencies of a task. However, the current APIs expose a `Task` instance. Given this, for tasks in other builds, these APIs need to return a synthetic `Task` whose information is only partially correct, or return the target task itself which leaks

[2018-05-21 10:47] lacasseio commented on #5469
Issue moved to [gradle/gradle-native #689](https://github.com/gradle/gradle-native/issues/689) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-21 10:47] #5469 closed

[2018-05-21 10:49] lacasseio commented on #5469
Thanks @Aaron1011 for reporting this issue. We will consider this use case when improving the tool chain support.

[2018-05-21 14:20] casimiro commented on #4440
It seems to be quite easy to reproduce the bug:
`TERM=xterm-256color gradle` will do it.

While the fix is not released, it's possible to workaround this problem with an alias:
`alias good-gradle="TERM=xterm gradle"` or just
`alias gradle="TERM=xterm gradle"`

[2018-05-21 15:17] bric3 opened #5481 "Add the ability to configure a delay in continuous mode"
Following a discussion on twitter @eriwen, I wondered if it was possible to make gradle delay it's execution in continuous mode.

I have an IDE that _aggressively_ auto save my content on disc, this content may be a coherent compile unit or more likely not, even for non compilation tasks I see gradle zealously running tasks as soon as it sees a file modified. I'd like to alter this behaviour to de

[2018-05-21 15:46] daggerok opened #5482 "Improve CLI task selector"
Hello all,

Very often I have to create some specific tasks to group my other subproject tasks by some parent level gradle multi-module project tasks tree context just to achieve possibility use single task to run some groups of similar tasks in other subprojects. So as more subprojects I have and as more different areas I need to cover - gradle build-files growing more and ugly..

### Expected Be

[2018-05-21 16:37] ameliedagenais commented on #5450
Thanks for fixing the NPE and providing a better error message. The explanation makes sense, I can fix my project to define _components_.

[2018-05-21 17:33] wreulicke commented on #5184
@marcphilipp ping

[2018-05-21 17:40] xenoterracide commented on #5404
I'd like to add, not just a memory improvement to give a GAV an alias, but code maintenance improvement. For example over the lifecycle of work project, the GA(V) for javax.persistence will have changed at least 3 times, if not 4.

[2018-05-21 19:49] jkff opened #5484 "JUnit with RunWith(Suite.class) runs inner tests twice"
`FooTest.java`:

[code]

`build.gradle`:

[code]

### Expected Behavior
When I do `./gradlew build`, the `testInner()` method should be run once.

### Current Behavior
The method is run twice.

### Context
Running tests multiple times is wasteful.

### Steps to Reproduce (for bugs)
[gradle-test.tar.gz](https://github.com/gradle/gradle/files/2023903/gradle-test.tar.gz)

### Your Environment
 * Buil

[2018-05-22 06:04] #3010 closed

[2018-05-22 06:05] blindpirate commented on #3010
Closed by #4759

[2018-05-22 06:45] marcphilipp commented on #1085
The intended use of these configuration options is to put them into the `gradle.properties` in the user's Gradle home directory, not the project directory. The latter would indeed lead to a somewhat strange behavior but as it would not really be harmful, I think we can live with that.

For the properties, I'm wondering whether we should be using the `org.gradle.caching` "namespace" which is curren

[2018-05-22 07:57] lptr commented on #1085
Until we actually use the same infrastructure for dependency management caching and build cache, I think a separate namespace like the one you suggested makes a lot of sense.

[2018-05-22 10:31] sksamuel opened #5489 "Set gradle version as property at runtime"
In the JVM it would be very useful (at least to me!) to be able to detect which version of gradle is being used for a build. This would allow me to add a workaround for a gradle issue that only affects 4.7/4.8 for example. There are gradle properties for the worker (org.gradle.test.worker) and native mode. So org.gradle.version could be added too.

[2018-05-22 10:54] oehme commented on #5489
There's already Gradle.getGradleVersion, so I'm not sure what's missing.

[2018-05-22 11:02] sksamuel commented on #5489
What I'm referring to is detecting the version of gradle inside your the code being built, and not inside the gradle build file itself.

[2018-05-22 11:10] jillesvangurp opened #5490 "npe on clean build when deleting local build-cache in clean"
### Expected Behavior
I added settings for a local build-cache to my project so I can delete it when doing a build clean to force the cache to be gone and everything to run:

[code]

So, I added this to my build file to do the cleanup:

[code]

What should happen is that when I do a gradle clean build is that it first cleans up and then builds everything from scratch without nullpointer exceptions

[2018-05-22 12:56] oehme commented on #5489
Why would the code being built depend on the Gradle version?

[2018-05-22 13:01] sksamuel commented on #5489
There's a bug in 4.7 (and probably 4.8) whereby gradle doesn't support nested tests in junit properly. There is an issue already open, and it's getting fixed. However in the meantime it would have been helpful if I could add a workaround in my project (https://github.com/kotlintest/kotlintest/issues/336). Ideally I'd only want the workaround to appear when it's in a version of gradle that has the

[2018-05-22 13:05] oehme commented on #5489
Okay, so it's just to work around a bug. Here's how you can do that workaround in your build until the bug is fixed:

[code]

[2018-05-22 13:05] #5489 closed

[2018-05-22 13:23] sksamuel commented on #5489
Ok, but now I have to tell every user of KotlinTest to do this. Which means people will open up issues saying KotlinTest is broken when they try to run it with latest gradle.

It's not the _end of the world_ but I think setting the gradle version during a build would be useful regardless.

[2018-05-22 13:56] oehme commented on #5489
Let's get the bug fixed instead of adding another feature. The timeline would be the same - Gradle 4.9

[2018-05-22 13:58] wszeboreq commented on #1108
@kenzierocks: For me, your solution looks very promising.

[2018-05-22 14:34] ljacomet opened #5494 "Dependency locking not taken in account for configurations without dependencies"
A configuration without dependencies uses a short circuit resolver and thus ignores dependency locking:
* Existing lock files are not validate
* Lock files are not written when requested

[2018-05-22 15:27] oehme opened #5497 "4.8 RC1 breaks Dagger (and possibly other processors)"
`Processor#getSupportedOptions` must not be called before `Processor#init`. See https://github.com/google/dagger/issues/1187

[2018-05-22 16:02] jillesvangurp commented on #5490
I want clean to properly clean: remove any trace of the build having run, including caches. Since there seems to be a missing feature (why?) for forcing dropping the cache to be dropped, I decided to implement that myself and ran into the above. Running the clean separately indeed works. In any case, an npe is always a bug in my book so, it might be worth fixing that just on principle.

[2018-05-22 17:33] mhldtna commented on #3839
I tried this, and it didn't work.  Specifically, I put this in build.gradle for one project in a multi-project build:
`
  eclipse {
	classpath {
	   file.whenMerged {
	       entries.each { entry ->
	            if (entry instanceof org.gradle.plugins.ide.eclipse.model.Output) {
	               entry.path = entry.path.replace('bin', 'build/classes/')
    			}
		 	}
		}
	}
  }`

After refreshing th

[2018-05-22 20:58] #5494 closed

[2018-05-22 21:51] adammurdoch commented on #4895
This is fixed now. The fix will be in 4.9.

[2018-05-22 21:51] #4895 closed

[2018-05-22 23:36] adammurdoch commented on #3490
The changes in #5418 and #5474 rework error handling so that failures are collected only after all builds have completed and then reported.

[2018-05-22 23:36] #3490 closed

[2018-05-23 01:41] adammurdoch commented on #4420
This is fixed in Gradle Enterprise 2018.2 and also the public scans.gradle.org instance.

[2018-05-23 01:41] #4420 closed

[2018-05-23 05:29] interviewQ commented on #4369
Has this issue been fixed in Gradle 4.7 ? I am seeing this issue in gradle 4.6 and deciding if upgrading to 4.7 will help.

[2018-05-23 05:45] adammurdoch commented on #4369
There are a bunch of C++ compile performance improvements in 4.8-rc-1. These may or may not improve your build, but we are seeing builds that are now much faster with 4.8-rc-1 than they were with 4.2 or any other release).

There aren't any major improvements between 4.6 and 4.7, however, so I'd suggest giving 4.8 a try instead of 4.7.

[2018-05-23 06:48] marcphilipp commented on #5484
Please use `@RunWith(Enclosed.class)` instead of `@RunWith(Suite.class)` for this use case.

[2018-05-23 06:48] #5484 closed

[2018-05-23 07:49] canthony commented on #1366
@oehme IDEA's native importer, though, doesn't allow us to customise the modules at all.

https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000575470-IntelliJ-2018-Gradle-Sync?page=1#community_comment_360000195270

[2018-05-23 08:42] oehme commented on #1366
@canthony That's not true, have you followed the discussion above? It is highly customizable, taking input both from Gradle's built-in idea-DSL as well as from the additional DSL added by the plugin that @nskvortsov wrote.

[2018-05-23 08:51] canthony commented on #1366
@oehme I did try the extended plugin on a big IntelliJ/Gradle project, and the DSL for the ideal modules did not appear to be called when synchronised from inside IntelliJ, but was when called from the original gradle plugin. This h appears to follow what the reply on the forum in previous comment said.

I shall retry with a smaller and simpler test case.

I apologise if I appeared to be overly cr

[2018-05-23 09:22] nskvortsov commented on #1366
@canthony the idea dsl extension plugin is at a very early stages at the moment and not much customization is implemented for idea module. Would you mind opening an issue that describes your requirements here https://github.com/JetBrains/gradle-idea-ext-plugin/issues ?

[2018-05-23 09:56] canthony commented on #1366
@nskvortsov I will give it a go - but, essentially and ideally, I'd simply want the DSL in the existing idea plugin to apply when synced from within the IDE!

FWIW, I can confirm that currently it *isn't*. My simple test case below - based on the unit test in the extension, and then adding a directory dependency to a module - only works when the idea task is called directly, and that generated IDE

[2018-05-23 10:20] #5193 closed

[2018-05-23 10:57] panchenko commented on #1278
@AlexByte There is an answer on [SO](https://stackoverflow.com/questions/1677994/what-is-the-significance-of-the-pom-file-that-maven-places-in-a-jar-file-is-it).

[2018-05-23 10:58] nskvortsov commented on #1366
@canthony when idea performs the import, actual `iml` files are created by the IDE and not passed back to Gradle execution. So, no content manipulations (`beforeMerged`, `afterMerged` and `withXml`) clauses will be executed.

What Idea Extended DSL aims for, is providing additional configuration options to cover existing content manipulation cases. That is why I would really appreciate, if you cou

[2018-05-23 11:42] oehme commented on #1366
Instead of synthesizing module dependencies in a content hook, just add a normal dependency to a custom Configuration and add that Configuration to the appropriate scope in the module configuration DSL.

[2018-05-23 11:47] oehme commented on #1366
Actually Gradle could make the `whenMerged` hook work since it doesn't require an actual XML file. We can open another issue for that. But your use case would be better modeled as described above.

[2018-05-23 12:44] big-guy opened #10627 "Deprecate configure-on-demand"
- Deprecation message
- Documentation
- Explain why it's going away
- Explain other techniques they can use to reduce build time (lazy task API)
- Need to see improvement from lazy task API

[2018-05-23 12:55] big-guy opened #10628 "Instrument gradle/gradle build with lazy task improvements"

[2018-05-23 13:42] canthony commented on #1366
@oehme @nskvortsov I can confirm that custom config + tweaking the idea module scopes does exactly what I want it to. Thank you!.

[2018-05-23 14:19] tmwarren97 opened #5505 "gradle distribution depends on jackson-databind version 2.8.11 which has insecure deserialization vulnerability (CVE-2018-5968)"
### Expected Behavior

The latest gradle distribution should include jackson databind libraries version 2.9.4 or above instead of version 2.8.11.

### Current Behavior

The latest gradle distribution includes jackson databind libraries version 2.8.11 and have been flagged for insecure deserialization vulnerability (CVE-2018-5968).

### Context

NIST has flagged the jackson-databind libraries versi

[2018-05-23 15:28] liblit commented on #4970
I now find myself in the same situation: I would like to generate JNI headers in the same compilation task that builds bytecode files, rather than running `javac -h` separately with all of the redundant work that implies. @ThadHouse, you closed this issue soon after opening it. Did you find a better alternative?

[2018-05-23 15:50] Kool-Koder opened #5506 "Gradle 4.7 with Java 9/10 cannot run load FXML files"
Hi,

I have tried multiple combinations. Apparently, Gradle 4.7 with Java 1.8 can load the FXML files and display it.

However, with Gradle 4.7 (Java 9/10), it is not possible to load the FXML files as the "package does not exists". Is there a bug or some limitation with Java 9/10? Thanks! :)

Attached with error message below.

![gradle](https://user-images.githubusercontent.com/39305371/40435737

[2018-05-23 15:53] #5497 closed

[2018-05-23 15:56] liblit commented on #4970
Excellent! Thank you for the speedy reply. I look forward to trying out your Gradle JNI plugin soon.

[2018-05-23 16:00] eskatos opened #5507 "ArtifactResolutionQuery results order should be consistent for a given Gradle version"
### Expected Behavior
Executing the same query should yield results in consistent order.

### Current Behavior
Query results order is changing from one execution to the other.

### Context
We observed results of the very same query with changing order in the Kotlin DSL IDE script dependencies resolver, when querying for sources.

See https://github.com/gradle/kotlin-dsl/issues/891

This usage of a

[2018-05-23 17:49] kazvictor commented on #1340
I ran into this for the `ext` property. Here is a link to a stackoverflow question that details the use case:
https://stackoverflow.com/questions/50477558/changing-default-gradle-dependency-file-extension

[2018-05-23 21:10] adammurdoch commented on #5473
This is fixed via https://github.com/gradle/gradle/pull/5503. The fix will be in 4.9.

[2018-05-23 21:10] #5473 closed

[2018-05-23 21:14] adammurdoch commented on #4370
This is fixed via #5474 and #5418 (and #5503).

[2018-05-23 21:14] #4370 closed

[2018-05-23 21:25] adammurdoch commented on #911
The `FileTree` case is fixed now. The fix will be in 4.9. I'll leave this issue open as the `flatDir` case is not yet addressed.

[2018-05-23 21:26] willis7 opened #5509 "sbt play routesImport equivalent"
### Expected Behavior

My generated `ReverseRoutes.scala` file should include the line `import _root_.extensions.Binders._` but it does not.

### Context

I'm looking for the gradle play equivalent of  the snippet below from sbt
[code]
Is this feature available in Gradle Play? if not, is there a workaround? I am currently trying to port away from sbt and this is the last stage  🤞🏼

[2018-05-23 21:31] adammurdoch commented on #5377
We'll split this into a few steps. The first will be to migrate the plugins to add project level conventions while leaving the extensions in place for backwards compatibility (https://github.com/gradle/gradle-native/issues/681)

Later, we can:

- migrate the source set level conventions
- update the documentation and guides
- deprecate the extensions and related types
- deprecate the extension mec

[2018-05-23 21:44] willis7 commented on #5509
Further to my last comment, it looks like there is a feature in the code to support this:
https://docs.gradle.org/current/dsl/org.gradle.play.tasks.RoutesCompile.html#org.gradle.play.tasks.RoutesCompile:additionalImports

However, having spent some time away from Gradle, I'm struggling to implement this.

[2018-05-23 21:47] willis7 commented on #5509
Ok, I was too hasty in opening this ticket - the answer is clearly provided on SO

https://stackoverflow.com/questions/44208911/gradle-compileplaybinaryplayroutes-is-not-generating-all-imports

[2018-05-23 21:47] #5509 closed

[2018-05-23 22:42] myalcin81 commented on #937
I have to same problem with @Argelbargel

[2018-05-23 23:03] sayniv opened #5510 "Task with a doLast block using a lambda is never up-to-date"
### Expected Behavior

Gradle should allow plugins to add doLast blocks to tasks with a lambda.

### Current Behavior

Using lambdas in plugin to add doLast block to tasks breaks cacheability.

### Context

I am working with a plugin that adds a doLast block to tasks of type checkStyle. This plugin is written in Java and is compiled separately and used as a dependency. In the plugin we add a doLas

[2018-05-24 00:41] trejkaz opened #5511 "When a JUnit test is skipped due to an assumption, the reason should be reported"
### Expected Behavior

We have a test like this:

    @Test
    public void testRelativise_WindowsShortFileNames()
    {
        assumeThat(precondition1(), is(true));
        assumeThat(precondition2(), is(true));

        // ... test code follows ...
    }

When this test gets skipped due to an assumption not being met, I'd like to see in the XML reports why that occurred, so that the reason can

[2018-05-24 01:45] adammurdoch opened #5512 "Dogfood dependency capabilities with Groovy builds"
A common problem people run into with Groovy builds is that the `groovy-all` library provides the same API as a bunch of other `groovy-x` libraries. This is exactly the scenario that capabilities are intended to help with, so we should use them.

Two options:

- Change the `gradle init` to use capabilities instead of exclusions in the generated builds.
- Change the `groovy` plugin to declare these

[2018-05-24 06:35] adammurdoch opened #5513 "Stabilize and document the JVM plugin project level extensions"
The work in https://github.com/gradle/gradle-native/issues/681 will change the JVM plugins to start the migration from using convention objects to using extension objects at the project level.

For this issue, stabilize these new types enough so they can be documented, and so that all usages of the convention properties in documentation can be replaced with the extension objects instead.

This wou

[2018-05-24 06:41] wolfs commented on #5510
@sayniv Thank you for reporting. I am surprised by the bug report, given that the underlying problem should have been fixed in Java 8u40 (see the [JDK bug](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8067422)).

I guess this is something different, right? So the code of the plugin does not change (it is compiled separately) and still the class name of the lambda changes?

[2018-05-24 06:57] marcphilipp commented on #5511
Would the message be enough or do you need the full stacktrace?

[2018-05-24 07:02] trejkaz commented on #5511
The message might well be enough. Usually the assertion is called directly from the test class, and anything further would go into the test runner anyway.

[2018-05-24 07:29] oehme commented on #5510
Independently of this bug, don't we deactivate the cache with custom actions anyway? After all they can introduce new, untracked outputs that could break caching.

[2018-05-24 07:43] tjni opened #5514 "(Minor) Redundant Play Routes Warning"
### Current Behavior
If I am using Scala 2.10 and Play 2.4, I will see the following redundant warning message:

### Context
The code in RoutesCompilerFactory emits this message like so:

[code]

If the `scalaVersion` is already 2.10, I believe we can skip printing this message. This is absolutely not a big deal but was reported to me once internally at my company, so I'd like to clean this up whi

[2018-05-24 09:27] lptr commented on #5510
There is no major difference between task actions declared via `@TaskAction` and `doLast()`. For each action we assume that inputs and outputs are properly declared (either via `@Input` annotations or via the runtime API). It's not an air-tight system by any means, as we simply trust that things are set up properly.

[2018-05-24 12:02] rgoldberg opened #5519 "./gradlew idea on master branch fails"
I forked this repo.

`./gradlew idea` on `master` branch (run on Oracle Java SDK 10.0.1+10 on macOS 10.13.4) fails with the following output:

[code]

[2018-05-24 12:04] #5382 closed

[2018-05-24 12:44] bamboo opened #9271 "Issue helpful error messages for certain Kotlin compiler errors in Kotlin DSL scripts"
In order to help people migrating from the Groovy DSL to the Kotlin DSL, Gradle should try to detect common migration mistakes by checking specific Kotlin compiler errors against the project model to synthesise helpful error messages.

For example, a common mistake is to try to configure a task at the top level just like it is done in the Groovy DSL:

[code]

Which will then fail with the followin

[2018-05-24 13:11] jfbibeau opened #5520 "Improve documentation on Gradle build cache timeout"
Opening an issue as requested by @lptr

### Expected Behavior
I'd love to see a bit more documentation around the build cache timeout. I see it was added in Gradle 4.3 (https://docs.gradle.org/4.3/release-notes.html#timeouts-for-http/https-requests) however there's no mention of:

1. What the default values are, and;
2. How to modify them.

### Current Behavior
I'm kind of able to infer this infor

[2018-05-24 13:59] oehme commented on #5519
Please use Java 8 to build Gradle itself.

[2018-05-24 13:59] #5519 closed

[2018-05-24 14:38] 3ll3d00d commented on #4933
encountered this with gradle 4.7, in my case also from git but a misconfiguration this time

[code]

[2018-05-24 16:58] akingyin1987 opened #5525 "Waiting to acquire shared lock on daemon addresses registry."
android studio 3.1.2
gradle 4.4.1 or 4.8.0-cr1

00:55:22.267 [DEBUG] [org.gradle.cache.internal.DefaultFileLockManager] Releasing lock on daemon addresses registry.
00:55:23.370 [DEBUG] [org.gradle.process.internal.health.memory.MemoryManager] Emitting OS memory status event {Total: 8589934592, Free: 1740537856}
00:55:23.370 [DEBUG] [org.gradle.launcher.daemon.server.health.LowMemoryDaemonExpirati

[2018-05-24 16:59] ljacomet opened #5526 "Add caching support to ComponentMetadataRule"
This is a follow up on #5261 which added the `ComponentMetadataRule` type.

Now that there is a way to declare properly isolated component metadata mutations, their execution can be cached.

[2018-05-24 17:41] rgoldberg commented on #5519
@oehme Thanks for the info. The build worked. I opened the project in IntelliJ Ultimate 2018.1.4, and it is asking me to setup a Groovy SDK.  What version of the Groovy SDK should I install & use?

[2018-05-24 18:25] oehme commented on #5519
That shouldn't be necessary, Gradle already provides all necessary dependencies. Make sure you opened the generated .iml file, not the gradle folder in Idea.

[2018-05-24 18:29] oehme commented on #5525
There is nothing wrong in this log, these are routine debug messages showing that the daemon is checking its own status.

Please describe what problem you are facing, ideally including a reproducible example project.

[2018-05-24 18:29] #5525 closed

[2018-05-24 19:17] rgoldberg commented on #5519
Opening the `.ipr` file seems to have worked.  It seems to have detected & used my Java 8 SDK named ``.8`, but it setup the `Project language level` as `8`, though.  Shouldn't it set it up as `6`?

[2018-05-24 19:38] oehme commented on #5519
We set the language level for each module, so the project level doesn't matter.

[2018-05-24 19:48] nedtwigg opened #5528 "DefaultResolvedDependency.getAllModuleArtifacts stackoverflow for circular dependency"
### Expected Behavior

`DefaultResolvedDependency.getAllModuleArtifacts` should not get stuck in a stackoverflow when a circular dependency exists.

### Current Behavior

`DefaultResolvedDependency.getAllModuleArtifacts` causes a stackoverflow when a circular dependency exists.

### Context

The `org.eclipse.swt` jar [depends](https://search.maven.org/remotecontent?filepath=org/eclipse/platform/or

[2018-05-24 21:34] sormuras opened #5529 "4.8-rc1 introduced new illegal reflective access operation"
Also present in `4.8-rc-2`:
[code]

Is this a known ... temporary Lookup?

[2018-05-24 21:48] bigdaz opened #5530 "Resolution result may be dependent on dependency ordering"
Under certain circumstances, the order in which dependencies are declared can influence the versions of resolved dependencies. This can happen when a module is evicted by conflict resolution: it's transitive dependency constraints are not correctly purged from the graph.

### Expected Behavior

The order in which the dependencies are declared in a build script should have no impact on the resoluti

[2018-05-24 22:59] bigdaz opened #5531 "Inconsistent conflict resolution with `latest.<status>` version selectors"
Given 2 version constraints applies to a module, and:
- one of those constraints is in the form `latest.<status>`
- the other constraint is a `strict` version constraint,

The resolved version is different to that resolved with a non-`strict` constraint.

This has implications for dependency locking, which uses `strict` constraints to lock versions, but non-`strict` constraints to permit a partial

[2018-05-25 00:56] SUPERCILEX opened #5532 "IllegalStateException: No value has been specified for this provider"
Using Gradle `4.8-rc-2`, I can't configure my project. The issue seems to be related to publishing, but I'm not using the publishing plugin.

Here's my project: https://github.com/SUPERCILEX/Robot-Scouter/tree/93dd051d3dbbcc66c45512cd83b6e0fc3bfb9173. And the setup script: https://github.com/SUPERCILEX/Robot-Scouter/blob/93dd051d3dbbcc66c45512cd83b6e0fc3bfb9173/building/setup.sh.

Stack trace:
[co

[2018-05-25 01:29] ddimtirov opened #5533 "Gradle fails config if a publication repo has colon in the name"
### Expected Behavior
Gradle should not fail or fail with helpful message.

### Current Behavior

Gradle fails with unhelpful error message.

### Context
I am setting up an enterprise build and we are managing repo managers centrally, allowing each project to configure repository by a pair of `managerId` and `repoId`.

Later in the configuration, we look for the best-matching credentials in hierar

[2018-05-25 03:11] zjw-swun opened #5534 "Feature Request: can offer danymic fuction to remove plugin"
Feature Request: can offer danymic fuction to remove plugin

[2018-05-25 03:25] #5534 closed

[2018-05-25 05:48] MonicaNegi opened #5535 "Unable to download jar/zip from private repository using download gradle task"
Hi team,
I am trying to download jar/zip from a private repository (in bluemix cloud). In some gradle docs i found we can state username and password in the download task.
I have created a task, but it's not able to download the jar files.
task downloadFile(type: Download) {
	src "https://git.ng.bluemix.net/project-repo/tree/master/local-gradle-repo/com/ibm/nosql/json/jar/1.0/myjar-1.0.jar"

[2018-05-25 06:26] ratemyduck commented on #5213
This hit us too. Our scripts are using the system out to to resolve some properties which are computed with gradle

[2018-05-25 06:49] marcphilipp commented on #5506
Are you using OpenJDK or Oracle JDK?

[2018-05-25 06:58] marcphilipp commented on #5506
I'm closing this issue as it most probably a JDK issue (JavaFX is not available on OpenJDK 9/10) and nothing Gradle can do anything about. If you think otherwise, please open another issue and provide a sample project.

[2018-05-25 06:58] #5506 closed

[2018-05-25 07:31] marcphilipp commented on #5529
Indeed, this was changed for #4860 to work on JDK 11 but uses reflection to compile on Java 7.

@blindpirate @oehme Do you think it would be feasible to move `LookupClassDefiner` and other related code to a separate Java 9-based subproject, e.g. `base-services-java9`, to avoid using reflection?

[2018-05-25 07:58] marcphilipp commented on #5532
Please provide the full output of executing `gradle`.

[2018-05-25 08:01] marcphilipp commented on #5533
Thanks for reporting this issue! I think not allowing colons with a good error message is the way to go. Publication names are probably affected as well.

[2018-05-25 08:10] marcphilipp commented on #5213
Indeed, that should work as a workaround:

[code]

vs.

[code]

[2018-05-25 08:31] blindpirate commented on #5529
It is feasible but need a bit more work. I picked this solution out of several choices: https://github.com/gradle/gradle/pull/4976#issuecomment-379660504

If we decide to remove this warning, I'd like to do it. :-)

[2018-05-25 08:32] marcphilipp commented on #5184
Adding `excludes = ['jdk.internal.*']` to the `jacoco` config resolves this error.

@wreulicke Does that work for you?

[2018-05-25 08:36] marcphilipp commented on #5529
Maybe we can address this in conjunction with #5079?

[2018-05-25 09:35] #5278 closed

[2018-05-25 18:20] Vampire opened #5540 "Please support stopping all daemons"
It would be nice if there were an option to stop all running Gradle daemons, no matter which version or other properties.
Currently if I switch between branches or worktrees and the Gradle version switches, it happens that some version of the daemon has some file locked that the other then cannot delete or overwrite, so I'd like to stop it. But it doesn't work, either I have to have the exact same

[2018-05-25 18:25] tjni opened #5541 "Reduce memory used in FileUtils#calculateRoots"
### Current Behavior
The `calculateRoots` method in `FileUtils` is called many times in my build, and profiling reveals a large amount of string memory allocation:

<img width="1139" alt="screen shot 2018-05-25 at 8 51 51 am" src="https://user-images.githubusercontent.com/3806110/40560135-eb5ba7aa-600d-11e8-8dc3-b68365304d6b.png">

This is avoidable if we rewrite the code with that in mind.

### C

[2018-05-25 19:02] tjni commented on #5541
It's hard to compare exactly, but here is what our heap looks like in comparable parts of the build:

Before:

<img width="1130" alt="screen shot 2018-05-25 at 12 01 23 pm" src="https://user-images.githubusercontent.com/3806110/40561829-84ae45ca-6013-11e8-88fc-d1a1f030df24.png">

After:

<img width="1120" alt="screen shot 2018-05-25 at 12 01 39 pm" src="https://user-images.githubusercontent.com/38

[2018-05-25 20:41] #5261 closed

[2018-05-25 22:19] big-guy opened #10629 "Provide guidance on how to migrate tasks that are created from other tasks with the lazy task API"
Let's say you want to print out the contents of the text report whenever a Codenarc task fails:

[code]

This works fine when everything is eagerly created.  Converting this to the obvious lazy version:

[code]
Fails with a ConcurrentModificationException (different from gradle/gradle-native#706) because we're creating tasks while realizing them.

The pattern here is trying to create and configure

[2018-05-26 00:49] JLLeitschuh opened #5546 "Settings does not implement ExtensionAware"
### Expected Behavior
In `settings.gradle.kts` I should be able to access `extra`.
Eg.
[code]

### Current Behavior

#### Fails to compile
[code]
#### Fails at Runtime
[code]
<details>
<summary>Stack Trace (click me)</summary>
<pre>
java.lang.ClassCastException: Settings_gradle cannot be cast to org.gradle.api.plugins.ExtensionAware
        at Settings_gradle.<init>(settings.gradle.kts:72)

[2018-05-26 00:52] JLLeitschuh commented on #5540
Unix/Linux based systems I simply do `killall java`. Inelegant, but it's effective.

[2018-05-26 00:58] JLLeitschuh commented on #5511
This should be done for both Junit 4 and 5.
TestNG has a [SkipException](http://static.javadoc.io/org.testng/testng/6.8.1/org/testng/SkipException.html) that provides the same behavior.

[2018-05-26 01:35] #5514 closed

[2018-05-26 04:06] JLLeitschuh commented on #5471
@ajoberstar Stutter is awesome. Considering using it on some of my plugins. Good catch on this one.

[2018-05-26 04:07] JLLeitschuh commented on #5482
I think this would be better as a [Gradle Forum Post](https://discuss.gradle.org/) or as a [Stack Overflow Question](https://stackoverflow.com/questions/tagged/gradle).

The issue tracker really isn't really the place for support questions.

[2018-05-26 05:11] ilya-g commented on #5482
@JLLeitschuh Does a missing feature count as an issue?

I often face the similar problem: I need to run several tasks (e.g. `clean check`) in multiple subprojects of a project.
I cannot use `-p projectDir clean check` because there's no such project that contains all needed subprojects and no unneded ones and `-p` doesn't support multiple arguments.
I have to list all tasks fully qualified, like
`

[2018-05-26 05:28] LaviniaDragunoi commented on #2384
@RagnarR thank you!  I have AS 3.1.2 and your solution is the perfect one.

[2018-05-26 10:35] oehme commented on #5541
Thank you for the PR, makes perfect sense.

I'd like to work a bit more with you regarding build performance if you're interested. Maybe we can find other areas for improvement based on your build. You can drop me a line at stefan@gradle.com

[2018-05-26 14:11] oehme commented on #5091
After merging the changes above, the "clean checkout" performance test is [42% faster](https://builds.gradle.org/viewLog.html?buildId=13233411&buildTypeId=Gradle_Util_Performance_AdHocPerformanceScenarioLinux&tab=artifacts#!-1o4yfzkjpc80h). The only missing piece is caching incremental compile analysis.

[2018-05-26 23:41] Vampire commented on #5540
That not inelegant but non-sense.
Gradle is by far not the only Gradle process I have running and I surely don't want to kill them all.
Besides that I'm forced to work on Windows by my employer unfortunately.

[2018-05-27 10:05] guspower opened #5548 "IDEA Plugin generates unexpected directory structure given sub-project deeper than 1 level"
### Expected Behavior
Given a project with a subproject more than one level deep, `./gradlew idea` should generate a correct `subproject.iml` in the subproject folder.

### Current Behavior
Instead this file is generated and placed in subfolder corresponding to the project's parent folder.

### Context
Setting up a new multi-level project

### Steps to Reproduce (for bugs)
1. Create `build.gradle`

[2018-05-27 11:08] oehme commented on #5548
Please check the log, you should have gotten a deprecation warning about the slash in the project name. Logical project paths (as used by the include method) are separated by a colon.

[code]

[2018-05-27 11:08] #5548 closed

[2018-05-27 11:27] geoHeil commented on #4689
I think you need to kill the daemon after clearing the caches - then everything works fine again.

[2018-05-27 11:40] guspower commented on #5548
Yes indeed:
[code]
Sure enough I changed the `settings.gradle` to `subdir:subproject` and all is well. Thanks for your help and quick reply.

[2018-05-27 11:51] idrisadetunmbi commented on #5184
I am having this same exact issue

[2018-05-27 18:40] daggerok commented on #5482
Hi, @JLLeitschuh but it's not an issues with Gradle, its something which is missing and it would be nice to have.

[2018-05-27 21:37] daggerok commented on #5482
I think this issue can be closed here. I have asked similar question on [Gradle Discuss Forum](https://discuss.gradle.org/t/is-it-possible-to-add-ability-run-gradle-tasks-matching-specified-task-paths-within-wildcards/27120)

[2018-05-28 02:28] chia7712 commented on #1283
+1. the Junit retry requires us to modify the test code to follow the retry style. If a flag can help us to re-run the flaky without any changes to source code, it can make our life easier.

[2018-05-28 09:06] facewindu opened #5549 "buildSrc configurations are resolved too early"
While developing buildSrc support in build scans, I noticed
![image](https://user-images.githubusercontent.com/5922961/40606806-e20651cc-6266-11e8-9f85-12026e94857a.png)

@breskeby checked and

According to @adammurdoch

[2018-05-28 12:45] dcoraboeuf opened #5551 "Source set dependencies all in Provided mode in Intellij 2018.1.4"
### Expected Behavior

Using Gradle 4.6, I've declared an extra source set:

[code]

I've added several dependencies into the associated configuration:

[code]

When I import the Gradle project into Intellij 2018.1.4, I expect the dependencies of the "acceptance" source set to have all dependencies in the Compile scope.

### Current Behavior

All dependencies do appear as Provided, making the code

[2018-05-28 14:12] wiyarmir opened #5553 "Can't generate build scans because IllegalStateException: Expected attachment of type h but did not find it"
Not even generating a scan of a no-op call to gradle works.

### Expected Behavior
`./gradlew --scan` generates a scan.

### Current Behavior
`./gradlew --scan` fails with the following exception:
[code]

### Context

Gradle reports BUILD SUCCESSFUL, asks for accepting ToS and fails after accepting them.

Any attempt to generate a build scan will crash. Attempting to do so in other projects (empty

[2018-05-28 16:01] oehme commented on #5551
You marked them as `compileOnly`, which by definition means "not available at runtime".

[2018-05-28 16:01] #5551 closed

[2018-05-28 16:06] oehme commented on #5551
Also, this line is unnecessary: `compileClasspath = configurations.acceptanceCompileOnly`. This property already has a proper default.

[2018-05-28 16:12] oehme commented on #5553
@ldaley Can you take a look at this one please?

[2018-05-28 20:29] Xerus2000 opened #5554 "Don't create .gradle folder if gradle is run outside of a gradle project"
Sometimes I accidentally run gradle in the wrong directory, which failes and creates a .gradle directory where it simply does not belong.

### Expected Behavior
Either it does not create a .gradle directory until the location is confirmed to be a gradle project, or it removes the .gradle directory after failing. The directory only contains hashes at that point anyways.

### Current Behavior
A .gra

[2018-05-28 23:01] SUPERCILEX commented on #5532
<details><summary>Here you go</summary><p>

[code]

</p></details>

[2018-05-28 23:53] ldaley commented on #5091
Excellent work.

[2018-05-29 05:56] ldaley commented on #5553
@wiyarmir the stack trace indicates that a task is being executed, outside of the usual task execution machinery.

Is it possible that you are calling `.execute()` on a task instance directly? If so, I'm afraid that's not supported and has been deprecated since 4.3 (https://docs.gradle.org/4.3/release-notes.html#deprecation-of-taskinternal.execute()). It's an accident that it ever worked at all.

[2018-05-29 06:56] marcphilipp commented on #5184
@oehme I'm inclined to close this issue since most users will not use `includeNoLocationClasses` and generating coverage for JDK internal classes is not really a use case. I thought about adding default excludes, but those are likely to differ on different JDKs. What do you think?

[2018-05-29 07:16] markus-wa commented on #3987
We're trying to run `npm install` & `ng build` as part of our build but are running into this issue.

Using the `StreamHandler` hack results in the following error with Gradle 4.7:
<details>
 <summary>Output</summary>

[code]
</details>

<br>

Our code

[code]

[2018-05-29 08:50] oehme commented on #5532
The trigger for the problem is that the Kotlin plugin [resolves dependencies at configuration time](https://github.com/JetBrains/kotlin/blob/master/libraries/tools/kotlin-gradle-plugin/src/agp25/kotlin/org/jetbrains/kotlin/gradle/plugin/android/Android25ProjectHandler.kt#L128) (which it shouldn't). @alexey-tsvetkov can you fix this please? It's also a performance bottleneck at configuration time f

[2018-05-29 11:45] marcphilipp commented on #5546
Assigning @bamboo since he voted for this issue. 😉

[2018-05-29 11:46] marcphilipp commented on #5511
Agreed!

[2018-05-29 11:58] wiyarmir commented on #5553
Hmmm there is a task being called `.execute()` in the `beforeEvaluate{}`, could that be it? Whoops.

[2018-05-29 12:08] oehme commented on #5553
Thanks for verifying. Closing since this will be an error in 5.0 anyway.

[2018-05-29 12:08] #5553 closed

[2018-05-29 12:20] oehme commented on #5184
I agree, especially since the workaround is simple.

[2018-05-29 12:59] MonicaNegi opened #5562 "excluding lib folder from jar"
Hi,
I am creating a jar from gradle project using following task-
task fatJar(type: Jar) {
     exclude('lib')
	baseName = project.name
    from { configurations.compile.collect { it.isDirectory() ? it : zipTree(it) } }
    with jar
}
I want to exclude lib folder from the generated jar.
Providing exclude('lib') doesn't excludes lib folder from the jar.
Please let me know, how can i achieve this.

[2018-05-29 13:32] marcphilipp opened #5564 "Nag users only once about stable_publishing flag"
Report:
https://discuss.gradle.org/t/gradle-4-8-rc2-is-now-available-for-testing/27070/3

This was supposed to be fixed by #5356 but the PR was only merged to `master` instead of `release`.

[2018-05-29 13:37] gregmeraz commented on #4689
I had forgotten to updated this issue...

So, basically, after a month of debugging, the issue was that on the jenkins job of the build there were some parameters being passed to the vm that were making the gradle tests to crash.

GRAILS_OPTS="-XX:-UseSplitVerifier -Xverify:none"

we removed that

[2018-05-29 13:51] ljacomet opened #5565 "Enable injection of RepositoryResourceAccessor in ComponentMetadataRule"
The newly introduced `ComponentMetadataRule` should be able to inject services as is the case for the `ComponentMetadataSupplier` and the `ComponentMetadataVersionLister`.

Mainly for the moment this mean the ability to inject a `RepositoryResourceAccessor` that provides access to resources from the same repository that the dependency came from.

[2018-05-29 14:13] oehme commented on #5091
I'm closing this since the incremental compilation caches are tracked by https://github.com/gradle/gradle/issues/4447 and I might not have time to do this in 4.9.

[2018-05-29 14:13] #5091 closed

[2018-05-29 14:14] oehme commented on #5091
@ldaley Did you redo your experiment and see the improvement?

[2018-05-29 14:15] oehme commented on #4447
For the case where the user home is retained, we can use the work done in #5091 to make it much faster.

[2018-05-29 14:25] oehme opened #5566 "Error while closing input stream from client"
Just got this while running `gradle sanityCheck` on our own repo:

[code]

[2018-05-29 14:53] marcphilipp commented on #5184
Alright, closing this issue for now.

[2018-05-29 14:53] #5184 closed

[2018-05-29 15:00] oehme commented on #1320
That's not coming from us, but probably from the Android plugin. @ducrohet can you comment on this? It would be great if the incremental compile decision was completely left to Gradle. Is there any adverse condition we are not detecting?

[2018-05-29 15:27] ducrohet commented on #1320
For some reason our plugin output this when you apply the retrolambda plugin but I'm not sure why. This was done a while back (2 years) and may not be required anymore. I'll investigate.

[2018-05-29 15:29] ducrohet commented on #1320
It looks like previously this disabled inc java on both android-apt and retrolambda. Probably a remnant of a time when the java compile task didn't automatically disable inc compilation if annotation processor was one.

[2018-05-29 15:30] eriwen commented on #5379
Yep, I just verified in the nightly docs.

[2018-05-29 15:30] #5379 closed

[2018-05-29 15:39] tprochazka commented on #1320
I'm definitely not using retrolamba plugin. I tested it with android build plugin 3.1.2. and 3.2.0-alpha15 and it happens with both. I switched butterknige and Android-state to a version which should support incremental compilation.

[2018-05-29 15:55] ducrohet commented on #1320
yes, sorry, this is triggered with a few more cases than just retrolambda.
The test is: data binding enabled OR annotation processor OR retrolambda.

This still seems a bit strange to me. I'll review this.

[2018-05-29 17:10] lacasseio commented on #5532
Thanks @SUPERCILEX for the information you provided. We spend a good amount of the day looking into this issue. We found a couple solution path and we started exploring some of the backward compatibility ones. Until then, the next version of Kotlin, version `1.2.50-eap-17`, fix the issue you are seeing. You will need to add `https://dl.bintray.com/kotlin/kotlin-eap` to your repositories.

We will

[2018-05-29 19:41] paulwellnerbou opened #5571 "OAuth-Support for maven repositories"
Maven repositories which require Authentication can be used with gradle, but this just works with Basic Authentication and AWS S3. This works even with Bitbucket used as maven repository, but not for others, such as Gitlab.

I think OAuth support (or a generic HTTP header Authentication) would be a nice feature.

### Expected Behavior

Similar to maven, which supports this already, I expect someth

[2018-05-29 20:06] rjbell4 opened #5572 "Build-wide command-line options"
This is not a bug report, but rather a feature request (is this a good place for that?)

I would like to be able to control command-line options that impact the entire execution, rather than are just specific to a particular task.

The `@Option` decoration has the ability to provide a custom command-line option for a task. The downside of this functionality is that is requires a specific task to b

[2018-05-29 22:28] liutikas commented on #3170
Could we get an update on this bug? It has been over 8 months without any response.

[2018-05-29 23:34] bigdaz opened #5573 "Not all version constraints are reported for resolution failure"
When resolution fails due to a strict version constraint, and that constraint itself cannot be satisfied independently, then the failure report omits that constraint when reporting why resolution failed.

### Expected Behavior
All constraints are reported when describing a resolution failure.

### Current Behavior
Under certain circumstances, a `strictly` constraint is not reported in the resoluti

[2018-05-30 00:02] maks commented on #3299
@bmuschko could you clarify what the policy in Gradle 4.4 is for HTTP 401's returned from a repo eg. Jitpack), having a quick look through #3412 I think that Gradle will still ask for subsequent repos?

[2018-05-30 02:27] jeanse7en commented on #3413
Actually, it's big problem where you put your server.
I already faced this problem before, I used Geronimo with the space in my direction D:\Common DevTool\Geronimo.
Have 2 ways to resolve
1.  change to D:\Tool\Geronimo, it ran well.
Your directory is not correct, C:/Program Files, You should move your server to another place without space in name.
2. Upgrade the jsf version.
Hope that my answer c

[2018-05-30 02:54] adammurdoch opened #5574 "Use a single term to refer to the work of configuring of a project"
Currently, we use several different terms to refer to the same thing. Sometimes the work is called "configuration", sometimes "evaluation" and sometimes "execution". This is confusing when the terms all refer to the same thing.

We should use one term instead.

### Expected Behavior

Use a single term in progress messages, error messages, build scans, the profile report and APIs (e.g. `ProjectStat

[2018-05-30 05:37] Mauin opened #5575 "Make AbstractCodeQualityPlugin part of the public API"
The code quality plugins that are shipping with Gradle (PMD, Findbugs, Checkstyle, etc.) all extend the internal `AbstractCodeQualityPlugin`. Other, external code quality plugins that want to offer a very similar API to these plugins are either forced to extend the internal API and handle unexpected changes down the line, or emulate the behavior by re-implementing it.

Is it possible to make `Abst

[2018-05-30 06:40] marcphilipp commented on #5575
Related issue:
https://github.com/spotbugs/spotbugs-gradle-plugin/issues/22

I took a quick look at `AbstractCodeQualityPlugin`. It basically uses a template method approach for configuration but does not seem to be using any internal APIs. Thus, I think third-party code quality plugins such as Detekt and Spotbugs might be better off not extending `AbstractCodeQualityPlugin`.

@Mauin Am I missing

[2018-05-30 06:44] marcphilipp commented on #5575
FWIW Spotbugs is planning to make the move away from `AbstractCodeQualityPlugin`:
https://github.com/spotbugs/spotbugs-gradle-plugin/issues/29.

[2018-05-30 06:46] Mauin commented on #5575
I see. I've also noticed the breaking API change in 4.8, which is fine.
But overall wouldn't it be better for the entire ecosystem if code quality plugins could all share the same basic API for configuring the different tools? With external code quality plugins implementing their own plugins every plugin will end up with a different API and configuration. If all plugins extend the same base `Abstr

[2018-05-30 06:47] marcphilipp commented on #3170
@ducrohet @liutikas Thanks for the ping! Are you using the `maven` plugin or the `maven-publish` plugin? Could you please provide a small sample project?

[2018-05-30 06:58] marcphilipp commented on #5575
The only shared configuration API I could find is `CodeQualityExtension` which is public and can be reused by other plugins.

Could you try to implement your plugin without using `AbstractCodeQualityPlugin` so we can see how much of it ends up being duplicated? If it's a substantial amount, we can and will certainly reconsider.

[2018-05-30 07:03] marcphilipp commented on #5564
Fixed by #5567.

[2018-05-30 07:03] #5564 closed

[2018-05-30 07:08] shadow476z opened #5576 "29may gradle project stopped working"
I'm currently using android studio on various machines (3), the project that I'm currently working on has ceased working on all of them. Pointing toward changes in gradle on the 29th of may. Its great that Android studio/gradle is updating and downloading files etc on the fly as needed but I can't just go back and download a stable version now.

I've had no bugs before on this build. We are using

[2018-05-30 08:59] saisatya525 commented on #1747
im still having the am issue....

[2018-05-30 09:15] tprochazka commented on #1320
Thanks, so data binding is the reason. Somebody on Google I/O told this year, that one of the news in new building tools is incremental support. So would be great if also java compilation will be part of this, especially now when Gradle is able to do it also with annotation processors.

[2018-05-30 09:38] wszeboreq commented on #4629
We are using gradle 4.7 with a local maven repository proxy (set up in Nexus 3) of the corporate repository located on the other continent. We are running into timeout problems with this setup - the scenario seems to be: gradle asks proxy for data, data is not yet fetched and cached inside the proxy so proxy starts fetching the data from the repository on the other continent, gradle waits for prox

[2018-05-30 10:04] oehme commented on #5572
Duplicate of https://github.com/gradle/gradle/issues/2885

[2018-05-30 10:04] #5572 closed

[2018-05-30 10:06] oehme commented on #5576
This looks like a problem in aapt, please open an issue on the Android issue tracker.

[2018-05-30 10:06] #5576 closed

[2018-05-30 10:19] marcphilipp commented on #5571
Can Gitlab generate application specific passwords or personal access tokens?

[2018-05-30 10:20] ChristianCiach opened #5579 "Let unit test decide if JVM should be restartet afterwards"
We have many unit tests that leave active threads after execution, possibly interfering with following tests. Most unit tests, however, do not.

We are using an JUnit-5-Extension (`@ExtendWith`-annotation) to detect these unit tests. In an ideal world, these unit tests could be modified to properly clean up after themselves. In many instances however, this is not (easily) possible.

The next best

[2018-05-30 10:21] geoHeil commented on #5364
This https://stackoverflow.com/questions/50597262/grade-force-version-of-transitive-dependency-not-working-no-exclude-override-o problem could be related, however for me RC2 does still not fix it.

[2018-05-30 10:35] cdancy commented on #4629
@wszeboreq they do have _internal_ props you can play with as is noted [THIS](https://github.com/gradle/gradle/pull/3371/files) pull request. These are the typical connection property configs, and does not take into account retries or anything of that nature, but it's something.

[2018-05-30 10:40] paulwellnerbou commented on #5571
@marcphilipp, Gitlab can generate access tokens (OAuth2 and personal access tokens), [see here](https://docs.gitlab.com/ee/api/#personal-access-tokens).

[2018-05-30 10:46] marcphilipp commented on #5571
Thanks! But they seem to be using a custom header instead of basic authentication or even the standard `Authorization` header. I was hoping you could use it as a workaround as it would have worked for GitHub.

[2018-05-30 10:53] paulwellnerbou commented on #5571
Yes, that's what I was hoping, too. And after a bit of research I did not find any workaround. For my use case the easiest solution would be to switch to bitbucket or AWS. But I think it might be useful for Gradle users to add an authentication scheme which can add headers to the request.

I digged and debugged a bit into the gradle code and landed in `HttpClientConfigurer`, where the apache httpc

[2018-05-30 11:01] marcphilipp commented on #5571
Sounds good to me! Beware the supported `org.gradle.api.credentials.Credentials` are currently hardcoded in a few places, e.g.

https://github.com/gradle/gradle/blob/8a7b8ea7bfd2c38689c8fa339c66485f610c10a9/subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/AuthenticationSupporter.java#L133-L151

[2018-05-30 11:10] marcphilipp commented on #5562
Have you tried `exclude('lib/**')`?

[2018-05-30 11:26] paulwellnerbou commented on #5571
Thanks, @marcphilipp. Yes, I noticed it. I created already another `Credentials` and `Authetication` type copying the class hierarchies of `PasswordCredentials` and `BasicAuthentication`. This works, and the type is successfully initialized using

[code]

Next step would be to implement another authentication scheme for apache's httpclient. I will do this separated from gradle in a separate librar

[2018-05-30 11:29] MonicaNegi commented on #5562
Thanks, it worked with exclude('lib/**')

[2018-05-30 11:30] #5562 closed

[2018-05-30 11:30] marcphilipp commented on #5562
Glad to hear it! 🙂

[2018-05-30 11:32] oehme commented on #5579
It's of course possible and would work around some of those cases in Gradle, but what about running tests from the IDE? Or what if parallel testing is added to JUnit and such a bad test runs in parallel to a good test? The problem persists.

I think the only proper way to fix this is to fix the tests. You said it's not *easily* possible, but for me that's not enough of a reason for a feature in Gr

[2018-05-30 11:32] #5579 closed

[2018-05-30 12:45] #1743 closed

[2018-05-30 14:07] big-guy commented on #5575
+1 Marc said. I reckon the better approach is to have an extendable model vs "here's a base plugin you extend".

[2018-05-30 14:41] big-guy opened #5583 "Project configuration build operations are no longer nested"
On the latest 4.9 nightly, I'm seeing something slightly odd.

Compare 4.8-rc-2:
https://asciinema.org/a/qFInb1EmHWEgdmohEv7MVJlWF

You can see that you'll sometimes get messages like:
[code]
This happens with buildSrc and the main build as well.

On master:
https://asciinema.org/a/Wcs7H8BQmbhvU1cg7ceBkwI0D

The first half of the recording is with 4.9-20180524000011+0000.  I think you don't see th