[2017-02-25 21:03] wilkinsona commented on #1161
Will this cover exclusions declared in a pom behaving as they would in Maven? That's something that has caused us some trouble in the past and I'd love to see Gradle's behaviour align with Maven's here.

[2017-02-26 10:57] bmuschko opened #1465 "Integration of JaCoCo with TestKit"
If the user applies the JaCoCo plugin, the plugin development plugin should properly configure it to allow for generation of code coverage metrics. The spec can be found [here](https://github.com/gradle/gradle/blob/master/design-docs/testing-toolkit.md#story-integration-with-jacoco-plugin).

### Expected Behavior

Code coverage metrics can be generated by configuring the Jacoco plugin.
- Java agen

[2017-02-26 11:19] bmuschko commented on #1161
@wilkinsona Correct. I turned this issue into an Epic and will assign relevant issues moving forward. Can you point me to the issue that describes the problems with exclusions or create a new one?

[2017-02-26 11:22] bmuschko commented on #1162
@wilkinsona I'd say a good way to start on this would be to 1) start a discussion on the Gradle dev-list and 2) write a spec. Your input would be super valuable given that you have a lot of experience with the support of BOMs in the Gradle. Would you be interested in kicking off a discussion on the dev-list?

[2017-02-26 11:26] bmuschko commented on #1457
Would you mind providing a stack trace (run the build with `-s`)? Thanks!

[2017-02-27 10:07] oehme commented on #1457
@melix can you fix this for 3.5 (branching next week)?

[2017-02-27 10:10] melix commented on #1457
Yes, I can fix it.

[2017-02-27 12:21] xiaoxing598 commented on #1445
Please help me analyze, thank you very much!

[code]

[2017-02-27 13:44] lacasseio commented on #1285
Great work @fejese and well-written explanation. Also thanks @nerro for getting the ball rolling on this and opening an issue.

[2017-02-27 14:08] staffanf commented on #1414
We have basically the same use case:
We are using junit for integration tests. These need to be wrapped by a running simulator and server. Starting these takes about 30s, which is our minimum time it takes to know if the test were up-to-date.
We'll work on getting that time down, but as always, the fastest task execution is the one that is avoided.

Integrations tests with setup and tear down are

[2017-02-27 14:17] rwinch commented on #1414
@oehme Thanks for the recommendation on using the doFirst method. How is this intended to be wired within Gradle? My (perhaps incorrect) understanding was that Gradle does not recommend manually invoking tasks. Can you provide an example of how to do this with the Gretty plugin?

[2017-02-27 14:18] kasperfrederiksen commented on #1248
We are experiencing the same problem on gradle version version 3.4. If i change the first line back to:

    #!/usr/bin/env bash

it works.

[2017-02-27 14:30] bmuschko commented on #1248
@wolfs @jjohannes Can you guys have a look at the issue? You are probably the most familiar with the changes we made in this area.

[2017-02-27 14:41] staffanf commented on #1267
Any comment on this? This is something that's been bothering me ever since we started using Gradle. There are some old Jira issues that solved the problem by working around it  https://issues.gradle.org/browse/GRADLE-3348 .
The other open issue was closed ( https://issues.gradle.org/browse/GRADLE-3269 )
It feel that this is issue is short and concise enough that it should not be to hard to fix if

[2017-02-27 14:44] oehme commented on #1414
I'm not familiar with that plugin. Indeed you should not manually execute a task, but call the utility layer below it. I'm not sure if that plugin provides such a layer that allows you to spin up a server without depending directly on its tasks.

This is definitely just a workaround, while Gradle doesn't provide a stronger model of "environment dependencies".

[2017-02-27 14:56] lptr commented on #1431
This would help us get rid of https://issues.apache.org/jira/browse/GROOVY-7966 that is causing some problems with task output caching.

[2017-02-27 14:56] lptr commented on #1431
This one should fail once the upgrade happened: https://github.com/gradle/gradle/blob/5d961deafd7d980ccc31a6fc8e56da69f8126af6/subprojects/plugins/src/integTest/groovy/org/gradle/groovy/compile/GroovyJavaJointCompileSourceOrderIntegrationTest.groovy#L25-L25

[2017-02-27 14:57] melix commented on #1431
Groovy 2.4.9 was [released today](http://www.groovy-lang.org/changelogs/changelog-2.4.9.html).

[2017-02-27 15:13] bmuschko commented on #1453
@dengayevskiy Looks like you opened an issue for the Pivotal Dependency Management plugin. I am going to close this issue for now. Should you determine that the issue is actually a problem of Gradle core then we can reopen.

[2017-02-27 15:13] #1453 closed

[2017-02-27 15:20] bmuschko commented on #1445
OK, so your issues is not with Gradle. Based on the dependency report your dependencies can be resolved properly.

I think there's an issue with IDEA 2016.3.4. When I try to import I get the error message `Error: Cause: org/gradle/initialization/ReportedException`. I believe IntelliJ has some sort of bug. Can you please report it to JetBrains?

In the interim you can generate the IntelliJ project

[2017-02-27 15:20] #1445 closed

[2017-02-27 15:31] melix commented on #1457
This is ready for review.

[2017-02-27 15:49] bmuschko opened #1467 "Generate plugin documentation"
Provide a way to generate documentation for a plugin as built-in functionality.

### Expected Behavior

Plugin developers can generate documentation for their plugin e.g. a page that links to custom tasks and extensions exposed. For that purpose we could introspect the existing code based on types and reuse the Javadocs. The generation logic could be provided by the Java plugin development plugin.

[2017-02-27 15:53] mhuebner commented on #1397
We are also having trouble with this behaviour. Currently the only way to handle this (kind of a workaround) is to NOT publish into your loal repo and set

[code]

So no changing versions will be cached and downloaded from remote (private company repo) on each build.

This is no long term solution but might help in your case.

[2017-02-27 16:12] cluehr opened #1468 "Gradle 3.4 does not work with IntelliJ on MacOS"
### Expected Behavior
I should be able to run the project from within IntelliJ on both, Linux and MacOS.

### Current Behavior
I'm trying to run a gradle project from within IntelliJ 2016.3.4. When doing this on a Ubuntu 16.10 with all updates installed everything works like a charm. But when importing the very same project into an IntelliJ on a Mac and trying to run the application from within In

[2017-02-27 16:23] jjohannes commented on #1248
@jt214 What exactly is not `sh` compatible in this line `i=$((i+1))`? Do you know what would be the `sh` equivalent?

We are testing with `dash` and there the script parses and executes. Also, on unix systems `i=$((i+1))` should never be reached, since it is in the `cygwin` specific script block. Which exact shell/shell version is causing the error for you (i.e. which shell is `sh` on solaris 10)?

[2017-02-27 16:50] oehme commented on #1468
See https://github.com/gradle/gradle/issues/1276 for an explanation and workaround.

[2017-02-27 16:50] #1468 closed

[2017-02-27 18:17] ghale commented on #1448
I think so.  We already adapt for play version in a number of other places and do slightly different things for different versions.  I'd think we'd just use the same pattern here and create a script with a different main class for versions >= 2.5.X.  What's not clear to me (and I haven't looked into this at all) is why this isn't failing when we do multi-version testing with 2.5.  Seems like eithe

[2017-02-27 19:12] MarkRx opened #1470 "Accessing project.properties before configuring the publishing extension causes failure"
If project properties are accessed before the publishing closure is configured the project will fail with an exception:

[code]

### Expected Behavior
I should be able to access project properties before setting up the publishing closure. I don't see why the publishing closure would resolve if I access project properties.

### Current Behavior
Accessing project properties causes the publishing clo

[2017-02-27 19:30] bmuschko commented on #1470
With the notation `properties['some.property']` you are trying to access the fields of the `Project` instance. `properties` is something that Groovy exposes and not Gradle. I assume you want to ask for the extra property (Gradle concept) named `some.property`?

You'll need to access the extra property via `project.findProperty('some.property')`.

[2017-02-27 20:54] renatoathaydes commented on #719
Hi, I am unable to run gradle with the latest Java 9 release:

[code]

The error from Gradle:

[code]

Version:

[code]

[2017-02-27 21:09] ralfeis opened #1471 "Gradle 3.3 -> 3.4 Annotation Processor not called in JavaCompile Task"
If I use the JavaCompile Task with compilerArgs Options, then the Annotation Processor "SQLProcessor" is not called anymore. With gradle 3.0,3.1,3.2, 3.3 it is working. With gradle 3.4 it seems to be broken.

The Java source files and the annotation processor are in the same project.

### Expected Behavior
Same result as with gradle 3.3.

### Current Behavior
Annotation Processor is not called any

[2017-02-28 01:47] DanielThomas opened #1472 "Module version parser cannot handle plus (+) in artifact names"
The following module in Maven Central fails to parse:
[code]

### Expected Behavior
Module should be parsed.

### Current Behavior
Exception is thrown.

### Context
Note: That the suggestion of providing an instance of `ModuleIdentifier` requires the use of the internal Gradle API, as the `equals` methods for both default implementations `ModuleIdentifier` and `ModuleVersionIdentifier` are coupled

[2017-02-28 01:51] jrmash commented on #822
I work on a project that is currently evaluating the use of Gradle for our C++ builds and I ran across this ticket while researching options for better Visual Studio integration.  To that end, there are a couple very specific features that I would like to get some feedback from you guys:

- Generate Visual Studio Project files that use the MSVC build toolchain and project settings.  This feature i

[2017-02-28 06:42] cluehr commented on #1468
@oehme, thanks for pointing me to the other issue. This solved my issue.

[2017-02-28 08:02] dougborg commented on #1368
FYI , a fair number of people are using `gw` (http://gdub.rocks) 😎

I haven't been able to update it in a couple years and there are a few issues with the way it works now, but the current approach and the open issues may be instructive / helpful to look through:

https://github.com/dougborg/gdub/issues/4
https://github.com/dougborg/gdub/issues/8
https://github.com/dougborg/gdub/issues/21
https://

[2017-02-28 08:53] pioterj commented on #1163
I think this type of page / report is typically meant to be shared. It could be another Cloud Services feature. Maybe not a build scan that is focused on execution of individual tasks but a "project scan" or something like that.

@bmuschko I'd update the title and description to remove implementation details like that it would be a plugin and how it would work. Focus on the use case and the capabi

[2017-02-28 09:33] oehme commented on #1471
Could you please push a reproducible example to GitHub? That would make it easier for us to fix the problem.

[2017-02-28 09:47] wolfs opened #9132 "Ignore line endings in build script files for classloader hashing"
It turned out that we had a build script checked out with different line endings on windows6 and windows19. See https://github.com/gradle/task-output-cache/issues/466#issuecomment-282991781. I think we should ignore line endings at least for build scripts pretty soon. We could go further and ignore line endings on Java files for the `JavaCompile` tasks - but that would be a different issue.

[2017-02-28 10:24] oehme commented on #1471
I think I know what the issues is though: Your annotation processor is missing the processor configuration file (`META-INF/services/javax.annotation.processing.Processor`, see [javac documentation](http://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javac.html#processing)). Gradle 3.4 scans for these configuration files and passes the `proc:none` flag if it doesn't find any.

Apparently j

[2017-02-28 10:26] oehme commented on #1471
@melix This should be a simple fix we can do between branching and 3.5-RC-1. We need to check for an explicit `-processor` flag [here](https://github.com/gradle/gradle/blob/e93700c9a83e2aabe6ee028386029aaa976c4930/subprojects/language-java/src/main/java/org/gradle/api/internal/tasks/compile/AnnotationProcessorDetector.java#L85-L85).

[2017-02-28 10:35] otrosien commented on #799
What would be the desired outcome?

Update all existing scala references to latest of 2.10, 2.11 and add 2.12 to the ScalaCrossCompilationIntegrationTest? What should be the default scala version for the integration tests?

[2017-02-28 10:57] wilkinsona opened #1473 "Exclusions declared in a dependency's pom should work as they do in Maven"
### Expected Behavior

Gradle and Maven have subtly different semantics when it comes to excluding dependencies. When a dependency is resolved from a Maven repository and its pom is being used, I would like Gradle to apply Maven's semantics to the exclusions declared in the pom.

### Current Behavior

The current behaviour is described [here](https://spring.io/blog/2015/02/23/better-dependency-man

[2017-02-28 10:57] wilkinsona commented on #1161
I couldn't find an existing issue so I have opened https://github.com/gradle/gradle/issues/1473

[2017-02-28 11:14] wilkinsona commented on #1162
Done: https://groups.google.com/d/msg/gradle-dev/UmeM6W-GYVM/s16rNBsOCQAJ

[2017-02-28 11:28] izeye opened #1474 "Incremental compilation with literals in 3.4"
[Incremental Compilation, the Java Library Plugin, and other performance features in Gradle 3.4](https://blog.gradle.org/incremental-compiler-avoidance) said as follows:

To find the usage of a literal, using its old value doesn't work if it is used for calculation and the result is inlined.

This was originally asked on the blog: https://blog.gradle.org/incremental-compiler-avoidance#comment-3178

[2017-02-28 11:49] jacobilsoe opened #1475 "Zinc compilation is slow when used with --parallel"
After upgrading from Gradle 2.11 to 2.12 (and later) we have seen a significant performance decrease in scala compilation.

### Expected Behavior
Scala compilation performance should be comparable to that of Gradle 2.11.

### Current Behavior
I have created a sample ([SlowScala.zip](https://github.com/gradle/gradle/files/806628/SlowScala.zip)) with 50 subprojects each one having a single scala sou

[2017-02-28 12:23] otrosien commented on #1475
Gradle 2.12 release notes mention that they moved the default from ant-based cmpilation to zinc. (https://docs.gradle.org/2.12/release-notes.html) This is most likely the issue, and from my understanding you can switch back to the ant-based compilation. Nevertheless it would be nice if we got zinc to outperform ant, right.. ;-)

[2017-02-28 12:38] melix commented on #1474
Thanks @izeye

[2017-02-28 12:46] melix commented on #1474
Actually it seems we don't have the problem. Even if Java _inlines_ the constant, class _A_ is still visible in the constant pool table.

I made a simple test, and changing the constant value in `A` triggers a recompilation of `B`:

[2017-02-28 13:05] melix commented on #1474
I'm not sure why, but it doesn't appear to be that simple (maybe it depends on the compiler version). The test case linked above fails.

[2017-02-28 13:17] bjkail commented on #1474
As of [JDK-7153958](JDKhttps://bugs.openjdk.java.net/browse/JDK-7153958), which was included in Java 8, javac includes a reference to the the constant field in the dependent class' constant pool.  So, I think this bug seems to be valid for javac <7, and the constant tracking infrastructure seems unnecessary for javac >8.

[2017-02-28 13:30] melix commented on #1474
It doesn't seem to be the case on all versions of Java 8, at least. I ran 8u91 and the test case still fails. Which is strange considering that it's supposed to be fixed in b68.

[2017-02-28 13:40] jacobilsoe commented on #1475
Yes, but that option is no longer available in Gradle 3.4 as far as I can see. It was deprecated in an earlier version.

[2017-02-28 13:54] pioterj commented on #1463
Perhaps it would help with [reported Scala compilation performance regression](https://github.com/gradle/gradle/issues/1475) after we switched from ant-based compilation to zinc.

[2017-02-28 14:04] melix commented on #1474
So it's actually a combination of 2 bugs:

* with Java < 8, we don't recognize that `A` was referenced
* the compile classpath snapshotter, which computes the ABI of a component, ignores the constant values of API members

The latter is pretty serious.

[2017-02-28 14:14] oehme opened #1476 "Compile avoidance should respect public constant changes"
The API extractor used by the new `@CompileClasspath` snapshotter drops public constants, making incremental builds incorrect. This affects the following use case:

[code]

When A.Foo is changed, B should be recompiled, but isn't, resulting in wrong results.

[2017-02-28 14:17] melix commented on #1474
See #1476

[2017-02-28 14:18] melix commented on #1476
To be clear, this happens independently of incremental compilation and only if the 2 classes are in different projects.

[2017-02-28 14:23] oehme commented on #1476
The only workarounds are calling `clean` or `--rerun-tasks` or making a dummy change to `B`.

[2017-02-28 14:29] jacobilsoe commented on #1475
I just tried upgrading to zinc 0.3.13. No change unfortunately.

[2017-02-28 15:00] oehme commented on #1475
@jacobilsoe I can reproduce the issue. We do not have capacity to analyse it at this point though. If you could profile it and provide some more insight where the issue might be, that would help a lot.

[2017-02-28 15:55] uklance opened #1477 "Create a badge for plugin portal version"
I'd like a to add a badge to my `README.md` files in github which show the latest version of my plugin on the gradle plugin portal. The badge will also be a link to the page on the plugin portal.

Eg: ![plugin portal](https://img.shields.io/badge/plugin%20portal-v1.2-blue.svg)

Note: The webservice can simply redirect to `https://img.shields.io/badge/<SUBJECT>-<STATUS>-<COLOR>.svg` once the latest

[2017-02-28 16:31] melix commented on #1476
Here's the tentative fix. It coincidentally fixes #1474 when used with JDK 8 (but not JDK 7).

[2017-02-28 16:58] nerro commented on #1285
:+1:  for @fejese. I hope my GitLab logs will look pretty again.

[2017-02-28 19:19] plever opened #1478 "Gradle web services are down"
### Expected Behavior
Able to login to gradle forums and view gradle plugins.

### Current Behavior
Not sure this is the right place to post this issue but, I can't download any gradle plugins or login to the forums there's an application error for both.  I'd post this on the forums but, I can't.

### Context
Can't build on a system that does not have a local cache of gradle plugins.

[2017-02-28 19:30] agabara commented on #1478
Same here. Amazon has some issues with its S3 service, maybe related.

[2017-02-28 19:40] ralfeis commented on #1471
Thanks for  your fast reply.

Your solution proposal worked for us. We added META-INF/services/javax.annotation.processing.Processor and removed the "-processor" flag.

[2017-02-28 21:00] fejese commented on #1285
@nerro, I hope so too :)
@lacasseio, thanks, I'll work on the integration test as @bmuschko requested

[2017-03-01 08:13] jacobilsoe commented on #1475
I profiled the Gradle daemon for versions 2.11 and 3.4. I did this for the attached sample project and also for a similar project just with Java files.
A big noticeable difference is the thread usage which naturally increases during compilation and then decreases back to the original count. Here are some numbers for thread usage:

Scala:
2.11: 5 -> 16 -> 5
3.4: 9 -> 94 -> 9

Java:
2.11: 5 -> 15 ->

[2017-03-01 09:29] fhuberts commented on #1435
Thanks, I had looked at those links before and they didn't solve the issue for me.
Like I said, there seems to be a difference in the environment that is tripping up gradle.

I've attached the diff in the environment.
[envdiff.txt](https://github.com/gradle/gradle/files/810215/envdiff.txt)

[2017-03-01 09:37] vladsoroka commented on #1276
fyi, IntelliJ IDEA 2016.3.6 EAP with the fix should be available ~ at 7th of March.
Your early testing and feedback are very appreciated.

[2017-03-01 10:26] cuijianzhi commented on #1270
me too!!
Android Studio stuck on “Gradle: resolve dependancies 'app:_debugCompile'” or 'app:_debugApk'

[2017-03-01 13:30] mohlendo opened #1481 "CodeNarc Plugin does not print errors on console when using 'console' reportFormat"
When using the report format `console` like:

    codenarc {
      toolVersion = '0.26.0'
      reportFormat = 'console'
    }

I see no output in the console when CodeNarc finds rule violations.

[2017-03-01 13:47] bamboo opened #1482 "Application execution output is lost sometimes"
Running an application via `./gradlew run -q` will sometimes fail to show the application output.

This is the output from running a [trivial java application](https://gist.github.com/bamboo/9b285b85e4959db700b20028076b20cf) against a build from master as of 3d19493427c5dd2eeb2a3445b7fe4099cc90921b using the new default console, notice the output of the 7th execution is lost:

[code]

### Expected

[2017-03-01 14:06] Hubbitus commented on #778
I'm also have reproducible java crash on my project on gradle >= 2.14.

It is use Sencha for build and it import ant tasks which bundle `jansi` version 1.9
Java top crash stack is:
[code]

Details you may found in RedHat bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1408857 where I report it first.

But really it looks like gradle issue instead of java itself.

Gradle bundles jansi-native w

[2017-03-01 16:57] oehme commented on #1162
What's the issue here? The fact that a community plugin could add this functionality on top of our APIs tells me that they are sufficient to solve all kinds of interesting use cases. I think we should get away from binding ourselves to Maven instead of adding even more of its concepts into Gradle core.

Could you elaborate why that is? If the maintenance of that plugin is hard, then we should find

[2017-03-01 17:02] oehme commented on #1118
This has been fixed in Gradle 3.4 with the `java-library` plugin. All `api` dependencies are marked as `compile` while `implementation` dependencies are marked as `runtime`.

[2017-03-01 17:02] #1118 closed

[2017-03-01 17:21] oehme commented on #1171
I think the descriptions of the Configurations is accurate:

`compileOnly` is only there for dependencies that you really don't need at runtime, e.g because you shade them inside your jar. That means if I depend on you, I should not need to provide those.

`providedCompile` on the other hand is a dependency that you do need at runtime, but which you also declare is "to be provided by the app serve

[2017-03-01 17:30] Vampire commented on #1171
@oehme but wasn't compileOnly introduced to address the "provided" problem for all projects instead of only WAR projects? To be able to model provided deps for EARs e. g. or other "provided" or "optional" dependencies.

[2017-03-01 17:54] oehme commented on #1171
I guess you are referring to the common antipattern in Maven-land of using `provided` in library projects? I think this is based on the assumption that the library knows how it is going to be deployed, when really only the final consumer can make that call.

If I write a library that uses Google Guava on its signatures, then that should be an `api` dependency, not `compileOnly`, even if I think th

[2017-03-01 18:01] big-guy opened #1484 "Allow multiple occurrences of some Javadoc command-line options"
Some Javadoc doclets allow you to specify the same option multiple times.  See the plugin/doclet linked from here: https://github.com/gradle/gradle/issues/1456

### Expected Behavior

If I use a doclet that can handle multiple occurrences of the same option on the command-line, I should be able to configure that/specify that in Gradle.

### Current Behavior

If you specify the same option multiple

[2017-03-01 18:02] big-guy commented on #1456
@aviverette could you give this 3.5-nightly a try? It should restore compatibility.

Update with:
`./gradlew --no-daemon wrapper --gradle-version=3.5-20170301172655+0000`

Or pointing your wrapper to:
http://services.gradle.org/distributions-snapshots/gradle-3.5-20170301172655+0000-bin.zip

I raised https://github.com/gradle/gradle/issues/1484.  I think we should support what you're trying to do o

[2017-03-01 19:43] wilkinsona commented on #1162
It's largely subjective, but it feels to me like the sort of thing that Gradle should support natively. Maven is the de facto standard for dependency metadata on the JVM and boms are becoming increasingly popular (Jackson recently added one, for example). Many users of the plugin have expressed their thanks for the plugin and their surprise that it was needed.

It's certainly caused some problems

[2017-03-01 20:03] oehme commented on #1162
I think we want to get away from the sentiment that "using/needing a community plugin" is somehow bad/surprising. The plugin ecosystem is what makes Gradle great. I'd much rather move more stuff out of Gradle's core distribution than pulling things in. Especially if there already is a dedicated and capable maintainer. This will require more work on our side of course, e.g. stabilizing APIs, making

[2017-03-01 20:48] hierynomus opened #1485 "Gradle 3.4 java-library plugin cannot be applied"
I was trying to migrate [sshj](https://github.com/hierynomus/sshj) to use the newly released Gradle 3.4 `java-library` plugin. However it seems that when using that together with the `org.ajoberstar.release-opinion` plugin (from: @ajoberstar), it fails with the following message:

    An exception occurred applying plugin request [id: 'java-library']

When running with `-s` you get the following s

[2017-03-01 22:12] Vampire commented on #1171
@oehme well, there are many use-cases. e. g. if you build an EAR, you should not deliver libs that are part of the app-server already, not only if you build a WAR. Or you might have "optional" dependencies, to stay in Maven language, that a consumer only has to provide and include if certain functionality is used. If you e. g. write a library that can talk to Amazon S3 amongst other things, a cons

[2017-03-01 23:44] plever commented on #1478
I'm assuming this was due to the S3 outage yesterday since it's working today.

Closing

[2017-03-01 23:44] #1478 closed

[2017-03-02 03:12] trustin commented on #1393
It seems like the code snippet @mnlipp provided doesn't work. `isSupportedOption('--allow-script-in-comments')` returns `-1` regardless it's pre-121 or not. I ended up with the following hack:

[code]

[2017-03-02 07:11] bassmake commented on #1367
Is there any workaround for current gradle version?

[2017-03-02 08:35] eskatos commented on #1367
@oehme

I think there's some confusion here. The upcoming asynchronous work API won't allow to start a background process *around* other tasks. This issue is about just that, starting a background process, then running other tasks like tests, then shutting down that background process.

@bassmake

Not that I know of. There's a community plugin (https://github.com/johnrengelman/gradle-processes ) t

[2017-03-02 09:38] AndreasErne opened #1487 "Gradle ignores transitive dependencies for dependency declared with `@type`"
The bug discussed in https://discuss.gradle.org/t/gradle-ignores-transitive-dependencies-when-specifying-a-classifier/2417 applies to Gradle 3.4 too.

This is very sad as it renders Gradle unusable for non-trivial dependency setups.

[2017-03-02 11:14] marceloverdijk commented on #1276
Where can I find the IntelliJ IDEA (Ultimate) 2016.3.6 nightly build? (I'm a licensed user).

[2017-03-02 11:19] Abrasha commented on #1276
@marceloverdijk, I asked about it in raised ticket

[2017-03-02 11:20] marceloverdijk commented on #1276
@vladsoroka mentioned:

[2017-03-02 11:21] marceloverdijk commented on #1276
@Abrasha but I will try 2017.1 for now.

[2017-03-02 11:22] Abrasha commented on #1276
Oops, seems that I missed that comment, sorry

[2017-03-02 11:23] marceloverdijk commented on #1276
@Abrasha No worries, but it seems (too) hard to find the nightly builds :-(

[2017-03-02 11:57] jacobilsoe opened #1488 "Cannot use apply plugin syntax together with the java-gradle-plugin"
I am writing some tests for a plugin and would like to apply that plugin in the test build.gradle file. I cannot use the plugins syntax since I need to "apply from" some file before applying the plugin. Trying to use the apply plugin does not work - the plugin was not found.

### Steps to Reproduce (for bugs)
Update this file in the official samples: samples\testKit\gradleRunner\automaticClasspath

[2017-03-02 11:59] bassmake commented on #1367
@eskatos
yeah, I tried that. I also tried solution mentioned here: http://stackoverflow.com/a/38528039/1860580
but looks like `task.execute()` is no longer available. Is there some dirty way to execute task from another task?

[2017-03-02 12:32] eskatos commented on #1367
@bassmake nope. Please 👍 this issue if you want it to be prioritized and/or consider contributing.

[2017-03-02 12:57] bmuschko commented on #1448
@YehudaCohen We'd be happy to accept a pull request for this. Please see @ghale's suggestion for guidance.

[2017-03-02 13:00] marceloverdijk commented on #1276
I can confirm it works again with 2017.1 EAP.

[2017-03-02 13:20] nodece opened #1491 "Could not resolve all dependencies"
i don't know why, Could not resolve all dependencies
this is my env
[code]
 this is my config file
[code]
this is my debug info
[code]

[2017-03-02 13:21] oehme commented on #1367
Why do you want to execute a task from another task? There is `Project.exec()` which you could call from a Thread if that solves your use case.

[2017-03-02 13:24] bmuschko commented on #1488
Applying a plugin with the plugins DSL has to be declared as the first statement in a Gradle build script. This behavior is mandatory without and with the use of TestKit. For example the following would not work:

[code]

The failure you'd see would be the following:

[code]

Needing to apply a script plugin before another binary plugin almost certainly is a smell for bad practice. It sounds like

[2017-03-02 13:42] jacobilsoe commented on #1488
I know about the plugins limitation. That was what I would like to work around by using the apply plugin syntax instead.
My specific use case is that I have a number of plugins defined in buildSrc. Some of the plugins need third party dependencies. I have defined the dependencies in a file called libraries.gradle. In the build.gradle file in buildSrc I have this:
[code]
so that the plugins can use

[2017-03-02 13:43] mnlipp commented on #1393
Indeed. And my code is missing the comparison with zero: "`... .isSupportedOption(...) == 0`". (That's why I don't like weakly typed languages, wouldn't have happened with Java!)

Anyway, in case somebody gets here while searching around, I [submitted a bug report](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8176089).

[2017-03-02 13:48] bmuschko commented on #1488
Why would your plugin need a list of dependencies? Dependencies are resolved during execution time and _only if_ a dependency is required by a specific task e.g. defined by your plugin. Does you plugin declare a custom task? I am also confused about why you declare dependencies in `buildSrc`. What you'll likely want is that the plugin already declares default dependencies out-of-the-box. Are you a

[2017-03-02 13:58] jacobilsoe commented on #1488
No, I will look into this. Thanks for pointing me in that direction.

I just mean that the example in the top of this thread should work, shouldn't it? The change from plugins syntax to apply plugin should work, or?

[2017-03-02 14:01] wilkinsona commented on #1162
Irrespective of the decision here, this is something that I'd really like to see. I won't retread old ground too much here, but if Gradle's core plugins only used public API then it'd go a long way to levelling the playing field. Perhaps that's part of what you meant by making them less special?

[2017-03-02 14:14] oehme commented on #1162
Yes, that's exactly what I mean.

[2017-03-02 14:17] bmuschko commented on #1488
No, that won't work. Using the plugins DSL is mandatory. I think we should state this more clearly in the user guide. In fact I already have an [open issue on my plate](https://github.com/gradle/gradle/issues/1231) to straighten this out soon.

I am going to close this issue for now. Please add another comment if you want to further discuss.

[2017-03-02 14:17] #1488 closed

[2017-03-02 14:18] bassmake commented on #1367
@oehme
Thanks that helped a lot. I posted my solution here: http://stackoverflow.com/a/42557798/1860580

[2017-03-02 14:28] oehme commented on #1338
That is one solution, but there is another that doesn't require changes to Gradle: Write a Gradle task that creates a file repository from your dependencies and package that file repository. Then have logic in your build that says "if that file repository is present, use it".

[2017-03-02 14:35] sschuberth commented on #1338
@oehme Sure that's doable, but why would I want to basically re-invent Gradle's caching logic but wrapping it in some higher-level tasks that do the same thing?

[2017-03-02 14:40] eriwen commented on #1477
@uklance If I understand correctly, we just need an API to get the latest version of a plugin given a plugin ID. That seems like a thing that exists already, will look it up.

[2017-03-02 15:18] oehme commented on #1338
The use case mentioned above is not about caching, but about providing a package that contains everything that was used for building that specific project. Including the whole user home doesn't sound like a great solution to that, as it will contain everything else that happened to lie around there, like dependencies of other projects and all kinds of caches that can be recreated from the project

[2017-03-02 15:31] uklance commented on #1477
It would be great if you could provide a webservice

eg: `https://plugins.gradle.org/plugins/badge?pluginId=com.lazan.gradlemavenshare`

The webservice
1. Takes the pluginId
2. Finds the latest version
3. Redirects to `https://img.shields.io/badge/<SUBJECT>-<STATUS>-<COLOR>.svg `
(eg `https://img.shields.io/badge/plugin%20portal-v1.2-blue.svg`)

[2017-03-02 15:32] eriwen commented on #1477
Ok, we'll consider it.

[2017-03-02 15:33] sschuberth commented on #1338
Well, I should know about the use case as I was one of the commenters on the original JIRA ticket. To quote myself:

[2017-03-02 15:39] uklance commented on #1477
Thanks, please note that many other service providers provide a similar service

eg
coveralls `https://coveralls.io/repos/github/uklance/gradle-maven-share/badge.svg?branch=master` [![Coverage Status](https://coveralls.io/repos/github/uklance/gradle-maven-share/badge.svg?branch=master)](https://coveralls.io/github/uklance/gradle-maven-share?branch=master)
bintray `https://api.bintray.com/packages/

[2017-03-02 15:50] uklance commented on #1477
I've copy / pasted the svg xml for `https://img.shields.io/badge/plugin%20portal-v1.2-blue.svg`. Perhaps it's simple enough that the webservice could create it's own response rather than redirecting to  `https://img.shields.io`

[code]

[2017-03-02 16:00] oehme commented on #1338
That's a completely different use case than the one I quoted. We should not squash those into the same ticket. Pre-populating (dependency) caches on CI is indeed interesting.

[2017-03-02 16:12] sschuberth commented on #1338
I fail to see how that's a different use case. Could it be that you misread the initial post? The "Expected Behavior" says

So, being able to transfer / copy the cache would both solve the problem of pre-populating CI nodes and being able to build `--offline`.

[2017-03-02 16:44] fritaly opened #1493 "Failed to load native library error when using Gradle 3.4"
### Expected Behavior

Upgrading from Gradle 3.3 to 3.4 should work.

### Current Behavior

On certain build machines, upgrading from Gradle 3.3 to 3.4 throws this error.

[code]

This issue relates to this Gradle forum [post](https://discuss.gradle.org/t/failed-to-load-native-library-error-when-using-gradle-3-4/21723).

### Context

This issue only happens when building on a CI build machine (hos

[2017-03-02 17:00] eskatos commented on #1493
@fritaly, could you please run again with `--stacktrace` and provide the output, or share a [build scan](https://gradle.com/scans/get-started)?

[2017-03-02 17:21] jim-gish-at-oracle-com commented on #1493
Even a simple gradle -version fails.  No stack trace or build scan possible -- it doesn't get that far.  In our case we're seeing this on Oracle Enterprise Linux (el5uek) (pretty much the same as RHEL).
Version: Linux 2.6.39-400.210.2.el5uek amd64

[2017-03-02 17:23] mkobit opened #1494 "'java-gradle-plugin' should use the 'java-library' over the 'java' plugin"
3.4 "deprecates" some of the configurations used in the `'java'` plugin.
The `'java-gradle-plugin'` should use the `'java-library'` plugin instead of it.

### Expected Behavior

Dependency scopes on published plugins have correct scopes.

### Current Behavior

Plugin `pom` scopes published are affected by [#1118: Published POMs using the `maven-publish` plugin have "runtime" for all dependency sco

[2017-03-02 17:31] oehme commented on #1338
I was quoting from the description of this issue:

That's not something I'd solve by zipping up the user home. It can be solved much more elegantly by generating a file repository.

[2017-03-02 17:49] oehme commented on #1494
You can just apply `java-library` on top of it for now. Also, we corrected the publishing for the `java` plugin as well and the published `pom` matches the behavior inside a multi-project build (i.e. both the old `compile` and `runtime` configurations are leaked into downstream projects and are thus assigned to Maven's `compile` scope).

So the "current behavior" described above is not what should

[2017-03-02 17:50] sschuberth commented on #1338
Ok, I was interpreting "escrow" differently in this context. If it basically just means "package all jars of all (transitive) dependencies" then you're right.

Now we need to agree on whether we need a separate ticket for the other use case, and which of the two use cases that *other* is.

[2017-03-02 17:57] oehme commented on #858
I'd recommend using [Eclipse Buildship](https://github.com/eclipse/buildship), which puts dependencies in a classpath container, thus making the .classpath file portable.

We can't just use a path variable, as those need to be actively defined in the IDE by the user. If we switched Gradle to inserting path variables by default, then `gradle eclipse` would be broken for pretty much everyone.

[2017-03-02 17:57] #858 closed

[2017-03-02 18:01] oehme commented on #856
We should not do this as a task, but as a generic part of the eclipse model, e.g. like this:

[code]

These should then be generated by a single task and exposed via the Tooling API so Buildship can consume them.

[2017-03-02 18:05] oehme commented on #1338
I think we should rename this one to "Make dependency caches sharable between CI machines". The escrow use case and checked-in-dependency use cases (also mentioned in the original ticket) are already possible today and don't need a new ticket I think.

[2017-03-02 18:28] oehme commented on #1338
I'm still not convinced that Gradle's internal caches should be relocatable. The "prime my CI agents" use case can also be solved by creating a file repository, pushing that to the agents and making your build logic react to the presence of that file repository. This also works nicely for the "lots of docker build agents on the same host" use case ( #851 ) where you can share that file repository

[2017-03-02 18:57] pzieminski commented on #1397
Thank you for logging this bug. We're struggling with this issue also. We don't have the option to NOT publish to the local repo. We cannot publish shared libraries which have not been tested.

One way around it is two version the snapshot versions locally, install it to mavenLocal with a new version and update the version references in the gradle project to pick up the changes.

It's hacky, time

[2017-03-02 19:17] sschuberth commented on #1338
The benefit would be that I wouldn't have to implement your aforementioned logic to react to the presence of that file repository for all products we're building.

Also, let me ask the opposite question: What benefit does it have for Gradle to store absolute paths in the cache? I can't see any, and that's the main issue for this use case.

[2017-03-02 19:26] oehme commented on #1338
The benefit is the freedom to do whatever is most performant without having to keep guarantees about relocatability.

The logic I mentioned could be a community plugin which you apply to your projects.

[2017-03-02 19:31] mkobit commented on #1494
Thanks @oehme for the quick response, I'll double check in the next couple days if the current behavior is actually what happens or not and follow up on this issue.

I wanted to file this as a sort of tracking issue before I forget about it, because this seems like a good place to be able to make a contribution.

[2017-03-02 19:31] sschuberth commented on #1338
How is using absolute paths more performant than relative ones? I hope you won't start arguing about string concatenation here...

I was assuming you'd make the plugin proposal, but still it needs to be applied in all projects. Why let others solve the problem in many places when you can solve it once in a central place?

I start to feel you're very reluctant to making the cache portable, and I'm

[2017-03-02 20:25] oehme commented on #1338
The Gradle User Home contains a bunch of stuff that are not meant to be shared (e.g. daemon registry) and the cache structure is not a public contract. Making it a public contract would put maintenance burden on us. That would be okay if there was a use case that can't be solved another way. But the one presented here is easy to solve with a plugin.

@bmuschko @mark-vieira What do you guys think?

[2017-03-02 20:31] sschuberth commented on #1338
Note that I'm not asking for a public contract / API for the cache here. The exact structure of the cache can stay an internal implementation detail as long as the cache directory can be copied as-is to another machine, and the same Gradle version as was used to create the cache contents is able to re-use it.

[2017-03-02 20:51] mark-vieira commented on #1338
I think there are ways to solve this use case w/o having to make the Gradle cache portable. Like @oehme mentioned, this is an opaque cache and there are potentially a bunch of consequences to packing up the entire Gradle user home directory and shipping it to a different machine.

If this is the case then wouldn't building a local Maven or Ivy repo with these libraries be sufficient? There are plu

[2017-03-02 20:54] sschuberth commented on #1338
Note that the escrow use-case isn't mine, but William Price's. Mine is the pre-populate CI nodes use-case only.

[2017-03-02 21:23] mark-vieira commented on #1338
This is a better use case IMO. The case here being that we want to share a single local dependency cache across many CI machines. FWIW, folks are already doing this. Not by "copying" the cache, but by sharing a single cache amongst multiple machines. There are two separate issues here, but they are somewhat related.

1. We can't copy a cache from one location to another because of absolute paths i

[2017-03-02 21:32] sschuberth commented on #1338
Exactly. Neither option currently works (despite https://issues.gradle.org/browse/GRADLE-2795 being resolved), and solving it either way would suite my use case.

[2017-03-02 21:39] mark-vieira commented on #1338
The issue you mention is only part of the problem. The main issue I'm referring to is we lock the dependency cache during resolution (?). At a certain concurrency threshold the contention becomes high enough where builds timeout waiting for the locks to release.

I'm more inclined for us to solve this problem as a solution to this use case as I think it's more common for folks to have a single sha

[2017-03-02 22:00] eriwen commented on #1491
Does it work if you inline the `springBootVersion` variable? If you look at the locations searched, it looks like the version is missing. You might consider moving `ext {}` outside of your `buildscript {}` block to fix this.

Finally, questions like these are more likely to be answered by the community in the [help/discuss forums](https://discuss.gradle.org/c/help-discuss). I encourage you to ask

[2017-03-02 22:01] eriwen commented on #1481
@mohlendo Would you please put together a simple example for our testing? Could you tell us about your environment (Gradle version, OS, etc) as well (build scan preferred)?

[2017-03-02 22:03] jonatanloya commented on #829
Hi JimHolladay, I am having same issue, can you tell me how do you fixed that?

This is my build.gradle

plugins {
  id "org.akhikhl.gretty" version "1.4.0"
}

description = 'O&D REST Services'

allprojects {

    apply plugin: 'java'
    apply plugin: 'maven'

    configurations {
        buildScripts
    }

    repositories {
        maven {
            url 'http://pros-maven:8888/artifactory/re

[2017-03-02 22:06] eriwen commented on #1475
@jacobilsoe Thanks for the analysis. Could you please confirm that you're using zinc (not ant-based compiler) when compiling Scala using Gradle v2.11?

[2017-03-02 22:07] eriwen commented on #1494
@mkobit Indeed. It sounds like you're interested in contributing here. Looking forward to seeing what you do.

[2017-03-02 22:10] eriwen opened #1497 "java-library init template should use java-library plugin"
### Expected Behavior
As a user, I want Gradle to encourage best practices by leveraging the hot new java-library plugin in project bootstrap templates

### Current Behavior
`gradle init --type java-library` still generates a project that uses the `java` plugin.

### Context
It is unclear how many users this will help, but presumably thousands will try this out.

### Your Environment
N/A

[2017-03-02 22:11] eriwen commented on #1497
Here's another one for ya if you want @mkobit ;)

[2017-03-02 22:12] eriwen commented on #1472
Thanks for the great bug report as always, Danny.

[2017-03-02 22:15] eriwen commented on #1461
@ghale IIRC there was recent work in this area, correct? Do you have any information for @blackdrag here?

[2017-03-02 22:17] adammurdoch commented on #1493
Could you try running the native-platform test application on these machines and sending us the stack trace?  The test app is at https://repo.gradle.org/gradle/webapp/#/artifacts/browse/tree/General/libs-releases-local/net/rubygrapefruit/native-platform-test.

If possible, please run version 0.13 (used by Gradle 3.4) and 0.12 (used by Gradle 3.3) so we can see whether the failure is something new,

[2017-03-02 22:54] ghale commented on #1461
You should be able to do this by setting the fork options on the compile task.  For instance:

[code]

This is documented through the DSL reference (https://docs.gradle.org/current/dsl/org.gradle.api.tasks.compile.JavaCompile.html) although it would probably require some digging.

[2017-03-02 23:54] eriwen commented on #1461
Right, thanks Gary. For some reason I had it in my head that that didn't affect the compiler daemons.

Closing as answered. Please reopen @blackdrag if anything is amiss.

[2017-03-03 01:34] nodece commented on #1491
@eriwen thanks, but this questions still not solved，if i create new project , it can resolve all dependencies and run in my computer, i want know why. this is my project in [github](https://github.com/nodece/oauth2-server.git)

[2017-03-03 02:00] eriwen commented on #1491
@nodece in that case please post on the forums to seek further community help.

[2017-03-03 05:37] gocursor commented on #1338
The only public contract for the Gradle team regarding this issue would be: Gradle Home directory is always relocateable. This would mean one can move Gradle Home directory to another location (folder / drive / machine) and just point the environment variable to new location. It should work without downloading any artifacts again. This would cover all OFFLINE use cases (and also online cases where

[2017-03-03 05:52] moio commented on #1338
I work for SUSE and we have a requirement to build all software we ship without Internet access. We have infrastructure to build any kind of software project ([Open Build Service](http://openbuildservice.org/)), that automates the creation of an isolated, reproducible build environment. Currently, it does not have Java-specific support in it, in particular, it has no support of Maven or Ivy repos

[2017-03-03 06:00] gocursor commented on #1338
If I may, I would propose a new name for this issue: "Make dependency caches relocatable"

[2017-03-03 06:23] charlesxucheng opened #1498 "Gradle 3.4 Scala plugin cannot find symbol for annotations."
I have code in Scala that is used by Java code (domain logic in Scala, MVC layer in Spring Boot). I was able to use Gradle Scala plugin to compile the code up to Gradle 3.3, by setting the following:
 sourceSets.main.scala.srcDir "src/main/java"
 sourceSets.main.java.srcDirs = []

Ref: https://chrismarks.wordpress.com/2013/07/31/compiling-a-mixed-scala-project-with-gradle/

However with Gradle 3.4

[2017-03-03 07:39] liaoya opened #1499 "The configuration order gradlew read is different from gradle"
In https://docs.gradle.org/3.4/userguide/build_environment.html. The configuration is applied in following order (if an option is configured in multiple locations the last one wins):
- from gradle.properties in project build dir.
- from gradle.properties in gradle user home.
- from system properties, e.g. when -Dsome.property is set on the command line.

We're a team located different location and

[2017-03-03 07:47] blackdrag commented on #1461
I don´t think I have the access rights to reopen the issue. Because I already had this before I filed this issue:

    compileJava {
        dependsOn ensureGrammars
       //    options.fork(memoryMaximumSize: javacMain_mx)
       options.forkOptions.jvmArgs << "---fooo"
    }

What I had expected to happen was the build script compiler daemon to fail to start because of the invalid JVM option. T

[2017-03-03 07:50] blackdrag commented on #1461
one more thing. On github I can reopen an issue only if I closed it. Since @eriwen closed this issue I cannot reopen it

[2017-03-03 07:52] EarthCitizen commented on #1338
What about the overhead of the copy time if the cache is quite large? On my machine, it takes a while to create a copy of a 2.7G Gradle cache. IMHO, it would be better for multiple Docker containers to be able to use the same Gradle cache as a volume without running into locking issues.

[2017-03-03 08:19] gocursor commented on #1338
This is not the same use case as mine. I need it for offline builds.

[2017-03-03 08:22] oehme commented on #1338
The locking issue is covered by #851

[2017-03-03 08:29] sschuberth commented on #1338
#851 seems to be limited to test execution is there also already a ticket tracking @mark-vieira's suggestion to "making locking of the cache less aggressive"?

[2017-03-03 08:43] jacobilsoe commented on #1488
What I really want to achieve is having a single place where all dependencies are defined. The same way as Gradle has it in gradle/dependencies.gradle. But looking through the Gradle source code I see that the classycle plugin has a dependency on 'classycle:classycle:1.4@jar'. This is similar to my plugin. However, to avoid duplication, I would like to "read" those dependencies from gradle/depende

[2017-03-03 08:51] jacobilsoe opened #1500 "Unit tests fail on Windows when 8dot3name is disabled"
I am trying to run the unit tests on Windows on a volume where 8dot3name is disabled. Two tests fail though. The current 8dot3name can be found by issuing this from a command prompt:
[code]
### Expected Behavior
The tests should succeed regardless of the 8dot3name configuration.

### Current Behavior
The following two tests fail when 8dot3name is disabled:
[code]
### Steps to Reproduce (for bugs)

[2017-03-03 09:24] fritaly commented on #1493
Here you are:

Version 0.12 yields the following output.

[code]

Version 0.13 fails with this error:

[code]

I had noticed that the failure occurred on a machine running CentOS 5.8 but not on CentOS 6.5. Does it mean this failure will occur on any machine running an old glibc version ?

In my case, I have:

[code]

[2017-03-03 09:36] oehme commented on #1338
I changed the title, it had nothing to do with test execution in particular.

[2017-03-03 11:21] andykane opened #1502 "JavaDocs JFlag no longer seems to get set with Gradle 3.4"
We use the JavaDoc task to build our JavaDocs and we use our own doclets package to filter out what doesn't need to be added to the JavaDoc documentation.  From the JavaDoc task options closurer, we set the JFlag parameter to a system property which is then picked up within our doclets package.

After switching to Gradle 3.4, setting the system property with the JFlag parameter doesn't seem to get

[2017-03-03 11:35] jacobilsoe commented on #1475
@eriwen I am not using zinc when compiling in Gradle 2.11. I just use the default behaviour of the Scala plugin. I have tried this in Gradle 2.11:
[code]
And now I get performance similar to that of Gradle 3.4. Thread usage is 5 -> 80 -> 5.

[2017-03-03 12:12] oehme commented on #1475
Thank you @jacobilsoe. This means that the Zinc based compiler always had this problem, so at least we know this is not a newly introduced regression.

[2017-03-03 12:48] bamboo commented on #1482
Upon further inspection it seems the first line of application output is actually overwritten.

[2017-03-03 13:22] lacasseio commented on #1482
Thanks @bamboo for reporting this, I will look into it.

[2017-03-03 14:15] #1476 closed

[2017-03-03 14:16] #1474 closed

[2017-03-03 14:22] #1457 closed

[2017-03-03 15:04] melix commented on #1498
Hi,

Can you setup a minimal test project showing the problem? It would help us diagnose and determine if it's a bug or not.

Thanks!

[2017-03-03 15:06] donat commented on #1418
Code review: https://code-review.gradle.org/cru/REVIEW-6460

[2017-03-03 15:12] lacasseio commented on #1500
Thanks for reporting this @jacobilsoe. Could you [submit a build scan](https://gradle.com/scans/get-started) for your scenario?

[2017-03-03 15:22] lacasseio commented on #1499
Thanks for reporting this @liaoya. Is this 1) a regression from Gradle 3.3 or 2) you started using the wrapper in your company and found out about this difference in behavior?

[2017-03-03 15:44] ghale commented on #1461
@blackdrag I assume this is for `groovy-core`?  I added exactly the configuration you have above to `groovy-core/build.gradle` and I got a failure to start the compiler daemon.  This happened for the version of gradle that was in the wrapper (2.3), 3.2.1 and 3.4.  The process that was started had the added option:

I'm guessing something else is going on here (possibly something overwriting jvmArg

[2017-03-03 15:53] reinhapa commented on #719
The has error slightly changed since `Java(TM) SE Runtime Environment (build 9-ea+158)`

[code]

[2017-03-03 16:43] avelella opened #1505 "Wrong maven dependency being used with artifact org.wildfly:wildfly-ejb-client-bom:10.1.0.Final"
### Expected Behavior
I expect the compile dependencies to be as shown on https://mvnrepository.com/artifact/org.wildfly/wildfly-ejb-client-bom/10.1.0.Final

For example: org.jboss.xnio:xnio-nio:3.4.0.Final instead of org.jboss.xnio:xnio-nio:3.3.1.Final

### Current Behavior
The dependencies should be, instead of:

org.jboss.xnio:xnio-api:3.4.0.Final instead of org.jboss.xnio:xnio-api:3.3.1.Final

[2017-03-03 16:55] lacasseio opened #1506 "Fix `toLowerCase` sensitivity regarding `Locale`"
### Expected Behavior

Using a different `Locale` than English shouldn't cause unexpected behavior in Gradle.

### Current Behavior

Using Turkish locale can cause unexpected behavior in presence of dotless i character (upper->lower). [Various place](https://github.com/gradle/gradle/blob/38e5dc0f772daecca1d2681885d3d85414eb6826/subprojects/base-services/src/main/java/org/gradle/internal/jvm/Jvm.ja

[2017-03-03 17:28] big-guy commented on #1502
Thanks @andykane

I've confirmed that this is a problem. I don't see a workaround for now, but we'll get this fixed.

[2017-03-03 17:35] jmslau commented on #1354
Thanks for doing this guys! This is going to help a ton :)

[2017-03-03 18:43] lptr commented on #1431
I've upgraded `master` to 2.4.9 on a branch, and it's looking good so far, stage 3 done:

https://builds.gradle.org/viewQueued.html?itemId=2454072&buildTypeId=Gradle_Branches_Checkpoints_Stage4FullCoverage&tab=dependencies

PR: https://github.com/gradle/gradle/pull/1508

[2017-03-03 23:22] big-guy commented on #1418
LGTM, assuming it fixes the Buildship issue.

[2017-03-04 14:23] blackdrag commented on #1461
This is for groovy-core, yes, and I will try soon. But could you explain "in process" a bit more? Because it is not the process I start with the gradle command, that I can influence using GRADLE_OPTS. Why is gradle creating separate process for the builder daemon, but lets you set options for it only in fork mode?

[2017-03-04 14:37] blackdrag commented on #1461
ok, after trying out for a few minutes... Is it possible this behaves different on jdk8 and jdk9? Because my "---fooo" seems not to appear using:

    Java(TM) SE Runtime Environment (build 9-ea+155-jigsaw-nightly-h6059-20170208)
    Java HotSpot(TM) 64-Bit Server VM (build 9-ea+155-jigsaw-nightly-h6059-20170208, mixed mode)

[2017-03-04 14:55] blackdrag commented on #1461
an I did just see I still have artefacts from several tries before...  So I also have

    org.gradle.jvmargs=-ea -Xmx1G --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.util=ALL-UNNAMED
    #org.gradle.jvmargs=-Xmx1G -XX:MaxPermSize=384m -XX:+CMSClassUnloadingEnabled -XX:+CMSPermGenSweepingEnabled

in gradle.settings and also org.gradle.daemon=false. But as you can see setti

[2017-03-04 15:50] SetoKaiba commented on #1276
The 2017.1 EAP is with correct scope of dependency now. But the run/debug config window of Gradle are with bug.
Do you guys meet the same problem?

[2017-03-05 01:30] andyrbell opened #1510 "NPE with Cucumber and JUnit Categories"
NullPointerException being thrown if [JUnit Category](https://github.com/junit-team/junit4/wiki/Categories) restrictions are used in a project containing Cucumber tests

### Expected Behavior
Test completes without error

### Current Behavior
The build fails with an InitializationError and the following stacktrace is printed to the test report standard out:

[code]

### Context
Need to exclude cer

[2017-03-05 06:57] vladsoroka commented on #1276
@marceloverdijk I think, you can get nigthly, eap or release versions easily using toolbax app (https://www.jetbrains.com/toolbox/app)

[2017-03-05 09:37] jacobilsoe commented on #1500
@lacasseio: Sure, here's a [build scan](https://scans.gradle.com/s/qmaz5kwi3atsu). I ran the tests on a different OS than last time and now only the 8.3 name test fails. I will look into making the other fail as well. To reproduce the error I issued this from a command prompt: ```fsutil.exe 8dot3name set c: 1```.

[2017-03-05 10:10] jacobilsoe commented on #1500
Here's some test output from the other test:
[code]

[2017-03-05 10:45] reinhapa commented on #1461
I got the same issues here with the latest `Java(TM) SE Runtime Environment (build 9-ea+158)` preview build.

There is a epic #890 that should add support for JDK 9 also, unfortunately there where no actual updates since January. I would like to help out in testing more in this area, but did not jet receive any response jet.

At last, I  saw that you still use the `-XX:MaxPermSize=384m` parameter.

[2017-03-05 18:49] blackdrag commented on #1461
@reinhapa I actually used only

    org.gradle.jvmargs=-ea -Xmx1G --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.util=ALL-UNNAMED

[2017-03-05 20:55] samrocketman commented on #759
^^ that seems lame and opaque.  I've not heard of such a partnership which claims to be "open source" and legally forbids transparency of viewing issues.  Seems kind of mental to me.

[2017-03-05 21:52] sm4 commented on #1338
I also have the 'escrow' use case. Sharing the cache seemed like the best solution, however:

I'd prefer to use a plugin that would create a repository than to use the whole cache. I believe it would also solve the this issue (sharing between CIs). However I haven't found anything (apart from repository proxies). @mark-vieira could you please share a link to such plugin?

Proxy would probably not

[2017-03-05 21:57] ronshapiro opened #1515 "annotationProcessor dependency can't have an aar as a transitive dep"
`com.google.dagger:dagger-android-processor:2.10-rc2` is a `jar` that has a dependency on `com.google.dagger:dagger-android-support:2.10-rc2`, an `aar`. When gradle attempts to resolve the deps for the processor, it sees `<type>aar</type>` and silently ignores it. Is that expected behavior? It seems that it should at least warn, if not error, or just support it out of the box. The processor only n

[2017-03-06 01:26] charlesxucheng commented on #1498
Please take a look at https://github.com/charlesxucheng/gradle-issue-1498.
I tried Gradle 3.1, Gradle 3.3 (Wrapper) and Gradle 3.4. Compilation fails with 3.4 only and works fine in other versions.

Thanks.

[2017-03-06 02:41] liaoya commented on #1499
I have check the history of org/gradle/wrapper/GradleWrapperMain.java. I check the oldest version and it use the similar order. I think the oldest version must has such issue.

        private static void addSystemProperties(String[] args) {
            System.getProperties().putAll(SystemPropertiesHandler.getSystemProperties(args));
            System.getProperties().putAll(SystemPropertiesHandle

[2017-03-06 08:45] oehme commented on #759
I agree that this comment was vague. In fact there is no such partnership, the comment was intended for a different issue.

There are partners who pay us for improving Gradle for everyone, but don't want to be named or don't want us to make a big fuss about it before it is ready. These partnerships are improving the tool that you are using for free. So your comment of such a partnership being "men

[2017-03-06 09:09] #1418 closed

[2017-03-06 09:23] hierynomus commented on #1485
Just had a look at the code. I see that some work has been done on the exact lines which were hit in the stacktrace in this commit: 559a9f8a693ca0fca216155ee59a1a77129d11ee

[2017-03-06 09:51] vladsoroka commented on #1276
@SetoKaiba  you've faced with another not related to the issue bug, see details at the IntelliJ linked issue.

[2017-03-06 10:05] hierynomus commented on #1485
After checking this indeed seems to have been fixed by 559a9f8. Looking forward to a new release which includes that!

[2017-03-06 10:16] jjohannes commented on #1148
LGTM 👍

[2017-03-06 10:45] donat commented on #1148
Thanks for the review, @jjohannes!

[2017-03-06 10:45] #1148 closed

[2017-03-06 10:52] pioterj commented on #1497
@eriwen From what I can see this is already done in 3.4.

[2017-03-06 11:06] Horcrux7 opened #1516 "Eclipse Project Launcher use Gradle dependency from first library project"
BuildShip 2.0.1 and Gradle 3.4

If we add a library project for debugging to an eclipse project then the launcher resolve the project and external dependencies form the library project and not from the main project. The result are ClassNotFoundExceptions from libraries which are only in the main project.

This is also good visible in the classpath order of the launcher. The project and external de

[2017-03-06 12:44] rhaendel commented on #1493
I'm currently having the same issue on two machines running Debian GNU/Linux 5.0, ldd (GNU libc) 2.7.

[2017-03-06 12:46] pioterj opened #1517 "Document lack of signing capability in maven-publish plugin"
`maven-publish` plugin isn't suitable for publishing to Maven Central due to the lack of signing capabilities. We should add this capability but in the meantime let's at least document this limitation in the user manual.

[2017-03-06 12:56] oehme commented on #1436
@wilhe215 is there any way you could provide us with a heap dump or profiler snapshot (shared privately of course) so we can further diagnose this problem?

[2017-03-06 14:06] oehme commented on #1485
Indeed this has been fixed by "accidentally" by using a different code path. `artifact(Map)` or `artifact(File)` evaluate `Project.version` eagerly.

I think the release plugin by @ajoberstar needs a small fix to avoid similar situations with other plugins that add artifacts: It adds a "DelayedVersion" which needs a non-null `grgit` instance. But the `grgit` instance is only created later, so it m

[2017-03-06 14:06] #1485 closed

[2017-03-06 14:12] oehme commented on #1515
This is indeed better suited for the Android bug tracker :)

[2017-03-06 14:39] oehme commented on #1505
What you linked to is a BOM, which is not supposed to be used as a dependency, but in Maven's `<dependencyManagement>` block. There is a [Plugin](https://github.com/spring-gradle-plugins/dependency-management-plugin#importing-a-maven-bom) that adds this functionality to Gradle.

[2017-03-06 14:39] #1505 closed

[2017-03-06 14:43] oehme commented on #1516
Can you please provide a reproducible example project?

Also you might want to use a [composite build](https://docs.gradle.org/current/userguide/composite_builds.html) instead of manually adjusting Eclipse .classpath files.

[2017-03-06 15:00] rwinch opened #1518 "Composite Build support for plugins block"
The [documentation](https://docs.gradle.org/current/userguide/composite_builds.html?_ga=1.44342436.120894357.1435784450#current_limitations_and_future_work) states:

It would be nice if this feature was added for users who want to provide samples of the plugin in use and test the sample out using composite builds.

### Expected Behavior

When a project uses the plugins syntax and provides `--inclu

[2017-03-06 15:04] big-guy commented on #1456
@aviverette I went ahead and incorporated what you were doing with a custom javadoc option:

https://docs.gradle.org/nightly/release-notes.html#support-for-multi-value-javadoc-options

Could you try the latest 3.5 nightly and see if this removes your need for a custom javadoc option?

[2017-03-06 15:24] aviverette commented on #1456
I have tested with the new javadoc option in 3.5-20170306000041+0000 and it works fine for our use cases.

I also tried reverting our custom options to the implementations linked earlier, and they compile fine using the nightly. The custom options still have to import an internal class, internal.JavadocOptionFileWriterContext, to override the write() method, which would be nice to migrate away fro

[2017-03-06 15:48] #1515 closed

[2017-03-06 15:50] ronshapiro commented on #1515
Sounds good, moved there: https://code.google.com/p/android/issues/detail?id=237622&thanks=237622&ts=1488815420

[2017-03-06 15:58] Horcrux7 commented on #1516
The composite build based on settings in the gradle.settings will also have an effect to the build system.

Settings in the .project file and the *.lauch files are development only. A team can share this setting without any effect to the build system.

It is very important to have in the repository settings for
* the build system
* shared for build and dev systems
* dev systems only.

I will creat

[2017-03-06 16:20] oehme commented on #1516
That's the point, it properly tells Gradle to substitute dependencies, so you don't have to do classpath ordering stunts in Eclipse :)

You can do composite builds with an if-statement, so they don't affect your CI environment. We also plan to add some UI in Buildship in the future so you can do ad-hoc composites without changing a settings.gradle file.

[2017-03-06 16:58] aflat opened #1519 "java core dumps on jansi lib on Sles10"
OS: sles10
java: build 1.8.0_121-b13
gradle: 3.3

Trying to run a basic gradle build on sles 10 and the jvm core dumps due to libjansi.so. Looks like this issue https://github.com/fusesource/jansi/issues/6 old, but still relevant. Started as of gradle 3.1. 3.0 works.

[2017-03-06 17:55] aflat opened #1520 "gradle 3.4.1 fails to start on Sles10"
os: sles10
gradle: 3.4.1
java: (build 1.8.0_121-b13

[code]

[2017-03-06 17:58] aflat commented on #1519
if I run with --console plain option, everything works. I assume it's due to skipping to load jansi

[2017-03-06 18:00] aflat commented on #1520
3.4 fails with the same error. 3.3 doesn't have this issue.

[2017-03-06 19:20] lptr commented on #1431
The PR looks pretty good, I think it's ready for merging.

[2017-03-06 20:27] bernardladenthin opened #1521 "Provide a property to set a custom user agent for http/s requests"
A custom user agent will be required in a restricted environment. Some companies only allow traffic through a proxy and expect a registered and/or modified user agent.

### Expected Behavior
Gradle should provide a setting to change the user agent. It should be similar to the proxy settings desribed in the [build environment](https://docs.gradle.org/current/userguide/build_environment.html) docume

[2017-03-06 20:50] bernardladenthin commented on #1521
If accepted, this feature should be added to the [build environment](https://docs.gradle.org/current/userguide/build_environment.html) documentation.

[2017-03-06 23:02] bmuschko opened #1524 "New CLI prevents user from opening failed test report by clicking link"
### Expected Behavior

User can click on link. The browser automatically opens and renders failed test report.

### Current Behavior

Hand icon shows up but clicking the link does not result in browser being opened.

There's also some overlapping output from previous rendering of `IDLE`:

[code]

[2017-03-06 23:43] jszakmeister commented on #1277
@eriwen Sorry it's been so long.  I've gotten some feedback on my document.  I need to make some changes and then I'll give that to you guys to give a bit of background, and then we can schedule some time for a chat.  Again, sorry it's taking so long.

[2017-03-06 23:51] eriwen commented on #1277
@jszakmeister No apologies necessary, sir! We've been extremely busy ourselves.

Please let me know when you're ready anytime.

Aside, I think it'd be great to have a talk on working with Gradle and Clojure at the Gradle Summit. Perhaps you'd be interested? https://summit.gradle.com/speak

[2017-03-07 01:05] samrocketman commented on #759
@oehme thanks for the tip on timestamps, I didn't mean to come off as rude.  I was only making an observation.  Your statement can apply to pretty much all popular freely licensed and open sourced software.  I still think it's unwise to keep an issue relating to a desired open source feature in a closed and opaque issue tracker.  It makes me not want to contribute if that's how this project operat

[2017-03-07 01:20] wilhe215 commented on #1436
@oehme I'm not able to do that.  If you're willing to teach me to fish, I could look for things that you're interested in.  I will send you an email so we don't derail this thread.

[2017-03-07 05:28] big-guy opened #1525 "Expose reasons for a particular task's outcome"
Like we do for cacheability, we should provide/introduce “outcome reason(s)” in TaskStateInternal/TaskState that can be show in logs and collected for later analysis

### Expected Behavior

Users would like to know why a task was UP-TO-DATE, NO-SOURCE, FROM-CACHE, EXECUTED, etc.

### Current Behavior

We have some reasons that only show up in logs, but it's difficult to find.

[2017-03-07 05:32] big-guy opened #1526 "More deeply model lifecycle tasks"
We define lifecycle tasks as tasks without actions that depend on other tasks.

The current behavior is used to represent two kinds of lifecycle tasks:
- “Buildable” tasks (like classes, native lifecycle variant tasks)
- “Work-flow” tasks (check, assemble, build)
- For Buildable lifecycle tasks, it’s useful to calculate the outcome based on dependencies.
- For Work-flow lifecycle tasks, it’s less

[2017-03-07 08:00] Horcrux7 commented on #1516
How can I do this if condition?

I have attached a sample workspace. Its contains:
* a library project "JLessC" with extra debug output
* its contain 2 main projects. The only difference is the order of classpathentry in the file .classpath and the main class was renamed to differentiate. Both haven a jcenter reference to 2 libraries.

The one main project does not show the extra debug output from

[2017-03-07 08:23] fhuberts commented on #1435
Found it!

Passing '-Djsse.enableSNIExtension=false' to the gradle wrapper when its version has changed and it must download the new version makes the whole thing fail.

On my Fedora machine it makes no difference, but on my Debian machine I must remove the '-Djsse.enableSNIExtension=false' argument

[2017-03-07 10:01] spac3hit opened #1528 "failed to build in jenkins when using specific pr title"
### Expected Behavior
Build gradle project on jenkins successfully.

### Context
notifying a Jenkins job when a new pr is opened in github using a webhook (ghprb) -> Jenkins ghprb plugin retrieves the pr info sent >> trigger a build.

### Steps to Reproduce (for bugs)
bin/gradle -DghprbActualCommitAuthorEmail=x@y -DghprbTriggerAuthorLogin= -DghprbGhRepository=project -DghprbTargetBranch=branch -Dg

[2017-03-07 10:18] glefloch commented on #1497
Yes I just tried it, the generated `build.gradle` uses `java-library` plugin.

[2017-03-07 10:18] oehme commented on #759
We didn't close this issue in favor of some internal one. We closed it because it was not a bug and because there was a workaround for the issue described. There is no ticket for the broader topic of "repeatable dynamic versions" yet, but you are very welcome to open one. We did not open one ourselves because we don't have the capacity to work on it or discuss it at this point.

That being said, t

[2017-03-07 11:34] wolfs commented on #1528
Thank you for the well written bug report. This sounds more like a bug in the [Jenkins Gradle plugin](https://wiki.jenkins-ci.org/display/JENKINS/Gradle+Plugin) than in Gradle itself. I think the main problem is that
1) all build parameters are passed to Gradle as system properties automatically
2) the given system property contains `>>` and `'`.

To check if it is a problem for Gradle itself, cou

[2017-03-07 13:02] pioterj commented on #1262
I think that rather than fixing this issue we should address remaining gaps and un-incubate new plugin DSL. As a part of that we should allow the plugins block in all script types including script plugins.

[2017-03-07 13:09] spac3hit commented on #1528
executed the same command from cli; I get the same errors.

[2017-03-07 13:25] mohlendo commented on #1481
I have created a small project for reproducing this bug:  https://github.com/mohlendo/codenarc-console
Running `./gradlew clean build` prints no CodeNarc errors on the console.
I think this is because there is also a test failure, but the console logs:

[code]

[2017-03-07 13:41] bmuschko commented on #1277
@jszakmeister Cool, ping me after organizing your thoughts and we can have a chat!

[2017-03-07 13:43] bmuschko commented on #1262
@pioterj That would be another option. The `buildscript` is just one example. The same is true for the plugin DSL. We'd also need to lift some additional limitation the plugin DSL still has e.g. the ability to be applied in `subprojects` or `allprojects` - a common use case how script plugins are applied.

[2017-03-07 14:00] sdfelts commented on #1461
I've been working with JDK9 since the early builds.  The restriction on setAccessible was a big step backward for Gradle.  While it's possible to add --add-opens to the environment generally, it does open it up for other software beside Gradle.  On the other hand, trying to change every project build.gradle to have the right packages opened is very invasive.    The solution that I found worked bes

[2017-03-07 14:21] rocketraman commented on #759
@oehme  As far as I know, no one was asking why this issue was closed. That was clear. @eriwen stated:

So would we. This is what we were asking for. Now that its clear this place does not currently exist, we can move forward :-)

Thanks for the link to the community plugin also.

[2017-03-07 14:28] pioterj commented on #1262
Yes, that's what I meant by addressing the remaining gaps.

This is already available.

[2017-03-07 14:30] bmuschko commented on #1456
@big-guy Ready to be closed?

[2017-03-07 14:34] bmuschko commented on #1502
@big-guy Can you please add a milestone for the issue?

[2017-03-07 14:35] eriwen commented on #1497
My mistake. I tried this init template in one of my projects, but perhaps I wasn't on Gradle 3.4. Closing as invalid.

[2017-03-07 14:35] #1497 closed

[2017-03-07 14:35] oehme commented on #874
This is actually not the case. The primary exception is shown in the stacktrace. The secondary exception (inside the `afterEvaluate` hook) is logged as well. Reproduced with the example above.

[2017-03-07 14:36] bmuschko commented on #1520
Closing as duplicate of https://github.com/gradle/gradle/issues/1493

[2017-03-07 14:36] #1520 closed

[2017-03-07 14:44] bmuschko commented on #1270
@cuijianzhi Please open another issue on GitHub that describes the problem you are seeing with resolving dependencies. I don't think it's related to this issue here.

[2017-03-07 14:47] rocketraman commented on #759
FYI - I think this is a relevant issue for the community plugin:

https://github.com/nebula-plugins/gradle-dependency-lock-plugin/issues/78

[2017-03-07 15:06] gaganis commented on #1365
Hello all!

## Background

I have given a shot to this issue but I was not able to reach a fix I was happy with.

Changing Jdk7DirectoryWalker to not throw exception when encountering broken(dangling) symlinks is pretty straightforward.

The problem lies in the fact we want to only ingore for UP-TO-DATE as is both described in the issue description and in how I undestand the problem more generally

[2017-03-07 15:42] foragerr commented on #1348
Default exclude patterns inherited from ant:

	**/%*%
	**/.git/**
	**/SCCS
	**/.bzr
	**/.hg/**
	**/.bzrignore
	**/.git
	**/SCCS/**
	**/.hg
	**/.#*
	**/vssver.scc
	**/.bzr/**
	**/._*
	**/#*#
	**/*~
	**/CVS
	**/.hgtags
	**/.svn/**
	**/.hgignore
	**/.svn
	**/.gitignore
	**/.gitmodules
	**/.hgsubstate
	**/.gitattributes
	**/CVS/**
	**/.hgsub
	**/.DS_Store
	**/.cvsignore

[2017-03-07 17:58] giovanichaves commented on #1464
Having the same issue, any chance to have `region` optional?

[2017-03-07 19:32] marcphilipp commented on #1095
Same here with 3.4. Any news on this issue?

[2017-03-07 20:23] blackdrag commented on #1461
@sdfelts Goal of this is to be able to run a build with JDK9. Fixing general JDK9 problems of Groovy is not the goal here. For those it is probably better to run gradle with a JDK8 and run all the forked compilations and tests with a different JDK:

    test {
       executable = "/path/to/jdk/bin/java"
    }

and for compilation you already provided a way to use a different JDK. The Groovy proble

[2017-03-07 22:03] wolfs commented on #1528
Yeah, that's what I assumed. The question is how the command got assembled. I suppose that the Jenkins job parameter value is
[code]
 '-DghprbPullTitle="renaming XYZ >>> 'xyz'"'
[code]
'-DghprbPullTitle="renaming XYZ >> '"'xyz'"'"'
[code]
gradle '-DghprbPullTitle="renaming XYZ >> '"'xyz'"'"'
[code]

[2017-03-08 02:30] hansd opened #1531 "Make the wrapper and init task unincubating"
When running gradle tasks with the latest Gradle I get:

[code]

[2017-03-08 02:58] adammurdoch commented on #1531
+1. We just need to remove the `[incubating]` part from the description and mention in the release notes.

[2017-03-08 05:17] adammurdoch commented on #1493
@fritaly thanks for running those tests.

And yes, the failure will happen on machines with an older glibc. We'll get a fix into Gradle 3.5.

[2017-03-08 07:52] otrosien opened #1533 "Build init plugin (type pom) should support compileOnly scope"
At the moment, when initializing a gradle project from maven which has dependencies in provided scope, gradle generates a warning message, that this type of dependencies is not supported yet:

[code]

See https://github.com/gradle/gradle/blob/master/subprojects/build-init/src/main/groovy/org/gradle/buildinit/plugins/internal/maven/Maven2Gradle.groovy#L314

### Expected Behavior

This can be revise

[2017-03-08 08:23] lptr commented on #1431
@big-guy merged the PR to `release`.

[2017-03-08 09:36] spac3hit commented on #1528
Yes, That's right. Jenkins job parameter is: `ghprbPullTitle=renaming XYZ >>> 'xyz'`.
I tried a bunch of possibilities and found the following work as charm:
`
"-DghprbPullTitle=renaming XYZ >> \'xyz\'"
-DghprbPullTitle="renaming XYZ >> \'xyz\'"
`
this `'-DghprbPullTitle="renaming XYZ >> '"'xyz'"'"'` doesn't work, I think the system is trying to redirect smthn to a file.
Also it is described in th

[2017-03-08 09:38] wolfs opened #9104 "Track Java version when forking Javadoc"
Similarly as for https://github.com/gradle/build-cache/issues/490, the Java version when forking Javadoc via setting the `executable` flag on `forkOptions` is not tracked.

[2017-03-08 09:49] wolfs commented on #1528
Please open a bug for [Jenkins Gradle plugin](https://wiki.jenkins-ci.org/display/JENKINS/Gradle+Plugin) in the [Jenkins issue tracker](https://issues.jenkins-ci.org). I am closing this issue.

[2017-03-08 09:49] #1528 closed

[2017-03-08 10:39] bhagyas commented on #1270
This happens even without the info flag.

[2017-03-08 11:17] Abrasha commented on #1276
@marceloverdijk yesterday I have update Intellij IDEA via Toolbox App and there are issues with Gradle 3.4.

Current Ultimate version:
[code]

[2017-03-08 12:01] lacasseio commented on #1348
Thanks @foragerr for documenting those. Would you be willing to open a PR with the required change to the documentation?

[2017-03-08 12:51] pioterj commented on #1383
I agree with @adammurdoch. See https://github.com/gradle/gradle/issues/1531.

[2017-03-08 13:09] aplatypus opened #1534 "Support loading of named ".properties" files as project property values"
The Gradle project DSL should provide a mechanism to load a  properties file by name.  A command verb like the **apply** or **include** keywords would seem suitable.

Properties loaded from the file shall be added to the current build context; see examples later.

Please also refer to issues:
- [Add support for loading arbitrary properties files as per gradle.properties](https://issues.gradle.org/

[2017-03-08 13:42] bmuschko commented on #1162
Thanks for opening the discussion on the dev list, @wilkinsona. Looks like it didn't get any traction over there and the discussion is rather happening here.

My 2 cents about this topic: I agree that we need to have a better set of public APIs so that plugin developers don't need to use internal APIs. I also agree with @wilkinsona that Maven BOM support feels very core. Gradle prides itself with

[2017-03-08 13:44] bmuschko commented on #1533
Right, we should have fixed that right away when introducing `compileOnly`. Are you interested in providing a pull request for this?

[2017-03-08 13:51] paour commented on #1093
I think one of the reasons we're getting no traction on this issue is because it's not a Gradle error, it's an NPE in Google's Android Gradle plugin…

[2017-03-08 13:53] glefloch commented on #1533
Hi, I'm looking into contributing to the project. Can I look at this issue?

[2017-03-08 13:56] paour commented on #1093
I've cross-posted to the Android tools tracker https://code.google.com/p/android/issues/detail?id=239933

[2017-03-08 13:58] bmuschko commented on #1533
@glefloch Thanks for offering your help. Feel free to do so. You might want to coordinate with @otrosien.

[2017-03-08 15:06] lacasseio opened #1535 "Fix Software Model `LanguageSourceSet.generatedBy`"
### Expected Behavior

The proposed solution has 2 step:
 1- **Change the generatedBy method signature to take a task path and remove the finalize rule that automatically set the set source directories.** It leaves the synchronization of the source set directories (both headers and sources) with the task to the user.
 2- **Add a rule to automatically transpose the source set directories (both head

[2017-03-08 18:31] eriwen opened #1538 "Display more granular initialization progress in build summary"
### Expected Behavior
We should be able to display granular progress of buildSrc builds and settings evaluation in the build summary of progress logging

### Current Behavior
The build summary does not take buildSrc progress into account, nor does it properly say anything about the number of projects to be included in the build.

### Context
This is something notably missing as we test the new con

[2017-03-08 18:50] eriwen opened #1539 "Provide build summary after build is complete"
### Expected Behavior
As we show the amount of work avoided on the console, it would be preferable to persist this information on the screen after the build completes. It would also be nice to spruce up the formatting and consider including the build scan link as a part of it.

Something like:
[code]

### Current Behavior
We show work avoided during the build but not afterward. We only show the to

[2017-03-08 21:03] KidDaedalus opened #1540 "resolutionStrategy.eachDependency should be able to blacklist project dependencies and fail the build"
### Expected Behavior
Naively, `resolutionStrategy.eachDependency` looks like it could be used to enforce a "Project A may not depend on Project B" condition.

[code]

### Current Behavior
To achieve "Project A may not depend on Project B" enforcement we ended up using this code snippet:
[code]
This achieves our desired result but it seems strange that dependency resolution rules, which at first l

[2017-03-08 21:58] aspin opened #1541 "Resolving Gradle Plugins from Maven Repositories using the Plugins DSL"
### Expected Behavior

Step 1: Added Maven Central to settings.gradle for pluginRepositories.
[code]

Step 2: Add a plugin that's only found in Maven Central and not the Gradle Central Plugin Repository.
[code]
Step 3: Use the plugin!

### Current Behavior
Actual Step 3: Be very confused about how gradle searches for `[plugin-id]:[plugin-id].gradle.plugin:[version]` in an attempt to resolve the ar

[2017-03-08 23:21] ajoberstar commented on #1485
I'll have to look more closely at what happens in this situation, but the only way I could get this to work before is just delay version inference until the first time something toString's the version. If something needs the version, I need to figure it out right away or else the build's going to use inconsistent values. If the `java-library` plugin is calling that too early now, I think that's go

[2017-03-08 23:35] gaganis commented on #1416
I have done some work and was able to reproduce and track the root cause of why the file handle is not released and the problem lies within the checkstyle library.

Relevant issue https://github.com/checkstyle/checkstyle/issues/3962.

Also put together a small PR https://github.com/checkstyle/checkstyle/pull/3963 using a try-with-resources approach but it proved difficult to keep the 100% coverage

[2017-03-08 23:46] scr commented on #1161
FYI https://issues.gradle.org/browse/GRADLE-3115 is also related to this

[2017-03-08 23:46] scr commented on #1473
FYI https://issues.gradle.org/browse/GRADLE-3115 is also related to this

[2017-03-09 05:07] vydra opened #1544 "Linux file copy operations fail on read-only files"
Every Gradle Copy task we have has had to include 'filemode = 0644' to get around the read-only file problem. We've experienced this ever since we adopted Gradle 2.14 all the way up to now in 3.4

### Expected Behavior
File should be writable without providing an explicit mask

### Current Behavior
1. A gradle task copies a file with permissions set to read-only
2. The destination file preserves t

[2017-03-09 07:30] yuchi commented on #1477
Don't forget that working with variable text length can be tricky, so you better either pass responsibility to shields.io or actually use their implementation (it's OSS), in my humble opinion

[2017-03-09 08:21] dreaminplus opened #1545 "Project is not using NDK, but not-correctly configuring ANDROID_NDK_HOME, NPE raised by Gradle"
### Expected Behavior
BUILD SUCCESSFULE

### Current Behavior
NPE raised

### Context
If ANDROID_NDK_HOME configured or ndk.dir configured, Gradle will use ndk to strip the debug symbols from native libraries...
Here I think, as a tooler, you should not do this by default.
(com.android.build.gradle.internal.ndk.DefaultNdkInfo.java)
 `            for(File platform : platformSubDirs) {` this line ra

[2017-03-09 08:22] rbaradari opened #1546 "No newlines when executing "gradle --version" (windows)"
When I run `gradle --version` with a nightly version on windows the output is missing newlines.
If I explicitly set `--console plain` then the output is correct.

### Expected Behavior
[code]

### Current Behavior
[code]

### Your Environment
Nightly build (3.6-20170309000026+0000)
Windows Command Prompt

[2017-03-09 08:31] cuijianzhi commented on #1270
@bmuschko Ok.TKS!

[2017-03-09 08:40] bysse commented on #820
So you're saying that because of an old version of antlr, that became obsolete ten years ago, we should ship build tools to our customers / live environments? :)

[2017-03-09 08:45] otrosien commented on #1533
@bmuschko I just reviewed @glefloch implementation. Looks good.

[2017-03-09 09:34] vladsoroka commented on #1276
@Abrasha you use 2016.3.5 but the fixed version of the bug is 2016.3.6

[2017-03-09 11:55] bmuschko commented on #1544
I am pretty sure that the issue is Perforce-related and not a Gradle bug. Perforce automatically makes files read-only based on its operation mode. I remember working with a client that had exactly the same issue. We decided to change the `filemode` accordingly.

If you want to fix the issue globally for your project, then you can do the following a multi-project build:

[code]

[2017-03-09 13:01] eskatos commented on #1270
Merged, will be part of 3.5

[2017-03-09 13:01] #1270 closed

[2017-03-09 13:24] craigatk commented on #1270
Thanks @eskatos !

[2017-03-09 14:06] jonatan-kazmierczak opened #1549 "Gradle crashes when running on Java 9"
I execute `gradle` v3.4.1 on Java 9-ea+158 on Ubuntu 14.04.
The result - command `gradle` crashes as follows:
[code]

### Expected Behavior
`gradle` prints a standard info.

### Current Behavior
Crash as shown above.

### Context
I'd like to build Java 9 project.

### Steps to Reproduce
1. set `JAVA_HOME` pointing to Java 9-ea+158
2. run `gradle --stacktrace`

### Your Environment
Ubuntu 14.04, Ja

[2017-03-09 15:19] eriwen opened #1550 "Trigger installation of gradle-completion"
Goal is to streamline integration of gradle-completion

### Expected Behavior
Prompt user to install [gradle-completion](https://github.com/gradle/gradle-completion) upon some action that indicates they would be interested in it. For example, have the Gradle wrapper ask user to install completion when the wrapper task is invoked on bash or zsh in an interactive terminal.

### Current Behavior
Ther

[2017-03-09 15:23] javacody commented on #1050
Are there any updates on this? What's the recommended work around?

[2017-03-09 18:23] bigdaz opened #1553 "Cannot target a project variant with dependency substitution"
It is possible to target a particular project configuration in a dependency declaration (`project(path: ':groovy', configuration: 'indy')`), but this isn't possibly inside a `dependencySubstitution` block.  This is a much requested feature and blocks many users from using dependency substitution. I'm confident it will become much more requested as people start to use composite builds.

The use of

[2017-03-09 19:16] DanielThomas opened #1555 "Configuration.copy improvement proposal"
Our resolution rules plugin uses `copyRecursive` in an `incoming.beforeResolve` block for each configuration when processing [alignment rules](https://github.com/nebula-plugins/gradle-resolution-rules-plugin/wiki/Dependency-Rule-Types#align).

We've run into a some correctness and ergonomic issues with `copy` that have lead us to use reflection and other hackiness to workaround. We've run into API

[2017-03-09 19:25] psxpaul commented on #1367
I created a plugin to do this a few months ago, for anyone looking for this functionality. I'd appreciate some feedback.
https://github.com/psxpaul/gradle-execfork-plugin

[2017-03-09 20:09] butItsMyFirstday opened #1556 "Unable to have "tar" in Project Name."
Unable to have tar in Project name.
Project name is "StartIt"
gradle created tar file is StartIt.tar
untar I get "It.tar"

### Expected Behavior

Expected to get project name when project is untar.

### Current Behavior

When gradle tars a project it strips the first "tar"  it sees instead of stripping ".tar" at the end.
Produced tar file looks fine but folder inside has the first tar stripped out

[2017-03-09 20:56] KidDaedalus commented on #1544
I've reflexively avoided `allprojects` and `subprojects` as a threat to configure-on-demand.
I have a commonly applied script-plugin which does the `tasks.withType()` thing but it isn't guaranteed to be applied last so not every copy task may have been added to the DAG at the time `withType()` runs.

Would your proposed snippet affect configure on demand?

[2017-03-09 20:58] henrik242 commented on #719
Related issue, with comment "I am adding this to our Java 9 epic which we'll prioritize sometime in the next few months." from Jan 10:  https://github.com/gradle/gradle/issues/1095

A few months?!

[2017-03-09 23:34] oilers opened #1557 "Module dependency iml files are being generated with scope PROVIDED"
When importing a gradle project, all dependencies are being marked as scope="PROVIDED"

This prevents anything from running correctly through the IDE
### Expected Behavior
The Module iml files should have lines like these from 3.3:
`~/code/my-app/.idea/modules/my-app_main.iml`
[code]
### Current Behavior
When generating the same file in 3.4.1 I get this:
[code]
The `scope="PROVIDED"` is the issue

[2017-03-10 04:34] eljobe commented on #1438
@bigdaz, It would be great to get some input from you on this request. It came in through one of our customers via a support ticket.

[2017-03-10 07:38] andreas-schilling opened #1558 "Make FailureResolutionAware usable for users & plugin developers"
The interface `FailureResolutionAware` allows Exceptions implementing it to supply further information to the `BuildExceptionReporter` such that the `Try:` part of the failure output contains detailed guidance for the user on how to solve the problem. This interface is currently only available for internal usage by core Gradle plugins.

### Expected Behavior
Make the interface consumable for any (

[2017-03-10 08:35] itssven opened #1559 "Multi-project build: Import child projects recursively"
### Expected Behavior

If a new sub-project is generated, there is no need for a change in setting.gradle in root project, gradle scans the root project-folder for further sub-projects

### Current Behavior

Currently you need to add the sub-project and all further sub-sub-projects to the root settings.gradle this is inconvenient, and hard to maintain and error prone in large projects with many su

[2017-03-10 09:09] seviu commented on #1369
+1
I figured that a way to make the situation a bit better is to think carefully about the order in which you declare your repositories. Where I work we have a nexus private repo that sometime is very slow to resolve dependencies. Moving it to the bottom made our life much easier.

[2017-03-10 11:15] melix commented on #1471
@oehme can you take a quick look at the fix above and close this issue if you are happy with it?

[2017-03-10 11:24] oehme commented on #1471
LGTM

[2017-03-10 11:24] #1471 closed

[2017-03-10 13:13] oehme commented on #1171
While you can abuse `compileOnly` to do that, the whole `optional` concept in Maven is just a bad model of what you are trying to do. We can do much better with variant aware dependency management, allowing you to define variants of your software (and adding variants to upstream dependencies that don't define them). A variant might mean a different kind of artifact, different dependencies or both.

[2017-03-10 13:32] oehme commented on #1338
@moio I don't understand this part. Who fills the cache in the first place? If the answer is "build it once online and then share the cache", then I think a better solution is the one proposed for the 'escrow' use case: Generate a file repository and make the build use that. This reduces the waste of sharing the whole Gradle cache, which contains a lot of other things besides the downloaded artifa

[2017-03-10 13:33] markthornton commented on #1557
I found almost the same - a handful of dependencies were marked as compile, but most were provided.

I am using org.springframework.build.gradle:propdeps-plugin:0.0.7 to give a provided configuration. I don't know if this is part of the problem.

Had to go back to 3.3 as I don't have time to debug this issue.

[2017-03-10 14:04] oehme commented on #1516
Thank you for the example. Turns out that JDT de-duplicates classpath containers when you don't explicitly tell it not to. I've created a [PR for buildship](https://github.com/eclipse/buildship/pull/424/files) to fix that.

[2017-03-10 14:04] #1516 closed

[2017-03-10 14:48] moio commented on #1338
I guess you are referring to:

IIUC that implies patching Gradle files of whatever projects I am about to package, is that correct?

In that case sure, the solution would work, but it would not be very convenient. As a packager I try as much as possible to limit patches to upstream code, especially in the build system, otherwise I will have to maintain those downstream patches (first creating them

[2017-03-10 14:52] oehme commented on #1338
You don't have to patch those projects in any way. You can inject logic into their build with an init script.

[2017-03-10 15:02] lptr opened #1561 "Introduce a "NOT-REQUIRED" task outcome"
@big-guy commented on [Tue Mar 07 2017](https://github.com/gradle/task-output-cache/issues/517)

Rework task outcome to consist of separate aspects of a task's behavior:

1. Did the task not do work because it was not required (based on its inputs)?
2. Did the task not do work because its inputs/outputs were up-to-date?
3. Did the task do work?

The label (UP-TO-DATE, FROM-CACHE, etc) shouldn't al

[2017-03-10 15:32] mohlendo commented on #1481
And here is the buildscan: https://scans.gradle.com/s/vnmkzxtrmg2im

When you have a look at the console output you will see, that the codenarc reporting is missing

[2017-03-10 18:04] lacasseio commented on #1524
This has been fixed with commit https://github.com/gradle/gradle/commit/826f3d11165e36c5a165c161a5238801ab572d03. I will close this now. Reopen if the issue is still present.

[2017-03-10 18:04] #1524 closed

[2017-03-10 18:21] lacasseio commented on #1546
Thanks a lot @rbaradari for this issue. It is, in fact, a issue related to the new console. Fortunately, PR https://github.com/gradle/gradle/pull/1462 fixes this problem. We will see to merge the PR and fix your issue in the process.

Could you tell us which version of Windows are you using to get this behavior? This would help us ensure no additional issue is introduced.

[2017-03-10 21:25] #1482 closed

[2017-03-10 21:26] lacasseio commented on #1546
This is now fixed in master and will be included in the next nightly. I will close the issue. If you see the problem again, reopen the issue so we can prioritize the work.

[2017-03-10 21:26] #1546 closed

[2017-03-11 04:29] ymwang1984 commented on #957
This also happens on 2.13

[2017-03-12 15:48] russel opened #11251 "JavaExec task example"
Are there any examples of creating a task that is of type JavaExec so as to run a class just built.

[2017-03-12 16:18] eriwen commented on #1531
Closing as complete!

[2017-03-12 16:18] #1531 closed

[2017-03-12 16:40] bigdaz commented on #1438
When a `classifier` or `type` attribute is specified on a dependency declaration, then we ignore the published metadata, I think. I don't really understand the original motivation for this, but it's likely that this was done in order to handle artifacts with `classifier` from a `maven` repository.

It's important to realize that this dependency declaration will work fine _even if the artifact is n

[2017-03-12 23:44] wang2nd opened #1563 "UnsupportedOperationException when merging exclude rules"
I suddenly had a dependency error as following. But the debug log and stacktrace didn't reveal what is this unresolved dependency. I might miss or misunderstand something here. An confirmation or hint from my log is highly appreciated.

FAILURE: Build failed with an exception.
17:24:46.077 [ERROR] [org.gradle.BuildExceptionReporter]
17:24:46.077 [ERROR] [org.gradle.BuildExceptionReporter] * What w

[2017-03-12 23:58] wang2nd commented on #1563
Here is the log file with --info enabled only for a short reading.
[ee9_info_only.txt](https://github.com/gradle/gradle/files/837001/ee9_info_only.txt)

All the "Resource missing" files in one repo will be found in another repo we listed. So I didn't see any unresovled dependency

[2017-03-13 04:12] cheehoo opened #1565 "Gradle 3.4.1 unable to build with FileNotFoundExcepiton(Operation not permitted)"
Hi All,

I been trying to clean build my gradle project with gradle wrapper 3.4.1 however was hitting the FileNotFoundException below

java.io.FileNotFoundException: /home/cheehoo/.gradle/caches/3.4.1/scripts-remapped/build_e2k02sjfohvdnii4nsaft7itr/c2d3oidpxg1t1bruezd0p3v75/proje7d8605dddf6ee8d441e8a198843b754/classes/build_e2k02sjfohvdnii4nsaft7itr$_run_closure11$_closure23$_closure25$_closure28

[2017-03-13 06:48] lavcraft commented on #1369
+1

[2017-03-13 08:47] rbaradari opened #1566 "Output lines broken when printing multiline string in task (windows)"
When printing a multiline string during task execution the output seems to be shifted and looks broken up in the console. If the console is explicitly set to plain the output is correctly aligned.

It does not matter if the output is printed by `println` or `logger.lifecycle`.

See below for example _build.gradle_ to reproduce.

This is related to #1546 but I assess the cause to be different when

[2017-03-13 09:36] wilkinsona opened #1567 "Before resolve actions are not copied when a configuration is copied"
### Expected Behavior

When a configuration is copied any before resolve actions registered with the configuration are registered with the copy. This would be consistent with the behaviour for actions registered with the configuration's resolution strategy.

### Current Behavior

Before resolve actions are not copied to the configuration copy.

### Context

This has caused some unexpected behaviou

[2017-03-13 11:12] lacasseio commented on #997
Native dependencies also need to be fully transformable in order to allow plugins / users to modify the `linkage` type after the dependencies have been added on the binary. One example is to change the `linkage` from `shared` to `static` depending on the `operatingSystem` property of the `NativeBinarySpec.getTargetPlatform()`.

[2017-03-13 11:39] lacasseio commented on #1566
Thanks @rbaradari for reporting this issue. We will look into fixing this soon.

[2017-03-13 11:54] lacasseio commented on #1565
Thanks @cheehoo for the issue. Could you attach to the issue a reproducible example for us to play around with? Also, could you look into attaching a [build scan](https://gradle.com/scans/get-started) of your failing scenario?

[2017-03-13 14:38] dongshengbc commented on #1320
The link to "introduced in Gradle 3.4" does not work?

[2017-03-13 14:44] eriwen commented on #1320
@dongshengbc Fixed it. Sorry I had linked to the release candidate before.

[2017-03-13 16:17] nlwillia opened #1569 "CreateStartScripts should allow mainClassName to be set with an environment variable"
The application plugin's mainClassName property ends up embedded directly in the scripts produced by the CreateStartScripts task.  It would be useful if the value could be overridden with a {{MAIN_CLASS_NAME}} environment variable.  As discussed [here](https://discuss.gradle.org/t/support-for-multiple-application-scripts-in-application-plugin/508), there are ultimately ways to produce alternative

[2017-03-13 17:55] bigdaz opened #1570 "Gradle spawns external process to locate local maven repository"
Gradle needs the location of the local maven repo on a build machine in order to:
- Avoid re-downloading artifacts that were previously downloaded by Maven
- Construct a `mavenLocal()` repository

To determine the location of the local maven repo, Gradle parses the value from Maven `settings.xml` files. However, using Maven's `DefaultSettingsBuilder` to parse the Settings files involves quite a lo

[2017-03-13 18:00] bigdaz commented on #1570
Fixed in https://github.com/gradle/gradle/pull/1564

[2017-03-13 18:00] #1570 closed

[2017-03-13 22:36] bmuschko commented on #1569
The post you found is fairly outdated. You can provide your own script template now (see Javadocs of [CreateStartScripts](https://docs.gradle.org/3.1/dsl/org.gradle.jvm.application.tasks.CreateStartScripts.html). In general I don't think we'll want to built in any magic environment variables. That's something that the consumer can decide by providing custom script logic.

[2017-03-13 22:36] #1569 closed

[2017-03-13 22:38] bmuschko commented on #1557
This is a duplicate of https://github.com/gradle/gradle/issues/1276. Please see instructions on how to fix it there.

[2017-03-13 22:38] #1557 closed

[2017-03-13 23:28] masc3d opened #1571 "`–tests` does not override include filters"
Documentation states that

when  `--tests`  refers to a class/method outside of the `include` scope, the behaviour varies depending on which method is used to configure inclusion, but will never be as expected

* `test.include`: test will never be found if it's out of scope of this expression
* `test.filter.includeTestsMatching` or `test.filter.setIncludePatterns`: test will run, but so will all o

[2017-03-13 23:29] nlwillia commented on #1569
For anyone else with this use case who finds this issue, here's a version of the template approach.
[code]
I'll probably just stick with replacement at the output level.  It's somewhat fragile either way, but better than having to own the whole script template.

[2017-03-13 23:32] masc3d commented on #1571
in addition I would also expect `--tests` to override category filters `useJUnit.includeCategories` which is also not the case.

[2017-03-14 03:13] loniszczuk opened #1572 "How to download sources without intelliJ or eclipse plugin"
Hi,

I have a custom building process and I need gradle to download both the jars and the sources that my project depends on.

The dependencies declared are only the jar classifiers.

The following snipet allows me to print only the absolut path of the .jar files. But I also need to download and to print the path of the corresponding -sources.jar files.
[code]

Can you point me in the right direct

[2017-03-14 06:44] jjustinic commented on #1168
This issue was of significant impact to us after our last Gradle upgrade. In our case, the Gradle tasks that delegate to our gulp tasks are being incorrectly marked as UP-TO-DATE, which causes the WAR file to be built without CSS and other front-end files.

We're seeing the scope of this issue to be greater than what is listed here, specifically:
- Step 1 is extraneous. We can reproduce this issue

[2017-03-14 08:32] dcoraboeuf opened #1573 "services.gradle.org on HTTP does not work any longer from Gradle 1.x"
### Expected Behavior

We are still using Gradle 1.x for many (> 500) legacy projects, which cannot be upgraded to Gradle 2.x.

Their `gradle-wrapper.properties` still uses:

[code]

and since last night (March 13th), the HTTP protocol does not work any longer.

### Current Behavior

There is an actual redirection when we try this URL in a browser, but it does not seem to be compatible with Gradle

[2017-03-14 09:55] rajesheq commented on #1248
I get the same error and I am using Solaris as well.

[2017-03-14 10:36] donat commented on #1516
FYI the [Buildship PR](https://github.com/eclipse/buildship/pull/424) has been merged.

[2017-03-14 11:07] davemorrissey commented on #1573
We're also seeing this, with a Cordova 6 Android project, which attempts to download http://services.gradle.org/distributions/gradle-2.2.1-all.zip

[2017-03-14 11:13] bmuschko commented on #1573
Thanks for reporting. We are going to look into the issue.

[2017-03-14 11:13] bmuschko commented on #1572
This is more of a question than an issue. Can you please open this as a question on the Gradle forum?

[2017-03-14 11:13] #1572 closed

[2017-03-14 11:17] bmuschko commented on #1559
This looks like a question rather than an issue. Can you please open a post on the Gradle forum?

[2017-03-14 11:17] #1559 closed

[2017-03-14 11:18] bmuschko commented on #1556
Please provide a sample project on GitHub that reproduces the issue.

[2017-03-14 11:25] bmuschko commented on #1534
As mentioned in [my comment](https://issues.gradle.org/browse/GRADLE-1419?focusedCommentId=23165) I don't see this as a crucial feature for Gradle core. It's not hard to write a small plugin that supports the functionality you are looking for. We'll see if the community responds to the request by upvoting the issue.

[2017-03-14 11:31] bmuschko commented on #1521
We discussed this request a while back internally and feel very reluctant to make such a change.

The http transport is essentially an implementation detail:

- We want to be able to change the http transport at any time, to use whichever implementation we think is appropriate and to make whatever http requests we think are appropriate. The more we expose the less we can change.
- We want to add f

[2017-03-14 11:35] bmuschko commented on #1544
If you put the logic into `allprojects` or `subprojects` in the root project then it should have no effect on configure on demand. For more information please see the [user guide](https://docs.gradle.org/current/userguide/multi_project_builds.html#sec:configuration_on_demand):

You will probably want to have a look at the root of the issue: Perforce. Is there any way you can configure it to avoid

[2017-03-14 11:43] bmuschko commented on #1519
Gradle 3.1 usesjansi-1.13. Gradle 3.0 uses a much older version: jansi-1.2.1. That's is purely a Jansi issue as stated in the issue you are referring to:

For now you'll need to run with the `--console` option which does not use Jansi. The the long run [we want to bring in our own native console support](https://groups.google.com/forum/#!searchin/gradle-dev/jansi%7Csort:relevance/gradle-dev/6oXYgc

[2017-03-14 11:43] #1519 closed

[2017-03-14 11:48] bmuschko commented on #1558
Thanks for creating the issue. Are you interested in contributing a pull request for this?

[2017-03-14 12:47] andreas-schilling commented on #1558
In general absolutely, however I have to see how much time I can actually find to get into this. No that easy right now for several private and work-related reasons.
But I'll definitely try to work on this soonish! As it's "just" some enhancement I believe we're not on a schedule here ;-)

[2017-03-14 13:02] dcoraboeuf commented on #1573
FYI - no build can be performed any longer in our company (> 500 projects) because of this issue. Is there somewhere a channel where we could receive notification when there is a change of configuration (if there was indeed a change), like on Twitter or other? Thanks.

[2017-03-14 13:56] bernardladenthin commented on #1521
Hi, thank you for the internal discussion.

In many companies exist an internal rule that require a fixed user agent. The gradle user agent is dynamic, the version might be constant for builds. But thats not the only restriction and risk coming from gradle currently.

Gradle lacks information which could be used for user / company tracking and yell internal versions. Gradle sends the operating sys

[2017-03-14 14:08] bgabrhelik commented on #1573
Well we came accross with gradle wrapper using gradle-1.12. I have reproduced the issue with the latest gradle distribution - 3.41
[code]

It seems that HTTP is redirected to HTTPS. But untrusted certificate for different domain is returned. It looks like SLI is not in effect.
[code]

[2017-03-14 14:10] bmuschko commented on #1573
@bgabrhelik You are using the wrong version identifier. The version should be `3.4.1` and not `3.41`.

[2017-03-14 14:17] lptr opened #9128 "API to declare snapshotting inside directory/archive/container"
This is the `testBinZip` situation, where we'd need to specify that some JARs inside that archive constitute a runtime classpath that needs to be snapshot as such.

[2017-03-14 14:21] bgabrhelik commented on #1573
@bmushko You are right. I am taking back my previous comment. It looks like some incompatibility with old wrapper.jar. Simply it downloads empty file.

[2017-03-14 14:51] bgabrhelik commented on #1573
It looks like old wrapper.jar doesn't handle properly _Subject Alternative Name_ in the certificate, so it doesn't trust the certificate.

Solution might be to regenerate the wrapper with the latest version of gradle.
see _5.2. Adding the Wrapper to a project_ on the page
https://docs.gradle.org/current/userguide/gradle_wrapper.html

[2017-03-14 14:52] mark-vieira commented on #1573
This looks to be a result of a change we made to services.gradle.org to force the use of HTTPs. We've since reverted this change. @dcoraboeuf can you please try again?

[2017-03-14 14:56] dcoraboeuf commented on #1573
It works on my machine :) I'll now test in production.

[2017-03-14 15:00] dcoraboeuf commented on #1573
Question: was there any kind of communication about this change? We had already some similar issue in the past, with the same consequences. The sheer volume of projects we manage does not allow us to switch all projects and branches to http, not quickly at least. We are working on local workarounds (local hosting of Gradle distributions + DNS redirection of services.gradle.org) to avoid some conse

[2017-03-14 15:09] dcoraboeuf commented on #1573
It's working in production as well.

Thanks for the rollback.

[2017-03-14 15:10] mark-vieira commented on #1573
@dcoraboeuf we didn't communicate this as we expected this to be a mostly transparent change. The incompatibilities between old wrapper clients and the new SSL certs was an unforeseen issue. Our apologies for not communicating this better.

As for the other issues, this change is actually motivated by a desire to make services.gradle.org much more resilient. We are in the process of moving to a mu

[2017-03-14 15:11] dcoraboeuf commented on #1573
OK, good to know. As mentioned, we are accelerating our plan to use some local distribution hosting, in order to not depend on services.gradle.org any longer.

Thanks,
Damien.

[2017-03-14 15:11] #1573 closed

[2017-03-14 15:35] whgibbo opened #1574 "Cannot change strategy of configuration ':jacocoAgent' after it has been resolved."
Hi,
Just taking the time to upgrade to the latest version of gradle and have come across the following issue:

After a some looking around I have isolated it to following:

As soon as I comment out the following:

The problem goes away.  I'm using jacoco 0.7.8, any suggestions ?

[2017-03-14 15:39] bmuschko commented on #1156
Initial spec: https://github.com/gradle/gradle/blob/master/design-docs/internal-apis-made-public.md#story-dependencyhandler-exposes-methods-for-referring-to-public-and-internal-gradle-api

[2017-03-14 15:57] mjpt777 opened #1575 "Gradle Daemon has large and increasing memory footprint."
The Gradle daemon is ~0.5GB of memory after a single build of the project for [Aeron](https://gitter.im/real-logic/Aeron) and increases in size with each subsequent build. Over the course of this morning it grew to 1.5GB.

I'm building on Windows 10 with Gradle 3.4.1 and Java 1.8.0_121.

A heapdump shows the process is mostly char[]s and Strings.

[2017-03-14 17:40] bmuschko commented on #1574
It's hard to say without seeing your project. Can you please provide a sample project on GitHub that reproduces the issue. Please also include the Wrapper so we know what version you refer to with "latest".

[2017-03-14 18:22] eriwen commented on #1267
@staffanf I expect that we will batch a bunch of these Copy task issues together and do them all at once sometime. However, right now we're trying to keep focus on things that affect _everybody_: performance, console/logging, software model, etc.

You suggest that it "should not be hard to fix if you know where to look". That indicates that this issue may be better suited to getting community help

[2017-03-14 18:38] DanielThomas opened #1577 "Regression in war classpath copy handling from 3.3 to 3.4.x"
When testing an upgrade to Gradle 3.4, we noticed a regression in how war classpaths are handled when using a Copy task to copy from a War task as a `with`.

In this case, we have a `provided` configuration that `minuses` itself from the war task classpath, however as of Gradle 3.4.x, that no longer works in multi-project configurations.

### Expected Behavior

The copied files do not include prov

[2017-03-14 18:54] bmuschko commented on #1231
PR: https://github.com/gradle/gradle/pull/1578

[2017-03-14 19:45] bmuschko commented on #1541
A plugin can only be resolved from a [custom repository](https://docs.gradle.org/current/userguide/plugins.html#sec:custom_plugin_repositories) (one that is not the Gradle plugin portal) if it was published with the Java plugin development plugin. The Java plugin development plugin can create a [plugin marker artifacts](https://docs.gradle.org/current/userguide/plugins.html#sec:plugin_markers) whi

[2017-03-14 19:46] #1541 closed

[2017-03-14 19:54] eriwen commented on #1416
I'm good with that @gaganis. Thanks for digging in!

Closing this issue for now. Please reopen or submit a new issue if the previous comment is incorrect.

[2017-03-14 19:54] #1416 closed

[2017-03-14 19:57] eriwen opened #1579 "Show detailed Daemon status with gradle --status=full"
Expand `gradle --status`, allowing user to specify "full" or "short" format (default). "full" format contains:
- PID
- Version
- JAVA_OPTS
- JAVA_HOME
- Memory Info
- Daemon State
- Executing command and project (if applicable)
### Implementation
- TBD
### Test Coverage
- Display is acceptable when any of the tokens is null or empty
- Display is correct given composite builds

[2017-03-14 20:09] eriwen opened #1580 "Cross-version daemon management"
## Expected Behavior
Daemon management, such as `gradle --stop` and `gradle --status` should consider daemons across all Gradle versions.

## Current Behavior
Gradle commands for the Daemon only affect the current version, because the protocol used to communicate between daemons may have changed. For example, suppose the behavior of `gradle --status` was improved in Gradle 3.5, what would we do th

[2017-03-14 20:20] DanielThomas opened #1581 "java.lang.IllegalArgumentException: MALFORMED from DefaultClasspathEntryHasher in 3.6 nightlies"
We're hitting a corrupted jar on the buildscript classpath, and rather than a friendly exception we get the underlying exception with no context:

        Caused by: java.lang.IllegalArgumentException: MALFORMED
                at org.gradle.api.internal.changedetection.state.DefaultClasspathEntryHasher.hashJar(DefaultClasspathEntryHasher.java:73)
                at org.gradle.api.internal.changed

[2017-03-14 20:21] eriwen opened #1582 "Reduce default maximum heap and permgen for Gradle Daemon"
### Expected Behavior
1 gb for max heap is much larger than we should need for the vast majority of applications. We might consider a default of 256 mb, but TBD.

### Current Behavior
The Daemon currently defaults to 1 gb for max heap and 256 mb for permgen.

[2017-03-14 21:42] staffanf commented on #1267
@eriwen Fair enough, it's just that as an user it's frustrating finding issues that were reported years ago with no fix.
I would be willing to take a look at it to see if it's a reasonable to fix without massive knowledge about gradle inner workings. I've been searching a bit here on github, but finding the right place to look in gradle is a bit harder than many other open source projects.
Any tho

[2017-03-14 21:46] lptr commented on #1581
@DanielThomas thanks for reporting this. Is `MALFORMED` the actual message you get? And is the stacktrace and the Gradle version number accurate? I'm trying to reproduce this, but I can't figure out how such a message could be produced at that specific location.

Can you create a build scan? Or submit a minimal test project that helps us reproduce this?

[2017-03-14 21:52] eriwen commented on #1267
@staffanf I completely sympathize with your frustration as a long-time Gradle user. I would like to see us get better at enabling the community to help us with these issues, because there's no way we can both get through the backlog of issues and provide awesome features that competing build tools are providing.

I agree that the barrier to entry is high, and that is a problem that is going to tak

[2017-03-14 22:13] DanielThomas commented on #1581
Yep, that's the actual message, I think the stacktrace must have been filtered by you guys? I set an exception breakpoint and saw it was coming from underlying zip code, let me see if I can reproduce again and give you the exact location. That's definitely the right Gradle version.

[2017-03-14 22:35] DanielThomas commented on #1581
This happens with specifically malformed UTF-8 zips, and I don't have the original zip to hand unfortunately, but I can prove that this code can receive an exception it can't handle.

This exception originates in `java.util.zip.ZipCoder#toString(byte[], int)`, line 58:

        if (isUTF8 && cd instanceof ArrayDecoder) {
            int clen = ((ArrayDecoder)cd).decode(ba, 0, length, ca);

[2017-03-15 08:01] avonengel opened #1583 "Deprecate tasks.findByPath"
### Expected Behavior
As the publishing extension is not accessed by `project.tasks.findByPath(":tasks")` (at least from a user's perspective), the publishing extension should not get "locked".

### Current Behavior
For some reason, calling `tasks.findByPath` causes the publishing extension to be accessed. This leads to subsequent build-failure when the publishing extension is configured.

### Con

[2017-03-15 09:46] jacobilsoe commented on #1475
Maybe a temporary solution could be to reintroduce ant-based compiler support?

[2017-03-15 10:20] wolfs opened #1585 "New console shows failed tasks even if no tasks have been failing"
I see two failed tasks in the status line of the console even though no tasks have failed

### Expected Behavior
Status line like this:
[code]

### Current Behavior
But status line is like this:
[code]

### Context
I am building Gradle itself on the release branch

### Steps to Reproduce (for bugs)
I was running `:baseServices:integTest`

### Your Environment
 * Build scan URL: https://scans.gradl

[2017-03-15 10:50] seccanj opened #1586 "Millions of directories/files created inside "caches/.../scripts-remapped" directory on Linux"
After having issues with my Ubuntu/Linux system always running out of inodes, I found out that Gradle is creating millions of directories in its "caches/2.14.1/scripts-remapped" folder.

It looks like this directory is never cleaned up: it's a cache anyway.

I think there should be a better housekeeping of this directory, or maybe a different solution should be found for Gradle to reuse scripts as

[2017-03-15 10:51] seccanj commented on #1586
Opened an issue as suggested in the forum: https://discuss.gradle.org/t/scripts-remapped-directory-using-up-all-the-inodes-on-my-system/21883

[2017-03-15 11:04] lacasseio commented on #1585
Thanks @wolfs, I will have a look at it later today.

[2017-03-15 11:12] lacasseio commented on #1156
Issues like https://github.com/gradle/gradle/pull/1021 may need to be resolved in order to give good user experience.

[2017-03-15 11:37] bmuschko commented on #1156
@lacasseio I don't think it should necessarily hold us back from implementing this issue but to be able to fully avoid the use of internal APIs #1021 would have to be fixed. Some people might not be affected e.g. if you implement your logic in Groovy and don't use strong typing.

[2017-03-15 12:34] glefloch commented on #1533
The pull as been merged, I think this issue can be close

[2017-03-15 12:38] bmuschko commented on #1533
@glefloch We are still going to peer review internally before closing.

[2017-03-15 12:53] bmuschko commented on #1521
Over the past 4 years I have worked with many organizations, big and small, enterprises and startups. So far I have not encountered that rule. I think that's a generalized statement though I won't deny that it might be the case for an organization.

I can't quite see what the risk is. Can you elaborate?

Not quite sure. It might not have been conscious decision based on a specific reason. I can se

[2017-03-15 13:07] bmuschko commented on #1586
Thanks for reporting. Have you tried a newer version of Gradle to see if that exposes the same issue?

[2017-03-15 13:15] bmuschko commented on #1571
@masc3d Would you be interested in provide a pull request to fix this?

[2017-03-15 13:18] bmuschko commented on #1510
Thanks for reporting. Can you elaborate why this issue is specific to the use of Cucumber? Is there a way to reproduce the issue without Cucumber?

[2017-03-15 14:07] Vampire opened #1587 "Something is broken with abbreviated task names"
I'm in the process of upgrading our build from 1.12 to 3.4.1.
Somewhere in between it seems the ability to interpret abbreviated task names got only half working suddenly.

Here some examples:

This seems to decide to run the task `integTest` while `iT` should be ambiguous between `integTest`, `integTestClasses`, `integTestGenClasses` and `integTestJar`, shouldn't it?

    $ gradlew iT -m | grep -

[2017-03-15 14:13] Vampire opened #1588 "Source file path of a filtered CopySpec not available in eachFile"
If you have a `CopySpec` with `filter` and you try to use the `file` property of the `FileCopyDetails`, you get an exception. There is no easy way to get hold of the full source path in this case, just the relative one, relative to the copy spec root. But that is not too helpful if the `eachFile` is in a parent copy spec. Is there a reason the file is not returned in this case? If not, please make

[2017-03-15 14:53] lukoerfer opened #1590 "Eclipse plugin cannot handle platform URLs in classpath"
### Expected Behavior
When adding library entries manually to the _.classpath_ file of an Eclipse project and running the Gradle `eclipseClasspath` task afterwards, the Eclipse plugin should read the file and merge the dependency entries with the ones added manually, if the _.classpath_ file is still valid (can be interpreted by Eclipse).

### Current Behavior
Manually added classpath entries (lib

[2017-03-15 14:58] bmuschko commented on #1587
Thanks for reporting. Are you interested in providing a pull request?

[2017-03-15 15:08] bmuschko commented on #1588
Can you please provide some sample code to illustrate the issue? The following works fine for me:

[code]

[2017-03-15 15:10] bmuschko commented on #1590
At the moment the plugin does simply not merge entries AFAIK. Why do you want to add something manually? You can define everything you need in your build script.

[2017-03-15 15:14] bmuschko commented on #1173
Thanks for reporting back. Looks like a bug to me then. Are you interested in working on a fix?

[2017-03-15 15:16] Vampire commented on #1588
@bmuschko you missed the `filter` part. You need a filter in the copyspec, then it fails.

[2017-03-15 15:21] bmuschko commented on #1588
I add the following `filter(org.apache.tools.ant.filters.ReplaceTokens, tokens: [version: '2.3.1'])` and still don't see an issue. Please provide an example that will help me reproduce it. You can simply extend the one I already provided.

[2017-03-15 15:24] bmuschko commented on #1544
I am going to close the issue for now. Please let us know if you need further assistance.

[2017-03-15 15:24] #1544 closed

[2017-03-15 15:32] bsideup opened #1591 "Configurable test parallelization"
Right now the users are limited to "per-class" parallel test execution. Would be nice to support different strategies like Maven Surefire plugin does (i.e. "suites", "classes", "methods") to make it possible to parallelize `@Parameterized" tests for instance.

### Expected Behavior
Configurable execution strategy where user is able to select how Gradle should parallelize the tests

### Current Beh

[2017-03-15 15:48] bmuschko commented on #1591
Would you interested in providing a pull request for this feature?

[2017-03-15 15:52] bsideup commented on #1591
@bmuschko I do have an interest but no free time, sorry :(

[2017-03-15 15:56] bmuschko commented on #1540
If you look at `DependencyResolveDetails` you will notice that you cannot resolve Project dependencies. It's only about external modules that can be forced to use a different version or target.

There are other ways to achieve what you want and you are using one of those. I don't think we'll work in Project dependencies `eachDependency` anytime soon. I'd encourage you to write up a spec if you are

[2017-03-15 15:56] #1540 closed

[2017-03-15 15:59] bmuschko commented on #1545
This issue is better suited to be raised on the forum for the Android plugin which is developed by Google. Could you please open an issue there? I am sure they are happy to help and have a much deeper insight into the behavior of their plugin.

[2017-03-15 15:59] #1545 closed

[2017-03-15 16:13] bmuschko commented on #1563
If you run just the task `dependencies` without any other command line logging option you should see which dependency is failing. Maybe you can start from there. Why do you depend on `mavenLocal()`? Gradle uses its own cache.

[2017-03-15 16:30] bmuschko commented on #1567
Thanks for providing the example. I am not quite if there was some sort deliberate decision to not copy before resolve actions.

@bigdaz Can you give some insight here?

[2017-03-15 16:34] bmuschko commented on #1591
@bsideup Bummer! Maybe somebody else from the community would like to step in.

[2017-03-15 16:35] andyrbell commented on #1510
For the following Cucumber feature
[code]

- Cucumber will generate 3 JUnit Tests (one for each step definition).
- When dynamically generating those tests, the Cucumber JUnit Runner (`FeatureRunner`) does not set the Test Class on the test `Description` as there isn't one.
- The Gradle `CategoryFilter` has deviated from the vanilla JUnit implementation and doesn't handle this null case
- Running

[2017-03-15 16:36] Vampire commented on #1588
Have the `filter` before the `eachFile` and it will fail:

[code]

[2017-03-15 16:40] Vampire commented on #1588
Also interesting, it is not really consistent. If you have the filter in a subspec like

[code]

or

[code]

it works fine. It only fails with `UnsupportedOperationException` and without message (also not too helpful) if one of the following is true:

- the `filter` is in the same copy spec and before the `eachFile`
- the `filter` is in a parent copy spec, no matter if before or after

so the foll

[2017-03-15 16:42] bmuschko commented on #1588
OK, that looks like a bug then.

Sample stack trace:

[code]

Would you be interested in providing a fix?

[2017-03-15 16:45] bmuschko commented on #1510
Thanks. I guess what I am asking is the following: Can the issue be reproduced with plain JUnit without the use of Cucumber?

[2017-03-15 16:47] Vampire commented on #1587
I'm not one who you need to trigger to create pull requests, I often did already. ;-)
Actually still one of mine is waiting for feedback or integration.
Maybe I'll do if I find time to investigate, but I didn't have time right now but wanted to at least report it. :-)

[2017-03-15 16:50] Vampire commented on #1588
Well, it was introduced intentionally by Adam with commit 988e40aa, so I'm not sure whether there is a sane reason to do so. I would simply remove the if acutally. :-D

[2017-03-15 16:52] bmuschko commented on #1588
@adammurdoch Would mind comment on the change?

[2017-03-15 16:57] bmuschko commented on #1577
You mention a multi-project here specifically. Does the issue also expose itself in a single project build?

[2017-03-15 17:00] bmuschko commented on #1510
The example you give here is likely a Cucumber-specific runner: `@RunWith(Cucumber.class)`. I was wondering if you can reproduce the issue without any Cucumber dependencies. That would make the testing setup for a fix much easier and we don't have to depend on an external dependency.

[2017-03-15 17:08] lukegv commented on #1590
For my special case I have to work with an IDE, that inserts classpath entries from time to time (and it uses relative paths for everything). Only for this particular case, I also insert my gradle dependency classpath entries via `file.whenMerged` to achieve relative paths, which works fine until I start the process again and it crashes due to the unreadable format. Yes, I know, this approach is n

[2017-03-15 17:14] lacasseio commented on #1156
@bmuschko You are right. It's something to keep on the radar.

[2017-03-15 17:20] andyrbell commented on #1510
There is already an existing dependency on Cucumber in the Gradle integration tests, if that's the problem..?

I added an integration test to [my fix](https://github.com/gradle/gradle/pull/1511) and was careful to use the same [version of Cucumber](https://github.com/gradle/gradle/pull/1511/files#diff-5f0d43be86cb54e0341985c9d42adc6aR23) used in [existing integration tests](https://github.com/grad

[2017-03-15 18:04] DanielThomas commented on #1577
That's right Ben, we have a single project that still works fine, but in our multiproject test we're now getting the provided jars in the war and included in the copy task.

The reduced example I provided gives you all the code, so you don't need to go hunting :)

My _guess_ is that it's got to do with this:

https://github.com/DanielThomas/provided-reduced/blob/master/buildSrc/src/main/groovy/Pro

[2017-03-15 18:06] blackhawk389 opened #1593 "After update Android Studio could not create parent directory for lock file"
Updated android studio and plugins when sync, fails with could not create parent directory for lock file
wrapper properties:

`#Sun Mar 05 16:51:59 PKT 2017
distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/gradle-3.3-all.zip
`

build.gradle app module:

`apply plugin:

[2017-03-15 18:24] bigdaz commented on #1567
I don't think this is intentional. For instance, we copy do copy the [Default Dependency Actions](https://github.com/gradle/gradle/blob/80710f3e6900e6c877c217140d472334c89dd07a/subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/configurations/DefaultConfiguration.java#L631-L631) when copying a configuration.

[2017-03-15 19:13] bmuschko commented on #1231
@etiennestuder FYI: Fix has been merged.

[2017-03-15 19:14] #1231 closed

[2017-03-15 19:16] lacasseio commented on #784
@adammurdoch It seems this was fixed with your work around `ValueSnapshot` (https://github.com/gradle/gradle/commit/ee61d0038ab42ea1f838e66e25578c96389f73b0) in Gradle 3.4. Can you confirm it's the expected behavior so we can close this issue?

[2017-03-15 19:16] lacasseio commented on #919
@adammurdoch It seems your work around `ValueSnapshot` (https://github.com/gradle/gradle/commit/ee61d0038ab42ea1f838e66e25578c96389f73b0) in Gradle 3.4 could enable us to close this issue. Can you confirm so we can close this issue?

[2017-03-15 19:24] lacasseio commented on #1002
This will likely stay an issue for the next couple release as it was never supported. To work around this issue, I suggest you have a look at [`RuleSource` plugins](https://docs.gradle.org/current/userguide/software_model.html#sec:rule_sources).

[2017-03-15 19:25] bmuschko commented on #1567
Thanks for the input, @bigdaz. @wilkinsona Would you be interested in providing a fix for this?

[2017-03-15 19:27] bmuschko commented on #1510
Yes, that's what I am mostly concerned about. Even if there's an existing dependency Cucumber we probably should have tried earlier to avoid the dependency.

Do you think we could emulate the issue without Cucumber in the fix?

[2017-03-15 19:42] #1456 closed

[2017-03-15 19:42] #1484 closed

[2017-03-15 19:42] big-guy commented on #1484
Fixed in #1456

[2017-03-15 19:46] big-guy commented on #1456
@aviverette Thanks!  This will be delivered in 3.5.

If you can use 3.5+, you should be able to get rid of your custom javadoc option entirely and use the new built-in:

[code]

Please feel free to open an issue WRT the internal `JavadocOptionFileWriterContext`, I noticed that too.  All of the Javadoc option handling looks like it needs some TLC.

[2017-03-15 19:46] bmuschko commented on #1590
Let me guess: IBM Websphere RAD? ;-)

Did you try to use just Buildship for your use case without generating the project files from the command line?

[2017-03-15 19:47] EmilyRen opened #1594 "Gradle build doesn't support customerized resource directory"
### Expected Behavior

I have one resource folder name is drawable-mdpi-theme, when I tried gradle build, it failed with error "Invalid resource directory name".
Can gradle support customized resource directory such as drawable-*dpi-sth?

### Current Behavior

Gradle build is successful if resource directory name is drawable-mdpi, it doesn't work if resource directory name is drawable-mdpi-theme.

[2017-03-15 19:49] bmuschko commented on #1587
You never know. You might have gotten sick of it. ;-)

Currently working my way through the backlog.

[2017-03-15 20:08] #1533 closed

[2017-03-15 21:13] oehme commented on #1577
This is pretty much the same issue as discussed with the Spring team, so I'll just [link](https://github.com/gradle/gradle/issues/1371#issuecomment-278436162) my answer :)

[2017-03-15 21:21] oehme commented on #1594
Can you please open an issue on the [Android bug tracker](https://www.google.de/search?q=android+bug+tracker&oq=android+bug+tracker&aqs=chrome..69i57j0l5.3488j0j7&sourceid=chrome&ie=UTF-8) instead?

[2017-03-15 21:21] #1594 closed

[2017-03-15 22:27] #1431 closed

[2017-03-15 22:27] big-guy commented on #1431
This will be delivered in 3.5

[2017-03-15 22:51] eriwen commented on #1493
@adammurdoch Is this still in progress and intended to go into 3.5?

[2017-03-15 23:58] Vampire commented on #1587
As my last one is just from one week ago, probably not. And **if** this would be the case, then the question would probably also not change this. :-D

[2017-03-16 02:17] adammurdoch commented on #1156
Just repeating a previous comment: We should bust up the API into the public API for the Gradle platform, and the public API of each group of plugins.

[2017-03-16 07:22] wilkinsona commented on #1567
@bmuschko Yeah, I'd like to do that.

[2017-03-16 07:25] jjohannes commented on #1303
Same issue can be observed with the ZincScalaCompiler.

Examples of the issue on CI:
- Groovy: https://builds.gradle.org/viewLog.html?buildId=2161892
- Scala: https://builds.gradle.org/viewLog.html?buildId=2542107

[2017-03-16 07:31] eskatos commented on #1493
@eric, this should be fixed in `master` since https://github.com/gradle/gradle/commit/4c78b4c85db2f02a98e5fb022d68c33a7cb06f2f

@fritaly, @rhaendel, @jim-gish-at-oracle-com, could you confirm it works for you using a nightly?
This one should do: https://services.gradle.org/distributions-snapshots/gradle-3.5-20170314221603+0000-bin.zip

[2017-03-16 09:29] fritaly commented on #1493
@eskatos yes it works with the nightly build.

[2017-03-16 09:50] lukegv commented on #1590
No, its the KUKA Sunrise.Workbench. The IDE ships and manages the libraries and tools based on a station setup. Additional dependencies can be added via Eclipse. This method is sufficient for some casual robot programming, but our team tries to establish a more powerful build environment with Gradle. Now I need to somehow put those parts together.

I do not know Buildship (and I'm also new to Grad

[2017-03-16 09:58] WonderCsabo commented on #1307
I see it in a non-parallel build. I am using Gradle 3.4.1.

[2017-03-16 10:00] tompluess commented on #1493
just ran into this issue, since we had the same failure, when running on Gitlab CI:
[code]
Using the nigthly build mentioned by @eskatos in the `gradle-wrapper.properties` worked for me. Thanks!

[2017-03-16 10:27] eskatos commented on #1493
Thanks for the feedback @fritaly & @tompluess
3.5 is coming soon
I'll go ahead and close this issue

[2017-03-16 10:27] #1493 closed

[2017-03-16 10:52] masc3d commented on #1571
@bmuschko as I'm not familiar enough with the codebase, I can't supply a comprehensive fix at this time

[2017-03-16 12:01] bernardladenthin commented on #1521
I'm sorry I can not be more specific. The information should not be disclosed to the public.

From my (disclosable) point of view, there are two points that Gradle can/should officially support:

* There might be the requirement for Gradle not to send out details to the outside. A specific Java environment is not directly exposed. No matter how safe or unsafe these information are judged by strang

[2017-03-16 12:15] bmuschko commented on #1590
I tried to use [Buildship](https://projects.eclipse.org/projects/tools.buildship) to see if that fixes your issue.

@oehme Can you give some additional advice here?

[2017-03-16 12:17] bmuschko commented on #1156
@adammurdoch Can you have a look at the spec I wrote as a first step of approaching the problem? I'd like to defer implementing a public API for the plugins in a later story.

[2017-03-16 12:31] jansohn opened #1595 "Use GCC’s windres as rcCompiler with windows-resources plugin"
To compile a Windows Resource file with the `windows-resources` plugin one currently seems to need the VisualCpp toolchain. I'm using the Gcc toolchain and would like to use the equivalent GNU tools `windres` as the `rcCompiler`. I'm guessing this is not possible at the moment?

Are there any plans to include Gcc toolchain support for this plugin? The commands seem pretty similar (http://www.mingw

[2017-03-16 13:01] bmuschko commented on #1521
I'll be honest - this sounds very wrong. I understand that you might want to set a user agent for tracking purposes but your use cases sound more like disguising what tool you are actually using.

I am not quite sure why this was introduced but it's only for the download of the Wrapper and not for other HTTP downloads. @breskeby Maybe you remember. This was before I was with the company.

Either w

[2017-03-16 13:04] bmuschko commented on #1567
@wilkinsona Good to hear. Thanks for putting in the work!

[2017-03-16 13:12] bmuschko commented on #1593
Can you please open an issue on the [Android bug tracker](https://www.google.de/search?q=android+bug+tracker&oq=android+bug+tracker&aqs=chrome..69i57j0l5.3488j0j7&sourceid=chrome&ie=UTF-8) instead?

[2017-03-16 13:12] #1593 closed

[2017-03-16 15:09] maxbog opened #1596 "Invalid cookie header: Invalid 'expires' attribute messages flood the build output"
When downloading jars from custom repository running on AWS, the following messages are displayed:

Invalid cookie header: "Set-Cookie: AWSALB=gQoLH+yfJ5Q1FtG42X6LxcXpElV3tGjbRRtKVkdgpzbUi6VvvAUUTFxZddt28f7EIwwNEv0SJRl+itg6OKSQcRnc9tOc2TWlrye/cxrXoci0veb/c3J+RIYZEGyQ; Expires=Thu, 23 Mar 2017 15:03:12 GMT; Path=/". Invalid 'expires' attribute: Thu, 23 Mar 2017 15:03:12 GMT

One message per jar app

[2017-03-16 16:06] #1064 closed

[2017-03-16 16:31] Vampire commented on #1587
Maybe relevant information, the task `integTest` is added in an `afterEvaluate` closure.

[2017-03-16 16:31] jjohannes opened #1597 "Configuration Time Performance Improvements"
Improve Gradle's configuration time performance.

- Analyse builds from users that suffer from long configuration time
- Improve analysis tooling for configuration time in [Gradle Build Scans](https://scans.gradle.com) and [Gradle Profiler](https://github.com/gradle/gradle-profiler)
- Improving guidance for optimising build configuration time - e.g. through Build Scans or Guides
- If discovered, i

[2017-03-16 17:03] lacasseio commented on #1595
Thanks for the issue @jansohn. It isn't possible at the moment to change the `rcCompiler`. It is something we would like to implement. However, the change won't be done in the immediate future. A workaround would be to write a wrapper script named `rc` that forward to `windres`. Not the most ideal solution but you can move forward with your work.

[2017-03-16 17:21] lacasseio commented on #1585
We decided to revert change 2617d6eb8e95275bbd17d63f0028bdcb1b28497e as task failure detection wasn't as trivial as we thought it would be.

[2017-03-16 17:21] #1585 closed

[2017-03-16 20:01] wilkinsona commented on #1567
I have a possible fix for this in [this branch](https://github.com/wilkinsona/gradle/tree/copy-resolution-listeners). I just need to sort out the CLA before opening a pull request. I'm not sure if Pivotal have already signed a corporate agreement.

[2017-03-16 20:54] oehme commented on #1577
Closing as discussed in our chat today.

[2017-03-16 20:54] #1577 closed

[2017-03-16 22:15] DanielThomas opened #1600 "Version sorting performance"
While evaluating perf flame graphs of dependency resolution, I noticed version sorting is expensive. We've also noticed some serious GC pressure during dependency resolution, and this appears to be a major culprit also.

### Regular expression compilation

Regular expression compilation occurs several times per comparison:

    private boolean isNumber(String str) {
        return str.matches("\\d

[2017-03-16 22:15] DanielThomas commented on #1600
@melix @oehme seeing as this is a comparator used in sort, and we have a _lot_ of potential candidates in conflict resolution, this could make a material difference.

[2017-03-17 00:34] andyrbell commented on #1510
Good point. I've managed to replicate the issue without Cucumber and have updated the PR.

[2017-03-17 04:01] SbSpider opened #1601 "Installation page doesn't include windows information for manual installation"
The installation page at https://gradle.org/install doesn't include information for Windows apart from suggesting using Chocolatey. One of the courses where I am therefore had a lot of confusion on how to install gradle, since their initial impression from the page was that the only way to install gradle on Windows must then be using chocolatey, or building from source.

### Expected Behavior
Incl

[2017-03-17 05:56] slavashvets opened #1602 "Allow visiting a CopySpec without copying"
### Feature Request Description
Please add support for exporting a `CopySpec` object (from War, Jar, etc.) to a map or text. This is a great feature that allows us to deploy exploded packages without actual copying, right from Gradle's:

* static resources folders (`src/main/webapp`, etc.)
* cached libraries (`~/.gradle/caches/modules-2/files-2.1/...`)
* output folder (`build/classes`, etc.)

[I'v

[2017-03-17 07:37] melix commented on #1600
Thanks @DanielThomas , you're right, using `String#matches` is in general a very bad idea for performance. We should review our usage of this method but also of regular expressions in general.

[2017-03-17 11:06] oehme opened #1604 "Make all network activity visible in build scans"
Currently only the actual metadata/artifact downloads are instrumented. However, the HEAD requests to check whether something changed can also become expensive, so we should instrument them as well.

[2017-03-17 11:11] oehme opened #1605 "Provide Configuration Time insights to Build Scans"
- [X] How long did each script take to evaluate?
- [X] How long did each plugin take to evaluate?
- [ ] How much did each script/plugin contribute to configuration time overall (including `afterEvaluate` and similar hooks)
- [X] What network requests were made during configuration time? (e.g. dependency resolution at configuration time, plugin resolution, `apply from: someUrl` etc.)
- [ ] How much

[2017-03-17 12:57] staffanf opened #1606 "Start Gradle as lower priority process"
There should an option to start gradle and it's daemon as a lower priority process to increase system responsiveness when running parallel tasks/threads.
I would argue that this should be the default.

### Expected Behavior

Gradle should not hog all system resources at normal priority as a default. If the daemon is set to start with lower priority, very little performance is lost and system respo

[2017-03-17 14:10] m9aertner opened #1607 "Avoid deprecation warning when accessing "properties" under Java Plugin"
Even simple access to "properties" triggers deprecation warnings on "JavaPluginConvention.getDependencyCacheDirName()", if the Java plugin is applied.

These warnings are not actionable on the user side, since they are caused by some Gradle-internal access within the Java plugin.

### Expected Behavior

Merely asking for a property  should not cause the warnings to be emitted.

### Current Behavio

[2017-03-17 14:17] pioterj commented on #735
Remember to remove it from the user manual too.

- Obviously https://docs.gradle.org/current/userguide/jetty_plugin.html
- Also https://docs.gradle.org/current/userguide/web_project_tutorial.html

[2017-03-17 14:27] bmuschko commented on #1607
You are using [Groovy's ExpandoMetaClass](http://docs.groovy-lang.org/2.4.7/html/api/groovy/lang/ExpandoMetaClass.html#getProperties()) here and not Gradle's properties mechanism. The way you [access the property](https://docs.gradle.org/current/javadoc/org/gradle/api/Project.html#findProperty(java.lang.String)) is as follows:

    project.findProperty('abc')

[2017-03-17 14:35] m9aertner commented on #1607
Oops. Thanks! Works. Sorry for the confusion. We _are_ using `project.findProperty()` elsewhere so I'll fix that on my side. Closing.

[2017-03-17 14:35] #1607 closed

[2017-03-17 15:55] eriwen commented on #1323
Given @adammurdoch's note, closing as delivered.

[2017-03-17 15:55] #1323 closed

[2017-03-17 16:05] Vampire opened #1608 "Test task added in afterEvaluate is only executed if test sourceset was compiled"
# Given

## *`build.gradle`*

[code]

## *`src/integTest/java/FooIntegTest.java`*
[code]

## *`src/test/java/FooTest.java`*
[code]

# Problem

[code]

Adding `-i` reveals the line `file or directory '<PROJECT_HOME>\build\classes\test', not found` right before the line saying `:integTest NO-SOURCE`.

If you compile test first the integ tests are executed:

[code]

Commenting out the `afterEvaluate`

[2017-03-17 16:09] eriwen opened #1609 "Indicate Gradle's continued progress in absence of intra-operation updates"
Provide motion in output to indicate Gradle's working if build operations are long-running.

### Expected Behavior
Each worker status line has an additional suffix with the duration it has been executing.

This duration is formatted according to the smallest unit that can represent the duration in one number. For example:

[code]

This has the visual effect of updating frequently for small tasks a

[2017-03-17 16:13] eriwen opened #1610 "Change default log level from lifecycle to warn"
### Expected Behavior

- Change the default log level from `LIFECYCLE` to `WARN`.
    - The option will apply when Gradle is executed from the command line.
    - The option will apply when Gradle is executed with the tooling API.
- Compiler warnings are rendered on `WARN` log level.
- [JVM test logging](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.logging.TestLoggingContainer.

[2017-03-17 16:18] eriwen opened #1611 "Mark log output from BuildOperations with the task that generated it"
### Expected Behavior
Associate a BuildOperation ID to each OutputEvent to denote the BuildOperation that generated it.

### Context
All ProgressOperations happen in the context of a BuildOperation

Blocks #1610 — with the removal of task execution logging in the main area, users need to get some additional context when warnings or errors occur.

Avoid porting things to BuildOperations for this wo

[2017-03-17 16:27] eriwen opened #1612 "Display parallel test execution through console"
### Expected Behavior
Gradle can be configured to fork multiple test workers, and these test workers should show up independently on the console.

### Current Behavior
All test work is grouped into one progress operation and doesn't properly make user aware of parallel work under the hood

### Context
Considered to be one of the biggest missing things from the new console from internal discussions

[2017-03-17 17:19] oehme commented on #1611
With the introduction of the "parallel by default" API that @ghale is working on, this is even more important. It will allow tasks to run concurrently (e.g. one task is waiting for background work to complete, while another starts snapshotting its inputs). This means that their output could be interleaved. This is already a problem with `--parallel` today, but will now also affect builds without `

[2017-03-17 17:33] oehme commented on #1590
Buildship always overwrites and personally I never use `gradle eclipse` anymore because Buildship is so much more feature rich.

If I had to use `gradle eclipse`, I'd always make it do a `cleanEclipse` before and make sure all dependencies are properly defined in the build script (potentially through the `whenMerged {}` hook).

That being said, I'm open to adding platform URL support to our conten

[2017-03-17 21:04] wolfs commented on #1581
@DanielThomas Thanks again for reporting. This has been fixed for 3.5 and is part of a release branch snapshot: 3.5-20170317172546+0000
Could you try the fix and see if you can build your project now?

[2017-03-17 22:13] bmuschko opened #1614 "Spec for declaring dependency on Gradle's public and internal API"
Write spec and agree on individual stories.

[2017-03-17 22:26] bmuschko commented on #1614
Spec for review: https://github.com/gradle/gradle/blob/master/design-docs/internal-apis-made-public.md#story-dependencyhandler-exposes-methods-for-declaring-public-and-internal-gradle-api

[2017-03-18 01:03] big-guy commented on #1556
The way we stripped the extension from the archive path wasn't converted from Groovy correctly:
https://github.com/gradle/gradle/blob/ae786d81ea7bb58420f2fb31df6500a24e9e84b0/subprojects/plugins/src/main/java/org/gradle/api/distribution/plugins/DistributionPlugin.java#L116-L118

I added a test to reproduce it and just fixed it in https://github.com/gradle/gradle/commit/62814d9b5d4829a2026a10fa5b37

[2017-03-18 04:17] markelliot commented on #847
Came across this and was looking for a workaround...so in case anyone else is trying to find a way out: it seems sufficient to change `group` for the subprojects such that they end up with different module coordinates.

[2017-03-18 12:53] eskatos opened #1615 "Groovy and Scala handling of `failOnError` compilation configuration property differs"
### Expected Behavior

When encountering a compilation error:
- `GroovyCompile` tasks fail if both of their `options.failOnError` and `groovyOptions.failOnError` configuration properties are set to `true`
- `GroovyCompile` tasks do not fail if any of their `options.failOnError` and `groovyOptions.failOnError` configuration properties are set to `false`

and

- `ScalaCompile` tasks fail if both of

[2017-03-18 17:18] t4gedieb commented on #1232
1+

[2017-03-18 20:47] bernardladenthin commented on #1521
I think you misunderstand me fundamentally wrong. I personally do not care whether you implement this or not. The changes I'll need to build a hardened gradle I can implement on my own. This mistake is in my opinion dangerous and I just want to announce it.

You may have a certain responsibility towards your user. If somebody don't want that anybody can see what environment is in use, you say this

[2017-03-18 21:04] wang2nd commented on #1563
Thanks for the info. Will hv a try n report back. Based on testing, the
trouble is caused by one of our internal library published to our own
repository. It has nothing to do with Maven cache.

The weird thing is that the library published by Teamcity Linux build agent
is causing the trouble, while the one built n uploaded on my mac is
recognized without any issue. Will dig into more and report ba

[2017-03-18 22:48] #1556 closed

[2017-03-19 16:56] #1615 closed

[2017-03-19 18:33] tmohme commented on #1173
Generally yes.
I'm just not sure that I can find enough spare time to dig through the code and *really* understand this core part of gradle in order to provide something helpful and not introduce new subtle problems.

[2017-03-20 08:43] lukegv commented on #1590
Ok, thank you very much for your advice. As a workaround I'll try to somehow define the IDE generated dependencies in the buildscript and work with `cleanEclipse` to make sure that the mentioned error does not appear.

On a long term, I'll take a look on how implement the platform URL format for the Eclipse plugin and check, whether I have both the time and the qualification to do this.

[2017-03-20 10:40] spacecowboy opened #1618 "Mocked exception type crashes junit runner and gradle exits with success"
Previously reported on JIRA: <https://issues.gradle.org/browse/GRADLE-3556>

If a unit throws a mocked exception with a null stacktrace then the junit test runner fails to mark the test as failed and more importantly it incorrectly exits with code 0 even though the test runner itself encountered an error.

### Expected Behavior
The test should be marked as failed because an exception was not expec

[2017-03-20 12:00] lptr opened #1619 "Upgrade Groovy to 2.4.10"
There seems to be an issue with binary compatibility between 2.4.7 and 2.4.9 that is fixed in 2.4.10: https://issues.apache.org/jira/browse/GROOVY-8107

+review [REVIEW-6487](https://code-review.gradle.org/cru/REVIEW-6487)

[2017-03-20 12:58] #1567 closed

[2017-03-20 13:28] Vampire commented on #1608
Well, the reason is the `JavaBasePlugin` that has an `afterEvaluate` block in `configureTest` that executes on all tasks `withType(Test.class)`, assuming the `Test` tasks all exist already at this point in time and are configured properly. My `Test` task is added after that, which causes the closure to be run immediately on adding, before the configuration is done. The `configureBasedOnSinglePrope

[2017-03-20 13:40] killoctal commented on #790
Will the bug be fixed soon ? This is really painful since we cannot work on more than 1 project at the same time. At my job I am in charge of the proof of concept and migration to Gradle but my team will never agree to migrate totally if the problem remains :-(

[2017-03-20 14:51] bmuschko opened #1620 "DependencyHandler exposes methods for declaring public and internal Gradle API"
Implementation of the following spec:

https://github.com/gradle/gradle/blob/master/design-docs/internal-apis-made-public.md#story-dependencyhandler-exposes-methods-for-declaring-public-and-internal-gradle-api

[2017-03-20 14:51] bmuschko commented on #1620
Currently spiking a potential solution.

[2017-03-20 14:53] bmuschko commented on #1581
@wolfs Can the issue be closed?

[2017-03-20 15:43] Vampire commented on #1608
Actually in my specific case I don't need the input file, as I have `outputs.upToDateWhen { false }` anyway for this task as the result depends on the state of the database.

[2017-03-20 15:56] lacasseio commented on #1566
This will be fixed in Gradle 3.5 RC1. Thanks for reporting this @rbaradari.

[2017-03-20 15:56] #1566 closed

[2017-03-20 16:55] #1581 closed

[2017-03-20 19:04] lptr commented on #1619
Successful stage 5: https://builds.gradle.org/viewLog.html?buildId=2565904&tab=buildResultsDiv&buildTypeId=bt46

I think we're good.

[2017-03-20 19:44] bmuschko commented on #1585
Is it worth adding a milestone here? The issue was reported for a previously unreleased feature. The issue will show up in the release notes and reader might ask themselves what this is about.

[2017-03-20 20:53] lacasseio commented on #1585
Good point, I removed it from the milestone.

[2017-03-20 21:02] DanielThomas commented on #1600
@melix added some notes on object allocation overhead I found.

[2017-03-20 21:18] bmuschko commented on #1619
@lptr Can you please close the issue when you think it's ready?

[2017-03-21 00:13] DanielThomas commented on #1600
Ignore my last comment, misread some profiling output :)

[2017-03-21 00:32] martinda commented on #851
Another use case is when a user runs multiple different builds of different projects on multiple different hosts, all using his/her account. This is typical of environments with network mounted home directories.

Gradle has to pro-actively release the lock as soon as it is done with the cache. I am willing to pay the price of an IO operation to save the build from a timeout. Please see the excelle

[2017-03-21 01:43] marlonwc3 commented on #1276
There is some expected date for the release of v2016.3.6 ?

[2017-03-21 07:44] #1619 closed

[2017-03-21 10:02] ovstetun commented on #1510
Just as I was ready to start implementing this change (I work on a project with Kristian Rosenvold who posted in the original forum post), I found this in-work issue.
We will be glad to help if you need anything, and will gladly test on our project!

[2017-03-21 12:52] carlolf opened #1624 "Fail if Jar task replaces output of another"
### Expected Behavior
The manual states for MavenPublishing two methods a closure might use:
- artifact: with a task argument serving as the output of the given task
- setArtifacts: argument list for the artifacts
So, my expectation is, either should work.

### Current Behavior
Using artifact method with the task argument, this error occurs:

Using the method artifacts with task argument  in the f

[2017-03-21 15:38] slavashvets commented on #1602
**Could someone at least add labels for the issue?**

It seems to me that this feature request can speed up development build a lot.

[2017-03-21 15:46] bmuschko opened #1625 "Remove Gradle internal API bleeding into public API"
Some of the Gradle internal API from public API.

[2017-03-21 15:57] bmuschko opened #1626 "Remove `MutableActionSet` (internal API) leakage from `FileContentMerger` and `GeneratorTask` (public API)"
### Expected Behavior
`FileContentMerger` and `GeneratorTask` shouldn't reference `MutableActionSet`. The right way to fix this leakage would be to separate the API from implementation in `FileContentMerger` and friends.

### Current Behavior
[`FileContentMerger`](https://github.com/gradle/gradle/commit/1942607178a6e28212f6d05f8a6ecfdd073c5201#diff-55cdf2d3eb3d2b70a0d2f8ebd4559c27L29) and [`Genera

[2017-03-21 15:59] oehme opened #1628 "Get Configuration Time insights from real world builds"
We ask our community to help us find the biggest performance problems during configuration time. Based on this we will provide more insights in [Gradle build scans](https://scans.gradle.com), so you can clearly see what is slowing your build down. We’ll also fix potential bottlenecks in the Gradle build tool, making it transparently faster for everyone.

Configuration time is the work that Gradle

[2017-03-21 17:44] DanielThomas commented on #1555
@bmuschko note there's also a bug documented here, let me know if we should split that out.

[2017-03-21 18:44] JLLeitschuh opened #1629 "Support for Configuration.resolutionStrategy.ignoreProjectModules"
There is no good way to indicate to gradle that you don't want the dependency resolver to use a project and you really want to download the artifact with the version specified.

Use case I want to download an older version of a WAR that is published on artifactory in order to diff the database with liquibase. I have this code in a project called `PlexxiCore`:
[code]

If I run the dependencies task

[2017-03-21 18:47] JLLeitschuh commented on #1629
If there is a simple workaround for the time being that I can do using the [Dependency Substitution](https://docs.gradle.org/current/javadoc/org/gradle/api/artifacts/DependencySubstitutions.html) api I would love a pointer to get me started in the right direction.

[2017-03-21 18:51] wang2nd commented on #1563
@bmuschko just fyi. no matter I execute "gradle :subscription-repository:dependencies" or "gradle clean :subscription-repository:dependencies --refresh-dependencies", the output is always the followings. As I mentioned above, we found our internal lib that published in our internal cache is the root cause of the trouble but have not figure out why. I have other high priority task on hand and have

[2017-03-21 20:03] JLLeitschuh opened #1630 "org.gradle.configureondemand=true causes DefaultClassLoaderScope must be locked before it can be used to compute a classpath!"
I have a build that **was working fine** with this release:
[code]
However, with version recommended to be used with [gradle script kotlin 8.0](https://github.com/gradle/gradle-script-kotlin/releases/tag/v0.8.0)
[code]
I get an exception:
[code]

I am using the following `gradle.properties`
[code]

If I disable configureondemand this problem goes away.

### Expected Behavior
This should not fail.

[2017-03-21 20:55] oehme commented on #1630
@bamboo I'm pretty sure this happens because the parent projects are not yet evaluated, but `ClassLoaderScopeExtensionsKt` tries to get its classpath. It needs to check whether a scope has been locked and skip it if it hasn't. It still needs to continue up the hierarchy because parent projects further up might have been evaluated.

[2017-03-21 20:56] oehme commented on #1630
Issue moved to [gradle/gradle-script-kotlin #311](https://github.com/gradle/gradle-script-kotlin/issues/311) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-21 20:56] #1630 closed

[2017-03-21 22:08] JLLeitschuh commented on #1629
This seems to solve the problem.
Not the most intuitive but it works.
[code]

[2017-03-22 06:11] netroby opened #1631 "Chocolatey gradle package need update"
I am try to install gradle via choco , but seems it outdated.

[code]

Not up to latest gradle 3.4.1

[2017-03-22 11:46] bmuschko commented on #1631
Thanks for reporting. I created an issue with the Gradle package provider: https://github.com/mrdanielfsch/chocolatey-packages/issues/7. I am going to close the issue as it is maintained externally.

[2017-03-22 11:46] #1631 closed

[2017-03-22 13:10] bamboo commented on #1630
Thanks for the report, @JLLeitschuh.

[2017-03-22 13:10] bamboo commented on #1630
Thanks for moving it to gradle/gradle-script-kotlin, @oehme.

[2017-03-22 13:18] donat opened #1632 "BuildEnvironment model should expose the Gradle home"
### Expected Behavior

The `GradleEnvironment` interface should have a `getGradlehome()` method.

### Context

In Buildship we need to know what is the exact location of the used Gradle distribution on the disk. Currently, we can only approximate information from the import properties: https://github.com/eclipse/buildship/blob/master/org.eclipse.buildship.kotlin/src/main/java/org/eclipse/buildship

[2017-03-22 13:30] lacasseio commented on #790
I did a `git bisect` between Gradle 2.14.1 and Gradle 3.0 and the possible commits that broke the Visual Studio IDE integration are:

- 15f042353df1503b4d817c3e8764359da8ed7615
- 1fe6dcc9089f05bb8825543ab0f80a61f55a122a
- 36992a1fb76bfd1340d5a8382bacede8e3d0882d
- 416ba37853c7b8683948e40d5a18ef7fab43796c
- 323dac511b50b097a4771aa28d011a39040385da
- 7177742c071264d18618d95dc8db0a413756f461
- 60d955

[2017-03-22 13:39] lacasseio commented on #790
It would seem commits e6ac5922027a6b6ea01690b0763a0cf0a9a0153e  and 9d64621f04456a57003199d0b8b1cc17a955d14d broke the Visual Studio IDE integration. More debugging to come.

[2017-03-22 13:50] killoctal commented on #790
Hi @lacasseio, thanks a lot. On my side I continue migration ;-)

[2017-03-22 14:26] bmuschko commented on #1601
Thanks for reporting. There's no limitation on installing Gradle on Windows manually. The instructions are just Unix-specific. You'd set the PATH for Windows like for any other executable.

We are going to expand on the installation section. It just won't have in the next couple of days.

[2017-03-22 14:38] bmuschko commented on #1555
@DanielThomas Yeah, if you have a separate bug then please file a new issue for it. The smaller the chunks, the better. Thanks!

[2017-03-22 14:39] spac3hit commented on #1528
Just for reference: [JENKINS-42573](https://issues.jenkins-ci.org/browse/JENKINS-42573)

[2017-03-22 15:04] i7c opened #1634 "Transient failures in repositories lead to cache inconsistency"
Situation: one of our client’s repositories sometimes temporarily times out due to heavy load and (unfortunately) responds with a 404 for a JAR file.

Gradle seems to load the poms and jars in different steps and seems to assume that if the pom was loaded correctly (and is now in the local cache), the JAR file is also cached already. So it happened multiple times that gradle loads the poms, fails

[2017-03-22 15:14] digulla commented on #1061
I had a look at this. First of all, I don't see how the "workaround" at the top is related to the issue since there is no explanation what the workaround actually is / how it works.

Looking at the code, I added some log output to `ProjectDependencyPublicationResolver.resolve()` where the exception is thrown. The error is thrown because `PublicationInternal` has too little information to determine

[2017-03-22 15:49] lacasseio commented on #790
A code review was open, the fix should be in master soon.

[2017-03-22 16:13] #790 closed

[2017-03-22 16:15] JLLeitschuh opened #1636 "AbstractCopyTask needs a ::from overload that takes some sort of deferred action"
In groovy you can create a copy task like this:

[code]

However, in gradle script kotlin there is no good way of doing this without doing some wacky closure magic.

The best solution is this:
[code]
Which of course pushes the resolution of the dependency to configuration time instead of run time.

### Expected Behavior
A type safe way of deferring resolution of a file in a copy task to task execu

[2017-03-22 16:24] bmuschko opened #1637 "Cursor jumps in console when downloading wrapper"
When the console renders the dots to indicate the wrapper download status then you can see the cursor jump around between the dot characters.

[2017-03-22 17:31] bamboo commented on #1636
An overload is not technically required since a `java.util.concurrent.Callable` instance can be used to defer resolution:

[code]

An overload would make for a better API though.

[2017-03-22 17:33] DanielThomas opened #1638 "Cyclic project dependencies fail to resolve for copied Configuration"
Given a cycle-like multi-project configurations, copied configurations fail to resolve with the following exception:

[code]

Leading us to use this workaround:

https://github.com/nebula-plugins/gradle-resolution-rules-plugin/blob/master/src/main/kotlin/nebula/plugin/resolutionrules/gradleInterop.kt#L63

### Steps to reproduce

Reproducible using the following reduced test:

[code]

### Your Envi

[2017-03-22 17:47] JLLeitschuh commented on #1636
@bamboo Would this help as another getting started doc in the gradle script kotlin repo?

[2017-03-22 18:49] eriwen opened #1639 "Display brief task outcome statistics in Build Result"
Let's make the Build Summary better. We also have an opportunity to better position build scan links in there.

[Design Doc](https://github.com/gradle/gradle/blob/master/design-docs/improved-console.md#story-show-ratio-of-work-avoided-in-build-result)

### Expected Behavior
[code]

### Current Behavior
Currently, all users only see a "BUILD SUCCESS/FAILED" message and the wall clock time. If the b

[2017-03-22 19:26] eriwen commented on #1637
@lacasseio @bmuschko Let's consider this low-priority and focus on the big things like #1609 first.

[2017-03-22 19:29] eriwen commented on #1634
@i7c Thanks for the well-written issue.

Just to confirm: have you tried `--refresh-dependencies`?

[2017-03-22 19:31] eriwen commented on #1636
@bamboo I'll assign this issue to you for any follow up actions or uh... closure.

[2017-03-22 20:05] mark-vieira opened #1641 "Publishing via maven-publish plugin fails in Gradle 3.5 RC1"
### Current Behavior

Publishing to a remote HTTP repository via the 'maven-publish' plugin results in the following error:

[code]

### Context
Essentially, Maven publishing is broken in Gradle 3.5. This is a result of the new addition of build operations for remote artifact downloads. What triggers this is the maven publishing code fetching the existing `maven-metadata.xml` file. Because of Mave

[2017-03-22 20:16] mark-vieira commented on #1641
FWIW, we should do option 2 regardless of whether we decide to do option 1. We should really avoid calling `getCurrentOperation()` explicitly, especially since this is redundant anyhow.

[2017-03-22 20:40] adammurdoch commented on #1641
I'm not so sure we want the current operation to be inherited automatically for each and every operation and thread. We want to know the association between thread and operation, and we want to make sure the state is cleaned up correctly at the end of the operation.

We might simply pass the current operation across to the wagon instance, for it to associate with the current thread prior to invoki

[2017-03-22 20:50] mark-vieira commented on #1641
Just to clarify we already seem to automatically associate parent operations unless the given build operation has explicitly declare a parent operation. Are you suggesting we change this behavior? In any case, this is unrelated to this problem.

[2017-03-22 21:29] lptr commented on #1639
Stating both avoided and executed numbers (they should add up to 100% always, right?) looks a little redundant. I wonder if there's a way to display it in a way that avoids that.

[2017-03-22 21:31] eriwen commented on #1639
@lptr There's probably a better layout here — to be considered. Suggestions welcome, as always.

[2017-03-22 21:43] lacasseio commented on #1397
Consider [this discussion](https://groups.google.com/d/topic/gradle-dev/7HSrC5XC_VU/discussion) as the direction we would prefer to take on this issue.

[2017-03-22 22:48] stealthcode commented on #1162
The use of BOMs is core to our maven infrastructure. I'm surprised this isn't considered a necessary feature of Gradle resolution since its the Maven idiomatic way to address dependency consistency across multiple projects. Yes, we can accomplish this using nebula-recommender or pivotal plugins but then we have to rely on Nebula/Netflix or Pivotal for their plugin updates and they may not have the

[2017-03-22 22:58] sethjackson opened #1642 "Gradle daemon fails to start on OpenBSD"
The Gradle daemon does not start when calling the `run` task from the `application` plugin.

### Expected Behavior

[code]

should start the Gradle daemon and run the application.

### Current Behavior

The daemon fails to start.

[code]

### Context

Running the application works when not using the daemon.

[code]

### Steps to Reproduce (for bugs)

[code]

### Your Environment

[code]

[code]

[2017-03-22 23:08] kno10 opened #1643 "Copy task should copy files only if changed"
I am using some big dependency jars (CoreNLP language models).
It slows down my build a lot that they are copied every time.

Instead, the copy task should skip copying if file date and file size match.

An earlier report of the same, which suggests a few different strategies:
https://issues.gradle.org/browse/GRADLE-1264

Ant does it this way: "By default, files are only copied if the source file

[2017-03-22 23:19] mflis commented on #1518
From my experience composite builds works on plugins block, but only when you have uploaded this plugin to repository declared in  `pluginRepositories`.

My usual workflow, when working on new version of plugin:
- ensure that plugin is published to maven repository declared in `pluginRepositories`
- make some changes in plugin
- build project using my plugin with `--include-build` pointing to plug

[2017-03-23 07:35] i7c commented on #1634
Hi,

so I tried --refresh-dependencies in the artificial case above and it works, so the build succeeds. I remember that I tried it in the "real situation" as well, and it did not work. But now that I think about it, I obviously tried it right after a build had failed, so the error in the repository might have been present still. So, likely, I could have solved the issue by retrying with --refresh

[2017-03-23 08:42] wolfs opened #1645 "Gradle 3.5 RC1 breaks the error prone plugin"
When applying the [error prone Gradle plugin](https://github.com/tbroyer/gradle-errorprone-plugin) the build fails with the following exception:

[code]

See https://github.com/tbroyer/gradle-errorprone-plugin/issues/37.

### Expected Behavior
The error prone Gradle plugin works and is able to set the Java toolchain.

### Current Behavior
The error prone Gradle plugin cannot be applied due to the

[2017-03-23 08:43] wolfs commented on #1645
Now that we detect the toolchain from fork options and do not allow to set the toolchain manually I see why the plugin fails.
Note that even fixing the possibility to set the toolchain I am pretty sure the plugin will fail afterwards since we changed then interface of JavaToolChain and JavaToolChainInternal, which are both not part of the public API.
@tbroyer If we re-add the possibility to set th

[2017-03-23 09:56] tbroyer commented on #1645
Yeah sure!

I always knew the plugin would be fragile until there's official support for plugging custom compilers, and I acknowledge it in the README; this is also why I use a v0.0.x versioning scheme.

That said, yesterday, I looked a bit closer to Gradle's internals and its registry and factory mechanisms, and I wondered if I couldn't possibly leverage the `PluginServiceRegistry` (another inter

[2017-03-23 10:02] lacasseio opened #1646 "Noisy Findbugs Plugin with Quiet Log Level with Gradle 3.5 RC1"
### Expected Behavior
Same behavior as Gradle 3.4.
[code]

### Current Behavior
[code]

### Context

### Steps to Reproduce (for bugs)

### Your Environment

 * Build scan URL:

[2017-03-23 11:10] npryce opened #1647 "buildNeeded doesn't take into account difference between compile and testCompile dependencies, and so fails with circular dependency error"
buildNeeded doesn't take into account difference between compile and testCompile dependencies, and so fails with circular dependency error

Imagine a project with the following modules:

* domain-model
* domain-model-testing (common definitions for testing things that use the domain model)
* web-service

And the following dependencies:

domain-model-testing -[compile]-> domain-model
domain-model -

[2017-03-23 11:44] lacasseio commented on #1646
The issue is related to the [refactor of `AbstractLineChoppingStyledTextOutput`](https://github.com/gradle/gradle/pull/1576). During that work, we tried to support cross-eol for various systems, including Mac OS 9 eol. Unfortunately, some library, which [is the case for Findbugs](https://github.com/findbugsproject/findbugs/blob/d1e60f8dbeda0a454f2d497ef8dcb878fa8e3852/findbugs/src/java/edu/umd/cs/

[2017-03-23 13:00] #1090 closed

[2017-03-23 14:00] uklance commented on #1602
Why don't you just use the convention and store everything under `src/main/webapp` instead of copying from various non standard locations? Then you could have a single mapping from `/` to `C:/myapp/src/main/webapp`

[2017-03-23 14:44] plorenz opened #1650 "Allow Component Builds to be enabled for projects but disabled for plugins"
We have a library we want to allow including with includeBuild. The library is used by the projects in the build as well. It is also a dependency of one of the plugins used to build the build. Due to https://github.com/gradle/gradle/issues/947, the build fails because the plugin cannot resolve the library dependencies. However, the projects, because they have the right dependency resolution, can r

[2017-03-23 14:51] Vampire opened #1651 "accessing "settings" in "pluginRepositories""
We have a central Ivy repository with all libs and the possibility to replace this with a local copy of the Ivy repository for better offline and home-office-without-VPN workability.

In the `repositories { }` and `buildScript.repositories { }` blocks in build script and settings script this can easily be done, but the following for `pluginRepositories { }` fails because `settings` cannot be acces

[2017-03-23 15:32] wolfs opened #1652 "Provide public API for providing Java toolchains"
We currently have rudimentary support for Java toolchains. There is `JavaToolChain` which can be set on `JavaCompile`. For Java compilation, we detect the desired toolchain by looking at the fork options.
The [Gradle error-prone plugin](https://github.com/tbroyer/gradle-errorprone-plugin) provides its own Java toolchain which compiles Java by using the error-prone compiler. To be able to do so it

[2017-03-23 15:34] jjohannes commented on #1248
I think this needs clarification.

The switch to `#!/usr/bin/env sh` means that gradle now uses whatever shell the underlying UNIX system links as default and `gradlew` is supposed to conform so `sh` standards so that any shell could interpret it.

From the original error it looks as if some version of `zsh` is used here.

I tested with `zsh` on Solaris 11 (because I had a VM at hand). Which had `

[2017-03-23 15:35] wolfs commented on #1645
@tbroyer We will make it possible to set `JavaToolChain` on the `JavaCompile` task as it was possible before. For providing a public API I think this will need some deeper thoughts. I opened an issue to track these: #1652. Could you please comment there?
Would you be willing to work on making a public API for Java tool chains and contribute it to Gradle?

[2017-03-23 15:38] lacasseio opened #1653 "Indicate Gradle's continued progress on build summary line"
Subset work from issue https://github.com/gradle/gradle/issues/1609.

### Expected Behavior
The build summary line will contain the elapse time since the start of the build phase:
[code]

### Current Behavior
The elapsed time isn't shown.

[2017-03-23 16:57] big-guy opened #1654 "Gradle sometimes fails to link due to duplicate object files"
We generate a unique path for the object file from a source file's relative path in a project. This seems to be broken somehow because we sometimes generate a different path without changes to the source file or source path.

Since we generate a different unique path, we do not remove the old .o files and the linker tries to link a new and an old object file into the same shared library.  This cau

[2017-03-23 17:01] big-guy opened #1655 "Object files/libraries produced by Gradle contain absolute paths"
The object files created via gcc contain an absolute path to the source file.  I suspect this is due to the way we call the compiler.

This can kill cacheability when a shared library is packaged into a jar when everything else is "the same".

### Your Environment

Linux, gcc.

[2017-03-23 17:03] big-guy opened #1656 "Gradle is generating a .m2/settings.xml"
For a particular build, I'm seeing a `~/.m2/settings.xml` generated. It contains references to a `env.MAVEN_LOCAL_REPO`, but I'm not sure where this is even coming from.  I suspect it has something to do with publishing to a local maven repository.

### Your Environment

macOS and Linux.

[2017-03-23 17:39] JLLeitschuh commented on #1641
This also affects the 0.8.0 release of Gradle Script Kotlin https://github.com/gradle/gradle-script-kotlin/releases/tag/v0.8.0

Which uses `https://repo.gradle.org/gradle/dist-snapshots/gradle-script-kotlin-3.5-20170305000422+0000-all.zip`

My company just ran headlong into this bug, glad to know its not something wrong with our configuration.

[2017-03-23 18:07] swpalmer opened #1657 "maven-publish sometimes erroneously up-to-date - skips generation and publishing of the artifact"
Some publications are skipped when they shouldn't be.  The publish task claims it is up-to-date because it has no actions. The tasks that should build them are never triggered as they should be.

### Expected Behavior
The 'builtBy' task of a publication should be triggered when the publish task is run, the generated artifact should be uploaded.

### Current Behavior
Sometimes the publish task clai

[2017-03-23 18:10] swpalmer commented on #1657
Note that the 'generatePomFileFor...' task also is never shown in the build log for the publication that is skipped.

[2017-03-23 19:01] lacasseio commented on #1653
Here are two possibilities:

- As describe in the description of the issue: https://asciinema.org/a/4dopy383rq0b7j06icokc9zmj
- Following a scale of 3 digits: https://asciinema.org/a/77mwfpy18j7lkz7vgwh47b9x4

[2017-03-23 19:40] ilya-g commented on #1517
Out of curiosity, is adding a sentence to the documentation page requires waiting for the next major release?

[2017-03-23 19:44] Bytekeeper commented on #820
A small workaround is to just removing the extendsFrom antlr and manually adding the runtime:

[code]

[2017-03-23 20:50] adammurdoch commented on #1652
There are several use cases, so we might split this issue up:

1. Build logic asks Gradle for a java tool chain given a Java home, and then attaches it to a task that uses a java tool chain, eg compile task, javadoc task, java exec task, test task, task that uses a worker daemon, and so on.
2. Build logic asks Gradle for a java tool chain given a Java version, and attaches it to a task
3. Build lo

[2017-03-23 21:50] eriwen commented on #1634
@i7c IIRC we cache HTTP 404s some time. That cache would've expired after some time and perhaps this would work without `--refresh-dependencies` then. We do this to optimize performance — it's a trade-off as is everything. We don't want to check every repository for every dependency if we "know" it's not there. Doing `--refresh-dependencies` causes us to ignore the cache and should work at the cos

[2017-03-24 02:10] adammurdoch commented on #1632
Why do you need the exact location of the Gradle distribution? Sounds like a proxy for something else.

[2017-03-24 07:22] #1645 closed

[2017-03-24 08:52] slavashvets commented on #1602
Hello @uklance . I've update my question on StackOverflow too. I can't just restructure a project because (just an example):

1. I have some excluded files that I don't want to bring to the output folder.
2. I want to map several source folders to one output folder (e.g. `build/classes` and `build/resorces` both should be added to the one virtual JAR).
3. I want to map existing gradle caches to th

[2017-03-24 09:04] pioterj commented on #1517
This is a very low risk change. @bmuschko Can we push it to the release branch so it's included in 3.5 RC2?

[2017-03-24 09:40] lptr opened #9105 "Ignore timestamps and file order inside ZIP inputs"
We could ignore timestamps and file order for ZIP (and TAR and whatnot) inputs, just like we do for `@Classpath`s (see https://github.com/gradle/build-cache/issues/440).

[2017-03-24 11:28] jochenberger opened #1660 "Visiting the same ZipFileTree multiple times is inefficient"
In my project, I have several subprojects each of which extracts a directory from a huge ZIP using `Sync` tasks with a `ZipFileTree` as their inputs.
Every time the `visit` method is called, `ZipFileTree` reads the entries from the underlying ZIP file (https://github.com/gradle/gradle/blob/v4.1.0/subprojects/core/src/main/java/org/gradle/api/internal/file/archive/ZipFileTree.java#L80). If the file

[2017-03-24 11:43] datalorax commented on #862
(adding Jay's work around from here: https://discuss.gradle.org/t/gradle-1-8-copy-task-fails-when-source-file-contains-colon/1747/3)

Jay's workaround is to use this function:

def renameFiles(dir, pat, repl) {
  fileTree(dir).each { file ->
    def newfile = file.path.replaceAll(pat, repl)
    if (newfile != file.path) {
      file.renameTo(newfile)
    }
  }
}
to replace : with @@ before copying

[2017-03-24 11:58] bmuschko commented on #1517
@ilya-g As you can see in the PR the change includes more changes than just adding a single sentence. We are auto-testing code snippets included in the documentation. The same is true for Javadocs. For that reason it has to run through portions of the CI pipeline first. Either way once merge you are able to see the change to documentation in the nightly. Usually, we do not try to introduce additio

[2017-03-24 12:43] pioterj commented on #735
And from https://docs.gradle.org/current/userguide/standard_plugins.html

[2017-03-24 13:04] bmuschko commented on #1159
I see an argument for this mode over and over again.

Examples:

- http://wittykeegan.blogspot.com/2015/08/a-maven-plugin-developers-thoughts-on.html

[2017-03-24 13:40] digulla commented on #867
The ["Migate from Maven to Gradle" guide mentions two plugins](https://guides.gradle.org/migrating-from-maven/#provided_scope_and_optional_dependencies) which offer this functionality:

[code]

[2017-03-24 14:43] #1517 closed

[2017-03-24 14:59] russel commented on #719
That Gradle didn't work on JDK9, and then did work on JDK9, and then stopped working on JDK9 has now become a real problem instead of just a problem.

[2017-03-24 15:01] pioterj commented on #1250
Closing as duplicate of https://github.com/gradle/gradle/issues/1368.

[2017-03-24 15:01] #1250 closed

[2017-03-24 15:58] pioterj commented on #1207
Closing as duplicate of https://github.com/gradle/gradle/issues/1369.

[2017-03-24 15:58] #1207 closed

[2017-03-24 16:04] pioterj commented on #1239
@oehme This will be covered by the work on worker processes, right? Can we set 4.0 milestone on it?

[2017-03-24 16:26] rajesheq commented on #1248
Still getting the same error. /usr/bin/sh is linked to /sbin/sh

[2017-03-24 16:40] bigdaz commented on #1093
Thanks for the bug report: we plan on doing more work to improve composite builds in the coming months. Support for Android builds is part of the plan. We'll provide updates on this issue.

[2017-03-24 16:45] eriwen commented on #719
@russel Acknowledged. We postponed supporting JDK9 after earlier releases broke compatibility with Gradle a few times. We feel it's important to finish what we have in-development before picking this back up again.

Personally, my apologies for not communicating this better. We did not have a good plan for prioritizing this against other work, but now we do.

[2017-03-24 16:48] oehme commented on #1239
That's right, we'll add some documentation by then.

[2017-03-24 17:07] reinhapa commented on #719
In order to run gradle under the latest JDK 9 preview you need to set up the following environment settings using the latest [Jigsaw early access](https://jdk9.java.net/jigsaw/) build:

`JAVA_OPTS='-XX:+IgnoreUnrecognizedVMOptions --permit-illegal-access --show-version'`

Also add the following line to your `gradle.properties`:

`org.gradle.jvmargs=-XX:+IgnoreUnrecognizedVMOptions --permit-illegal

[2017-03-24 18:46] oehme commented on #1651
This is fixed in 3.5-rc-1, you can now access the full `Settings` API in the `pluginManagement` block.

[2017-03-24 18:46] #1651 closed

[2017-03-24 18:53] oehme commented on #1632
The real use case is getting the bootstrap(*) classpath for GSK without paying the price of configuring the project.

(*) When working with Kotlin in Eclipse or IntelliJ, we first need to pass it a classpath which contains the GSK version that is bundled with that Gradle version. This GSK version is then responsible for building the buildscript classpath model in a second request.

[2017-03-24 19:01] oehme commented on #947
I'm reopening this with a slightly changed title. While the problem is simple to solve within a single build (just declare the same substitution rules in an `allProjects()` block), there is no good way to do so for a composite.

[2017-03-24 19:05] #1646 closed

[2017-03-24 19:18] Vampire commented on #1651
Ah, very nice, thanks. :-)

[2017-03-24 19:32] #1641 closed

[2017-03-24 19:49] eskatos opened #1662 "Orphaned download build operations from `maven-publish`"
### Current Behavior

Two pictures worth a thousand words:

![gradle-3 5-rc2-fix-1641-eclipse](https://cloud.githubusercontent.com/assets/132773/24311143/22ddd8b4-10d3-11e7-99ea-971008d3f57b.gif)

![gradle-3 5-rc2-fix-1641-idea](https://cloud.githubusercontent.com/assets/132773/24311147/28670ed6-10d3-11e7-9e96-d74367f1908c.gif)

### Expected Behavior
The download build operations should be wired t

[2017-03-24 20:03] bmuschko opened #1663 "FileCollection is-a Provider"
Spec: https://github.com/gradle/gradle/blob/master/design-docs/internal-apis-made-public.md#story-filecollection-is-a-provider

[2017-03-24 20:05] bmuschko opened #1664 "Introduction of Provider and PropertyState"
Spec: https://github.com/gradle/gradle/blob/master/design-docs/internal-apis-made-public.md#story-identify-and-promote-first-class-support-for-mapping-between-extension-and-task-properties

[2017-03-24 20:05] bmuschko commented on #1664
PR: https://github.com/gradle/gradle/pull/1452

[2017-03-24 22:49] TimvdLippe commented on #1095
We are now also facing this issue for Mockito. Would like to see a fix, such that we can properly prepare our library for Java 9.

[2017-03-25 00:33] sonicsnes opened #1665 "Dependency on empty ivy configuration causes resolve fail"
We use quite a few ivy libraries which include statements such as "sources->sources()" in their defaultconfmapping, indicating that the sources configuration should be pulled in from dependencies only if it's available. This works with standard ivy, but fails in gradle. It attempts to resolve an actual empty ("") conf from the dependencies rather than accepting it as a noop fallback. I couldn't fi

[2017-03-25 10:54] juergenzimmermann opened #1667 "[3.5-rc-1] Gradle plugin for SonarQube broken after upgrade"
I just wanted to upgrade from Gradle 3.4.1 to 3.5-rc-1 and got the following stacktrace regarding the SonarQube plugin:

[code]

[2017-03-25 18:47] mkobit opened #1668 "Configuring a subproject using a 'buildscript' block from root build.gradle cannot apply plugins by id"
When configuring subprojects using the `project(':subproject-name') {}` block and applying a `buildscript`, the configuration fails to apply plugins brought in with `classpath` configurationand using `apply plugin: 'id'` from within that `project(':subproject-name') {}` block.

### Expected Behavior

Should be able to apply plugins by Id in `project` block when that dependency is on the `classpath

[2017-03-25 20:40] seanrl opened #1669 "Jar task breaks long manifest attributes incorrectly"
### Expected Behavior
When running the Jar task and writing the manifest file, Gradle should be smart enough to break up a long attribute value (>72 bytes) across multiple lines without breaking the jar.

### Current Behavior
I put linebreaks into a manifest attribute declaration on the jar task like 'jetty-servlet.jar\n' but if that is part of a long classpath, then gradle will add another linebr

[2017-03-25 21:27] #1669 closed

[2017-03-25 21:27] seanrl commented on #1669
Its not actually and issue, I just didn't fully understand the spec, and I had an issue in that I was including the compile dependencies only, and not the runtime ones.

[2017-03-25 22:24] dmodoomsirius commented on #1071
I can't wait for this to happen. That will make my job easier and I will be able to not allow passwords only keys for users again.

[2017-03-26 01:43] nlwillia opened #1670 "Gradle daemon should retain/host details about a failed build"
When a build fails, the default message isn't always sufficient to diagnose the problem.

[code]

The "Try:" part of this experience, if necessary, is always a bit frustrating.  You have to modify your run command, wait for your build to rerun and then scan through a bunch of text in a terminal interface.  Ideally, this would always be instantaneous and perfectly repeatable, but depending on your

[2017-03-26 04:21] ilya-g opened #1671 "Custom jars in default configuration are not triggered for build for dependent projects"
Turns out that since gradle 3.4 the following two ways of specifying project dependency produce different results:

[code]

In case if I disable standard `Jar` task in `module-a` and use some `customJar(type: Jar)` task to produce an artifact (which I include in the default artifact configuration), that customJar task is not triggered when starting clean build of `module-b`.

### Expected Behavior

[2017-03-26 11:43] oehme commented on #1632
Thinking more about this, we should probably just get rid of this weird two-way-dance in GSK. There should be a gsk-client JAR that is published just like our tooling-api JAR and which can talk to any current and future GSK version. Clients should not depend on the contents of the Gradle distro.

[2017-03-26 11:43] #1632 closed

[2017-03-26 16:28] gaganis commented on #1416
FYI @tkruse the [latest release of checkstyle(7.6.1)](http://checkstyle.sourceforge.net/releasenotes.html#Release_7.6.1#Release_7.6.1) contains my fix for this. Upgrading checkstyle should resolve your issue.

Cheers!
Giorgos

[2017-03-26 21:29] Mistic92 commented on #1549
Similar problem on 9-ea+162 windows10
`H:\ProgramowanieProjekty\Java9Fun\test>gradle init --stacktrace --debug
23:25:06.390 [INFO] [org.gradle.internal.nativeintegration.services.NativeServices] Initialized native services in: C:\Users\Lukasz\.gradle\native
23:25:06.636 [DEBUG] [org.gradle.internal.nativeintegration.services.NativeServices] Native-platform posix files is not available.  Continuing

[2017-03-26 23:06] neuromantik33 commented on #1277
+1

@jszakmeister if you need some help, I'm able and willing... I'm learning clojure atm and Leiningen is just too slow (no daemon) compared to gradle. Right now my support is calling my own LeinTask which is simply not cutting it ;)

[2017-03-27 04:04] charlesxucheng commented on #1498
Any update on this? It is a breaking change for our project.