[2016-12-05 23:17] rodney757 commented on #965
@eriwen wrote the steps to reproduce.

that is the project

yes, I run the build until the custom task runs

[2016-12-06 02:00] vRallev opened #972 "Substituted dependencies in composite builds"
The [restriction](https://docs.gradle.org/current/userguide/composite_builds.html#included_builds) section of composite builds mentions that substituted libraries must not itself be a composite build. Is this only a temporary limitation and will be resolved in the future or not? I'm asking because it makes testing hard if you have a dependency `Lib A -> Lib B -> App` and you want to test changes f

[2016-12-06 05:16] big-guy commented on #972
I think you may have misunderstood the restriction.

If you had separate builds for `libA`, `libB`, `appA`, and `appB`. And `libA` <- `appA` (appA uses libA) and `libA` <- `libB` <- `appB` (appB uses libB which uses libA). If you created two composites (one with `libA` and `appA` called `compositeA` and one with `libB` and `appB` called `compositeB`), you could not create a third composite that co

[2016-12-06 05:23] vRallev commented on #972
Thanks for the feedback. Yes, I'm aware of that. But my example I gave can't be achieved. `Lib B` depends on `Lib A`. `App` depends on both libraries. Then `Lib B -> Lib A` is `composite1` and `App -> Lib B` is `composite2`. That's supported, correct? My workaround helps, but is a lot harder to maintain.

[2016-12-06 05:28] big-guy commented on #972
No, you can't include two builds that have included builds themselves.

So if libB has:
[code]

And App has:
[code]

You could have all three in a composite with:
[code]

No need to change the dependencies in any build.

[2016-12-06 05:36] adammurdoch opened #973 "Tasks with input files marked 'skip when empty' should delete outputs only when it is known to be safe to do so"
Currently, the outputs for these tasks are deleted when all source is removed, regardless of whether this is the desired outcome or not. Instead, we should delete these files only when we know this is what the user wants, consistent with whatever we come up with for cleaning up stale files more generally.

### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

[2016-12-06 05:46] vRallev commented on #972
I just had the "aha-moment". It's only necessary to declare the composite build in the very last project (the app in my example). I also declared the substitution in `Lib B`. But that's not necessary, because Gradle notices changes in `Lib A` and rebuilds `Lib B`. I thought that requires declaring the substitution in `Lib B`.

Thanks a lot for the quick help. That saved me a ton of time!

[2016-12-06 05:46] #972 closed

[2016-12-06 06:19] big-guy commented on #972
No problem, thanks for asking.

[2016-12-06 06:49] adammurdoch commented on #821
Should consider fixing #973 when fixing this issue

[2016-12-06 09:23] Tenischev opened #974 "No way for reload default gradle libraries"
Gradle haven't way for reload his default libs (located in 'gradle-\*.\*/lib' and 'gradle-\*.\*/lib/plugins').

### Expected Behavior
In building process used a libraries with exactly version which declared in 'dependencies'.

### Current Behavior
If library with same name\package already load in Runtime process then it not will be reloaded (yes, it's how common java loader process work).

### Con

[2016-12-06 11:07] sboardwell opened #975 "Inconsistent logging in new '--tests' vs '-Dtest.single' functionality"
### Expected Behavior

Only the relevant matching tests or test classes should be logged and included in the test results when using a test filter.

I have the following tests

    my.company.MySearchTermATest
    my.company.MySearchTermBTest

And the testLogging config

     test {
        testLogging {
            displayGranularity 0
            minGranularity 2
            maxGranularity 2

[2016-12-06 13:10] jvff opened #976 "Support symbolic links in FileTree"
I encountered a need to archive symbolic links, and following a [discussion from 2013](http://gradle.1045684.n5.nabble.com/Symbolic-links-td5711601.html) I ended up in a [design document](https://github.com/gradle/gradle/blob/master/design-docs/copy-spec-improvements.md) to add symlink support to `FileTree`. I started implementing the first easy steps from the story, but I had a few questions.

Fi

[2016-12-06 14:50] NHendricks opened #977 "Separate compile and runtime dependencies of external modules"
If I declare a compile dependency (e.g. to io.reactivex:rxnetty:0.4.19) I see that gradle also puts all transitive runtime dependencies into the compile configuration (in this case for example io.reactivex:rxjava:1.0.17).
### Expected Behavior

Example:
`dependencies {compile 'io.reactivex:rxnetty:0.4.19'}`
My Java Code using the class `rx.exceptions.Exceptions` should not compile.
The compile sho

[2016-12-06 23:42] martinda commented on #831
How is [SourceSet](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/SourceSet.html) different from [LanguageSourceSet](https://docs.gradle.org/current/javadoc/index.html?org/gradle/language/base/LanguageSourceSet.html), and why do both exist?

If I cannot wait for this feature, what is the best approach 1) replicate the SourceSet model under a different name, or 2) extend the LanguageS

[2016-12-07 07:27] big-guy commented on #933
I think if this is the source of so many random corruption bugs (I think it is), it's very important to fix it for 3.3 now that we have a reproducible case.

We should simplify the test case down a bit more (ignoring the corruption aspect) and check that `org.gradle.cache.internal.DefaultCacheAccess#newCache` behaves appropriately.

- it creates a new cache when no other caches have been created
-

[2016-12-07 14:42] alexanderfloh opened #979 "Javadoc task uses wrong encoding to write `javadoc.options` file"
I'm trying to generate a Javadoc with a Japanese document title and window title.

### Expected Behavior
The window title should be rendered as `リファレンス` but is `??????`.

### Context
I think in https://github.com/gradle/gradle/blob/master/subprojects/language-java/src/main/java/org/gradle/external/javadoc/internal/JavadocOptionFileWriter.java#L40 the overload with the encoding parameter should be

[2016-12-07 14:53] bmuschko opened #980 "Introduce tasks report that renders task dependencies as tree"
As a user, I want to know all the tasks that are available, but instead of a flat list, I want to know how they depend on one another. Even better: tell me why.

### Expected Behavior

I propose perhaps a flag for the gradle tasks command like --tree or --dependencies that prints the report suggested above. I strongly feel that this ought to be baked in.

A user can render tasks and their task dep

[2016-12-07 16:11] lacasseio commented on #968
The call stack looks the same as https://github.com/gradle/gradle/issues/933. I will advise once we have a fix for that one.

[2016-12-07 16:14] lacasseio commented on #933
Thanks @big-guy. I will pull it in Gradle 3.3 milestone and start working on those fixes.

[2016-12-07 16:52] danielsun1106 commented on #968
Thanks for your looking into the issue :)

[2016-12-07 17:33] bmuschko commented on #824
PR: https://github.com/gradle/gradle/pull/983

[2016-12-07 20:28] lacasseio commented on #933
Looking at the name of the class, `MultiProcessSafePersistentIndexedCache` that @big-guy try to protect in his solution (by creating a look aside table), could we have the same corruption problem if 2 separate process happens to follow the same scenario? I don't know enough of the inner working of the cache to know if this is prevented by some other mechanic. It seems that if we end up opening [`B

[2016-12-07 20:40] bmuschko commented on #821
PR containing spec and test cases: https://github.com/gradle/gradle/pull/984

[2016-12-07 20:51] bmuschko commented on #954
@bigdaz Can you provide some insight here?

[2016-12-07 22:40] zyro23 opened #985 "GradleWrapperMain loads system properties in wrong order"
`GradleWrapperMain` loads system properties in the reverse order than the docs suggest and as the "main" gradle process does.

### Expected Behavior
ill quote the docs:

### Current Behavior
during the `gradlew` bootstrapping process, system properties (`systemProp.*`) defined in `gradle.properties` in the project dir override those defined in `gradle.properties` in the user home directory:

https

[2016-12-08 01:44] nbruno opened #986 "Eclipse plugin "eclipse.classpath.sourceSets" allows modifying the project's sourceSets"
When using the eclipse plugin, it's possible to unintentionally modify the sourceSets of the entire project. Changes in the return value of `eclipse.classpath.sourceSets` are reflected in the project. I understand that the [API is documented](https://docs.gradle.org/current/javadoc/org/gradle/plugins/ide/eclipse/model/EclipseClasspath.html#getSourceSets()) to return `Iterable`, but it seems that c

[2016-12-08 06:40] JLLeitschuh opened #987 "resolutionStrategy.componentSelection.all requires non intutive call to be used [kotlin]"
In order to configure `ComponentSelection` rules in kotlin you must use the following incantation:

[code]
This works!

### Expected Behavior

This should work to add a `componentSelection` rule.
[code]

### Current Behavior

With the code in the Expected Behavour section you get this exception:
[code]

### Context

I am trying to add a custom dependency resolution rule in Gradle Script Kotlin

##

[2016-12-08 17:31] eriwen commented on #968
Assigning to you @lacasseio to follow up since you're working on #933

[2016-12-08 17:50] eriwen commented on #845
This issue has been `not-actionable` for over a week. Closing for now, please reopen if you have additional information, an example, or a build scan.

[2016-12-08 17:50] #845 closed

[2016-12-08 23:52] eriwen commented on #979
@alexanderfloh Thank you for contributing. Can you confirm what OS and Gradle version you're using, please? An example would be helpful here if you have one.

[2016-12-09 00:00] eriwen commented on #976
@jvff It looks like you've rightly started a discussion on the dev list about this. That or the forum is the best avenue for questions like this. Once you've gotten them answered, I recommend perhaps reopening this issue or opening a new one with all of the sections completed about motivation and context.

Feel free to reply to this issue or contact us via another channel if you need clarification

[2016-12-09 00:00] #976 closed

[2016-12-09 00:03] eriwen commented on #975
@sboardwell Thank you for the well written issue and example. This is well enough defined that I think the community may be able to address this quicker than our schedule will allow. If this get some 👍 s though, we'll prioritize a fix higher.

[2016-12-09 06:31] alexanderfloh commented on #979
@eriwen I was able to reproduce the issue with `Gradle 3.1` and `Gradle 3.2.1` on `Windows 10 1511`.

I have created a minimal sample project to repro the issue at https://github.com/alexanderfloh/javadoc-issue-repro.

After running `gradlew javadoc` take a look at the contents of `build/docs/javadoc/index.html`. The title is `<title>??????</title>`.

It seems to me that this is already incorrectl

[2016-12-09 06:48] big-guy commented on #979
Ah, Windows.

Can you try setting `-Dfile.encoding=UTF-8` in the `JAVA_OPTS` environment variable?  By default on Windows, the file encoding is CP1250 for the build.gradle files, which would produce ????.

[2016-12-09 06:55] big-guy opened #9091 "Track default file encoding for built-in tasks that rely on it"
Example project to play with: https://github.com/gradle/gradle/issues/979

If you build the example on macOS, it'll work fine. (default encoding is utf-8).

If you switch file.encoding to CP1250 and build with the cache, the problem described occurs.

If you switch file.encoding back to utf-8, the build is pulled from the cache (which is wrong since a different encoding for the build.gradle should

[2016-12-09 07:49] alexanderfloh commented on #979
This seems to fix the content of the `javadoc.options` file, although the string in the html file is still garbage.

It is now `<title>ãƒªãƒ•ã‚¡ãƒ¬ãƒ³ã‚¹</title>`.

Any ideas?

[2016-12-09 08:20] formalizator commented on #974
Same with asm library.
Gradle 3.0

Junit test run fails with Caused by: java.lang.SecurityException: class "org.eclipse.persistence.internal.helper.XMLHelper"'s signer information does not match signer information of other classes in the same package

Debug fails on ASM constructor signature.
Despite exact version in compile dependencies.

[2016-12-09 11:39] bamboo commented on #987
Superseded by gradle/gradle-script-kotlin#196.

[2016-12-09 11:39] #987 closed

[2016-12-09 13:34] lacasseio commented on #933
From [Slack](https://gradle.slack.com/archives/build-tool/p1481143727000173):

[2016-12-09 14:58] eriwen commented on #979
@alexanderfloh Thank you for the example and environment information. We may not be using the correct encoding in some places.

We'll look into this when we get it prioritized in a sprint. This may be easy enough to fix by a community member given the context you've provided, so I'm going to add `help-wanted` here in case someone else fixes this before we can.

[2016-12-09 15:25] eriwen opened #994 "Better IDE dependency conflict handling"
The problematic behavior affects only the mapping to IDEA or Eclipse. When Gradle builds stuff, it works fine.

Given:

[code]

Then:

When x <= y, the mapping to the IDE is fine (version y is selected and included once)

When x > y, the mapping to the IDE includes both versions in the project's classpath. The classpath for consuming projects is fine.

Keep in mind that these conflicts might be dr

[2016-12-09 16:23] bmuschko opened #995 "Remove Gradle UI for 4.0"
The Gradle GUI has been deprecated with Gradle 3.3. The code should be remove after the deprecation cycle.

### Expected Behavior

The Gradle GUI is not available anymore for the end user. The command line option `--gui` and any documentation about the GUI is removed.

The OpenAPI was deprecated in Gradle 1.x and removed in Gradle 2.0. There are some interfaces left behind that the GUI happens to

[2016-12-09 19:31] lacasseio opened #996 "ClosureBackedMethodInvocationDispatch doesn't set the Closure delegation property"
### Expected Behavior
According to the documentation for [`TaskExecutionGraph`](https://docs.gradle.org/current/javadoc/org/gradle/api/execution/TaskExecutionGraph.html), we can expect the delegate object for the `Closure` of [`whenReady(Closure)`](https://docs.gradle.org/current/javadoc/org/gradle/api/execution/TaskExecutionGraph.html#whenReady(groovy.lang.Closure)) be `TaskExecutionGraph` as [`w

[2016-12-09 20:05] lacasseio commented on #996
There are three ways this could get fixed:
1. Replace all usage of `ClosureBackedMethodInvocationDispatch` that will clearly be called with only a single parameter with `ConfigureUtil.configureUsing(closure)` passing the result to the overloaded method taking an `Action`
2. Modify `ClosureBackedMethodInvocationDispatch.dispatch` to always use the first arguments, if any, as the delegate
3. Modify

[2016-12-09 20:10] lacasseio commented on #996
Option 1 was implemented here https://github.com/gradle/gradle/commit/ba0cbf33a217c701de24d0fd2450a0159a283b46. I see it as the best option but requires a wider change list. Option 3 could be a good one. I think option 2 would result in unexpected behavior for the couple usage that passes more than 2 parameters to the closure.

[2016-12-09 20:34] lacasseio opened #997 "Improve dependency handling for native platform"
### Expected Behavior
Dependency configuration for the native platform needs to be richer in order to handle the various possible use case. Dependency should be configurable for:

- compiler only (headers)
- compiler (headers) and linker (object files/static libraries)
- compiler (headers), linker (object files/static libraries), runtime (shared libraries/executables)
- linker only (object files/s

[2016-12-09 22:54] eriwen commented on #941
@isian8814 I confirmed the behavior you're seeing with Gradle 3.2, 3.1, 2.14.1, and 2.13, so this doesn't seem to be a regression.

In addition, `./gradlew clean :rest:compileJava` works on it's own even though that task fails when running `clean build`. This problem seems to be caused by configuration in Spring Boot `bootRepackage` task. If I add
[code]
to your top-level build.gradle file, `./gra

[2016-12-09 22:54] #941 closed

[2016-12-09 23:45] alexeyOnGitHub opened #998 "Allow declaring a dependency on a Scala library without explicitly appending the project's target Scala version"
SBT has "%%" syntax for Scala cross-build dependencies which lets the build system automatically select the right version of an artifact (myartifact_2.11   or myartifact_2.10). I wonder if there was a simple way to add some support for this into Gradle Scala plugin  so that you don't need to add "+'scala_version'" to many artifact names.

[2016-12-10 00:52] adammurdoch commented on #890
This epic contains the issues to fix to allow Gradle to run without error on recent Java 9 jigsaw jvm snapshots. These issues are in addition to those in epic #719, which contains the issues to fix to allow Gradle to run the non-jigsaw snapshots.

[2016-12-10 01:41] fvogler opened #999 "Dependency type to file extension mapping not configurable"
The following dependency is not resolvable with gradle.
group:'org.netbeans.cluster', name:'platform', version:'RELEASE82'
http://bits.netbeans.org/nexus/service/local/repositories/release82/content/org/netbeans/cluster/platform/RELEASE82/platform-RELEASE82.pom

### Expected Behavior
In the maven world it is possible to define dependency types with a different file extension as the type name. In t

[2016-12-11 18:43] jaredsburrows opened #1000 "Gradle 3.2.1 - Caused by: org.gradle.api.InvalidUserDataException: A dependency must not be empty"
When upgrading from Gradle 3.1 to Gradle 3.2.1, `Caused by: org.gradle.api.InvalidUserDataException: A dependency must not be empty` was thrown.

Here is my build: https://github.com/jaredsburrows/cs-interview-questions.

I believe the issue is with `cunit-test-suite` or `google-test-test-suite` plugins.

### Expected Behavior
No exception, this was not happening in Gradle 3.1

### Current Behavio

[2016-12-12 08:29] sboardwell commented on #975
@eriwen Thanks for the comment (and labels ;-) ). I will see if I have time to have a look myself in the next few days.

[2016-12-12 10:13] wolfs opened #1001 "Init scripts for buildSrc should have access to gradle.properties"
Currently, when having an init script in the Gradle user home directory which uses system properties from a `gradle.properties` in the Gradle user home dir then these are not available when applying the init script to `buildSrc`. Note that these only happens when using the standalone `gradle` command, when using the wrapper then this works.

### Expected Behavior
`gradle.properties` in the Gradle

[2016-12-12 12:29] dmfalk opened #1002 "Model reference $. syntax does not work in project scope"
$. syntax, used to reference the model, cannot be used with project scope.
Affects release versions of gradle.

### Expected Behavior
$. syntax should be scope agnostic.

### Current Behavior
Generates error:

### Context

Reported on the forum: https://discuss.gradle.org/t/syntax-within-project-scope/19771
Original Bug: https://issues.gradle.org/browse/GRADLE-3570

Found whilst working on a multi

[2016-12-12 13:56] samized opened #1003 "IDE plugins should add source when a gradleApi() or localGroovy() dependency is used"
Original Issue: https://issues.gradle.org/browse/GRADLE-1219

However, I'm developing Gradle Tasks / Plugins and am using the special "gradleApi()" dependency which doesn't seem to attach the gradle sources within eclipse, which doesn't make sense since the gradle-all distribution includes the gradle sources.
Having the gradle sources attached within eclipse would make task / plugin development a

[2016-12-12 14:43] lacasseio commented on #1000
Thanks @jaredsburrows, I will triage this as soon as possible.

[2016-12-12 16:28] lptr opened #8677 "Do not copy stuff in `ProcessResources` when no processing happens"
When there's a lot of resources that are copied verbatim we could skip the task itself completely, and use the source directory itself.

[2016-12-12 17:26] bmuschko commented on #1000
Thanks for reporting. This will be fixed with 3.3-RC1.

Internal code review: https://code-review.gradle.org/cru/REVIEW-6408

[2016-12-12 18:04] cy6erGn0m opened #1004 "DefaultTask.inputs exposes internal API"
### Expected Behavior
`DefaultTask.inputs` should have type `TaskInputs`

### Current Behavior
`DefaultTask.inputs` has type `TaskInputsInternal` of an internal package. So if there are changes in the internal class then user's code could corrupt.

### Context
My own plugin fails with NoSuchMethodError with older Gradle because of unexpected internal API leakage

### Steps to Reproduce (for bugs)

[2016-12-12 19:18] staffanf opened #1005 "Support for putting debug build log output to file"
It would be nice to be able to put debug level build log output into a file while retaining info level build log output in the console.
That way it is possible to peek into the log file when the console output indicates a problem.

### Expected Behavior
I would like to be able to configure logging for the gradle build.
Preferrably to be able to configure destinations (file/console/other?) and thre

[2016-12-12 19:31] jaredsburrows commented on #1000
@bmuschko Since you all moved issues to Github, can you all move code reviews to Github so users can view them?

[2016-12-12 19:36] bmuschko commented on #1000
@jaredsburrows We partially already did that. BTW: The "internal" are actually public.

[2016-12-12 19:44] jaredsburrows commented on #1000
@bmuschko I cannot login and I see no sign up.

[2016-12-12 19:49] bmuschko commented on #1000
@jaredsburrows Never mind then. I thought you could simply create an account and view it.

[2016-12-12 19:58] bmuschko opened #1006 "Jacoco support for Java 9"
Jacoco now supports Java 9 with its latest version: https://groups.google.com/forum/#!msg/jacoco/Zf0Cwj13G2g/wpyrYAEECAAJ

[2016-12-12 20:00] staffanf opened #1007 "Gradle should be able to execute tests from jars"
Gradle should be able to execute tests from jars.

### Expected Behavior
I would like to be able to supply jars as additional classes for tests.
In ant this can be done using a zipfileset in batchtest.

### Current Behavior
Currently the Test task only looks for test classes in a directory (testClassesDir).

### Context
We have a large project split over 20-50 subprojects
Each subproject publishes

[2016-12-12 22:54] bmuschko commented on #999
I was first thinking that you can solve your use with the help of [dependency resolve rules](https://docs.gradle.org/current/userguide/dependency_management.html#sec:dependency_resolve_rules). Unfortunately, you can only replace the attributes `group`, `name` and `version` of a dependency. The extension is currently not configurable.

Question from my end: It seems that the reason _why_ you are tr

[2016-12-12 23:38] eriwen commented on #1006
@bmuschko is this just upgrading our default version or is there more to it?

[2016-12-12 23:45] eriwen commented on #1005
@staffanf would you consider it necessary to have fine-grained control over which log levels are logged where? For example: what if there were a flag to redirect all logs elsewhere yet keep LIFECYCLE, WARN, and ERROR in the console? Would that solve all, some, or none of your goals?

[2016-12-13 02:07] big-guy commented on #1006
I think it's a version bump, a review of our test coverage and _maybe_ something to check that someone doesn't try to use an older version of Jacoco with Java 9?

I think we're not performing any cross-version testing right now because of this `@Requires`: https://github.com/gradle/gradle/blob/master/subprojects/jacoco/src/integTest/groovy/org/gradle/testing/jacoco/plugins/JacocoVersionIntegTest.g

[2016-12-13 02:25] eriwen opened #1008 "Output with long lines and multi-byte characters displayed incorrectly"
This is migrated from [GRADLE-3329](https://issues.gradle.org/browse/GRADLE-3329), which had an [attempted fix](https://github.com/gradle/gradle/commit/1746300a) in Gradle 3.2.1.

### Expected Behavior
Output should not be garbled by Gradle regardless of line length or character encoding.

### Current Behavior
[This build](https://travis-ci.org/sormuras/beethoven/builds/183432849) demonstrates une

[2016-12-13 09:22] RupprechJo commented on #1005
I'm not the bug author, but we want this feature for years! It would be good, to have a seperate log level for console and for file, normally I want more informations in a log file, than I want to see on the console, the user uses. It is not onyl usefull for tests on jenkins, it is also usefull if you have a lot of users using own plugins, and they have problems, they can send you the log file wit

[2016-12-13 09:52] lptr commented on #1004
`AbstractTask.getInputs()` returning the internal `TaskInputsInternal` was introduced in 3.0-milestone-1: https://github.com/gradle/gradle/commit/acdc275ed043ce41b619a9f4db53d7f01009c554

So the issue seems legit between Gradle 2.x and 3.x. What's strange to me is how it is possible to reproduce the problem between 3.2.1 and 3.1, as there was no change related to `Task.getInputs()` since 3.0. I'll

[2016-12-13 11:02] cy6erGn0m commented on #1004
The difference between versions in `TaskInputsInternal`:
https://github.com/gradle/gradle/blob/v3.1.0/subprojects/core/src/main/java/org/gradle/api/internal/TaskInputsInternal.java

vs
https://github.com/gradle/gradle/blob/v3.2.0/subprojects/core/src/main/java/org/gradle/api/internal/TaskInputsInternal.java

So if we have 3.2.0 classpath then the compiler emis invoke to `TaskInputsInternal.file()`

[2016-12-13 11:30] staffanf commented on #1005
@eriwen I think some amount of control would be good. Personally I'm not sure I want debug level logging to file, I think it adds a bit much internal gradle stuff to the logs. Not sure though, since that might be whats needed to fix a some problems.
If I had the configuration option I just might start with both an info and a debug log written to disk. Then trouble shooting by checking the info log

[2016-12-13 11:34] sormuras commented on #1008
@eriwen It seems to be a Travis console/logging only problem. When I moved the test task into a plain shell script, like:
[code]
it too showed a lot of � characters in the output: � characters in the output https://api.travis-ci.org/jobs/183558479/log.txt?deansi=true
Will file an issue against Travis.

[2016-12-13 14:18] fvogler commented on #999
From a maven point of view, I think, the meta data is right. For special types like "ejb" or "test-jar" there exists already a static mapping in gradle. Why is mapping "ejb" -> "jar" fine? Why I can't map 'nbm-file' -> 'nbm"? (See  org.gradle.api.internal.artifacts.ivyservice.ivyresolve.parser.GradlePomModuleDescriptorBuilder.JarDependencyType)
By the way, the meta data is not under my control.

[2016-12-13 14:20] eriwen commented on #1008
Nice @sormuras! That was step one on my list for triaging this, but you kindly did that for us. Thank you again. I'll close this issue.

[2016-12-13 14:20] #1008 closed

[2016-12-13 15:18] bmuschko commented on #999
I see what you are saying now. I believe we have the mapping because `ejb` and `test-jar` are common, special types. So far I haven't encountered `nbm-file`. It's probably just used for Netbeans-related artifacts.

Instead of tagging on to the list of special mappings I'd rather like to see a stronger concept exposed through the Gradle API. From my perspective hooking into the dependency resolve r

[2016-12-13 15:20] eriwen commented on #1005
@RupprechJo This is _exactly_ one of the things we're trying to solve with [build scans](https://scans.gradle.com/s/pgjgssca2kkli), especially because it has the logs but also much more context like environment, dependency, and customizable information.

@staffanf Interesting. I've wanted the same thing but have always survived with INFO logging. My sentiment is: I want to debug just my build and

[2016-12-13 15:41] RupprechJo commented on #1005
@eriwen I had a quick look at build scan and I think it is more a performance optimizing tool. What I mean: I come from the backend world. In EVERY good application you have a lot more logging, than the normal user sees. And this is good for analyzing strange bugs that happen only once or are hardly to reproduce.

So for gradle we supply plugins for our enterprise developers. For them the normal c

[2016-12-13 16:38] staffanf commented on #1005
@eriwen Well I really agree with that sentiment. That tells me that there is at room for improvement regarding logging in gradle e.g. if I could filter packages/classes/loggers like in log4j then I could create a cleaner debug log with info only for my custom packages.
@RupprechJo  I agree with general concept of clean console and useful debug logs.

[2016-12-13 17:58] eriwen opened #1010 "Feature Request: Set log level for specific task"
As a user, I would like to be able to debug just one specific task. Something like:
[code]

### Expected Behavior
Given the build file above, I'd like "Output on INFO level" to be printed if I run `gradle myTask`

### Current Behavior
Currently, "Output on INFO level" is not logged.

### Context
This was submitted by @etiennestuder in [GRADLE-2658](https://issues.gradle.org/browse/GRADLE-2658) wit

[2016-12-13 18:17] hotchemi commented on #789
Anyone working on it? Can I grab?

[2016-12-13 21:36] lacasseio commented on #789
Thanks @hotchemi for your interest in this issue. No one is assigned to this issue. I see no problem for you to take the lead on this. Don't hesitate to ask questions if you feel stuck.

[2016-12-14 02:27] eriwen commented on #881
This has been fixed with #780.

[2016-12-14 02:29] danreb25 opened #1012 "Copy task deletes all files in destination dir when all files are excluded"
### Expected Behavior

When using the exclude method and actually all files from sourceDir are excluded, the destination dir should remain unchanged

### Current Behavior

When using the exclude method and actually all files from sourceDir are excluded,
Then **ALL** the ecluded files that are already present in the **DestinationDir** are **DELETED**

### Context

### Steps to Reproduce (for bugs)

[2016-12-14 02:36] jsotuyod commented on #881
@eriwen actually it's not. #780 does an important part in exposing `maxErrors` and `maxWarnings`,  but the message indicating violations were found is only displayed if `maxErrors` or `maxWarnings` violations of the proper severity have been found.

The message should be printed always a violation of any severity has been found even if the build is not failed.

[2016-12-14 03:41] eriwen commented on #881
@jsotuyod To rephrase what's still missing: You want a warning log message if there were any warnings or errors detected. I'll reopen this and think about it. Pull requests welcome, too ;)

[2016-12-14 05:44] big-guy opened #1013 "Discourage reaching into sibling projects"
There are some rules that builds need to follow to be able to safely use configure on demand.  Many builds probably don't realize they violate our assumptions.

Given this build:

./a/build.gradle
[code]
./b/build.gradle
[code]
./build.gradle
[code]
./settings.gradle
[code]
Running `gradle :b:broken -Dorg.gradle.configureondemand=true` fails the build when configure-on-demand is enabled.

`gradle

[2016-12-14 07:38] lptr commented on #1004
Thanks for the clarification @cy6erGn0m.

Here's a timeline of events:

* 0.9-preview-1 (38dc95cc95226d3b66004cca6f415a9c5a90ba07) –  `TaskOutputsInternal` is introduced, and `TaskInternal.getOutputs()` returns it instead of `TaskOutputs`. As `TaskOutputsInternal` doesn't override any public method, it's not causing any problems.
* 3.0-milestone-1 (acdc275ed043ce41b619a9f4db53d7f01009c554) – `Task

[2016-12-14 07:44] lptr commented on #1004
For reference, here's a test project to reproduce the problem:

[taskinputs-internal-leak.zip](https://github.com/gradle/gradle/files/651044/taskinputs-internal-leak.zip)

Running `./gradlew help` in the root should produce:

[code]

[2016-12-14 08:53] xtracoder opened #1014 "Unwanted dependency conflict resolution beyond version bounds"
I’m not sure if this a new feature request or already a bug of not correctly working functionality _new in 3.2.x_. I’ve already asked for help here https://discuss.gradle.org/t/unwanted-upgrade-of-dependency-version/20622, but there were no replies.  Anyway – everything is below:

### Background
We have large run-time modular Java-based solution – different modules are developed by different teams

[2016-12-14 09:31] xtracoder commented on #1014
After thinking a bit more, I would say that correct version resolution will be following:

* for 'compile' time (i.e. during build) - __select lowest__ version across all requested dependencies - this way needed API will be available for compilation. Out of this versions plugins (like bnd.tools) generated run-time version range according to configured policy - typically it is next major version fr

[2016-12-14 10:56] mxab commented on #831
@martinda LanguageSourceSet is part of the Rule based model config software components part.

AFAIK it is currently only recommended to be used for the existing official plugins like play.
https://twitter.com/CedricChampeau/status/781162279068893184

So currently if you want to have a custom SourceSet you need to implement it on your own.
As far as I understand it there is also this https://github

[2016-12-14 13:09] jsotuyod commented on #881
@eriwen exactly!

[2016-12-14 13:33] poja opened #1015 "Adding a filter to a CopySpec doesn't affect UP-TO-DATE check"
###  Expected Behavior

When I add or remove a `filter` to a CopySpec, the Copy task should no longer be UP-TO-DATE.

### Current Behavior

The task stays UP-TO-DATE and the filter added (or removed) has no affect.

### Reproducable Example

This is my `build.gradle`:
[code]
I have a file called "hello.txt" in src/main/resources, and its content is:
hello

Adding or removing the `filter` in `proce

[2016-12-14 13:54] adammurdoch opened #1016 "Incremental Java compile fails when Gradle user home is different to that used when compilation was last performed"
### Steps to Reproduce (for bugs)

1. `gradle init --type java-library`
2. `echo "compileJava.options.incremental = true" >> build.gradle`
3. `gradle assemble -g dir1`
4. change version of guava from 20 to 19 (need to change the compile classpath to trigger the problem)
5. `echo "// compile me" >> src/main/java/Library.java`
6. `gradle assemble -g dir2`

### Analysis

Incremental Java compilation

[2016-12-14 16:26] wolfs commented on #1012
Looks like this is the same as #973, right?

[2016-12-14 17:12] slavashvets commented on #958
The same behaviour when I execute gradle build from my git bash, since 3.2

[2016-12-14 17:50] big-guy commented on #958
Can either of you paste the contents of your `gradlew` script?

[2016-12-14 17:57] andreiled commented on #958
@big-guy, I'm not using gradlew in this example at all to cut out extra steps in order to isolate the issue. As stated in the defect description I'm running my gradle script using specific gradle binaries.

When I'm actually running it using gradlew I'm using the version coming with the appropriate distribution without any changes to it: I use following command to switch project to a specific grad

[2016-12-14 18:10] eriwen commented on #821
@bmuschko Did we split this issue into spec and implementation yet? If so, where is the other part?

[2016-12-14 18:18] eriwen commented on #1000
@jaredsburrows We're working on migrating to GitHub reviews where we can. I agree that these should be more open.

[2016-12-14 18:31] jaredsburrows commented on #1000
@bmuschko @eriwen Thanks! This is good to hear!

[2016-12-14 18:52] big-guy commented on #958
Hmm, thanks.

Can you try the `gradle.bat` script and see if you have the same problem?

[2016-12-14 19:07] andreiled commented on #958
I tested it first in Git Bash using following commands:
[code]
and then in Windows CMD as well:
[code]
The result is the same: on 3.2.1 I can see new console window open for the executable that I run.

[2016-12-14 19:36] bmuschko commented on #821
@eriwen You can find the [link to the issue dealing with spec/tests](https://github.com/gradle/gradle/issues/984) above your comment.

[2016-12-14 19:40] eriwen commented on #821
@bmuschko That's the PR. So I take it that represented spec/tests and this issue represents implementation? I got the feeling that we were planning on an Epic and split out stories. Still the case?

[2016-12-14 19:44] bmuschko commented on #821
@eriwen I guess we should make this an epic and then create another issue that just addresses the Java compilation stale output as we might work on follow-up stories.

[2016-12-14 20:12] bmuschko opened #1017 "#984"

[2016-12-14 20:12] bmuschko commented on #1017
Created by mistake.

[2016-12-14 20:12] #1017 closed

[2016-12-14 20:17] bmuschko opened #1018 "Gradle does not remove stale output files from Java compilation after a version change"
If source files have been removed/moved around since the last compilation and the Gradle version changes (or the `.gradle` directory is deleted), Gradle will leave behind the orphaned `.class` files.

This can show up as strange test failures because Gradle will try to execute removed test classes.

1. Create `Main.java` and `Redundant.java` with some trivial code in them
2. Compile them by runnin

[2016-12-14 22:07] bmuschko commented on #1006
@big-guy I agree with Sterling. It shouldn't be a big change. Let's tackle it before releasing Gradle 4.0.

Do you think that version of Jacoco definitely won't be backward compatible with older Java versions?

[2016-12-14 22:50] bmuschko commented on #965
@rodney757 Could you please explain the purpose of wanting to overwrite the `startScripts` task? Is the reason that you want to change one of it's properties e.g. point to custom scripts? I am pretty confident that you don't need to overwrite the task as you did.

What's the reason for applying the `application` plugin to the root project in a multi-project build? I would not expect the root proje

[2016-12-14 22:53] oehme commented on #1003
Sounds like a great enhancement. Would you like to contribute a fix @samized?

[2016-12-14 23:22] oehme commented on #977
We are actively working on this, so you can expect a fix in Gradle 3.4.

[2016-12-14 23:30] ymwang1984 opened #1020 "TestNG example for Gradle's Play plugin?"
### Summary

From official doc (search "testNG" in the following link),

https://docs.gradle.org/current/userguide/play_plugin.html#sec:play_tasks

Gradle's Play plugin should support testNG. However, I could not find a sample (with Gradle distribution) that has testNG as a testing platform for Play.

### Expected Behavior

We should be able to use similar thing as Java plugin:

test { useTestNG()

[2016-12-15 06:48] danreb25 commented on #1012
Probably,
... but why should a Tasks with input files marked 'skip when empty' delete the output?
Why should a copy task  have a delete action? The sync task does, but the copy task should'nt, isn'it?

[2016-12-15 13:18] bmuschko commented on #1020
`playTest` is a [configuration](https://docs.gradle.org/current/userguide/play_plugin.html#sec:adding_dependencies) and not a task. You will need to add `useTestNG()` to a task of type `Test`. I'd think you will need to configure the `testPlayBinary` task:

[code]

[2016-12-15 14:26] ymwang1984 commented on #1020
Thanks. I tried testPlayBinary { useTestNG() } but it fails with this error:

I add sourceCompatibility = '1.8' in build.gradle but it does not work either.

[2016-12-15 14:35] bmuschko commented on #1020
Seems like you got past your initial issue but ran into another issue you have with your build. Any project that wants to set the property [sourceCompatibility](https://docs.gradle.org/current/userguide/java_plugin.html#sec:java_convention_properties) needs to apply the `java` plugin. If that's not the case then it will fail with the error mentioned above.

[2016-12-15 15:01] rodney757 commented on #965
@bmuschko The reason for overwriting the startScripts class is that I wanted to modify the classpath.

The rootProject and the subProjects all have a custom configuration "server". In the startScripts task I add all the subProject.configuration.server dependencies to the rootProject

[code]

then I add the jar and all dependencies to the classpath

[code]

The subProjects are common code bases sha

[2016-12-15 15:18] bmuschko commented on #965
You don't need to overwrite the task. Instead you can simply change the property `classpath` of the existing `startScripts` task.

    startScripts {
        classpath = files(jar.archivePath, configurations.server, configurations.runtime)
    }

I'd probably set up a new subproject that is just responsible for building the application. That would make the root project cleaner.

[2016-12-15 15:38] rodney757 commented on #965
that worked. Thanks!

[2016-12-15 15:41] #965 closed

[2016-12-15 17:45] ymwang1984 commented on #1020
Thank you! The tests are picked up by TestNG after the change you suggested.

I would appreciate writing a simple TestNG example in the Play plugin package of future Gradle distribution.

Thanks!

[2016-12-15 17:45] #1020 closed

[2016-12-15 23:30] eriwen commented on #1015
@poja Thanks for the good bug report. I imagine we'll tackle this in the not-too-distant future as we continue to improve the speed and correctness of incremental builds.

[2016-12-15 23:35] eriwen commented on #973
From #1012

### Expected Behavior

When using the exclude method and actually all files from sourceDir are excluded, the destination dir should remain unchanged

### Current Behavior

When using the exclude method and actually all files from sourceDir are excluded,
Then **ALL** the ecluded files that are already present in the **DestinationDir** are **DELETED**

### Steps to Reproduce (for bugs)
e

[2016-12-15 23:37] eriwen commented on #1012
@danreb25 Thanks for the bug report and example. I've copied it over to #973 and will close this one because they are almost certainly duplicates.

Please click "Subscribe" on that issue to follow along with our progress on it.

[2016-12-15 23:37] #1012 closed

[2016-12-16 03:20] mrkam commented on #882
As I mentioned in https://issues.gradle.org/browse/GRADLE-3527, I've started getting this after I upgraded gradle version from 2.6 to 3.2

[2016-12-16 03:56] hotchemi commented on #789
@lacasseio Thx, I'll try!

[2016-12-16 11:33] eskatos opened #1024 "Java incremental compile task outcome is not UP-TO-DATE when no recompilation necessary"
### Expected Behavior

With incremental compilation enabled, when a Java compile task runs but no recompilation is necessary, then it's task outcome should be `UP-TO-DATE`.

### Current Behavior

It's not `UP-TO-DATE` but `SUCCESS`.

### Context

Trying to diagnose incremental compilation. With this bug, the only way to know that no recompilation was necessary it to look at the logs.

### Steps to

[2016-12-16 11:37] eskatos opened #1025 "Scala incremental compile task outcome is not UP-TO-DATE when no recompilation necessary"
### Expected Behavior

When a Scala compile task runs but no recompilation is necessary, then it's task outcome should be `UP-TO-DATE`.

### Current Behavior

It's not `UP-TO-DATE` but `SUCCESS`.

### Context

Trying to diagnose incremental compilation. With this bug, the only way to know that no recompilation was necessary it to look at the Zinc logs.

### Steps to Reproduce (for bugs)

- Build o

[2016-12-16 11:38] eskatos commented on #1025
We delegate incremental compilation to Zinc. Need to find a way to know if any recompilation was necessary from Zinc api.

[2016-12-16 12:57] Hawods commented on #885
@lacasseio Thanks for your response. I have just tested again, can not reproduce too. I'm sorry to trouble you.

[2016-12-16 12:57] #885 closed

[2016-12-16 13:54] lacasseio commented on #933
A fix for this issue was pushed in release and will be part of the Gradle 3.3 RC1 release. The long term fix will be tracked through the PR #1019 and will make its way in Gradle 3.4. This issue is then ready to deliver.

[2016-12-16 15:42] 3ll3d00d opened #1027 "A Conf2ScopeMapping is not used when added after a call to MavenPom.whenConfigured"
### Expected Behavior
When using the maven plugin, it should be possible to add a `Conf2ScopeMapping` at any time before the pom is produced irrespective of whether `whenConfigured` actions have been registered or not.

### Current Behavior
If a Conf2ScopeMapping is added after the `whenConfigured` action then that mapping is not available to the `PomDependenciesConverter` when `DefaultMavenPom.ge

[2016-12-17 00:24] big-guy opened #1030 "Fix backwards compatibility problems introduced by exposing internal types in 3.x"
In Gradle 3.0-milestone-1, an `TaskInputsInternal` was introduced.  Plugins built with 3.x no longer work with 2.x if they directly use `getInputs()` in their plugin or task implementations.

In Gradle 3.2, method overloads from `TaskInputs` were added to `TaskInputsInternal`.  This [broke binary compatibility](https://github.com/gradle/gradle/issues/1004) with plugins built with 3.2/3.2.1 when us

[2016-12-17 01:42] DukeyToo opened #1031 "Gradle compile of groovy should not include grab/grapes annotation transform"
Groovy files can have dependencies specified via grapes.  Since the groovy classloader is not used when compiling in gradle, the grapes are basically useless once the groovy code is compiled via gradle.

The issue with this is that grapes still attempt to resolve, resulting in the dreaded `java.lang.NoClassDefFoundError: org/apache/ivy/core/report/ResolveReport` error or similar.

It is possible t

[2016-12-18 10:43] zosrothko opened #1035 "Native: CppSourceSet: invalid result set for filtered files on different criteria with more than one source"
Hi

The filtered result set from a CppSourceSet is invalid as it embeds non specified files when more than one source is specified and each one whith a different filtering criteria as display below
[code]

### Expected Behavior
The resulted filtering criteria using multiple source should not merge filtering criterias

### Current Behavior
The filtered result set includes file that should not be se

[2016-12-18 11:33] TheBoegl commented on #775
@lacasseio Allowing optional resource compilers (at least for gcc) would improve cross compiling features (for windows), that are not possible right now.

[2016-12-18 11:37] zosrothko commented on #775
There is also a user'scase for pre compiler like the C preprocessor but for embedded SQL for exemple. The Pro*C compiler of Oracle takes a *.pc file and translate it into a *.c file which should go afterward into the c/cpp toolchain.

[2016-12-18 14:40] oehme commented on #1014
Can you please provide a small reproducible example? If this was the only dependency then Gradle should pick one inside the range. My best guess is that some other dependency is transitively pulling in the newer version. Gradle uses the newest version on conflicts. You can tell Gradle to fail on version conflicts instead to find problems like these earlier.

[2016-12-18 14:45] oehme commented on #986
Would you be interested in contributing a fix? The returned iterable should be an unmodifiable view as you suggested.

[2016-12-18 14:55] oehme commented on #947
This is expected. Dependency resolution happens isolated in each configuration, this is not specific to composite builds.

Only the resolution strategy of the configuration being resolved is taken into account.

[2016-12-18 18:10] xtracoder commented on #1014
Re: _**My best guess is that some other dependency is transitively pulling in the newer version**_

As far as I understand - this happens exactly because of this, we are getting something like following

* cur_target_module
  -> depends-on: `module_a:[1.1,1.2) -> 1.1999`
 .   -> depends-on: `module_b:[1.2,1.3)`
* cur_target_module
  -> depends-on: `module_b:[1.1,1.2)`

I assume you know that notat

[2016-12-18 18:39] big-guy commented on #1035
You only have a single source set that's configured with two source paths.

What you probably want is something more like:
[code]

This will compile the sources in the `generated` source set first and then the built-in `cpp` source set with the appropriate include directories second.

[2016-12-18 18:39] #1035 closed

[2016-12-18 21:18] oehme commented on #1014
Thanks for the clarification, this is exactly what I thought. There are different ways around this. One of them is failing on version conflicts. The other one would be writing a small plugin that locks in the lower bound of dependencies requested directly by the user. That way transitive ones can't overwrite them.

In the long run opening up a conflict resolution api could help with these kinds of

[2016-12-19 04:29] eepstein opened #1036 "inconsistency when referencing maven repo for dependencies vs for deployment"
### Expected Behavior

Consistent usage and structure.  IF we have this for the repository definition:

    maven {
        url "${myMavenRepoReadUrl}"
        credentials {
            username "${myMavenRepoUser}"
            password "${myMavenRepoPassword}"
        }
    }

THEN we should have something *very* similar for deploying artifacts to a maven repo.  For example:

        mavenDeploye

[2016-12-19 11:51] bmuschko commented on #1036
The [Maven Publishing plugin](https://docs.gradle.org/current/userguide/publishing_maven.html) is the new plugin for publishing artifacts to Maven repositories. In the long run it will replace the Maven plugin. Among other things it addresses the [alignment of the DSL](https://docs.gradle.org/current/userguide/publishing_maven.html#publishing_maven:repositories).

[2016-12-19 17:07] #933 closed

[2016-12-19 17:07] #841 closed

[2016-12-19 17:07] #769 closed

[2016-12-19 17:07] #740 closed

[2016-12-19 17:07] #734 closed

[2016-12-19 17:07] #825 closed

[2016-12-19 17:07] #753 closed

[2016-12-19 17:07] #893 closed

[2016-12-19 17:07] #892 closed

[2016-12-19 17:07] #855 closed

[2016-12-19 17:07] #833 closed

[2016-12-19 17:07] #897 closed

[2016-12-19 17:07] #913 closed

[2016-12-19 17:07] #1000 closed

[2016-12-19 17:12] xtracoder commented on #1014
Re: **The other one would be writing a small plugin that locks in the lower**

Can provide more insight regarding how this plugin should technically work? From my quick look onto sources of 3.2.1 it seems that version resolution is rather hardcoded in Gradle's internals, i.e. when and where can I plug in for custom conflict resolution?

[2016-12-19 17:16] oehme commented on #1014
You can access what the user specified using `configuration.allDependencies` and then use that in `configuration.dependencyResolution.eachDependency {}`. This would allow you to get the strategy you want at least for first-level user-defined dependencies. It doesn't work if there are conflicts between two transitive ones.

The latter would require hooking into conflict resolution, which as you fou

[2016-12-19 17:26] xtracoder commented on #1014
By enumerating through `eachDependency` I guess the only thing I would be able to do is adding a `force` to some specific version, but from me that will require enumeration of versions available in configured repositories - and I'm not aware about Gradle API which provides that information.

[2016-12-19 17:36] eriwen opened #1037 "Design Specification for JUnit 5 Support"
Produce a design spec for JUnit Platform aka JUnit 5 support in Gradle core.

Related to PR gradle/gradle#946

**Supporting information**:
[Current JUnit 5 Gradle Plugin](https://github.com/junit-team/junit5/tree/master/junit-platform-gradle-plugin/src/main/groovy/org/junit/platform/gradle/plugin)
[JUnit Javadoc](http://junit.org/junit5/docs/current/api/)
Launcher API from the [JUnit User Guide](h

[2016-12-19 20:08] lacasseio commented on #775
Thanks for the extended user case. The generic solution for all those compilers would be to use the generated source set. Unfortunately, we don't get to easily configure the compiler options directly on the binary like we do with `cCompiler.args`, `cppCompiler.args` and `linker.args`. However, if we were to automatically attach the generatedBy task to the `BinarySpec.getTasks()` collection, we cou

[2016-12-19 20:12] lacasseio commented on #968
@danielsun1106 We rolled out a fix for what we think is the root cause for this issue in [Gradle 3.3 RC1](https://gradle.org/release-candidate/), could you give it a try and see if that fix your problem?

[2016-12-19 20:38] DukeyToo commented on #1031
I was able to workaround the issue at compile-time *and* runtime with the following in my gradle file:

    compileGroovy {
      groovyOptions.configurationScript = file("gradle/config.groovy")
    }

... where `gradle/config.groovy` contents are:

    withConfig(configuration) {
      configuration.setDisabledGlobalASTTransformations(['groovy.grape.GrabAnnotationTransformation'] as Set)
    }

[2016-12-19 20:50] austinfathman opened #1038 "Allow specifying global buildscript classpath repo from init script for script plugins"
### Expected Behavior
1. Have a single place where all repositories are defined, and which point to our nexus - it should be global, not per build
2. Have a parent boilerplate build file that applies some plugins
3. Have all webapps apply the parent build and be able to use its configuration, classpath and so on and only refine the configuration as the webapps need it

### Current Behavior
Have to

[2016-12-19 21:22] BruceEckel commented on #882
I'm running Gradle 3.2.1 and Windows 10, and just started getting this message with a relatively new example.

It does seem to work OK with the *--console plain* gradle command line switch, and I would like to know how to set that through the  *gradle.properties* file. (I have tried *org.gradle.console=plain* and *systemProp.console=plain* but it doesn't seem to do anything).

To reproduce, clone:

[2016-12-19 22:50] big-guy opened #1039 "vm_stat occasionally fails and causes build failures"
This seems to be broken again (only on master, not in 3.3): https://github.com/gradle/gradle/issues/897

This only happens locally on macOS.  I have it randomly causing local build failures:
[code]

There was a lot of work done recently to move the way we monitor memory around by @eskatos or @ghale I think.

We really just need to push collecting this into `native-platform` and be done with it.

[2016-12-20 00:09] big-guy opened #1040 "Error message produced for the first build in every new Gradle build with buildSrc"
When you build a project that has `buildSrc` for the very first time, Gradle emits a warning like:

I would expect this to only be produced when we know the "buildSrc state cache" was not "closed cleanly" vs when it never existed.

[2016-12-20 01:33] danielsun1106 commented on #968
@lacasseio  Thanks for your fixing the issue. I'll verify it tonight ;)

[2016-12-20 04:00] bmuschko commented on #1040
I actually fixed that today in my branch. Not sure if it is the right fix but here you go: https://github.com/gradle/gradle/commit/1a7e11be3a3a9183dea71ee4a0ac38a20afb55e9. The reason the message is happening is that the underlying implementation uses `Version1LockStateSerializer.DirtyFlagLockState` which always return `false` for `isInInitialState()`.

[2016-12-20 11:38] eskatos commented on #1039
Could be that the working directory does not exist anymore.
I'll move it from `.` to `/` as a first step.

Effort in `native-platform` is in progress, e.g. see https://github.com/adammurdoch/native-platform/pull/21

[2016-12-20 14:54] danielsun1106 commented on #968
The fix works :-)

[2016-12-20 15:25] lacasseio commented on #968
Thanks for confirming.

[2016-12-20 15:25] #968 closed

[2016-12-20 15:31] edeandrea opened #1043 "Why isn't DefaultGradleRunner.withJvmArguments part of public API (GradleRunner)?"
When using Gradle's TestKit I'm wondering why [DefaultGradleRunner.withJvmArguments](https://github.com/gradle/gradle/blob/master/subprojects/test-kit/src/main/java/org/gradle/testkit/runner/internal/DefaultGradleRunner.java) isn't included in [GradleRunner](https://github.com/gradle/gradle/blob/master/subprojects/test-kit/src/main/java/org/gradle/testkit/runner/GradleRunner.java)'s public API? T

[2016-12-20 16:18] lacasseio commented on #969
Thanks @ImGanesh for this feature request. For more information about build scans, refer to the [getting started documentation here](https://gradle.com/get-started).

[2016-12-20 16:20] eriwen commented on #778
@bmuschko Can you follow up on this and provide an update, please?

[2016-12-20 17:23] oehme commented on #1043
Unrelated to the question whether this method should be public: The use cases you mentioned should probably be modeled using project properties, so users can conveniently overwrite them both on the command line and in `gradle.properties` files. Project properties can already be passed with TestKit.

[2016-12-20 17:26] edeandrea commented on #1043
Thanks for the comment Stefan. Generally speaking some of these properties aren't known by the project itself and are instead injected by a CI environment - which could still be done as a project property.

The bigger issue is when using init scripts. We package a custom Gradle distro that has some init scripts "pre-packaged" inside. Those init scripts (inside the initscript block) need access to

[2016-12-20 17:27] oehme commented on #1038
This will be fixed by https://github.com/gradle/gradle/pull/952

[2016-12-21 00:09] bmuschko commented on #1043
The main reason for not exposing the method `withJvmArguments` as public method is that system properties are not propagated if you run `GradleRunner` in debug mode. TestKit does not fork a new daemon JVM that can use the system property. To avoid confusion among end users of TestKit we decided not to expose the option.

You can already provide system properties to a test via `gradle.properties` -

[2016-12-21 01:06] edeandrea commented on #1043
One thing our init script that is packaged in our distro does in the initscript {} block is to set up the repositories {} block to point to our enterprise Artifactory, for which the URL & repo to resolve from within Artifactory can be over-ridden by setting system/env properties. Once that is set, the dependencies {} block is added to the initscript {} block which gives the coordinates of a few de

[2016-12-21 01:29] eriwen commented on #778
Thanks for the update. I think you can unassign this from yourself
On Tue, Dec 20, 2016 at 4:22 PM Benjamin Muschko <notifications@github.com>
wrote:

[2016-12-21 09:34] tonit opened #1046 "Unexpected behaviour using FileTree API with StackOverflowError"
This ticket is about an issue i faced while fixing a seemingly trivial bug in another plugin. I need to give a little more context. Because this is two things: A trivial "how should i do it the gradle way", and why is called getFile on a FileVisitDetails possibly resulting in a StackoverflowError?

### Expected Behavior
I am working on a bugfix in gradle-bundle-plugin [1]. This plugin overwrites t

[2016-12-21 10:11] matthiasbalke opened #1049 "support preloading of dependencies"
### Expected Behavior

I would like to be able to execute a gradle task to preload all needed dependencies without executing any other task.

### Current Behavior

no feature known to to that.

### Context

In some situations, like on the CI server I want to preload all dependencies, to cache them for later builds and speed up build time. I would like to be able to execute a gradle task to preload

[2016-12-21 10:27] eskatos commented on #1046
Hey Toni,

Thanks you for the issue, any chance you could tell us what Gradle version you are using and provide us with a stacktrace or even better with a [build scan](https://gradle.com/get-started)?

[2016-12-21 10:54] tonit commented on #1046
Its gradle 3.2.1

[2016-12-21 11:03] tonit commented on #1046
[code]

[2016-12-21 11:17] eskatos commented on #1046
Thanks Toni.

I don't know what changes you made to the `gradle-bundle-plugin` to get this exception.
But it looks like that plugin is eagerly resolving file collections and trees in `JarBuilderFactoryDecorator` and that plus your changes may have created a loop. Hard to tell without your code.

Anyway, it looks like that plugin is not honoring `Jar` task inputs. That may be why you had this issue

[2016-12-21 12:55] wolfs opened #9133 "Distinguish between `SKIPPED`, `UP-TO-DATE` and `FROM-CACHE` in our test infrastructure"
From an integration test we can currently only distinguish between tasks that did no work (`UP-TO-DATE`, `SKIPPED` and `FROM-CACHE`) but not between those. For testing caching it would be important to at least distinguish between `UP-TO-DATE` and `FROM-CACHE`. This surfaced again as part of https://github.com/gradle/gradle/pull/1028.

[2016-12-21 13:58] madhead commented on #882
I am seeing this with Gradle 3.2.1 in Windows 10 + Git Bash when using [gradle-node-plugin@1.0.1](https://github.com/srs/gradle-node-plugin) on task `npmInstall`. `--console plain` helps but there is no way to put this option in  Git. CMD works ok. There is no much output from `npmInstall` in my case: everything is already installed, I'm just forcing this task to run with `npmInstall.outputs.upToD

[2016-12-21 14:29] bmuschko commented on #1049
You can easily support this use case by writing a task that iterates over all configurations and resolves their dependencies. Then on CI you can set up another job that runs the task before any other task is running. Another option could be to use Artifact Query API to create a offline repository populated with all the dependencies you need in your build.

The Gradle profile report and Gradle Clou

[2016-12-21 15:03] bmuschko commented on #1043
From what I read in your last comment you want to test the logic of an init script in conjunction with the applied plugins in that script. I guess you could do that by setting up a `gradle.properties` and an init script as part of your test fixtures in your test. In the `gradle.properties` you can set relevant environment variables as need for the test case.

Example:

[code]

The init script coul

[2016-12-21 15:14] bmuschko commented on #824
The pull request has been merged and will be release with the next version of Gradle. Enjoy!

[2016-12-21 15:14] #824 closed

[2016-12-21 15:17] edeandrea commented on #1043
Hi Ben - thanks for the input.

The init script we have is "rolled-up" into our custom distro. In the main build of our distro we do this:

[code]

Then for our integration tests (using Spock) we have a base class that does the following - it points to the gradle distribution which was created prior to the execution of the integTest tasks.

I thought about moving the build listener into a plugin -

[2016-12-21 15:22] bmuschko commented on #1043
You can bundle pretty much any class into a JAR file and and add it to the build script's classpath via `buildscript` or to an init script's classpath via `initscript`. It doesn't _have_ to be applied through a plugin.

[2016-12-21 15:24] edeandrea commented on #1043
You are correct - which is exactly what I'm doing. Give me a few minutes to "sanitize" my init script & I will share that as well. Maybe that will help you get a better picture as to what I'm trying to do.

[2016-12-21 15:33] edeandrea commented on #1043
Here's our init script

[code]

[2016-12-21 15:57] bmuschko commented on #1043
OK, thanks. Getting back to your original question...given that you can provide system properties and environment variables via `gradle.properties` I think you can fulfill your use case without opening up `DefaultGradleRunner.withJvmArguments()` as public API. Am I missing something?

[2016-12-21 16:04] edeandrea commented on #1043
No it doesn't work for me. When I put

[code]

in the test project's `gradle.properties`, the `if (!Boolean.getBoolean('company.gradle.artifactory.dontResolvePluginsFromArtifactory'))` statement inside `initscript { dependencies {} }` does not resolve correctly because the system property `company.gradle.artifactory.dontResolvePluginsFromArtifactory` is not found.

[2016-12-21 16:06] bmuschko commented on #1043
Would you mind setting up a minimalistic, sample project that reproduces the issue and share it on GitHub?

[2016-12-21 16:06] edeandrea commented on #1043
Sure I can do that

[2016-12-21 18:44] edeandrea commented on #1043
Here's a sample project - https://github.com/edeandrea/gradle-testkit-jvm-arguments

[2016-12-21 20:26] eljobe opened #1050 "Artifactory repositories work with new plugins syntax"
### Expected Behavior

As an [Artifactory](https://www.jfrog.com/artifactory/) maintainer I want my artifactory instance to be able to serve all of the plugins on the [Gradle Plugins Portal](https://plugins.gradle.org/) to my internal network in a way which is compatible with the new [plugins syntax](https://docs.gradle.org/current/userguide/plugins.html#sec:plugins_block) so that I can easily res

[2016-12-21 22:02] JasonGriffith opened #1051 "Copy Task doesn't preserve source file(s) permissions - Windows"
The Copy task loses at least read-only permissions when copying files.  Don't know if this is actually intended behavior, but I can't find any evidence that it is and sure seems like a copy task should copy everything (including permissions), so let's find out with a bug report :)

### Expected Behavior
Destination files have the same file permissions as their sources.

### Current Behavior
At lea

[2016-12-21 22:39] eljobe commented on #1050
There is a related feature request on JFrog's Jira, but I think this is ours to fix: https://www.jfrog.com/jira/browse/RTFACT-12701

[2016-12-22 07:13] big-guy commented on #1004
@cy6erGn0m Could you try taking a look at this with 3.3-rc-1?  Plugins built with 3.2/3.2.1 will be incompatible with other 3.x releases, but plugins built with 3.0/3.1/3.3 should be compatible with all 3.x releases.

[2016-12-22 10:25] matthiasbalke commented on #1049
Thanks for your quick answer. I didn't know that it is possible, to do this. I'll try to write the task and come back to you in case of problems.

When I said profiling, I didn't ment the gradle profiling. My team is using the Jenkins Pipeline Plugin. For each step of our build we have a custom stage, so we can directly see with step took how much time. But the download of the artifacts is done in

[2016-12-22 11:24] matthiasbalke commented on #1049
I found this solution https://gist.github.com/matthiasbalke/3c9ecccbea1d460ee4c3fbc5843ede4a which seems to work fine! Thanks for pointing me into the right direction!

[2016-12-22 11:24] #1049 closed

[2016-12-22 14:47] eriwen commented on #1051
@JasonGriffith Can you give us details about your environment? Which version of Windows and which version of Gradle at least.

[2016-12-22 15:15] bmuschko opened #1054 "Upgrade to latest Groovy version bundled with Gradle"
Update the Groovy version (as soon as it is released) with the next major version of Gradle to incorporate bug fixes.

Reasons:

- https://discuss.gradle.org/t/groovy-memory-leaks/20916

[2016-12-22 16:00] eriwen commented on #1039
Moving to Flaky Test Quarantine given that 3333096 is on master

[2016-12-22 16:13] eriwen commented on #954
Given current priorities, we cannot commit to delivering this in the next version of Gradle.

[2016-12-22 16:46] eriwen commented on #884
Given our current priorities and timeline, I'm de-prioritizing this for now.

[2016-12-22 16:59] wolfs opened #1055 "Command-line init scripts not executed against `:buildSrc` project"
Currently, when passing an init script via the `-I` command line parameter to a Gradle build does not apply it to the `buildSrc` project.

### Expected Behavior
[code]
applies the init script `init.gradle` to `buildSrc` and the main build.

### Current Behavior
`init.gradle` is only applied to the main build.

### Context
 This is a problem when one wants to configure something consistently for bo

[2016-12-22 17:00] wolfs commented on #1001
This is related to the inconsistent behavior here: https://github.com/gradle/gradle/issues/1055.

[2016-12-22 17:45] eriwen opened #1057 "Design Public API for BuildOperations"
Expected Output: design doc

[2016-12-22 17:55] moley commented on #1054
Cool, thank you

[2016-12-22 18:30] samsieber opened #1058 "Feature Request: Allow fine grained task logging control with SFL4J integration"
It would be great if the logger provided by task.getLogger() was unique to that task, and if you could add add libraries to the task path.

### Expected Behavior
I should be able to specify jars that are SFL4J bindings as build script dependencies to force gradle into using custom loggers. It'd be great if I could use custom loggers as written in the buildSrc folder as well, as opposed to being de

[2016-12-22 18:59] eriwen commented on #951
@jacobwu Thank you for the detailed description and repro steps. Would you be willing to address this?

[2016-12-22 20:45] JasonGriffith commented on #1051
Gah, sorry about that...  Can't believe I forgot those details.  Well, I can believe it, but would choose not to :)

Windows 7, Gradle 3.2.1, Java version "1.8.0_111"

Thanks!
Jason

[2016-12-22 21:23] cdancy opened #1059 "Gradle 3.x throws java.lang.ClassNotFoundException when trying to use plugins"
Migrating to Gradle 3.x throws java.lang.ClassNotFoundException, seemingly at random, when trying to use applied plugins.

### Expected Behavior
When upgrading gradle script from 2.14.1 to 3.x I expect all plugins to load and work as expected. I expect all classes that belong to those plugins to be loaded and available as well.

### Current Behavior
Gradle, again seemingly at random, fails to find

[2016-12-22 22:27] adammurdoch commented on #1057
This is covered by https://github.com/gradle/performance/issues/143

[2016-12-22 22:28] huxi commented on #1059
Can you try this with [Gradle 3.3-rc-1](https://gradle.org/release-candidate/)?

I had a very similar issue and it was fixed for me by the #933 fix.

[2016-12-22 22:32] cdancy commented on #1059
@huxi I saw that as well but we're not invoking the `GradleBuild` task anywhere in our pipeline. Are you thinking this might still be related maybe behind the scenes in some way?

[2016-12-22 23:13] huxi commented on #1059
Give it a shot. I didn't do anything with `GradleBuild`either but had similar `ClassNotFoundExceptions` that were entirely random. None of them since 3.3-rc-1 and we had quite a few builds on our CI server in the meantime.

[2016-12-22 23:14] big-guy commented on #1059
`GradleBuild` made it more obvious, but there was an underlying thread safety issue that affected other caches without having to use `GradleBuild`.

Do you see any messages like the following in your logs?

[2016-12-23 06:14] huxi commented on #1059
@big-guy I was celebrating when I saw that you had a reproducible failure for this issue. This problem was haunting me way longer than just Gradle 3.2 and forced us to always do clean builds with wiped caches on our build server for over a year.
Can you imagine how great it feels to be back in "result in a few minutes" terrain? I was literally dancing.

[2016-12-23 12:05] huxi opened #1060 "Add some examples to Checkstyle section of manual."
I had a hard time configuring the `checkstyle` plugin in a multi-module scenario.

The multi-module scenario has a hidden trap where everything works if `check` is executed from the root of the directory but fails if executed from one of the submodule-directories if referenced files aren't specified using a placeholder containing the checkstyle configuration directory.

The main issues I was facin

[2016-12-23 13:35] lacasseio commented on #1059
@cdancy could you provide a stack trace? I suspect this failure is related to https://github.com/gradle/gradle/issues/784. This issue is been addressed more broadly with https://github.com/gradle/gradle/issues/919. We are working on a fix for the next version of Gradle (after 3.3).

[2016-12-23 14:08] cdancy commented on #1059
@lacasseio [stacktrace here](https://gist.github.com/cdancy/707936b4950a087b49de866bbe49d96a). Attempting to wire-up gradle 3.3-rc1 for testing to see if that solves problems.

[2016-12-23 15:05] cdancy commented on #1059
@lacasseio @big-guy @huxi tried with gradle-3.3-rc1 and the `nebula/plugin/scm/ScmPlugin` plugin is still popping. [Stack trace here](https://gist.github.com/cdancy/1ec80b4ce0fbfbcb8e51748489422c9d).

[2016-12-23 15:23] eriwen commented on #1058
@samsieber Thank you for the well written issue, it is appreciated. We will probably have to make this an `epic` and split this up into multiple features.

I believe that very many users (including myself) would benefit from this, especially as we improve parallelism in Gradle builds, so I'm giving this a 👍

IIUC, we used to have unique loggers per task, but we found that it came at significant pe

[2016-12-23 15:37] eriwen opened #1061 "Publishing is not able to resolve a dependency on a project with multiple different publications"
As a user, I want to have the same functionality emulated by [`.../samples/maven-publish/multiple-publications/build.gradle`](https://github.com/gradle/gradle/blob/master/subprojects/docs/src/samples/maven-publish/multiple-publications/build.gradle)

### Expected Behavior
Given a multi-project build where `:projectA` defines 2 publications and `:projectB` defines only 1 and depends on `:projectA`.

[2016-12-23 16:11] MarkRx opened #1062 "Warn when expanding zipTrees at configuration time"
I am hitting a strange bug with gradle 2.12. My task is being considered up to date when it has input files and I explicitly disabled the up-to-date checking. Given the setup below, running

works as expected. Running

does not and results in my task being skipped.

### Expected Behavior
My task runs

### Current Behavior
My task does not run. Gradle thinks it is up to date and skips it. It appear

[2016-12-23 16:23] MarkRx commented on #1062
Note the problem persists with gradle 3.2.1

[2016-12-23 16:26] sebersole commented on #1061
Eric could you possibly comment a little bit on what your work-around is doing?  I had not realized there was any work-around and would like to try it out in the Hibernate build.  Thanks!

[2016-12-23 16:29] sebersole commented on #1061
Also, is there a way in GitHub issues to see what issues I have "reacted" (voted) for?

[2016-12-23 16:36] MarkRx commented on #1062
I think I understand what is going on. The zipTree method is running in the configuration phase and is placing the unzipped files into build/tmp. The java clean task run during execution proceeds to delete the build directory. When the doCopy task goes to run the files are no longer there.

What would be a good way to work around this?

[2016-12-23 16:43] kmoens commented on #1061
Steve,

I've posted that workaround on JIRA.

Basically I start from the Jar instead of the component. Thus implies that there are no dependencies created in the pom and thus you would need to manually write the pom file.

To avoid that I modify the empty pom to include the runtime dependencies honoring any exclude rules.

This might not be a solution for all cases, but it resolved the case we had

[2016-12-23 17:07] Jolter commented on #1061
Thanks for explaining the workaround! I'll give it a shot.

[2016-12-23 18:05] lacasseio commented on #777
My bad for not responding earlier. We will consider this when we tackle this issue.

[2016-12-23 18:06] MarkRx commented on #1062
As a workaround I can place the zipTree method in a closure. This causes it to delay being executed until the copy task runs. I think it would be worth investigating if this situation could be remedied in a more intuitive way. I feel that it could easily cause frustration for people that are newer to gradle.

[code]

[2016-12-23 18:30] oehme commented on #1062
Calling getFiles unzips the tree, that is expected. getFiles forces any file collection to be realized. The correct way to handle this is to just not call getFiles and instead pass the zipTree itself around.

[2016-12-23 18:38] MarkRx commented on #1062
But I want to flatten the zipTree and from what I found the way to do that is to use getFiles()

[2016-12-23 18:57] oehme commented on #1062
In that case using a closure is the way to go. In your case even more so because otherwise you are resolving dependencies at configuration time.

[2016-12-23 20:40] oehme commented on #1062
Given how often this comes up I wonder what we can do here. Some ideas are:

- warn when expensive operations like unpacking and dependency resolution are done at configuration time
- offer new methods that allow you to do this lazily, e.g. ´archives.transform { zipTree(it) }`. But these might be just as hard to find as finding out you should use a closure. Also there are so many ways a user might

[2016-12-23 21:00] bmuschko commented on #1043
Thanks for the example project. Would you mind stripping down the example to the bare minimum? I think there's a lot of code that's not really relevant to the problem.

[2016-12-23 21:36] larsgrefer opened #1064 "The bat script produced by the application plugin fails if you have too many dependencies"
If you have many dependencies in a project, the `bat` script generated by the `application`plugin does not work.

### Expected Behavior
The `bat` script produced by the example project linked below should print "Hello World" to the console and exit after 10 seconds.

### Current Behavior
The `bat` script produced by the example project linked below exits immediately without starting the java appli

[2016-12-23 22:47] adammurdoch opened #1065 "Tooling API operations fail on connection created after `GradleConnector.useGradleUserHomeDir()` is called with a `File` with a relative path"
The call to `useGradleUserHome()` does not fail, but the `ProjectConnection` instances created using the `GradleConnector` do not work.

Functions correctly when `useGradleUserHome()` is called using a `File` with an absolute path.

### Expected Behavior

Calling `useGradleUserHome(f)` should be equivalent to `useGradleUserHome(f.getAbsoluteFile())`

[2016-12-23 23:04] adammurdoch opened #1066 "Tooling API does not honour `--gradle-user-home` argument provided to `LongRunningOperation.withArguments()`"
When using the tooling API `withArguments()` method the `--gradle-user-home` argument is not honoured for client side operations, such as where to download the distribution to or the directory to use for the daemon registry. However, this argument is honoured for daemon-side operations when running the build, such as where to find the artifact cache or compiled build script cache.

The tooling API

[2016-12-25 22:05] bmuschko commented on #1064
Could you please provide the stack trace you are seeing when running the task with `-s`?

[2016-12-25 22:11] bmuschko opened #1067 "Upgrade static code analysis tools to latest library version"
Static code analysis tools shipped with Gradle core should update their libraries to latest version to stay current.

- FindBugs
- Checkstyle
- PMD
- CodeNarc

Similar to upgrade we did with Gradle 3.0:

https://docs.gradle.org/3.0/release-notes#plugin-library-upgrades

[2016-12-26 00:27] larsgrefer commented on #1064
@bmuschko There is no stack trace.

This is the full console log of the example project:
[code]

[2016-12-26 01:06] amake commented on #1062
I had a declaration-ordering problem that was caused by me accidentally forcing dependency resolution at config time. It took me quite a while to figure out why. I would definitely have appreciated some sort of warning.

[2016-12-26 01:50] DALDEI opened #1068 "Project.fileTree and Delete task ignores files with trailing "~""
I want to delete 'backup' files from common programs like vi as part of the 'clean' command.
To do this I created a simple Delete task like

[code]

I tried many variations of this using project.files() project.fileTree()

### Expected Behavior
I expected files named "somefile.java~" or "gradle.properties~" to be deleted.

### Current Behavior
The backup files were not deleted.
Further investigati

[2016-12-26 13:50] McPringle commented on #723
A few weeks later there is still the same problem with OpenJDK 9 build 150 and Gradle 3.3-rc-1. Even more worse: I can't find any information about the actual status of Gradle and JRE 9 or a timeline. Gradle really needs to run on JRE 9 soon – we can be happy that Oracle had to postpone the release of JDK 9 once more…

[2016-12-26 14:53] bmuschko commented on #1064
There was already a discussion about this topic [here](https://github.com/gradle/gradle/pull/286). Would you be interested in following up with the discussion as a pull request? There're some ideas in the post that would be useful to have e.g. de-duping of dependencies, failing the build if Windows line-length exceeds 7k. Can you think of any other optimizations that could be made to satisfy Windo

[2016-12-26 16:41] McPringle opened #1069 "reportsUnreadableSourceDir: The build should fail but did not"
### Expected Behavior
The test CopyErrorIntegrationTest#reportsUnreadableSourceDir expects the build to fail.

### Current Behavior
The build did not fail: `java.lang.AssertionError: expected build to fail but it did not.`

### Context
I tried to build Gradle.

### Steps to Reproduce (for bugs)
[code]

### Your Environment
- Mac OS X 10.12.2 Build 16C67
- Java 1.8.0 Build 112
- git 2.11.0

For det

[2016-12-26 18:15] durgaswaroop opened #1070 "Gradle task is skipped when added as a dependency"
I have these two gradle tasks in my `build.gradle` file  one to archive a folder and another to push it to a remote server.

    task tarTask(type: Exec) {
        commandLine 'tar', '-czf', 'javadocs.tgz', 'javadocs/'
    }

If I execute tarTask alone with `gradle tarTask` and with the `publish` task commented out,  the build succeeds.
I am using this task as a dependency in the publish task.

[2016-12-26 18:28] bmuschko commented on #1070
Very likely your path is incorrect. You are just referring to the file name without a path. I'd recommend using `tarTask.archivePath` instead.

[2016-12-26 18:40] durgaswaroop commented on #1070
What path are you referring to? And where should add the `tarTask.archivePath`, In the task definition?

[2016-12-26 19:13] bmuschko commented on #1070
The path to `javadocs.tgz` in your `from` statement.

Instead of the String `javadocs.tgz`.

[2016-12-26 19:29] durgaswaroop commented on #1070
I don't think path is the issue because if the tar file exists the build succeeds. But when the tar file doesn't exist, which should have been come from the `tarTask`, then the `publish` task fails.

[2016-12-26 19:45] bmuschko commented on #1070
Please provide a reproducible example project on GitHub so I can have a look.

[2016-12-26 19:54] durgaswaroop commented on #1070
I don't have anything else in my project or in my build.gradle file that can interfere with  these two tasks. So, as far as I can check it should be reproducible with this.

[2016-12-26 20:05] bmuschko commented on #1070
You will need to provide us with the full build script. Otherwise, I do not know what actually creates the directory `javadocs`. Also I am sure you are applying various plugins.

[2016-12-27 00:25] dmodoomsirius opened #1071 "Ability to use a private key for maven-publish plugin."
### Expected Behavior

As stated on [https://issues.gradle.org/browse/GRADLE-3472](https://issues.gradle.org/browse/GRADLE-3472) it would be great if we could publish to maven using sftp and a private key.
https://issues.gradle.org/browse/GRADLE-3473

### Current Behavior

As stated by @mark-vieira on the forums it only supports [username and password auth ](https://discuss.gradle.org/t/support-ss

[2016-12-27 08:55] durgaswaroop commented on #1070
`javadocs` is  just a directory that is already present on the file system. But I'll try to create a sample project.

[2016-12-27 10:27] durgaswaroop commented on #1070
Okay, I found out the cause for the problem. As Stanislav has expalained [here](http://stackoverflow.com/questions/41332974/gradle-task-not-executed-if-added-as-a-dependency?noredirect=1#comment69875223_41332974), `publish` task was looking for the file at configuration phase while that file will not be available until the execution phase of the `tarTask`.
So, If I add `doLast` like this, It works

[2016-12-27 10:41] astellingwerf opened #1072 "'projectPath' is a hijacked variable name in 3.3-rc-1"
We have a build script that (since Gradle 0.8) uses the Project Property via command line `-PprojectPath=...`. This used to work just fine till Gradle 3.2.1, but stopped working in 3.3 RC 1.

### Expected Behavior
When invoking Gradle with `-PprojectPath=...` and reading that value, I expect the value to be available and equal to the value provided in the CLI.

### Current Behavior
Instead, a valu

[2016-12-27 11:29] astellingwerf commented on #1072
Could it be that 924ce408394e8a68bced814625261a5e559c37cc broke this?

[2016-12-27 13:32] lacasseio commented on #1070
You are right @durgaswaroop. Without the `doLast` the code will be executed at configuration time. This means the `ssh.run` will be executed all the time even if the `publish` task isn't executed. The `doLast` add an action to execute only when the task will execute. I will close this issue as not actionable.

[2016-12-27 13:32] #1070 closed

[2016-12-27 16:55] lacasseio commented on #1072
Thanks @astellingwerf for opening this issue and it sure looks like https://github.com/gradle/gradle/commit/924ce408394e8a68bced814625261a5e559c37cc broke your use case.

@adammurdoch It looks like the change in https://github.com/gradle/gradle/commit/924ce408394e8a68bced814625261a5e559c37cc broke users that were using extended properties with the name `projectPath`. I understand it was a change t

[2016-12-28 13:31] larsgrefer commented on #1064
My first idea was to set the classpath to `lib/*` instead of listing every single jar.

Since classpath ordering seems to be important for some users I'd propose this:

List the application-jar and all direct dependencies (`runtime.resolvedConfiguration.firstLevelModuleDependencies`) by name and add all the transitive dependencies via `lib/*`

[2016-12-28 14:59] vzhemevko commented on #949
I had the same issue, can confirm that reducing full path length fixes the issue.

[2016-12-28 15:28] bigdaz commented on #954
The `classifier` attribute belongs to the `http://ant.apache.org/ivy/maven` namespace, and Gradle uses this value when resolving. I'm not sure that Gradle should not treat a `classifier` attribute from an arbitrary namespace (like  `http://ant.apache.org/ivy/extra`) as meaning the same thing.

The fact that this worked in 2.14 means we need to do _something_:
1. Note this as a "potentially breakin

[2016-12-28 16:14] astellingwerf commented on #1072
I can (and already did) work around this issue by renaming the property. What I dislike is that you only notice the problem at runtime, when the value is used. Would it be possible to get some kind of warning when -P provides unreachable properties?

[2016-12-28 16:50] lacasseio commented on #1072
You are right this is troublesome. I forgot to mention that you could keep the same name property name but access it through [`Project.property`](https://docs.gradle.org/current/javadoc/org/gradle/api/Project.html#property(java.lang.String)). In my opinion, although it is more verbose, this is the safer way to access a project property in order to avoid forward version clash with new properties.

[2016-12-29 02:59] adammurdoch opened #1078 "Gradle may miss changes to symlinks that happen shortly before the build starts"
The JVM does some in-memory caching of the result of `File.getCanonicalFile()`, which means we sometimes don't see changes in the canonical file for a path when a symlink changes.

The cache holds entries for 30 seconds, so the issue is only seen when running 2 builds within 30 seconds of each other _and_ changing the symlink in between the 2 builds.

### Expected Behavior

Gradle should always co

[2016-12-29 03:05] adammurdoch opened #1079 "Gradle may miss changes to files that are made immediately after the previous build"
Gradle uses file modification timestamps to decide whether to hash the content of a file to check for changes. Sometimes this strategy can miss changes, for example, when the following sequence happens: change file > run fast build > change file > run build. When the first build is very fast, the file may end up with the same modification time after both mutations, meaning the second build will co

[2016-12-29 03:05] adammurdoch commented on #1079
A fix has been pushed, let's see how it goes.

[2016-12-29 09:56] eskatos commented on #1046
@tonit I reported the issue upstream: https://github.com/TomDmitriev/gradle-bundle-plugin/issues/68

Closing this one.

[2016-12-29 09:56] #1046 closed

[2016-12-30 12:37] slavashvets commented on #958
It turns out that a window appears only if a build is running via Gradle Daemon. In parallel mode I see several windows for each "javac.exe" (for compile) and "java.exe" (for tests) task. My Gradle version is "3.3-rc-1". Very annoying bug :(

[2016-12-30 12:47] slavashvets commented on #958
I've updated my JDK from 1.8.0_45 to 1.8.0_111 and the bug is gone, even using Gradle Daemon :)

[2016-12-30 12:57] lacasseio commented on #958
Seems to me the problem was related to the JDK version and won't be addressed by us. I will close this issue as `is:not-actionable`.

[2016-12-30 12:57] #958 closed

[2016-12-30 13:27] yetanotherion opened #1080 "Lazy evaluation of parent/grand-parent pom's properties"
The following (failing) unit test might explain the issue better than text:
https://github.com/yetanotherion/gradle/commit/425cf55bc31cd651f840f38a25ccbf1d9b261bab

### Expected Behavior
dep.requested == moduleId('group-one', 'artifacttwo', '3')
(maven seems to do so)

### Current Behavior
dep.requested == moduleId('group-one', 'artifacttwo', '2')

[2016-12-30 15:23] bmuschko commented on #1080
Did you experience the issue for a concrete dependency from a Maven Central or a different Maven repository? It would be helpful to better understand how you came across the issue. Does the Maven POM specification explain this detail?

[2016-12-30 16:05] yetanotherion commented on #1080
- Did you experience the issue for a concrete dependency from a Maven Central or a different Maven repository?
Different Maven repository (internal)
- Does the Maven POM specification explain this detail?
To reformulate: "maven seems to do so", we're currently migrating a maven build system to gradle and faced this "unexpected" bug in gradle but not in maven. I did not find such specification for

[2016-12-30 16:20] bmuschko commented on #1080
Thanks for the information. Is there any chance this dependency exists in Maven Central as well so I can reproduce the issue?

[2016-12-30 17:04] yetanotherion commented on #1080
Unfortunately, this one is not published. If I find any available in Maven Central I'll post the link that issue.
I would have two other questions:
- Would you be willing to merge a PR that fixes the unit test (I did not finish it yet), or
- You'll prefer to have a confirmation that it's not an internal issue only, from either the maven pom spec or a dependency in Maven Central ?

[2016-12-30 17:09] bmuschko commented on #1080
I'd prefer being able to reproduce the issue with a real dependency first.

[2016-12-30 17:20] yetanotherion commented on #1080
Ok, just to be sure: would you consider
- dummy dependency/artifacts uploaded
- _just_ to reproduce the issue
- as a valid use case to confirm the bug ? `(if confirmed)`

[2016-12-30 20:02] lacasseio commented on #882
Here is my result regarding the additional debugging:
- The issue is reproducible with sample [lacasseio/issue-882](https://github.com/lacasseio/issue-882) extracted from [BruceEckel/OnJava8-Examples](https://github.com/BruceEckel/OnJava8-Examples). You first need to execute `gradlew groom`, Ctrl-C when `Shutdown` appears in the console and then `gradlew crash`. The command `gradlew groom` represe

[2016-12-30 21:05] bmuschko commented on #1080
I'd be OK with any publicly-available dependency (e.g. on Maven Central or other repository) that exposes the issue when resolved from Maven and Gradle. When resolved on Maven it works, when resolved from Gradle it fails.

[2016-12-30 21:24] bmuschko commented on #1037
- I merged the pull request gradle/gradle#946 though it will still need a lot of work. It was only the beginning of a spec.
- I created a little [prototype project](https://github.com/bmuschko/gradle-junit5-test) that uses the [JUnit Launcher API](http://junit.org/junit5/docs/current/user-guide/#launcher-api) from a custom task to discover and execute JUnit 5 tests to get familiar with the feature

[2016-12-30 22:05] BruceEckel commented on #882
A warning: I've been updating that particular example in the past week,
quite significantly, so I'm not sure if the one you are working with is the
same.

-- Bruce Eckel
www.MindviewInc.com <http://www.mindviewinc.com/>
Blog: BruceEckel.github.io
www.WinterTechForum.com
www.AtomicScala.com
www.Reinventing-Business.com
http://www.TrustOrganizations.com <http://www.ScalaSummit.com>

On Fri, Dec 30,

[2016-12-30 22:19] bmuschko opened #1081 "Remove property CompileOptions.useDepend and corresponding public methods"
Now we have real incremental Java compilation, remove the `CompileOptions.useDepend` property and related options.

[2016-12-30 22:34] bmuschko opened #1082 "Isolate dependencies to Java 5 and Java 6"
Currently, many projects are limited to Java 5 and Java 6 because of the project structure. Only then entry points need to run on Java 5 to be able to give a meaningful error message. For Java 6 it is enough that we can run tests there. If we isolate the necessary classes to dedicated subprojects we can use Java 7 in more places in our code base. The same is true for the next Java version upgrade.

[2016-12-30 23:11] bmuschko commented on #1064
I think this use case could be solved elegantly by providing your own start script template as described in the [Javadocs for CreateStartScripts](https://docs.gradle.org/current/dsl/org.gradle.jvm.application.tasks.CreateStartScripts.html]. Based on your use case you can refer to dependencies via `lib/*` or implement some special handling in your custom `ScriptGenerator`.

[2016-12-30 23:14] sbrannen commented on #1037
@bmuschko, that's great to see that you're experimenting with a prototype!

[2016-12-31 04:51] kaidohallik commented on #882
I encountered similar issue with gradle node plugin. After adding
[code]
to problematic tasks the problem was gone.

[2016-12-31 12:28] astellingwerf commented on #1072
Even with Project.property I can't get the CLI provided value. It also appears to invoke the newly introduced method.

[2017-01-01 00:57] arminnaderi opened #1083 "IDE Error Message Conflicts With Gradle Command Dependency Refresh"
When I click refresh Gradle project in IntelliJ IDEA it throws this error: `Error:Cause: org.gradle.internal.component.external.model.DefaultModuleComponentSelector`

I ran `./gradlew --refresh-dependencies` and it gave a

 message.

I have looked this issue up and the causes/solutions seem to be random.

Running Gradle wrapper version 2.13 on IntelliJ 2016.3.2

Please advise. Thanks for reading.

[2017-01-01 19:58] edeandrea commented on #1043
Sorry for the delay in getting back to you as I was away on vacation. I've removed some things - I'm not sure how to make it any simpler...

[2017-01-02 07:53] parthbhagat opened #1084 "Maven POM resolution leads to StackOverflowError if parent GAVs reference resolved POM GAVs"
Opening this issue with reference of JIRA issue: https://issues.gradle.org/browse/GRADLE-3485

I am currently facing same issue as mentioned in https://discuss.gradle.org/t/failure-to-resolve-dependency-but-artifact-exists/17977/5

I am trying to build grails 2.3.11 from git repository to my local machine with additional logging statements. But due to above error I am not able to build grails dist

[2017-01-02 08:19] sergeykad opened #1085 "Clean up Gradle caches periodically"
Gradle cache folder does not have eviction policy and can take all disk space. It is especially problematic if using many large changing modules as dependencies.

### Expected Behavior
Gradle should provide a way to cleanup old cached SNAPSHOT dependencies.
For example it can be configurable how many old snapshots to keep. Other solution can be to delete dependencies that are not used for a set pe

[2017-01-02 14:09] lacasseio commented on #1072
My bad, I wrongly assume the implementation of `Project.property`. You can get the property value through [`StartParameter.getProjectProperties()`](https://docs.gradle.org/current/javadoc/org/gradle/StartParameter.html#getProjectProperties()), however, if there is a possibility to set the value through the build script, there will be no way to look at both place (extended properties and project pr

[2017-01-02 14:19] lacasseio commented on #882
@BruceEckel The important thing is we are able to reproduce with BruceEckel/OnJava8-Examples@920d169dac924fa54ebbdfa9f29f1ac027371087. I will keep looking at it to see why this is happening.

@kaidohallik and @wpfeiffe Could you tell me which version of Windows both of you are using?

[2017-01-02 14:49] lacasseio commented on #882
As a follow up on the debugging, here is the stacktrace of the exception that happen:

[code]

[2017-01-02 17:02] kaidohallik commented on #882
@lacasseio My Windows version: Windows 7 Ultimate, Service Pack 1.

I encounter this problem while working with project generated with jhipster.
For example jhipster official test application: https://github.com/jhipster/jhipster-sample-app-gradle.git
Running requirements are in README.md file.
I can reproduce error by executing:
1. open new cmd.exe
2. set Screen Buffer Size Height = 99
3. `git cl

[2017-01-02 19:33] yetanotherion commented on #1080
After checkout-ing
https://github.com/yetanotherion/gradle/commit/b20f48039a20884383f3916218d686ab4f6d38a2
`cd test`

maven test (succeeds in my workstation)
`bash test_maven.sh`
...

gradle test (fails in my workstation)
`bash test_gradle.sh`

     Searched in the following locations:
         https://criteo.bintray.com/integration-tests/com/criteo/dummy/artifacttwo/1.0/artifacttwo-1.0.pom

[2017-01-02 20:06] lacasseio commented on #882
After more debugging on this issue, it doesn't seem to be needing the grooming part to cause the crash. The same code may succeed a couple time before failing. It is possible to see that the `ProgressCompleteEvent` is fired twice on the launcher by comparing the `System.identityHashCode` of both problematic events. The event is created once here:
[code]

When the event is deserialized on the launc

[2017-01-02 20:25] oveits opened #1086 "Wrong information on default value for destinationDir on https://docs.gradle.org/current/dsl/org.gradle.api.tasks.bundling.Jar.html#org.gradle.api.tasks.bundling.Jar:destinationDir"
The Jar documentation on https://docs.gradle.org/current/dsl/org.gradle.api.tasks.bundling.Jar.html#org.gradle.api.tasks.bundling.Jar:destinationDir has wrong information on the default value of destinationDir, pointing to 'build/distributions' instead of 'build/libs'.

### Expected Behavior

I think, https://docs.gradle.org/current/dsl/org.gradle.api.tasks.bundling.Jar.html#org.gradle.api.tasks.b

[2017-01-02 21:31] lacasseio commented on #882
Further information was found on this issue. Something happen causing [this code](https://github.com/gradle/gradle/blob/master/subprojects/logging/src/main/java/org/gradle/internal/logging/console/ConsoleBackedProgressRenderer.java#L126-L127) to not been reached (a runtime exception is thrown) causing the code to unwind and execute the `finally` clause [here](https://github.com/gradle/gradle/blob/

[2017-01-02 22:04] bigdaz commented on #1080
The core issue is that Gradle resolves properties in a parent POM in the context of the properties defined for that parent POM. It appears that Maven resolves properties in a parent POM using the properties of the importing child POM.

This is a bit surprising to me, but I suppose the 'correct' behaviour of parent POM resolution is defined by what Maven does, since this behaviour is not well specc

[2017-01-02 22:19] superbobry commented on #1080
It is indeed surprising, but it actually makes sense, if you think about properties in the context of programming languages (even though Maven is not one of them).

Too bad Maven doesn't state this explicitly. The only googlable mention of this behaviour I've managed to find is [this](http://ted-gao.blogspot.fr/2011/08/inheritance-and-overriding-in-maven.html) blogpost.

[2017-01-03 08:07] yetanotherion commented on #1080
Actually, I don't know whether this behaviour is wanted by maven neither (did not see this case in maven unit tests). I agree with @superbobry's analogy though and I'd personally prefer both maven and gradle to behave like that. If you're ok with it, I'll start working on a fix.

[2017-01-03 09:54] wilkinsona commented on #947
I understand that the behaviour may be expected given the current design, but, in that case, I'd argue that the design doesn't meet the expectations set by the description of the feature. The documentation describes composite builds as allowing your to

Without a composite build, the usual way to try out a bug fix would be to build the library locally and install it into a repository, my local Mav

[2017-01-03 13:07] lacasseio commented on #919
[GRADLE-2771](https://issues.gradle.org/browse/GRADLE-2771) is likely to get fixed by the work on this issue.

[2017-01-03 13:23] bmuschko commented on #1084
@parthbhagat Could you please add the description of the JIRA ticket here as well?

[2017-01-03 13:25] bigdaz commented on #947
I think you're overstating this problem: the things that aren't considered when resolving an artifact from an imported build are the _repositories_ declared for the importing build, and the _resolution strategy_, which defines things like rules and cache timeouts. The _dependency metadata_ for the imported build is definitely used when resolving.

I don't see any difference from the "publish to lo

[2017-01-03 13:40] bigdaz commented on #947
I don't want to understate the problem either: the core issue is that there are a number of ways that the _published metadata_ can be tweaked for a build, such that the published POM contains information that isn't included in the dependency declarations. These modifications are not taken into account for an included build. Unfortunately, many of these modifications can be quite opaque to Gradle.

[2017-01-03 13:41] wilkinsona commented on #947
The dependency management plugin (linked to in the original comment in this issue) uses a resolution strategy to set dependency versions. It also enhances the generated pom to include that version information.

When using a composite build, neither the resolution strategy nor the generated pom is used so dependency resolution fails. When publising to a local repo, the generated pom complete with a

[2017-01-03 13:43] wilkinsona commented on #947
This is the missing piece in the puzzle, and is what I think should be documented as a limitation.

[2017-01-03 13:46] bigdaz commented on #947
Right, I think that "No support for included builds that have publications that don't mirror the project default configuration" and [this section](https://docs.gradle.org/current/userguide/composite_builds.html#included_build_substitution_limitations) of the docs was intended to convey this message. Would you mind submitting a PR that would make this clearer to you?

[2017-01-03 13:55] wilkinsona commented on #947
10.3.2 does indeed convey the message. Sorry, not sure how I missed that earlier. Thanks for bearing with me.

[2017-01-03 14:00] bigdaz commented on #947
I think it's fair to say that our docs can be impenetrable at times. Any feedback or suggestions for improvement is welcome.

[2017-01-03 14:01] mikehearn opened #1087 "Gradle's copy of Kotlin 1.1 stdlib seems to leak onto the compile task and break Kotlin 1.0 projects"
Our Kotlin 1.0 project (github.com/corda/corda) can't build with Gradle 3.1+ because somehow Gradle's copy of Kotlin 1.1 leaks onto the classpath and causes the compiler to get confused.

https://github.com/corda/corda/issues/18

### Expected Behavior

The fact that Gradle uses Kotlin internally shouldn't impact our build.

### Current Behavior

We get errors like this:

[code]

... that don't occ

[2017-01-03 14:54] lacasseio commented on #1072
The outcome of our internal discussion to keep the behavior as it is right now. The impact seems quite low and your build was already adapted to work around this issue. This will be a known limitation for Gradle 3.3 and will work on improving the usability of similar scenario by using `Project` setter for matching property if available or provide a warning if the `Project` property is read-only. T

[2017-01-03 14:54] #1072 closed

[2017-01-03 15:17] bamboo commented on #1087
Hi @mikehearn, the leak is by design and it is necessary to properly support multi-project Gradle builds due to the way the Gradle ClassLoader hierarchy is set up.

Ideally, the Kotlin compiler wouldn't be affected by the presence of a different Kotlin stdlib in the runtime classpath but currently it does.

The good news is that JetBrains is aware of the issue and they are working on a solution. T

[2017-01-03 15:18] lacasseio opened #1088 "Improve CLI Project Properties User Experience"
### Expected Behavior
Project properties passed by CLI flags should have these added features:
1. Use existing `Project` properties setter method; or
2. Produce a warning to the user for existing read-only properties

In the second case, the CLI property value will be ignored.

No breaking change will be introduced with this work. It serves to notify the user about property that may be ignored due

[2017-01-03 16:05] mikehearn commented on #1087
I'm glad to hear that JetBrains is handling this, but it sounds rather suspicious. Why should the compiler be exposed to random internals of how Gradle loads its configuration files? Even if there's a workaround available soon in the Kotlin compiler itself, shouldn't Gradle be isolating plugins a bit more than that? Would Jigsaw solve this?

[2017-01-03 16:35] bmuschko commented on #1085
@sergeykad Thanks for creating the GitHub issue. Before jumping to implementation details let's start creating a [design document](https://github.com/gradle/gradle/blob/master/.github/CONTRIBUTING.md#larger-changes-features-or-enhancements) for this feature. Would you be interested in contributing it?

[2017-01-03 16:46] bmuschko commented on #1086
You are correct. The docs use the wrong value here. Would you be interested in contributing the fix?

[2017-01-03 16:50] bmuschko commented on #1083
This sound like an issue in the IDE integration of IntelliJ to me. This [answer on Stackoverflow](http://stackoverflow.com/questions/39704047/intelij-errorcause-org-gradle-internal-component-external-model-defaultmodulec) mentions that this error might be rendered if one of your dependencies cannot be resolved. Would you mind running `./gradlew dependencies` on the command line and see if one of y

[2017-01-03 17:03] lacasseio commented on #882
The issue seems to be related to Jansi hence explains why using plain console is a valid workaround. Jansi tries to call [`SetConsoleCursorPosition`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686025(v=vs.85).aspx) [here](https://github.com/fusesource/jansi/blob/master/jansi/src/main/java/org/fusesource/jansi/WindowsAnsiOutputStream.java#L134). For some reason (still unknown at thi

[2017-01-03 17:07] lacasseio commented on #882
It is important to note the issue is related to Jansi but doesn't mean the issue is inside Jansi. Gradle does its fair share of console cursor manipulation.

[2017-01-03 17:08] bmuschko commented on #1069
I just tried the following command on `master` but couldn't reproduce the issue on my Mac with Java 1.8.0_60:

    ./gradlew core:integTest --tests org.gradle.api.tasks.CopyErrorIntegrationTest

We also do see the test failing on our CI builds for Linux or Windows with Java 8. The error message suggests that the type of an input property is wrong. Can you check if you didn't change any code? If th

[2017-01-03 17:25] bmuschko commented on #1006
The PR has been merged.

[2017-01-03 17:25] #1006 closed

[2017-01-03 18:04] venkataraghu opened #1089 "how to manage external dependencies and their versions in a separate properties files?"
I am currently using gradle 2.11 version and i was able to successfully manage my external dependencies and their version in a separate properties file like dependencies.properties file using a gradle plugin MyDepNamesPlugin from https://github.com/RobertFischer/gradle-plugins

 Is there any way i can manage my external deps and their versions in a separate file outside my build.gradle file in cur

[2017-01-03 18:06] samsieber commented on #1058
@eriwen The prepending with task name would be awesome. It would solve most, if not all, of our needs since it makes all types of post-processing possible.

[2017-01-03 18:35] eriwen commented on #1058
@samsieber Thank you for the feedback, and stay tuned :)

[2017-01-03 18:38] samsieber commented on #1088
We use custom project properties to override some predefined configuration. If I'm reading correctly, this proposal makes that a no-no.

If I did read this right, and there's no other preferred way for passing in custom values from the command line, I would rework the proposal to allow for:
1. Use existing Project properties setter method;
2. Use a property name register in a build script
3. Produ

[2017-01-03 18:49] lessthanoptimal opened #1090 "JavaDoc header and footer can’t handle single quote characters"
This is an old and long since unresolved bug report.  Inside a Javadoc task the following option should be valid:

`bottom = "TESTBOTTOM 'inside'"`

This is perfectly legal for JavaDoc (please see previous issue linked below) but the bug has to deal with how Gradle handles text strings.  Gradle will generate invalid code and fail.  Similar bug reports were submitted in the past but only a partiall

[2017-01-03 19:48] lacasseio commented on #1088
Sorry for the confusion @samsieber. The properties will/should behave like it behaved in previous Gradle version. The only assertion we will be adding is making sure we use setter when available (to ensure the properties aren't ignored) and producing a warning if the property exists but is read-only (to notify the user that a property is ignored).

Everything else we work as expected. In fact, no

[2017-01-03 20:05] oveits commented on #1086
Yes, I am willing to contribute, but I do not know, where to find the location of the error. I have scanned the source code for the pattern, but I could not find it. This is, why I was forced to create an issue instead of a pull request. Can you give me a hint?

[2017-01-03 21:09] jacobwu commented on #951
@eriwen Yes I can take a look at it

[2017-01-03 22:27] wpfeiffe commented on #882
Windows 7 Pro latest updates applied

On Mon, Jan 2, 2017 at 9:19 AM, Daniel Lacasse <notifications@github.com>
wrote:

[2017-01-04 00:50] lacasseio commented on #882
I think got to the bottom of this issue. Brace yourself as there are 2 sneaky issues in this scenario.

Let's start with the simple one. Although it's a neat idea to map all Win32 API in Java with a [JNI generator](https://github.com/fusesource/hawtjni) and use that in the [native implementation](https://github.com/fusesource/jansi-native) of the Jansi, not all Win32 API are created equal. The bes

[2017-01-04 00:54] lacasseio commented on #882
It is worth mentioning that for both discovered issues, there isn't any test written in the source project that could have helped avoid those issues.

[2017-01-04 07:40] SilverJan opened #1092 "NPE with Gradle 3.3 and Ear task"
I updated from Gradle 3.1 to 3.3 today and my Ear task is not running properly anymore. An NPE occurs with the following error

    Error while evaluating property 'rootSpec$3.destPath' of task ':earProductionTask'

See the full stacktrace

	org.gradle.api.InvalidUserDataException: Error while evaluating property 'rootSpec$3.destPath' of task ':earProductionTask'
			at org.gradle.api.internal.task

[2017-01-04 09:35] sergeykad commented on #1085
@bmuschko Unfortunately my knowledge of Gradle is not sufficient for this task.
Also link to design document is broken.

[2017-01-04 11:54] lptr commented on #1055
This issue is annoying, and confusing to users, so we should fix this in any case. However, fixing this for 4.0 has some more serious importance for task output caching.

We are going to roll out task output caching in 4.0, and the way to configure the cache is to use init scripts. Most people will probably want to use an init script in their `~/.gradle/init.d` directory, but it also makes sense—e

[2017-01-04 13:48] bmuschko commented on #1092
Thanks for reporting. We'll look into it. The issue can be reproduced by just the following code:

    task ear(type: Ear)

I don't see this error if I apply the `ear` plugin. Is there a specific reason for not doing that in your project? Are you creating multiple EAR files per project?

[2017-01-04 13:51] vRallev opened #1093 "Composite build throws a NPE"
I have two separate Android projects (a library and app project). Both projects compile fine with Gradle 3.2.1 and 3.3. In the `gradle.properties` I've added a flag to enable/disable composite builds like the following:
[code]

Sometimes the composite build works, but other times it doesn't and throws a NPE. Is this an issue in Gradle itself or the Android plugin? Unfortunately, I cannot share the

[2017-01-04 13:59] bmuschko commented on #1092
The issue occurs if the property [`libDirName`](https://docs.gradle.org/current/javadoc/org/gradle/plugins/ear/Ear.html#getLibDirName()) is not set. You can work around the issue by declaring it:

[code]

[2017-01-04 14:51] bmuschko commented on #1089
Yes, you can store the version for dependencies or the list of dependency coordinates anywhere you want. There are no real limitations as you have a programming language at hand. However, it's up to your custom code in the build script. For example you could externalize the versions into a properties file and then read it from Gradle as you would in Java.

Here's an example:

[code]

Gradle does n

[2017-01-04 14:51] #1089 closed

[2017-01-04 15:19] vitjouda commented on #947
Are there any specific plans to support this feature? I believe composite builds are great tool, even better with IDEA 2016.3 integration. But our projects use spring-boot-gradle-plugin which in turn uses  dependency-management-plugin mentioned above, so they don´t work propertly with composite builds.

Or, is there any known workaround?

[2017-01-04 16:43] wujek-srujek opened #1094 "Gradle logs a non-fatal error message with FindBugs"
When built with Gradle 3.3, findbugs reports the following (please note the build works fine, it is just the output is very confusing):

      :findbugsMain
      Scanning archives (34 / 34)
      2 analysis passes to perform
      Pass 1: Analyzing classes (12 / 12) - 100% complete
      Pass 2: Analyzing classes (1 / 1) - 100% complete
      Done with analysis
      The following errors occurred

[2017-01-04 17:37] parthbhagat commented on #1084
From grails-bootstrap progject, gradle dependency for spring uaa client:
[code]

This results in following dependency resolution error.

[code]

This error is been thrown recursively and eventually yield to _java.lang.StackOverflowError_.

[2017-01-04 19:54] alicederyn opened #1095 "InaccessibleObjectException running tests with Java 9"
A recent build of Java 9 has broken reflection in Gradle.

### Expected Behavior
Tests run

### Current Behavior
[code]

### Context
I'm running my annotation processor against Java 9 to ensure no regressions. Unfortunately it broke a few days ago when Travis started pulling a recent build. Build 9-ea-143 passed; 149 and 150 (the most recent) fail; but I'm unsure about exactly which version of Jav

[2017-01-04 20:22] chrisalice commented on #1095
I can work around this in my own builds by adding the following (the conditional is needed because only a few of my tests run with JVM 9):

[code]

[2017-01-04 21:55] sjayaraman opened #1096 "Add a timeout as a generic feature of a task."
During test run executions, there is a possibility of tests hanging indefinitely.

### Expected Behavior

User must be able to set time outs for tasks(at least for tasks of type: Test)
### Current Behavior

No provision to set timeouts.
### Context

We queue tests to run in our lab vm's and we have seen situations wherein the lab machines couldn't pick up new tests because of some issues in the te

[2017-01-05 00:28] ldaley opened #1097 "User feedback when killing a a daemon build is confusing"
When trying to stop a daemon build by `CTRL-C` or similar, I see…

[code]

This isn't a very useful message for users to see. Why is the daemon cancelling the build? What is the “the daemon”?

### Expected Behavior

Feedback that my attempt to stop the build was successful in terms that I am likely to understand.

### Current Behavior

Leaking of implementation details and confusing feedback.

###

[2017-01-05 04:15] venkataraghu commented on #1089
Thank you very much. i am using  a similar solution.  This solved my issue.

[2017-01-05 05:26] SilverJan commented on #1092
Thanks for the workaround. I cannot use the ear plugin as I'm creating multiple EAR files.

[2017-01-05 14:27] gnodet opened #1099 "JavaExec should support the ability to inherit standard streams"
The original issue has been raised in the JLine project, see [here](https://github.com/jline/jline3/issues/77).
JLine has very tight terminal integration and in order to leverage the terminal, it has to be able to access the standard input/output streams.

Hence, I propose to enhance to `JavaExec` task to add a `inheritIO` field that would trigger the use of the [`inheritIO()`](https://docs.oracle

[2017-01-05 15:43] NitroG42 opened #1100 "Incremental Task outputs changes"
### Expected Behavior
When I make an incremental tasks, I know which inputs has been changed (or removed). I would like to know which outputs has changed too, (changed or removed). As said in the documentation, the input part will contains every input (because gradle can't know which input gave which output, maybe that could be done with a map btw). By doing that, the task itself will be able to u

[2017-01-05 16:24] eskatos commented on #1024
Closing, thanks @wolfs!

[2017-01-05 16:24] #1024 closed

[2017-01-05 23:21] kenzierocks opened #1108 "How can I expand only a particular subdirectory of a zipTree?"
Right now, if you have a zip tree like this:
[code]
...it is impossible to extract _just `c`_.

If I want files `d` and `e` to be copied to another folder, I have to copy the entirety of `file.zip` to a temporary directory, then copy the contents of `c` to the destination.

### Expected Behavior
`zipTree` should have an option, perhaps `root`, to specify the folder to be used as the root of the zi

[2017-01-06 00:31] z0mb1ek opened #1109 "Ctrl-C when running Spring Application get no shutdown hooks"
There is discuss there https://discuss.gradle.org/t/how-do-i-clean-up-an-application-when-sending-an-interrupt-ctrl-c-when-using-the-application-plugin/4880/3
I have a problem: when i SIGINT my application starting with application plugin - it not gracefully shutdown it(spring in my case), there is no any shutdown hooks, it term it! What can I do to use my spring application with shutdown hooks wi

[2017-01-06 00:40] deep00maj commented on #935
Is it available in 3.3 or earlier?

[2017-01-06 01:19] dal-ibm opened #1110 "Gradle 2.14 timeout connecting to daemon on IBM JDK 8"
Hello! This is a repeat of [bug GRADLE-3500](https://issues.gradle.org/browse/GRADLE-3500), which was [originally discussed here](https://discuss.gradle.org/t/gradle-2-14-daemon-doesnt-work-with-ibm-java-8/18311).

The bug has been fixed in Gradle 3.0-rc1, but persists in 2.14. I'm hoping for the fix to be ported to 2.14.

### Expected Behavior

A build in IBM Java 8 with Gradle 2.14 succeeds, rat

[2017-01-06 04:17] arminnaderi commented on #1083
I have solved the issue by assigning every project to a Collection and then using the configure(projects) block like so:
<img width="965" alt="screen shot 2017-01-05 at 11 17 02 pm" src="https://cloud.githubusercontent.com/assets/16402451/21707433/1acc9f02-d39d-11e6-8384-e8c3ce172db1.png">

[2017-01-06 04:19] arminnaderi commented on #1083
In the past, I was using the subprojects {} block to configure all the projects. This should not have any effect in the usual case, however in this situation it did resolve the problem. I will still try to reproduce the bug and run `./gradlew dependencies.` Give me a moment.

[2017-01-06 04:23] arminnaderi commented on #1083
The error initially occurred when I added a new module to the root project with the `include` statement. Removing the module at that time resolved the problem. Since then, I have added another module on top of that. This means that I had 3 modules when the error occurred, however now I have 4 modules. Using the `subprojects {} ` block now does not reproduce the error.

Would you like me to checkou

[2017-01-06 10:31] jjohannes opened #1111 "Investigate unexpected socket disappearance in daemon on Windows"
We see unexpected socket disappearances in Tooling API integration tests on Windows. It is not clear if this is a test only issue.

### Examples of Failing Tests
- https://builds.gradle.org/viewLog.html?buildId=1918412
- https://builds.gradle.org/viewLog.html?buildId=2031840
- https://builds.gradle.org/viewLog.html?buildId=1918412

### Error on Client Side

[code]
### Error on Daemon Side

[code]

[2017-01-06 12:30] bmuschko commented on #1083
What does `./gradlew dependencies` say for the module that causes the issue?

[2017-01-06 15:04] jacobwu commented on #951
Pull request #1113 created

[2017-01-06 15:42] pkubowicz commented on #1109
gradle run skips shutdown hooks when daemon enabled

### Expected Behavior
Shutdown hooks are executed like when I execute the JAR directly instead of calling 'gradle run'

### Current Behavior
`gradle run --daemon` never executes shutdown hooks after Ctrl+C is pressed. They are executed much later.

`gradle run --no-daemon` always executes shutdown hooks, but sometimes an exception is printed:
[c

[2017-01-06 15:45] pkubowicz commented on #1109
A related StackOverflow question: http://stackoverflow.com/questions/22671927/shutdown-hook-of-java-process-doesnt-trigger-in-gradle-daemon

[2017-01-06 15:47] z0mb1ek commented on #1109
I want to get some jvm arg on task, thats why --no-daemon is not the decision. I use spring boot plugin on maven projects and its work very well.

[2017-01-06 18:08] mkobit opened #1118 "Published POMs using the `maven-publish` plugin have "runtime" for all dependency scopes"
All dependencies in the generated POM have scope `runtime

### Expected Behavior

Dependencies should have the appropriate scope.

### Current Behavior

- https://stackoverflow.com/questions/20131915/publishing-artifact-from-gradle-project-to-bintray-maven-repository
- https://discuss.gradle.org/t/maven-publish-plugin-generated-pom-making-dependency-scope-runtime/7494/12

### Context

Transitive d

[2017-01-06 18:09] mkobit commented on #1118
Here is a possible workaround that I haven't tried from https://gist.github.com/bugs84/b7887fb5d7f9f2d484b8#file-changefromruntimetocompile-gradle:

[code]

[2017-01-06 18:33] lacasseio commented on #1109
I don't have an exact solution for this, but I can pitch in as to why you don't see the call to your shutdown hook. When the daemon is enabled, Gradle executes your build inside a remote process (not the process started from the command line called the launcher). This process is kept alive in between build to minimize the impact of the JVM startup and warmup. It means Ctrl-C executes on the launch

[2017-01-06 19:20] pkubowicz commented on #1109
My opinion is that this is a bug that needs to be fixed by the Gradle team. You tagged this issue as a 'question'. Application plugin is a core plugin embedded in the Gradle distribution and has to work correctly on default settings of Gradle, which enable daemon.

[2017-01-06 20:50] arminnaderi commented on #1083
Note: At the time I added the module, it did not have any of its own dependencies, except for those inherited by the parent project.

Here you go (None are marked as FAILED within the current version of the project):

[dependencies.txt](https://github.com/gradle/gradle/files/690803/dependencies.txt)

In order to be more helpful, I will try to get the error message again and then run the command. G

[2017-01-06 20:59] arminnaderi commented on #1083
`FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':chronpwn-common:dependencies'.

     Required by:
         com.chronpwn:chronpwn-common:2.0-SNAPSHOT

     Searched in the following locations:
         https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-starter-test//spring-boot-starter-test-.pom
         https://repo1.maven.org/maven2/org/s

[2017-01-06 21:00] arminnaderi commented on #1083
You are right, the dependencies for that module did fail. They seem to be unable to resolve version numbers, even though I applied the Spring-Boot plugin to all subprojects.

[2017-01-06 21:01] arminnaderi commented on #1083
[code]

[2017-01-06 21:14] bmuschko commented on #1083
You'll need to figure out why the dependency doesn't resolve but that's likely your problem.

[2017-01-06 21:21] eriwen commented on #1110
@dal-ibm Thanks for the well-written issue. I regret to inform you that we will not be able to resolve your need directly soon; it's very unlikely we'll backport the fix to 2.14.x unless there's no Android plugin that uses Gradle 3+ for quite some time. For both our sakes I hope that doesn't happen :)

I'm putting this in the Icebox for now, just in case.

[2017-01-06 21:51] lacasseio commented on #1109
Thanks @pkubowicz that make sense. I retagged it appropriately.

[2017-01-06 22:09] pkubowicz commented on #1109
Thank you. Please note an another thing: if I develop a server application, I may use `gradle run` very frequently to test it locally. Currently when I press Ctrl+C during `gradle run`, not only are shutdown hooks not fired, but also the daemon is lost (`gradle --status` shows `CANCELED`). When I call gradle again, it will create a new daemon, which requires much time.

Ideally, Ctrl+C should only

[2017-01-06 23:20] arminnaderi commented on #1083
I found the problem, but not a way to resolve it. Here is what I noticed to be of interest when running with `-i`:

[code]

[2017-01-07 00:34] DDesideria opened #1120 "Missing packaging causes gradle to skip checking other repositories"
Issue occurs when a dependency with same name is found in repository which but the required packaging is missing.

Example:
1) Project requires dependency 'group:projectA:1.2' with packaging 'jar' and defines repositories 'repo1' and 'repo2' (in respective order) in build.gradle
2) Both repositories contain 'group:projectA:1.2', but only repo2 contains needed packaging ('jar') in this case

Please

[2017-01-07 01:14] DDesideria commented on #1120
Also seems to be related to https://issues.gradle.org/browse/GRADLE-1066

[2017-01-07 01:26] DDesideria commented on #1120
Ok, seems that I found a workaround:
    repositories {
                maven {
                    url "${repo1.uri}"
                    artifactUrls "${repo2.uri}"
                }
                maven { url "${repo2.uri}"}
    }

This works if 'repo1' is missing artifact

[2017-01-07 04:00] big-guy commented on #1120
Why does repo1 have the metadata but not the artifact?

Since Gradle finds metadata in the first repo, it uses that repo for the artifact too.

[2017-01-07 04:20] DDesideria commented on #1120
I listed 2 issues. Let me clarify a bit:
1) Issues with proper sync of the artifactory. For performance reasons our company uses local artifactory which contains all the artifacts required by different teams. But sometimes the sync fails resulting in missing files. In this case the gradle works more predictably - the pom really does list correct metadata but not the jar.
2) Example with 'com.viewp

[2017-01-07 23:22] big-guy commented on #1092
@SilverJan what do the `application.xml` look like for the EAR files you create with 3.1?  Is the library directory just not set for them?

[2017-01-08 10:24] yetanotherion commented on #1080
A first version of the fix is available at:
https://github.com/yetanotherion/gradle/commit/35b7f7cfd7c72f75de138d6176826a535207d44b

I have some questions before submitting a PR.
- Do you consider this change as "a non-trivial change that modifies the behavior or public API" ?
- If so, I'm supposed to

  - Start a discussion on the Gradle developer list. Is it still necessary, considering the disc

[2017-01-08 11:34] oehme commented on #1118
This is a modeling problem which we are currently addressing. `compile` currently contains two things: My API dependencies as well as my implementation dependencies. Only the API dependencies should be marked with Mavens `compile` scope, which exports them to consumers.

We will add api/implementation dependency separation in Gradle 3.4. The maven-publish plugin will be changed to correctly handle

[2017-01-08 22:08] kenzierocks opened #1122 "java.nio.file.Path is not usable with Gradle"
`Path` is not usable and can cause hard-to-debug problems when passed to Gradle.

### Expected Behavior
Passing `Path` to `project.file` or `project.files` should result in the same behavior as passing `path.toFile()`.

### Current Behavior
- `project.file`: Raises an exception
- `project.files`: Does nothing on initial call, hangs Gradle when `getFiles()` is called

### Context
I prefer to use `P

[2017-01-09 00:51] ags799 opened #1124 "Tooling API's ModelBuilder.setJvmArguments won't override existing JVM Arguments"
My Java program runs with a specific JVM argument, `-Djava.io.tmpdir=var/data/tmp`. This argument is being passed to Gradle daemons by our calls to the Gradle Tooling API, specifically `ProjectConnection.model(GradleProject.class).get()`.

This is a problem, because the Gradle project directories in which the daemons run do not have a `var/data/tmp`. Thus the daemons fail.

I have tried `ProjectCo

[2017-01-09 03:02] dal-ibm commented on #1110
Thanks for looking at this. Over the weekend I decided to try the Android plugin with Gradle 3.3, and they seem to work together just fine!

I haven't been able to find any recent documentation on this from the Android build-tools team (everything is either very old or references 2.14), but this is a satisfactory solution which doesn't require a code change.

Not sure how you guys sort issues or w

[2017-01-09 07:09] jnaalisv opened #1125 "Jacoco-plugin seems to break Gretty-plugin"
Jacoco-plugin seems to break Gretty-plugin in Gradle 3.3. This issue was not present in 3.2.1

### Expected Behavior
appRun should run with jacoco-plugin applied.

### Current Behavior
appRun throws a NPE if jacoco-plugin is applied

### Context
I've been using both Jacoco and Gretty in my projects and after updating to Gradle 3.3 Gretty-tasks started mysteriously failing.

### Steps to Reproduce

[2017-01-09 09:21] hotchemi commented on #789
@lacasseio Sorry for the late. I digged into the problem and being little bit stuck...so let me share current status.

#### Cause

I followed the stack trace and it turned out the original exception is caused inside of nativeplatform's `DefaultPosixFiles.java` and `posix.cpp`.

- [DefaultPosixFiles.java](https://github.com/adammurdoch/native-platform/blob/674992d4692355ce435167228a90e35c39112fe9/s

[2017-01-09 09:54] wolfs commented on #1125
Looks like for some reason I do not quite understand yet, the Gretty plugin applies the Jacoco plugin to a [DummyTask](https://github.com/akhikhl/gretty/blob/936fcb7b9d5ccfb78abf6a43e85cb684bc24f372/libs/gretty/src/main/groovy/org/akhikhl/gretty/DummyTask.groovy) which returns `null` for `getInputs()`. Starting from Gradle 3.3 the Jacoco plugins registers more inputs for the task for better up to

[2017-01-09 10:57] lacasseio commented on #1110
Thanks @dal-ibm for coming back to us. As you experienced, the fix is implemented in Gradle 3.x series. Given what @eriwen said and how you worked around your current issue, I will close this issue as won't fix.

[2017-01-09 10:57] #1110 closed

[2017-01-09 12:25] lacasseio opened #1128 "Support Build Cancellation in `JavaExec` Task"
_Edit: Improved description to reference the more generic solution (build cancel event) as oppose to the specific usage of this feature (Ctrl-D) explained by [Gary's comment](https://github.com/gradle/gradle/issues/1128#issuecomment-271299381)._

### Expected Behavior
When `JavaExec` task waits for the completion of the Java application, it should support cancel event and terminate the Java applic

[2017-01-09 12:32] lacasseio commented on #1109
Thanks @pkubowicz for the additional information. I tried the code from this issue, and the behavior seems to follow what is expected with two minor details:
1. There is a, up to, 10 seconds delay between Ctrl-C and the execution of the shutdown hook.
2. The `System.out` output isn't piped to the console.

A Ctrl-C in the launcher causes the daemon to be `CANCELED` and killed which in turn will ki

[2017-01-09 12:32] #1109 closed

[2017-01-09 12:44] lacasseio commented on #1122
Thanks @kenzierocks for the detailed issue. Could you provide us with a build scan for each behavior: `project.file` and `project.files`. That would help us. I see the `Path` object doesn't seem to be supported as a valid path and it make sense to support those.

[2017-01-09 12:50] pkubowicz commented on #1128
One more comment: the 10s delay is not acceptable in many scenarios. For example when developing a server application you will frequently restart you application. You will require a fast restart and a clean restart, that leaves a coherent state.

Idea 2016.3 has an option to delegate run task to Gradle. Then, when you run the application, Idea executes 'run' for you, although you may not know what

[2017-01-09 13:06] wolfs commented on #1086
@oveits The location of the documentation is here: https://github.com/gradle/gradle/blob/cc389874c09f9f300f6468d341801e38374433c2/subprojects/docs/src/docs/dsl/org.gradle.api.tasks.bundling.AbstractArchiveTask.xml#L41-L41

[2017-01-09 13:37] lacasseio commented on #789
Thanks for looking into this @hotchemi. I think the preferred solution should be done in [`adammurdoch/native-platform`](https://github.com/adammurdoch/native-platform). I suspect [the `java_to_char` call](https://github.com/adammurdoch/native-platform/blob/0df1fb6d563f37dcec355da9edd2fd3b1d3d46c1/src/main/cpp/posix.cpp#L119) should be changed to `java_to_wchar`. Unfortunately, `stat` and `lstat`

[2017-01-09 14:36] ghale commented on #1128
The 10s delay is a byproduct of the fact that the task never finishes.  What happens when you send a ctrl-c is that it terminates the daemon client.  The client disappearing then causes the daemon to cancel any running builds associated with that client.  The build cancellation logic (as it currently exists) checks in between tasks to see if the build has been canceled, so it relies on the current

[2017-01-09 14:54] lacasseio commented on #1128
Thanks @ghale for the detailed information. I saw in `PlayRun` that [it handle Ctrl-D manually](https://github.com/gradle/gradle/blob/master/subprojects/platform-play/src/main/java/org/gradle/play/tasks/PlayRun.java#L105-L116) and I was thinking something similar to that in `JavaExec`. However, what you expose is probably better as the solution. I will edit the title and description to reflect you

[2017-01-09 15:50] bmuschko commented on #1125
Closing issue as it has to be resolved in the Gretty plugin.

[2017-01-09 15:50] #1125 closed

[2017-01-09 16:46] hotchemi commented on #789
@lacasseio Thx for your quick response. I tried to address with `wcstombs` on my local but `java_to_wchar` is only defined in `win.cpp`...I'd like to hear @eskatos's thought, sorry to bother you🙇

[2017-01-09 17:42] big-guy commented on #1128
@lacasseio `PlayRun` handles ctrl+d manually because it predates continuous build, so `run` blocking the build was the way it worked.

I think we wouldn't make `JavaExec` work with continuous build, or at the very least, that's a separate issue.  It would be better to make it easier/possible for plugins to contribute their own `DeploymentHandle` implementations.

[2017-01-09 19:26] big-guy opened #1131 "Fail when modifying tasks in TaskExecutionGraph listener"
If a build does something like this:
[code]

This is attempting to modify the task dependency graph after it has been populated.  This doesn't work.  We already detect this kind of error:

[code]

This build fails with an error telling you that you cannot modify the task dependencies after the task has started executing.

### Expected Behavior

Build fails when something tries to modify a task in

[2017-01-09 22:59] oveits commented on #1086
Hi @wolfs: I can see the ```project.distsDir```, but I never could have found it, since there is no string like "File destinationDir" there. I will patch it online and send a pull request.

[2017-01-09 23:24] tapatio opened #1133 "java.io.IOException: No locks available"
I am building a project. I receive this exception during the build. I have RWX privileges for cache.properties.lock.

### Expected Behavior

I expect locks to be available. I should not see this exception.

### Current Behavior

I am unable to lock this file.

`gradle build --debug` output:

14:25:34.050 [DEBUG] [org.gradle.api.internal.tasks.execution.ExecuteAtMostOnceTaskExecuter] Starting to ex

[2017-01-09 23:35] big-guy commented on #1133
You seem to have GRADLE_USER_HOME set to `/tmp` and permissions there are causing problems.

[2017-01-10 00:06] tapatio commented on #1133
Thanks for the prompt reply!

I set GRADLE_USER_HOME to the root directory of my Gradle install and I'm still getting the same error:

[XXXXX-rhel7 YYYYY]# echo $GRADLE_USER_HOME
/root/.sdkman/candidates/gradle/
[XXXXX-rhel7 YYYYY]# gradle build
:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:jar

FAILURE: Build failed with an exception.

* What went wrong:
java.io.IOExce

[2017-01-10 00:15] big-guy commented on #1133
Hmm... could you run that again with `--debug` and see if you see these sorts of messages again:

I'm looking to see if those paths reflect your new GRADLE_USER_HOME.

And could you run with `-s` to get a full stacktrace?

Thanks!

[2017-01-10 00:27] tapatio commented on #1133
`gradle --debug build` output:

16:25:43.080 [DEBUG] [org.gradle.api.internal.tasks.execution.ExecuteAtMostOnceTaskExecuter] Starting to execute task ':jar'
16:25:43.088 [DEBUG] [org.gradle.api.internal.tasks.execution.SkipUpToDateTaskExecuter] Determining if task ':jar' is up-to-date
16:25:43.095 [DEBUG] [org.gradle.cache.internal.DefaultFileLockManager] Waiting to acquire exclusive lock on task

[2017-01-10 00:33] kenzierocks commented on #1122
`project.file`: https://scans.gradle.com/s/osz7prvosbfyw
`project.files`: Impossible to do, as the build does not appear to stop. Manually killing it does not produce a scan.

[2017-01-10 00:36] big-guy commented on #1133
Ah, it's in the project's `.gradle/` directory...

Is `/home/XXXXX/.gradle/2.13/taskArtifacts` on a NFS mount?  Do you have a nfslock daemon running?

[2017-01-10 00:53] tapatio commented on #1133
Well, I think you may have found the issue. I started the nfslock daemon and this is the status:

[root@LLLLL-rhel7 ZZZZZ-apps]# service nfslock status
Redirecting to /bin/systemctl status  nfslock.service
● rpc-statd.service - NFS status monitor for NFSv2/3 locking.
   Loaded: loaded (/usr/lib/systemd/system/rpc-statd.service; static; vendor preset: disabled)
   Active: active (running) since Mon

[2017-01-10 01:21] hotchemi commented on #752
Can I grab the issue?

[2017-01-10 01:56] tapatio commented on #1133
I moved my dev directory off the NFS and to a local file system and now I am able to compile! Thanks for your help.

[2017-01-10 01:56] #1133 closed

[2017-01-10 04:57] big-guy commented on #752
Sure, please make sure you take a look at our [contributing guidelines](https://github.com/gradle/gradle/blob/master/.github/CONTRIBUTING.md).

[2017-01-10 06:35] imartinbe opened #1134 "“unexpected end-of-file found” issue on Precompile Header compilation with Visual Studio Help/Discuss"
When compiling projects in Visual Studio 2012 with precompiled header, for some projects the build fails with returning an error

This issue comes from missing **CRLF** at the end of the 2 files generated : _prefix-headers.cpp_ and _prefix-headers.h_

### Expected Behavior
The files _prefix-headers.cpp_ and _prefix-headers.h_ in build\tmp\compile***CppPreCompiledHeader\pchGenerated should end **bo

[2017-01-10 06:49] big-guy commented on #1134
Hmm, does the last file included in the prefix-header not have CRLF for your real project?  That might be why the sample works.

[2017-01-10 06:59] jnaalisv commented on #1125
@wolfs, thanks for investigating this.

[2017-01-10 08:29] imartinbe commented on #1134
You mean the pch.h ? In our case it well contains a CRLF at the end...
When compiling using the command described in gradle --info details, I initially get the error; when manually adding the CRLFs, it compiles fine.

[2017-01-10 08:31] imartinbe commented on #1134
PS : cf also discussion I had with Gary Hale : https://discuss.gradle.org/t/unexpected-end-of-file-found-issue-on-precompile-header-compilation-with-visual-studio/21023/2

[2017-01-10 08:58] uklance opened #1135 "afterEvaluate closure ignored when added to an evaluated project"
Forum post [here](https://discuss.gradle.org/t/weird-interaction-between-allprojects-and-evaluationdependson/21063)

### Expected Behavior
When calling `project.afterEvaluate(Closure)` on a project which has already been evaluated, either a WARN message should be logged or an exception thrown. These sorts of issues can be hard to track down if one plugin is calling `evaluationDependsOn(String)` an

[2017-01-10 11:00] timx9 commented on #1094
I get a similar problem with 3.3 - findbugs tries to open binary files in the project - see attached build output
[build.txt](https://github.com/gradle/gradle/files/695889/build.txt)

The problem is not present in 3.2

[2017-01-10 11:18] oehme commented on #1135
Another option that we discussed previously is to execute the action immediately if the project was already evaluated.

[2017-01-10 11:54] uklance commented on #1135
That would also work as technically any time after evaluation is `afterEvaluate`

[2017-01-10 13:12] lacasseio commented on #1128
Thanks for pitching in @big-guy. It's very valuable feedback.

[2017-01-10 13:39] hotchemi commented on #752
Addressed on https://github.com/gradle/gradle/pull/1137!
Btw, I found two `NotYetImplemented` annotations in integtests file. Would they be another story to enhance?

- https://github.com/gradle/gradle/blob/f001402c8b7f404c923d972f1bc524b2de7b3fcd/subprojects/integ-test/src/integTest/groovy/org/gradle/integtests/SyncTaskIntegrationTest.groovy#L173
- https://github.com/gradle/gradle/blob/f001402c8b

[2017-01-10 15:01] hotchemi commented on #979
Can I grab the issue?

[2017-01-10 15:03] Dreampie opened #1140 "getResourceAsSteam not work in build.gradle"
[code]
// thrift/Enums.thrift in other jar
![image](https://cloud.githubusercontent.com/assets/3667080/21810963/ca50c48c-d788-11e6-8d55-ec0b99415eb0.png)

[2017-01-10 18:06] lacasseio commented on #979
You can certainly grab that issue @hotchemi. Thanks for your interest. Don't hesitate to ask questions.

[2017-01-10 21:44] eriwen commented on #1095
@chrisalice Thanks for the well-written issue. I am adding this to our Java 9 epic which we'll prioritize sometime in the next few months.

[2017-01-11 05:20] big-guy commented on #752
Thanks @hotchemi.  I'll take a look.

Yes, those are both areas that we need to improve. You can leave those alone for this story.  We have a general problem with the `Copy`-like tasks having under specified inputs like that.

[2017-01-11 05:49] big-guy commented on #1134
Ah, good. Gary originally worked on this.  Would you be interested in contributing a fix?

Have you been able to reproduce the issue with the `pre-compiled-headers` sample that comes in the Gradle distribution?

[2017-01-11 06:28] hotchemi commented on #752
@big-guy Thank you for your response. Okay, so let me try to fix them when I can get a time to look into if it's okay.

[2017-01-11 07:25] imartinbe commented on #1134
OK, I was able to reproduce it with the sample. It comes from the '/Za' compiler argument we add. If you change the build.gradle for the _hello_ component like this, you will get the error.
[code]
This flag forces the code to follow ANSI C and ANSI C++ standards.

[2017-01-11 09:23] GuaiShu opened #1141 "Use gradle to build java project, in the root directory produced a. Gradle directory"
Use gradle to build java project, in the root directory produced a. Gradle directory, I would like to ask what is the use of this directory.

[2017-01-11 09:24] GuaiShu opened #1142 "Use gradle to build java project, in the project root directory produced a. Gradle directory"
Use gradle to build java project, in the project root directory produced a. Gradle directory, I would like to ask what is the use of this directory.

[2017-01-11 09:43] #1141 closed

[2017-01-11 13:00] lacasseio commented on #1142
Thanks @GuaiShu for your interest in Gradle. The GitHub issues are strictly reserved for bugs and feature request and need to follow the [contribution guideline](https://github.com/gradle/gradle/blob/master/.github/CONTRIBUTING.md). Any questions or discussion should be directed to the [user forum](https://discuss.gradle.org/).

That been said, the `.gradle` folder is used for caching any informat

[2017-01-11 13:00] #1142 closed

[2017-01-11 13:06] bmuschko commented on #1141
Seems like this issues resolved itself. :-)

[2017-01-11 15:08] fab1an commented on #864
Is there a way around this without having to introduce ant?

[2017-01-11 15:52] lacasseio commented on #1141
I missed that one, it's a duplicate of https://github.com/gradle/gradle/issues/1142.

[2017-01-11 18:53] big-guy commented on #1094
This is due to some logging changes introduced in 3.3 so we can see output from forked worker processes (like FindBugs): https://github.com/gradle/gradle/pull/970

This has been happening for awhile (you can see it in 3.2), but the message was only shown at the `--debug` level.  That stacktrace/exception is logged by FindBugs on stderr.

It looks like the underlying problem is that the classpath t

[2017-01-11 19:27] eriwen opened #1144 "Streamline Plugin Development"
## Objective
Maximize the breadth and depth of the Gradle Build Tool plugin ecosystem by making it easier to design, write, document, test, and publish plugins.

## Motivation
Writing Gradle plugins can be difficult, even for Gradle engineers. We cannot maintain a healthy ecosystem or get into new technologies without our users.

## Implementation
- Create public APIs for common plugin functionali

[2017-01-11 20:23] Reager- commented on #980
Would be great also to integrate this with the build scan tool when using -Dscan and visualize the tree with something like this http://bl.ocks.org/d3noob/8375092

[2017-01-12 00:02] eriwen opened #1145 "JavaScript Support"
## Objective
Empower users to build applications using JavaScript with Gradle

## Motivation
Adding just 1% of the web community would significantly grow Gradle user base

## Approach
* Educate users through guides and examples how and why to take advantage of Gradle’s unique features
  * Write a guide on best practices for calling Gulp, Webpack, etc. through Gradle
* Explore ways for users to cal

[2017-01-12 03:35] #1092 closed

[2017-01-12 03:37] big-guy commented on #1092
A fix will be released in 3.4.

As a workaround, you can set `libDirName = 'lib'`.  Even with older versions of Gradle (like 3.2), this task would still have failed if you added any libraries to copy into the libs dir in the ear (e.g., if you did `lib { from("some.war") }`).

[2017-01-12 05:55] SilverJan commented on #1092
The application.xml has no library-directory value as we use the default lib folder for our libraries.

[2017-01-12 08:57] oehme opened #1147 "Confusing console output with TAPI and configure on demand"
When using the Tooling API, the "Configure Successful" message is printed after the configuration phase. When using configure on demand, most of the projects actually haven't been configured at this point, so there is a lot of work and console output after the success message.

We should consider printing something like "Building Model Successful" instead and only after the whole TAPI operation ha

[2017-01-12 09:25] hotchemi commented on #979
Ah windows...

[2017-01-12 09:35] donat opened #1148 "EclipsePlugin sets incorrect javaRuntimeName for older target runtimes"
### Expected Behavior

The convention mapping should set the following `javaRuntimeName` depending on the current `targetCompatibility`:

    JavaSE-1.8
    JavaSE-1.7
    JavaSE-1.6
    J2SE-1.5
    J2SE-1.4
    J2SE-1.3
    J2SE-1.2
    JRE-1.1

These values are declared as [defaults](https://github.com/eclipse/eclipse.jdt.debug/blob/master/org.eclipse.jdt.launching/plugin.xml#L241-L303) in the

[2017-01-12 10:15] lptr opened #1149 "Warn when changing copy specs during copy task is executing"
Users sometimes change the copy specs of a copy or archive task (e.g. `Jar`) in a `doFirst()` call. These changes are ignored by up-to-date checks and task output caching, but we don't show any warning about them.

We should forbid this behavior in the long run completely. As a first step we should show a warning about the problem and mention that we're going to be more strict in the next major re

[2017-01-12 10:18] lptr opened #1150 "Copy task does not consider `rename` in up-to-date checks"
@lptr commented on [Mon Sep 05 2016](https://github.com/gradle/task-output-cache/issues/64)

Given a build script like this:

[code]

After changing the `rename` clause, the task stays up-to-date.

- Original JIRA issue: [GRADLE-3549](https://issues.gradle.org/browse/GRADLE-3549)

---

@lptr commented on [Tue Sep 06 2016](https://github.com/gradle/task-output-cache/issues/64#issuecomment-244892073

[2017-01-12 10:22] lptr opened #1151 "System line endings are used when copy tasks do expansion"
@lptr commented on [Thu Sep 29 2016](https://github.com/gradle/task-output-cache/issues/115)

We need to expose the line ending used as an input (and maybe make it configurable, too).

-----

When copying a file on a windows system, the destination file will contain \r\n line endings if a closure filter is used:

[code]

Forcing the `line.separator` system property to `\n` 'fixes' the problem, but

[2017-01-12 11:34] fibsifan opened #1153 "Java/JUnit: includeCategories does not include Parameterized Tests"
EDIT: Fill out Issue Template.

When running Tests from a certain Category by using includeCategories in build.gradle, parameterized tests (see [JUnit Wiki](https://github.com/junit-team/junit4/wiki/Parameterized-tests)) are not run without any error message. I'd expect the tests to run, just like any other test or tests, that are run when using excludeCategories instead. Include would definitely

[2017-01-12 19:41] lacasseio commented on #882
Since the exception happens when JAnsi process the ANSI Console string (at `flush` or, sometimes, at `write`), it's very hard to fix in Gradle. The previously proposed fixed was tried locally and worked as expected, meaning no crash happen. PR https://github.com/fusesource/jansi/pull/70 was submitted on the JAnsi project to fix the problem.

[2017-01-12 20:28] lacasseio commented on #882
In order to avoid waiting for fusesouce, a fix was pushed in Gradle code base to workaround the issue. See PR https://github.com/gradle/gradle/pull/1155.

[2017-01-12 21:46] eriwen opened #1156 "Create a public-api-only core dependency"
Provide a

### Expected Behavior
Allow a user to declare a dependency on only the `gradlePublicApi()`.

### Current Behavior
Currently, users wanting to write plugins must declare a `compile gradleApi()` dependency which exposes all of Gradle's internals and pulls in a bunch of transitive dependencies.

### Context
Plugin authors are not prevented from using Gradle internal APIs (which are sadly n

[2017-01-12 22:06] eriwen opened #1157 "Provide a public equivalent for IsolatedAntBuilder"

[2017-01-12 22:37] bmuschko opened #1158 "Streamline Maven Migration"
Users planning to migrate from Maven to Gradle need to be equipped with capable tools that provide a smooth transition. Well known concepts in the Maven world need to translate to Gradle to ensure compatibility with existing Maven infrastructure. Appropriate user guides and samples need to be established to educate users about migration strategies.

### Expected Behavior

Maven projects can be eas

[2017-01-12 22:53] bmuschko opened #1159 "Introduce "strict" mode for defining build logic"
Some Maven users appreciate the fact that build logic in a `pom.xml` can only be defined as part of the pre-defined XML schema. One of the criticisms Maven users have about Gradle is that it is too flexible and allows to much customization which in turn leads to unmaintainable, uncontrollable code. It's debatable whether this a true statement in practice. The goal of this story is provide a "mode"

[2017-01-12 23:04] bmuschko opened #1160 "Automated Maven to Gradle migration becomes more robust and feature-rich"
The Gradle `init` task help with [turning Maven `pom.xml` files into Gradle `build.gradle`](https://docs.gradle.org/current/userguide/build_init_plugin.html#sec:pom_maven_conversion_). The produced output is a great start to start the migration process. Currently, the task has some short comings and bugs that need to be improved to make the transition even easier.

### Expected Behavior

Fix impor

[2017-01-12 23:12] bmuschko opened #1161 "Consumption of dependencies from existing Maven repositories"
Gradle is compatible with consuming dependencies from Maven repositories to a large extent. Users reported various dependencies and conditions under which Gradle does not behave like Maven or fails to resolve a dependency.

### Expected Behavior

Gradle can resolve dependencies via the defined metadata POM similar to Maven. Any known POM parsing issues are fixed.

https://issues.gradle.org/browse/

[2017-01-12 23:20] bmuschko opened #1162 "Consumption of Maven BOMs"
Organizations in the Maven world leverage the [BOM concept](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html) to predefine "blessed" or "known" dependency versions. Enable Gradle to consume BOM natively.

### Expected Behavior

Gradle users can define dependencies without a concrete version. The version is resolved from a BOM that's defined for the build. The

[2017-01-12 23:32] bmuschko opened #1163 "Ability to generate web page deriving essential information about project"
For Maven users, the [Maven Site plugin](https://maven.apache.org/plugins/maven-site-plugin/) is important. I can't count the number of times I have been asked about an equivalent in the Gradle world. Establish a Gradle plugin that can render important information about project in the form of HTML pages.

### Expected Behavior

Gradle provides a plugin similar to the Maven Site plugin that allows

[2017-01-12 23:36] bmuschko opened #1164 "Building Gradle plugins with Maven"
An organization mainly uses Maven to build their projects. As a library or tooling provider you already have a multi-module build in place built with Maven. Gradle has become an important ecosystem and you want to provide a Gradle plugin to support the use case but don't want to break out the plugin logic into a new repository. In those cases you'd like to build and publish the Gradle plugin with

[2017-01-12 23:41] bmuschko opened #1165 "Stable Publishing Plugins"
Users can decide between the old Maven plugin and the "new" Maven publishing plugin. The same goes for ivy vs. ivy-publish. Most of the time this choice is confusing because feature sets and runtime behaviors are different. Remove the "old" Maven plugin. Implement missing features (e.g. signing) in the "new" Maven publishing plugin.

### Expected Behavior

There's one definitive plugin for publish

[2017-01-12 23:48] bmuschko opened #1166 "Enhance Maven migration documentation and samples"
Maven users new to Gradle need guidance. We already established a migration guide but it wasn't promoted heavily. We should enhance it by any outstanding topics, promote it heavily and ask the community for feedback. In addition to the guide, provide example projects.

### Expected Behavior

Maven users can map existing concept from Maven to Gradle land. Any missing topic is going to be added over

[2017-01-12 23:56] bmuschko opened #1167 "Apply Maven plugins to a Gradle build"
Maven has a huge ecosystem of plugins. Instead of duplicating plugins Gradle could potentially reuse existing logic. Enable Gradle to apply Maven plugins in a Gradle build.

### Expected Behavior

Existing Maven plugins can be reused in a Gradle plugin based on certain limitations.

### Current Behavior

Users will have to write an equivalent Maven plugin in Gradle.

### Context

Make it even easi

[2017-01-12 23:59] big-guy commented on #1164
I think publishing the jars is only one solution that has a lot of downsides. It's hard(er) to run TestKit tests, you don't get any of the plugin validations that we've added/are adding and we may want to have more than one kind of gradleApi publication (e.g., public only and legacy public/internal).

As another idea, we could also build a Maven MOJO that can build Gradle plugins.

[2017-01-13 00:37] big-guy commented on #1157
It would be great if we could also improve on this mess:

https://github.com/gradle/gradle/blob/master/subprojects/jacoco/src/main/java/org/gradle/internal/jacoco/AbstractAntJacocoReport.java#L56-L86

It's really ugly to use the AntBuilder from Java.

I think we don't have to make the public `IsolatedAntBuilder` do the same classloader isolation tricks that we do now.  It could also just run in a

[2017-01-13 06:14] big-guy opened #1168 "Gradle considers tasks up-to-date when it should not"
Here's a doozy.

Given a task like this (distilled to just the important parts):
[code]
and a build file:
[code]

If you run this sequence of steps, the `customTask` will be up-to-date even though `build/output/file.txt` does not exist.

1. Run `gradle customTask` as usual. (Gradle will execute the task, the file is created.)
2. Upgrade Gradle or delete the project `.gradle`.
3. Run `gradle custom

[2017-01-13 06:50] adammurdoch commented on #1157
The solution should use the task worker API, with `AntBuilder` an injectable service.

[2017-01-13 06:52] adammurdoch commented on #1163
Sounds like a build scan to me.

[2017-01-13 07:00] adammurdoch commented on #1156
We should bust up the API into the public API for the Gradle platform, and the public API of each group of plugins. For example:

[code]

[2017-01-13 08:16] donat commented on #1148
The release branching is coming very soon so I've assigned this story to the next release.

[2017-01-13 08:48] wolfs commented on #1168
If #1074 is merged, we could register the output file for cleanup and that would fix the problem, right?
For caching, we would cache the right thing on the first run since we cache all of the outputs but we wouldn't pull from the cache after the clean since the task is `UP-TO-DATE`, right?
If we would not have overlapping output directories then we should just consider everything in the output dir

[2017-01-13 09:35] asmln opened #1169 "processResources task do not change application.properties in war-files by ReplaceTokens"
I use org.springframework.boot plugin
I have `./src/main/resources/application.properties` with property `app.text=@prop.text@`.
`prop.text` defined in `./test.properties`.
In processResources task I want to replace this token.

### Expected Behavior
`app.text` property in war-files must changed every time I change the `prop.text` in `test.properties` and perform build task (or clean build).

###

[2017-01-13 10:50] wolfs commented on #973
@ danreb25 Could you elaborate why that is a problem for you? Do you have other copy tasks copying into the same destination directory? Where does your destination directory reside? Inside the `build` directory?
Doesn't executing the copy task after a clean have the same end result as deleting all the files in the destination directory when there is nothing to copy (i.e. the destination directory

[2017-01-13 13:20] bamboo commented on #1144
It should also include advice on writing plugin models that work well with both Groovy and Kotlin DSLs.

[2017-01-13 13:30] bmuschko commented on #1144
@bamboo Is writing a plugin with Kotlin really very different from writing a plugin in any other JVM language? The API is the same.

[2017-01-13 14:23] bamboo commented on #1144
@bmuschko You're right, it's not very different but I didn't mean we should incoude advice on writing plugins in Kotlin. I meant we should include advice on writing plugins (in any JVM language) whose contributed extensions and tasks can be just as easily used / configured from Kotlin based _build scripts_ as they are from Groovy build scripts. That mostly means not creating models based on Groovy

[2017-01-13 14:28] eskatos commented on #1039
The flakiness was first alleviated by https://github.com/gradle/gradle/commit/33330963b8e35e9bfc171988d4093eb40a042460 and is now fixed by https://github.com/gradle/gradle/commit/b64e1d0.

@big-guy, can you confirm that it did not happen to you recently?

[2017-01-13 14:47] mconner opened #1171 "Document compileOnly vs providedCompile behavior"
The doc for compileOnly states "Compile time only dependencies, not used at runtime", while providedCompile says "...except that they are not added to the WAR archive. " , and [this blog post](https://discuss.gradle.org/t/exciting-new-buildship-features-coming-up/14728) says that it is a "similar capability". In the case of a war, are they effectively the same, or should we continue to use provide

[2017-01-13 15:21] tmohme opened #1173 "Wrong transitive dependency resolution when mixing maven dep.managment with property overrides"
Under certain conditions Gradle 3.3 resolves transitive dependencies to wrong versions.
This seems to be related a combination of
- version-property declaration & dependency-managent in "grand-parent" POM
- version-property override in parent POM
- actual dependency in child POM

### Expected Behavior
Maven honors the overridden version-property when resolving the actual dependency, thus resolving

[2017-01-13 15:32] bmuschko commented on #1173
In the [parent POM that defines the dependency versions](https://search.maven.org/remotecontent?filepath=de/agilecoders/maven/maven-parent-pom/0.3.5/maven-parent-pom-0.3.5.pom) I see the following:

    <wicket.version>6.15.0</wicket.version>
    ...
    <dependency>
        <groupId>org.apache.wicket</groupId>
        <artifactId>wicket-extensions</artifactId>
        <version>${wicket.version}</

[2017-01-13 15:48] tmohme commented on #1173
You tracked it down to the *grand*-parent (de.agilecoders.maven:maven-parent-pom:0.3.5) of the original dependency.
Unfortunately the property `wicket.version` gets overridden in the [parent POM `de.agilecoders.wicket:bootstrap-parent:0.10.11`](https://repo1.maven.org/maven2/de/agilecoders/wicket/bootstrap-parent/0.10.11/bootstrap-parent-0.10.11.pom) in the middle of the hierarchy which does not a

[2017-01-13 15:54] bmuschko commented on #1173
OK, thx for the info. Could you verify that Maven resolves to version 7.4.0 for this use case?

[2017-01-13 17:17] tmohme commented on #1173
This is the output of `./mvnw dependency:tree` on my [demo-project](https://github.com/tmohme/gradle-bug-demo):
[code]

[2017-01-13 17:37] tmohme commented on #1173
The corresponding output of `./gradlew  dependencies --configuration compile`:

There are several other remarkable differences, e.g. :
* gradle lists `org.apache.wicket:wicket-extensions` as a dependency of `de.agilecoders.wicket:wicket-bootstrap-core`, maven doesn't
* de.agilecoders.maven:maven-parent-config:jar:0.3.5 vs. 0.3.4

I haven't investigated these other differences yet, so I can't tell

[2017-01-13 18:01] bmuschko commented on #1158
I see some quick wins here:

- Improving the `init` task to make it even easier for people to migrate without manual intervention.
- Heavily promote the Maven migration guide to the community and harvesting feedback. I can't even find the guide when googling for it.

Personally, I'd like to see the BOM support in Gradle though that's a personal opinion and requires some deep thinking.

[2017-01-13 18:43] big-guy commented on #1039
I haven't noticed it for awhile and it looks like any places that could throw an exception are handled.

[2017-01-13 18:53] big-guy commented on #1168
Yes, i think that would have helped.

[2017-01-13 20:49] #882 closed

[2017-01-14 01:07] adammurdoch commented on #1168
When we know that the task owns the output directory (using the same information by which we know that we can clean the directory on version change) then we certainly should consider the entire contents of the directory to be the task's outputs.

We'd also need to do some form of cleanup prior to running the task's actions, to deal with other tools that scribble into the output directory. We might

[2017-01-14 10:24] ubuntudroid commented on #1093
Composite builds actually never work for me due to this exception. Quite simple to reproduce:

Our app's `settings.gradle` contains these lines:

[code]

[2017-01-14 12:48] eskatos commented on #1039
Thanks!
Closing.

[2017-01-14 12:48] #1039 closed

[2017-01-14 17:32] hkhc opened #1179 "JUnitDetection"
### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

 * Build scan URL:

[2017-01-14 17:33] #1179 closed

[2017-01-15 10:13] oehme opened #1180 "Build actions can't handle spaces in the classpath"
Our classpath serialization code seems unable to handle spaces in classpath urls. This breaks TAPI build actions if their classpath is located in such a folder. An example is Eclipse Buildship installations on Windows.

See https://discuss.gradle.org/t/buildship-2-0-doesnt-allow-to-import-projects/21118

[2017-01-15 10:15] oehme commented on #1180
This is breaking many Buildship 2.0 installations on Windows, scheduling for 3.4.

[2017-01-15 22:18] adammurdoch commented on #1144
We might also start inspecting for or even deprecate certain Groovy patterns for a plugin's model and task types. We already inspect certain aspects of a plugin's types at plugin build time, and there's a lot of stuff we might do at runtime as well.

[2017-01-16 07:46] zhanghuabin opened #1181 "Throw NPE when compile with Gradle(3.3 or 3.2.1) + Groovy 2.4.8"
I just upgraded groovy version to 2.4.8, but when I executed `./gradlew classes --stacktrace`, I got NPE:
[code]

### Your Environment

Win 8.1 + OracleJDK 8u112 + Gradle 3.3 or 3.2.1 + Groovy 2.4.8

[The sample project to reproduce](https://github.com/zhanghuabin/groovy248-npe)

[2017-01-16 08:39] McPringle commented on #1069
Good morning

Please excuse the long time of my reaction. New Year and holidays.

I did not change the source, my working space is clean. Today I ran the tests again and, well, they are successful. I did not update my environment. I ran the failing test last month about five times (failed every time) and yesterday again five times (every time successful). I'll investigate it. Something must have c

[2017-01-16 15:23] fibsifan commented on #1153
I just realized that JUnit is unable to run parameterized tests which are categorized *per method*. However gradle still does not find parameterized tests that are categorized *per class*. However, when using `excludeCategories`, gradle is able to run categoriezed *methods* that are in parameterized classes.

[2017-01-16 19:02] bmuschko opened #1184 "File dependencies are not rendered in dependencies report"
The `dependencies` report should render file dependencies. The original issue was reported as [GRADLE-2269](https://issues.gradle.org/browse/GRADLE-2269).

### Expected Behavior

File dependencies are rendered in `dependencies` report. Those dependencies will not have any metadata to lean on to derive information about its coordinates or transitive dependencies. The `dependencies` report will try

[2017-01-16 20:54] big-guy opened #1185 "Gradle doesn't report abbreviated task name as ambiguous when task name has numbers"
Given this build file:
[code]

Running with this command-line should produce an ambiguous task selection error between unique1 and uniqueA.
[code]

Instead, we select unique1.   Tested with 1.0, 2.0, 2.2.1 and master (2.4 nightly).

Migrated from: https://issues.gradle.org/browse/GRADLE-3258

[2017-01-16 21:03] bmuschko opened #1186 "Task declaring mustRunAfter is not taken under consideration with finalizer definition"
This issue was originally report via [GRADLE-3389](https://issues.gradle.org/browse/GRADLE-3389). Given the following build script:

[code]

### Expected Behavior

The task `B` should be run after `A. The expected output is the following:

[code]

### Current Behavior

The actual output is the following:

[code]

### Steps to Reproduce (for bugs)

See code example above.

[2017-01-16 21:59] bmuschko commented on #1163
@adammurdoch Generally speaking, I'd agree. Here's my only concern: some users might not want to use a cloud service (because of security/confidentiality issues) or want to provision/install/pay for commercial software _just_ to get some basic information about the project. The build scan is also heavily based on the execution of a specific task and the provided build parameters. I guess we'll see

[2017-01-16 22:08] bmuschko commented on #1181
What's the version you upgraded _from_? You might have just hit [GROOVY-7402](https://issues.apache.org/jira/browse/GROOVY-7402) or a related issue.

[2017-01-17 00:31] big-guy opened #1188 "Callback listeners that cause events to occur cause deadlocks with parallel execution"
We have a `TaskExecutionListener` that recalculates the hashes for inputs for a task: https://github.com/gradle/gradle/blob/master/gradle/taskCacheBuildScanUserData.gradle

This sometimes causes deadlocks between a `TaskExecutionListener` and `DependencyResolutionListener` when running with `--parallel`.  For now, we've disabled our listener when parallel execution is enabled.  In the long term, w

[2017-01-17 10:54] donat commented on #1180
I was able to reproduce the problem and provided an initial fix for the problem on a branch: https://github.com/gradle/gradle/tree/dc-faulty-classloader
@oehme Please have a look.

[2017-01-17 11:08] lptr opened #1190 "Support polymorphism and collections with @Nested annotation"
There are two often repeated issues with how `@Nested` works currently:

- it doesn't support collections – IIRC, we revert back automatically to using the serialized version of anything that is not understood by `@Nested`
- it doesn't support polymorphism – when you declare a field to be of type `MinimalJavadocOptions`, only the annotations on that type are processed by `@Nested`, ignoring anythi

[2017-01-17 11:18] lptr opened #1191 "Copy tasks do not consider filter/eachFile/expansion properties in up-to-date checks"
@lptr commented on [Tue Jul 12 2016](https://github.com/gradle/task-output-cache/issues/21)

Code review: [REVIEW-6089](https://code-review.gradle.org/cru/REVIEW-6089)

See JIRA issues:
- [GRADLE-1646](https://issues.gradle.org/browse/GRADLE-1646)
- [GRADLE-1276](https://issues.gradle.org/browse/GRADLE-1276)
- [GRADLE-1298](https://issues.gradle.org/browse/GRADLE-1298)

GitHub issues:

- https://g

[2017-01-17 12:05] eskatos commented on #789
On the native side of JNI you get Java Strings as `jstring`s. These are [Modified UTF-8](https://en.wikipedia.org/wiki/UTF-8#Modified_UTF-8) strings.

`char` and `wchar` arrays can be used to convey differently encoded strings. How they should be encoded depends on the targeted native method and what it expects.

`java_to_char` in `native-platform` already does a great job converting `jstrings` bu

[2017-01-17 18:31] big-guy commented on #1190
We may want to split the "handle collections" from the "handle runtime types/polymorphism" parts.

Other things to keep in mind...
1) What's the names of properties that are in a collection? or is the property's value the collection?
   - If the property's value is a collection, then what kind of error do you get when the 3rd element in a list has a null value for a non-`@Optional` property?
2) Sh

[2017-01-17 19:08] lptr commented on #1190
I think we currently consider the value of the property to be the (serialized form of the) collection, and we simply report that the value has changed (need to check the details, but I think this is what happens with `@Input` at least). To me the only logical way to improve the situation is to map collection indexes to sub-properties, like `elements.3.name` etc. Mapping `Map`s to sub-properties by

[2017-01-17 20:35] bmuschko commented on #726
I added a [spec](https://github.com/gradle/gradle/blob/master/design-docs/internal-apis-made-public.md) for this work. Feedback welcome!

@ajoberstar This work won't touch the software model. Convention mapping has been treated almost like a public API by plugin developers in the past years. I have done it, I am sure you have done it. There's a good reason for it: there were simply no better optio

[2017-01-17 21:33] lptr opened #1193 "Javadoc's overview option should be a file"
@lptr commented on [Thu Jan 12 2017](https://github.com/gradle/task-output-cache/issues/403)

Currently `MinimalJavadocOptions.overview` is a `String`. It should be a name-sensitive `@InputFile` instead.

Split off from #354.

---

@big-guy commented on [Fri Jan 13 2017](https://github.com/gradle/task-output-cache/issues/403#issuecomment-272463899)

We should switch this to using a `TextResource`

[2017-01-17 22:41] adammurdoch commented on #1001
We should avoid any changes that make `buildSrc` more different to the child builds of a composite build, as we want to converge here not diverge. If we make this change, then we should consider whether it also makes sense for child builds (it might).

[2017-01-17 23:14] adammurdoch commented on #1190
I'd make the types we use to represent snapshots richer and polymorphic so they can deal with these use cases naturally, rather than trying to coerce every path through the graph into a string. Though we certainly could start with the use cases where we can do the coercion though.

[2017-01-18 00:02] adammurdoch commented on #1180
We should understand why our existing coverage did not catch this, as there's intentionally whitespace in the test directories for exactly this kind of problem.

[2017-01-18 00:08] ajoberstar commented on #726
@bmuschko That makes sense to me, and I like the focus on getting some issues to round out the public APIs. My original question was more of an aside, and I don't know that it's quite been answered. Since this came up [recently on the forum](https://discuss.gradle.org/t/new-jvm-language-plugins/21088) too, maybe that's a better place to continue if you don't mind taking a look.

[2017-01-18 06:45] zhanghuabin commented on #1181
@bmuschko We upgraded from Groovy 2.4.7. I checked your link above, that should be the same problem, but still not be fix :-(

[2017-01-18 08:44] oehme commented on #1180
@adammurdoch The spaces are only in the directory of the project under test. The tapi jars are in the gradle build folder which does not have spaces.

[2017-01-18 09:45] donat commented on #1180
I've created a pull request for the `release` branch with the fix.

[2017-01-18 10:25] huxi commented on #1191
@lptr Consider adding my test in #861 regarding nested (for lack of a better word) expands, i.e. the `filesMatching '**/*.properties', { expand expandMap }` part.

[2017-01-18 12:17] lptr commented on #1191
@huxi do you think we should have them besides these? https://github.com/gradle/gradle/commit/e42e1038fb759155c9f1eca0c1c7d168ce339a0a

[2017-01-18 13:33] huxi commented on #1191
@lptr Yes.
I was able to fix the first of the two tests in #861 but that change wouldn't have affected the second test scenario where the `expand` was a parameter to `filesMatching`.

[2017-01-18 15:24] bmuschko commented on #726
@ajoberstar Thanks for raising the discussion. It's a valid concern for any plugin developer. Let's continue the discussion in the forum.

[2017-01-18 18:18] lacasseio opened #1205 "Support NIO Path as an alternative to IO File"
### Expected Behavior
We should consider further usage for `Path`, such as a method to resolve to a `Path` instead of a `File` on `Project` and support in `FileCollection` and friends.

### Current Behavior
Thanks to @kelemen and his PR https://github.com/gradle/gradle/pull/813 we now support NIO Path inside `Project#file(...)`.

### Context
Some build master prefer using `Path` object and Gradle

[2017-01-18 19:37] kelemen commented on #1205
I would love to see a better `Path` support in Gradle (and help creating one). Though, I'm very unsure about what the best course of action would be to preserve backward compatibility.

Currently, the following things come to mind:

- Create another interface like `FileCollection` but for `Path` objects and start providing support for it everywhere (along with conversion methods). This seems to be

[2017-01-18 20:09] pjfanning opened #1206 "have 'Gradle Worker Daemon 1' forked processes respect GRADLE_OPTS or similar environment variable"
### Expected Behavior
I would like to be able to apply Xmx settings to Gradle forked processes.
I understand that using GRADLE_OPTS could affect users who rely on the existing behavior. Would it be possible to support an environment variable called GRADLE_FORKED_PROCESS_OPTS?
As described below, I did find a solution but it would be nice to have an env variable that could be used to cap JVM Xmx in

[2017-01-18 21:02] lacasseio commented on #1205
From my understanding on the direction for this feature, it would be preferable to add the feature to existing interface. We can break this issue in smaller one to create distinct PR and avoid any stalled work.

Maybe @adammurdoch can comment on the various step this feature can take since the original proposition came from him.

[2017-01-18 22:20] adammurdoch commented on #1205
There are a bunch of options. I'd probably just add a method to `FileCollection` to allow you to view its contents as a collection of `Path` instances.

[2017-01-18 22:28] kelemen commented on #1205
Should there also be some way for a client of `FileCollection` to determine the "preferred" view? So, that it could choose the most efficient view (though I have a hard to time to believe that this would be any kind of performance bottle neck)

[2017-01-18 22:34] lacasseio commented on #890
Following the migration from Jira to GitHub, [GRADLE-3565](https://issues.gradle.org/browse/GRADLE-3565) needs to be considered and broken down in the context of this epic.

[2017-01-18 23:37] Ricket opened #1207 "Provide support for declaring repositories on a per-artifact basis"
### Expected Behavior
User should be able to declare which repository an artifact should come from. Then gradle won't search all the repositories in order; it will only search the given repository for the artifact.

### Current Behavior
Every repository is searched for every artifact.

### Context
Often a repository will be added to a gradle configuration to resolve just one artifact in the build.

[2017-01-19 02:35] adammurdoch commented on #1205
I probably wouldn't bother until we have a real use case for it.

[2017-01-19 11:47] zhanghuabin commented on #1181
I resolved this issue by Paul's suggestion in [GROOVY-7402|https://issues.apache.org/jira/browse/GROOVY-7402]

[2017-01-19 11:48] #1181 closed

[2017-01-19 11:53] ddimtirov commented on #1094
That is also a problem for Kotlin 1.0.6+ which generates modules files in META-INF.
See https://youtrack.jetbrains.com/issue/KT-15728

[2017-01-19 13:49] laurre opened #1209 "Multi-project: task with the same name not executed ?"
Hello guys,

### Expected Behavior

A task named 'install' is not executed in my multi-project structure when I call 'install' on the root project.

### Current Behavior

I expect the 'install' task to be called in my subproject.

### Context

I have a multi-project structure, in which I have an 'install' task on each subproject. The task of only one of the subproject is not called. This is contra

[2017-01-19 15:05] laurre commented on #1209
OK, huge sh*tty analysis of the problem, my bad. But it comes from a misunderstanding, will open another issue for that, close this one.

[2017-01-19 17:58] bmuschko opened #1211 "Code examples in PDF user guide are cut off if line length exceeds maximum # of characters"
The [Gradle User Guide PDF](http://www.gradle.org/docs/current/userguide/userguide.pdf) has a persistent flaw in many of its code samples.

### Expected Behavior

The code automatically wraps to the next line if it exceeds the maximum number of characters. Code examples render and print without being cut off.

### Current Behavior

The PDF displays code samples in about a 60 character window, but

[2017-01-19 18:15] kelemen commented on #1205
Ok, I won't be around for a week from tomorrow. So, I will only be able to work on this issue after that, if that is good for you.

[2017-01-19 18:18] jjohannes opened #1212 "Environment: Windows, Eclipse, Local Terminal - Console output is not readable"
Original issue in Jira: https://issues.gradle.org/browse/GRADLE-3562

This was caused by a change in Jansi. It is unclear if it should be fixed on the Jansi or Eclipse Terminal side (or somewhere else). See discussion here:

- https://github.com/fusesource/jansi/issues/64
- https://bugs.eclipse.org/bugs/show_bug.cgi?id=502134

[2017-01-19 21:19] kelemen commented on #1205
I have pushed 27b90756da82c5348e15061f3d542fb7812c2f58 to my issue_1205 branch. Does this seem ok?

[2017-01-19 21:33] kelemen commented on #1205
There are a few inconveniences however

- *core* is set to source level = 1.6, and Idea complains about the usage of `Path`
- `org.gradle.util.Path` conflicts with nio `java.nio.file.Path`. This could be inconvenient in Gradle scripts because the former is automatically imported.

[2017-01-19 22:28] adammurdoch commented on #1180
I don't think we should close this without some integration test coverage.

[2017-01-19 23:08] adammurdoch commented on #1205
This we could potentially fix in 4.0. The classes in `org.gradle.util` aren't actually part of the public API but somehow ended up being automatically imported. So we could change this in 4.0. It's a breaking change but I don't think `org.gradle.util.Path` is very widely used in build scripts.

[2017-01-20 03:47] vorburger opened #1213 "IllegalArgumentException: URI scheme is not "file" (at File...) at org.gradle.internal.classloader.ClasspathUtil$1.visitClassPath(ClasspathUtil.java:59)"
I've run into this while working on https://github.com/vorburger/ch.vorburger.osgi.gradle :

### Expected Behavior
_"It should work"_, said John, the end-user... ;-)

### Current Behavior
In an admittedly weird set-up, running Gradle with the Apache Felix OSGi Framework on the classpath, but not actually within an OSGi bundle, I've managed to hit the Exception shown in full details below. (This is

[2017-01-20 04:21] vorburger opened #1216 "gradle-tooling-api JAR with valid OSGi MANIFEST"
### Expected Behavior
In an ideal world, the gradle-tooling-api JAR should have a MANIFEST.MF making it a valid OSGi bundle itself.

### Current Behavior
gradle-tooling-api JAR's MANIFEST.MF is not a 3-line non-OSGi compliant quasi empty one.

### Context
I've embedded Gradle using the Tooling API into an OSGi bundle; in https://github.com/vorburger/ch.vorburger.osgi.gradle, for https://github.com

[2017-01-20 04:23] vorburger commented on #1216
Hi @oehme & @etiennestuder - FYI this issue, in case of interest to you.

[2017-01-20 08:07] eskatos opened #1217 "Filenames of JUnit test results with non-ASCII characters get too long"
JUnit test reports are generated in files named using the tests FQCNs.
Class names can contain arbitrary unicode glyphs.
Test reports files names are escaped by replacing all non-ASCII entries by their hexadecimal encoded form. This approach can create very long file names that bump into filesystems limits as seen by the original issue reporter.

### Expected Behavior
Too long file names are allev

[2017-01-20 08:42] oehme commented on #1216
Hey Michael,

you can get the osgi version of the TAPI jar from the Buildship update sites.

That being said, we do plan to add a proper manifest to the one published to our Maven repositories too. So if you'd like to give that a shot, it would be a welcome contribution.

[2017-01-20 09:19] wolfs opened #1218 "Gradle compares versions differently to Maven"
See https://discuss.gradle.org/t/cannot-resolve-dependencies-that-are-resolved-by-maven/18894
Given version range for dependencies Maven sometimes finds a matching dependency, whereas Gradle doesn't. This is due to how Gradle compares dependencies.

Given the following build script:
[code]
Note that the pom of `org.eclipse.jface:3.12.0.v20160518-1929` has a dependency on `org.eclipse.scout.sdk.dep

[2017-01-20 09:21] wolfs commented on #1218
@msridhar I migrated this bug from [Jira](https://issues.gradle.org/browse/GRADLE-3529) to Github issues. Do you want to add something?

[2017-01-20 16:55] mondrejko opened #1224 "ClassCastException in incremental build, DescriptiveChange to InputFileDetails"
In performing an incremental build in which no input files have changed, we are experiencing the following ClassCastException. This happens with Gradle 3.2, 3.2.1, and 3.3 (note that it did NOT happen with Gradle 2.14.1).

This is from a custom task class with a List<ConfigurableFileTree> instance variable is annotated with @InputFiles. The list then contains several elements including filetrees c

[2017-01-20 17:08] big-guy commented on #1224
Can you provide the source for com.successfactors.buildsystem.webmodule.js.DirectiveParserTask? Or at least the method `DirectiveParserTask.processFiles()`?

[2017-01-20 17:19] gprajeesh77 opened #1225 "Gradle considers tasks up-to-date when it should not When Custom Task uses Project.exec"
When Custom task class extends Default Task and TaskAction Method uses project.exec, First time gradle executes the command. Second time onwards it is considered Task as Up to date even after outputs.upToDateWhen { false }
### Expected Behavior
The Task Should not be marked as up to date

### Current Behavior
First time the Task executes the command. Second time on words the task is marked as Up t

[2017-01-20 17:23] #1209 closed

[2017-01-20 17:46] msridhar commented on #1218
No, this looks great!  Thanks for doing the migration!

[2017-01-20 17:59] mondrejko commented on #1224
@InputFilesList<ConfigurableFileTree> inputTrees = [] as List@TaskActionvoid processFiles(IncrementalTaskInputs inputs) {    final String outputPath = "$outputDir/WEB-INF/classes/rmgmt/deps"    final Set<File> validatePath = inputTrees.collect { it.dir } + project.configurations.webappContent.files    final String[] validateFiles = validatePath*.absolutePath    final CommandDirectiveProcessorHelpe

[2017-01-20 19:29] lacasseio commented on #1140
The GitHub issues are reserved for feature request and bug. Please use the [user forum](https://discuss.gradle.org/) for any question related to Gradle usage. In the event your question does turn out to be a valid GitHub issue, please follow the [contribution guidelines](https://github.com/gradle/gradle/blob/master/.github/CONTRIBUTING.md).

[2017-01-20 19:29] #1140 closed

[2017-01-20 19:38] vorburger commented on #1216
@oehme would a contribution basically just porting my approach as-is be OK? Perhaps you could have a quick peek at it confirm. So it's based on a bnd.bnd and using the BND plugin biz.aQute.bnd.builder... I'm asking ahead just to make sure that I don't put in this work to then hear afterwards something like e.g. "but we don't want to have to run 3rd-party Gradle plugins such as BND as part of our c

[2017-01-20 20:00] oehme commented on #1216
I'm not sure what bnd does for us here. Afaik you basically specified the whole manifest content by hand in the bnd file. Seems like we could just write the manifest directly.

[2017-01-20 20:26] vorburger commented on #1216
@oehme I would argue that https://github.com/vorburger/ch.vorburger.osgi.gradle/blob/master/org.gradle.tooling.osgi/bnd.bnd is more readable and maintainable than https://gist.github.com/vorburger/0cf2fd2d74ad9997ce2c0e7e4f7d5797 ? ;-)

Also running BND to gen. the MANIFEST would let it perform validation and sanity checking of the Manifest instructions and resulting bundle, whereas keeping a verb

[2017-01-21 05:54] oehme commented on #1216
Fair enough, as long as the bnd plugin doesn't use Gradle internals it should be fine (we build Gradle with the latest snapshot of Gradle).

There should be no apache commons imports btw, the only dependency is slf4j-api. Also, I don't understand what the "private package" directive is for. We don't have it in our current manifest so we probably don't need that.

Please use our existing [manifest]

[2017-01-21 06:46] #1225 closed

[2017-01-21 06:58] oehme commented on #1213
Could you please report the offending URI? If you run your tests outside of osgi then all your classpath entries should be files, so I'm curious where this non-file URI comes from.

[2017-01-21 15:16] vipheyue opened #1227 "how to remove a local jar form a library"
### Expecte Behavior
remove a jar form a library
------------------------------------------------------------------
myProject
	compile cn.bmob.android:bmob-sdk:3.5.3 library(.aar I can't modify The source code)
							----libs
							---------okhttp-3.3.0.jar(it's a jar)

i watch the projtct depdences by gradle command
[code]

![9daca4bf-3a30-4d1a-a94c-2c4550ca6d3e](https://cloud.githubusercontent

[2017-01-21 15:36] vipheyue commented on #1227
Is there a method for inspecting/excluding modules from .jar dependencies not available on Maven? gradle dependencies seems to not report dependencies added with compile files('libs/example.jar')

[2017-01-22 17:44] fab1an commented on #864
I started the test using `./gradlew test --info` and got the following:

[code]

When I run this command manually, and press enter I get this:

[code]

[2017-01-22 22:49] blindpirate opened #1228 "Allow unknown options in `BuildLauncher`"
### Expected Behavior

Turn on `org.gradle.cli.CommandLineParser.allowUnknownOptions` in build started by `BuildLauncher`

### Current Behavior

When I started a build with `BuildLauncher` and some command line arguments such as `--tests xxx`, I got the following error:

[code]

I have read the source code and found the option `allowUnknownOptions` was turned on in `GradleWrapperMain` by default,

[2017-01-22 23:51] big-guy commented on #1228
If you're trying to use `--tests`, you should really be using `TestLauncher` instead.

https://github.com/gradle/gradle/blob/master/subprojects/tooling-api/src/main/java/org/gradle/tooling/ProjectConnection.java#L106-L106

Is there some other command-line argument you're trying to use?

[2017-01-23 03:16] blindpirate commented on #1228
@big-guy Thanks for your reply.

Actually, I want to use `--tests` only, but what I'm writing is a plugin for go programming language, so methods of `TestLauncher` cannot be applied in this case. When I tried with `TestLauncher.run()`, the error occurred:

[code]

Is there any way to  achieve my goals? Thank you very much.

[2017-01-23 12:57] lacasseio commented on #1227
The GitHub issues are reserved for feature request and bug. Please use the [user forum](https://discuss.gradle.org/) for any question related to Gradle usage. In the event your question does turn out to be a valid GitHub issue, please follow the [contribution guidelines](https://github.com/gradle/gradle/blob/master/.github/CONTRIBUTING.md).

[2017-01-23 12:57] #1227 closed

[2017-01-23 15:57] eriwen commented on #1228
Aside @blindpirate: Kudos for tackling Go support for Gradle — that's awesome!

[2017-01-23 16:10] diacone opened #1230 "Dependency resolution fails when credentials are queried in the build script"
### Expected Behavior
Dependencies can be resolved

### Current Behavior

Dependencies fail to resolve
[code]

### Context

Consider this simple build script
[code]

### Steps to Reproduce (for bugs)

#### Failure
`$ gradle breakIt dependencies --refresh-dependencies`

#### Works!
`$ gradle dependencies --refresh-dependencies`

### Your Environment
[code]

[2017-01-23 16:26] bmuschko opened #1231 "Fix minor issues in TestKit documentation"
### 1. Example referenced but not rendered

The documentation for TestKit references an example with the following sentence:

However, the example code is not rendered and shows up in the next paragraph. Portions of `Example 45.6. Injecting the code under test classes into test builds` likely needs to be moved up.

### 2. Inconsistencies in described task dependencies

`testClasses` does not invok

[2017-01-23 16:48] big-guy commented on #1224
Hrm, I have some idea what could be happening, but I'm not sure how to reproduce it.

Could you send me the full task class and an example of how it's being used?  If you don't want to post it here, you can email me sterling@gradle.com

[2017-01-23 21:07] donat commented on #1180
I've added an [integration test](https://github.com/gradle/gradle/commit/3074ad67f43f12c4e727a459e00718edbf8f53d2). @oehme would you mind having a look?

[2017-01-23 21:57] #1018 closed

[2017-01-23 21:57] big-guy commented on #1018
This is mostly fixed in 3.4.  We're going to do more for #821

[2017-01-23 22:40] blindpirate commented on #1228
@eriwen Thanks.

I want to replace the default `RepositoryHandler` to my own implementation, but it seems that this can only be done with reflection. Could you please tell me how to replace the default `RepositoryHandler` service in `DefaultProject`'s `serviceRegistry` gracefully?

[2017-01-24 00:10] blindpirate commented on #1228
@eriwen
My current solution is

[code]

It works but I don't like it.

[2017-01-24 00:37] bmuschko opened #1232 "Improve mapping of dynamic version selectors to Maven POM"
Original issue: https://issues.gradle.org/browse/GRADLE-3224

### Expected Behavior

The generated `pom.xml` uses the resolved version for a dependency when declared with a dynamic version e.g. `+` or `latest.release` in the build script e.g.

[code]

### Current Behavior

Both plugins use the dynamic version in the generated `pom.xml` file e.g.

[code]

[2017-01-24 08:05] oehme commented on #1180
Lgtm

[2017-01-24 08:12] #1180 closed

[2017-01-24 10:04] ralfhergert opened #1233 "Gradle Java Plugin: Gradle Test Executor ignores proxy settings in gradle.properties"
In a Java project we use (JUnit) integration tests which test how one of our components deals with a Certificate Revocation List (CRL) retrieved from a server. We noticed that these integration tests fail, whenever we run them on a machine behind a proxy.

After we defined `~/.gradle/gradle.properties`
[code]
gradle was able to download its plugins, but still our integration tests did fail. Appare

[2017-01-24 10:13] yetanotherion commented on #1080
@bmuschko FYI
- The Bintray trial used to create a "bug reproducing environment" (see comment posted 22 days ago), will be over in 7 days. Said otherwise, the instructions mentioned in the comment above, that seems to confirm the issue, won't work in 7 days.
- A fix is available at https://github.com/gradle/gradle/pull/1192. It's most probably too late to integrate it in the 3.4 release. Feel free

[2017-01-24 10:32] pkubowicz commented on #1096
Ideally Gradle should also save some thread dump that could be analysed to find what thread got stuck.

[2017-01-24 11:48] wolfs commented on #1001
`GradleWrapperMain` loads `gradle.properties` here: https://github.com/gradle/gradle/blob/3ccc368a2684a34cd01ed58e0b1798e4f50de5c6/subprojects/wrapper/src/main/java/org/gradle/wrapper/GradleWrapperMain.java#L56-L56.
After doing that it calls `GradleMain.main`. When running the standalone `gradle` executable, `GradleMain.main` is called directly. This is why the properties are present when using th

[2017-01-24 11:51] wolfs commented on #1001
When fixing this we should probably consider fixing #985.

[2017-01-24 13:07] cjstehno opened #1235 "Announce plugin with twitter responds with 403 status"
Using the example announce code from the User Guide:

[code]
with an appropriate username and password does not publish to twitter as expected. This was tried with two different active twitter accounts. It does not result in an error message until you run with the `--debug` flag, at that point you can see that it's trying to publish the tweet and fails with a `403: Forbidden` response from twitter

[2017-01-24 15:41] cjstehno commented on #1235
It looks like the URL changed at some point - the code has `https://twitter.com/statuses/update.xml` while the API documentation lists `https://api.twitter.com/1.1/statuses/update.json` (see [Rest API doc](https://dev.twitter.com/rest/reference/post/statuses/update)). This will probably cause the need for other modifications.

[2017-01-24 16:36] bmuschko opened #1236 "Maven publishing logic allows for reusing configuration from settings.xml"
Original issue: https://issues.gradle.org/browse/GRADLE-1039.

### Expected Behavior

The old and new Maven publishing plugins provides hooks that allow for reusing configuration from an existing `settings.gradle` file e.g. proxy settings, credentials. A user can decide to ignore existing configuration from a `settings.xml` file.

### Current Behavior

Any existing configuration in `settings.xml`